/* Overview page btn start */
.test-campaign-btn{
    color: #0254D7!important;
    border: 1px solid #3481FD!important;
}
.test-campaign-btn:hover{
    color: #0254D7!important;
}
/* Overview page btn end*/
/* Verify Test Campaign modal start*/
.heading-campaign-wrapper{
    display: flex;
    gap: 12px;
}
.test_campaign_modal table.dataTable td{
    text-align: left!important;
}
.test-recepients-header-wrapper{
    display: flex;
    width: 100%;
    align-items: flex-start;
}
.test-recepients-header-wrapper .header-name,
.test-recepients-header-wrapper .number-of-test-data{
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 0px;
}
.test-recepients-header-wrapper .number-of-test-data{
    justify-content: flex-end;
    padding-right: 16px;
}
.test-recepients-header-wrapper .header-name .batch-name-data{
    word-break: break-all;
    color: #000000;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0px;
}

.uploded-file-name{
    white-space: nowrap;
}
.number-of-test-data .number-recepients{
    margin: 0px;
    font-weight: 500;
    font-size: 12px!important;
    color: #737373!important;
}
/* Verify Test Campaign modal end*/
/* Send a Test Campaign start*/
.margin-bottom
{
    margin-bottom: 16px!important;
}
.margin-bottom-20
{
    margin-bottom: 20px!important;
}
.test-campaign-notes p{
    margin: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #2D2D2D;
}
.send-test-campaign, .test_campaign_modal, .send_campaign_modal{
    background: rgba(0, 0, 0, 0.6);
}
.send-test-campaign .modal-body{
    padding: 20px 43px!important;
}
.test-campaign-table-img{
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: center;

}
.test-campaign-table-img img{
    width: 85%!important;
    height: auto;
}
.test-campaign-table-img-wrraper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.number-of-test-recipients{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
}
.number-recipients{
    height: 42px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: 2px solid #EBEBEB;
    border-radius: 8px;
    box-shadow: none!important;
    outline: none!important;
}
.number-recipients::placeholder{
    color: #A3A3A3;
}
.number-of-test-recipients .input-heading{
    margin: 0px;
    font-weight: 500;
    font-size: 14px!important;
    line-height: 17px;
    color: #2D2D2D!important;
}
/* error section */
.tast-fail-wrapper .test-failed-gif{
    height: auto;
    width: 160px!important;
}
.tast-fail-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.tast-fail-wrapper-wrraper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.tast-fail-wrapper-wrraper .sub-heading{
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #2D2D2D;
}
.tast-fail-wrapper-wrraper li,
.tast-fail-wrapper-wrraper p{
    font-family: "Silka", "Nunito", sans-serif !important;
    margin: 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #2D2D2D;
}
/* Send a Test Campaign end*/

/* action modal */
.modal.campaign-action-custom-modal .modal-dialog {
    max-width: 600px;
    top: 50%;
    transform: translateY(-80%) !important;
    border-radius: 12px;
}
.modal.campaign-action-custom-modal .modal-body {
    text-align: center;
    padding: 24px 42px!important;
}
.modal.campaign-action-custom-modal .modal-footer {
    justify-content: center !important;
    border: none !important;
    padding: 0px 42px;
}
.modal.campaign-action-custom-modal .modal-footer .campaign-btn{
    width: 100%;
    height: 40px;
    border-radius: 4px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.modal.campaign-action-custom-modal .modal-footer .campaign-btn.cancel {
    border: 1px solid #DADADA !important;
    color: #4D4D4D !important;
}
.modal.campaign-action-custom-modal .modal-footer .campaign-btn.cancel:hover {
    background-color: #fff!important;
    border: 1px solid #DADADA !important;
}
.modal.campaign-action-custom-modal .modal-footer .send-test-campaign {
    background: #0254D7!important;
    border: 0px !important;
}
.campaign-action-text{
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #525252;

}
.close-modal
{
    text-align: right;
    position: absolute;
    right: 27px;
    color: #2D2D2D;
}
.close-modal button:hover{
    background-color: transparent;
    box-shadow: none!important;
}
/* 2nd modal */
.modal.campaign-processing-modal .modal-dialog
{
    max-width: 460px!important;

}
.modal.campaign-processing-modal .modal-content{
    min-height: 371px;
    align-items: center;
}
.gif-wrapper img{
    width: 124px;
    height: 124px;
}
.modal.campaign-processing-modal .modal-body{
    display: flex;
    align-items: center;
}
.btn-success.focus, .btn-success:focus{
    box-shadow: 0 0 0 0.2rem rgba(22, 35, 219, 0.5);
}


/* notes */
.credentials-note{  /*only update console.css line no 5239*/
    max-width: 70%!important;
}
.blue-color-note{
    background: #F1F6FD;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
}
.blue-color-note::before {
    background: #3481FD;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
}
.test-failed-gif{
  height: 124px;
  width: 124px;
}
