.api-documentation-content-wrapper{
    background: #FAFAFA;
    padding: 0px;
}
.api-documentation-header h5{
        /* font-family: 'Silka'; */
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 0.3px;
        color: #000000;
        padding: 0 20px;
        margin: 6px 0 25px 0;
}
.api-documentation-div-wrapper .api-list-content-div{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    margin: 0px 0 8px 0;
}
.api-documentation-div-wrapper .api-list-content-div > p{
       /* font-family: 'Silka'; */
       font-style: normal;
       font-weight: 500;
       font-size: 16px;
       line-height: 22px;
       color: #4D4D4D;
       margin: 0 0 15px 0;
       letter-spacing: 0.25px;
}
.api-documentation-div-wrapper .api-list-content-div ul{
    margin: 0;
    padding: 0;
}
.api-documentation-div-wrapper .api-list-content-div ul li{
    border: 0;
    /* font-family: 'Silka'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #7B7A7B;
    letter-spacing: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
}
.api-documentation-div-wrapper .api-list-content-div ul li:last-child{
    margin-bottom: 0px;
}
.api-documentation-div-wrapper .api-list-content-div ul li a.btn{
    /* font-family: 'Silka'; */
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #0254D7 !important;
    background: transparent !important;
    border: 0px;
    box-shadow: none !important;
    transform: none !important;
    height: 40px;
}
.api-documentation-div-wrapper .api-list-content-div ul li a.btn svg{
    margin-left: 8px;
}
.api-list-content-div .title-tooltip{
    display: flex;
    align-items: center;
    gap: 10px;
}
.info-tooltip-btn{
    background: white;
    border: 0;
    outline: 0 !important;
    padding: 0;
    margin-bottom: 2px;
}
.api-documentation-div-wrapper .api-list-content-div ul li span{
    width: 50%;
}
.api-documentation-div-wrapper .api-list-content-div ul li .click-here-btn{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.campaign-tooltip-svg{
    width: 14px;
    height: 14px;
  }