body {
  font-family: "Silka", "Nunito", sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}

.table-bordered {
  border: none !important;
}

b {
  font-weight: 500 !important;
}

.card-header,
.card {
  border: none !important;
}

.card-header {
  border-radius: 10px 10px 0 0 !important;
}

.card {
  border-radius: 10px !important;
}

#content {
  background: #f4f6fe !important;
}

.shadow {
  box-shadow: 0px 0px 20px #000;
}

.page-item.active .page-link {
  background: #2755cb !important;
  border-color: #2755cb !important;
}

.product-session-details {
  width: 35 !important;
  box-shadow: -20px 0px 90px rgba(0, 0, 0, 0.2) !important;
  /*padding-left: 10px !important;*/
  background: #fff !important;
}

th {
  border: none !important;
}

.sidebar {
  border-right: 1px solid #eee !important;
}

.sidebar-dark hr.sidebar-divider {
  border: none !important;
  display: none !important;
}

td {
  background: rgba(255, 255, 255, 0.5);
  border: none !important;
  border-bottom: 1px solid #f6f5f5 !important;
}

tr:nth-child(even) {
  background: #fff;
}

tr:nth-child(odd) {
  background: #fff;
}

.text-primary {
  color: #2755cb !important;
}

input {
  padding-left: 15px !important;
}

input:focus {
  border: 0px solid #2755cb !important;
  box-shadow: 0 0 2px #000 inset !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.btn {
  border-radius: 30px !important;
  font-size: 14px !important;
}

.btn-danger {
  color: #fff5f5 !important;
  background: #f56565 !important;
  border: 0px !important;
  box-shadow: none !important;
}

.btn-success {
  background: #48bb78 !important;
}
.text-success {
  color: #48bb78 !important;
}
.btn-primary {
  background: #0254D7 !important;
  border: 0px !important;
}

.btn-primary:hover,
.btn-info:hover {
  background: #1c43c5 !important;
  border: 0px !important;
}

.btn-info {
  background: #2755cb !important;
  border: 0px !important;
}

.btn-secondary {
  background: transparent !important;
  color: #848694 !important;
}

.bg-gradient-primary {
  background: #ffffff !important;
}

th {
  font-weight: 500 !important;
  background: #e4e9fe !important;
  color: #394e9b;
  border-bottom: 0px !important;
  border-left: 0px !important;
  border-top: 0px !important;
}

.datepicker td,
.datepicker th {
  border-radius: 0px !important;
}

.sidebar-dark .nav-item .nav-link,
.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus {
  color: #7a7a7a !important;
  font-family: "Silka", "Nunito", sans-serif;
  padding: 12px;
  margin-top: 10px !important;
  letter-spacing: -0.02em !important;
  font-weight: 500 !important;
  padding-left: 10px !important;
  padding-right: 10px!important;
}

.sidebar-dark .nav-item .nav-link:hover {
  background: #f4f6fe !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white !important;
}

.sticky-footer {
  padding: 0rem 0 !important;
  background-color: #f4f6fd !important;
  box-shadow: none !important;
  /* color: white !important; */
}

input:checked + .easyassist-switch-slider {
  background: #435ac6 !important;
}

.sidebar-dark .nav-item .nav-link i {
  color: #718096 !important;
}

.sidebar-dark hr.sidebar-divider {
  border-top: 1px solid rgba(0, 15, 102, 0.25) !important;
}

.sidebar-dark #sidebarToggle {
  background-color: #e5e9fd !important;
  color: #ffffff !important;
  padding: 10px 0;
  margin: 30px 0;
}

.sidebar #sidebarToggle::after {
  color: #ffffff !important;
}

.sidebar-dark .nav-item.active .nav-link {
  font-weight: 500 !important;
  background-color: #e6e8fc !important;
  /* border-right: 1px solid #eee; */
}
.accordion .analytics-data svg{
  margin-left: -3px;
}
.toggled .analytics-data svg{
  margin-left: 0px;
}
.navbar-nav {
  align-items: center !important;
}

.navbar-nav li {
/*  display: flex;*/
  align-items: center !important;
}

#searchDropdown {
  display: none !important;
}

.btn:hover,
.btn-small:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2) !important;
  -webkit-transform:translate3d(0,0,0);
}
.btn-primary:hover {
  background-color: #0243AC !important;
}
.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-save-btn:hover{
  background-color: #de1b08 !important;
}
#delete_campaign_modal.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-save-btn:hover{
  background-color: #de1b08 !important;
}

#campaign_schedule_reset_modal.modal.campaign-delete-custom-modal .modal-footer #reset_modal_save_btn:hover,
.modal.campaign-delete-custom-modal .modal-footer #custom_modal_save_btn:hover{
  background: #0254D7 !important;
  }
.sidebar #campaign-logo-small {
  display: none !important;
  visibility: hidden !important;
}

@media (min-width: 768px) {
  .sidebar.toggled .nav-item .nav-link span {
    display: none !important;
    visibility: hidden !important;
  }

  .sidebar.toggled #campaign-logo-large {
    display: none !important;
    visibility: hidden !important;
  }

  .sidebar.toggled #campaign-logo-small {
    display: block !important;
    visibility: visible !important;
  }
}

@media (max-width: 768px) {
/*  .sidebar.toggled .nav-item .nav-link span {
    display: none !important;
    visibility: hidden !important;
  }*/

  .sidebar #campaign-logo-large {
    display: none !important;
    visibility: hidden !important;
  }

  .sidebar #campaign-logo-small {
    display: block !important;
    visibility: visible !important;
  }
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Thin.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Light.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Regular.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Medium.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Bold.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-RegularItalic.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-RegularItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

.gy-settings-table th {
  background: white !important;
  padding-right: 0px !important;
  padding-left: 20px;
  padding-top: 20px;
  margin-right: 0px !important;
  border-radius: 10px !important;
}
.gy-settings-table {
  border-radius: 10px !important;
  background: white !important;
}
.nav-pills .nav-link.active {
  border: 1px solid #2755cb;
  background: #f0f0fc !important;
  color: #2755cb !important;
}

/*.nav-pills .nav-link {
  margin-left: 10px !important;
}
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.btn-tab {
  width: 100%;
  padding:10px 0px;
  background: #fff !important;
  color: #2755cb !important;
}

.btn-tab-active {
  background: #f0f0fc !important;
  border: 1px solid #2755cb !important;
}

.campaign-bot-name-menu {
  padding: 0px !important;
  margin-top: -10px;
}
.card.shadow {
  box-shadow: 0px 1px 10px rgb(0 0 0 / 5%) !important;
}

.campaign-sidebar-toggle-icon-wrapper {
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.nav-item.campaign-bot-name-menu a.nav-link {
  border-radius: 0px !important;
  background: #FAFAFA !important;
  border-top: 1px solid #EBEBEB !important;
  border-bottom: 1px solid #EBEBEB !important;
  border-right: none !important;
}

.sidebar-dark .campaign-bot-name-menu.active a.nav-link {
  border-radius: 0px !important;
  background: #FAFAFA !important;
  border-top: 1px solid #EBEBEB !important;
  border-bottom: 1px solid #EBEBEB !important;
  border-right: none !important;
}

#content-wrapper {
  background: #F8F8F8 !important;
}

#wrapper #content-wrapper #content {
  background: #F8F8F8 !important;
}

.navbar.navbar-expand {
  /* border-bottom: 1px solid #F6F6F6 !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15) !important; */
  border-bottom: 1px solid #eee !important;
  box-shadow: none !important;
  position: sticky;
  top: 0;
  z-index: 101;
}

.nav-item-submenu .nav-link[data-toggle]:not(.collapsed):before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.21967 8.03033C2.51256 8.32322 2.98744 8.32322 3.28033 8.03033L6 5.31066L8.71967 8.03033C9.01256 8.32322 9.48744 8.32322 9.78033 8.03033C10.0732 7.73744 10.0732 7.26256 9.78033 6.96967L6.53033 3.71967C6.23744 3.42678 5.76256 3.42678 5.46967 3.71967L2.21967 6.96967C1.92678 7.26256 1.92678 7.73744 2.21967 8.03033Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
  right: 14px;
}

.nav-item-submenu .nav-link[data-toggle].collapsed:before {
  content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.21967 4.46967C2.51256 4.17678 2.98744 4.17678 3.28033 4.46967L6 7.18934L8.71967 4.46967C9.01256 4.17678 9.48744 4.17678 9.78033 4.46967C10.0732 4.76256 10.0732 5.23744 9.78033 5.53033L6.53033 8.78033C6.23744 9.07322 5.76256 9.07322 5.46967 8.78033L2.21967 5.53033C1.92678 5.23744 1.92678 4.76256 2.21967 4.46967Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
  right: 14px;
}

.card.shadow {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
}

.campaign-table-header-subheading-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #AAAAAA;
}

.card .card-header {
  background: #F8F8F8;
  border-bottom: 1px solid #EBEBEB !important;
}

.card-header .heading-text-primary {
  font-size: 16px;
  line-height: 19px;
  color: #4A4A4A;
}

.card .card-body table {
  border: 1px solid #E2E8F0 !important;
}

.card .card-body table th {
  border-right: 1px solid #ffffff !important;
}

.card .card-body table th {
  background: #EEF0FF !important;
  color: #334155 !important;
  font-weight: normal !important;
  font-size: 14px;
  line-height: 24px;
}

.card .card-body #campaign_dashboard_table table th {
  border-right: 1px solid #ffffff !important;
}

.card .card-body #campaign_dashboard_table table tr.campaign-overview-table-hidden-data-wrapper {
  display: none;
}

/*.card .card-body #campaign_dashboard_table table tbody tr {
  cursor: pointer;
}*/

.campaign-show-table-data-details {
  display: table-row !important;
}

.card .card-body #campaign_dashboard_table table th:last-child {
  border-right: none !important;
  text-align: center;
}

.card .card-body #campaign_dashboard_table table td:last-child {
  text-align: center;
}

.card .card-body table th:last-child {
  border-right: none !important;
}

.card .btn {
  border-radius: 5.6px !important;
  column-gap: 10px;
  display: flex;
  align-items: center;
  width: max-content;
  height: 35px;
  padding: 0px 12px;
  min-width: unset;
  box-shadow: none !important;
}

.delete_campaign_btn#delete_campaign_btn,
#delete_campaign_schedule_btn {
  background: #E10E00 !important;
  color: #ffffff;

}
.campaign-overview-download-report-btn-disabled{
  cursor: url(../icons/red-not-allowed.svg), auto !important;
  color: #aaaaaa !important;
}
.campaign-overview-download-report-btn-disabled .cloud-svg svg path{
  stroke:#a3a3a3;
}
button[disabled]{
  cursor: url(../icons/red-not-allowed.svg), auto !important;
}
button[disabled]:active,
.campaign-overview-download-report-btn-disabled:active{
  pointer-events: none;
}
.campaign-primary-button-custom{
  background-color: #0254d7;
  color: #FFFFFF !important;
}
.campaign-primary-button-custom:hover{
  transform: none !important;
}
.delete_campaign_btn:hover{
    transform: none !important;
}
.btn-primary.campaign-primary-button-custom:hover{
    background-color: #0254D7 !important;
    box-shadow: none !important;
}
/* .campaigns_multiselect_dropdown .multiselect.dropdown-toggle {
  width: 200px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  justify-content: space-between;
}

.campaigns_multiselect_dropdown .multiselect.dropdown-toggle span {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.campaigns_multiselect_dropdown .dropdown-menu.multiselect-container {
  width: 100%;
  max-height: 220px;
  overflow-y: auto;
}

.campaigns_multiselect_dropdown .multiselect.dropdown-toggle::after {
  border: none;
  margin-top: -2px;
  content: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.21967 0.46967C0.512563 0.176777 0.987437 0.176777 1.28033 0.46967L4 3.18934L6.71967 0.46967C7.01256 0.176777 7.48744 0.176777 7.78033 0.46967C8.07322 0.762563 8.07322 1.23744 7.78033 1.53033L4.53033 4.78033C4.23744 5.07322 3.76256 5.07322 3.46967 4.78033L0.21967 1.53033C-0.0732233 1.23744 -0.0732233 0.762563 0.21967 0.46967Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
}

.campaigns_multiselect_dropdown .dropdown-menu.multiselect-container li {
  width: 100%;
  height: 36px;
}

.campaigns_multiselect_dropdown .dropdown-menu.multiselect-container li:hover {
  background: #F6F6F6;
}

.campaigns_multiselect_dropdown .dropdown-menu.multiselect-container li a {
  width: 100%;
  height: 100%;
}

.campaigns_multiselect_dropdown .dropdown-menu.multiselect-container li a label.checkbox {
  width: 100%;
  padding: 9px 12px;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
}

.campaigns_multiselect_dropdown .dropdown-menu.multiselect-container li a label.checkbox input[type=checkbox] {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
} */

.campaign-table-tr-data-dropdown-btn {
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  margin-right: 12px;
  outline: none !important;
}

.campaign-table-actions-btn {
  width: 20px;
  height: 20px;
  background: #fff;
  border: none;
  outline: none !important;
  padding: 0px;
}

.campaign-overview-table-status-subheading-div {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #909090;
  /* width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; */
}

#campaign-table-new td {
  font-family: inherit;
}

.campaign-table-tr-data-dropdown-btn .up-arrow-svg {
  display: none;
}

.toggle-table-dropdown-arrow .campaign-table-tr-data-dropdown-btn .up-arrow-svg {
  display: block;
}

.toggle-table-dropdown-arrow .campaign-table-tr-data-dropdown-btn .down-arrow-svg {
  display: none;
}

#campaign_dashboard_table table tr.toggle-table-dropdown-arrow {
  background: #F9FBFC !important;
}

#campaign_dashboard_table .campaign-overview-table-hidden-data-wrapper td {
  padding: 16px !important;
  background: #F2F2F2;
}

.campaign-overview-table-hidden-data-heading-div {
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  color: #2D2D2D;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.campaign-overview-table-hidden-data-heading-div a svg{
  position: relative;
  top: -1.5px;
}

.campaign-overview-table-hidden-data-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  width: 100%;
  min-width: 90px;
}

.campaign-overview-table-hidden-data-value {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #7B7A7B;
  width: 100%;
  text-align: left;
  word-break: break-word;
}

.campaign-table-hidden-data-container {
  justify-content: space-between;
  width: 100%;
}

.table-hidden-campaign-details-wrapper .campaign-overview-table-hidden-data-value {
  text-align: left;
  width: unset;
  padding-left: 6px;
  color: #7B7A7B;
}

.table-hidden-campaign-details-wrapper .campaign-overview-table-hidden-data-label {
  width: unset;
}

.table-hidden-campaign-details-wrapper .campaign-table-hidden-data-container {
  justify-content: unset;
}

.campaign-overview-table-hidden-data-value a {
  text-decoration-line: underline;
  color: #2741FA;
}

.campaign-overview-download-report-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #0254D7;
  text-decoration: none!important;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

/* custom checkbox css */

.checkbox-btn-container-item {
  width: 100%;
  position: relative;
  display: block;
}

#campaign_dashboard_table table tr td .checkbox-btn-container-item {
  margin-left: 3px;
}

.checkbox-btn-container-item input[type="checkbox"] {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
  margin-left: -20px;
}

.checkbox-btn-container-item label {
  position: relative;
}

.checkbox-btn-container-item label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 2px solid #E6E6E6;
}

.checkbox-btn-container-item label:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate( -45deg) scale(0);
  transform: rotate( -45deg) scale(0);
  transition: transform ease 0.25s;
  will-change: transform;
  position: absolute;
  top: 6px;
  left: 4px;
}

.checkbox-btn-container-item input[type="checkbox"]:checked~label::before {
  background-color: #0254D7;
  border-color: #0254D7;
}

.checkbox-btn-container-item input[type="checkbox"]:checked~label::after {
  -webkit-transform: rotate(-45deg) scale(1);
  transform: rotate(-45deg) scale(1);
}

.checkbox-btn-container-item label {
  height: 20px;
  display: block;
  margin: 0px 0px 0px 5px;
  font-weight: normal;
  cursor: pointer;
}

.checkbox-btn-container-item input[type="checkbox"]:focus+label::before {
  outline: 0;
}


/* modal css */

@media (min-width: 576px) {
  .modal.campaign-delete-custom-modal .modal-dialog {
      max-width: 440px;
      top: 50%;
      transform: translateY(-50%) !important;
  }
  .modal.campaign-delete-custom-modal .modal-footer button {
      width: 175px;
      height: 36px;
  }
}

.modal.campaign-delete-custom-modal .modal-body {
  text-align: center;
}

.modal.campaign-delete-custom-modal .campaign-delete-modal-heading-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.modal.campaign-delete-custom-modal .campaign-delete-modal-content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #7B7A7B;
}

.modal.campaign-delete-custom-modal .modal-footer {
  justify-content: center !important;
  border: none !important;
}

.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-cancel-btn {
  margin-right: 18px;
  border: 1px solid #DADADA !important;
  border-radius: 5.6px !important;
}

.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-save-btn {
  background: #0254D7 !important;
  border-radius: 5.6px !important;
  border: unset !important;
}

.campaign-save-reset-btns {
  height: 36px !important;
  border-radius: 4px !important;
}

#campaign_custom_filter_modal .campaign-filter-select-area .filter-box {
  border-radius: 4px;
}

#campaign_custom_filter_modal .campaign-filter-status-select-area .status-box {
  border-radius: 4px;
  cursor: pointer;
}

.custom_modal .modal-footer .btn-primary {
  border-radius: 5.6px !important;
}

.cognoai-custom-tag-input li {
  height: 48px;
  border-radius: 4px;
}

.cognoai-custom-tag-input {
  gap: 8px;
}

.cognoai-custom-tag-input li .tag_delete_button {
  margin-top: -2px;
}

.campaign-sidenav-data-wrapper {
  width: 100%;
  height: 100%;
  border-right: 1px solid #eee !important;
  margin-top: 9px;
}

.sidebar {
  border: none !important;
}

#campaign-table-new table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  right: 20px !important;
  top: 8px !important;
  content: url('../img/order-arrow-up.svg') !important;
}

#campaign-table-new table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 15px !important;
  content: url('../img/order-arrow-down.svg') !important;
}



/* .campaigns_multiselect_dropdown_analytics .btn{
  border-radius: 0 !important;
}

.campaigns_multiselect_dropdown_analytics  .btn {
  width: 200px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  justify-content: space-between;
} */

.campaigns_multiselect_dropdown_analytics .btn {
  border-radius: 5.6px !important;
  column-gap: 10px;
  display: flex;
  align-items: center;
  width: max-content;
  height: 35px;
  padding: 0px 12px;
  min-width: unset;
  box-shadow: none !important;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu{
  padding: 0 !important;
}
.campaigns_multiselect_dropdown_analytics .multiselect.dropdown-toggle {
  width: 200px;
  height: 35px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  justify-content: space-between;
}



.campaigns_multiselect_dropdown_analytics .multiselect.dropdown-toggle span {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container {
  width: 100%;
  max-height: 220px;
  overflow-y: auto;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container{
  top: 37px !important;
  left: 0px;
  transform: none !important;
}

.campaigns_multiselect_dropdown_analytics .multiselect.dropdown-toggle::after {
  border: none;
  margin-top: -2px;
  content: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.21967 0.46967C0.512563 0.176777 0.987437 0.176777 1.28033 0.46967L4 3.18934L6.71967 0.46967C7.01256 0.176777 7.48744 0.176777 7.78033 0.46967C8.07322 0.762563 8.07322 1.23744 7.78033 1.53033L4.53033 4.78033C4.23744 5.07322 3.76256 5.07322 3.46967 4.78033L0.21967 1.53033C-0.0732233 1.23744 -0.0732233 0.762563 0.21967 0.46967Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container li {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #F6F6F6;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container li:hover {
  background: #F6F6F6;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container li a {
  width: 100%;
  height: 100%;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container li a label.checkbox {
  width: 100%;
  padding: 9px 12px;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
  
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container{
  z-index: 9 !important;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container li a label.checkbox input[type=checkbox] {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  cursor: pointer;
}


/* css for accordion */

.analytics-channel-stats-value-table tr th div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 17px;
  width: 90px;
}
#channel-statistics-accordian table{
  border: none !important;
}


#channel-statistics-accordian .analytics-channel-stats-value-table th {
  background: #ffffff !important;
  color: #334155 !important;
  font-weight: normal !important;
  font-size: 14px;
  line-height: 24px;
  border: none;
  
}
#channel-statistics-accordian .channel-stats-specific-card{
  border: 0.5px solid #F6F6F6 !important;
  border-radius: 2px !important;
  cursor: pointer !important;
}
#channel-statistics-accordian .card-body .card .card-header{
  background-color: #ffffff !important;
}

#channel-statistics-accordian .channel-stats-specific-card .stats-channel-heading{
  width: 8rem;
  text-align: start;
  margin-left: 38px;
}

.analytics-channel-stats-value-table tr th div .value{
  font-size: 16px; 
  font-weight: 500;
  color: #2D2D2D;
}
.analytics-channel-stats-value-table tr th div .heading{
  font-size: 12px;
  color: #4D4D4D;
}

#channel-statistics-accordian .analytic-stats-card-container {
  display: flex;
  align-items: center;
  gap: 36px;
  text-align: center;
}
#channel-statistics-accordian .analytic-stats-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;
  padding: 16px 20px;
  text-align: center;
  height: 214px;
}

#channel-statistics-accordian .analytic-stats-card p{
  font-weight: 500;
  font-size: 14px;
  color: #7B7A7B;
}
#channel-statistics-accordian .analytic-stats-card p span{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #CBCACA;
}

.orange-border{
  border-top: 5px solid #F9600A !important;
}
.green-border{
  border-top: 5px solid #6BCF70 !important;
}
.blue-border{
  border-top: 5px solid #4A92DC !important;
}
.red-border{
  border-top: 5px solid #C84C54 !important;
}
.dark-green-border{
  border-top: 5px solid #10B981 !important;
}
.light-green-border{
  border-top: 5px solid #6EE7B7 !important;
}
.yellow-border{
  border-top: 5px solid #FCD34D !important;
}
.dark-blue-border{
  border-top: 5px solid #0F248C !important;
}
.purple-border {
  border-top: 5px solid #4527A0 !important;
}


.rotate-svg .down-arrow-svg{
  transform: rotate(180deg);
}



.hide-table .analytics-channel-stats-value-table{
  display: none;
}



.select-list {
  color: #555;
  background: #fff;
}

  .select-channel-btn{
      display: inline-block;
      cursor: pointer;
      background: #fff;
      border: 1px solid #eaeaec;
      border-radius: 5px;
      padding: 10px 15px 10px 15px;

  }

  .select-channel-btn::after {
          display: inline-block;
          content: '>';
          margin-left: 15px;
          font-size: 11px;
          transform: rotate(90deg) scale(1,2);
      }

      .select-channel-btn:hover {
          background: #eaeaec;
      }
  

  .select-options {
      margin-top: 5px;
      display: none;
      position: absolute;
      z-index: 500;
      border: 1px solid #eaeaec;
      background:#fff;

  }

      .option label {
              display: inline-block;
              padding: 10px 30px 10px 10px;
          }
          
          .option label:hover {
              background: #eaeaec;
          }

          .option  input {
              margin: 10px 0 12px 15px;
          }

#campaign_dashboard_table .JCLRgrip .JColResizer {
  position: absolute;
  background-color: red;
  filter: alpha(opacity=1);
  opacity: 0;
  width: 0px;
  height: 100%;
  cursor: col-resize;
  top: 0px;
  display: none !important;
}


.analytic-sub-heading p{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #7B7A7B;
}

.topbar {
  height: 3rem !important;
}

.custom-btn-row .custom_filter_btn:focus {

  box-shadow: none !important;
}

/* reset css for page background */
.card.shadow {
  border: 1px solid #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
}

.card .card-header {
  background: #F8F8F8;
  border-bottom: 1px solid #EBEBEB !important;
}

#content-wrapper {
  background: #F8F8F8 !important;
}

#wrapper #content-wrapper #content {
  background: #F8F8F8 !important;
}
/* -e- */

/* css for card in index.html file */
#IVR-card .campaign_channel_card_IVR {
  min-width: 50%;
  min-height: 281px;
  background: #FFFFFF;
  border: 1px solid #dbe0dc !important;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px rgb(16 22 26 / 12%);
  border-radius: 8px!important;
}

#IVR-card .campaign_channel_card_IVR .card-body{
  border-radius: 8px !important;
}
#whatsapp-card .campaign_channel_card_whatsapp input,
#IVR-card .campaign_channel_card_IVR input{
  cursor: pointer;
}


#whatsapp-card .campaign_channel_card_whatsapp {
  min-width: 50%;
  min-height: 281px;
  background: #FFFFFF;
  border: 1px solid #dbe0dc !important;
  box-sizing: border-box;
  box-shadow: 0px 0px 9px rgb(16 22 26 / 12%);
  border-radius: 8px!important;
}



#whatsapp-card .campaign_channel_card_whatsapp .card-body{
  border-radius: 8px !important;
}

/* #outer-card input:focus {
  border: 0px solid #2755cb !important;
  box-shadow: none !important;
} */

#outer-card{
  border: 1px solid #FFFFFF;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px !important;
}

#outer-card .card-header h5{
  font-size: 14px;
  font-weight: 500;
  color: #2d2d2d;
  margin-bottom: 0;
}
#tag-audience-card .card-header h5{
  font-size: 14px;
  font-weight: 500;
  color: #2d2d2d;
  margin-bottom: 0;
}

/* reset outline for redio button in index.html page */
#outer-card #campaign-whatsapp-radio:focus{
  outline: none !important;
  border: none !important;
}

/* common class for foolter buttons */
#footer-buttons{
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px !important;
}

#footer-buttons .rect-border{
  border-radius: 5px !important;
}

#footer-buttons .btn:hover, .btn-small:hover {
  transform: none;
  box-shadow: none;
  transition: none;
}

#footer-buttons{
  box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 !important;
}

#footer-buttons .btn-outline-secondary:hover {
  background-color: #fff;
  color: #858796;
}

#tag-audience-card .card-header h5{
  font-size: 14px;
  font-weight: 500;
  color: #2d2d2d;
  margin-bottom: 0;
}

#campaign-edit-btn{
  padding: 12px 12px;
  box-shadow: 0px 0px 3.66964px rgba(104, 40, 40, 0.15) !important;
  border-radius: 4px !important;
}

#tag-audience-card .arrow-up-down{
  position: relative;
}

/* -e- */
/* #tag-audience-card .arrow-up-down::before{
  content:url('./order-arrow-down.svg');
  position:absolute;
  right: 10px;
}

#tag-audience-card .arrow-up-down::after{
  content:url('./order-arrow-up.svg');
  position:absolute;
  right: 16px;
} */

/* css for toast message in tag audience card */
.toast-wrapper{
  position: absolute;
  top: 10px;
  left: 10vw;
  z-index: 1000;
}
.toast-container{
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  gap: 45px;
  font-size: 12px;
}
.toast-container .toast-text span{
  font-weight: 700 !important;
  color: #2d2d2d;
}
.toast-container svg{
  cursor: pointer;
}

/* -e- */

/* custom svg icon for sorting */
#tag_audience_table table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  right: 20px !important;
  top: 8px !important;
  content: url('../img/order-arrow-up.svg') !important;
}

#tag_audience_table table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 15px !important;
  content: url('../img/order-arrow-down.svg') !important;
}

/* custom background for thead in tag audience */
#tag_audience_table #campaign_batch_table_length{
  display: none;
}

#tag_audience_table #campaign_batch_table thead{
  background: #EEF0FF;
}

#tag_audience_table #campaign_batch_table th {
  border-right: 1px solid #fff !important;
}

#tag_audience_table td {
  font-family: Silka;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #767676;
  padding: 2em 12px !important;
}



#tag-audience-card .card-body .btn {
  border-radius: 5.6px !important;
  column-gap: 10px;
  display: flex;
  align-items: center;
  width: max-content;
  height: 35px;
  padding: 0px 12px;
  min-width: unset;
  box-shadow: none !important;
}

/* css for upload batch modal */
#upload_campaign_batch_pdf_modal .drag-drop-container{
  text-align: center;
  background: #fff;
  border: 0.7px dashed #CFD6DF;
  border-radius: 3px;
  padding: 15px;
  height: 312px;
  position: relative;
}

#upload_campaign_batch_pdf_modal .modal-body p{
  font-weight: 500 !important;
  color: #000000;
}

#upload_campaign_batch_pdf_modal .drag-drop-container .drag-drop-message{
  color: rgb(15, 82, 161); 
  flex-direction: column; 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 312px;
}

#upload_campaign_batch_pdf_modal .drag-drop-container .drag-drop-message p{
  width:90%;
  margin-bottom: 0;
  color: #A8A8A8;
  font-size: 12px;
  font-weight: 500;
}

#upload_campaign_batch_pdf_modal .drag-drop-input-field-wrapper {
  left: 0;
  top: 0;
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
}

#upload_campaign_batch_pdf_modal .rect-border{
  border-radius: 5px !important;
}

#campaign-review-card .card-header h5,
#campaign-review-card .card-body h5{
  font-size: 14px;
  font-weight: 400;
  color: #2d2d2d;
  margin-left: 10px;
  margin-bottom: 0;
}

#campaign-review-card .card-body span:not(.review-card-value){
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  margin-left: 10px;
  margin-bottom: 0;
}

#campaign-review-card .campaign-review-sub-heading,
.basice-information-sub-heading{
  margin-left: 70px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #aaaaaa;
  margin-top: 8px;
}
.basice-information-sub-heading{
  margin-left: 40px;
  margin-top: 8px;
}

/* date/timepicker css */

#ui-datepicker-div {
  width: auto;
  border-color: #fff;
  box-shadow: 4px 6px 40px rgb(32 32 35 / 16%);
  padding: 12px;
  background: #fff;
  display: none;
}

#ui-datepicker-div .ui-state-default,
.ui-widget-content .ui-state-default {
  border: 1px solid #fff;
  background: #fff;
}

#ui-datepicker-div .ui-state-active {
  background: #769CFF;
  color: white;
  border-radius: 6px;
  width: 30px;
  height: 16px;
  display: table;
}

#ui-datepicker-div .ui-datepicker-header {
  border: none;
  padding: 10px;
  position: relative;
  text-align: center;
  background: white;
  border-radius: 6px;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-next .ui-icon {
  background-image: url(../img/right-arrow.svg);
  background-position: center;
  display: inline-block;
  text-indent: -99999px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-prev .ui-icon {
  background-image: url(../img/left-arrow.svg);
  background-position: center;
  display: inline-block;
  text-indent: -99999px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

#ui-datepicker-div .ui-datepicker-month {
  height: 40px;
  overflow: auto;
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  appearance: none;
  background-image: url(../img/drop-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: 50%;
  font-weight: normal;
  color: #909090;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block !important;
  border: 1px solid #EBEBEB;
  width: 38%;
  outline: none;
}

#ui-datepicker-div .ui-datepicker-year {
  height: 40px;
  overflow: auto;
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  appearance: none;
  background-image: url(../img/drop-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: 50%;
  font-weight: normal;
  color: #909090;
  cursor: pointer;
  display: inline-block !important;
  border: 1px solid #EBEBEB;
  width: 38%;
  outline: none;
}

#ui-datepicker-div .ui-datepicker-prev {
  position: absolute;
  left: 0;
  top: 20px;
}

#ui-datepicker-div .ui-datepicker-next {
  position: absolute;
  right: 0;
  top: 20px;
}

#ui-datepicker-div .ui-datepicker-title {
  width: 100%;
  text-align: center;
  display: inline-block;
}

#ui-datepicker-div td {
  border-bottom: none !important;
  text-align: center;
  padding: 6px !important;
  display: table-cell !important;
}

#ui-datepicker-div td a {
  text-decoration: none !important;
}

#ui-datepicker-div th {
  padding: 1rem 6px !important;
  text-align: center;
  display: table-cell !important;
  font-size: 14px !important;
}

#ui-datepicker-div tr {
  border: none !important;
}

#ui-datepicker-div thead tr {
  display: table-row !important;
}

.ui-corner-all {
  cursor: pointer;
}

.glyphicon-chevron-up::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00004 4.92114C8.27167 4.92081 8.5303 5.03748 8.70981 5.24134L12.7374 9.81856C12.9238 10.0208 12.986 10.3082 12.9 10.5695C12.814 10.8308 12.5932 11.025 12.3231 11.077C12.0529 11.129 11.7758 11.0305 11.599 10.8198L8.07721 6.8173C8.05773 6.79507 8.0296 6.78232 8.00004 6.78232C7.97047 6.78232 7.94235 6.79507 7.92286 6.8173L4.40107 10.8206C4.22424 11.0314 3.94715 11.1298 3.67701 11.0778C3.40687 11.0258 3.18607 10.8316 3.10005 10.5703C3.01403 10.3091 3.07628 10.0217 3.26272 9.81938L7.28903 5.24299C7.46885 5.03863 7.72783 4.9214 8.00004 4.92114Z' fill='%232D2D2D'/%3E%3Cmask id='mask0_9_99' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='3' y='4' width='10' height='8'%3E%3Cpath d='M8.00004 4.92114C8.27167 4.92081 8.5303 5.03748 8.70981 5.24134L12.7374 9.81856C12.9238 10.0208 12.986 10.3082 12.9 10.5695C12.814 10.8308 12.5932 11.025 12.3231 11.077C12.0529 11.129 11.7758 11.0305 11.599 10.8198L8.07721 6.8173C8.05773 6.79507 8.0296 6.78232 8.00004 6.78232C7.97047 6.78232 7.94235 6.79507 7.92286 6.8173L4.40107 10.8206C4.22424 11.0314 3.94715 11.1298 3.67701 11.0778C3.40687 11.0258 3.18607 10.8316 3.10005 10.5703C3.01403 10.3091 3.07628 10.0217 3.26272 9.81938L7.28903 5.24299C7.46885 5.03863 7.72783 4.9214 8.00004 4.92114Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9_99)'%3E%3C/g%3E%3C/svg%3E%0A");
}

.glyphicon-chevron-down::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00004 11.0789C8.27167 11.0792 8.5303 10.9625 8.70981 10.7587L12.7374 6.18144C12.9238 5.97916 12.986 5.69177 12.9 5.43047C12.814 5.16918 12.5932 4.97497 12.3231 4.92301C12.0529 4.87104 11.7758 4.96947 11.599 5.1802L8.07721 9.1827C8.05773 9.20493 8.0296 9.21768 8.00004 9.21768C7.97047 9.21768 7.94235 9.20493 7.92286 9.1827L4.40107 5.17938C4.22424 4.96865 3.94715 4.87022 3.67701 4.92219C3.40687 4.97415 3.18607 5.16836 3.10005 5.42965C3.01403 5.69095 3.07628 5.97834 3.26272 6.18062L7.28903 10.757C7.46885 10.9614 7.72783 11.0786 8.00004 11.0789Z' fill='%232D2D2D'/%3E%3Cmask id='mask0_10_17' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='3' y='4' width='10' height='8'%3E%3Cpath d='M8.00004 11.0789C8.27167 11.0792 8.5303 10.9625 8.70981 10.7587L12.7374 6.18144C12.9238 5.97916 12.986 5.69177 12.9 5.43047C12.814 5.16918 12.5932 4.97497 12.3231 4.92301C12.0529 4.87104 11.7758 4.96947 11.599 5.1802L8.07721 9.1827C8.05773 9.20493 8.0296 9.21768 8.00004 9.21768C7.97047 9.21768 7.94235 9.20493 7.92286 9.1827L4.40107 5.17938C4.22424 4.96865 3.94715 4.87022 3.67701 4.92219C3.40687 4.97415 3.18607 5.16836 3.10005 5.42965C3.01403 5.69095 3.07628 5.97834 3.26272 6.18062L7.28903 10.757C7.46885 10.9614 7.72783 11.0786 8.00004 11.0789Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10_17)'%3E%3C/g%3E%3C/svg%3E%0A");
}

.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.bootstrap-datetimepicker-widget table td {
  height: 36px;
  line-height: 18px;
  width: 36px;
}

.bootstrap-datetimepicker-widget a[data-action] {
  padding: 0px 0;
  margin: 0px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 17em;
  padding: 8px 4px;
  display: block;
  margin-top: 12px;
}

.bootstrap-datetimepicker-widget table td a span {
  padding-top: 4px;
}

.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px !important;
  width: 36px;
  height: 36px;
  border-radius: 4px !important;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  width: 36px;
}

.bootstrap-datetimepicker-widget a[data-action]:hover {
  box-shadow: none !important;
  transform: none !important;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  padding-top: 0px;
}

.campaign-schedule-ivr-date-wrapper {
  position: relative;
}

.campaign-schedule-ivr-date-wrapper>span {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.custom-card-backgound{
  border-radius: 0px !important;
  border-bottom: 2px solid #f8f8f8 !important;
}


.campaign-option-toggle input:checked + .campaign-option-switch-slider {
  background-color: #0254D7;
  border: 2px solid #0254D7;
}

.campaign-option-toggle .campaign-option-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid #BECAD6;
}

.campaign-option-toggle .campaign-option-switch-slider.round {
  border-radius: 34px;
}

.campaign-option-toggle .campaign-option-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.campaign-option-toggle input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.campaign-option-toggle .campaign-option-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  margin-top: 1em;
}
.campaign-option-toggle input:checked + .campaign-option-switch-slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}
.campaign-option-toggle input:checked + .campaign-option-switch-slider:before {
  background: white;
}
.campaign-option-toggle .campaign-option-switch-slider.round:before {
  border-radius: 50%;
}
.campaign-option-toggle .campaign-option-switch-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: #BECAD6;
  -webkit-transition: .4s;
  transition: .4s;
}



.select-dropdown {
position: relative;
display: inline-block;
max-width: 100%;
}
.office-hours-div .select-dropdown {
  align-self: end;
}

.select-dropdown__button {
  padding: 10px 20px 10px 15px;
  background-color: #fff;
  color: #616161;
  border: 1px solid #cecece;
  border-radius: 3px;
  cursor: pointer;
  width: 72px;
  text-align: left;
      
  }

  .select-days-dropdown__button {
  padding: 10px 20px 10px 15px;
  background-color: #fff;
  color: #616161;
  border: 1px solid #cecece;
  border-radius: 3px;
  cursor: pointer;
  width: 199px;
  text-align: left;
      height: 48px;
  }

  .select-dropdown__button:focus {
    outline: none;
  }

  .select-dropdown svg {
    position: absolute;
    right: 15px;
    top: 20px;
  }


      .select-dropdown__list,
      .select-days-dropdown__list {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  transform-origin: top left;
  transform: scale(1,0);
  transition: all ease-in-out .3s;
  z-index: 2;
      background: #F6F6F6;
      border-radius: 4px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
      }

      .select-days-dropdown__list{
          transform-origin: bottom left;
      }
      .select-days-dropdown__list{
          bottom: 52px;
      }

  .select-dropdown__list.active,
      .select-days-dropdown__list.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1,1);
          

  }
.select-dropdown__list-item,
  .select-days-dropdown__list-item {
  display: block;
  list-style-type: none;
  padding: 10px 15px;
  background: #fff;
  /* border-top: 1px solid #e6e6e6; */
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  color: #616161;
  transition: all ease-in-out .3s;
      text-align: center;
      margin-top: 2px;
}
  .select-dropdown__list-item:hover,
  .select-days-dropdown__list-item:hover{
      background: #EBEBEB;
  }
  .select-days-dropdown__list-item{
      text-align: start;
  }
  #retry-interval-mins{
      border: 1px solid #CBCACA;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 12px 14px;
      text-align: center;
      width: 60px;
      margin-left: 5px;
  }
  #retry-interval-mins:focus {
      border: 1px solid #b3b3b3 !important;
      box-shadow: none !important;
  }

  .weekDays-selector input {
      display: none!important;
    }
    
    .weekDays-selector input[type=checkbox] + label {
      display: inline-block;
      border-radius: 20px;
      background: #EBEBEB;
      height: 40px;
      width: 40px;
      margin-right: 20px;
      line-height: 40px;
      text-align: center;
      cursor: pointer;
    }
    
    .weekDays-selector input[type=checkbox]:checked + label {
      background: #2F80ED;
      color: #ffffff;
    }

    #trigger-setting-details-table .card-body table tr td{
        color: #000000;
    }

    #trigger-setting-details-div .inner-card,
    #audience-details-div .inner-card
    {
      box-shadow: 0px 2px 28px rgba(0, 0, 0, 0.15) !important;
    }

    #trigger-setting-details-div p,
    #audience-details-div .inner-card p{
      font-size: 12px;
      color: #000000;
      font-weight: 500;
    }



/*delete campaign modal css */

@media (min-width: 576px) {
  .modal.campaign-delete-custom-modal .modal-dialog {
      max-width: 440px;
      top: 50%;
      transform: translateY(-50%) !important;
  }
  .modal.campaign-delete-custom-modal .modal-footer button {
      width: 175px;
      height: 36px;
  }
}

.modal.campaign-delete-custom-modal .modal-body {
  text-align: center;
}

.modal.campaign-delete-custom-modal .campaign-delete-modal-heading-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.modal.campaign-delete-custom-modal .campaign-delete-modal-content-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #7B7A7B;
}

.modal.campaign-delete-custom-modal .modal-footer {
  justify-content: center !important;
  border: none !important;
}

.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-cancel-btn {
  margin-right: 18px;
  border: 1px solid #DADADA !important;
  border-radius: 5.6px !important;
}
#delete_campaign_modal.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-save-btn {
  background: #dc0c0c !important;
  border-radius: 5.6px !important;
  border: unset !important;
}
#campaign_schedule_reset_modal.modal.campaign-delete-custom-modal .modal-footer #reset_modal_save_btn,
.modal.campaign-delete-custom-modal .modal-footer #custom_modal_save_btn,
#whatsapp_config_reset_modal .campaign-delete-modal-save-btn{
  background: #0254D7 !important;
  }
.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-save-btn {
  background: #dc0c0c !important;
  border-radius: 5.6px !important;
  border: unset !important;
}

.campaign-table-actions-btn {
  width: 20px;
  height: 20px;
  background: #fff;
  border: none;
  outline: none !important;
  padding: 0px;
}



.campaign-vertical {
  height: 85px !important;
  border-left: 2px solid #EEEEEE;
  margin-left: 8px;
}


.campaign-schedule-scheduled-success-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: max-content;
  background: #ECFDF5;
  border: 1px solid #6EE7B7;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #047857;
  column-gap: 8px;
}

#campaign_schedule_ivr_start_time,
#campaign_schedule_ivr_start_time,
#campaign_schedule_ivr_start_date,
#campaign_schedule_ivr_end_time,
#campaign-schedule-ivr-date-wrapper,
#campaign_schedule_office_hour_ivr_end_time,
#campaign_schedule_office_hour_ivr_start_time,
#campaign_schedule_ivr_end_date {
  width: 100%;
  /* height: 100%; */
  text-align: center;
  padding: 0px 10px;
  background: #F1F3F4;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7px;
  color: #7B7A7B;
  outline: none;
  border: none;
  height: 48px;
}

.batch-name-after{
  border-right: 1px solid #F5F5F5;
}

#app-id {
  border: 1px solid #CBCACA;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 12px 14px;
  text-align: start;
  width: 190px;
  margin-left: 30px;
  color: #CBCACA;
  pointer-events: none;
}

#retry-interval-no-answer-status,
#retry-interval-busy-status{
  border: 1px solid #CBCACA;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 12px 14px;
  text-align: center;
  width: 72px;
  margin-left: 5px;
}

.number-retry-div .sub-heading-status{
  color: #4D4D4D !important;
}

.campaign-multiselect-filter-dropdown .btn-group.show .dropdown-toggle::after{
  transform: translateY(-50%) rotate(180deg) !important;
}

/* select value modal css*/

.note-text-div{
  padding: 8px 15px 8px 16px;
  background: #F6F6F6;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  color: #2D2D2D;
}
#map_template_variable_modal table tr {
  border: none !important;
}

#map_template_variable_modal .modal-dialog {
  max-width: 700px!important;
  max-height: 550px;
}
.custom-table thead tr th{
  background-color: #FAFAFA !important;
}
.custom_modal .custom-table tr,
.custom_modal .custom-table tr td{
  border: none !important;
}
.custom-table thead tr .key-value{
  max-width: 194px!important;
  width: 194px!important;
  padding: 6.5px 2px 6.5px 4px;
}
.custom_modal .modal-body thead th p{
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
#map_template_variable_modal table tr th > p{
  text-align: left!important;
  padding: 8px 12px!important;
}
#map_template_variable_modal .variable-name{
  padding: 16px 2px 16px 16px ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  width: 194px;
}
#map_template_variable_modal .variable-name-tooltip{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#map_template_variable_modal table.fixed {
  table-layout: fixed;
}
#map_template_variable_modal .variable-data{
  padding: 6px 14px 6px 2px;
}
#map_template_variable_modal .align-left {
  text-align: left;
  vertical-align: middle;
}
.variable-column-selected {
  color: #2d2d2d !important;
}

.easyassist-custom-dropdown-container2 {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: "Silka", Sans-Serif !important;
  border-radius: 30px!important;
  width: 100%;
}

.easyassist-custom-dropdown-container2 select {
  display: none!important;
}

.easyassist-custom-dropdown-container2 .easyassist-dropdown-selected2 {
  font-family: "Silka", Sans-Serif;
  background: #FFFFFF;
  border: 1px solid #CBCACA;
  border-radius: 4px !important;
  padding: 12px 18px!important;
  font-size: 12px;
  font-weight: 500;
  order: 0!important;
  box-sizing: border-box!important;
  cursor: pointer;
  color: #2D2D2D;
  text-align: left!important;
  width: 100%;
}

.easyassist-custom-dropdown-option-container2 {
  display: none;
  position: absolute;
  width: 100%;
  top: 43px;
  background: #FFFFFF;
  border-radius: 0px;
  order: 1!important;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 15%);
  box-sizing: border-box!important;
  max-height: 144px!important;
  overflow-y: auto;
  z-index: 9999999 !important;
  scrollbar-width: thin;
}

ul.easyassist-custom-dropdown-option-container2 {
  list-style: none!important;
  margin: 0!important;
  padding: 0!important;
}

.easyassist-custom-dropdown-option-container2 li {
  font-family: "Silka", Sans-Serif !important;
  padding: 9px 16px!important;
  /* border-bottom: 1px solid #E6E6E6; */
  font-style: normal!important;
  font-weight: 500!important;
  font-size: 12px!important;
  box-sizing: border-box!important;
  list-style: none!important;
  margin: 0!important;
  color: #2D2D2D;
  text-align: start;
}

.easyassist-custom-dropdown-option-container2 li.easyassist-option-selected2 {
  background: #F6F6F6;
  color: #2D2D2D;
}

.easyassist-custom-dropdown-option-container2 li:hover {
  cursor: pointer;
  background: #F6F6F6;
  color: #2D2D2D;
}

.easyassist-custom-dropdown-container2 .easyassist-dropdown-selected2:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.75999 8.10223C5.44217 8.10263 5.13959 7.96612 4.92955 7.7276L0.217328 2.37129C-0.0924318 2.00214 -0.0508377 1.45321 0.31101 1.13495C0.672858 0.816685 1.2226 0.845497 1.5492 1.19984L5.66969 5.88373C5.69249 5.90974 5.7254 5.92465 5.75999 5.92465C5.79458 5.92465 5.82749 5.90974 5.85029 5.88373L9.97078 1.19984C10.1777 0.953287 10.5019 0.838128 10.8179 0.898929C11.134 0.95973 11.3923 1.18695 11.493 1.49267C11.5936 1.79838 11.5208 2.13463 11.3027 2.37129L6.59187 7.72568C6.38147 7.96478 6.07848 8.10193 5.75999 8.10223Z' fill='%23CBCACA'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 12px;
  height: 8px;
  right: 17px;
  top: 18px;
}
.active::after {
  transform: rotate(180deg) !important;
  top: 16px !important;
  right: 18px !important;
}
#map_template_variable_modal .text-left {
  justify-content: flex-start;
 }
 #map_template_variable_modal .heade-variable{
  padding: 6.5px 4px 6.5px 2px;
  max-width: 397px;
  width: 397px;
 }
ul.easyassist-custom-dropdown-option-container2 {
  list-style: none!important;
  margin: 0!important;
  padding: 0!important;
}

.easyassist-custom-dropdown-option-container2.easyassist-dropdown-show2 {
  display: block;
}

.easyassist-custom-dropdown-option-container2::-webkit-scrollbar-thumb {
  background: #CBCACA;
  border-radius: 4px;
}

.easyassist-custom-dropdown-option-container2::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: 0 0 0px #EBEBEB !important;
  border-radius: 3px;
  background: #EBEBEB;
}
@media (max-width:760px) {
  .easyassist-custom-dropdown-container2 {
      width: 100%;
  }
}

@media (max-width:760px) {
  #map_template_variable_modal table tr {
      border: 1px solid #e4e9fe !important;
  }
  #map_template_variable_modal table tr > td {
      text-align: start;
  }
}
/* messages in sqs queue css */
.sqs-queue-msg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:14px;
  padding: 10px 8px;
  gap: 4px;
}
.sqs-queue-msg p{
  margin: 0px!important;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #4D4D4D;
  display: flex;
  align-items: center;
  gap: 4px;
}
.campaign-sqs-tooltip {
  font-weight: 400;
  position: relative;
  top: -1px;
}

.campaign-sqs-tooltip .tooltiptext {
  visibility: hidden;
  min-width: 334px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 40%;
  transform: translateX(-50%);
  padding: 0.25rem 0.5rem;
  color: #fff;
  background-color: #000;
  border-radius: 0.35rem;
  max-width: 300px;
  width: 100%;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: start;
  letter-spacing: normal;
  font-size: .875rem;
  word-wrap: break-word;
}

.campaign-sqs-tooltip .tooltiptext::after {
  display: none;
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #232F34 transparent;
}

.campaign-sqs-tooltip:hover .tooltiptext {
  visibility: visible;
}

.campaign-tooltip-svg{
  width: 12px;
  height: 12px;
}
.campaign-overview-table-hidden-data-heading-div .campaign-tooltip-svg{
  width: 14px;
  height: 14px;
} 
.campaign-overview-table-hidden-data-label .campaign-tooltip-svg{
  width: 10px;
  height: 10px;
} 
.campaign-table-card-wrapper-custom .heading-text-primary{
  font-size: 14px;
  color: #2d2d2d;
}
.campaign-table-card-wrapper-custom .campaign-table-header-subheading-text{
  font-weight: 500;
  font-size: 12px;
  color: #aaaaaa;
  line-height: 18px;
}
#campaign_custom_filter_modal .campaign-filter-status-select-area input[type=checkbox]:checked+ .status-box{
  border: 1px solid #0254D7!important; 
  color: #0254D7;
}
#campaign_custom_filter_modal .campaign-filter-status-select-area input{
  display: none;
}
.table#whatsapp_campaign_details_table tbody .dataTables_empty {
  text-align: center!important;
}
/* Channel Statistics page code */
.total-messages-submitted{
  display: flex;
}
.total-messages-submitted{
  display: flex;
  align-items: center;
  padding: 6px 0px;
  margin-bottom: 12px;
  gap: 8px;
}
.total-messages-submitted .total-messages-submitted-heading{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #262626;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}
.total-messages-submitted .total-messages-submitted-heading span{
  font-weight: 400;
}
.total-messages-submitted .total-messages-submitted-heading span{
  position: relative;
  top:-1px;
}
.total-messages-submitted .total-messages-submitted-count{
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #262626;
}
.campaign-overview-icon{
  position: relative;
  top: -1px;
}
.total-messages-submitted-overview-page{
  display: flex;
  background: #F8F8F8;
  border-radius: 4px;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;
}
.total-messages-submitted-overview-page .total-messages-submitted-count-overview{
  font-weight: 400;
  font-size: 12px;
  line-height: 13px; 
  color: #262626;
}
.total-messages-submitted-overview-page .total-messages-submitted-heading-overview{
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: #262626;
  display: flex;
  align-items: center;
  gap: 4px;
}
.total-messages-submitted-heading-overview span{
  font-weight: 400;
}
.gap-10{
  gap: 32px;
  padding-right: 24px;
}
.tooltip-svg{
  position: relative;
  top: -2px;
}
.width-open-rate{
    width: 97px!important;
}
.schdeule_checkbox {
  text-align: left !important;
}
.campaign-overview-download-report-btn-disabled-test-svg svg path{
  stroke: #a3a3a3;
}
.campaign-overview-download-report-btn-disabled-test-svg{
  cursor: url(../icons/red-not-allowed.svg), auto !important;
}

.campaign-overview-download-report-btn-disabled-test-svg .action-cal{
  pointer-events: none !important;
}