.custom-analytics-filter-btn {
    background: #FFFFFF !important;
    border: 1px solid #A1A5C2 !important;
    color: #334B73;
    font-family: inherit !important;
}

.custom-analytics-filter-btn:hover {
    background: #FFFFFF !important;
    color: #334B73;
}

.card-campaigns {
    border-radius: 8px !important;
    background: #ffffff;
    border: 2px solid #E6E8EF !important;
    width: 93%;
    height: 121px !important;
    box-shadow: none !important;
    margin: auto;
}

.icon-campaigns {
    height: 56px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDF5FF;
    border-radius: 4px;
    position: absolute;
    left: 25px;
    top: 28px;
    transition: all 0.2s ease;
}

.campaign-card-name-value-div {
    position: absolute;
    top: 28px;
    left: 105px;
}

.card-text-campaigns {
    font-weight: 500;
    font-size: 14px;
    color: #959CA7;
    letter-spacing: -0.04em;
    margin-bottom: 16px !important;
}

.card-stats-campaigns {
    font-weight: 500;
    line-height: 95%;
    font-size: 33px;
    color: #30334E;
}

.campaign-analytics-graph-container {
    width: 100%;
    height: 384px;
    background: #FFFFFF;
    border: none !important;
    box-sizing: border-box;
    padding: 28px 28px 28px 20px;
}

.icon-campaigns-graph-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 10px;
}

.campaign-graph-card-name-value-div {
    top: 10px;
    right: 20px;
    text-align: right;
    left: 0px;
}

.card-text-campaigns-graph {
    color: #4d4d4d;
    margin-bottom: 20px !important;
}

.card-campaigns-graph {
    height: 111px !important;
}

.card-stats-campaigns-graph {
    width: max-content;
    float: right;
    padding-left: 12px;
    padding-bottom: 5px;
}

.message-sent-graph-card {
    border-bottom: 2.10909px solid #1264E7;
}

.message-delivered-graph-card {
    border-bottom: 2.10909px dashed #00C2FF;
}

.message-read-graph-card {
    border-bottom: 2.10909px solid #1BBD66;
}

.message-unsuccessful-graph-card {
    border-bottom: 2.10909px dashed #FF0000;
}

#campaign_analytics_filter_modal .modal-dialog {
    max-width: 750px;
}

#campaign_analytics_filter_modal .campaign-filter-select-area input[type=radio] {
    display: none !important;
}

#campaign_analytics_filter_modal .campaign-filter-select-area input[type=radio]:checked+.filter-box {
    border: 1px solid #0254D7 !important;
}

#campaign_analytics_filter_modal .campaign-filter-select-area input[type=radio]:checked+.filter-box span {
    color: #0254D7 !important;
}

#campaign_analytics_filter_modal .campaign-filter-select-area .filter-box {
    padding: 0px 16px;
    height: 48px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 10px;
}

#campaign_analytics_filter_modal .campaign-filter-select-area .filter-box span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
}

#campaign_analytics_filter_modal .campaign-filter-select-area .filter-box span:before {
    font-size: 1.2em;
    display: block;
    font-weight: normal;
    color: white;
}

.filter-heading {
    font-weight: 500;
    font-size: 14px;
    color: #4D4D4D;
    margin: 15px 0px;
}

.campaign-filter-select-area,
.campaign-filter-status-select-area,
.campaign-custom-date-select-area {
    padding-left: 0px !important;
}

#campaign_analytics_filter_modal .campaign-filter-status-select-area .status-box {
    padding: 0px 16px;
    height: 48px;
    background: #F6F6F6;
    border-radius: 24px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 16px;
    gap: 0.5em;
}

#campaign_analytics_filter_modal .campaign-filter-status-select-area .status-box label {
    position: relative;
}

#campaign_analytics_filter_modal .campaign-filter-status-select-area .status-box label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 3px 0px 4px 0px;
    width: 18px;
    height: 18px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #DADADA;
}

#campaign_analytics_filter_modal .campaign-filter-status-select-area .status-box label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate( -45deg) scale(0);
    transform: rotate( -45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 8px;
    left: 4px;
}

#campaign_analytics_filter_modal .campaign-filter-status-select-area .status-box input[type="checkbox"]:checked~label::before {
    color: #0254D7;
    background-color: #0254D7;
    border-color: #0254D7;
}

#campaign_analytics_filter_modal .campaign-filter-status-select-area .status-box input[type="checkbox"]:checked~label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

#campaign_analytics_filter_modal .campaign-filter-status-select-area .status-box label {
    padding-left: 26px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    cursor: pointer;
}

#campaign_analytics_filter_modal .campaign-filter-status-select-area .status-box label span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 8px;
}

#campaign_analytics_filter_modal .campaign-filter-status-select-area .status-box input[type="checkbox"]:focus+label::before {
    outline: 0;
}

#campaign_schedule_modal .modal-dialog {
    max-width: 750px;
}

#campaigns_filter_multiselect_dropdown .btn-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    border: 1px solid #D4D0D0;
    box-sizing: border-box;
    border-radius: 8px!important;
    background-color: #fff !important;
    box-shadow: none !important;
    height: 42px;
}

#campaigns_filter_multiselect_dropdown .multiselect-search {
    border-radius: 4px !important;
    background: #F6F6F6;
    border: 1px solid #F6F6F6 !important;
    outline: none !important;
    box-shadow: none !important;
    height: 32px!important;
    cursor: auto;
}

#campaigns_filter_multiselect_dropdown .multiselect-search::-webkit-input-placeholder {
    background-repeat: no-repeat !important;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.85631 9.90427L12.7357 13.7827C13.0259 14.0724 13.496 14.0724 13.7862 13.7827C14.0713 13.4906 14.0713 13.0246 13.7862 12.7324L9.90682 8.85403C11.6639 6.54486 11.3309 3.26951 9.14497 1.36104C6.95905 -0.54742 3.66785 -0.436272 1.61573 1.61531C-0.436385 3.6669 -0.547561 6.95726 1.36139 9.14261C3.27035 11.328 6.54655 11.6609 8.85631 9.90427ZM1.52409 5.53521C1.52409 3.32072 3.31976 1.52551 5.53483 1.52551C7.74881 1.52813 9.54294 3.3218 9.54556 5.53521C9.54556 7.74971 7.7499 9.54492 5.53483 9.54492C3.31976 9.54492 1.52409 7.74971 1.52409 5.53521Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
    background-position: left;
    text-indent: 24px;
}

#campaigns_filter_multiselect_dropdown .input-group-addon {
    display: none;
}

#campaigns_filter_multiselect_dropdown .input-group-btn {
    display: none;
}

#campaigns_filter_multiselect_dropdown .btn-group {
    width: 100% !important;
}

#campaigns_filter_multiselect_dropdown .multiselect-container {
    width: 100% !important;
    padding: 0px 5px 8px 8px;
    max-height: 260px;
    overflow-y: auto;
    border-radius: 5px!important;
    transform: none !important;
    top: 45px !important;
}

#campaigns_filter_multiselect_dropdown .multiselect-item.filter {
    position: sticky;
    top: 0px;
    z-index: 100;
    background: #fff;
    padding-top: 5px;
}

#campaigns_filter_multiselect_dropdown .multiselect-container .input-group {
    width: 100% !important;
    margin: 0px 0px 5px 0px;
}

#campaigns_filter_multiselect_dropdown .multiselect-container>li>a>label>input[type=checkbox] {
    width: 16px;
    height: 16px;
    margin: 2px 0 0;
    left: 22px;
    position: absolute;
}

#campaigns_filter_multiselect_dropdown .dropdown-menu>.active>a,
#campaigns_filter_multiselect_dropdown .dropdown-menu>.active>a:focus,
#campaigns_filter_multiselect_dropdown .dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: #000;
}

#campaigns_filter_multiselect_dropdown .dropdown-menu>li>a:focus,
#campaigns_filter_multiselect_dropdown .dropdown-menu>li>a:hover {
    background: #F6F6F6;
}

#campaigns_filter_multiselect_dropdown .multiselect-container>li>a>label {
    padding: 4px 38px 4px 41px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#campaigns_filter_multiselect_dropdown .form-control:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

#campaigns_filter_multiselect_dropdown .multiselect-container>li>a {
    outline: none;
    padding-top: 16px;
}

#campaigns_filter_multiselect_dropdown .multiselect-selected-text {
    width: 90%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2D2D2D;
}

#campaigns_filter_multiselect_dropdown {
    width: 300px;
}

#campaigns_filter_multiselect_dropdown ::-webkit-scrollbar {
    width: 4px;
}

#campaigns_filter_multiselect_dropdown ::-webkit-scrollbar-thumb {
    background: #CBCACA;
    border-radius: 10px;
}

#campaigns_filter_multiselect_dropdown ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.data-loader-div {
    width: 100%;
    height: 120px;
    text-align: center;
    padding-top: 25px;
}

.loader-custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-custom #loader-inside-div {
    position: relative;
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.loader-custom #loader-inside-div div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #D91E36;
}

.loader-custom #loader-inside-div div:nth-child(1) {
    animation: loader-movement 3s linear infinite 0s;
}

.loader-custom #loader-inside-div div:nth-child(2) {
    animation: loader-movement 3s linear infinite 0.15s;
}

.loader-custom #loader-inside-div div:nth-child(3) {
    animation: loader-movement 3s linear infinite 0.3s;
}

.loader-custom #loader-inside-div div:nth-child(4) {
    animation: loader-movement 3s linear infinite 0.45s;
}

@keyframes loader-movement {
    0% {
        opacity: 0;
        transform: scale(0.3);
        background: #59CD90;
    }
    25% {
        opacity: 1;
        transform: scale(1.8);
        background: #0072BB;
    }
    50% {
        opacity: 0;
        transform: scale(0.3);
        background: #FE4A49;
    }
    75% {
        opacity: 1;
        transform: scale(1.8);
        background: #FED766;
    }
    100% {
        opacity: 0;
    }
}

.loader-custom span {
    padding-right: 15px;
}

.campaigns_multiselect_dropdown_analytics .btn {
    border-radius: 5.6px !important;
    column-gap: 10px;
    display: flex;
    align-items: center;
    width: max-content;
    height: 35px;
    padding: 0px 12px;
    min-width: unset;
    box-shadow: none !important;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu{
    padding: 0 !important;
}
.campaigns_multiselect_dropdown_analytics .multiselect.dropdown-toggle {
    width: 200px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    justify-content: space-between;
}



.campaigns_multiselect_dropdown_analytics .multiselect.dropdown-toggle span {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container {
    width: 100%;
    max-height: 220px;
    overflow-y: auto;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container{
    top: 37px !important;
    left: 0px;
    transform: none !important;
}

.campaigns_multiselect_dropdown_analytics .multiselect.dropdown-toggle::after {
    border: none;
    margin-top: -2px;
    content: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.21967 0.46967C0.512563 0.176777 0.987437 0.176777 1.28033 0.46967L4 3.18934L6.71967 0.46967C7.01256 0.176777 7.48744 0.176777 7.78033 0.46967C8.07322 0.762563 8.07322 1.23744 7.78033 1.53033L4.53033 4.78033C4.23744 5.07322 3.76256 5.07322 3.46967 4.78033L0.21967 1.53033C-0.0732233 1.23744 -0.0732233 0.762563 0.21967 0.46967Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container li {
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #F6F6F6;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container li:hover {
    background: #F6F6F6;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container li a {
    width: 100%;
    height: 100%;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container li a label.checkbox {
    width: 100%;
    padding: 9px 12px;
    position: relative;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container{
    z-index: 9 !important;
}

.campaigns_multiselect_dropdown_analytics .dropdown-menu.multiselect-container li a label.checkbox input[type=checkbox] {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    cursor: pointer;
}


/* css for accordion */

.analytics-channel-stats-value-table tr th div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    width: 90px;
}
#channel-statistics-accordian table{
    border: none !important;
}


#channel-statistics-accordian .analytics-channel-stats-value-table th {
    background: #ffffff !important;
    color: #334155 !important;
    font-weight: normal !important;
    font-size: 14px;
    line-height: 24px;
    border: none;
    
}
#channel-statistics-accordian .channel-stats-specific-card{
    border: 0.5px solid #F6F6F6 !important;
    border-radius: 2px !important;
    cursor: pointer !important;
}
#channel-statistics-accordian .card-body .card .card-header{
    background-color: #ffffff !important;
}

#channel-statistics-accordian .channel-stats-specific-card .stats-channel-heading{
    width: 8rem;
    text-align: start;
    margin-left: 38px;
}

.analytics-channel-stats-value-table tr th div .value{
    font-size: 16px; 
    font-weight: 500;
    color: #2D2D2D;
}
.analytics-channel-stats-value-table tr th div .heading{
    font-size: 12px;
    color: #4D4D4D;
}

#channel-statistics-accordian .analytic-stats-card-container {
    display: flex;
    align-items: center;
    gap: 36px;
    text-align: center;
}
#channel-statistics-accordian .analytic-stats-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    padding: 16px 20px;
    text-align: center;
    height: 214px;
}

#channel-statistics-accordian .analytic-stats-card p{
    font-weight: 500;
    font-size: 14px;
    color: #7B7A7B;
}
#channel-statistics-accordian .analytic-stats-card p span{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #CBCACA;
}

.orange-border{
    border-top: 5px solid #F9600A !important;
}
.green-border{
    border-top: 5px solid #6BCF70 !important;
}
.blue-border{
    border-top: 5px solid #4A92DC !important;
}
.red-border{
    border-top: 5px solid #C84C54 !important;
}
.dark-green-border{
    border-top: 5px solid #10B981 !important;
}
.light-green-border{
    border-top: 5px solid #6EE7B7 !important;
}
.yellow-border{
    border-top: 5px solid #FCD34D !important;
}
.dark-blue-border{
    border-top: 5px solid #0F248C !important;
}

.rotate-svg .down-arrow-svg{
    transform: rotate(180deg);
}

.hide-table .analytics-channel-stats-value-table{
    display: none;
}
.no-campaign-found a{
    padding: 0 !important;
    display: flex;
    align-items: center;
    pointer-events: none;
}
.no-campaign-found a label{
    text-align: center;
    padding-top: 6px !important;
}
.no-campaign-found a label input{
    display: none;
}
.analytics-filter-data-modal-div .modal-body{
    overflow-y: inherit;
}
.campaign-analytics-no-data-found-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
}
.campaign-analytics-reload-data-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px !important;
    gap: 8px;
    width: max-content;
    height: 32px;
    background: #F8F8F8;
    border-radius: 4px !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    margin: 0px !important;
}
#campaigns_filter_multiselect_dropdown .multiselect-container{
    display: block;
    visibility: hidden;
}
#campaigns_filter_multiselect_dropdown .multiselect-container.show{
    visibility: visible;
}

.channel-stats-specific-card-heading {
    display: inline-flex;
    cursor: default;
    flex-direction: column;
    gap: 16px;
}

.analytics-channel-detais-data-wrapper-div {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.campaign-status-percent-div {
    display: flex;
    align-items: center;
    margin: 0px 0 12px 0;
    gap: 12px;
    flex-wrap: wrap;
    width: 90%;
}

.campaign-status-percent-div .status-percent-card-div {
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 9px;
    min-width: 127px;
}

.campaign-status-percent-div .status-percent-card-div .status-detail-content-div .campaign-status {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #4D4D4D;
}

.campaign-status-percent-div .status-percent-card-div .status-detail-content-div p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.campaign-status-percent-div .status-percent-card-div .status-detail-content-div .campaign-total-percent .total {
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.campaign-messages-status-header {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #4A4A4A;
    width: 145px;
    padding-top: 18px;
}

.channel-stats-specific-card-heading .campaign-display-table-content {
    height: 50px;
    align-items: center;
}

#channel-statistics-accordian .channel-stats-specific-card .stats-channel-heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2D2D2D;
}
#campaign_analytics_filter_modal .campaign-filter-status-select-area .filter-heading{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
#campaign_analytics_filter_modal .campaign-filter-status-select-area{
    flex-direction: column;
    gap: 24px;
}
#campaign_analytics_filter_modal #campaigns_filter_multiselect_dropdown{
    width: 100%;
}
#campaign_analytics_filter_modal .modal-body{
    padding: 16px 43px 0px 43px!important;
}
#campaign_analytics_filter_modal .modal-footer{
    margin-top: 16px;
}
#campaigns_filter_multiselect_dropdown .multiselect-container label{
    color: #2D2D2D!important;
    font-size: 14px;
}