.page-item {
  cursor: pointer;
}

.schedule-campaign-btn {
  background: #0F248C !important;
  font-weight: bold !important;
}

.campaign-cancel-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #7B7A7B;
  border: 1px solid #7B7A7B !important;
  padding: 0px 18px;
  background-color: #fff !important;
}

.page-item.active .page-selected {
  background: #2755cb !important;
  border-color: #2755cb !important;
}

.page-item.active .page-unselected  {
  background: #ffffff !important;
  border-color: #dddfeb !important;
  color: #858796 !important;
}

.btn {
  border-radius: 4px !important;
}

#wrapper #content-wrapper {
  position: relative;
}

.campaign-schedule-wrapper {
  padding: 24px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  margin-bottom: 16px;
}

.campaign-schedule-heading-div {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.7px;
  color: #2D2D2D;
}

.campaign-schedule-slots-wrapper {
  width: 100%;
  padding: 16px 0px 8px;
}

.campaign-schedule-list-dropdown-container {
  width: 250px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.campaign-schedule-list-dropdown-container .easyassist-custom-dropdown-option-container li:hover {
  cursor: pointer;
  background: #F6F6F6;
  color: #2D2D2D;
}

.campaign-schedule-list-dropdown-container .easyassist-custom-dropdown-option-container {
  max-height: 258px!important;
}

.campaign-schedule-reset-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7px;
  color: #0254D7;
  background: #FFFFFF;
  border: 1px solid #0254D7;
  box-sizing: border-box;
  border-radius: 4px;
  height: 36px;
}

.campaign-schedule-cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  background: #FFFFFF;
  border: 1px solid #7B7A7B;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7px;
  color: #7B7A7B;
  height: 36px;
}

.campaign-schedule-save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 36px;
  background: #0254D7;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7px;
  color: #FFFFFF;
  border: none;
}

.campaign-schedule-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}



#campaign_schedule_table th:last-child {
  border: none !important;
}

#campaign_schedule_table td {
  word-break: break-all !important;
}

.campaign-schedule-table-action-btn button {
  border: none;
  background-color: transparent;
  display: inline-flex;
}

.campaign-schedule-table-action-btn {
  text-align: center;
}

.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-cancel-btn {
  border-radius: 4px !important;
  color: #4D4D4D !important;
}

.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-cancel-btn {
  border-radius: 4px !important;
  color: #4D4D4D !important;
}

.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-cancel-btn:hover {
  background-color: #fff !important;
  box-shadow: none !important;
}

.campaign-schedule-custom-modal-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #333333;
  margin-bottom: 24px;
}

.campaign-schedule-custom-modal-subheading {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2D2D2D;
  text-align: left;
  letter-spacing: 0.2px;
}

.modal.campaign-delete-custom-modal .campaign-schedule-custom-modal-body {
  padding: 0px !important;
}

.modal.campaign-delete-custom-modal .campaign-schedule-custom-modal-footer {
  padding: 11px 0px 0px !important;
}


.custom-radio-btn-container {
  text-align: left;
  margin-bottom: 12px;
}

.custom-radio-btns-wrapper {
  padding-left: 18px;
}

.custom-radio-btn-container [type="radio"]:checked,
.custom-radio-btn-container [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.custom-radio-btn-container [type="radio"]:checked+label,
.custom-radio-btn-container [type="radio"]:not(:checked)+label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  word-break: break-word;
  letter-spacing: 0.2px;
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #525252;
}

.custom-radio-btn-container [type="radio"]:checked+label:before,
.custom-radio-btn-container [type="radio"]:not(:checked)+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #dadada;
  border-radius: 100%;
  background: #fff;
}

.custom-radio-btn-container [type="radio"]:checked+label:before {
  border: 2px solid #0254d7 !important;
}

.custom-radio-btn-container [type="radio"]:checked+label:after,
.custom-radio-btn-container [type="radio"]:not(:checked)+label:after {
  content: '';
  width: 8px;
  height: 8px;
  background: #0254d7;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.custom-radio-btn-container [type="radio"]:not(:checked)+label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.custom-radio-btn-container [type="radio"]:checked+label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.campaign-schedule-custom-day-wrapper {
  text-align: left;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.campaign-schedule-custom-day-wrapper .channel-box input[type="checkbox"] {
  opacity: 0;
  width: 0px !important;
  display: none;
}

.campaign-schedule-custom-day-wrapper .channel-box label {
  height: 32px;
  width: 32px;
  background: #EBEBEB;
  border-radius: 50%;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  font-weight: 500;
  font-size: 14px;
  color: #4D4D4D;
  margin-bottom: 8px;
  cursor: pointer;
}

.campaign-schedule-custom-day-wrapper .channel-box input[type="checkbox"]:checked+label {
  background-color: #0254D7 !important;
}

.campaign-schedule-custom-day-wrapper .channel-box input[type="checkbox"] {
  opacity: 0;
  width: 0px !important;
}

.campaign-schedule-custom-day-wrapper .channel-box input[type="checkbox"]:checked+label span {
  color: #ffffff !important;
}

.campaign-schedule-custom-day-wrapper.campaign-schedule-custom-day-wrapper-channel .channel-box label span {
  padding-left: 8px;
}

.livechat-graphic-parameter-container .livechat-email-setting-chat-report-cb input:checked {
  background-color: #0254D7;
  border-color: #0254D7;
}

.livechat-graphic-parameter-container .livechat-email-setting-chat-report-cb input[type="checkbox"]:checked {
  background-color: #0254D7;
}

.livechat-graphic-parameter-container .livechat-email-setting-chat-report-cb input[type="checkbox"] {
  height: 18px !important;
  width: 18px !important;
}



.campaign-schedule-input-item {
  display: inline-flex;
  min-width: 100px;
  max-width: 150px;
  height: 48px;
  border-radius: 2px;
  margin-right: 12px;
  margin-bottom: 12px;
  position: relative;
}

.campaign-schedule-input-item:hover .campaign-schedule-remove-item-btn {
  display: flex;
}

.campaign-schedule-input-field {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px 10px;
  background: #F1F3F4;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7px;
  color: #7B7A7B;
  outline: none;
  border: none;
}

.campaign-schedule-remove-item-btn {
  width: 16px;
  height: 16px;
  border: none;
  outline: none;
  position: absolute;
  padding: 0px;
  top: -6px;
  display: none;
  background: transparent;
  right: -6px;
  align-items: center;
  justify-content: center;
}

.campaign-schedule-add-time-slot-field {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0px 10px;
  background: #FFFFFF;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7px;
  color: #0254D7;
  outline: none;
  border: 1px solid #0254D7;
}

.campaign-schedule-add-time-slot-field:focus {
  box-shadow: none !important;
  border: 1px solid #0254D7 !important;
}

.custom-campaign-date-card {
  position: absolute;
  right: 0px;
  bottom: -4px;
  width: 130px !important;
  height: 40px;
  margin: 0px;
  display: none;
}

.campaign-schedule-scheduled-success-toast {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: max-content;
  background: #ECFDF5;
  border: 1px solid #6EE7B7;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #047857;
  column-gap: 8px;
  z-index: 999;
}

.campaign-schedule-delete-success-toast {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: max-content;
  background: #E8F3FF;
  border: 1px solid #93C5FD;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #0254D7;
  column-gap: 8px;
  z-index: 9999;
}

#ui-datepicker-div {
  width: auto;
  border-color: #fff;
  box-shadow: 4px 6px 40px rgb(32 32 35 / 16%);
  padding: 10px;
  background: #fff;
  display: none;
}

#ui-datepicker-div .ui-state-default,
.ui-widget-content .ui-state-default {
  border: 1px solid #fff;
  background: #fff;
}

#ui-datepicker-div .ui-state-active {
  background: #769cff;
  color: white;
  border-radius: 6px;
  width: 30px;
  height: 16px;
  display: table;
}

#ui-datepicker-div .ui-datepicker-header {
  border: none;
  padding: 0px 0 6px;
  position: relative;
  text-align: center;
  background: white;
  border-radius: 6px;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-next .ui-icon {
  /* background-image: url(../img/right-arrow.svg); */
  background-position: center;
  display: inline-block;
  text-indent: -99999px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-prev .ui-icon {
  /* background-image: url(../img/left-arrow.svg); */
  background-position: center;
  display: inline-block;
  text-indent: -99999px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

#ui-datepicker-div .ui-datepicker-month {
  height: 32px;
  overflow: auto;
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  appearance: none;
  /* background-image: url(../img/drop-arrow.svg); */
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: 50%;
  font-weight: normal;
  color: #909090;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block !important;
  border: 1px solid #ebebeb;
  width: 38%;
  outline: none;
}

#ui-datepicker-div .ui-datepicker-year {
  height: 32px;
  overflow: auto;
  padding-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  appearance: none;
  /* background-image: url(../img/drop-arrow.svg); */
  background-repeat: no-repeat;
  background-position-x: 93%;
  background-position-y: 50%;
  font-weight: normal;
  color: #909090;
  cursor: pointer;
  display: inline-block !important;
  border: 1px solid #ebebeb;
  width: 38%;
  outline: none;
}

#ui-datepicker-div .ui-datepicker-prev {
  position: absolute;
  left: 0;
  top: 8px;
}

#ui-datepicker-div .ui-datepicker-next {
  position: absolute;
  right: 0;
  top: 8px;
}

#ui-datepicker-div .ui-datepicker-title {
  width: 100%;
  text-align: center;
  display: inline-block;
}

#ui-datepicker-div td {
  border-bottom: none !important;
  text-align: center;
  padding: 4px !important;
  display: table-cell !important;
}

#ui-datepicker-div td a {
  text-decoration: none !important;
}

#ui-datepicker-div th {
  padding: 6px !important;
  text-align: center;
  display: table-cell !important;
  font-size: 14px !important;
}

#ui-datepicker-div tr {
  border: none !important;
}

#ui-datepicker-div thead tr {
  display: table-row !important;
}  

.ui-corner-all {
  cursor: pointer;
}

.glyphicon-chevron-up::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00004 4.92114C8.27167 4.92081 8.5303 5.03748 8.70981 5.24134L12.7374 9.81856C12.9238 10.0208 12.986 10.3082 12.9 10.5695C12.814 10.8308 12.5932 11.025 12.3231 11.077C12.0529 11.129 11.7758 11.0305 11.599 10.8198L8.07721 6.8173C8.05773 6.79507 8.0296 6.78232 8.00004 6.78232C7.97047 6.78232 7.94235 6.79507 7.92286 6.8173L4.40107 10.8206C4.22424 11.0314 3.94715 11.1298 3.67701 11.0778C3.40687 11.0258 3.18607 10.8316 3.10005 10.5703C3.01403 10.3091 3.07628 10.0217 3.26272 9.81938L7.28903 5.24299C7.46885 5.03863 7.72783 4.9214 8.00004 4.92114Z' fill='%232D2D2D'/%3E%3Cmask id='mask0_9_99' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='3' y='4' width='10' height='8'%3E%3Cpath d='M8.00004 4.92114C8.27167 4.92081 8.5303 5.03748 8.70981 5.24134L12.7374 9.81856C12.9238 10.0208 12.986 10.3082 12.9 10.5695C12.814 10.8308 12.5932 11.025 12.3231 11.077C12.0529 11.129 11.7758 11.0305 11.599 10.8198L8.07721 6.8173C8.05773 6.79507 8.0296 6.78232 8.00004 6.78232C7.97047 6.78232 7.94235 6.79507 7.92286 6.8173L4.40107 10.8206C4.22424 11.0314 3.94715 11.1298 3.67701 11.0778C3.40687 11.0258 3.18607 10.8316 3.10005 10.5703C3.01403 10.3091 3.07628 10.0217 3.26272 9.81938L7.28903 5.24299C7.46885 5.03863 7.72783 4.9214 8.00004 4.92114Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_9_99)'%3E%3C/g%3E%3C/svg%3E%0A");
}

.glyphicon-chevron-down::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00004 11.0789C8.27167 11.0792 8.5303 10.9625 8.70981 10.7587L12.7374 6.18144C12.9238 5.97916 12.986 5.69177 12.9 5.43047C12.814 5.16918 12.5932 4.97497 12.3231 4.92301C12.0529 4.87104 11.7758 4.96947 11.599 5.1802L8.07721 9.1827C8.05773 9.20493 8.0296 9.21768 8.00004 9.21768C7.97047 9.21768 7.94235 9.20493 7.92286 9.1827L4.40107 5.17938C4.22424 4.96865 3.94715 4.87022 3.67701 4.92219C3.40687 4.97415 3.18607 5.16836 3.10005 5.42965C3.01403 5.69095 3.07628 5.97834 3.26272 6.18062L7.28903 10.757C7.46885 10.9614 7.72783 11.0786 8.00004 11.0789Z' fill='%232D2D2D'/%3E%3Cmask id='mask0_10_17' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='3' y='4' width='10' height='8'%3E%3Cpath d='M8.00004 11.0789C8.27167 11.0792 8.5303 10.9625 8.70981 10.7587L12.7374 6.18144C12.9238 5.97916 12.986 5.69177 12.9 5.43047C12.814 5.16918 12.5932 4.97497 12.3231 4.92301C12.0529 4.87104 11.7758 4.96947 11.599 5.1802L8.07721 9.1827C8.05773 9.20493 8.0296 9.21768 8.00004 9.21768C7.97047 9.21768 7.94235 9.20493 7.92286 9.1827L4.40107 5.17938C4.22424 4.96865 3.94715 4.87022 3.67701 4.92219C3.40687 4.97415 3.18607 5.16836 3.10005 5.42965C3.01403 5.69095 3.07628 5.97834 3.26272 6.18062L7.28903 10.757C7.46885 10.9614 7.72783 11.0786 8.00004 11.0789Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_10_17)'%3E%3C/g%3E%3C/svg%3E%0A");
}

.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
}

.bootstrap-datetimepicker-widget table td {
  height: 36px;
  line-height: 18px;
  width: 36px;
}

.bootstrap-datetimepicker-widget a[data-action] {
  padding: 0px 0;
  margin: 0px !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 17em;
  padding: 8px 4px;
}

.bootstrap-datetimepicker-widget table td a span {
  padding-top: 4px;
}

.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px;
  width: 36px;
  height: 36px;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  width: 36px;
}

.bootstrap-datetimepicker-widget a[data-action]:hover {
  box-shadow: none !important;
  transform: none !important;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
  padding-top: 0px;
}

.custom_modal .campaign-schedule-filer-modal-footer .btn-primary {
  border-radius: 4px !important;
  width: 110px;
  margin-left: 20px;
}
.ui-datepicker-unselectable.ui-state-disabled{
  cursor: url(../icons/red-not-allowed.svg), auto !important;

} 

/* new  */
.campaign-schedule-table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  background: #F8F8F8;
  border: 1px solid #EBEBEB;
  border-radius: 4px 4px 0px 0px;
  padding: 10px 16px;
}

.campaign-schedule-table-heading {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #4A4A4A;
  margin-bottom: 0px;
}

.custom-schedule-table-delete-btn {
  background: #E53E3E;
  border: 1px solid #E53E3E;
  border-radius: 4px;
  height: 36px;
  padding: 0 12px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
#campaign_schedule_table {
  border: none !important;
  table-layout: fixed;
}
.schedule-campaign-container {
  overflow: hidden;
  padding-right: 8px !important;
  padding: 0 8px;
}
.modal.campaign-delete-custom-modal .campaign-schedule-custom-modal-footer button {

}
.modal.campaign-delete-custom-modal .campaign-schedule-custom-modal-content {
  padding: 48px 36px 48px 40px;
}
.modal.campaign-delete-custom-modal.delete-modal-new .modal-dialog{
  top: 45%!important;
}
.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-save-btn{
  font-weight: 600;
}
#campaign_multiple_schedule_delete_modal.modal.campaign-delete-custom-modal .modal-dialog{
  max-width: 500px;
}

.upcoming-schedule-card-body{
  padding: 0px;
}
.upcoming-schedule-subheading{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #AAAAAA;
  margin: 4px 0 0 0;
}
.campaign-primary-btn{
  display: inline-flex;
  align-items: center;
  padding: 0px 12px;
  height: 36px;
  box-shadow: none !important;
  gap: 8px;
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
.campaign-primary-btn svg{
  margin-bottom: 1px;
}
.campaign-schedule-buttons-div{
  display: flex;
  align-items: center;
  gap: 8px;
}
.campaign-default-table{
  margin: 0px !important;
}
.campaign-table-div-wrapper{
  background: #FFFFFF;
  padding: 8px 16px;
}
table.dataTable.campaign-default-table{
  margin: 0px !important;
}
.campaign-default-table thead th{
  border-right: 1px solid rgb(255 255 255) !important;
}
.campaign-default-table thead th{
  background: #EEF0FF !important;
  box-shadow: inset 0px -0.951394px 0px rgb(102 102 102 / 8%);
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  vertical-align: middle;
}
.campaign-default-table thead th,
.campaign-default-table tbody td{
  padding: 12px 16px;
  vertical-align: middle;
}
.campaign-default-table thead th[name="name"]{
  max-width: 217px;
  width: 217px;
}
.campaign-default-table thead th[name="channel"]{
  max-width: 217px;
  width: 217px;
}
.campaign-default-table thead th[name="trigger_date"]{
  max-width: 125px;
  width: 90px;
}
.campaign-default-table thead th[name="trigger_time"]{
  max-width: 125px;
  width: 90px;
}
.campaign-default-table thead th[name="created_on"]{
  max-width: 170px;
  width: 130px;
}
.campaign-default-table thead th[name="action"]{
  max-width: 90px;
  text-align: center;
  width: 65px;
}
.campaign-default-table thead th .campaign_select_all_rows_cb,
.campaign-default-table tbody td .campaign_select_row_cb{
  margin: 1px 0 0 0;
}
.campaign-default-table tbody td{
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #4D4D4D;
}
.campaign-default-table tbody tr:hover{
  background: #F8F8F8 !important;
}
.updated-text{
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  color: #A3A3A3;
  margin: 0;
  padding-top: 2px;
}
.campaign-table-row{
  min-height: calc(100vh - 210px);
  border: 1px solid #EBEBEB!important;
}
.campaign-table-column{
  max-height: calc(100vh - 211px);
  overflow-y: auto;
  padding: 0px;
}
.campaign-default-table thead{
  position: sticky;
  top: 0;
}
.campaign-delete-custom-modal .modal-content{
  background: #FFFFFF;
  border-radius: 12px !important;
}
.campaign-delete-custom-modal .modal-body {
  padding: 40px 40px 18px 40px!important;
}
.modal.campaign-delete-custom-modal.delete-modal-new .campaign-delete-modal-heading-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #404040;
  letter-spacing: 0.25px;
  margin-bottom: 21px;
}
b {
  font-weight: bold !important;
}
.modal.campaign-delete-custom-modal.delete-modal-new .campaign-delete-modal-content-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #A3A3A3;
  letter-spacing: 0.25px;
  margin-bottom: 21px;
}
.modal.campaign-delete-custom-modal.delete-modal-new .campaign-delete-modal-content-text b{
  color: #404040;
}
.delete-modal-new .campaign-delete-modal-note-div{
  background: #FFF9F9;
  border-radius: 4px;
  padding: 8px 15px 8px 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #FF281A;
  letter-spacing: 0.25px;
}
.delete-modal-new .campaign-delete-modal-note-div b{
  margin-right: 3px;
}
.modal.campaign-delete-custom-modal.delete-modal-new .modal-footer button {
  width: 100%;
  height: 48px;
}
.delete-modal-new .campaign-schedule-custom-modal-heading{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #262626;
  letter-spacing: 0.25px;
  margin-bottom: 20px;
}
.delete-modal-new .custom-radio-btns-wrapper{
  padding: 0px;
}
.delete-modal-new .custom-radio-btn-container {
  text-align: left;
  margin-bottom: 16px;
}
.delete-modal-new .custom-radio-btn-container .label-tooltip{
  display: inline-flex;
  align-items: center;
  margin: 0px 0px 0px 2px;
}
.delete-modal-new .campaign-schedule-custom-modal-body .campaign-delete-modal-note-div{
  margin: 12px 0 7px 0;
}
.campaign_select_all_rows_cb{
  position: relative;
}
.campaign_select_all_rows_cb::after{
  content: '';
  background: #262626;
  opacity: 0.15;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -7px;
  border-radius: 50%;
  display: none;
}
.campaign_select_all_rows_cb:hover::after{
  display: block;
}
.upcoming-schedule-card-body{
  background: #FFFFFF;
}
.page-selection-count-text{
  margin: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #737373;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0 0 0;
}
.page-selection-count-text .select-all-campaigns-text{
  background: #F1F6FD;
  border-radius: 4px;
  padding: 8px 9px;
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: #025FF4;
  margin-left: 4px;
  cursor: pointer;
}
.all-selected-text-div{
  display: none;
}
.upcoming-schedule-no-data-div{
  min-height: calc( 100vh - 170px);
  display: none;
}
.navbar.navbar-expand{
  margin-bottom: 0px !important;
}
#timepicker.time-error{
  border: 1px solid red !important;
}
.pagination-text{
  align-items: center;
  display: flex;
}
.delete-modal-new .modal-footer{
  padding: 0px 40px 40px 40px!important;
}
#campaign_schedule_delete_modal .modal-dialog{
  max-width: 460px;
}
#campaign_schedule_delete_modal.modal.campaign-delete-custom-modal .campaign-schedule-custom-modal-content{
  padding: 40px;
}

.header-buttons-row {
  gap: 8px;
}

#schedule_campaign_modal .modal-dialog,
#edit-schedule_campaign_modal .modal-dialog,
#filter-schedule_campaign_modal .modal-dialog {
  max-width: 770px;
}
.input-container {
  position: relative;
}

.input-container input {
  padding-right: 40px;
}

.input-container .icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campaign-sub-card .campaign-schedule-input-field {
  width: 100%;
  height: 40px;
  text-align: left;
  padding: 0px 20px;
  background: #ffffff;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7px;
  color: #7b7a7b;
  outline: none;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  cursor: pointer;
}

.sub-card-sub-heading {
  color: #525252;
  font-weight: 500;
  font-size: 14px;
  min-width: 80px;
  width: 14%;
}
.sub-card-heading {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  min-width: 80px;
}

.custom-day-selector {
  display: flex;
  align-items: center;
  gap: 16px;
}

.custom-day-selector input {
  display: none !important;
}

.custom-day-selector input[type='checkbox'] + label {
  display: inline-block;
  border-radius: 20px;
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  color: #000000;
}

.custom-day-selector input[type='checkbox']:checked + label {
  background-color: #025ff4;
  color: #ffffff;
}
/* edit modal code started */
.edit-audience-batch {
  gap: 4px;
  width: 100%;
}
.audience-batch-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.audience-batch-dropdown-wrapper .audience-batch-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.audience-batch-options label {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px;
  color: #525252 !important;
}
#edit-schedule_campaign_modal .cancel-btn,
#filter-schedule_campaign_modal .cancel-btn {
  height: 40px !important;
  background-color: transparent !important;
  font-weight: 500 !important;
}
.audience-batch-options-error-note {
  display: flex;
  padding: 8px 16px;
  background: #fff9f9;
  border-radius: 4px;
}
.audience-batch-options-error-note p {
  margin: 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ff281a !important;
  letter-spacing: 0.3px;
}
/* dropdown  */

/* .select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__rendered{
  height: 40px;
  border: 1px solid #EBEBEB;
border-radius: 4px;
} */
.audience-batch-dropdown-wrapper .dropdown button.dropdown-toggle {
  width: 100%;
  display: block;
  outline: none !important;
  background-color: white !important;
  border-color: inherit !important;
  height: 40px;
  border: 1px solid #EBEBEB!important;
}
.audience-batch-dropdown-wrapper
  .dropdown
  button.dropdown-toggle
  .filter-option {
  display: flex;
  align-items: center;
}
.audience-batch-dropdown-wrapper .dropdown button.dropdown-toggle::after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.28642 11.2021C8.00392 11.2024 7.73495 11.0811 7.54825 10.8691L3.35961 6.1079C3.08427 5.77976 3.12124 5.29183 3.44288 5.00893C3.76452 4.72602 4.25319 4.75163 4.5435 5.06661L8.20616 9.23006C8.22642 9.25318 8.25567 9.26644 8.28642 9.26644C8.31717 9.26644 8.34642 9.25318 8.36668 9.23006L12.0293 5.06661C12.2132 4.84745 12.5014 4.74508 12.7824 4.79913C13.0633 4.85317 13.2929 5.05515 13.3824 5.3269C13.4719 5.59864 13.4071 5.89753 13.2132 6.1079L9.02587 10.8674C8.83885 11.0799 8.56952 11.2018 8.28642 11.2021Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 16px;
  top: 50% ;
  transform: translateY(-50%);
  border: 0px !important;
}
.audience-batch-dropdown-wrapper .dropdown.show button.dropdown-toggle::after {
  transform: translateY(-50%) rotate(180deg);
}
.audience-batch-dropdown-wrapper .dropdown .dropdown-menu .bs-searchbox {
  padding: 5px 8px;
}
.audience-batch-dropdown-wrapper .dropdown .dropdown-menu .bs-searchbox input {
  background: #fafafa !important;
  border-radius: 4px !important;
  background: #f6f8ff;
  border: 1px solid #f6f6f6 !important;
}
.audience-batch-dropdown-wrapper
  .dropdown-menu
  .bs-searchbox
  input::-webkit-input-placeholder {
  background-repeat: no-repeat !important;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.85631 9.90427L12.7357 13.7827C13.0259 14.0724 13.496 14.0724 13.7862 13.7827C14.0713 13.4906 14.0713 13.0246 13.7862 12.7324L9.90682 8.85403C11.6639 6.54486 11.3309 3.26951 9.14497 1.36104C6.95905 -0.54742 3.66785 -0.436272 1.61573 1.61531C-0.436385 3.6669 -0.547561 6.95726 1.36139 9.14261C3.27035 11.328 6.54655 11.6609 8.85631 9.90427ZM1.52409 5.53521C1.52409 3.32072 3.31976 1.52551 5.53483 1.52551C7.74881 1.52813 9.54294 3.3218 9.54556 5.53521C9.54556 7.74971 7.7499 9.54492 5.53483 9.54492C3.31976 9.54492 1.52409 7.74971 1.52409 5.53521Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
  background-position: left;
  text-indent: 24px;
}
.audience-batch-dropdown-wrapper .dropdown .dropdown-menu {
  max-width: 100%;
  overflow-x: hidden;
  padding: 0px;
  top: 42px !important;
  transform: none !important;
}
.audience-batch-dropdown-wrapper .dropdown ul.dropdown-menu {
  padding: 0px;
  border-top: 1px solid #ebebeb;
}
.audience-batch-dropdown-wrapper.whatsapp-campaign-select
  .dropdown-menu
  .bs-searchbox
  input::-webkit-search-cancel-button {
  display: none;
}
.audience-batch-dropdown-wrapper
  .dropdown
  .dropdown-menu
  .bs-searchbox
  input:focus {
  box-shadow: none !important;
}
.audience-batch-dropdown-wrapper .dropdown .dropdown-menu ul li {
  white-space: inherit;
  position: relative;
  display: flex;
  margin-top: 2px;
  word-break: break-word;
}
.audience-batch-dropdown-wrapper .dropdown .dropdown-menu ul li .dropdown-item {
  white-space: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4d4d4d !important;
  display: flex;
  align-items: center;
  white-space: inherit;
  word-break: break-word;
  padding: 12px 24px;
  border-bottom: 1px solid #f6f6f6;
  letter-spacing: 0.3px;
}
.audience-batch-dropdown-wrapper
  .dropdown
  .dropdown-menu
  ul
  li
  .dropdown-item:active,
.audience-batch-dropdown-wrapper
  .dropdown
  .dropdown-menu
  ul
  li
  .dropdown-item.active {
  color: #4d4d4d !important;
  background: #f6f6f6;
  font-weight: 500;
}
.audience-batch-dropdown-wrapper .dropdown .dropdown-menu ul li.no-results {
  align-items: center;
  justify-content: center;
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2d2d2d;
  background: transparent;
  padding: 12px;
}
.audience-batch-dropdown-wrapper
  .dropdown
  button.dropdown-toggle
  .filter-option
  .filter-option-inner {
  width: 100%;
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2d2d2d;
}
.audience-batch-dropdown-wrapper
  .dropdown
  button.dropdown-toggle
  .filter-option
  .filter-option-inner
  .filter-option-inner-inner {
  text-overflow: ellipsis;
  overflow: hidden;
}
/* Error border red css */
.bootstrap-select.form-control,
#campaign_datepicker {
  /* border: 1px solid #DD2526!important; */
}

/* notes */
.scheduled-campaign-note {
  border-radius: 4px;
  justify-content: space-between;
  position: fixed;
  top: 5px;
  transform: translateX(-60%);
  left: 50%;
  align-items: center;
  z-index: 999;
  position: absolute;
  max-width: 65%;
  width: max-content;
}
.scheduled-campaign-note.green-note {
  border: 1px solid #43a047;
  color: #43a047;
  background: #f1f9f1;
}
.scheduled-campaign-note.red-note {
  color: #e53935;
  background: #fffafb;
  border: 1px solid #e53935;
}
.scheduled-campaign-note .credentials-note-text {
  margin: 0px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}
.padding-class {
  padding: 0px 16px !important;
}
#edit-schedule_campaign_modal .modal-body {
  padding: 16px 43px 0px 43px !important;
  max-height: calc(100vh - 13rem)!important;
}
#edit-schedule_campaign_modal.custom_modal .modal-footer {
  margin-top: 16px !important;
}
.campaign-select-div-wrapper
  .campaign-select-dropdown
  .dropdown-menu
  .bs-searchbox
  input::-webkit-search-cancel-button {
  display: none;
}
.campaign-select-div-wrapper .campaign-select-dropdown .inner {
  max-height: 220px !important;
}
.campaign-select-div-wrapper .campaign-select-dropdown .dropdown-menu.inner {
  max-height: unset !important;
}
.campaign-select-div-wrapper .campaign-select-dropdown .dropdown-menu {
  max-height: 280px !important;
  position: unset!important;
}
.audience-batch-dropdown-wrapper .campaign-select{
  display: inline-table;
  border: none!important;
  background: transparent;
}
#schedule_campaign_modal .modal-dialog {
  max-width: 750px;
}

.input-container {
  position: relative;
}

.input-container input {
  padding-right: 40px;
}

.input-container .icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campaign-schedule-input-field {
  width: 100%;
  height: 40px;
  text-align: left;
  padding: 0px 20px;
  background: #ffffff;
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.7px;
  color: #7b7a7b;
  outline: none;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

.sub-card-sub-heading {
  color: #525252;
  font-weight: 500;
  font-size: 14px;
  min-width: 80px;
}
.sub-card-heading {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  min-width: 80px;
}

.custom-day-selector {
  display: flex;
  align-items: center;
  gap: 16px;
}

.custom-day-selector input {
  display: none !important;
}

.custom-day-selector input[type='checkbox'] + label {
  display: inline-block;
  border-radius: 20px;
  background-color: #ffffff;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  color: #000000;
  font-weight: 400;
}

.custom-day-selector input[type='checkbox']:checked + label {
  background-color: #025ff4;
  color: #ffffff;
  font-weight: 500;
}

.frequency-dropdown-wrapper .easyassist-custom-dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Silka', Sans-Serif !important;
  border-radius: 30px !important;
}

.frequency-dropdown-wrapper .easyassist-custom-dropdown-container select {
  display: none !important;
}
.frequency-dropdown-wrapper
  .easyassist-custom-dropdown-option-container_wrapper {
  position: absolute;
}

.frequency-dropdown-wrapper
  .easyassist-custom-dropdown-container
  .easyassist-dropdown-selected {
  font-family: 'Silka', Sans-Serif;
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  padding: 12px 18px !important;
  font-size: 12px;
  font-weight: 500;
  order: 0 !important;
  box-sizing: border-box !important;
  cursor: pointer;
  color: #4d4d4d !important;
  text-align: left !important;
}

.frequency-dropdown-wrapper .easyassist-custom-dropdown-option-container {
  display: none;
  position: unset;
  width: 100%;
  top: 43px;
  background: #ffffff;
  border-radius: 0px;
  order: 1 !important;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 15%);
  box-sizing: border-box !important;
  max-height: 144px !important;
  overflow-y: auto;
  z-index: 9999999 !important;
  scrollbar-width: thin;
}

.frequency-dropdown-wrapper .easyassist-custom-dropdown-option-container li {
  font-family: 'Silka', Sans-Serif !important;
  padding: 9px 16px !important;
  /* border-bottom: 1px solid #E6E6E6; */
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  box-sizing: border-box !important;
  list-style: none !important;
  margin: 0 !important;
  color: #4d4d4d;
  text-align: start;
}

.frequency-dropdown-wrapper
  .easyassist-custom-dropdown-option-container
  li.easyassist-option-selected {
  background: #f6f6f6;
  color: #4d4d4d;
}

.frequency-dropdown-wrapper
  .easyassist-custom-dropdown-option-container
  li:hover {
  cursor: pointer;
  background: #f6f6f6;
  color: #4d4d4d;
}

.frequency-dropdown-wrapper .easyassist-custom-dropdown-container .easyassist-dropdown-selected:after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.28642 11.2021C8.00392 11.2024 7.73495 11.0811 7.54825 10.8691L3.35961 6.1079C3.08427 5.77976 3.12124 5.29183 3.44288 5.00893C3.76452 4.72602 4.25319 4.75163 4.5435 5.06661L8.20616 9.23006C8.22642 9.25318 8.25567 9.26644 8.28642 9.26644C8.31717 9.26644 8.34642 9.25318 8.36668 9.23006L12.0293 5.06661C12.2132 4.84745 12.5014 4.74508 12.7824 4.79913C13.0633 4.85317 13.2929 5.05515 13.3824 5.3269C13.4719 5.59864 13.4071 5.89753 13.2132 6.1079L9.02587 10.8674C8.83885 11.0799 8.56952 11.2018 8.28642 11.2021Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 16px;
  top: 50% !important;
  transform: translateY(-50%);
}
.frequency-dropdown-wrapper .easyassist-custom-dropdown-container .easyassist-dropdown-selected.campaign-active-dropdown:after{
  transform: translateY(-50%) rotate(180deg) !important;
}
.frequency-dropdown-wrapper
  .campaign-schedule-list-dropdown-container
  .easyassist-custom-dropdown-option-container {
  max-height: unset !important;
}
.frequency-dropdown-wrapper .active::after {
  transform: rotate(180deg) !important;
  top: 16px !important;
  right: 18px !important;
}

.frequency-dropdown-wrapper ul.easyassist-custom-dropdown-option-container {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  margin-top: 5px !important;
}

.frequency-dropdown-wrapper
  ul.easyassist-custom-dropdown-option-container
  li:not(:first-child) {
  border-top: 1px solid #f6f6f6;
}

.frequency-dropdown-wrapper
  .easyassist-custom-dropdown-option-container.easyassist-dropdown-show {
  display: block;
}

.frequency-dropdown-wrapper
  .easyassist-custom-dropdown-option-container::-webkit-scrollbar-thumb {
  background: #cbcaca;
  border-radius: 4px;
}

.frequency-dropdown-wrapper
  .easyassist-custom-dropdown-option-container::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: 0 0 0px #ebebeb !important;
  border-radius: 3px;
  background: #ebebeb;
}

.hidden-select {
  display: none !important;
}

.custom-campaign-end-date-card,
.custom-frequency-div {
  display: none;
}

.campaign-default-table tbody td[data-content="campaign_name"],
.campaign-default-table tbody td[data-content="channel"]{
  max-width: 217px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#ui-datepicker-div .ui-datepicker-prev.ui-state-disabled,
#ui-datepicker-div .ui-corner-all.ui-state-disabled{
  cursor: url(../icons/red-not-allowed.svg), auto !important;
}

#no_data_found_img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 17em);
}

.active-picker-input{
  border-bottom:2px solid #025FF4 !important;
  color : #025FF4 !important;
}

.delete-multiple-sub-text{
  font-weight: 400;
  font-size: 12px;
  color: #737373;
  margin: 0px 0px 0px 30px;
  display: flex;
}
