@media (max-width:768px) {
    #wrapper #content-wrapper {
        height: 100vh !important;
    }
    #wrapper {
        height: 100vh!important;
    }
    #accordionSidebar {
        z-index: 20 !important;
        width: 0;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
    .sidebar.toggled {
        width: auto !important;
        overflow: hidden !important;
    }
    #dataTable_filter label input,
    .dataTables_filter label input {
        margin: 10px !important;
    }
    input {
        margin: 5px 0 !important;
    }
    .input-group .form-control {
        margin: 0px 0 !important;
    }
    .btn {
        margin: 5px 4px 10px 4px !important;
    }
    .col-sm {
        display: flex !important;
        flex-direction: column !important;
    }
    .col-sm-5 {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .modal input {
        margin: 0 !important;
    }
    .card-cobrowse {
        width: 100% !important;
    }
}