.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .btn-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    box-sizing: border-box;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 13px;
    height: 36px;
    color: #909090;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .btn-default::after {
    content: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='7' height='7' fill='%23E5E5E5'/%3E%3Crect width='1440' height='660' transform='translate(-649 -105)' fill='white'/%3E%3Crect x='-573' y='-49' width='1364' height='604' fill='%23FAFAFA'/%3E%3Crect x='-563' y='-38' width='1344' height='81' fill='white'/%3E%3Crect x='-149.5' y='-14.5' width='170' height='34' rx='4.5' fill='white' stroke='%23E6E6E6'/%3E%3Cpath d='M4.19282 5.8C3.8849 6.33333 3.1151 6.33333 2.80718 5.8L0.295706 1.45C-0.0122147 0.916666 0.372686 0.25 0.988527 0.25H6.01147C6.62732 0.25 7.01221 0.916667 6.70429 1.45L4.19282 5.8Z' fill='%23868686'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    right: 13px;
    border: none;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-search {
    border-radius: 5px !important;
    background: #F6F8FF;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .input-group-addon {
    display: none;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .input-group-btn {
    display: none;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .btn-group {
    width: 100% !important;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container {
    width: 100% !important;
    padding: 0px;
    height: max-content;
    border-radius: 5px!important;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container>li {
    border-bottom: 1px solid #F6F6F6;
    position: relative;
    height: 38px;
    display: flex;
    width: 100%;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container>li>a {
    width: 100%;
}

/* 
.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container>li.active {
    background-color: grey;
} */

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-item.filter {
    position: sticky;
    top: 0px;
    z-index: 100;
    background: #fff;
    padding-top: 5px;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container .input-group {
    width: 100% !important;
    margin: 0px 0px 5px 0px;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container>li>a>label>input[type=checkbox] {
    width: 16px !important;
    height: 16px;
    left: 16px!important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .dropdown-menu>.active>a,
.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .dropdown-menu>.active>a:focus,
.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: #000;
    width: 100%;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .dropdown-menu>.active>a>label{
    background-color: #fff !important;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .dropdown-menu>li>a:focus {
    background: #F8F8F8;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .dropdown-menu>li:hover {
    background: #F8F8F8;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container>li>a>label {
    padding: 8px 8px 4px 46px!important;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #858796;
}

/* .campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .form-control:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
} */

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container>li>a {
    outline: none;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-selected-text {
    width: fit-content;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown {
    width: 100%;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown ::-webkit-scrollbar {
    width: 0px;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown ::-webkit-scrollbar-thumb {
    background: #CFDAE6;
    border-radius: 10px;
}

.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown ::-webkit-scrollbar-track {
    background: #f1f1f1;
}



.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container.dropdown-menu li:first-child{
    border-bottom: 1px solid #F6F6F6;
}
.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container.dropdown-menu li:first-child:hover{
    background: transparent !important;
}

/* changes in css */

.campaign-multiselect-dropdown.custom-class .btn-default,
.single-select-dropdown-div .campaign-multiselect-dropdown .btn-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    box-sizing: border-box;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 13px;
    height: 44px;
    color: #909090;
}


.single-select-dropdown-div .campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container>li>a>label {
    padding: 8px 20px 4px 22px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #000000;
    font-size: 14px;
    font-family: "Silka", "Nunito", sans-serif !important;
}

.single-select-dropdown-div input[type=radio]{
    display: none !important;
}

.single-select-dropdown-div .dropdown-menu {
    min-width: 1rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}
.campaign-multiselect-dropdown.campaign-multiselect-filter-dropdown .multiselect-container::-webkit-scrollbar {
width: 3px!important;
}

