input[type="text"], input[type="tel"], input[type="number"], input[type="email"], select {
	height: 30px;
	width: 70%!important;
	margin: 0!important;
	outline: none!important;
	border-radius: 5px;
	border: 1px solid #E6e6e6;
	background: white;
	box-sizing: border-box;
	padding: 8px!important;
	color: #222;
}

input[type="radio"] {
	margin-bottom: 6px;
	margin-right: 10px;
}

textarea {
	width: 70%;
	margin: 0!important;
	outline: none!important;
	border-radius: 5px;
	border: 1px solid #E6e6e6;
	resize: none!important;
	box-sizing: border-box;
	height: 80px!important;
	padding: 8px!important;
	color: #222;
}

table tr td {
	padding-bottom: 10px;
}

table tr td:first-child {
	font-weight: 500;
	font-style: normal;
	max-width: 450px;
	padding-right: 10px;
}


table {
	width: 80%;
    border-collapse: collapse;
}

select {
	background: white;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.86603 7.5C5.48113 8.16667 4.51887 8.16667 4.13397 7.5L0.669873 1.5C0.284973 0.833334 0.766099 0 1.5359 0H8.4641C9.2339 0 9.71503 0.833333 9.33013 1.5L5.86603 7.5Z' fill='%23757575'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 10px;
    padding: 0.25rem 2rem .375rem .75rem!important;
    font-size: 14px!important;
}

sup {
	color: red;
}

* {
	font-family: "Sans-serif"!important;
	font-size: 14px;
}

@media only screen and (max-width: 767px) {
	tr {
        display: flex;
	    flex-direction: column;
	    width: 100%;
	    padding-bottom: 15px!important;
	}

	tr td input[type="text"], input[type="tel"], input[type="number"], input[type="email"], select, textarea {
		width:  100%!important;
	}

	table tr td:first-child {
		padding-right: 0!important;
	}
}