 /* css for review page */
 
 * {
    font-style: 'slika';
}

.rich_card {
    padding: 10px;
    margin-top: 55%!important;
    margin-left: -60%!important;
    height: 300px !important;
}

.owl-carousel{
    position: absolute !important;
    bottom: 95px;
    left: 20px;
    width: 90% !important;
}

.suggested-reply-carousel-div .owl-carousel{
    bottom: 50px !important; 
    left: 10px;
    width: 90%;
}
        
.review-campaign-header-heading {
    font-size: 14px;
    font-weight: 500;
    color: #2d2d2d;
    margin-left: 10px;
    margin-bottom: 0;
}

.review-campaign-header-subheading {
    margin-left: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #aaaaaa;
    margin-top: 8px;
}

.item {
    display: flex;
    width: 190px!important;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    height: 235px;
    margin-top: 30px;
    margin-left: 2%!important;
    margin-right: -50!important;
    border: 1px solid #EBEBEB!important;
    font-family: Product Sans;
}

.item .card-title {
    font-weight: bold;
    font-size: 11px;
    line-height: 12px;
    color: #2D2D2D;
    margin: 3px 0px;
    height: 25px;
}

.item .img img {
    height: 113px!important;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.item .card-text {
    font-size: 8px;
    line-height: 12px;
    color: #7B7A7B;
    order: 1;
    margin: 6px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.item .btnn {
    font-size: 10px;
    line-height: 12px;
    color: #0254D7;
    margin: 0px 40px;
}
/*Rich Card*/

.rich_card .item {
    display: flex;
    width: 240px!important;
    margin-top: 10.76%;
    background: #FFFFFF;
    border: 1px solid #CBCACA;
    box-sizing: border-box;
    border-radius: 6px;
    font-style: normal;
    position: relative;
    left: 50px;
}

.rich_card .item .card-title {
    position: static;
    height: 12px;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #2D2D2D;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rich_card .item .card-text {
    position: static;
    width: 202px;
    height: 20px;
    left: 0px;
    top: 18px;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    color: #7B7A7B;
    margin: 6px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.item .btnn {
   font-size: 10px;
   line-height: 12px;
   color: #0254D7;
   margin: 8px 40px;
   text-decoration: none;
}

.item .line {
    position: static;
    width: 206px;
    top: 28px;
    border: 0.5px solid #EBEBEB;
    margin: 0px 0px;
}
/*Text with suggested reply*/

.text_card a {
    text-decoration: none;
}

/*Media card started*/

.media {
    position: absolute;
    width: 225px;
    height: 113px;
    left: 23px;
    top: 360px;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 5%) !important;
    border-radius: 8px;
    /* border: 1px solid gray!important;*/
}

.media .img img {
    height: 112px!important;
    border-radius: 8px;
}
/*Carousel with card reply and suggested reply card started*/

.item2 {
    height: fit-content;
    margin-top: 15%!important;
    margin-right: 10%!important;
}

.btn_data {
    position: absolute;
    bottom: 70px;
    right: 20px;
    gap: 5px;
}
.btn_data .btn_layout{
   cursor: pointer;
   text-decoration: none;
}

#footer-buttons {
    box-shadow: 0px -1px 6px rgb(0 0 0 / 10%);
    border-radius: 0 !important;
}

#content-wrapper {
    background: #F8F8F8 !important;
}

#wrapper #content-wrapper #content {
    background: #F8F8F8 !important;
}

#review-page-outer-div{
   height: calc(100vh - 180px); 
   overflow-y: scroll;
}

.text_card .card-data {
    width: 80%;
    position: absolute;
    bottom: 100px;
    left: 10px;
    margin: 10px 0;
    border-radius: 6px;
    color: #2D2D2D;
    font-weight: 400;
    max-height: 270px;
    overflow-x: auto;
 }

.text_card .card-data::-webkit-scrollbar{
    display: none;
 }

 .text_card .row {
    position: absolute;
    bottom: 60px;
    right: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
    width: 90%;
    height: 40px;
    cursor: pointer;
 }

 .text_card .card-data .card-text {
    font-family: 'silka';
    background: #FAFAFA;
    font-size: 12px;
    margin: 10px 0;
    line-height: 15px;
    color: #2D2D2D;
    padding: 15px 15px;
 }

 .suggested-reply-carousel-div a{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
    margin: 0;
    font-size: 12px;
    padding: 10px;
    text-decoration: none;
    font-weight: 400;
    max-width: 170px !important; 
}

 .btn_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6px;
    height: 30px;
    margin-left: 0px;
    border: 1px solid #CBCACA;
    box-sizing: border-box;
    border-radius: 80px;
    font-size: 8px;
    line-height: 10px;
    color: #2D2D2D;
    cursor: pointer;
    direction: ltr;
}

.card-reply-border {
    border-top: 0.5px solid #EBEBEB;
}

.bt-fc-none:first-child {
    border-top: none !important;
}

.rcs-error {
    background: #FFF9F9;
    border: 1px solid #2741FA;
}

.rcs-error span {
    color: #2741FA !important;
}
