@font-face {
  font-family: "special-font";
  src: url("/static/EasyAssistApp/fonts/Quicksand-Medium.ttf");
}

html{
    font-family: "special-font", Fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit; 
}

.inline-icon {
 vertical-align: bottom;
 font-size: 22px !important;
}

.text-uppercase{
	text-transform: uppercase;
}

#global-preloader{
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  position: fixed;
  opacity: 1;
  z-index: 9999;
  background: url('/static/EasyAssistApp/img/curved-bar-preloader.svg') 50% 50% no-repeat;
  background-color: #FFFFFF;
}

.login-bg
{
    background-image: url('/static/EasyAssistApp/img/flat-bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;          
}

#login-page
{
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    height: 100%; 

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
    -ms-flex-align: center;
            align-items: center;
}

#login-page .card-panel.border-radius-6.login-card
{
    margin-left: 0 !important;
}      

.gradient-45deg-purple-deep-orange
{
      background: #8e24aa;
      background: -webkit-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
      background: -moz- oldlinear-gradient(45deg, #8e24aa, #ff6e40) !important;
      background:      -o-linear-gradient(45deg, #8e24aa, #ff6e40) !important;
      background:         linear-gradient(45deg, #8e24aa, #ff6e40) !important;
}

.gradient-45deg-purple-deep-orange.gradient-shadow
{
    -webkit-box-shadow: 0 6px 20px 0 rgba(255, 110, 64, .5) !important;
            box-shadow: 0 6px 20px 0 rgba(255, 110, 64, .5) !important;
}

.gradient-45deg-indigo-deep-purple
{
      background: #e8eaf6;
      background: -webkit-linear-gradient(45deg, #e8eaf6, #311b92) !important;
      background: -moz- oldlinear-gradient(45deg, #e8eaf6, #311b92) !important;
      background:      -o-linear-gradient(45deg, #e8eaf6, #311b92) !important;
      background:         linear-gradient(45deg, #e8eaf6, #311b92) !important;
}

.gradient-45deg-indigo-deep-purple.gradient-shadow
{
    -webkit-box-shadow: 0 6px 20px 0 rgba(75, 0, 130, .5) !important;
            box-shadow: 0 6px 20px 0 rgba(75, 0, 130, .5) !important;
}


.gradient-45deg-orange-dark-red
{
      background: #ffe0b2;
      background: -webkit-linear-gradient(45deg, #ffe0b2, #b71c1c) !important;
      background: -moz- oldlinear-gradient(45deg, #ffe0b2, #b71c1c) !important;
      background:      -o-linear-gradient(45deg, #ffe0b2, #b71c1c) !important;
      background:         linear-gradient(45deg, #ffe0b2, #b71c1c) !important;
}

.gradient-45deg-orange-dark-red.gradient-shadow
{
    -webkit-box-shadow: 0 6px 20px 0 rgba(139, 0, 0, .5) !important;
            box-shadow: 0 6px 20px 0 rgba(139, 0, 0, .5) !important;
}

/* width */
::-webkit-scrollbar {
  width: 0.5em !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 110, 64, 0.5); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 110, 64, 0.5); 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active, .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active{
    background-color: #ffe0b2 !important;
}

.sidenav .collapsible-body>ul:not(.collapsible)>li.active a, .sidenav.sidenav-fixed .collapsible-body>ul:not(.collapsible)>li.active a{
    color: #000000 !important;  
}

.modal th {
    font-weight: 400 !important;
}

.modal a {
    color: #204DAF !important;

}

.modal .fa-paper-plane {
    color: #204DAF !important;
}

.modal .close {
    font-family: 'Silka', Sans-Serif !important;
    font-weight: 500 !important;
    padding: 1.2rem 1.4rem 1rem 1rem !important;
}

.modal-footer {
    border: 0 0 20px 20px !important;
    border-bottom-right-radius: 40px !important;
}

.modal-content {
    border-radius: 20px !important;
    border: none !important;
    font-family: 'Silka', Sans-Serif;
    letter-spacing: -0.04em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;

}

.modal-body {
    padding: 1.2rem !important;
}

.modal-header {
    border-top-right-radius: 90px !important;
    border-top-left-radius: 90px !important;
}

.modal-title {
    color: #204DAF !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}

.modal .btn-primary {
    padding: 4px 16px !important;
    background-color: #3662C5 !important;
    border-radius: 30px !important;
    border-color: #3662C5 !important;
    letter-spacing: -0.02em;
    color: #fff !important;

}

.modal .btn-primary:hover {
    transform: 0.2s all ease;
    background-color: #204DAF !important;


}

.modal .btn-secondary {
    border-radius: 30px !important;
    border: 1px solid #717384 !important;
    color: #717384;
    background: white !important;
    padding: 4px 16px !important;
    letter-spacing: -0.02em;

}

.modal .btn-secondary:hover {
    color: #fff !important;
    background: #717384 !important;
    transform: 0.2s all ease !important;

}

.modal .easyassist-custom-nav-bar a label {
    font-family: 'Silka', Sans-Serif;
    background: #204DAF !important;
}

/* Live Chat */
#allincall-chat-box,
#easyassist-livechat-iframe {
    box-shadow: rgba(0, 0, 0, 0.256863) 0px 5px 40px !important;
}