.campaign-status-percent-div{
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 12px;
    flex-wrap: wrap;
}
.campaign-status-percent-div .status-percent-card-div{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 9px;
    min-width: 127px;
}
.campaign-status-percent-div .status-percent-card-div .status-detail-content-div .campaign-status{
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #4D4D4D;
}
.campaign-status-percent-div .status-percent-card-div .status-detail-content-div p{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}
.campaign-status-percent-div .status-percent-card-div .status-detail-content-div .campaign-total-percent .total{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.campaign-status-percent-div .status-percent-card-div .status-detail-content-div .campaign-total-percent .percent{
    background: #4984E2;
    border-radius: 1px;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 0 2px;
    height: 14px;
}
.table#whatsapp_campaign_details_table thead th{
    background: #FAFAFA;
    box-shadow: inset 0px -0.951394px 0px rgb(102 102 102 / 8%);
    vertical-align: middle;
    padding: 12px;
    max-width: 221px;
    word-wrap: break-word;
}
.table#whatsapp_campaign_details_table tbody td{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    padding: 12px !important;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.table#whatsapp_campaign_details_table .campaign-report-table-clickhere-btn{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2741FA !important;
    background: transparent !important;
    border: 0 !important;
    outline: 0 !important;
}
.campaign-select-div-wrapper .campaign-multiselect-dropdown.whatsapp-campaign-select button{
    background: #FFFFFF;
    border: 2px solid #EBEBEB;
    border-radius: 4px !important;
}
.campaign-select-div-wrapper .campaign-multiselect-dropdown.whatsapp-campaign-select .multiselect-selected-text{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
}

.campaign-select-div-wrapper .campaign-multiselect-dropdown.whatsapp-campaign-select .btn-group .multiselect-container .multiselect-item .multiselect-search::-webkit-input-placeholder{
    background-repeat: no-repeat !important;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.85631 9.90427L12.7357 13.7827C13.0259 14.0724 13.496 14.0724 13.7862 13.7827C14.0713 13.4906 14.0713 13.0246 13.7862 12.7324L9.90682 8.85403C11.6639 6.54486 11.3309 3.26951 9.14497 1.36104C6.95905 -0.54742 3.66785 -0.436272 1.61573 1.61531C-0.436385 3.6669 -0.547561 6.95726 1.36139 9.14261C3.27035 11.328 6.54655 11.6609 8.85631 9.90427ZM1.52409 5.53521C1.52409 3.32072 3.31976 1.52551 5.53483 1.52551C7.74881 1.52813 9.54294 3.3218 9.54556 5.53521C9.54556 7.74971 7.7499 9.54492 5.53483 9.54492C3.31976 9.54492 1.52409 7.74971 1.52409 5.53521Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
    background-position: left;
    text-indent: 24px;
}
.campaign-select-div-wrapper .campaign-multiselect-dropdown.whatsapp-campaign-select .btn-group .multiselect-container .multiselect-item .multiselect-search{
    background: #FAFAFA;
}
.campaign-select-div-wrapper .campaign-multiselect-dropdown.whatsapp-campaign-select .btn-group button.multiselect::after{
    content: '';
    position: absolute;
    content: ' ';
    right: 6%;
    top: 45%;
    border: 2px solid #2D2D2D;
    width: 7px;
    height: 7px;
    border-width: 0px 2px 2px 0;
    transform: translateY(-50%) rotate(45deg);
    margin: 0 !important;
    /* transition: transform 0.5s ease-out; */
}
.campaign-select-div-wrapper .campaign-multiselect-dropdown.whatsapp-campaign-select .btn-group{
    position: relative;
}
.campaign-select-div-wrapper .campaign-multiselect-dropdown.whatsapp-campaign-select .btn-group.show  button.multiselect::after{
    transform: translateY(-50%) rotate(225deg);
    top: 55%;
}
.campaign-select-div-wrapper .campaign-multiselect-dropdown.whatsapp-campaign-select .btn-group .multiselect-container li label{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    display: flex;
    align-items: center;
    white-space: inherit;
    word-break: break-word;
}
.campaign-select-div-wrapper .campaign-multiselect-dropdown.whatsapp-campaign-select .btn-group .multiselect-container li a:hover{
    text-decoration: none;
}
.campaign-custom-date-select-area input:focus,
.campaign-export-new-modal input:focus{
    border: 1px solid #d1d3e2 !important;
    color: #2D2D2D;
}
input:focus {
    border: 0px!important; 
    box-shadow: none!important;
}
.campaign-export-new-modal input{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    padding: 0 16px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 0px 4px rgba(50, 50, 71, 0.06);
    border-radius: 4px;
}
.campaign-export-new-modal h6{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #4D4D4D;
}
.campaign-export-new-modal .modal-body p.note{
    background: #F6F6F6;
    border-radius: 4px;
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.7px;
    color: #4D4D4D;
    padding: 8px 15px 8px 15px;
}
.campaign-export-new-modal .easyassist-custom-dropdown-container .easyassist-dropdown-selected{
    padding: 0 16px !important;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.campaign-export-new-modal .easyassist-custom-dropdown-container .easyassist-dropdown-selected:after{
    content: '';
    position: absolute;
    content: ' ';
    right: 6%;
    top: 48%;
    border: 2px solid #CBCACA;
    width: 7px;
    height: 7px;
    border-width: 0px 2px 2px 0;
    transform: translateY(-50%) rotate(45deg);
    margin: 0 !important;
}
.campaign-export-new-modal .easyassist-custom-dropdown-container .easyassist-dropdown-selected.campaign-active-dropdown::after{
    transform: translateY(-50%) rotate(225deg) !important;
    top: 55% !important;
}
.custom_modal.campaign-export-new-modal .modal-footer{
    padding:18px 43px!important;
}
.card.campaign-report-table-card .campaign-report-card-header{
    background: #F8F8F8;
    border: 1px solid #EBEBEB !important;
    border-radius: 4px 4px 0px 0px !important;
    padding: 12px 15px;
}
.card.campaign-report-table-card .campaign-report-card-header .whatsapp_history_heading{
    display: flex;
    align-items: center;
    gap: 12px;
}
.card.campaign-report-table-card .campaign-report-card-header .heading-text-primary{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 17.1251px;
    line-height: 21px;
    color: #4A4A4A;
    margin: 0 0 0 0 !important;
}
.campaign-report-table-card .whatsapp_history_search_bar_div{
    padding: 0 2px;
    display: flex;
    align-items: center;
    border: 1px solid #EBEBEB !important;
    border-radius: 4px;
}
.campaign-report-table-card .whatsapp_history_search_bar_div .form_assist_search_icon{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    margin-left: 18px;
}
.campaign-report-table-card .whatsapp_history_search_bar_div .whatsapp_history_search_bar{
    width: auto !important;
    padding: 0 0 0 8px !important;
    height: 32px;
    font-weight: 400;
    color: #2D2D2D;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}
.campaign-report-table-card .whatsapp_history_search_bar_div .whatsapp_history_search_bar::placeholder{
    font-weight: 500; 
    color: #CBCACA;
}

.card.campaign-report-table-card .campaign-report-card-header .custom-btn-row{
    align-items: center;
}
.dataTables_filter, .dataTables_paginate, .dataTables_length{
    display: none;
}
.campaign-report-table-card .campaign-report-table-length{
    display: flex;
    align-items: center;
    gap: 10px;
}
.campaign-report-table-card .campaign-report-table-length label{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
    margin: 0 !important;
}
.campaign-report-table-card .campaign-report-table-length select{
    border: 2px solid #EBEBEB;
    border-radius: 3.55869px;
    height: 40px;
    padding: 0 9px;
    background: white;
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
}
.campaign-report-table-card .campaign-report-table-length .dropdown{
    width: auto;
}
.campaign-report-table-card .campaign-report-table-length .dropdown button.btn{ 
    border: 2px solid #EBEBEB;
    border-radius: 4px !important;
    height: 40px;
    padding: 0 9px;
    background: white;
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
    display: flex;
    align-items: center;
    width: 60px;
    outline: 0 !important;
    margin: 0 !important;
}
.campaign-report-table-card .campaign-report-table-length .dropdown .dropdown-menu{
    width: inherit;
}
.campaign-report-table-card .campaign-report-table-length .dropdown .dropdown-menu li{
    text-align: center;
}
.campaign-report-table-card .campaign-report-table-length .dropdown .dropdown-menu .dropdown-item{
    padding: 0.25rem 0rem;
}
.campaign-report-table-card .campaign-report-table-length .dropdown button.btn .filter-option-inner{ 
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 !important;
}
.campaign-report-table-card .campaign-report-table-length .dropdown .dropdown-toggle::after{
    position: absolute;
    content: ' ';
    right: 20%;
    top: 45%;
    border: 1px solid #334155;
    width: 7px;
    height: 7px;
    border-width: 0px 2px 2px 0;
    transform: translateY(-50%) rotate(45deg);
    margin: 0 !important;
}
.campaign-report-table-card .campaign-report-table-length .dropdown.show .dropdown-toggle::after{
    transform: translateY(-50%) rotate(225deg);
    top: 51%;
}
.campaign-report-table-card .campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-container>li>a>label>input[type=checkbox]{

    width: auto !important;
    height: 16px;
    position: revert;
    transform: none;
    cursor: pointer;
    margin: 0 10px 0 0px;
}
.campaign-filter-status-select-area label input{
    display: none;
}
.campaign-filter-status-select-area .status-box{
    cursor: pointer;
}
.campaign-filter-status-select-area input[type=checkbox]:checked+.status-box span{
    color: #0254D7 ;
}
.campaign-filter-select-div .btn-group button{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px !important;
}
.campaign-filter-select-div .btn-group button{
    padding: 0px 20px 0px 16px;
}
.campaign-filter-select-div .btn-group button .multiselect-selected-text{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
}
.campaign-filter-select-div .btn-group ul li label{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
}
.campaign-filter-select-div .dropdown-menu>.active>a>label {
    font-weight: 500 !important;
}
.campaign-filter-input-div input{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0px 20px 0px 16px;
}
.template-name-chips-div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 9px;
    max-height: 137px;
    overflow-y: auto;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    padding: 12px 12px 9px 12px;
    margin-bottom: 16px
}
.template-name-chips-div .chips{
    background: #0254D7;
    border-radius: 4px;
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    height: 32px;
    padding: 0 12px;
    gap: 8px;
}
.template-name-chips-div .chips .cross-icon{
    cursor: pointer;
}
.filter-heading {
    margin: 0 0px 15px 0px !important;
}
.campaign-filter-field .btn-group{
    margin-bottom: 16px;
}
.campaign-filter-select-div .campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .btn-default::after{
    content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.83983 8.40149C5.62795 8.40175 5.42623 8.31075 5.28621 8.15173L2.14472 4.58086C1.93822 4.33476 1.96595 3.96881 2.20718 3.75663C2.44841 3.54446 2.81491 3.56366 3.03264 3.79989L5.77963 6.92248C5.79483 6.93983 5.81677 6.94977 5.83983 6.94977C5.86289 6.94977 5.88483 6.93983 5.90003 6.92248L8.64702 3.79989C8.78495 3.63552 9.00108 3.55875 9.21179 3.59929C9.4225 3.63982 9.59472 3.7913 9.66182 3.99511C9.72892 4.19892 9.68036 4.42309 9.53494 4.58086L6.39442 8.15045C6.25415 8.30985 6.05216 8.40129 5.83983 8.40149Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
    top: 50%;
}
.campaign-filter-select-div .campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .btn-group.show .btn-default::after{
    transform: translateY(-50%) rotate(180deg);
}
.custom_modal .modal-body {
    max-height: 410px !important;
    overflow-y: auto ;
}
.campaign-report-table-card .custom-btn-row {
    flex-wrap: wrap;
    justify-content: end;
    gap: 8px;
    margin-bottom: unset!important;
}
.bootstrap-select .dropdown-menu{
    padding: 0;
}
.campaign-filter-select-div .campaign-multiselect-dropdown .btn-group .multiselect-container .multiselect-item .multiselect-search{
    background: #FAFAFA;
    border: 1px solid #F6F6F6;
    border-radius: 4px;
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
}
.campaign-filter-select-div .campaign-multiselect-dropdown .btn-group .multiselect-container .multiselect-item .multiselect-search::-webkit-input-placeholder{
    background-repeat: no-repeat !important;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.85631 9.90427L12.7357 13.7827C13.0259 14.0724 13.496 14.0724 13.7862 13.7827C14.0713 13.4906 14.0713 13.0246 13.7862 12.7324L9.90682 8.85403C11.6639 6.54486 11.3309 3.26951 9.14497 1.36104C6.95905 -0.54742 3.66785 -0.436272 1.61573 1.61531C-0.436385 3.6669 -0.547561 6.95726 1.36139 9.14261C3.27035 11.328 6.54655 11.6609 8.85631 9.90427ZM1.52409 5.53521C1.52409 3.32072 3.31976 1.52551 5.53483 1.52551C7.74881 1.52813 9.54294 3.3218 9.54556 5.53521C9.54556 7.74971 7.7499 9.54492 5.53483 9.54492C3.31976 9.54492 1.52409 7.74971 1.52409 5.53521Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
    background-position: left;
    text-indent: 24px;
}
.campaign-custom-date-select-area input[type="date"]::-webkit-calendar-picker-indicator{
   cursor: pointer;
   background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1.25C8.41421 1.25 8.75 1.58579 8.75 2V3H15.25V2C15.25 1.58579 15.5858 1.25 16 1.25C16.4142 1.25 16.75 1.58579 16.75 2V3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6C3 4.34315 4.34315 3 6 3H7.25V2C7.25 1.58579 7.58579 1.25 8 1.25ZM15.25 4.5V5.5C15.25 5.91421 15.5858 6.25 16 6.25C16.4142 6.25 16.75 5.91421 16.75 5.5V4.5H18C18.8284 4.5 19.5 5.17157 19.5 6V7.5H4.5V6C4.5 5.17157 5.17157 4.5 6 4.5H7.25V5.5C7.25 5.91421 7.58579 6.25 8 6.25C8.41421 6.25 8.75 5.91421 8.75 5.5V4.5H15.25ZM4.5 8.5V18C4.5 18.8284 5.17157 19.5 6 19.5H18C18.8284 19.5 19.5 18.8284 19.5 18V8.5H4.5ZM5.25 12C5.25 11.5858 5.58579 11.25 6 11.25H8C8.41421 11.25 8.75 11.5858 8.75 12C8.75 12.4142 8.41421 12.75 8 12.75H6C5.58579 12.75 5.25 12.4142 5.25 12ZM11 11.25C10.5858 11.25 10.25 11.5858 10.25 12C10.25 12.4142 10.5858 12.75 11 12.75H13C13.4142 12.75 13.75 12.4142 13.75 12C13.75 11.5858 13.4142 11.25 13 11.25H11ZM15.25 12C15.25 11.5858 15.5858 11.25 16 11.25H18C18.4142 11.25 18.75 11.5858 18.75 12C18.75 12.4142 18.4142 12.75 18 12.75H16C15.5858 12.75 15.25 12.4142 15.25 12ZM6 15.25C5.58579 15.25 5.25 15.5858 5.25 16C5.25 16.4142 5.58579 16.75 6 16.75H8C8.41421 16.75 8.75 16.4142 8.75 16C8.75 15.5858 8.41421 15.25 8 15.25H6ZM10.25 16C10.25 15.5858 10.5858 15.25 11 15.25H13C13.4142 15.25 13.75 15.5858 13.75 16C13.75 16.4142 13.4142 16.75 13 16.75H11C10.5858 16.75 10.25 16.4142 10.25 16ZM16 15.25C15.5858 15.25 15.25 15.5858 15.25 16C15.25 16.4142 15.5858 16.75 16 16.75H18C18.4142 16.75 18.75 16.4142 18.75 16C18.75 15.5858 18.4142 15.25 18 15.25H16Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
}
.campaign-custom-date-select-area input{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.campaign-custom-date-select-area{
    margin-bottom: 16px;
}
.campaign-custom-date-select-area .custom-select-date-div{
    padding: 0px; 
    font-weight: 500;
    color: #4d4d4d;
    font-size: 14px;
}
::-webkit-scrollbar {
    width: 4px !important;
}
.card.campaign-report-table-card  .card-body table {
    border: 1px solid #E2E8F0 !important;
    margin: 6px 0 0 0 !important;
}
.campaign-select-div-wrapper{
    width: 183px;
}
.campaign-report-table-card{
    min-height: calc(100vh - 6em);
    margin-bottom: 0 !important;
}
button.btn-primary {
    background: #0254D7 !important;
    border: 0px !important;
}
.pagination .page-item.active .page-link {
    background: #1B65DB !important;
    border-color: #1B65DB !important;
}
.campaign-tms-new-modal .easyassist-custom-dropdown-container .easyassist-dropdown-selected:after{
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.83989 8.40149C5.62801 8.40175 5.42629 8.31075 5.28627 8.15173L2.14478 4.58086C1.93828 4.33476 1.96601 3.96881 2.20724 3.75663C2.44847 3.54446 2.81497 3.56366 3.0327 3.79989L5.77969 6.92248C5.79489 6.93983 5.81683 6.94977 5.83989 6.94977C5.86295 6.94977 5.88489 6.93983 5.90009 6.92248L8.64709 3.79989C8.78501 3.63552 9.00114 3.55875 9.21185 3.59929C9.42256 3.63982 9.59478 3.7913 9.66188 3.99511C9.72898 4.19892 9.68042 4.42309 9.535 4.58086L6.39448 8.15045C6.25422 8.30985 6.05222 8.40129 5.83989 8.40149Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
    height: 12px;
    width: 12px;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.campaign-tms-new-modal .campaign-active-dropdown::after {
    transform: translateY(-50%) rotate(180deg) !important;
    top: 50% !important;
}
.custom_modal.campaign-tms-new-modal .modal-body {
    overflow-y: inherit;
}
.campaign-report-table-card .card-body{
    padding: 12px 1.25rem;
}
.whatsapp_history_heading
{
    display: flex;
}
.whatsapp_history_search_bar_div{
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: 1px solid #E6E6E6!important;
    box-shadow: none!important;
    outline: none!important;
    padding: 7px 0px 0px 15px;
    display: flex;
}
.whatsapp_history_search_bar
{
    background: #FFFFFF;
    flex: none;
    order: 0;
    width: 90% !important;
    flex-grow: 1;
    border: 0px!important;
    box-shadow: none!important;
    outline: none!important;
    padding-left: 8px!important;
    position: relative;
    top: 50%;
    transform: translateY(-19px);
}
.whatsapp_history_search_bar::placeholder {
    
    color: #7B7A7B;
    font-size: 14px;
    letter-spacing: 0.01em;
}

.card .btn,.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .btn-default {
    height: 40px;
}
.whatsapp-multiselect-filter-dropdown .ms-options-wrap>button {
    border-bottom: 1px solid #CBCACA !important;
    border: 1px solid #CBCACA!important;
    border-radius: 8px!important;
    padding: 5px 10px 5px 10px!important;
    font-weight: 500!important;
    font-size: 16px!important;
    line-height: 19px!important;
    width: 104%;
    height: 48px;
    color: #7B7A7B;
}
.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .btn-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    box-sizing: border-box;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 13px;
    height: 40px;
    color: #909090;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .btn-default::after {
    content: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='7' height='7' fill='%23E5E5E5'/%3E%3Crect width='1440' height='660' transform='translate(-649 -105)' fill='white'/%3E%3Crect x='-573' y='-49' width='1364' height='604' fill='%23FAFAFA'/%3E%3Crect x='-563' y='-38' width='1344' height='81' fill='white'/%3E%3Crect x='-149.5' y='-14.5' width='170' height='34' rx='4.5' fill='white' stroke='%23E6E6E6'/%3E%3Cpath d='M4.19282 5.8C3.8849 6.33333 3.1151 6.33333 2.80718 5.8L0.295706 1.45C-0.0122147 0.916666 0.372686 0.25 0.988527 0.25H6.01147C6.62732 0.25 7.01221 0.916667 6.70429 1.45L4.19282 5.8Z' fill='%23868686'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    right: 13px;
    border: none;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-search {
    border-radius: 4px !important;
    background: #F6F8FF;
    margin: -5px 2px 0px 2px;
    border: 1px solid #F6F6F6;
}


.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .input-group-addon {
    display: none;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .input-group-btn {
    display: none;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .btn-group {
    width: 100% !important;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-container {
    width: 100% !important;
    padding: 0px;
    max-height: 222px;
    overflow-y: auto;
    border-radius: 5px!important;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-container>li {
    /* padding: 0px 6px; */
    border-bottom: 1px solid #F6F6F6;
    border-top: 1px solid #F6F6F6;
    position: relative;
    min-height: 40px;
    display: flex;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-container>li>a {
    width: 100%;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-item.filter {
    position: sticky;
    top: 0px;
    z-index: 100;
    background: #fff;
    padding-top: 5px;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-container .input-group {
    width: 100% !important;
    margin: 0px 0px 5px 0px;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-container>li>a>label>input[type=checkbox] {
    width: 16px !important;
    height: 16px;
    right: 8px;
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    cursor: pointer;
    margin-left: 5px;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .dropdown-menu>.active>a,
.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .dropdown-menu>.active>a:focus,
.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: #000;
    width: 100%;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .dropdown-menu>.active>a>label{
    color: #000 !important;
    background: #F6F6F6;
    padding: 6px 15px;
    font-weight: 600;
}
.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .dropdown-menu>.active>li{
    background: #F6F6F6;
}


.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .dropdown-menu>li>a:focus {
    background: #F6F8FF;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .dropdown-menu>li:hover {
    background: #F6F6F6;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-container>li>a>label {
    padding: 6px 15px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #000000;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-container>li>a {
    outline: none;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-selected-text {
    width: fit-content;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #7B7A7B;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown {
    width: 100%;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown ::-webkit-scrollbar {
    width: 0px;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown ::-webkit-scrollbar-thumb {
    background: #CFDAE6;
    border-radius: 10px;
}

.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown ::-webkit-scrollbar-track {
    background: #f1f1f1;
}



.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-container.dropdown-menu li:first-child{
    border-bottom: 1px solid #F6F6F6;
}
.campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-container.dropdown-menu li:first-child:hover{
    background: transparent !important;
}
.single-select-dropdown-div .campaign-multiselect-dropdown.whatsapp-multiselect-filter-dropdown .multiselect-container>li>a>label {
    padding: 8px 20px 4px 15px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: #858796;
}
#campaign_custom_filter_modal .campaign-filter-status-select-area input[type=checkbox]:checked+.status-box {
    border: 1px solid #0254D7 !important;
}
.campaign-date-range-heading-div{
    display: flex;
    align-items: center;
    justify-content: end;
}
#whatsapp-campaign-date-range{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #7B7A7B;
    vertical-align: middle;
}
#phone_number{
    width: 140px!important;
    white-space: nowrap;
    text-align: left!important;
}
#campaign{
    width: 220px!important;
    white-space: nowrap;
    text-align: left!important;
}
#failure_reason{
    width: 180px!important;
    white-space: nowrap;
    text-align: left!important;
}
#recipient_id{
    width: 180px!important;
    white-space: nowrap;
    text-align: left!important;
}
#template{
    width: 160px!important;
    white-space: nowrap;
    text-align: left!important;
}
#quick_reply{
    width: 180px!important;
    white-space: nowrap;
    text-align: left!important;
}
#sent_time{
    width: 155px!important;
    white-space: nowrap;
    text-align: left!important;
}
#delivered_time{
    width: 155px!important;
    white-space: nowrap;
    text-align: left!important;
}
#read_time{
    width: 155px!important;
    white-space: nowrap;
    text-align: left!important;
}
#chat_history{
    width: 86px!important;
    white-space: nowrap;
    text-align: left!important;
}
#status{
    width: 60px!important;
    white-space: nowrap;
    text-align: left!important;
}
.whatsapp-history-table-tooltipped{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 160px;
}
.card .card-body table th {
    background: #FAFAFA!important;
    color: #2D2D2D!important;
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 17px;
}
.camapign-status-card-reload-btn-div{
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;
    flex-direction: column;
}
.camapign-status-card-reload-btn-div .campaign-reload-btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 0.521739px solid #EBEBEB;
    box-shadow: 0px 0px 2.08696px rgba(0, 0, 0, 0.15);
    border-radius: 2.25px;
}
.camapign-status-card-reload-btn-div .campaign-reload-btn-div:hover{
    background: #1B65DB;
    border: 0.521739px solid #1B65DB;
    box-shadow: 0px 0px 2.08696px rgba(20, 81, 151, 0.15);
}
.camapign-status-card-reload-btn-div .campaign-reload-btn-div:hover svg path{
    fill: #FFFFFF;
}
.camapign-status-messages-submitted{
    display: flex;
    justify-content: space-between;
}
.campaign-report-table-card .whatsapp_history_search_bar_div .search-btn{
    fill: #F6F6F6;
    height: 30px;
    border: 0px;
    width: 32px;
    border-radius: 3px;
}
.campaign-report-table-card .whatsapp_history_search_bar_div .whatsapp_history_search_bar::-webkit-search-cancel-button{
    cursor: pointer;
    appearance: none;
    background: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.37988 2.4165L12.6759 12.0832' stroke='%232D2D2D' stroke-width='1.61111' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.676 2.4165L3.38005 12.0832' stroke='%232D2D2D' stroke-width='1.61111' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
    width: 32px;
    height: 32px;
    background-color: #F6F6F6;
    border-radius: 3px;
    margin-right: 8px;
}
.campaign-report-table-card .whatsapp_history_search_bar_div .search-btn.active{
    background-color: #1B65DB !important;
    height: 30px;
    border: 0px;
    width: 32px;
    border-radius: 3px;
    color: #F6F6F6;
    outline: none;
}
.campaign-report-table-card .whatsapp_history_search_bar_div .search-btn.active svg path{
    fill: white;
    height: 36px;
}
.navbar.navbar-expand {
    margin-bottom: 0.75rem!important;
}
.container-fluid {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
::-webkit-scrollbar {
    width: 2px!important;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
#whatsapp_campaign_table_wrapper {
    display: block;
    overflow-x: auto;  
}
.whatsapp_campaign-reload-svg.active{
    animation: rotation 2s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.campaign-filter-select-div .btn-group .multiselect-container {
    transform: none !important;
    top: 45px !important;

}
#whatsapp_campaign_table_wrapper {
    max-height: calc(100vh - 22em);
    overflow: auto;
}
.card.campaign-report-table-card .card-body table th{
    position: sticky;
    top: 0px;
    border-top: 1px solid #E2E8F0 !important;
}
.table.campaign-user-specific-report-table thead th{
    background: #FAFAFA;
    box-shadow: inset 0px -0.951394px 0px rgb(102 102 102 / 8%);
    vertical-align: middle;
    padding: 0 12px;
    height: 42px;
    max-width: 186px;
    word-wrap: break-word;
}
.card.campaign-report-table-card .card-body table {
    border: 1px solid #E2E8F0 !important;
    border-width: 0px 1px 1px 1px !important;
    margin: 0px 0 0 0 !important;
}
.campaign-report-table-pagination-div .show-pagination-entry-container{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2D2D2D;
}
.tooltip{pointer-events: none;}

.campaign-select-dropdown .dropdown button.dropdown-toggle {
    width: 100%;
    display: block;
    outline: none !important;
    background-color: white !important;
    border-color: inherit !important;
}
.campaign-select-dropdown .dropdown button.dropdown-toggle .filter-option{
    display: flex;
    align-items: center;
}
.campaign-select-dropdown .dropdown button.dropdown-toggle::after{
    position: absolute;
    top: 45%;
    right: 12px;
    border: 2px solid #2D2D2D;
    width: 7px;
    height: 7px;
    border-width: 0px 2px 2px 0;
    transform: translateY(-50%) rotate(45deg);
    margin: 0 !important;
}

.campaign-select-dropdown .dropdown.show button.dropdown-toggle::after{
    transform: translateY(-50%) rotate(225deg);
    top: 55%;
}
.campaign-select-dropdown .dropdown .dropdown-menu .bs-searchbox{
    padding: 4px 2px;
}
.campaign-select-dropdown .dropdown .dropdown-menu .bs-searchbox input{
    background: #FAFAFA;
    border-radius: 4px !important;
    background: #F6F8FF;
    border: 1px solid #F6F6F6 !important;
}
.campaign-select-div-wrapper .campaign-select-dropdown.whatsapp-campaign-select .dropdown-menu .bs-searchbox input::-webkit-input-placeholder {
    background-repeat: no-repeat !important;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.85631 9.90427L12.7357 13.7827C13.0259 14.0724 13.496 14.0724 13.7862 13.7827C14.0713 13.4906 14.0713 13.0246 13.7862 12.7324L9.90682 8.85403C11.6639 6.54486 11.3309 3.26951 9.14497 1.36104C6.95905 -0.54742 3.66785 -0.436272 1.61573 1.61531C-0.436385 3.6669 -0.547561 6.95726 1.36139 9.14261C3.27035 11.328 6.54655 11.6609 8.85631 9.90427ZM1.52409 5.53521C1.52409 3.32072 3.31976 1.52551 5.53483 1.52551C7.74881 1.52813 9.54294 3.3218 9.54556 5.53521C9.54556 7.74971 7.7499 9.54492 5.53483 9.54492C3.31976 9.54492 1.52409 7.74971 1.52409 5.53521Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
    background-position: left;
    text-indent: 24px;
}
.campaign-select-dropdown .dropdown .dropdown-menu{
    max-width: 100%;
    overflow-x: hidden;
}
.campaign-select-div-wrapper .campaign-select-dropdown.whatsapp-campaign-select .dropdown-menu .bs-searchbox input::-webkit-search-cancel-button{
    display: none;
}
.campaign-select-dropdown .dropdown .dropdown-menu ul li{
    white-space: inherit;
    border-bottom: 1px solid #F6F6F6;
    border-top: 1px solid #F6F6F6;
    position: relative;
    /* min-height: 40px; */
    display: flex;
    margin-top: 2px;
    margin-bottom: 2px;
    word-break: break-word;
}
.campaign-select-dropdown .dropdown .dropdown-menu ul li .dropdown-item{
    white-space: inherit;
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    display: flex;
    align-items: center;
    white-space: inherit;
    word-break: break-word;
    padding: 12px 15px;
}
.campaign-select-dropdown .dropdown .dropdown-menu ul li .dropdown-item:active,
.campaign-select-dropdown .dropdown .dropdown-menu ul li .dropdown-item.active{
    color: #000 !important;
    background: #F6F6F6;
}
.campaign-select-dropdown .dropdown .dropdown-menu ul li.no-results{
    align-items: center;
    justify-content: center;
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    background: transparent;
}
.campaign-select-dropdown .dropdown button.dropdown-toggle .filter-option .filter-option-inner{
    width: 100%;
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
}
.campaign-select-dropdown .dropdown button.dropdown-toggle .filter-option .filter-option-inner .filter-option-inner-inner{
    text-overflow: ellipsis;
    overflow: hidden;
}
.table-no-data-found-div-wrapper{
    min-height: calc( 100vh - 472px);
}
button[disabled]#whatsapp-details-search-button {
    cursor: default !important;
}