/*------------------
Twitter: www.twitter.com/enipx
Dribble: www.https://dribbble.com/enipx
Behance: https://www.behance.net/enipx
Github: http://github.com/enipx;
------------------*/

:root {
    --font: 'Poppins', sans-serif;
    --bg: linear-gradient(110deg, #ce11fc, #826aef, #20bfe3);
    --dark: #000000;
    --dark-faded: #393947;
    --light: #ffffff;
    --light-faded: rgba(255, 255, 255, .85);
    --width: 283.55px;
    --height: 584px;
    --face-width: 274.px;
    --face-height: 574px;
    --face-bg: #6843dd;
    --face-radius: 25px;
    --face-bg-img: url("/static/CampaignApp/img/iphone_wallpaper.jpg");
    --whatsapp-bg-img: url("/static/CampaignApp/img/whatsapp_background.svg");
    --face-gradient: linear-gradient(110deg, #e811fc, #826aef, #20bfe3);
    --radius: 28px;
    --camera-radius: 18px;
    --camera-bg: #161516;
    --camera-border: #434144;
    --camera-lens: #0d0a33;
    --camera-lens-reflect: rgba(48, 48, 48, .85);
    --flashlight: radial-gradient(rgba(223, 284, 181, .9), rgba(207, 207, 157, 1));
    --nav-width: 280px;
    --transition: .4s ease-in-out .3s;
    --5: 5px;
    --10: 10px;
    --20: 20px;
    --30: 30px;
    --40: 40px;
    --50: 50px;
}

img {
    width: 100%;
    height: auto;
}

.d-flex {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-items-c {
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-con {
    background: var(--bg);
    z-index: -99;
    overflow: hidden;
}


/* -- Iphone 
-----------------------------*/

.iphone_p {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 0;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.active.iphone_p {
    margin-left: var(--nav-width);
}

.iphone_front,
.iphone_back {
    position: relative;
    margin: 0 25px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    /*cursor: pointer;*/
}

.iphone_front .border,
.iphone_back .border {
    width: var(--width);
    height: var(--height);
    background-color: var(--dark);
    border-radius: var(--radius);
    padding: var(--5);
    overflow: hidden;
    /*	-webkit-box-shadow: 6px 6px 0px rgba(0,0,0,.2);
            box-shadow: 6px 6px 0px rgba(0,0,0,.2);*/
    z-index: 99;
}

.iphone_front .face,
.iphone_back .face {
    width: var(--face-width);
    height: var(--face-height);
    background-color: var(--light);
    border-radius: var(--face-radius);
    position: relative;
    z-index: 99;
}


/* -- Front
-----------------------------*/

.iphone_front .face {
    background-color: var(--face-bg);
    background-image: var(--face-bg-img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.iphone_whatsapp .face.whatsapp {
    background-image: var(--whatsapp-bg-img);
}

.c_wall.face {
    background-image: var(--face-gradient);
}


/*--- SideBtn ---*/

.side_btn_left .btn,
.side_btn_right .btn {
    position: absolute;
    width: 19px;
    height: 39px;
    border-radius: 8px;
    background-color: var(--dark);
    z-index: 1;
}

.side_btn_left .btn {
    left: -3px;
    top: 60px;
}

.side_btn_left .last {
    top: 110px;
}

.side_btn_right .btn {
    right: -3px;
    top: 60px;
}

.side_btn_right .btn:last-child {
    top: 110px;
}

.side_btn_left .right {
    top: 60px;
}


/*--- Bezel ---*/

.iphone_front .bezel_p {
    position: absolute;
    top: 0;
    right: 50%;
    -webkit-transform: translate(50%);
    -ms-transform: translate(50%);
    transform: translate(50%);
}

.bezel_p .square {
    width: 75px;
    height: 9.327px;
    background-color: var(--dark);
}

.bezel_p .bezel {
    width: 75px;
    height: 16.282px;
    background-color: var(--dark);
    border-radius: 8px;
    margin-top: -10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bezel .mouth_piece {
    width: 35px;
    height: 3.5px;
    border-radius: 4px;
    background-color: var(--dark-faded);
    margin-right: 3px;
}

.bezel .camera {
    height: 6px;
    width: 6px;
    background-color: var(--dark-faded);
    border-radius: 50%;
    margin-left: 3px;
}


/*--- Top Nav ---*/

.top_nav {
    padding-top: 3px;
}

.top_nav .left {
    font-size: .42em;
    color: var(--light);
    margin-left: 15px;
    font-size: 10.3286px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.206572px;
    color: #fff!important;
    font-weight: 500;
    padding-top: 0.5em;
}

.top_nav .right {
    margin: 0px 12px 0 auto;
}

.top_nav .right img {
    padding: 0 2px;
}

.top_nav .right svg {
    margin: 0 4px;
}


/*--- Date & time ---*/

.date_time {
    padding-top: 35px;
    text-align: center;
    color: var(--light);
}

.date_time .lock {
    width: 12px;
}

.unlock.lock {
    display: none;
}

.date_time .time {
    font-size: 2em;
    margin: 15px 0 6px 0;
    color: var(--light)!important;
}

.date_time .date {
    font-size: .55em;
    color: var(--light)!important;
}


/*--- Home icon ---*/

.home_icon {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 30px;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    /* pointer-events: none; */
}

.home_icon .home_icon_con {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home_icon .icon {
    width: 60px;
    padding: 0px 8px;
}

.unlock.home_icon {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
}


/*--- Bottom ---*/

.bottom_icon {
    position: absolute;
    width: 100%;
    bottom: 40px;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    opacity: 1;
}

.bottom_icon img {
    width: 25px;
}

.bottom_icon .torch {
    margin-left: 20px;
}

.bottom_icon .camera {
    margin-right: 20px;
    margin-left: auto;
}

.bottom_line {
    width: 75px;
    height: 2.2px;
    border-radius: 2px;
    background-color: var(--light-faded);
    position: absolute;
    bottom: 7px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.unlock.bottom_icon {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
}


/* -- Back
-----------------------------*/

.iphone_back .border {
    background-color: var(--dark-faded);
}

.iphone_back .face {
    background-color: var(--dark);
}

.iphone_back .face-blend {
    position: absolute;
    width: 100%;
    height: 50%;
    border-radius: var(--face-radius);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(255, 255, 255, .05);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 15%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 15%, 0 100%);
}

.iphone_back .apple {
    position: absolute;
    top: 48%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    width: 42px;
}

.back_camera {
    width: 65px;
    height: 68.596px;
    background-color: var(--camera-bg);
    border: 1px solid var(--camera-border);
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: var(--camera-radius);
    padding: 0 5px;
}

.lens_p {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.lens_p .lens_con {
    width: 50%;
}

.lens_p .lens_con:first-child {
    margin: 5px 0 3px 0;
}

.lens_p .lens_con2 {
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px)
}

.lens {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: var(--dark);
    padding: 6px;
}

.lens .lens_blend {
    width: 15px;
    height: 15px;
    background-color: var(--camera-lens);
    border-radius: 50%;
    position: relative;
}

.lens_blend .reflect {
    width: 5.6px;
    height: 5.6px;
    background-color: var(--camera-lens-reflect);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.lens_blend .reflect:last-child {
    right: 0;
    top: 0;
}

.back_camera .flashlight {
    width: 9px;
    height: 9px;
    background: var(--flashlight);
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 14px;
    border: .5 solid var(--camera-border);
}

.back_camera .flashlight_b {
    width: 5px;
    height: 5px;
    background-color: var(--dark);
    bottom: 10px;
    position: absolute;
    right: 16px;
    border-radius: 50%;
}


/* -- Nav
-----------------------------*/


/*.nav_icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.nav_icon span{
    width: 35px;
    height: 3px;
    border-radius: 10px;
    margin-bottom: 4px;
    background-color: var(--light);
    display: block;
}

.nav_icon .icon2 {
    width: 20px;
}

.nav_icon .icon3 {
    width: 30px;
}

.nav_close {

}

.nav_close span {
    width: 35px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--face-bg);
    display: block;
}

.nav_close .icon1 {
    -webkit-transform: rotate(45deg) translate(4px, 6px);
        -ms-transform: rotate(45deg) translate(4px, 6px);
            transform: rotate(45deg) translate(4px, 6px);
    margin-bottom: 11px;
}

.nav_close .icon2 {
    -webkit-transform: rotate(-45deg) translate(4px, -6px);
        -ms-transform: rotate(-45deg) translate(4px, -6px);
            transform: rotate(-45deg) translate(4px, -6px);
}
*/


/*.nav {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--light);
    padding: 0px;
    overflow: hidden;
    z-index: 999;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.nav_active.nav {
    width: var(--nav-width);
}

.nav .con {
    padding: 20px;
}

.nav .action_btn {
    margin-top: 50px;
}

.nav .action_btn li {
    padding: 15px 0;
}*/

.s_back {
    display: none;
}

.zoom.iphone_p .iphone_front {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    margin-right: 45px;
}

.zoom.iphone_p .iphone_back {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    margin-left: 45px;
}


/* -- Social Icon
-----------------------------*/


/*.social {
    position: absolute;
    bottom: 40px;
}

.social li {
    display: inline-block;
    padding: 0 20px;
}

.social li:nth-child(2) {
    padding-right: 0;
}

.social li:first-child,
.social li:last-child {
    padding: 0;
}

.social img {
    width: 25px;
}*/


/* -- Media Query
-----------------------------*/

@media screen and (max-width: 860px) {
    .zoom.iphone_p .iphone_front {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        margin-right: 25px;
    }
    .zoom.iphone_p .iphone_back {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        margin-left: 25px;
    }
}


/*@media screen and (max-width: 760px) {
    .nav_active.nav {
        width: 100%;
    }

    .nav ul {
        text-align: center;
    }

    button {
        padding: 12px 40px;	
    }

    .social {
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
        width: 100%;
    }

    .social li {
        padding: 0 40px;
    }
}*/

@media screen and (max-width: 500px) {
    .iphone_front {
        /*-webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2);*/
        margin: 0;
    }
    .iphone_back {
        display: none;
    }
    .s_back {
        display: inline;
    }
}

.iphone_front .whatsapp-icon-btn {
    padding: 0!important;
    outline: none!important;
    border: none!important;
    background: transparent;
}

.iphone_front .whatsapp-icon-btn:hover {
    transform: scale(1.2)!important;
    transition: all ease-in-out 0.2s;
}

.iphone_whatsapp .top_nav {
    height: 60.594425201416016px;
    /* width: 258.2148742675781px; */
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #F6F6F6;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}

.iphone_whatsapp .top_nav .left {
    margin-left: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 10.3286px;
    line-height: 12px;
    text-align: center;
    letter-spacing: -0.206572px;
    color: #171717!important;
    padding-top: 0!important;
    position: absolute;
    top: 8px;
    left: 3px;
}

.iphone_whatsapp .top_nav .right {
    position: absolute;
    top: 8px;
    right: 16px;
    margin: 0!important;
    gap: 0.3em;
}

.iphone_whatsapp .top_nav .right svg {
    margin: 0 2px!important;
}

.iphone_whatsapp .whatsapp_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    padding: 0 1em!important;
}

.iphone_whatsapp .whatsapp_back_btn,
.iphone_whatsapp .whatsapp_video,
.iphone_whatsapp .whatsapp_call,
.iphone_whatsapp .whatsapp_add_icon_btn,
.iphone_whatsapp .whatsapp_cam_icon_btn,
.iphone_whatsapp .whatsapp_mic_icon_btn {
    background: transparent;
    outline: none!important;
    border: none!important;
    padding: 0!important;
    pointer-events: none;
}

.iphone_whatsapp .whatsapp_title {
    display: flex;
    gap: 0.6em;
}

.iphone_whatsapp .whatsapp_sub_title_container {
    display: flex;
    flex-direction: column;
}

.iphone_whatsapp .whatsapp_title_text {
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.206572px;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98px;
    white-space: nowrap;
    text-transform: capitalize;
}

.iphone_whatsapp .whatsapp_title_text.xs {
    font-size: 8px;
    color: #8E8E93;
}

.app-footer {
    position: absolute;
    width: 100%;
    height: 55.09px;
    left: 0px;
    bottom: 1px;
    background: #F6F6F6;
    box-shadow: 0px -0.227229px 0px #a6a6aa;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em 0em 1em;
    align-items: flex-start;
}

.iphone_whatsapp .bottom_line {
    background: #060606;
    height: 3.44px;
    width: 92.27px;
}

.whatsapp_input {
    width: 156.99px;
    height: 22.03px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.45;
    border: 0.344286px solid #8E8E93;
    box-sizing: border-box;
    border-radius: 11.0172px;
    pointer-events: none;
}

.whatsapp_input_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.2em;
}

.whatsapp_input_container svg {
    margin-left: -1.2em;
}


/* @keyframes fade-in {
    from {
        transform:scale(0.1);
    }
    to {
        transform:scale(1);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
} */

.iphone_front.hide {
    display: none;
    animation: fade-in 1s;
}

.iphone_front.show {
    display: block!important;
    animation: fade-in 1s;
}

.iphone_whatsapp.show {
    display: block!important;
    animation: fade-in 1s;
}

.iphone_whatsapp.hide {
    display: none;
    animation: fade-in 1s;
}

.app-body {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em 0.5em;
}

.whatsapp-msg-attachment {
    width: 136.34px;
    height: 95.71px;
    border-radius: 11.0172px;
}

.whatsapp-msg-container .message-body {
    background: #FAFAFA;
    font-family: Silka;
    font-style: normal;
    font-size: 9px;
    color: #000000;
    padding: 1em;
    border-radius: 5px;
    line-height: 16px;
    max-width: 200px;
}

.whatsapp-msg-container .message-body-cta {
    background: #FAFAFA;
    font-family: Silka;
    font-style: normal;
    font-size: 9px;
    color: #0254D7;
    padding: 1em;
    border-radius: 5px;
    line-height: 16px;
    max-width: 160px;
    text-align: center;
}

.whatsapp-msg-container .message-body-cta span {
    margin-right: 1em;
}

.whatsapp_profile_icon {
    width: 25px;
    height: 25px;
}

.campaign-whatsapp-config-toast-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*top: 75px;*/
    background: #E8F3FF;
    border: 1px solid #93C5FD;
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 101;
    width: fit-content;
    width: -moz-fit-content;
}

.campaign-whatsapp-config-toast-wrapper span {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #2741FA;
}

.campaign-whatsapp-config-toast-wrapper svg {
    margin-right: 8px;
}

.campaign-whatsapp-webhook-btns {
    height: 36px !important;
    border-radius: 4px !important;
    padding-right: 32px !important;
    padding-left: 32px !important;
    color: #fff !important;
    cursor: pointer;
}
