@media (min-width: 576px) {
    .modal.campaign-delete-custom-modal .modal-dialog {
        max-width: 440px;
        top: 50%;
        transform: translateY(-50%) !important;
    }
    .modal.campaign-delete-custom-modal .modal-footer button {
        width: 175px;
        height: 36px;
    }
}

.modal.campaign-delete-custom-modal .modal-body {
    text-align: center;
}

.modal.campaign-delete-custom-modal .campaign-delete-modal-heading-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

.modal.campaign-delete-custom-modal .campaign-delete-modal-content-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #7B7A7B;
}

.modal.campaign-delete-custom-modal .modal-footer {
    justify-content: center !important;
    border: none !important;
}

.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-cancel-btn {
    margin-right: 18px;
    border: 1px solid #DADADA !important;
}

.modal.campaign-delete-custom-modal .modal-footer .campaign-delete-modal-save-btn {
    background-color: #de1b08 !important;
}

.campaign-save-reset-btns {
    height: 36px !important;
    border-radius: 4px !important;
}

.campaign-whatsapp-config-bot-name-div {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7B7A7B;
    display: flex;
    align-items: center;
}

.campaign-whatsapp-config-toast-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75px;
    background: #E8F3FF;
    border: 1px solid #93C5FD;
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 101;
    width: fit-content;
    width: -moz-fit-content;
}

.campaign-whatsapp-config-toast-wrapper span {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #2741FA;
}

.campaign-whatsapp-config-toast-wrapper svg {
    margin-right: 8px;
}

.disable-campaign-whatsapp-config-drop {
    pointer-events: none;
    opacity: 0.5;
}

.campaign-whatsapp-webhook-btns {
    height: 36px !important;
    border-radius: 4px !important;
    padding: 0px 32px !important;
}

.campaign-whatsapp-config-dropdown-container .easyassist-custom-dropdown-option-container {
    max-height: 220px !important;
}

#warning-msg-namespace
{
    display: none;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 1px 10px 1px 10px;
    gap: 10px;
    position: absolute;
    width: max-content;
    height: 35px;
    right: 31%;
    top: 6px;
    background: #FDF6DB;
    border: 1px solid #F7D14C;
    border-radius: 4px;
}

.warning-msg-namespace p
{
    color: #7B7A7B;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Silka';
    margin-top: 15px!important;
}

#warning-msg-namespace-length
{
    display: none;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 1px 10px 1px 10px;
    gap: 10px;
    position: absolute;
    width: max-content;
    height: 35px;
    right: 21%;
    top: 6px;
    background: #FDF6DB;
    border: 1px solid #F7D14C;
    border-radius: 4px;
}

#warning-msg-namespace-length p
{
    color: #7B7A7B;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Silka';
    margin-top: 15px!important;
}

#sp-char-warning-msg-namespace
{
    display: none;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 1px 10px 1px 10px;
    gap: 10px;
    position: absolute;
    width: max-content;
    height: 35px;
    right: 21%;
    top: 6px;
    background: #FDF6DB;
    border: 1px solid #F7D14C;
    border-radius: 4px;
}

#sp-char-warning-msg-namespace p
{
    color: #7B7A7B;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Silka';
    margin-top: 15px!important;
}

#success-msg-namespace
{
    display: none;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 1px 10px 1px 10px;
    gap: 10px;
    position: absolute;
    width: max-content;
    height: 35px;
    right: 40%;
    top: 6px;
    background: #ECFDF5;
    border: 1px solid #34D399;
    border-radius: 4px;
}

#success-msg-namespace p
{
    color: #4D4D4D;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Silka';
    margin-top: 15px!important;
}

#campaign-namespace
{
    display: none;
    font-family: "Silka", Sans-Serif;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    padding: 9px 20px!important;
    font-size: 14px;
    font-weight: 500;
    order: 0!important;
    box-sizing: border-box!important;
    cursor: text;
    color: #2D2D2D;
    text-align: left!important;
}

#save-wa-code-btn, #reset-wa-code-btn
{
    width: 100%!important;
    min-width: 60px; 
    justify-content: center;
}
.campaign-tooltip-namespace .campaign-tooltip-svg {
    width: 14px;
    height: 14px;
}
button[disabled]{
    cursor: url(../icons/red-not-allowed.svg), auto !important;
}
button[disabled]:active{
    pointer-events: none;
}
.campaign-primary-button-custom{
    background-color: #0254d7;
    color: #FFFFFF !important;
}
.campaign-primary-button-custom:hover,
.campaign-primary-button-custom-red:hover{
    transform: none !important;
}
.campaign-primary-button-custom-red{
    background-color: #E10E00;
    color: #FFFFFF !important;
}