body {
  margin: 0px;
  font-family: "Arial";
}
.main {
  position: relative;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.logo {
  position: absolute;
  margin: 25px;
  width: 175px;
}
.search {
  display: inline-block;
  position: absolute;
  width: 600px;
  height: 50px;
  left: 220px;
  top: 25px;
  background: white;
  /*border-radius: 2px;*/
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

img {
  cursor: pointer;
}
.mag {
  position: absolute;
  height: 20px;
  left: 565px;
  top: 15px;
}

input {
  margin-left: 10px;
  width: 500px;
  border: none;
  line-height: 45px;
  font-size: 18px;
}

input[type=text]:focus{
	outline: none;
}

.results {
  position: relative;
  display: block;
  width: 600px;
  height: 120px;
  margin-left: 210px;
  padding: 1em;
}
.dym {
  position: relative;
  display: block;
  font-size: 19px;
  width: 600px;
  height: 20px;
  margin-left: 210px;
  padding: 1em;
}
.dym-1 {
  position: relative;
  display: block;
  font-size: 16px;
}
.link-1 {
  font-size: 16px;
  text-decoration: none;
}
.link-1:hover {
  text-decoration: underline;
}
.ind {
  position: absolute;
}
.link {
  font-size: 20px;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.url {
  color: #005900;
  margin: 0px;
  font-size: 14px;
}
.stats {
margin-left: 230px;
color: rgba(0, 0, 0, 0.5);
font-size: 14px;
}

.desc {
  color: rgba(0, 0, 0, 0.6);
}
.options {
  position: relative;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.options li {
  display: inline-block;
  list-style-type: none;
  padding-left: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.options li:hover {
  color: black;
}

.blue {
  height: 45px;
  width: 90px;
  font-weight: bold;
  color: #4387fd;
  border-bottom: 3px solid #4387fd;
}

.tools {
  position: absolute;
  margin-top: -20px;
  line-height: 30px;
  height: 30px;
  width: 120px;
}
.tools:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.5);
  background: -webkit-linear-gradient(#e5e5e5, #cecece);
}

.options ul {
  margin-left: 185px;
  line-height: 20px;
}

