{% extends 'EasyChatApp/base.html' %}
{% block content %}
{% load static %}
{% load custom_filters %}

{% if selected_bot_obj.default_theme.name == "theme_1" %}
<link rel="stylesheet" type="text/css" href="{% static 'EasyChatApp/css/theme1_embed.css' %}?v={% random_int 1 100 %}">
{% elif selected_bot_obj.default_theme.name == "theme_2" %}
<link rel="stylesheet" type="text/css" href="{% static 'EasyChatApp/css/theme2_embed.css' %}?v={% random_int 1 100 %}">
{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'EasyChatApp/css/console.css' %}?v={% random_int 1 100 %}">

<div class="easychat-main-wrapper">
  {% include "EasyChatApp/sidenavbar/sidebarnav.html" %}

  <div   class="easychat-content-wrapper" id="easychat-content-wrapper">
    <div style="padding-top:1%; padding-bottom: 50px;">
      {% block consolecontent %}
      {% endblock %}
    </div>
  </div>

</div>


<script>

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'yyyy-mm-dd',
    });
  });
  
  
  elements = document.getElementsByClassName("collapsed-section-href");
  for(var index=0; index<elements.length; index++){
     if(elements[index].href!=undefined){
        elements[index].classList.remove("collapsed-item-active");
        $(elements[index]).parent().prev().removeClass("uncollapsed-item-active");
     }
  }

  for(var index=0; index<elements.length; index++){
     if(elements[index].href!=undefined && window.location.href.indexOf(elements[index].href)!=-1){
        elements[index].classList.add("collapsed-item-active");
        $(elements[index]).parent().prev().addClass("uncollapsed-item-active");
        break;
     }
  }

</script>

{% endblock %}
