{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="robots" content="noindex" />
  <meta name="googlebot" content="noindex" />
  <meta name="googlebot-news" content="noindex" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title class="site-title">LiveChat Customer Care</title>
  {% if request.user.enable_s3_bucket %}     
    <link rel="shortcut icon" type="image/png" href="https://static.allincall.in/static/EasyChatApp/img/favicon.svg"/>
  {% else %}


      <link rel="shortcut icon" type="image/png" href="{% static 'EasyChatApp/img/favicon.svg' %}"/>
  {% endif %}

  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% if request.user.enable_s3_bucket %}     
      <link href="https://static.allincall.in/static/EasyChatApp/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  {% else %}
      <link href="{% static 'EasyChatApp/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% endif %}

  
  <link href="{% static 'EasyChatApp/css/style2.css' %}?v={% random_int 1 100 %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    {% if request.user.enable_s3_bucket %}     
       <script type="text/javascript" src="https://static.allincall.in/static/EasyChatApp/js/jquery.min.js"></script>
    {% else %}
       <script type="text/javascript" src="{% static 'EasyChatApp/js/jquery.min.js' %}"></script>
    {% endif %}


  <style>
    body {
        background: url("/static/EasyChatApp/img/purple-bg.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
  </style>
</head>
<body>
{% csrf_token %}

<div class="section no-pad-bot" id="index-banner">
    <div>
      <div class="row">
        <div class="col s3"></div>

        <div class="col s6">
          <br><br>
          <br><br>
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title center deep-purple-text text-darken-3"><h3><b>LiveChat Customer Care&copy;</b></h3></span>
              <span class="center deep-purple-text text-darken-3"><h6>
                LiveChat helps you to communicate with customers easily.</h6>
              </span>
              <p>
                <div class="row">
                  <div class="col s3"></div>
                  <div class="col s6">
                    <br>
                    <form>
                      <div class="input-field">
                        <input id="username" type="text" class="validate" autocomplete="off">
                        <label for="username">Username</label>
                      </div>
                      <div class="input-field">
                        <input id="password" type="password" class="validate" autocomplete="off">
                        <label for="password">Password</label>
                      </div>
                      <small><a class="grey-text" href="#">Forgot Password</a></small>
                      <a class=" waves-effect waves-light btn-small right deep-purple darken-2 " href="#!" id="login-customer-agent-btn">Login</a>
                    </form>
                  </div>
                  <div class="col s3"></div>
                </div>
              </p>
              <br>
              <p class="center">
                <small class="deep-purple-text text-darken-3">By signing in you indicate that you have read and agree to LiveChat&copy;'s <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.<small>
              </p>
            </div>
          </div>
        </div>

        <div class="col s3"></div>

      </div>

    </div>
  </div>

  <script type="text/javascript" src="{% static 'EasyChatApp/js/materialize.js' %}"></script>
  {% if request.user.enable_s3_bucket %}     
       <script type="text/javascript" src="https://static.allincall.in/static/EasyChatApp/js/select2.min.js"></script>
    {% else %}
       <script type="text/javascript" src="{% static 'EasyChatApp/js/select2.min.js' %}">
  </script>
    {% endif %}
  <script type="text/javascript" src="{% static 'EasyChatApp/js/console_customer_agent.js' %}?v={% random_int 1 100 %}"></script> 

</body>
</html>