{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="robots" content="noindex,nofollow,noimageindex" />
        <meta name="googlebot" content="noindex,nofollow" />
        <meta name="googlebot-news" content="noindex,nofollow" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>{{ easychat_config_obj.title_text }}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'EasyChatApp/img/favicon.svg' %}"/>
        <link href="{% static 'EasyChatApp/css/material_icons.css' %}" rel="stylesheet">
        <link href="{% static 'EasyChatApp/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'EasyChatApp/css/changes.css' %}?v={% random_int 1 100 %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{% static 'EasyChatApp/css/jquery-ui.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <script type="text/javascript" src="{% static 'EasyChatApp/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'EasyChatApp/js/materialize.js' %}"></script>
    </head>
    <body class="grey lighten-4">
        <div style="margin-top:8%">
            <center>
                <img src="/static/EasyChatApp/img/Error_404.svg">
            </center>
        </div>
    </body>
</html>