{% load static %}
<html>
    <h1>Testing Externally Trigger Intent Feature</h1>
    <button onclick="trigger_intent_8();">Submit</button>
    <button onclick="trigger_intent_4();">Submit</button>
    <button onclick="trigger_intent_6();">Submit</button>
    <button onclick="trigger_intent_10();">Submit</button>
    <script type="text/javascript">
        function trigger_intent_8() {
            trigger_chatbot_query("iqukY1E9UUeZ79y4./KO1qMxgI3QeX/vNnNLwnQ==.DxLLSJKl6tixUgh7vIkwhw==");
        }

        function trigger_intent_4() {
            trigger_chatbot_query("zPXeJaxipAHjEmKB.UlrQFufhRbkLUjEfQy42lg==.wzyMuaamP+jwSwikNAu50w==");
        }

        function trigger_intent_6() {
            trigger_chatbot_query("PmmPMOCfqA75ff9G.NKU96vGDjhMToLIpTt2lPQ==.Pyt47gsPNWqKudHnzg96Jg==");
        }

        function trigger_intent_10() {
            trigger_chatbot_query("K4LvBvQdu1tSitmH.e3nItUlBZa4LZ3S2/EOUBA==.ovrmH47gyo+bNDg8Z5kNXA==");
        }
    </script>
</html>
