{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="{{ easychat_config_obj.tab_logo }}" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" type="text/css" href="{% static 'EasyChatApp/css/theme3_embed.css' %}?v=2">
	<title>{{ easychat_config_obj.title_text }}</title>
<style >
</style>
</head>

<body>

</body>
<script type="text/javascript">
	function easychat_get_url_vars() {
		var vars = {};
		var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m, key, value) {
		    vars[key] = value;
		});
		return vars;
	}
	SERVER_URL= window.location.origin;
	BOT_ID=easychat_get_url_vars()["id"];
	BOT_NAME='uat';
	BOT_THEME='null';
	BOT_POSITION='{{ bot_obj.bot_position }}';
	bot_click_image = 'true';
	is_form_assist='false';
	is_easyassist_enabled='false';
	is_lead_generation='false';
	lead_generation_intent_id='';
</script>
<script src="{% static 'EasyChatApp/js/theme3_embed.js' %}?v=3"></script>
</html>