[Unit]
Description=daphne daemon
After=network.target


[Service]
PIDFile=/run/daphne/pid
User=root
Group=root
WorkingDirectory=/home/ubuntu/EasyChat/
Environment="DJANGO_SETTINGS_MODULE=EasyChat.settings"
ExecStart=/home/ubuntu/venv/bin/daphne --bind 0.0.0.0 --port 8000 --verbosity 0 EasyChat.asgi:application
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-abort
PrivateTmp=true


[Install]
WantedBy=multi-user.target
