[Unit]
Description = Scheduler deamon
After = network.target

[Service]
Type = simple
WorkingDirectory=/home/ubuntu/EasyChatDev/EasyChat/EasyAssistApp/
ExecStart = /home/ubuntu/EasyChatDev/venv/bin/python start_scheduler.py
User = ubuntu
Group = ubuntu
Restart = on-failure # Restart when there are errors
SyslogIdentifier = /var/log/scheduler.log
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
