{% extends 'EasyChatApp/console.html' %}
{% block consolecontent %}
{% load static %}

    <div style="padding: 1em;">
      <div class="col s3">
        <a href="/chat/channels/web" class="black-text center-align"><div class="card">
          <div class="card-image">
            <img class="responsive-img" src="/static/EasyChatApp/img/new_web_channel.png" style="width: 15em; height: 15em;">
          </div>
          <div class="card-content">
            <p>Web</p>
          </div>
        </div></a>        
      </div>      

      <div class="col s3">
        <a href="/chat/channels/google-assistant/" class="black-text center-align"><div class="card">
          <div class="card-image">
            <img class="responsive-img" src="/static/EasyChatApp/img/Google_Assistant_logo.png"  style="width: 15em; height: 15em;">
          </div>
          <div class="card-content">
            <p>Google Home/Assistant</p>
          </div>
        </div></a>        
      </div>      

      <div class="col s3">
        <a href="/chat/channels/alexa/" class="black-text center-align"><div class="card">
          <div class="card-image">
            <img src="/static/EasyChatApp/img/new_alexa_img.png"  style="width: 15em; height: 15em;">
          </div>
          <div class="card-content">
            <p>Alexa</p>
          </div>
        </div></a>        
      </div>      

      <div class="col s3">
        <a href="/chat/channels/whatsapp/" class="black-text center-align"><div class="card">
          <div class="card-image">
            <img src="/static/EasyChatApp/img/whatsapp.png"  style="width: 15em; height: 15em;">
          </div>
          <div class="card-content">
            <p>WhatsApp</p>
          </div>
        </div></a>        
      </div>

    </div style="padding: 1em;">
    <div>
      <div class="col s3">
        <a href="/chat/channels/facebook/" class="black-text center-align"><div class="card">
          <div class="card-image">
            <img src="/static/EasyChatApp/img/Facebook.png"  style="width: 15em; height: 15em;">
          </div>
          <div class="card-content">
            <p>Facebook</p>
          </div>
        </div></a>        
      </div>

      <div class="col s3">
        <a href="/chat/channels/android/" class="black-text center-align"><div class="card">
          <div class="card-image">
            <img src="/static/EasyChatApp/img/Android.png"  style="width: 15em; height: 15em;">
          </div>
          <div class="card-content">
            <p>Android</p>
          </div>
        </div></a>        
      </div>
    </div>

{% endblock %}
