<div id="reset-password-sucess-div" style="display: none; padding: 1rem;">
    <div class="heading-div">
      <h1 style="font-family: Silka;font-style: normal;font-weight: 500;font-size: 20px;line-height: 24px;color: #2D2D2D; margin: 10px 0;">Email has been sent!</h1>
      <p  class="grey-text text-darken-1">OTP has been verified and a reset password link has been sent to you</p>
    </div>
    <div class="center">
      <img src="/static/EasyChatApp/img/login_otp_sent_sucess.svg">
    </div>
    <div class="gy-center">
      <a href="javascript:void(0)" class="btn  btn-user btn-block cancel-btn" onClick="window.location.reload();" style="font-weight: 500 !important;background: transparent !important; width: 100%; color: #7B7A7B !important;" >
        Cancel
      </a>
    </div>
  </div>
  <div id="forgot-pass-otp-div" style="padding: 1rem; display: none; text-align: center;">
    <div class="heading-div">
      <h1 style="font-family: Silka;font-style: normal;font-weight: 500;font-size: 20px;line-height: 24px;color: #2D2D2D; margin: 10px 0;">Enter Verification Code</h1>
      <p class="grey-text text-darken-1">An OTP has been sent to the username provided
       <span id="otp-modal-username" style="color: #2D2D2D;"></span><button id="forgot-password-edit-username-button" class="edit-btn">&nbsp;Edit</button></p>
    </div>
    <!-- <span class="error-text">Invalid OTP</span> -->
    <span id ="forgot-password-invalid-otp-error"class="error-text">Invalid OTP</span>
    <div style="margin: 10px auto;">
      <div class="otp-input-div">
          <input class="browser-default forgot-pass-otp-input" type="text" maxlength="1" size="1" min="0"
              max="9" pattern="[0-9]{1}" inputmode="numeric"/>
          <input class="browser-default forgot-pass-otp-input" type="text" maxlength="1" size="1" min="0"
              max="9" pattern="[0-9]{1}" inputmode="numeric"/>
          <input class="browser-default forgot-pass-otp-input" type="text" maxlength="1" size="1" min="0"
              max="9" pattern="[0-9]{1}" inputmode="numeric"/>
          <input class="browser-default forgot-pass-otp-input" type="text" maxlength="1" size="1" min="0"
              max="9" pattern="[0-9]{1}" inputmode="numeric"/>
          <input class="browser-default forgot-pass-otp-input" type="text" maxlength="1" size="1" min="0"
          max="9" pattern="[0-9]{1}" inputmode="numeric"/>
          <input class="browser-default forgot-pass-otp-input" type="text" maxlength="1" size="1" min="0"
          max="9" pattern="[0-9]{1}" inputmode="numeric"/>
      </div>
        <div class="resend-otp-div">
            <div class="gy-center">
              <p style="color: #E10E00;" id="forgot-incorrect-otp-error">Incorrect OTP</p>
            </div>
            <p class="gy-center">Didn’t receive OTP Code?</p>
            <button id="resend_forgot_password_otp" class="gy-center resend-otp-btn">Resend Code</button><span style="color: #7B7A7B;"> in <span id="forgot-timer">00:29<span></span>
        </div>

        <div class="button-group">
          <a href="javascript:void(0)" class="btn  btn-user btn-block cancel-btn" onClick="window.location.reload();" style="font-weight: 500 !important;background: transparent !important; width: 100%; color: #7B7A7B !important;">Cancel</a>
          <a class="btn btn-primary btn-user btn-block" id="verify-reset-password-otp-button" style="border-radius: 4px !important;font-weight: 500 !important; width: 100%">Verify</a>
        </div>
    </div>
  </div>
  <div id="go-to-login-page" style="display: none; padding: 1rem;">
    <div class="center">
      <svg width="78" height="70" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38.3638 15.7448V37.0975C38.3677 37.6301 38.1425 38.1388 37.7455 38.4939L37.6894 38.55C37.347 38.8419 36.9114 39.0015 36.4614 38.9999H2.53922C2.09244 38.9998 1.66036 38.8403 1.32067 38.55C1.29751 38.5364 1.27822 38.5171 1.26459 38.4939C0.86462 38.14 0.635826 37.6315 0.63631 37.0975V15.7448C0.631871 15.2701 0.813535 14.8125 1.1424 14.4702C1.27645 14.3119 1.43753 14.1786 1.61799 14.0764C1.89956 13.9223 2.21543 13.8417 2.53639 13.8419H36.461C36.9934 13.8515 37.4999 14.0743 37.8669 14.4602C38.1858 14.8121 38.363 15.2699 38.3638 15.7448Z" fill="#0254D7"/>
        <path d="M37.8687 14.4583C37.735 14.6234 19.51 29.1172 19.51 29.1172L1.14136 14.4745L1.14943 14.4669V14.4588L18.4699 0.368734C19.0744 -0.122911 19.941 -0.122911 20.5455 0.368734L37.8687 14.4583Z" fill="#3190FF"/>
        <path d="M33.994 4.63354V17.5788L19.5083 29.1172L5.0144 17.5631V4.63354H33.994Z" fill="#EEEFEE"/>
        <path d="M37.7432 38.4929C37.7269 38.5133 37.7083 38.5318 37.688 38.5481L21.3706 27.6633L22.864 26.4604L37.7432 38.4929Z" fill="#3190FF"/>
        <path d="M17.6372 27.6553L1.31985 38.5467C1.29588 38.535 1.27643 38.5156 1.26465 38.4915L16.1361 26.4447L17.6372 27.6553Z" fill="#3190FF"/>
        <path d="M8.22461 8.03131H30.7748V9.00968H8.22461V8.03131Z" fill="#DBD8DD"/>
        <path d="M8.22461 11.8049H30.7748V12.7832H8.22461V11.8049Z" fill="#DBD8DD"/>
        <path d="M8.22461 15.5789H30.7748V16.5572H8.22461V15.5789Z" fill="#DBD8DD"/>
        <path d="M12.012 19.3524H26.9881V20.3307H12.012V19.3524Z" fill="#DBD8DD"/>
      </svg>
    </div>
  </div>