<style>
    .custom_modal .modal-footer {
        border-radius: 0 0 15px 15px!important;
        background-color: #F6F6F6;
    }
</style>

<div class="modal fade custom_modal" id="map_template_variable_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                        <h5 class="modal-title">Map Variables</h5>
                        <button class="btn pr-0" type="button" data-dismiss="modal">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.4931 0.710017C13.3063 0.522765 13.0526 0.417532 12.7881 0.417532C12.5236 0.417532 12.2699 0.522765 12.0831 0.710017L7.19309 5.59002L2.30309 0.700017C2.11625 0.512765 1.8626 0.407532 1.59809 0.407532C1.33357 0.407532 1.07992 0.512765 0.893086 0.700017C0.503086 1.09002 0.503086 1.72002 0.893086 2.11002L5.78309 7.00002L0.893086 11.89C0.503086 12.28 0.503086 12.91 0.893086 13.3C1.28309 13.69 1.91309 13.69 2.30309 13.3L7.19309 8.41002L12.0831 13.3C12.4731 13.69 13.1031 13.69 13.4931 13.3C13.8831 12.91 13.8831 12.28 13.4931 11.89L8.60309 7.00002L13.4931 2.11002C13.8731 1.73002 13.8731 1.09002 13.4931 0.710017Z" fill="black" fill-opacity="0.54"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 mb-3 p-0">
                    <div class="note-text-div">
                        <p class="mb-0">The variables will be pre-selected if the variable name used in the Template file is similar to the Audience file column name, and the rest values need to be mapped manually.</p>
                        <br>
                        <p class="mb-0"><span style="font-weight: 700;">Note :</span> The messages will be failed to the users where the column selected as a variable has an empty cell or no data.</p>
                    </div>
                </div>

                    <div class="col-sm-12 d-flex align-items-center justify-content-center p-0" id="template_map_header_variable_table">
                        <table class='table custom-table'>
                            <thead>
                                <tr>
                                    <th class="key-value" data-content="Key" scope="col"><p>Key </p></th>
                                    <th class="text-left heade-variable" data-content="Header Variable" scope="col"><p class="text-left">Header Variable</p></th>
                                </tr>
                            </thead>
                            <tbody id="template_map_header_variable_body">
                                
                            </tbody>
                        </table>
                    </div>
                
                    <div class="col-sm-12 d-flex align-items-center justify-content-center p-0" id="template_map_variable_body_table">
                            <table class='table custom-table'>
                                <thead>
                                    <tr>
                                        <th class="key-value" data-content="Key" scope="col"><p>Key </p></th>
                                        <th class="text-left heade-variable" data-content="Body Variable" scope="col"><p class="text-left">Body Variable</p></th>
                                    </tr>
                                </thead>
                                <tbody id="template_map_variable_body">
                                    
                                </tbody>
                            </table>
                    </div>
               
                    <div class="col-sm-12 d-flex align-items-center justify-content-center p-0" id="template_map_dynamic_cta_url_variable_variable_body_table">
                            <table class='table custom-table'>
                                <thead>
                                    <tr>
                                        <th class="key-value" data-content="Key" scope="col"><p>Key </p></th>
                                        <th class="text-left heade-variable" data-content="Dynamic CTA Variable" scope="col"><p class="text-left">Dynamic CTA Variable</p></th>
                                    </tr>
                                </thead>
                                <tbody id="template_map_dynamic_cta_url_variable_variable_body">
                                    
                                </tbody>
                            </table>
                    </div>
                
            
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="map_template_variables(this)" id="map_template_btn">Confirm</button>
            </div>
        </div>
    </div>
</div>