{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>EasyAssist | Agent Page</title>
	{% if request.user.enable_s3_bucket %}
	<link rel="icon" href="https://static.allincall.in/static/EasyAssistApp/img/favicon.png" type="image/png" sizes="16x16">
	{% else %}
	<link rel="icon" href="{% static 'EasyAssistApp/img/favicon.png' %}" type="image/png" sizes="16x16">
	{% endif %}
	<style type="text/css">
		input{
			border:none;
			background-color:#F2F3F6 !important;
			height:30px;
			width:140px;
			padding:0em 1em 0em 1em !important;
			border-radius: 0.2em !important;
		}		

		input:hover{
			border-bottom: 0.2em solid #6A4742 !important;
		}
	</style>
</head>
<body></body>
{% if request.user.enable_s3_bucket %}
<script type="text/javascript" src="https://static.allincall.in/static/EasyAssistApp/js/json2.js"></script>
{% else %}
<script type="text/javascript" src="{% static 'EasyAssistApp/js/json2.js' %}"></script>
{% endif %}

<script type="text/javascript" src="{% static 'EasyAssistApp/js/agent-assist-v2.js' %}"></script>

</html>
