{% load static %}
<!DOCTYPE html>
<html style="overflow:hidden;">
<head>

  <title>Customer | Cobrowse</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">
  <meta name="author" content="">

  <link href="{% static 'EasyAssistApp/css/sb-admin-2.min.css' %}" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'EasyAssistApp/img/cobrowseLogoShort.svg' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'EasyAssistApp/css/cognoai_cobrowse.css' %}">

  <script type="text/javascript" src="{% static 'EasyAssistApp/vendor/jquery/jquery.min.js' %}"></script>

</head>
<body style="margin: unset;" oncontextmenu="return false">
{% csrf_token %}

<div id="cognoai-iframe-div">
    <iframe id="cognoai-iframe" src="{{easychat_host_url}}/easy-assist/cognoai-cobrowse/page-render/{{proxy_cobrowse_io.session_id}}/{{ proxy_cobrowse_io.active_url }}" allow="microphone *"></iframe>
</div>

<div id="easyassist-snackbar"></div>

<script src="{% static 'EasyAssistApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'EasyAssistApp/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="{% static 'EasyAssistApp/js/sb-admin-2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'EasyAssistApp/js/crypto-js.min.js' %}"></script>
<script type="text/javascript" src="{% static 'EasyAssistApp/js/encrypt.js' %}"></script>
<script type="text/javascript" src="{% static 'EasyAssistApp/js/lz-string.min.js' %}"></script>
<script type="text/javascript" src="/static/EasyAssistApp/js/cognoai_cobrowse_loader.js"></script>
<script type="text/javascript" src="{{easychat_host_url}}/static/EasyAssistApp/js/easy-assist-v6.js?key={{access_token}}"></script>

</body>
</html>
