{% load static %}
<!DOCTYPE html>
<html style="overflow:hidden;">
<head>

  <title>CognoAI Cobrowse</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">
  <meta name="author" content="">

  <link href="{% static 'EasyAssistApp/css/sb-admin-2.min.css' %}" rel="stylesheet">

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'EasyAssistApp/img/cobrowseLogoShort.svg' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'EasyAssistApp/css/cognoai_cobrowse.css' %}">

  <script type="text/javascript" src="{% static 'EasyAssistApp/vendor/jquery/jquery.min.js' %}"></script>

</head>
<body style="margin: unset;" oncontextmenu="return false">
{% csrf_token %}

<div id="cognoai-home-container">
    <div class="cognoai-cobrowse-logo-container">
      <img src="https://static.allincall.in/static/EasyAssistApp/img/cobrowseLogo.svg" alt="Cogno CoBrowse" style="height: 65px;">
    </div>

    <div class="cognoai-cobrowse-input-container">
      <input class="form-control mb-4" id="cobrowsing_url" type="text" placeholder="Enter Website URL">
      <input class="form-control mb-4" id="cobrowsing_base_url" type="text" placeholder="Enter Base URL">
      <button type="button" class="btn btn-primary cobrowsing_start_btn" id="cobrowsing_start_btn" onclick="initialize_cobrowsing_session()">Start Cobrowsing</button>
    </div>
</div>

<div id="easyassist-snackbar"></div>

<script src="{% static 'EasyAssistApp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'EasyAssistApp/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="{% static 'EasyAssistApp/js/sb-admin-2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'EasyAssistApp/js/crypto-js.min.js' %}"></script>
<script type="text/javascript" src="{% static 'EasyAssistApp/js/encrypt.js' %}"></script>
<script type="text/javascript" src="{% static 'EasyAssistApp/js/lz-string.min.js' %}"></script>
<script type="text/javascript" src="/static/EasyAssistApp/js/agent_proxy_cobrowsing.js"></script>
</body>
</html>
