<!DOCTYPE html>
<html lang="en">
   <head>
      <title>EasyChat</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <link href="/static/EasyChatApp/img/favicon.svg" rel="icon">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" 
      href="/static/EasyChatApp/css/easychat.css">
   </head>
   <body>

    <div style="z-index: 997;">

      <div id="easychat-navbar">
        <div>
          <div id="easychat-navbar-wrapper">
            <span><strong>{{ bot_obj.bot_display_name }}</strong></span>
            <img alt="Cancel" src="/static/EasyChatApp/img/cancel5.png" style="color:white;height:1em;margin: 1.2em 1em 0em 0em; cursor:pointer; text-align: right;" onclick="close_chatbot()">
          </div>
        </div>
      </div>

      <div id="easychat-chat-container" onscroll="show_scroll_image()">
          <img alt="Scroll to bottom" src="/static/EasyChatApp/img/scroll_to_bottom.png" 
          id="img-scroll-to-bottom" style="display:none;z-index:999;" onclick="scroll_to_bottom()">
      </div>

      <div id="easychat-footer">
          <div style="float:left; overflow: hidden;width:70%;">
            <input type="text" id="user_input" autocomplete="off" 
            placeholder="Ask something" value="" />
            <input type="text" id="audio_interim_input" autocomplete="off" 
            placeholder="Ask something" value="" style="display:none;" />
          </div>
          <div id="easychat-mic-div" onclick="activate_mic()" class="tooltip" style="text-align: center;">
            <span class="tooltiptext">Search by voice</span>
            <img alt="Mic" src="/static/EasyChatApp/img/microphone-black-shape.svg" id="img-mic">
          </div>
          <div id="easychat-query-submit-div" onclick="send_message()" class="tooltip" style="text-align: center;">
            <img alt="Send icon" src="/static/EasyChatApp/img/send-button.svg" id="img-submit-query"> 
          </div>
          <div id="easychat-mic-disable" style="display: none; text-align: center;" onclick="deactivate_mic()">
            <img alt="Cancel" src="/static/EasyChatApp/img/cancel.svg">
          </div>
          <div id="recognition-img" style="display:none;">
            <img alt="Speaking animation" src="/static/EasyChatApp/img/UserSpeakingAnimationOrg2.gif" 
            style="height:4em;width:6em;margin-top:-2em;">
          </div>
      </div>      

    </div>

    <script type="text/javascript" src="/static/EasyChatApp/js/json2.js"></script>
    <script type="text/javascript">
      document.getElementById('easychat-chat-container').style.height = (document.documentElement.clientHeight - (document.getElementById("easychat-navbar").clientHeight + document.getElementById("easychat-footer").clientHeight) - 30).toString() + "px";
    </script>
    <script type="text/javascript" src="/static/EasyChatApp/js/easychat.js"></script>
   </body>
</html>
