<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <strong class="red-text text-darken-2">Payment Request - Expense</strong>
    <hr>
    <p class="red-text">Fields marked with * are mandatory</p>


    <!-- first row for Basic Details-->
    Basic Details
    <div style="border: solid 1px grey;width: 99.9%;margin-top:5px"  class="row">
        <form>
            <div class="row">
                <div class="input-field col s2">
                    <select>
                        <option value="" disabled selected>Amravati;</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Current Unit<span class="red-text"> *</span></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <select>
                        <option value="" disabled selected>2019-2020</option>
                        <option value="1">2018-2019</option>
                        <option value="2">2017-2018</option>
                        <option value="3">2016-2017</option>
                    </select>
                    <label>Financial Year<span class="red-text"> *</span></label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="" id="title" type="text" class="validate">
                    <label for="title">Req Ref No.<span class="red-text"> *</span></label>
                </div>
                <div class="input-field col s3">
                    <input placeholder="" id="title"  type="text" class="datepicker">
                    <label for="title">Request Date<span class="red-text"> *</span></label>
                </div>
                <div class="input-field col s3">
                    <select>
                        <option value="" disabled selected>Maharashtra- RD;</option>
                        <option value="1">option 1</option>
                        <option value="2">option 2</option>
                        <option value="3">option 3</option>
                    </select>
                    <label>Request to Unit<span class="red-text"> *</span></label>
                </div>
        
            <div class="row">
                    <div class="input-field col s2">
                        <input placeholder="" id="title" type="text" class="validate">
                        <label for="title">Total Amount (INR)<span class="red-text"> *</span></label>
                    </div></div>


            Transaction Details
            <div style="border: solid 1px grey; width: 99.5%;margin:auto"  class="row">
                <div class="row">
                    <div class="input-field col s2">
                        <select>
                        <option value="" disabled selected>Please Select</option>
                        <option value="1">Project</option>
                        <option value="2">Salary</option>
                        <option value="3">Credit</option>
                        </select>
                        <label>Payment Purpose<span class="red-text"> *</span></label>
                    </div>
                    <div class="input-field col s2">
                        <select>
                        <option value="" disabled selected>Please Select</option>
                        <option value="1">category 1</option>
                        <option value="2">category 2</option>
                        <option value="3">category 3</option>
                        </select>
                        <label>Payee Category<span class="red-text"> *</span></label>
                    </div>
                </div>        	
                <div class="row">
                    <div class="input-field col s2">
                        <select>
                        <option value="" disabled selected>Please Select</option>
                        <option value="1">option 1</option>
                        <option value="2">option 2</option>
                        <option value="3">option 3</option>
                        </select>
                        <label>Req. Exp Head (Debit)<span class="red-text"> *</span></label>
                    </div>
                    <div class="input-field col s2">
                        <input style="width: 80%;" placeholder="" id="title" type="text" class="validate">
                        <label for="title">Debit Exp. Head Name</label>
                    </div>
                    <div class="input-field col s2">
                        <input style="width: 80%;" placeholder="" id="title" type="text" class="validate">
                        <label for="title">Debit Account Number</label>
                    </div>
                </div>  	
                <div class="row">
                    <div class="input-field col s4">
                        <label>Expense Type<span class="red-text"> *</span></label><br>
                        <p style="display: inline-block;">
                            <label>
                            <input class="with-gap" name="group3" type="radio" checked />
                            <span>Capital</span>
                            </label>
                        </p>
                        <p style="display: inline-block;">
                            <label>
                            <input class="with-gap" name="group3" type="radio" checked />
                            <span>Revenue</span>
                            </label>
                        </p>
                    </div>
                </div>
                Deductions (INR)
                <div style="border: solid 1px grey; width: 99.5%;margin:auto"  class="row">
                    <div class="row">
                        <div class="input-field col s3">
                            <label>Is Deduction applicable<span class="red-text"> *</span></label><br>
                            <p style="display: inline-block;">
                                <label>
                                <input class="with-gap" name="group3" type="radio" checked />
                                <span>Yes</span>
                                </label>
                            </p>
                            <p style="display: inline-block;">
                                <label>
                                <input class="with-gap" name="group3" type="radio" checked />
                                <span>No</span>
                                </label>
                            </p>
                        </div>
                    </div>        	
                    <div class="row">
                        <div class="input-field col s3">
                        <select>
                            <option value="" disabled selected>Please Select</option>
                            <option value="1">option 1</option>
                            <option value="2">option 2</option>
                            <option value="3">option 3</option>
                        </select>
                            <label>Deduction Category<span class="red-text"> *</span></label>
                        </div>

                        <div class="input-field col s3">
                            <label>Deduction Values<span class="red-text"> *</span></label><br>
                            <p style="display: inline-block;">
                                <label>
                                <input class="with-gap" name="group3" type="radio" checked />
                                <span>Flat</span>
                                </label>
                            </p>
                            <p style="display: inline-block;">
                                <label>
                                <input class="with-gap" name="group3" type="radio" checked />
                                <span>variable</span>
                                </label>
                            </p>
                        </div>

                        <div class="input-field col s4">
                            <label>Input as<span class="red-text"> *</span></label><br>
                            <p style="display: inline-block;">
                                <label>
                                <input class="with-gap" name="group3" type="radio" checked />
                                <span>Percentages</span>
                                </label>
                            </p>
                            <p style="display: inline-block;">
                                <label>
                                <input class="with-gap" name="group3" type="radio" checked />
                                <span>Actual Value</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <a style="float: right;" class="waves-effect waves-light btn-small">Reset</a>
                <a style="float: right;" class="waves-effect waves-light btn-small">add</a>    
            </div>
            
            
            <div class="row">
                <div class="input-field col s3">
                    <input style="width: 80%;" placeholder="" id="title" type="text" class="validate">
                    <label for="title">Total Amount (INR)</label>
                </div>
                <div class="input-field col s3">
                    <input style="width: 80%;" placeholder="" id="title" type="text" class="validate">
                    <label for="title">Total Request for Expense (INR)</label>
                </div>
                <div class="input-field col s3">
                    <input style="width: 80%;" placeholder="" id="title" type="text" class="validate">
                    <label for="title">Total Deduction (INR)</label>
                </div>
                <div class="input-field col s3">
                    <input style="width: 80%;" placeholder="" id="title" type="text" class="validate">
                    <label for="title">Difference from Total Amount (INR)</label>
                </div>
            </div>
            
            
            <div class="row">
                <div class="input-field col s3">
                    <label for="title">Maker Comments<span class="red-text"> *</span></label>
                    <textarea rows="5" cols="50">
                    </textarea>

                </div>
            </div>
            
            Upload File
            <div class="row">
                <ul>
                <li class="blue">Attachment(s)</li>
                <li><p>Attach File(s) Attach File(s) [Max: 5 MB] [Allowed Types: JPG, JPEG, BMP, XLS, XLSX, TXT, CSV, DOC, DOCX, PDF, GIF, TIFF, TIF, ODS, ODT, PNG, XPS]</p></div>
                </li>

                </ul>
            </div>
            
            <div class="row">
                <a style="float: right;" class="waves-effect waves-light btn-small">Close</a>
                <a style="float: right;" class="waves-effect waves-light btn-small">Cancel</a>
                <a style="float: right;" class="waves-effect waves-light btn-small">Submit</a>
                <a style="float: right;" class="waves-effect waves-light btn-small">Save</a>    
            </div>
        </form>
    </div>

<script type="text/javascript">
 $(document).ready(function(){
    $('select').formSelect();
    $('.datepicker').datepicker();
  });   
</script>
</body>
</html>
