{% load static %}

<!DOCTYPE html>

<html lang="en" data-textdirection="ltr">
  <head>
    <title>EasyAssist | Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <link rel="stylesheet" type="text/css" href="{% static 'EasyAssistApp/css/material_icons.css' %}" 
    media="screen,projection">
    <link rel="stylesheet" type="text/css" href="{% static 'EasyAssistApp/css/materialize.min.css' %}"  
    media="screen,projection">
    <link rel="stylesheet" type="text/css" href="{% static 'EasyAssistApp/css/style.css' %}"
    media="screen,projection">
    <script type="text/javascript" src="{% static 'EasyAssistApp/vendor/jquery/jquery.min.js' %}">
    </script>
  </head>
  <!-- END: Head-->
  <body class="login-bg">
      {% csrf_token %}
      <div id="global-preloader"></div>
      <div class="row">
        <div class="col s12">
          <div class="container">


            <div id="login-page" class="row">
              <div class="col s12 m6 l6 z-depth-4 card-panel border-radius-6 login-card" style="padding:1em 2em 0em 2em;opacity:0.9;">
                  <div class="row">
                      <div class="input-field col s12" style="border-bottom:0.1em solid black;">
                        <h5>Sign in</h5>                        
                      </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">person</i>
                      <input id="username" type="text" class="validate">
                      <label for="username">Username</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">lock_outline</i>
                      <input id="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12">
                      <a href="javascript:void(0)" class="btn col s12 gradient-45deg-purple-deep-orange" style="border-radius:1em;" id="btn-login" onclick="user_authentication(this)">Login</a>                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12 center">
                      <p><a href="javascript:void(0)" class="purple-text text-darken-3">&#9400;&nbsp;&nbsp;AllinCall Research and Solutions</a></p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>

  <script type="text/javascript" src="{% static 'EasyAssistApp/js/materialize.min.js' %}">
  </script>
  <script type="text/javascript" src="{% static 'EasyAssistApp/js/crypto-js.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'EasyAssistApp/js/init.js' %}"></script>

</html>