{% extends 'EasyAssistApp/console.html' %}
{% block content %}
{% load static %}

{% if request.user.enable_s3_bucket %}
<script src="https://static.allincall.in/static/EasyAssistApp/js/ace.js" type="text/javascript"
    charset="utf-8"></script>
<script type="text/javascript" src="https://static.allincall.in/static/EasyAssistApp/js/jscolor.min.js"></script>
{% else %}
<script src="{% static 'EasyAssistApp/js/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'EasyAssistApp/js/jscolor.min.js' %}"></script>
{% endif %}

<link href="{% static 'EasyAssistApp/css/settings.css' %}" rel="stylesheet" type="text/css">

<div class="container-fluid">
    <div>
        <div id="pills-video-call-agent-setting-options">
            <div class="page-header">
                <div class="row justify-content-between">
                    <div class="col-sm-8 d-flex align-items-center">
                        <div class="nav nav-pills navbar-right">
                            <a class="anchor-reset back-btn" href="/easy-assist/sales-ai/settings/options/video-call">
                                <span class="mr-3 mb-auto" style="cursor: pointer;">
                                    <svg class="back-arrow-svg" width="44" height="44" viewBox="0 0 44 44" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <rect width="44" height="44" rx="22" transform="matrix(1 0 0 -1 0 44)"
                                            fill="white" />
                                            {% if cobrowse_agent.get_access_token_obj.cobrowsing_console_theme_color != None %}
                                            <path
                                            d="M20.2954 29.7162C20.6888 30.1038 21.322 30.0991 21.7096 29.7057C22.0972 29.3123 22.0925 28.6792 21.6991 28.2915L16.3288 23.0001H29.9999C30.5522 23.0001 30.9999 22.5524 30.9999 22.0001C30.9999 21.4479 30.5522 21.0001 29.9999 21.0001H16.3354L21.6991 15.7153C22.0925 15.3276 22.0972 14.6945 21.7096 14.3011C21.322 13.9077 20.6888 13.903 20.2954 14.2906L13.3712 21.113C12.8743 21.6026 12.8743 22.4042 13.3712 22.8938L20.2954 29.7162Z"
                                            fill="{{ access_token_obj.get_cobrowsing_console_theme_color.hex }}" />
                                            {% else %}
                                            <path
                                            d="M20.2954 29.7162C20.6888 30.1038 21.322 30.0991 21.7096 29.7057C22.0972 29.3123 22.0925 28.6792 21.6991 28.2915L16.3288 23.0001H29.9999C30.5522 23.0001 30.9999 22.5524 30.9999 22.0001C30.9999 21.4479 30.5522 21.0001 29.9999 21.0001H16.3354L21.6991 15.7153C22.0925 15.3276 22.0972 14.6945 21.7096 14.3011C21.322 13.9077 20.6888 13.903 20.2954 14.2906L13.3712 21.113C12.8743 21.6026 12.8743 22.4042 13.3712 22.8938L20.2954 29.7162Z"
                                            fill="#0254D7" />
                   
                                            {% endif %} 
                                        
                                    </svg>
                                </span>
                            </a>
                            <h5 class="nav_btn mr-2 mt-2"><a class="anchor-reset"
                                    href="/easy-assist/sales-ai/settings">Settings</a>
                            </h5>
                            <div class=" mr-2 pt-2">
                                <svg class="mini-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2426 12L10.5858 6.34317Z"
                                        fill="#475569" />
                                </svg>
                            </div>
                            <h5 class="nav_btn mr-2 mt-2"><a class="anchor-reset"
                                    href="/easy-assist/sales-ai/settings/options">Options</a>
                            </h5>
                            <div class=" mr-2 pt-2">
                                <svg class="mini-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2426 12L10.5858 6.34317Z"
                                        fill="#475569" />
                                </svg>
                            </div>
                            <h5 class="nav_btn mr-2 mt-2"><a class="anchor-reset"
                                    href="/easy-assist/sales-ai/settings/options/video-call">Video Call </a></h5>
                            <div class=" mr-2 pt-2">
                                <svg class="mini-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.5858 6.34317L12 4.92896L19.0711 12L12 19.0711L10.5858 17.6569L16.2426 12L10.5858 6.34317Z"
                                        fill="#475569" />
                                </svg>
                            </div>
                            <h5 class="nav_btn active1 mt-2">Agent Settings</h5>
                        </div>
                    </div>
                    <div class="col-sm-4 d-flex justify-content-end">
                        <button class="btn btn-width-100" data-toggle="modal" data-target="#modal-confirm-reset-all" id="reset-button">Reset All</button>
                        <button class="btn btn-width-100" id="save-button" onclick="save_video_agent_settings(this)"
                          style="background: #10B981!important;">Save</button>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4 mt-30">
                <div class="card-body p-0">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-borderless gy-settings-table" style="margin-bottom: 0;">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="heading-toggle-text">Enable Screen Capture</th>
                                        <td style="vertical-align: inherit;">
                                            {% if access_token_obj.allow_capture_screenshots %}
                                                <label class="easyassist-option-switch">
                                                <input type="checkbox" id="allow_capture_screenshots" checked>
                                                <span class="easyassist-option-switch-slider round"></span>
                                                </label>
                                            {% else %}
                                                <label class="easyassist-option-switch">
                                                <input type="checkbox" id="allow_capture_screenshots">
                                                <span class="easyassist-option-switch-slider round"></span>
                                                </label>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% if access_token_obj.enable_cognomeet %}
            <div class="card shadow mb-4 mt-30">
                <div class="card-body p-0">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-borderless gy-settings-table" style="margin-bottom: 0;">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="heading-toggle-text">Enable Screen Sharing</th>
                                        <td style="vertical-align: inherit;">
                                            {% if access_token_obj.enable_screen_sharing %}
                                                <label class="easyassist-option-switch">
                                                <input type="checkbox" id="allow_screen_sharing" checked>
                                                <span class="easyassist-option-switch-slider round"></span>
                                                </label>
                                            {% else %}
                                                <label class="easyassist-option-switch">
                                                <input type="checkbox" id="allow_screen_sharing">
                                                <span class="easyassist-option-switch-slider round"></span>
                                                </label>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <!-- disabled state for Screen Sharing-->
            <div class="card shadow mb-4 mt-30">
                <div class="card-body p-0">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-borderless gy-settings-table" style="margin-bottom: 0;">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="heading-toggle-text disable-menu-tab" style="color: #CBCACA !important;">Enable Screen Sharing
                                        </th>
                                        <td style="vertical-align: inherit;">
                                          <label class="easyassist-option-switch">
                                            <input type="checkbox" id="allow_screen_sharing" style="color: #CBCACA !important;" disabled="">
                                            <span data-toggle="tooltip" data-placement="bottom"
                                                data-original-title="Screensharing cannot be enabled since Dyte SDK is disabled"
                                                class="easyassist-option-switch-slider round" style="color: #CBCACA !important;" disabled="">
                                            </span>
                                          </label>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>        
            {% endif %}
            <div class="card shadow mb-4 mt-20">
                <div class="card-body p-0">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-borderless gy-settings-table" style="margin-bottom: 0;">
                                <tbody>
                                    <tr>
                                        <th scope="row" class="heading-toggle-text">Enable Invite Agent</th>
                                        <td style="vertical-align: inherit;">
                                            {% if access_token_obj.enable_invite_agent_in_meeting %}
                                                <label class="easyassist-option-switch">
                                                <input type="checkbox" id="enable_invite_agent_in_meeting" checked>
                                                <span class="easyassist-option-switch-slider round"></span>
                                                </label>
                                            {% else %}
                                                <label class="easyassist-option-switch">
                                                <input type="checkbox" id="enable_invite_agent_in_meeting">
                                                <span class="easyassist-option-switch-slider round"></span>
                                                </label>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4 mt-20">
                <div class="card-body p-0">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-borderless gy-settings-table" style="margin-bottom: 0;">
                                <tbody>
                                    {% if access_token_obj.allow_agent_to_customer_cobrowsing %}
                                        <tr>
                                        <th class="disable-menu-tab heading-toggle-text" style="color: #CBCACA !important;" scope="row">Show lobby page in co-browsing meeting</th>
                                        <td style="vertical-align: inherit;">
                                            <label class="easyassist-option-switch" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Not applicable to Reverse Co-browsing">
                                                <input type="checkbox" id="show_cobrowsing_meeting_lobby" disabled="">
                                                <span class="easyassist-option-switch-slider round"></span>
                                            </label>
                                        </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                        <th class="heading-toggle-text" scope="row">Show lobby page in co-browsing meeting.</th>
                                        <td style="vertical-align: inherit;">
                                            {% if access_token_obj.allow_video_meeting_only and access_token_obj.show_cobrowsing_meeting_lobby %}
                                                <label class="easyassist-option-switch">
                                                    <input type="checkbox" id="show_cobrowsing_meeting_lobby" checked>
                                                    <span class="easyassist-option-switch-slider round"></span>
                                                </label>
                                            {% elif access_token_obj.show_cobrowsing_meeting_lobby %}
                                                <label class="easyassist-option-switch">
                                                    <input type="checkbox" id="show_cobrowsing_meeting_lobby" checked>
                                                    <span class="easyassist-option-switch-slider round"></span>
                                                </label>
                                            {% else %}
                                                <label class="easyassist-option-switch">
                                                    <input type="checkbox" id="show_cobrowsing_meeting_lobby">
                                                    <span class="easyassist-option-switch-slider round"></span>
                                                </label>
                                            {% endif %}
                                        </td>
                                        </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade upload_file_modal" id="modal-confirm-reset-all" tabindex="-1" role="dialog"aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Reset All Settings</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                  <p>This will reset all settings across the console. Are you sure you want to continue?<p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-text-only" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" onclick="reset_cobrowsing_meta_details(this)">Reset</button>
        </div>
      </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        try {
            document.getElementById("nav-settings-menu").classList.add("active")
        } catch(err) {}
    });
</script>

{% endblock %}