<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body style="background-color: #dedeff">

<!--Header-->
<nav style="background-color: white ;height:60px; line-height:79px;" >
  <div  class="nav-wrapper">
    <a href="javascript:void(0)" class="brand-logo blue-text">ABC Mutual Fund</a>
  </div>   
</nav>

 
<div id= "sbimf_form" style="margin-top: 2rem; width: 90%; " class="white container ">
	<h5 style="color: rgba(27, 149, 218, 1);padding-top: 1em;padding-left: 1em;">FIRST APPLICANT DETAILS</h5>
	<!-- first part -->
	<div style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s6">
          <p>PAN</p>
          <input value="" id="Pan-disabled" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          Holder Name
          <input value="" id="Holder-Name-disabled" type="text" class="validate">
        </div>
      </div>
    </div>
    <!-- second part -->
    <div style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s6">
          <p>Mobile Number</p>
          <input value="" id="Mobile-Number-disabled" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <p>Email Id</p>
          <input value="" id="Email-Id-disabled" type="text" class="validate">
        </div>
      </div>
    </div>
    <!-- Third part -->
    <div style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s6">
	        <select id="Tax_Status" class="browser-default">
	          <option value="" disabled selected>Tax Status</option>
	          <option id="Tax_Status_value1" value="Individual">Individual</option>
	          <option id="Tax_Status_value2" value="Sole Proprieter">Sole Proprieter</option>
	        </select>
        </div>
        <div class="input-field col s6">
	        <select id="Gender" class="browser-default">
	          <option value="" disabled selected>Gender</option>
	          <option id="Gender_value1" value="male">male</option>
	          <option id="Gender_value2" value="female">female</option>
	          <option id="Gender_value3" value="other">other</option>
	        </select>
        </div>
      </div>
    </div>
    <!-- Fourth part -->
	<div style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s6">
        	<input placeholder="Date Of Birth" id="dobinput" type="text" class="datepicker">
        </div>
        <div class="input-field col s6">
          <p>Father's Name</p>
          <input value="" id="Father-Name-disabled" type="text" class="validate">
        </div>
      </div>
    </div>

    <h5 style="color: rgba(27, 149, 218, 1);padding-top: 1em;padding-left: 1em;">FATCA DETAILS</h5>
    <!-- Five part -->
    <div style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s6">
	        <select id="Nationality" class="browser-default">
	          <option value="" disabled selected>Nationality</option>
	          <option id="Nationality_value1" value="India">India</option>
	          <option id="Nationality_value2" value="China">China</option>
	          <option id="Nationality_value2" value="Hindustan">Hindustan</option>
	        </select>
        </div>
        <div class="input-field col s6">
	        <select id="Country-Of-Birth" class="browser-default">
	          <option value="" disabled selected>Country Of Birth</option>
	          <option id="Country-Of-Birth_value1" value="India">India</option>
	          <option id="Country-Of-Birth_value2" value="China">China</option>
	          <option id="Country-Of-Birth_value3" value="Hindustan">Hindustan</option>
	        </select>
        </div>
      </div>
    </div>
    <!-- Six part -->
    <div style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s6">
        	<label for="Place-of-Birth">Place of Birth</label>
        	<input id="Place-of-Birth" type="text" class="validate">
      	</div>
        <div class="input-field col s6">
	        <select id="Type-of-Address" class="browser-default">
	          <option value="" disabled selected>Type of Address Given At KRA</option>
	          <option id="Type-of-Address_value1" value="Residential">Residential</option>
	          <option id="Type-of-Address_value2" value="Business">Business</option>
	          <option id="Type-of-Address_value3" value="Registered Office">Registered Office</option>
	        </select>
        </div>
      </div>
    </div>
    <!-- Seven part -->
    <div style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s6">
	        <select id="Occupation" class="browser-default">
	          <option value="" disabled selected>Occupation</option>
	          <option id="Occupation_value1" value="Bussiness">Bussiness</option>
	          <option id="Occupation_value2" value="Sudent">Sudent</option>
	          <option id="Occupation_value3" value="unknown">unknown</option>
	        </select>
        </div>
      </div>
    </div>

    <h5 style="color: rgba(27, 149, 218, 1);padding-top: 1em;padding-left: 1em;">INCOME DETAILS</h5>
    <!-- Eight part -->
    <div style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s8">
	        <select id="Gross-Annual-Income" class="browser-default">
	          <option value="" disabled selected>Gross Annual Income</option>
	          <option id="Gross-Annual-Income_value0" value="Not applicable">Not applicable</option>
	          <option id="Gross-Annual-Income_value1" value="Below 1 lac">Below 1 lac</option>
	          <option id="Gross-Annual-Income_value2" value="1-5 lac">1-5 lac</option>
	          <option id="Gross-Annual-Income_value3" value="5-10 lac">5-10 lac</option>
	        </select>
        </div>
      </div>
    </div>
    <!-- Nineth part -->
	<div id="ninethpart" style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s6">
          <p>Net Worth</p>
          <input id="Net-Worth" type="text" class="validate">
        </div>
     	<div class="input-field col s6">
        	<input placeholder="As On Date" id="As-On-Date" type="text" class="datepicker">
        </div>
      </div>
    </div>
    <!-- tenth part -->
    <label style="padding-left: 1.5em;font-size: 1em;">Is the investor a Politically Exposed Person (PEP)?</label>
    <div style="width: 80%; margin: auto;" class="input-field left-align">
        <p style="display: inline-block;">
          <label>
            <input id="pep_yes" name="pep" type="radio" value="yes"/>
            <span>Yes</span>
          </label>
        </p>
        <p style="display: inline-block;">
          <label>
            <input id="pep_no" name="pep" type="radio" value="no"/>
            <span>No</span>
          </label>
        </p>
        <p style="display: inline-block;">
          <label>
            <input id="related-to-pep" name="pep" type="radio" value="related to pep"/>
            <span>Related to pep</span>
          </label>
        </p>
    </div>
    <!-- eleventh part -->
    <label style="padding-left: 1.5em;font-size: 1em;">Is the applicant(s) Country of Birth / Nationality / Tax Residency other than India?</label>
    <div style="width: 80%; margin: auto;" class="input-field left-align">
        <p style="display: inline-block;">
          <label>
            <input id="india_yes" name="india" type="radio" value="yes"/>
            <span>Yes</span>
          </label>
        </p>
        <p style="display: inline-block;">
          <label>
            <input id="india_no" name="india" type="radio" value="no"/>
            <span>No</span>
          </label>
        </p>
    </div>
    <!-- Twelve part -->
    <div style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s4">
	        <select id="Tax-Country-1" class="browser-default">
	          <option value="" disabled selected>Tax Country</option>
	          <option id="Tax-Country-1_value1" value="america">America</option>
	          <option id="Tax-Country-1_value2" value="japan">Japan</option>
	          <option id="Tax-Country-1_value3" value="russia">Russia</option>
	        </select>
        </div>
        <div class="input-field col s4">
        	<label for="Identification-1">Identification No.</label>
        	<input id="Identification-1" type="text" class="validate">
      	</div>
      	<div class="input-field col s4">
	        <select id="Identification-Type-1" class="browser-default">
	          <option value="" disabled selected>Identification Type</option>
	          <option id="Identification-Type-1_value1" value="america">America</option>
	          <option id="Identification-Type-1_value2" value="japan">Japan</option>
	          <option id="Identification-Type-1_value3" value="russia">Russia</option>
	        </select>
        </div>
      </div>
    </div>
   	<label style="padding-left: 4em;">
        <input id="Add-Country-2" type="checkbox">
        <span>Add Country 2 Details</span>
    </label>
    <!-- Thirteen part -->
    <div style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s4">
	        <select id="Tax-Country-2" class="browser-default">
	          <option value="" disabled selected>Tax Country</option>
	          <option id="Tax-Country-2_value1" value="america">America</option>
	          <option id="Tax-Country-2_value2" value="japan">Japan</option>
	          <option id="Tax-Country-2_value3" value="russia">Russia</option>
	        </select>
        </div>
        <div class="input-field col s4">
        	<p>Identification No.</p>
        	<input id="Identification-2" type="text" class="validate">
      	</div>
      	<div class="input-field col s4">
	        <select id="Identification-Type-2" class="browser-default">
	          <option value="" disabled selected>Identification Type</option>
	          <option id="Identification-Type-2_value1" value="america">America</option>
	          <option id="Identification-Type-2_value2" value="japan">Japan</option>
	          <option id="Identification-Type-2_value3" value="russia">Russia</option>
	        </select>
        </div>
      </div>
    </div>
   	<label style="padding-left: 4em;">
        <input id="Add-Country-3" type="checkbox">
        <span>Add Country 2 Details</span>
    </label>
	<!-- Fourteen part -->
    <div style="width: 80%;margin: auto;">
      <div class="row">
        <div class="input-field col s4">
	        <select id="Tax-Country-3" class="browser-default">
	          <option value="" disabled selected>Tax Country</option>
	          <option id="Tax-Country-3_value1" value="america">America</option>
	          <option id="Tax-Country-3_value2" value="japan">Japan</option>
	          <option id="Tax-Country-3_value3" value="russia">Russia</option>
	        </select>
        </div>
        <div class="input-field col s4">
        	<p>Identification No.</p>
        	<input id="Identification-3" type="text" class="validate">
      	</div>
      	<div class="input-field col s4">
	        <select id="Identification-Type-3" class="browser-default">
	          <option value="" disabled selected>Identification Type</option>
	          <option id="Identification-Type-3_value1" value="america">America</option>
	          <option id="Identification-Type-3_value2" value="japan">Japan</option>
	          <option id="Identification-Type-3_value3" value="russia">Russia</option>
	        </select>
        </div>
      </div>
    </div>


</div>

   	<label style="padding-left: 4em;">
        <input id="terms" type="checkbox">
        <span>I accept Terms & conditions</span>
        <br><br>

    </label>

    <div class="row">
        <div class="col s3 left">
    		<a id="Proceed" style="width: 100%" class="blue waves-effect waves-light btn">Proceed</a>
        </div>
    </div>




<script type="text/javascript">
  $(function() {
  	$('.datepicker').datepicker();
        // $('select').formSelect();
  });
</script>
<script type="text/javascript" src="https://easychat.allincall.in/files/deploy/embed_chatbot_271.js"></script>

</body>
</html>
