{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cobrowsing | Access Denied</title>
    <link rel="stylesheet" href="{% static 'EasyAssistApp/css/session_alerts.css' %}"/>
    {% if cobrowse_config_obj.cobrowsing_favicon %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ cobrowse_config_obj.cobrowsing_favicon }}">
    {% endif %}
</head>

<body style="padding: 20px;">

    <div class="gy-center">
        <div class="gy-alert gy-center gy-alerts-bajaj">
            <div>
                <img src="{% static 'EasyAssistApp/img/alert.svg' %}" alt="alert" class="gy-alerts-icon-left">
            </div>
            <div class="alert-body">
                <div class="gy-alerts-body"><b>2 experts are already connected with the sales representative; hence you cannot join this session now.</b></div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        setInterval(function(e){
            window.location.reload();
        }, 10000);
    </script>
</html>