.easyassist-custom-dropdown-container2 {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    font-family: "Silka", Sans-Serif !important;
    /* border-radius: 30px!important; */
    width: fit-content;
    min-width: 158px;
}

.easyassist-custom-dropdown-option-container2 {
    display: none;
    position: absolute;
    width: 100%;
    top: 32px;
    background: #FFFFFF;
    border-radius: 4px;
    order: 1!important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    box-sizing: border-box!important;
    max-height: 144px!important;
    overflow-y: auto;
    z-index: 9999999 !important;
    text-align: left;
    list-style: none!important;
    margin: 0!important;
    padding: 0!important;
}

.easyassist-custom-dropdown-option-container2::-webkit-scrollbar {
  width: 5px!important;
}

.easyassist-custom-dropdown-option-container2::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: 0 0 0px #777 !important;
  border-radius: 10px;
}

.easyassist-custom-dropdown-option-container2::-webkit-scrollbar-thumb {
  background: #babdc0;
  border-radius: 5px;
}

.easyassist-custom-dropdown-option-container2::-webkit-scrollbar-thumb:hover {
  background: #babdc0;
}

.easyassist-custom-dropdown-container2 select {
    display: none!important;
}

.easyassist-custom-dropdown-option-container2 li {
    font-family: "Silka", Sans-Serif !important;
    padding: 3px 11px!important;
    font-style: normal!important;
    font-weight: 500!important;
    font-size: 13px!important;
    box-sizing: border-box!important;
    list-style: none!important;
    margin: 0!important;
    width: 100%;
    display: block;
}

.easyassist-custom-dropdown-option-container2 li.easyassist-option-selected {
    background: #0254D7;
    color: #FFFFFF;
    text-align: left;
}

.easyassist-custom-dropdown-option-container2 li.disabled {
    background: #909090;
    color: #FFFFFF;
    pointer-events: none;
}

.easyassist-custom-dropdown-option-container2 li:hover {
    cursor: pointer;
    background: #0254D7;
    color: #FFFFFF;
}

.easyassist-custom-dropdown-container2 .easyassist-dropdown-selected2 {
    font-family: "Silka", Sans-Serif !important;
    background: #FFFFFF;
    border: 1px solid #E6E6E6!important;
    /* border-radius: 30px; */
    padding: 3px 11px!important;
    font-size: 13px;

    order: 0!important;
    box-sizing: border-box!important;
    cursor: pointer;
    text-align: left;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;

}

.easyassist-custom-dropdown-container2 .easyassist-dropdown-selected2:after {
    content: "";
    background-image: url("data:image/svg+xml;utf8,<svg fill='rgba(117,117,117,1)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 27px;
    width: 27px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.easyassist-custom-dropdown-option-container2.easyassist-dropdown-show2 {
    display: block;
}
