      @import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

      @media print {
          html, body {
              display: none;  /* hide whole page */
          }
      }

      iframe{
          width: 100%;
          height: 100%;
          border:none !important;
          overflow: scroll;
      }

      #frames-container{
          width:100%;
          height:100%;
          position:fixed;
          top:0;
          left:0;
          align-items: center;
          justify-content: center;          
      }

    .easyassist-custom-nav-bar_wrapper{
        display: inline-block;
        border-radius: 6px;
        box-shadow: 0px 2px 6px grey;
        z-index: 2147483647 !important;
        position: fixed;
        background-color: white;
        color: black;
        top:0%;
        left:0%;
        font-family: 'Varela Round', sans-serif;
    } 

    .easyassist-custom-nav-bar{
      display: flex;
      flex-direction: column;
      width: fit-content;
      padding: 2px;
      z-index: 2147483647 !important;
    }

    .easyassist-custom-nav-bar a {
      text-decoration: none;
      padding: 10px;
      color: #191717;
      margin: 5px 0px;
    }

    .easyassist-custom-nav-bar a label{
        display: none;
        position: absolute;
        background-color: #043C6E;
        color: white;
        padding: 7px 15px;
        border-radius: 10px;
        margin-left: 25px;
        width: 8em;
    }

    .easyassist-custom-nav-bar a i {
      position: relative;
    }

  /*#easyassist-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 3em;
    height: 3em;
    z-index: 2147483647;
    position: fixed;
    top: 45%;
    left: 45%;
    -webkit-animation: easyassist-spin 2s linear infinite;
    animation: easyassist-spin 2s linear infinite;
  }*/

  @-webkit-keyframes easyassist-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes easyassist-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* The easyassist-snackbar - position it at the bottom and in the middle of the screen */
#easyassist-snackbar {
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden; /* Hidden by default. Visible on click */
  max-width: 500px; /* maximum width */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  left: 50%; /* Center the easyassist-snackbar */
  top: 30px; /* 30px from the bottom */
  z-index: 2147483647;
  animation-iteration-count: 1;
}

/* Show the easyassist-snackbar when clicking on a button (class added with JavaScript) */
#easyassist-snackbar.show {
  visibility: visible; /* Show the easyassist-snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the easyassist-snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 6s;
  animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 6s;
}

/* Animations to fade the easyassist-snackbar in and out */
@-webkit-keyframes easyassist-fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes easyassist-fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes easyassist-fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes easyassist-fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}


#allincall-chat-box {
  bottom: 1em;
  right: 1em;
  width: 450px;
  background-color: white;
  /* animation: my-amine-blo 1s; */
  height: 600px;
  max-height: 100%;
  box-shadow: 1px 5px 21px 4px grey;
  border-radius: 0.8em;
  border:0.0em solid rgba(0, 0, 0, 0.2);
  display: none;
  border: none;
  position: fixed;
  animation-duration:0.6s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;


.easychat-bot-message-div{
  margin-top: 0em;
  width:100%;
  display:inline-block !important;
}

.message-time-user{
    font-size:11px;
    float: right;
    text-align: right;
    margin-left: 20px;
    color: white;    
    padding: 0.5em 0em 0em 0.5em;
}

.message-time-bot{
    font-size:11px;
    text-align: right;
    width: 100%;
    float: right;
    padding: 0.5em 0em 0em 0.5em;
}

.easychat-bot-message{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    float: left;
    width: fit-content !important;
    height: auto;
    font-size: 14px;
    color: #262626 !important;
    border-radius: 0px 10px 10px 10px;
    background-color: #ffffff;  
    padding-bottom: 10px !important;
    word-wrap: break-word;
    display: inline-block;
}

@media screen and (min-width: 425px){
    .easychat-bot-message{
        width: fit-content;
        max-width: 80%;
    }
}

.easychat-bot-message-line{
    line-height: 20px;
    padding: 0.8em 0.5em 0.8em 0.5em;
}

.easychat-user-message-div{
    margin: 0em 0em 0em 0em;
    width:100%;
    display:inline-block;
}

.easychat-user-message{
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    float: right;
    height: auto;
    max-width: 80%;
    font-size: 14px;
    color: white;
    border-radius: 10px 0px 10px 10px;
    word-wrap: break-word;
    display: inline-block;
    margin-right:0.3em;
}

.easychat-user-message-line{
    line-height: 16px;
    padding: 0.8em 0.7em 0.8em 0.8em !important;
}

.easychat-livechat-customer-attachment{
    width: 50%;
    float: left;
    background-color: #ffffff;
    margin: 1em 0px 3px 0px;
    padding: 4px 4px 1px 4px;
    border-radius: 0em 1em 1em 1em;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.easychat-livechat-message{height: fit-content;padding: 6px;}


.loader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9995
}


.loaderCenter h3 {
  color: #0072bc;
  font-size: 36px;
  font-family: "Silka", sans-serif;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 0px;
}

.loaderCenter h3:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 10em;
  white-space: nowrap;
  color: #fff;
  -webkit-animation: mainloading 3s linear infinite;
  animation: mainloading 3s linear infinite
}

@keyframes mainloading {
  0% {
    max-width: 0
  }
}

@-webkit-keyframes mainloading {
  0% {
    max-width: 0
  }
}

@media screen and (max-width: 1024px) {

  .loaderCenter h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 639px) {
  .loaderCenter h3 {
    font-size: 1.1rem;
  }
}