@-webkit-keyframes easyassist-ripple-animation {
    from { transform: scale(0); } to { transform: scale(4);}
} 

@-moz-keyframes easyassist-ripple-animation {
    from { transform: scale(0); } to { transform: scale(4);} 
}

@keyframes easyassist-ripple-animation { 
    from { transform: scale(0); } to { transform: scale(4);}
}

#easyassist-side-nav-options-co-browsing{background-color: #C72F2C;transform: rotate(270deg);height: fit-content;width: fit-content;max-height: 50px;display:none;position: fixed;left: -50px;color: white;font-weight: 900;cursor: pointer;top: 60%;border-radius: 0px 0px 10px 10px;box-shadow: 1px -1px 3px black;padding: 4px;border: 2px solid white;z-index:2147483647}
#easyassist-co-browsing-modal-id #easyassist-co-browsing-modal-content .easyassist-close {color: #aaa;float: right;font-size: 28px;font-weight: bold; }
#easyassist-co-browsing-modal-id #easyassist-co-browsing-modal-content .easyassist-close:hover, 
#easyassist-co-browsing-modal-id #easyassist-co-browsing-modal-content .easyassist-close:focus {color: black;text-decoration: none;cursor: pointer;}
#easyassist-co-browsing-modal-id {display: none; position: fixed;z-index: 9999999;left: 0;top: 0;width: 100%;height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
#easyassist-co-browsing-modal-id #easyassist-co-browsing-modal-content {background-color: #fafafa;margin: 10% auto;padding: 20px;border: 1px solid #888;width: 20em;border-radius: 0.5em;}
#easyassist-co-browsing-init-button {float: right; background-color: white; border: 0.1em solid grey;border-radius: 0.2em;padding: 0.1em 0.5em 0.1em 0.5em;}
#easyassist-co-browsing-init-button:hover {background-color: #C72F2C; color: white;}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* The easyassist-snackbar - position it at the bottom and in the middle of the screen */
#easyassist-snackbar {
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  left: 50%; /* Center the easyassist-snackbar */
  top: 30px; /* 30px from the bottom */
  z-index: 2147483647;
  animation-iteration-count: 1;
}

/* Show the easyassist-snackbar when clicking on a button (class added with JavaScript) */
#easyassist-snackbar.show {
  visibility: visible; /* Show the easyassist-snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the easyassist-snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 2.5s;
  animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 2.5s;
}

/* Animations to fade the easyassist-snackbar in and out */
@-webkit-keyframes easyassist-fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes easyassist-fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes easyassist-fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes easyassist-fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}


    #easychat_share_link_Model {
      display: none;
      position: fixed !important;  
      z-index: 999999999 !important; 
      left: 0 !important;
      top: 0 !important;
      width: 100% !important; 
      height: 100% !important;
      overflow: auto !important; 
      background-color: rgb(0,0,0) !important; 
      background-color: rgba(0,0,0,0.4) !important; 
      color: black !important;
    }

    .easychat_share_link_Model-content {
      background-color: #fefefe !important;
      margin: 5em auto !important;
      padding: 20px !important;
      border: 1px solid #888 !important;
      border-radius: 8px !important;
      width: 500px !important;
    }
    .easychat_share_link_Model-content_buttons_wrapper button{
      padding: 10px !important;
    }
    #easychat_share_link_Model-content_link_wrapper{
        width: 97% !important;
        padding: 5px 5px !important;
        text-align: center !important;
        overflow: hidden !important;
        background-color: white !important;
        border:none !important;
    }
    .easychat_share_link_Model-content_wrapper{
          width: 100% !important;
          border: 1px solid gray !important;
          border-radius: 5px !important;
    }
    .easychat_share_link_Model-content-close_button{
          background-color: #4d90fe !important;
          color: white !important;
          border: none !important;
          padding: 8px 15px !important;
          border-radius: 4px !important;
      }



#easyassist-co-browsing-request-assist-modal #easyassist-co-browsing-modal-content .easyassist-close {color: #aaa;float: right;font-size: 28px;font-weight: bold; }
#easyassist-co-browsing-request-assist-modal #easyassist-co-browsing-modal-content .easyassist-close:hover, 
#easyassist-co-browsing-request-assist-modal #easyassist-co-browsing-modal-content .easyassist-close:focus {color: black;text-decoration: none;cursor: pointer;}
#easyassist-co-browsing-request-assist-modal {display: none; position: fixed;z-index: 9999999;left: 0;top: 0;width: 100%;height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
#easyassist-co-browsing-request-assist-modal #easyassist-co-browsing-modal-content {background-color: #fafafa;margin: 10% auto;padding: 20px;border: 1px solid #888;width: 20em;border-radius: 0.5em;}

.easyassist-custom-nav-bar_wrapper{
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0px 2px 6px grey;
    z-index: 2147483647 !important;
    position: fixed;
    background-color: white;
    color: black;
    top:25% !important;
    left:0;
    font-family: 'Varela Round', sans-serif;
} 

.easyassist-custom-nav-bar{
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 2px;
  z-index: 2147483647 !important;
}

.easyassist-custom-nav-bar a {
  text-decoration: none;
  padding: 10px;
  color: #191717;
  margin: 5px 0px;
}

.easyassist-custom-nav-bar a label{
    display: none;
    position: absolute;
    background-color: #1565c0;
    color: white;
    padding: 7px 15px;
    border-radius: 10px;
    margin-left: 25px;
    width: 8em !important;
}

.easyassist-custom-nav-bar a i {
  position: relative;
}

#easyassist-co-browsing-feedback-modal #easyassist-co-browsing-modal-content .easyassist-close {color: #aaa;float: right;font-size: 28px;font-weight: bold; }
#easyassist-co-browsing-feedback-modal #easyassist-co-browsing-modal-content .easyassist-close:hover, 
#easyassist-co-browsing-feedback-modal #easyassist-co-browsing-modal-content .easyassist-close:focus {color: black;text-decoration: none;cursor: pointer;}
#easyassist-co-browsing-feedback-modal {display: none; position: fixed;z-index: 9999999;left: 0;top: 0;width: 100%;height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
#easyassist-co-browsing-feedback-modal #easyassist-co-browsing-modal-content {background-color: #fafafa;margin: 10% auto;padding: 20px;border: 1px solid #888;width: 30em;border-radius: 0.5em;}

#easyassist_agent_joining_modal #easyassist-customer-connect-modal .easyassist-close {color: #aaa;float: right;font-size: 28px;font-weight: bold; }
#easyassist_agent_joining_modal #easyassist-customer-connect-modal .easyassist-close:hover, 
#easyassist_agent_joining_modal #easyassist-customer-connect-modal .easyassist-close:focus {color: black;text-decoration: none;cursor: pointer;}
#easyassist_agent_joining_modal {display: none; position: fixed;z-index: 9999999;left: 0;top: 0;width: 100%;height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
#easyassist_agent_joining_modal #easyassist-customer-connect-modal {background-color: #fafafa;margin: 10% auto;padding: 20px;border: 1px solid #888;width: 30em;border-radius: 0.5em;}

.easyassist-form-control{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#easyAssist-nps-rating-bar-container__XqPZ {
  text-align: center;
  margin: 1em 0;
}
.easyAssist-nps-rating-bar-container button {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  width: 30px;
  border: none;
  background: white;
  transition: .5s linear;
}
.easyAssist-nps-rating-bar-container button:focus {
  outline: none;
}  
