@-webkit-keyframes easyassist-ripple-animation {
    from { transform: scale(0); } to { transform: scale(4);}
}

@-moz-keyframes easyassist-ripple-animation {
    from { transform: scale(0); } to { transform: scale(4);}
}

@keyframes easyassist-ripple-animation {
    from { transform: scale(0); } to { transform: scale(4);}
}

/* connect with agent (name, mobile) modal */

.easyassist-btn-connect{
    position: relative;
    transition:top ease 1s;
    transition:color .15s;
    transition: box-shadow 0.3s ease-in-out;
}
.easyassist-btn-connect:hover{
    top:-2px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.easyassist-btn-hover{
    position: relative;
    transition:top ease 1s;
    transition:color .15s;
    transition: box-shadow 0.3s ease-in-out;
}
.easyassist-btn-hover:hover{
    top:-2px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.easyassist-customer-connect-modal {
  font: normal 14px "Silka", Sans-Serif !important;
  display: none;
  position: fixed !important;
  z-index: 9999999 !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0,0,0,0.4) !important;
  justify-content: center !important;
  align-items: center !important;
  box-sizing: border-box !important;
  color: black !important;
  line-height: 1.5 !important;
  margin: unset !important;
  padding: unset !important;
  overflow: auto !important;
  flex-direction: column!important;
}

.easyassist-no-scroll::-webkit-scrollbar {display:none;}
.easyassist-no-scroll::-moz-scrollbar {display:none;}
.easyassist-no-scroll::-o-scrollbar {display:none;}
.easyassist-no-scroll::-google-ms-scrollbar {display:none;}
.easyassist-no-scroll::-khtml-scrollbar {display:none;}

/*
.easyassist-customer-connect-modal div {
  font: normal 14px "Silka", Sans-Serif !important;
  background-color: #fff !important;
  padding: 30px !important;
  width: 411px !important;
  height: 311px!important;
  border-radius: 20px !important;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  box-sizing: border-box !important;
}
*/

.easyassist-customer-connect-modal .easyassist-customer-connect-modal-content {
  border-radius: 20px !important;
  border: none !important;
  font-family: 'Silka', Sans-Serif;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 411px !important;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  box-sizing: border-box !important;
  padding: 20px 25px!important;
}

.easyassist-customer-connect-modal .easyassist-customer-connect-modal-header {
  border-radius: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem!important;
  font-family: "Silka", Sans-Serif !important;
  background-color: #fff !important;
}

.easyassist-customer-connect-modal .easyassist-customer-connect-modal-body {
  padding: 1rem!important;
  min-height: 8em!important;
  color: #2D2D2D;
  font-family: "Silka", Sans-Serif !important;
  word-break: break-word;
}

.easyassist-customer-connect-modal .easyassist-customer-connect-modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem 1rem 1rem 1rem!important;
}

.easyassist-customer-connect-modal .easyassist-customer-connect-modal-content-wrapper {
  padding: 1em 0!important;
}

.easyassist-customer-connect-modal .easyassist-customer-connect-input-error {
  border: 1px solid #EC2828!important;
}

.easyassist-customer-connect-modal .easyassist-customer-connect-span-prepend {
  display: flex;
  white-space: nowrap;
  align-items: center;
  background: #FFFFFF!important;
  border: 1px solid #E6E6E6!important;
  box-sizing: border-box!important;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1)!important;
  border-radius: 100px 0px 0px 100px;
  padding: 0 1em;
  font-size: 13px!important;
}

.easyassist-customer-connect-modal .easyassist-customer-connect-modal-small-text {
  font-family: "Silka", Sans-Serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #4D4D4D;
}

.easyassist-customer-connect-modal .easyassist-agent-information-text {
  font-family: "Silka", Sans-Serif !important;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #2D2D2D;
  padding-bottom: 5px!important;
}

.easyassist-customer-connect-modal h6 {
  font: normal 16px "Silka", Sans-Serif !important;
  color: #2D2D2D !important;
  font-weight: bold !important;
  box-sizing: border-box !important;
  line-height: 19px !important;
  margin: unset !important;
}

.easyassist-customer-connect-modal hr {
  margin: 10px 0px !important;
  border: 0.1px solid #8080802e !important;
  height: unset !important;
}

.easyassist-customer-connect-modal label {
  display: block!important;
  color: #EC2828!important;
  font: normal 14px "Silka", Sans-Serif !important;
  margin: unset !important;
  float: none !important;
  padding-left: 1em!important;
}

.easyassist-customer-connect-modal p {
  color: #2D2D2D;
  font: normal 14px "Silka", Sans-Serif !important;
  line-height: 17px;
  margin: unset;
 }

.easyassist-customer-connect-modal input {
  font: normal 13px "Silka", Sans-Serif !important;
  border: 1px solid #E6E6E6!important;
  font-size: 13px !important;
  padding: 10px 17px !important;
  border-radius: 30px !important;
  outline: none !important;
  color: #2D2D2D !important;
  width: 100%!important;
  height: unset!important;
  box-sizing: border-box!important;
  box-shadow: none!important;
  margin: unset!important;
}

.easyassist-customer-connect-modal input::placeholder {
  font: normal 13px "Silka", Sans-Serif !important;
  color: #909090 !important;
}

.easyassist-customer-connect-modal button {
  font-family: "Silka", Sans-Serif !important;
  color: white;
  font-size: 13px;
  width: 95px;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  outline:none;
  cursor:pointer;
  padding: unset;
  border: unset;
  margin: unset;
}

.easyassist-customer-connect-modal select {
  display: block!important;
  font: normal 13px "Silka", Sans-Serif !important;
  border: 1px solid #E6E6E6 ;
  font-size: 13px !important;
  padding: 10px 15px !important;
  border-radius: 20px !important;
  outline: none !important;
  color: #2D2D2D !important;
  background: unset;
  background-color: #ffffff !important;
  width: 100%!important;
  height: unset !important;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgba(117,117,117,1)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 5px;
}

.easyassist-customer-connect-modal br {
  display: block!important;
}

.easyassist-customer-connect-modal span {
  font-size: 13px!important;
}

.easyassist-modal-cancel-btn {
  font-family: "Silka", Sans-Serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px!important;
  line-height: 17px;
  color: #0254D7;
  background: #FFFFFF!important;
}

.easyassist-modal-cancel-btn:hover {
  background: #FFFFFF!important;
}

.easyassist-modal-primary-btn {
  width: 123px!important;
  height: 42px!important;
  background: #0254D7;
  border-radius: 25px!important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px!important;
}

/* Verification code modal */

.easyassist-customer-verification-modal {
  font: normal 14px "Silka", Sans-Serif !important;
  display: none;
  position: fixed !important;
  z-index: 9999999 !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0,0,0,0.4) !important;
  justify-content: center !important;
  align-items: center !important;
  box-sizing: border-box !important;
  color: black !important;
  line-height: 1.5 !important;
  margin: unset !important;
  padding: unset !important;
  overflow: auto !important;
  flex-direction: column!important;
}


.easyassist-customer-verification-modal .easyassist-customer-connect-modal-content {
  border-radius: 20px !important;
  border: none !important;
  font-family: 'Silka', Sans-Serif;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 411px !important;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  box-sizing: border-box !important;
  padding: 20px 25px!important;
}

.easyassist-customer-verification-modal .easyassist-customer-connect-modal-header {
  border-radius: 20px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem!important;
  font: normal 14px "Silka", Sans-Serif !important;
  background-color: #fff !important;
}

.easyassist-customer-verification-modal .easyassist-customer-connect-modal-body {
  padding: 1rem!important;
  min-height: 8em!important;
  color: #2D2D2D;
  font-family: "Silka", Sans-Serif !important;
}

.easyassist-customer-verification-modal .easyassist-customer-connect-modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem 1rem 1rem 1rem!important;
}

.easyassist-customer-verification-modal .easyassist-customer-connect-modal-content-wrapper {
  padding: 1em 0!important;
}

.easyassist-customer-verification-modal .easyassist-customer-connect-input-error {
  border: 1px solid #EC2828!important;
}

.easyassist-customer-verification-modal h6 {
  font: normal 16px "Silka", Sans-Serif !important;
  color: #2D2D2D !important;
  font-weight: bold !important;
  box-sizing: border-box !important;
  line-height: 19px !important;
  margin: unset !important;
}

.easyassist-customer-verification-modal span {
  float: right;
}

.easyassist-customer-verification-modal hr {
  margin: 10px 0px !important;
  border: 0.1px solid #4746462e !important;
  height: unset !important;
}

.easyassist-customer-verification-modal label {
  color:red;
  font: normal 14px "Silka", Sans-Serif !important;
  margin: unset !important;
  float: none !important;
}

.easyassist-customer-verification-modal p {
  color: #312e2e;
  font: normal 14px "Silka", Sans-Serif !important;
  line-height: 1.5;
  margin: unset !important;
 }


.easyassist-customer-verification-modal input {
  font: normal 20px "Silka", Sans-Serif !important;
  border: 1px solid #E6E6E6 ;
  font-size: 20px !important;
  padding: 10px 12px !important;
  border-radius: 0 !important;
  outline: none !important;
  box-sizing: border-box!important;
  box-shadow: none!important
}

.easyassist-customer-verification-modal button {
  font-family: "Silka", Sans-Serif !important;
  background-color: #486EDB;
  color: white;
  font-size: 13px;
  width: 120px;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  outline:none;
  cursor:pointer;
  padding: unset;
  border: unset;
  margin: unset;
}

.easyassist-customer-verification-modal br {
  display: block!important;
}

.easyassist-customer-verification-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px!important;
  height: 80px!important;
  background: #F8F8F8!important;
  border-radius: 50%;
}

.easyassist-customer-verification-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F1F1F1;
  border-radius: 50%;
  width: 63px!important;
  height: 63px!important;
  vertical-align: middle;
}

.easyassist-verfication-otp-input {
  background: #FFFFFF;
  border: 1px solid #E6E6E6!important;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
  width: 49px!important;
  height: 49px!important;
  color: #486EDB;
  text-align: center;
  margin: 0 0.5em 0 0!important;
}

/* Feedback modal */
@media only screen and (max-width: 600px) {
  .easyassist-customer-feedback-modal .easyassist-customer-feedback-modal-content {
    width: 300px !important;
  }

  .easyassist-customer-feedback-modal .easyassist-tickmarks span {
    width: 18px!important;
    height: 18px!important;
    font-size: 12px !important;
  }

  .easyassist-customer-connect-modal .easyassist-customer-connect-modal-content {
    width: unset!important;
  }

  .easyassist-customer-verification-modal .easyassist-customer-connect-modal-content {
    width: unset!important;
  }
}

.easyassist-customer-feedback-modal {
  font: normal 14px "Silka", Sans-Serif !important;
  display: none;
  position: fixed !important;
  z-index: 9999999 !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0,0,0,0.4) !important;
  justify-content: center !important;
  align-items: center !important;
  box-sizing: border-box !important;
  text-align: center !important;
  color: black !important;
  line-height: 1.5 !important;
  margin: unset !important;
  padding: unset !important;
  overflow: auto !important;
}


.easyassist-customer-feedback-modal .easyassist-customer-feedback-modal-content {
  border-radius: 20px !important;
  border: none !important;
  font-family: 'Silka', Sans-Serif;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 611px !important;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  box-sizing: border-box !important;
  padding: 20px 25px!important;
}

.easyassist-customer-feedback-modal .easyassist-customer-feedback-modal-header {
  border-radius: 20px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem!important;
  font-family: "Silka", Sans-Serif !important;
  background-color: #fff !important;
}

.easyassist-customer-feedback-modal .easyassist-customer-feedback-modal-body {
  padding: 1rem!important;
  min-height: 8em!important;
  color: #2D2D2D;
  font-family: "Silka", Sans-Serif !important;
  word-break: break-word;
}

.easyassist-customer-feedback-modal .easyassist-customer-feedback-modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0rem 1rem 1rem 1rem!important;
}
/*
.easyassist-customer-feedback-modal div {
  margin: auto;
  font: normal 14px "Silka", Sans-Serif !important;
  background-color: #fff !important;
  padding: 2em !important;
  width: 571px;
  border-radius: 25px !important;
  box-sizing: border-box !important;
}
*/
.easyassist-customer-feedback-modal h6 {
  font: normal 16px "Silka", Sans-Serif !important;
  color: #2D2D2D !important;
  font-weight: bold !important;
  box-sizing: border-box !important;
  line-height: 19px !important;
  margin: unset !important;
}

.easyassist-customer-feedback-modal span {
  float: right;
  color: #204DAF;
  font: normal 14px "Silka", Sans-Serif !important;
}

.easyassist-customer-feedback-modal hr {
  margin: 10px 0px !important;
  border: 0.1px solid #8080802e !important;
  height: unset !important;
}

.easyassist-customer-feedback-modal label {
  color:red;
  font: normal 14px "Silka", Sans-Serif !important;
  margin: unset !important;
  display: inline-block;
  float: none !important;
}

.easyassist-customer-feedback-modal p {
  color: #4D4D4D;
  font: normal 16px "Silka", Sans-Serif !important;
  line-height: 1.5;
  margin: unset;
 }

.easyassist-customer-feedback-modal input {
  font: normal 14px "Silka", Sans-Serif !important;
  border: 1px solid #486ddb !important;
  font-size: 14px !important;
  padding: 10px 12px !important;
  border-radius: 15px !important;
  outline: none !important;
  color: #486ddb !important;
}

.easyassist-customer-feedback-modal button {
  font-family: "Silka", Sans-Serif !important;
  background-color: #486EDB;
  color: white;
  font-size: 13px;
  width: 110px;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  outline:none;
  cursor:pointer;
  padding: unset;
  border: unset;
  margin: unset;
}

.easyassist-customer-feedback-modal .easyassist-btn-primary {
  font-family: "Silka", Sans-Serif !important;
  padding: 4px 16px !important;
  background-color: #3662C5 !important;
  border-radius: 30px !important;
  border-color: #3662C5 !important;
  letter-spacing: -0.02em;
  color: #fff !important;
  cursor: pointer;
}

.easyassist-customer-feedback-modal .easyassist-btn-primary:hover {
  transform: 0.2s all ease;
  background-color: #204DAF !important;


}

.easyassist-customer-feedback-modal .easyassist-btn-secondary {
  font-family: "Silka", Sans-Serif !important;
  border-radius: 30px !important;
  border: 1px solid #717384 !important;
  color: #717384 !important;
  background: white !important;
  padding: 4px 16px !important;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.easyassist-customer-feedback-modal .easyassist-btn-secondary:hover {
  color: #fff !important;
  background: #717384 !important;
  transform: 0.2s all ease !important;
}

.easyassist-customer-feedback-modal .easyassist-gyraMojis {
  animation: showUp 0.3s ease-in-out;
  transform: all 0.5s ease;
  width: 100% !important;
  margin: unset !important;
  padding: 18px 0 0 0!important;
  height: 95px!important;
}

.easyassist-customer-feedback-modal .easyassist-gyraMojis img {
  display: none;
  vertical-align: unset;
  border-style: unset;
  width: 50px !important;
  height: 50px !important;
}

.easyassist-customer-feedback-modal .easyassist-tickmarks {
  display: flex;
  justify-items: center !important;
  flex-direction: row;
  align-items: center;
  width: 100% !important;
  margin-top: 30px;
  /* color: var(--accent-color-1); */
  font-size: 90%;
  font-weight: bold;
  padding: unset !important;
}

.easyassist-customer-feedback-modal .easyassist-tickmarks span {
  cursor: pointer;
  margin: 4px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50%;
  border: 2px solid #E6E6E6;
  color: #2D2D2D;
}

.easyassist-customer-feedback-modal .easyassist-feedbackComments {
  font: normal 14px "Silka", Sans-Serif !important;
  resize: none;
  width: 100%;
  height: 90px;
  margin: unset!important;
  padding: 1em;
  border: 2px solid #E6E6E6;
  border-radius: 0.3em;
  color: #000000;
  background-color: #fff;
}

.easyassist-customer-feedback-modal .easyassist-feedbackComments::placeholder {
  font-size: 100%;
  color: var(--primary-color);
  filter: opacity(45%);
}

.easyassist-customer-feedback-modal .easyassist-feedbackComments:focus {
  outline: none;
  border: 1px solid #356be0;

  box-shadow: 0 0 0px 2px #c6d8ff;
}

.easyassist-customer-feedback-modal .easyassist-legend {
  display: flex;
  justify-content: space-between;
  margin: -0.2em 0 0;
  font-size: 80%;
  width: 100%;
  font-family: 'Silka', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #204DAF;
  padding: unset !important;
}

/* Request edit access modal */

.easyassist-customer-edit-access-modal {
  font: normal 14px "Silka", Sans-Serif !important;
  display: none;
  position: fixed !important;
  z-index: 9999999 !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0,0,0,0.4) !important;
  justify-content: center !important;
  align-items: center !important;
  box-sizing: border-box !important;
  text-align: center !important;
  color: black !important;
  line-height: 1.5 !important;
  margin: unset !important;
  padding: unset !important;
  overflow: auto !important;
}

.easyassist-customer-edit-access-modal div {
  font: normal 14px "Silka", Sans-Serif !important;
  background-color: #fff !important;
  padding: 20px !important;
  width: 400px !important;
  border-radius: 25px !important;
  box-sizing: border-box !important;
}

.easyassist-customer-edit-access-modal p {
  color: #312e2e;
  font: normal 14px "Silka", Sans-Serif !important;
  line-height: 1.5;
  margin: unset !important;
 }

.easyassist-customer-edit-access-modal button {
  font-family: "Silka", Sans-Serif !important;
  background-color: #486EDB;
  color: white;
  font-size: 13px;
  width: 120px;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  outline:none;
  cursor:pointer;
  padding: unset;
  border: unset;
  margin: unset;
}


.easyassist-side-nav-class {
  background-color: #C72F2C;
  transform: rotate(270deg);
  /*height: fit-content;*/
  width: fit-content;
  max-height: 50px;
  display:none;
  position: fixed;
  color: white;
  font-weight: 900;
  cursor: pointer;
  top: 60%;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px -1px 3px black;
  padding: 4px;
  border: 2px solid white;
  z-index:2147483647;
  font-size: 16px;
  font-family: "Silka", Sans-Serif !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* The easyassist-snackbar - position it at the bottom and in the middle of the screen */
#easyassist-snackbar {
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  left: 45%; /* Center the easyassist-snackbar */
  top: 30px; /* 30px from the bottom */
  z-index: 2147483647;
  animation-iteration-count: 1;
}

/* Show the easyassist-snackbar when clicking on a button (class added with JavaScript) */
#easyassist-snackbar.show {
  visibility: visible; /* Show the easyassist-snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the easyassist-snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 2.5s;
  animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 2.5s;
}

/* Animations to fade the easyassist-snackbar in and out */
@-webkit-keyframes easyassist-fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes easyassist-fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes easyassist-fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes easyassist-fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}


#easychat_share_link_Model {
  font-size: initial;
  display: none;
  position: fixed !important;
  z-index: 999999999 !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: auto !important;
  background-color: rgb(0,0,0) !important;
  background-color: rgba(0,0,0,0.4) !important;
  color: black !important;
}

.easychat_share_link_Model-content {
  background-color: #fefefe !important;
  margin: 5em auto !important;
  padding: 20px !important;
  border: 1px solid #888 !important;
  border-radius: 8px !important;
  width: 500px !important;
}
.easychat_share_link_Model-content_buttons_wrapper button{
  padding: 10px !important;
}
#easychat_share_link_Model-content_link_wrapper{
    width: 97% !important;
    padding: 5px 5px !important;
    text-align: center !important;
    overflow: hidden !important;
    background-color: white !important;
    border:none !important;
}
.easychat_share_link_Model-content_wrapper{
      width: 100% !important;
      border: 1px solid gray !important;
      border-radius: 5px !important;
}
.easychat_share_link_Model-content-close_button{
      background-color: #4d90fe !important;
      color: white !important;
      border: none !important;
      padding: 8px 15px !important;
      border-radius: 4px !important;
  }


.easyassist-custom-nav-bar_wrapper{
  display: inline-block;
  border-radius: 6px;
  box-shadow: 0px 2px 6px grey;
  z-index: 2147483647 !important;
  position: fixed;
  background-color: white;
  color: black;
  top:50% !important;
  left:0;
  font-family: 'Varela Round', sans-serif;
}

.easyassist-custom-nav-bar{
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 2px;
  z-index: 2147483647 !important;
}

.easyassist-custom-nav-bar a {
  text-decoration: none;
  padding: 10px;
  color: #191717;
  margin: 5px 0px;
}

.easyassist-custom-nav-bar a label{
  display: none;
  position: absolute;
  background-color: #1565c0;
  color: white;
  padding: 7px 15px;
  border-radius: 10px;
  margin-left: 25px;
  width: 8em !important;
}

.easyassist-custom-nav-bar a i {
  position: relative;
}

.easyassist-form-control{
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#easyAssist-nps-rating-bar-container__XqPZ {
  text-align: center;
  margin: 1em 0;
}
.easyAssist-nps-rating-bar-container button {
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  width: 30px;
  border: none;
  background: white;
  transition: .5s linear;
}

.easyAssist-nps-rating-bar-container button:focus {
  outline: none;
}

#easyassist-livechat-iframe {
  bottom: 0px;
  right: 1em;
  width: 450px;
  background-color: white;
  /* animation: my-amine-blo 1s; */
  height: 600px;
  max-height: 100%;
  box-shadow: 1px 5px 21px 4px grey;
  border-radius: 0.8em;
  border:0.0em solid rgba(0, 0, 0, 0.2);
  border: none;
  position: fixed;
  z-index: 2147483647;
  animation-duration:0.6s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
}

@media screen and (max-width: 450px) {
  #easyassist-livechat-iframe{
    right: 0em !important;
    width: 100%;
    height: 60%;
    z-index: 99999999999999999;
    position: fixed;
    border-radius:unset !important;
  }
}

/* @media (max-height: 650px) {
  #easyassist-livechat-iframe {
      height: 100%;
  }
} */

/* modals css */

.easyassist-modal th {
  font-weight: 400 !important;
}

.easyassist-modal a {
  color: #204DAF !important;

}

.easyassist-modal .fa-paper-plane {
  color: #204DAF !important;
}

.easyassist-modal .close {
  font-family: 'Silka', Sans-Serif !important;
  font-weight: 500 !important;
  padding: 1.2rem 1.4rem 1rem 1rem !important;
}

.easyassist-modal-footer {
  border: 0 0 20px 20px !important;
  border-bottom-right-radius: 40px !important;
}

.easyassist-modal-content {
  border-radius: 20px !important;
  border: none !important;
  font-family: "Silka", Sans-Serif !important;
  letter-spacing: -0.04em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;

}

.easyassist-modal-body {
  padding: 1.2rem !important;
}

.easyassist-modal-header {
  border-top-right-radius: 90px !important;
  border-top-left-radius: 90px !important;
}

.easyassist-modal-title {
  color: #204DAF !important;
}

@media (min-width: 576px) {
  .easyassist-modal-dialog {
      max-width: 600px;
      margin: 1.75rem auto;
  }
}

.easyassist-modal .easyassist-btn-primary {
  padding: 4px 16px !important;
  background-color: #3662C5 !important;
  border-radius: 30px !important;
  border-color: #3662C5 !important;
  letter-spacing: -0.02em;
  color: #fff !important;

}

.easyassist-modal .easyassist-btn-primary:hover {
  transform: 0.2s all ease;
  background-color: #204DAF !important;


}

.easyassist-modal .easyassist-btn-secondary {
  border-radius: 30px !important;
  border: 1px solid #717384 !important;
  color: #717384;
  background: white !important;
  padding: 4px 16px !important;
  letter-spacing: -0.02em;

}

.easyassist-modal .easyassist-btn-secondary:hover {
  color: #fff !important;
  background: #717384 !important;
  transform: 0.2s all ease !important;

}

.easyassist-modal .easyassist-custom-nav-bar a label {
  font-family: "Silka", Sans-Serif !important;
  background: #204DAF !important;
}

/* Live Chat */
#allincall-chat-box,
#easyassist-livechat-iframe {
  box-shadow: rgba(0, 0, 0, 0.256863) 0px 5px 40px !important;
}


@keyframes showUp {
  0% {
      opacity: 0;
      transform: translate(0, 30px);
  }

  100% {
      opacity: 1;
      transform: translate(0, 0);
  }
}

.easyassist-client-side-modal .easyassist-input-field {
  font-family: "Silka", Sans-Serif !important;
  border: 0.1em solid grey !important;
  font-size: 0.8em !important;
  padding: 1.0em 2.0em 1.0em 2.0em !important;
  margin: 0em 0em 0em 0em !important;
  border-radius: 2em !important;
  height: 20px !important;
  width: 160px !important;
  box-sizing: content-box !important;
  outline: none !important;
  color: #000000 !important;
}

.easyassist-client-side-modal .easyassist-input-field::placeholder {
  color: #3b3b3b;
}

.easyassist-client-side-modal .easyassist-btn-primary {
    font-family: "Silka", Sans-Serif !important;
    padding: 4px 16px !important;
    background-color: #3662C5 !important;
    border-radius: 30px !important;
    border-color: #3662C5 !important;
    letter-spacing: -0.02em !important;
    color: #fff !important;
    cursor: pointer !important;
    line-height: 0px !important;
}

.easyassist-client-side-modal .easyassist-btn-primary:hover {
  transform: 0.2s all ease;
  background-color: #204DAF !important;


}

.easyassist-client-side-modal .easyassist-btn-secondary {
  font-family: "Silka", Sans-Serif !important;
  border-radius: 30px !important;
  border: 1px solid #717384 !important;
  color: #717384 !important;
  background: white !important;
  padding: 4px 16px !important;
  letter-spacing: -0.02em !important;
  cursor: pointer;
}

.easyassist-client-side-modal .easyassist-btn-secondary:hover {
  color: #fff !important;
  background: #717384 !important;
  transform: 0.2s all ease !important;
}

.easyassist-client-side-modal label {
  display: inline-block;
  margin-bottom: .5rem;
}

.easyassist-client-side-modal h6{
  font-size: 1rem;
  font-weight: 400;
}

.easyassist-client-side-modal hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.easyassist-client-side-modal{
  font-family: "Silka", Sans-Serif !important;
}

.easyassist-client-side-modal textarea {
  font-family: "Silka", Sans-Serif !important;
}

#easyassist-co-browsing-modal-content {
  border-radius: 20px !important;
  position: relative;
  padding: 1em 1em !important;
}


.easyassist-customer-connect-modal input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size:unset;
  font-family: "Silka", Sans-Serif !important;
}
.easyassist-customer-connect-modal input::-moz-placeholder { /* Firefox 19+ */
  font-size:unset;
  font-family: "Silka", Sans-Serif !important;
}
.easyassist-customer-connect-modal input:-ms-input-placeholder { /* IE 10+ */
  font-size:unset;
  font-family: "Silka", Sans-Serif !important;
}
.easyassist-customer-connect-modal input:-moz-placeholder { /* Firefox 18- */
  font-size:unset;
  font-family: "Silka", Sans-Serif !important;
}


.easyassist-customer-verification-modal input::placeholder {
  color: gray !important;
  font-family: "Silka", Sans-Serif !important;
}

.easyassist-customer-connect-modal input {
    width: auto;
}

.easyassist-customer-feedback-modal label {
    width: 100%;
}

.easyassist-customer-feedback-modal .easyassist-tickmarks {
    justify-content: center;
}
    /* ToolTip of masked field warning */

.easyassist-tooltiptext {
  visibility: hidden;
  white-space: nowrap;
  background-color: #555 !important;
  color: #fff !important;
  text-align: center !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  border-radius: 6px !important;

  /* Position the tooltip text */
  position: absolute !important;
  z-index: 110000000 !important;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s !important;
}

/* Tooltip arrow */
.easyassist-tooltiptext::after {
  content: "" !important;
  position: absolute !important;
  top: 100% !important;
  left: 50% !important;
  margin-left: -5px !important;
  border-width: 5px !important;
  border-style: solid !important;
  border-color: #555 transparent transparent transparent !important;
}

/***************** Start Custom Select ***********************/

.easyassist-custom-dropdown-container {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "Silka", Sans-Serif !important;
    border-radius: 30px!important;
}

.easyassist-custom-dropdown-container .easyassist-custom-dropdown-option-container {
    display: none;
    position: absolute;
    width: 100%;
    top: 43px;
    background: #FFFFFF;
    border-radius: 8px;
    order: 1!important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    box-sizing: border-box!important;
    max-height: 144px!important;
    overflow-y: auto;
    z-index: 9999999;
}

.easyassist-custom-dropdown-container .easyassist-custom-dropdown-option-container::-webkit-scrollbar {
  width: 8px!important;
}

.easyassist-custom-dropdown-container .easyassist-custom-dropdown-option-container::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: 0 0 0px #777 !important;
  border-radius: 10px;
}

.easyassist-custom-dropdown-container .easyassist-custom-dropdown-option-container::-webkit-scrollbar-thumb {
  background: #babdc0;
  border-radius: 8px;
}

.easyassist-custom-dropdown-container .easyassist-custom-dropdown-option-container::-webkit-scrollbar-thumb:hover {
  background: #babdc0;
}

.easyassist-custom-dropdown-container select {
    display: none!important;
}

.easyassist-custom-dropdown-container ul {
    list-style: none!important;
    margin: 0!important;
    padding: 0!important;
}

.easyassist-custom-dropdown-container li {
    font-family: "Silka", Sans-Serif !important;
    padding: 8px 20px!important;
    border-bottom: 1px solid #E6E6E6;
    font-style: normal!important;
    font-weight: 500!important;
    font-size: 13px!important;
    box-sizing: border-box!important;
    list-style: none!important;
    margin: 0!important;
}

.easyassist-custom-dropdown-container li.easyassist-option-selected {
    background: #0254D7;
    color: #FFFFFF;
}

.easyassist-custom-dropdown-container li.disabled {
    background: #909090;
    color: #FFFFFF;
    pointer-events: none;
}

.easyassist-custom-dropdown-container li:hover {
    cursor: pointer;
    background: #0254D7;
    color: #FFFFFF;
}

.easyassist-custom-dropdown-container .easyassist-dropdown-selected {
    font-family: "Silka", Sans-Serif !important;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 30px;
    padding: 10px 20px!important;
    font-size: 13px;

    order: 0!important;
    box-sizing: border-box!important;
    cursor: pointer;
}

.easyassist-custom-dropdown-container .easyassist-dropdown-selected:after {
    content: "";
    background-image: url("data:image/svg+xml;utf8,<svg fill='rgba(117,117,117,1)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 27px;
    right: 10px;
    top: 7px;
}

.easyassist-custom-dropdown-container .easyassist-custom-dropdown-option-container.easyassist-dropdown-show {
    display: block;
}

/***************** End Custom Select ***********************/