   input[type=number]::-webkit-inner-spin-button,
   input[type=number]::-webkit-outer-spin-button {
       -webkit-appearance: none;
       margin: 0;
   }

   #cobrowse-meeting-iframe {
       position: absolute;
       bottom: 0;
       right: 0;
       width: 95% /* another 5% is set for meeting options */;
       height: 100%;
       overflow: hidden;
   }

   .cobrowse-chat-box {
       width: 100%;
       height: calc(100% - 70px);
       overflow: auto;
   }

   .cobrowse-chat-box .chat-room {
       padding: 15px;
       overflow-y: auto;
       padding-bottom: 0;
   }

   .cobrowse-chat-box .chat-room .avatar-small {
       width: 25px;
       height: 25px;
   }

   .cobrowse-chat-box .chat-room .message {
       margin-bottom: 15px;
       display: flex;
       flex-direction: column;
   }

   .cobrowse-chat-box .chat-room .message-left {
       align-items: flex-start;
   }

   .cobrowse-chat-box .chat-room .message-left .bubble {
       float: left;
   }

   .cobrowse-chat-box .chat-room .message-right {
       align-items: flex-end;
   }

   .cobrowse-chat-box .chat-room .message-right .bubble {
       float: right;
   }

   .cobrowse-chat-box .chat-room .bubble {
       padding: 4px 12px 7px;
       font-size: 14px;
       display: inline-block;
       border: 1px solid #CCCCCC;
       font-family: 'Silka', Sans-Serif!important;
       word-wrap: break-word!important;
       max-width: 100%;
       min-width: 10em;
   }

   .cobrowse-chat-box .chat-room .bubble-light {
       color: black;
       background-color: #FFFFFF;
   }

   .cobrowse-chat-box .chat-room .bubble-dark {
       color: black;
       background-color: #FFFFFF;
       font-family: Silka;
   }

   .cobrowse-chat-box .chat-room .bubble .message-sender {
      font-family: 'Silka', Sans-Serif!important;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 12px;
      color: #0A5EDB;
   }

   .cobrowse-chat-box .chat-room .message-timer {
    font-family: 'Silka', Sans-Serif!important;;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #757575;
    padding-top: 0.5em;
   }

   .cobrowse-chat-box .type-area {
       display: flex;
       height: 69.18px;
       background-color: #fff;

       position: absolute;
       width: 100%;
       bottom: 0;
       background: #FFFFFF;
       box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
   }

   .cobrowse-chat-box .type-area .input-wrapper {
       overflow: hidden;
       width: 100%;
       border-radius: 1000px;
       color: #757575;
       font-family: 'Silka', Sans-Serif;
       font-style: normal;
       font-weight: normal;
       font-size: 12px;
       line-height: 14px;
   }

   .cobrowse-chat-box .type-area .input-wrapper input {
       outline: none;
       border: none;
       height: 100%;
       font-size: 14px;
       width: 100%;
   }

   .cobrowse-chat-box .type-area .button-add {
       display: flex;
       align-self: center;
       width: 30px;
       height: 30px;
       margin: 0 1.5em;
   }

   .cobrowse-chat-box .type-area .button-add label {
      cursor: pointer;
   }

   .cobrowse-chat-box .type-area .button-send {
       display: flex;
       align-items: center;
       position: relative;
       width: 50px;
       border-radius: 1000px;
       cursor: pointer;
   }

   .cobrowse-chat-box .type-area .button-add i {
       font-size: 20px;
       color: black;
       cursor: pointer;
   }

   .cobrowse-chat-box .type-area .button-add i:hover {
       color: #be79df;
   }

   .cobrowse-chat-box .type-area .button-add .others {
       display: flex;
       padding: 10px 15px;
       background-color: #fff;
       position: absolute;
       top: 5px;
       z-index: -1;
       right: -52px;
       border-radius: 999px;
       box-shadow: 0 0 25px -5px lightgray;
       transition: 0.3s all ease-out;
   }

   .cobrowse-chat-box .type-area .button-add .others span i {
       font-size: 20px;
       color: #be79df;
   }

   .cobrowse-chat-box .type-area .button-add .others span.image-button {
       margin: 0 25px;
   }

   .cobrowse-chat-box .type-area .button-add .others .emoji-button {
       position: relative;
   }

   .cobrowse-chat-box .type-area .button-add .others .emoji-button .emoji-box {
       display: none;
       position: absolute;
       width: 0px;
       height: 0px;
       top: 0px;
       right: 0px;
       transition: 0.3s all ease-out;
   }

   .cobrowse-chat-box .type-area .button-add .others .emoji-button .emoji-box span {
       user-select: none;
       cursor: pointer;
       margin-right: 5px;
       margin-bottom: 5px;
       width: 20px;
       height: 20px;
   }

   .cobrowse-chat-box .type-area .button-send {
       background-color: #fff;
       width: 50px;
       color: #be79df;
       margin: 0 1.5em;
   }

   .cobrowse-chat-box .type-area .button-send:hover {
       color: #fff;
   }

   .cobrowse-chat-box .header {
       /*position: absolute;*/
       width: 100%;
       height: 51px;
       background: rgba(0, 82, 214, 0.81);
       border-radius: 20px 20px 0px 0px;
   }

   .cobrowse-chat-box .header-txt {
       position: absolute;
       width: 138px;
       height: 18px;
       left: 20px;
       top: 16px;
       font-family: Silka;
       font-style: normal;
       font-weight: 500;
       font-size: 20px;
       line-height: 18px;
       color: #FFFFFF;
   }

   #logo {
      display: flex;
      justify-content: center;
      margin-top: 4em;
  }

  .btn {
      border-radius: 30px !important;
      outline: none!important;
      box-shadow: none!important;
  }

  .cogno-lobby-msg {
      font-family: Silka;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.02em;

      color: #2D2D2D;
  }

  .cogno-lobby-username {
      width: 100%;
      height: 45px;

      background: #FFFFFF;
      border: 1px solid #DADADA;
      box-sizing: border-box;
      border-radius: 100px;
      padding: 1em;
      outline: none;
  }

  .cogno-lobby-password {
    width: 100%;
    height: 45px;

    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 1em;
    outline: none;
  }

  .cogno-lobby-username::placeholder, .cogno-lobby-password::placeholder {
      font-family: Silka;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #757575;
  }

  .cogno-join-meeting {
      width: 167px;
      height: 43px;
      font-family: Silka;
      font-style: normal;
      font-weight: bold!important;
      font-size: 15px!important;
      line-height: 18px!important;
      letter-spacing: 0.02em!important;

      color: #FFFFFF;
      background: #0254D7;
      box-shadow: 0px 4px 10px rgba(2, 84, 215, 0.5);
      border-radius: 100px;
      margin-bottom: 2em;
  }

  .cogno-join-meeting:hover {
      color: #FFFFFF;
  }

  .cogno-mute-btn {
      position: absolute;
      width: 34px;
      height: 34px;
      left: calc(50% - 34px/2 - 25px);
      background: #2D2D2D;
      border-radius: 50%;
  }

  .cogno-video-btn {
      position: absolute;
      width: 34px;
      height: 34px;
      left: calc(50% - 34px/2 + 26.55px);
      background: #2D2D2D;
      border-radius: 50%;
  }

  .cogno-meeting-timer {
      font-size: 2.5em;
      text-align: center;
  }

  .cogno-meeting-timer > span:first-child {
      display: none;
  }

  body {
      background: linear-gradient(90deg, #0254D7 0%, #1E74FF 100%);
      margin: 15px!important;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
      background-color: transparent;
      box-shadow: 0 0 0px #777 !important;
      border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #babdc0 !important;
    border-radius: 16px !important;
    border: 1px solid #fff !important;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #babdc0 !important;
    border: 0px solid #fff !important;
  }

  ::-webkit-scrollbar-track:hover {
      background-color: #f4f4f431;
  }

  .cogno-lobby-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .cogno-lobby {
    position: absolute;
    width: 648px;
    min-height: 550px;
    top: 50%;
    transform: translateY(-50%);

    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: 600px) {
    .cogno-lobby {
      position: unset;
      width: 88%;
      top: unset;
      transform: translateY(0);
    }

    .easyassist-customer-feedback-modal {
      position: unset!important;
    }
  }
  .cogno-lobby-join-meeting-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
  }

  .cogno-lobby-checkbox {
    width: 18px;
    height: 18px;

    border: 1.3px solid #0254D7;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
  }

  .cogno-lobby-cb-label {
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    letter-spacing: 0.02em;
    color: #2D2D2D;
    margin-bottom: 0;
    margin-left: 1em;
  }

  #authenticate-details-error {
    text-align: center;
    margin-bottom: 1em;
    color: red;
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
  }

  #meeting-msg {
    padding-top: 4em;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
  }

  .cogno-lobby-left-meeting-msg {
    font-family: Silka;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 2em 0;
    color: #2D2D2D;
    text-align: center;
  }

  .cogno-lobby-options {
    position: absolute;
    width: 5%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1040;
    background: #FFFFFF;
    border-radius: 0px;
    text-align: center;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .cogno-lobby-option-text {
    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    color: #000000;
  }

  .cogno-lobby-option-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 30%;
    height: 100%;
    left: 5%;
    top: 0px;
    z-index: 1040;
    background: #FFFFFF;
    border-left: 1px solid #909090;
  }

  .cogno-lobby-options-section-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;

    border-bottom: 1px solid #E6E6E6;
    font-family: "Silka", Sans-Serif!important;
    font-weight: 500;
  }

  .cogno-lobby-options-section-body {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
  }

  .meeting-agent-notes {
    height: 98%;
    width: 100%;
    border: none;
    padding: 1em;
    font-family: "Silka", Sans-Serif!important;
    font-size: 14px;
  }

  .cogno-lobby-add-member-section {
    display: flex;
    padding: 1em 0;
  }

  .cogno-lobby-add-member-input {
    width: 100%;
    height: 37px;
    padding: 1.5em;
    font-size: 12px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 25px;
    letter-spacing: 0.04em;
    outline: none;
  }

  .cogno-lobby-add-member-btn {
    width: 100%;
    height: 37px;
    color: #fff;
    background: #0254D7;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: none;

    outline: none!important;
  }

  .cogno-lobby-total-members {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 0.5em;

    border-bottom: 1px solid #E6E6E6;
    font-family: "Silka", Sans-Serif!important;
    font-weight: 500;
  }

  .cogno-lobby-members-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #4D4D4D;
    font-size: 14px;
    font-family: "Silka", Sans-Serif!important;
    font-weight: 500;
    overflow: auto;
    min-height: 150px;
  }

  .cogno-lobby-total-support-members {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.5em 0;
    margin-top: 1em;
    border-bottom: 1px solid #E6E6E6;
    font-family: "Silka", Sans-Serif!important;
    font-weight: 500;
  }

  .cogno-lobby-support-agent-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #4D4D4D;
    font-size: 14px;
    font-family: "Silka", Sans-Serif!important;
    font-weight: 500;
  }

  .cogno-lobby-member {
    padding-top: 1.5em;
  }

  .cogno-lobby-fa-ellipsis-h {
    float: right;
    padding-right: 0em!important;
    padding-bottom: 0em!important;
  }

  .cogno-lobby-options button {
    outline: none!important;
    box-shadow: none!important;
  }

  .cogno-lobby-options-section-body textarea {
    outline: none;
    resize: none;
  }

  .cogno-lobby-chat-msg-box {
    position: absolute;
    width: 100%;
    height: 69.18px;
    top: 588.82px;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.13);
  }

  @media only screen and (max-width: 600px) {
    #cobrowse-meeting-iframe {
      width: 100%;
    }

    .cogno-lobby-option-section {
      width: 100%;
      height: 100%!important;
      left: 0;
      border-left: unset;
    }

    .cogno-lobby-meeting-chat-sm {
      bottom: 0;
      position: absolute;
      width: 100%;
      left: 0;
      height: 60%;
    }

    .cogno-lobby-agent-notes-sm {
      bottom: 0;
      position: absolute;
      width: 100%;
      left: 0;
      height: 60%;
    }

    .cogno-lobby-meeting-notes-sm {
      bottom: 0;
      position: absolute;
      width: 100%;
      left: 0;
      height: 60%;
    }

    .cogno-lobby-add-members-sm {
      bottom: 0;
      position: absolute;
      width: 100%;
      left: 0;
      height: 60%;
    }

    .cogno-lobby-ask-for-support-sm {
      bottom: 0;
      position: absolute;
      width: 100%;
      left: 0;
      height: 60%;
    }

    .cogno-lobby-options-section-header {
      display: none;
    }

    #cogno-lobby-meeting-chat .cogno-lobby-options-section-header {
      display: flex!important;
    }

    .chat-close-btn {
      display: none!important;
    }

    .cogno-lobby-members-list .pt-4 {
      padding-top: 1rem!important;
    }

    .cogno-lobby-support-agent-list .pt-4 {
      padding-top: 1rem!important;
    }

    .cogno-lobby-options {
      position: absolute;
      width: 100%;
      height: 70%;
      bottom: 0;
      left: 0;
      background: #fff;
      top: unset;
    }

    .cogno-lobby-option-section-handle {
      width: 30%;
      position: absolute;
      top: -4%;
      background: white;
      height: 5%;
      left: 35%;
      border-radius: 5px 5px 0 0;
      display: block!important;
    }

    .cogno-lobby-option-section-handle hr {
      margin-top: 0.6rem;
      width: 50%;
      height: 3px;
      background: #909090;
    }

    .cogno-lobby-options-sm {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding: 1em 0em;
      margin: 0!important;
    }

    .cogno-lobby-options svg {
      width: 27px;
      height: 27px;
    }

    .cogno-lobby-option-text {
      display: none;
    }

    .row-flex-direction {
      flex-direction: row!important;
      justify-content: center;
    }

    .cogno-lobby-options .cogno-lobby-col {
      max-width: 16.67%!important;
    }

    .show-option-btn-sm {
      position: absolute;
      z-index: 1040;
    }

    .meeting-agent-notes {
      height: 97%;
    }
  }

  @media only screen and (min-width: 768px) {
    .cogno-lobby-options .cogno-lobby-col {
      margin-top: 2em;
    }

    .cogno-lobby-options .cogno-lobby-screenshot-col {
      margin-top: 1.6em!important;
    }

    .cogno-lobby-options .cogno-lobby-col:first-child {
      margin-top: 1.5em;
    }

    .cogno-lobby-options .cogno-lobby-help-col {
      position: absolute;
      width: 100%;
      bottom: 1em;
    }
  }

  .permit-modal .modal-header {
    border: none;
    padding: 1.3em;
  }

  .permit-modal .modal-header .modal-title {
    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
  }

  .permit-modal .modal-body {
    padding: 0.5em 1.3em;
  }

  .permit-modal .modal-footer {
    border: none;
  }

  .permit-modal .admit-btn {
    width: 100px;
    height: 100%;

    background: #0254D7;
    border-radius: 30px!important;
    font-family: "Silka", Sans-Serif!important;
  }

  .permit-modal .deny-btn {
    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;

    color: #4D4D4D!important;
    padding: 1em!important;
    cursor: pointer;
  }

  .permit-modal .participant-name-bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 27px;
    height: 27px;

    color: #FFFFFF;
    background: #FF0642;
    border-radius: 50%;
    text-transform: capitalize;
  }


  .permit-modal .participant-name {
    position: absolute;
    margin-left: 2em;
    font-size: 18px;
    color: #2D2D2D;
  }

  .row-flex-direction {
    flex-direction: column;
  }

  .cogno-lobby-option-backdrop {
    position: absolute;
    width: 95%;
    height: 95%;
  }

  .media-unavailable-modal-text {
    font-size: 16px;
    color: #4D4D4D;
    font-family: "Silka", Sans-Serif!important;
  }

.easyassist-customer-feedback-modal {
  font: normal 14px "Silka", Sans-Serif !important;
  display: none;
  position: fixed;
  z-index: 9999999 !important;
  /*left: 0 !important;*/
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  /*background: rgba(0,0,0,0.4) !important;*/
  justify-content: center !important;
  align-items: center !important;
  box-sizing: border-box !important;
  text-align: center !important;
  color: black !important;
  line-height: 1.5 !important;
  margin: unset !important;
  padding: unset !important;
  overflow: auto !important;
}

.easyassist-customer-feedback-modal div {
  font: normal 14px "Silka", Sans-Serif !important;
  background-color: #fff !important;
  padding: 20px !important;
  border-radius: 25px !important;
  box-sizing: border-box !important; 
}

.easyassist-customer-feedback-modal h6 {
  font: normal 21px "Silka", Sans-Serif !important;
  color: #000000 !important;
  font-weight: 400 !important;
  box-sizing: border-box !important;
  line-height: 1.5 !important;
  margin: unset !important;
}

.easyassist-customer-feedback-modal span {
  /*float: right;*/
  color: #204DAF;
  font: normal 14px "Silka", Sans-Serif !important;
}

.easyassist-customer-feedback-modal hr {
  margin: 10px 0px !important;
  border: 0.1px solid #8080802e !important;
  height: unset !important;
}

.easyassist-customer-feedback-modal label {
  color:red; 
  font: normal 14px "Silka", Sans-Serif !important;
  margin: unset !important;
  display: inline-block;
  float: none !important;
} 

.easyassist-customer-feedback-modal p {
  color: #858796;
  font: normal 15px "Silka", Sans-Serif !important;
  line-height: 1.5;
  margin: unset;
 }

.easyassist-customer-feedback-modal input {
  font: normal 14px "Silka", Sans-Serif !important;
  border: 1px solid #486ddb !important;
  font-size: 14px !important;
  padding: 10px 12px !important;
  border-radius: 15px !important;
  outline: none !important;
  color: #486ddb !important;
}

.easyassist-customer-feedback-modal button {
  font-family: "Silka", Sans-Serif !important;
  background-color: #486EDB; 
  color: white; 
  font-size: 13px; 
  width: 110px;
  height: 35px;
  border-radius: 20px; 
  border-style: none; 
  outline:none; 
  cursor:pointer;
  padding: unset;
  border: unset;
  margin: unset;
}

.easyassist-customer-feedback-modal .easyassist-btn-primary {
  font-family: "Silka", Sans-Serif !important;
  padding: 4px 16px !important;
  background-color: #3662C5 !important;
  border-radius: 30px !important;
  border-color: #3662C5 !important;
  letter-spacing: -0.02em;
  color: #fff !important;
  cursor: pointer;
}

.easyassist-customer-feedback-modal .easyassist-btn-primary:hover {
  transform: 0.2s all ease;
  background-color: #204DAF !important;


}

.easyassist-customer-feedback-modal .easyassist-btn-secondary {
  font-family: "Silka", Sans-Serif !important;
  border-radius: 30px !important;
  border: 1px solid #717384 !important;
  color: #717384 !important;
  background: white !important;
  padding: 4px 16px !important;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.easyassist-customer-feedback-modal .easyassist-btn-secondary:hover {
  color: #fff !important;
  background: #717384 !important;
  transform: 0.2s all ease !important;
}

.easyassist-customer-feedback-modal .easyassist-gyraMojis {
  animation: showUp 0.3s ease-in-out;
  transform: all 0.5s ease;
  width: 100%;
  margin: unset !important;
  padding: 15px 0 0 0!important;
}

.easyassist-customer-feedback-modal .easyassist-tickmarks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  /* color: var(--accent-color-1); */
  font-size: 90%;
  font-weight: bold;
  padding: unset !important;
}

.easyassist-customer-feedback-modal .easyassist-tickmarks span {
  cursor: pointer;
  margin: 4px;
  padding: 14px;
  height: 0px;
  width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  color: #204DAF;
  border-radius: 50%;
  border: 1px solid #204DAF;

}

.easyassist-customer-feedback-modal .easyassist-tickmarks span:hover {
  background: #204DAF !important;
  color: #fff !important;
}

.easyassist-customer-feedback-modal .easyassist-feedbackComments {
  font: normal 14px "Silka", Sans-Serif !important;
  resize: none;
  width: 90%;
  height: 90px;
  margin: 20px 10px 10px 10px;
  padding: 1em;
  border: 1px solid #aaaaaa;
  border-radius: 0.3em;
  color: #000000;
  background-color: #fff;
}

.easyassist-customer-feedback-modal .easyassist-feedbackComments::placeholder {
  font-size: 100%;
  color: var(--primary-color);
  filter: opacity(45%);
}

.easyassist-customer-feedback-modal .easyassist-feedbackComments:focus {
  outline: none;
  border: 1px solid #356be0;

  box-shadow: 0 0 0px 2px #c6d8ff;
}

.easyassist-customer-feedback-modal .easyassist-legend {
  display: flex;
  justify-content: space-between;
  margin: -0.2em 0 0;
  font-size: 80%;
  width: 100%;
  font-family: 'Silka', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #204DAF;
  padding: unset !important;
}

.easyassist-btn-connect{
    position: relative;
    transition:top ease 1s;
    transition:color .15s;
    transition: box-shadow 0.3s ease-in-out;
}
.easyassist-btn-connect:hover{
    top:-2px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.easyassist-btn-hover{
    position: relative;
    transition:top ease 1s;
    transition:color .15s;
    transition: box-shadow 0.3s ease-in-out;
}
.easyassist-btn-hover:hover{
    top:-2px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

  .cogno-lobby-add-member-divider {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: center;
  }

  .cogno-lobby-add-member-divider h2 {
    width: 55%;
    text-align: center;
    border-bottom: 1px solid;
    line-height: 0.1em;
    margin: 10px 0 20px;
    text-align: center;
    font-size: 14px;
    color: #E6E6E6;
  }

  .cogno-lobby-add-member-divider h2 span {
      background:#fff;
      padding:0 10px;
  }

  .congno-loby-add-member-div-text {
    font-size: 14px;
  }

  .dropdown-item svg {
    margin-right: 0.5em;
  }

  .btn-group {
    width: 100%!important;
  }

  .btn-group .btn {
    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #4D4D4D;
    border-radius: 0!important;
  }

  .product-category-container {
    border: 1px solid #E6E6E6;
    border-radius: 7px;
  }

  .product-category-btn-group {
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
  }

  .product-category-btn-group .btn {
    border-radius: 1px!important;
  }

  .product-category-btn-group .btn:first-child {
    width: 85%;
    text-align: left;
  }

  .product-category-btn-group .btn:nth-child(2) {
    width: 15%;
    border-left: 1px solid #E6E6E6;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.05)!important;
  }

  .cogno-lobby-support-agent-list li {
    list-style: none;
    padding: 0.5em 0em 0.5em 1em;
    border-top: 1px solid #E6E6E6;
  }

  .cogno-lobby-support-agent-invite-btn {
    width: 15%;
    float: right;
    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    color: #25B139!important;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .congo-lobby-support-agent-text {
    display: inline-block;
    width: 85%;

    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    color: #4D4D4D!important;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .cogno-lobby-support-agent-invite-btn a {
    color: #25B139!important;
  }

  .cogno-lobby-agent-search-btn {
    display: flex;
    justify-content: center;

    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.05)!important;
    border-radius: 0px 7px 7px 0px!important;
    background-color: #FFFFFF!important;
    width: 100%;
    outline: none;
  }

  .cogno-loggy-agent-search-input-group .input-group-append {
    width: 15%;
  }

  .cogno-loggy-agent-search-input-group input {
    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border-radius: 7px;
    color: #909090;
  }

  .cogno-lobby-assistance-type-text {
    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #2D2D2D;
  }

  .cogno-lobby-member-info {
    cursor: pointer;
    margin-top: -2px;
    margin-left: 5px;
  }

  .modal, .modal-backdrop {
    position: absolute !important;
    width: unset;
    height: unset;
  }

  .cogno-lobby-member-info-modal .modal-dialog {
    width: 90%;
    margin: 20px auto!important;
  }

  .cogno-lobby-member-info-modal .modal-header {
    padding: 1em 1em 0.5em 1em;
    border-bottom: none;
  }

  .cogno-lobby-member-info-modal .modal-title {
    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: #2D2D2D;
  }

  .cogno-lobby-member-info-modal .modal-body {
    overflow: hidden;
    word-break: break-word;
    padding-top: 0;
  }

  .cogno-lobby-member-info-modal td {
    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    color: #4D4D4D;
    vertical-align: initial;
  }

  .cogno-lobby-meeting-form-name {
    cursor: pointer;
    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #2D2D2D;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  }

  #cogno-lobby-meeting-chat .nav-tabs {
    border: none!important;
    width: 80%;
  }

  #cogno-lobby-meeting-chat .nav-link {
    padding: unset!important;
    border: none!important;
    font-size: 18px;
    color: #4D4D4D;
  }

  #cogno-lobby-meeting-chat .nav-link.active {
    border-bottom: 4px solid #0254D7!important;
    color: #0254D7!important;
  }

  #cogno-lobby-meeting-chat .nav-tabs .nav-item {
    margin-bottom: none!important;
  }

  .cogno-doc-container .card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .cogno-doc-container .card-header {
    background: #FFFFFF!important;
    border-bottom: none!important;
    padding: 0.75em 0.75em 0.5em 0.75em!important;
    font-size: 12px;
    font-family: "Silka", Sans-Serif!important;
    color: #2D2D2D;
  }

  .cogno-doc-container .card-body {
    padding: 0.75em 0.75em 0.75em 0.75em!important;
  }

  .cogno-doc-container .card-footer {
    text-align: right;
    background: #FFFFFF!important;
    border-top: none!important;
    padding: 0em 0.75em 0.75em 0.75em!important;
  }

  .cogno-doc-container .card-footer .btn-send-cogno-meet-doc {
    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #0254D7;
    padding: 0!important;
    outline: none;
    box-shadow: none!important;
  }

  .cogno-doc-container .cogno-doc-textarea {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 14px;
    letter-spacing: 0.01em;
  }

  .cogno-doc-container .cogno-doc-textarea::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #909090;
  }