.easyassist-session-options-modal {
    display: none;
    position: fixed !important;
    z-index: 9999999 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0,0,0,0.4) !important;
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box !important;
    text-align: center !important;
    color: black !important;
    line-height: 1.5 !important;
    margin: unset !important;
    padding: unset !important;
    overflow: auto !important;
}

.easyassist-session-options-modal div {
    background-color: #fff !important;
    padding: 20px !important;
    width: 400px !important;
    border-radius: 25px !important;
    box-sizing: border-box !important;
}

.easyassist-session-options-modal p {
    color: #312e2e;
    line-height: 1.5;
    margin: unset !important;
}

.easyassist-session-options-modal button {
    background-color: #486EDB; 
    color: white; 
    font-size: 13px; 
    width: 120px;
    height: 35px;
    border-radius: 20px; 
    border-style: none; 
    outline:none; 
    cursor:pointer;
    padding: unset;
    border: unset;
    margin: unset;
}
