input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#api-generated-code { 
    width:100%;
    height:82vh;
    /*height:40em;*/
    overflow:auto;
}

.collection-sidebar-list{
    background: white;
}

.auto-api-container{
    padding: 0.5em 0.5em 0em 0.5em;
}

.auto-api-metadata-1-method{
    width: 10rem;
}

.btn-width-100{
    width: 100% !important;
}

.auto-api-metadata-1-url{
    padding-left: 0px;
}

.auto-api-metadata-1-send{
    padding-left: 0px;
    display: flex;
    justify-content: space-evenly;
}

.auto-api-subsection-row:not(:first-child){
    padding-top: 10px;
}

.auto-api-subsection-row{
    padding-bottom: 10px;
}

.auto-api-header-name{
    cursor: pointer;
}

.auto-api-api-type-ul .api-type-li{
    cursor: pointer;
}

.auto-api-authorization-ul .api-auth-li{
    cursor: pointer;
}

#api-response-container{
    margin-top: 1rem;
}

#request-response-container{
    padding: 20px;
    border-radius: 10px;
    outline: none;
}

.cognoai-collapsed .auto-api-subsection-body{
    /*display: none;*/
    opacity: 0.6;
}

.api-response-action-button{
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
    padding-right: 0px;
}

.api-generated-code-button{
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
    padding-right: 0px;
}

.response-parse-checkbox{
    margin-top: 7px;
}

#genrate_api_tree_confirmation_modal .modal-dialog{
    width: 366px ;
    top: 50% ;
    transform: translateY(-50%) !important;
    border-radius: 16px !important;
}

.modal.easychat-config-modals-wrapper .termination-confirmation-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    padding: 16px;
}

.modal.easychat-config-modals-wrapper .termination-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.easychat-config-modals-wrapper .termination-confirmation-text {
    font-size: 16px;
    line-height: 24px;
    font-family: "Silka", sans-serif;
    text-align: center;
    color: #2D2D2D;
    padding: 20px;
    width: 80%;
}

.modal.easychat-config-modals-wrapper .termination-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal.easychat-config-modals-wrapper .termination-buttons button {
    width: 132.5px;
    height: 36px;
    border-radius: 24px;
    padding: 7px 16px;
    font-size: 16px;
    line-height: 140%;
    outline: none;
}

.modal.easychat-config-modals-wrapper .termination-no-btn {
    background: #FFFFFF;
    border: 1px solid #CBCACA;
    color: #4D4D4D;
    margin-right: 12px !important;
}

.modal.easychat-config-modals-wrapper .termination-yes-btn {
    background: #0254D7;
    border: 1px solid #0254D7;
    color: #FFFFFF;
    margin-left: 12px !important;
}

.modal.easychat-config-modals-wrapper .termination-yes-btn:focus {
    background: #0254D7 !important;
}


#api-body{
    min-height: 200px;
}