<div class="col s12 l12 m12 p0 pl-lg" style="padding-left:0px !important;">
    <div class="easychat-analytics-card-area-wrapper">
        <div class="easychat-analytics-card-heading-text-wrapper">
            <div class="easychat-analytics-card-heading-div" style="display: flex;">
                Hour-wise Analytics
                <div class="hour-wise-analytics-header-tag-div" id="hour-wise-analytics-header-div" style="display:None">
                    The values on the graph are cumulative sum of the individual hour interval for the selected date range
                </div>
            </div>
            
            <div class="easychat-analytics-card-action-btns">
                <a class="modal-trigger easychat-analytics-card-filter-btn" onclick="export_analytics_in_excel('hour_wise_analytics')"
                     style="cursor: pointer;">
                     {% include "EasyChatApp/analytics/export.html" %}
                </a>

                <a href="#modal-hour-wise-analytics-settings" class="modal-trigger easychat-analytics-card-filter-btn">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.33333 15.3571C9.33333 15.1866 9.40357 15.0231 9.5286 14.9026C9.65362 14.782 9.82319 14.7143 10 14.7143H14C14.1768 14.7143 14.3464 14.782 14.4714 14.9026C14.5964 15.0231 14.6667 15.1866 14.6667 15.3571C14.6667
                            15.5276 14.5964 15.6912 14.4714 15.8117C14.3464 15.9323 14.1768 16 14 16H10C9.82319 16 9.65362 15.9323 9.5286 15.8117C9.40357 15.6912 9.33333 15.5276 9.33333 15.3571ZM6.66667 11.5C6.66667 11.3295 6.7369 11.166 6.86193 11.0454C6.98695
                            10.9249 7.15652 10.8571 7.33333 10.8571H16.6667C16.8435 10.8571 17.013 10.9249 17.1381 11.0454C17.2631 11.166 17.3333 11.3295 17.3333 11.5C17.3333 11.6705 17.2631 11.834 17.1381 11.9546C17.013 12.0751 16.8435 12.1429 16.6667
                            12.1429H7.33333C7.15652 12.1429 6.98695 12.0751 6.86193 11.9546C6.7369 11.834 6.66667 11.6705 6.66667 11.5ZM4 7.64286C4 7.47236 4.07024 7.30885 4.19526 7.18829C4.32029 7.06773 4.48986 7 4.66667 7H19.3333C19.5101 7 19.6797 7.06773
                            19.8047 7.18829C19.9298 7.30885 20 7.47236 20 7.64286C20 7.81335 19.9298 7.97687 19.8047 8.09743C19.6797 8.21798 19.5101 8.28571 19.3333 8.28571H4.66667C4.48986 8.28571 4.32029 8.21798 4.19526 8.09743C4.07024 7.97687 4 7.81335
                            4 7.64286Z" fill="#1B65DB" />
                    </svg>
                </a>


            </div>

        </div>
        <div class="easychat-analytics-card-heading-text-wrapper">
            <div class="easychat-analytics-card-subheading-div" id="hour-wise-analytics-range">
                <span>Range :</span>
            </div>


        </div>

        <div class="easychat-analytics-graph-wrapper" style="height: 360px; margin-top: 6px;">
            <div id="hour-wise-analytics-graph"></div>

        </div>
    </div>

</div>
<div id="modal-hour-wise-analytics-settings" class="modal easychat-custom-modals-container">

    <div class="modal-content">
        <div class="row" style="margin-bottom: 12px !important;">
            <div class="modal-header">
                <div class="modal-heading-text-div">Filter - Hour-wise Analytics</div>
                <a href="javascript:void(0)" class="modal-close-btn modal-close">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.9247 6.12377C18.7379 5.93652 18.4842 5.83129 18.2197 5.83129C17.9552 5.83129 17.7016 5.93652 17.5147 6.12377L12.6247 11.0038L7.73473 6.11377C7.5479 5.92652 7.29424 5.82129 7.02973 5.82129C6.76521 5.82129 6.51156 5.92652 6.32473 6.11377C5.93473
                            6.50377 5.93473 7.13377 6.32473 7.52377L11.2147 12.4138L6.32473 17.3038C5.93473 17.6938 5.93473 18.3238 6.32473 18.7138C6.71473 19.1038 7.34473 19.1038 7.73473 18.7138L12.6247 13.8238L17.5147 18.7138C17.9047 19.1038 18.5347
                            19.1038 18.9247 18.7138C19.3147 18.3238 19.3147 17.6938 18.9247 17.3038L14.0347 12.4138L18.9247 7.52377C19.3047 7.14377 19.3047 6.50377 18.9247 6.12377Z"
                            fill="black" fill-opacity="0.54" />
                    </svg>

                </a>
            </div>

            <div class="modal-overflow-content-div">

                <div class="col s12 analytics-filter-select-area">
                    <div class="filter-heading">
                        Interval
                    </div>
                    <label>
                        <input type="radio" name="hour-wise-analytics-interval" checked value="1" />
                        <div class="filter-box">
                            <span>1 hr</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="hour-wise-analytics-interval" value="2">
                        <div class=" filter-box">
                            <span>3 hr</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="hour-wise-analytics-interval" value="3">
                        <div class=" filter-box">
                            <span>6 hr</span>
                        </div>
                    </label>

                </div>
                <div class="col s12 analytics-filter-select-area">
                    <div class="filter-heading">
                        Time format
                    </div>
                    <label>
                        <input type="radio" name="hour-wise-analytics-time-format" checked value="1" />
                        <div class="filter-box">
                            <span>12 hr</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="hour-wise-analytics-time-format" value="2">
                        <div class=" filter-box">
                            <span>24 hr</span>
                        </div>
                    </label>
                </div>


                <div class="col s12 analytics-filter-select-area">
                    <div class="filter-heading">
                      Select Date Range
                    </div>
                   
                    <label onclick="show_hour_wise_custom_date()">
                      <input type="radio" name="hour_wise_analytics_date_filter" id="hour_wise_month"
                        start_date_value='{{ LAST_MONTH_START_DATETIME|date:"Y-m-d" }}'
                        end_date_value='{{ DEFAULT_ANALYTICS_END_DATETIME|date:"Y-m-d" }}'>
                      <div class=" filter-box">
                        <span>Last Month</span>
                      </div>
                    </label>
                    <label onclick="show_hour_wise_custom_date()">
                      <input type="radio" name="hour_wise_analytics_date_filter" id="hour_wise_three_month"
                        start_date_value='{{ LAST3_MONTH_START_DATETIME|date:"Y-m-d" }}'
                        end_date_value='{{ DEFAULT_ANALYTICS_END_DATETIME|date:"Y-m-d" }}'>
                      <div class=" filter-box">
                        <span>Last 3 Month</span>
                      </div>
                    </label>
                    <label onclick="show_hour_wise_custom_date()">
                      <input type="radio" name="hour_wise_analytics_date_filter" id="hour_wise_beg"
                        start_date_value='{{ go_live_date|date:"Y-m-d" }}'
                        end_date_value='{{ DEFAULT_ANALYTICS_END_DATETIME|date:"Y-m-d" }}'>
                      <div class=" filter-box">
                        <span>Since Go Live Date</span>
                      </div>
                    </label>
                    <label onclick="show_hour_wise_custom_date()">
                      <input type="radio" name="hour_wise_analytics_date_filter" id="hour_wise_analytics_filter_custom_date_btn">
                      <div class=" filter-box">
                        <span>Custom Date</span>
                      </div>
                    </label>
                  </a>
                  </div>
          
                  <div class="col s11 analytics-custom-date-select-area" id="hour-wise-custom-date-select-area"
                    style="display: none;">
          
                    <div class="col s6" style="padding-left: 2px; font-weight: 600;color: #4d4d4d; font-size: 14px;">
                      Start Date
                      <input type="date" class="analytics-start-date" id="hour-wise-custom-start-date"
                        onchange="set_hour_wise_custom_date()"
                        placeholder="Enter start date" value='{{ DEFAULT_ANALYTICS_START_DATETIME|date:"Y-m-d" }}'
                        style="border: 2px solid #F6F6F6 !important; border-radius:4px !important;">
                    </div>
                    <div class="col s6" style="font-weight: 600; padding-right: 0px !important;color: #4d4d4d; font-size: 14px;">
                      End Date
                      <input type="date" class="analytics-end-date" id="hour-wise-custom-end-date" value='{{ DEFAULT_ANALYTICS_END_DATETIME|date:"Y-m-d" }}'
                        onchange="set_hour_wise_custom_date()"
                        placeholder="Enter end date" style="border: 2px solid #F6F6F6 !important; border-radius:4px !important;">
                    </div>
                  </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-close btn filter-modal-footer-btn-cancel" onclick="reset_analytics_filter('hour_wise')">Clear filter</a>
        <a href="javascript:void(0)" class="modal-close btn filter-modal-footer-btn"
            onclick="load_hour_wise_analytics()">Apply Filter</a>
    </div>
</div>

<div id="modal-email-for-export-hour-wise-analytics" class="modal easychat-custom-modals-container">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 12px !important;">
  
            <div class="modal-header">
                <div class="modal-heading-text-div">Email - Hour-wise Analytics</div>
                <a href="javascript:void(0)" class="modal-close-btn modal-close">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.9247 6.12377C18.7379 5.93652 18.4842 5.83129 18.2197 5.83129C17.9552 5.83129 17.7016 5.93652 17.5147 6.12377L12.6247 11.0038L7.73473 6.11377C7.5479 5.92652 7.29424 5.82129 7.02973 5.82129C6.76521 5.82129 6.51156 5.92652 6.32473 6.11377C5.93473 6.50377 5.93473 7.13377 6.32473 7.52377L11.2147 12.4138L6.32473 17.3038C5.93473 17.6938 5.93473 18.3238 6.32473 18.7138C6.71473 19.1038 7.34473 19.1038 7.73473 18.7138L12.6247 13.8238L17.5147 18.7138C17.9047 19.1038 18.5347 19.1038 18.9247 18.7138C19.3147 18.3238 19.3147 17.6938 18.9247 17.3038L14.0347 12.4138L18.9247 7.52377C19.3047 7.14377 19.3047 6.50377 18.9247 6.12377Z" fill="black" fill-opacity="0.54"></path>
                    </svg>
  
                </a>
            </div>
            <div class="modal-overflow-content-div">
                <div class="col s12 analytics-custom-date-select-area">
                    <div class="col s12" style="font-weight: 600; padding: 0px !important;color: #4d4d4d;
  font-size: 14px;">
                        Email ID <span style="color: red;">*</span>
                        <textarea id="export-data-email-hour-wise-analytics" rows="3" onkeydown="resize_Textarea('export-data-email-hour-wise-analytics')">{{ request.user.email }}</textarea>
                        <p class="email-validation-error"></p>
                        <p class="duplicate-email-error"></p>
                        <span>
                            <div class="analytics-email-note-export">Note: You will receive the data dump on the email address(es) provided.<br>To add multiple email addresses, follow the format example: example@xyz.com, example@abc.com</div>
                        </span>
                    </div>
                    <div id="selected_bot_pk" data-selected_bot_pk="{{ selected_bot_id }}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="btn filter-modal-footer-btn" onclick="export_analytics_in_excel('hour_wise_analytics',true)">Export</a>
    </div>
  
  </div>

  <script>
    function show_hour_wise_custom_date() {
        if (document.getElementById('hour_wise_analytics_filter_custom_date_btn').checked) {
            document.getElementById("hour-wise-custom-date-select-area").style.display = "block";
        } else {
            document.getElementById("hour-wise-custom-date-select-area").style.display = "none";
        }
    }

    function set_hour_wise_custom_date() {
        $("#hour_wise_analytics_filter_custom_date_btn")[0].setAttribute("start_date_value", $("#hour-wise-custom-start-date").val())
        $("#hour_wise_analytics_filter_custom_date_btn")[0].setAttribute("end_date_value", $("#hour-wise-custom-end-date").val())
    }

</script>