:root {
    --color_rgba_3: #f4f6fe;

    --color_rgba_5: #eaecf4;

    --color_rgba_8: #e4e9fe;

    --color_rgba_10: #e6e8fc;

    --color_rgba_90: 

    --color_rgba_60: #ef827f;

    --color_rgb: #0254D7;

    --dark_color: #013E9F;

    --color_text: #4A4A4A;
}

.file-upload-img-div-client path{
    fill: var(--color_rgb) !important;
}

#content {
    background: var(--color_rgba_3) !important;
}

.sticky-footer {
    background: var(--color_rgba_3) !important;
}

.card-header {
    background: var(--color_rgba_3) !important;
}

.btn-primary, .btn-info {
    background: var(--color_rgb) !important;
}

.btn-primary:hover,
.btn-info:hover {
    color: #FFFFFF!important;
    background: var(--color_rgb) !important;
}

.modal .btn-primary {
    background: var(--color_rgb) !important;
    border: none!important;
}

.modal .btn-primary:hover {
    background: var(--color_rgb) !important;
}

th {
    color: var(--color_text) !important;
    background: var(--color_rgba_8) !important;
    min-width: 200px;
}

.sidebar-dark .nav-item.active .nav-link {
    background-color: var(--color_rgba_10) !important;
}

.sidebar-dark .nav-item .nav-link:hover {
    background: var(--color_rgba_10) !important;
}

input:checked+.easyassist-switch-slider {
    background: var(--color_rgb) !important;
}

.text-primary {
    color: var(--color_text) !important;
}

.page-item.active .page-link {
    background: var(--color_rgb) !important;
    border-color: var(--color_rgb) !important;
    color: white!important;
}

.btn-tab {
    color: var(--color_rgb) !important;
    border: 1px solid var(--color_rgb) !important;
}

.btn-tab-active {
    background: var(--color_rgba_3) !important;
    border: 1px solid var(--color_rgb) !important;
}

.nav-pills .nav-link.active {
    color: var(--color_rgb) !important;
    border: 1px solid var(--color_rgb) !important;
    background: var(--color_rgba_10) !important;
}

a {
    color: var(--color_rgb)!important;
}

a:hover {
    color: var(--color_rgb) !important;
}

.modal-title {
    color: var(--color_text)!important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: var(--color_rgba_3) !important;
}

.card-cobrowse {
    background: linear-gradient(180deg, var(--color_rgb) 0%, var(--dark_color) 100%)!important;
}

.icon-cobrowse {
    background: var(--color_rgb) !important;
}

.sidebar-dark #sidebarToggle {
    color: #FFFFFF!important;
    background: var(--color_rgba_10) !important;
}

.btn-danger:hover {
    color: #FFFFFF!important;
}

.bg-primary {
    background: var(--color_rgb)!important;
}

.sessiondetail-icon {
    background: var(--color_rgb)!important;
    background-color: rgba(0, 0, 0, .15)!important;
}

@media only screen and (min-width: 768px) {
    .input-group-text {
        background: var(--color_rgba_5) !important;
    }
}

.btn-outline-primary {
    color: var(--color_rgb)!important;
    border: 1px solid var(--color_rgb)!important;
}

.btn-outline-primary:hover {
    color: var(--color_rgb)!important;
}

#refresh-btn svg path {
    fill: var(--color_rgb)!important;
}

.active-page {
    color: var(--color_rgb) !important;
    background: var(--color_rgba_10) !important;
    border-bottom: 3px solid var(--color_rgb) !important;
}

.btn-white-border {
    border: 1px solid var(--color_rgb)!important;
    color: var(--color_rgb)!important;
}

.btn-text-only {
    color: var(--color_rgb)!important;
}

.btn.btn-text-only:hover {
    color: var(--color_rgb)!important;
}

.agent-username-link {
    color: var(--color_rgb)!important;
}

#apply_filter_modal .btn-secondary {
    color: var(--color_rgb)!important;
}

.upload_file_modal svg path {
    fill: var(--color_rgba_60)!important;
}

.btn-success {
    background: var(--color_rgb)!important;
    border: none!important;
    color: #fff!important;
}

.datepicker table.table-condensed tr td.active {
    background: var(--color_rgb)!important;
}

.sidebar-dark .nav-item.active .nav-link span {
    color: var(--color_rgb)!important;
}

.sidebar-dark .nav-item.active .nav-link svg:not(.sidebar-svg-theme-color) path {
    fill: var(--color_rgb)!important;
}

.sidebar-dark .nav-item.active .nav-link svg.sidebar-svg-theme-color {
    stroke: var(--color_rgb)!important;
}

.change-password-btn {
    color: var(--color_rgb)!important;
}

#tms_logo_upload_button {
    background: var(--color_rgb)!important;
}

#pills-options-tab .nav-item .nav-link.active {
    border-bottom: 3px solid var(--color_rgb) !important;
    color: var(--color_rgb) !important;
}

.tooltip.show {
    opacity: 1;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: var(--color_rgba_90) !important;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: var(--color_rgba_90) !important;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: var(--color_rgba_90) !important;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: var(--color_rgba_90) !important;
}

.tooltip-inner {
      background: var(--color_rgba_90) !important;
}

.svg-theme-color path {
    fill:  var(--color_rgb) !important;
}

.filter-header-row {
    background: var(--color_rgba_8) !important;
}

.filter-chip {
    background: var(--color_rgba_8) !important;
    border: 1px solid var(--color_rgb)!important;
    color: var(--color_rgb)!important;
}

.filter-chip path {
    fill: var(--color_rgb)!important;
}

.filter-remove-icon {
    background: var(--color_rgba_8) !important;
}

.filter-remove-icon path {
    fill: var(--color_rgb)!important;
}

.filter-remove-icon path {
    stroke: var(--color_rgb)!important;
}

.clear-all-filter-btn {
    color: var(--color_rgb)!important;
}

#assign-ticket-btn{
    background: var(--color_rgba_3) !important;
    border: 1px solid var(--color_rgb);
    color: var(--color_rgb);
}

.tms-checkbox-label input:checked~.tms-checkbox-checkmark{
    color: var(--color_rgb) !important;
    background-color: var(--color_rgb) !important;
    border-color: var(--color_rgb) !important;
}

#tms_active_lead_table th{
    border-right: 1px solid var(--color_rgba_15) !important;
    /*border-style: dashed !important;*/
}

#tms_active_lead_table th:last-child {
    border: none!important;
}

.agent-management-status-tile > div.active{
    background-color: var(--color_rgba_8) !important;
}

.tms_notification_count_bubble {
    background: var(--color_rgb) !important;
}

.notification_header{
    color: var(--color_rgb) !important;
}

.clear_notification{
    fill: var(--color_rgb);
}

.view_more_notf_ticket_wise{
    stroke: var(--color_rgb);
    cursor: pointer;
}

.view_less_notf_ticket_wise{
    stroke: var(--color_rgb);
    cursor: pointer;
}

.tms-new-notification-border:hover{
    border-color: var(--color_rgb);
}

.tms-new-notification-link{
    color: var(--color_rgb);
}

.tms-new-notification-border{
    color: var(--color_rgb);
}

.btn-link {
  color: var(--color_rgb) !important;
}

.dropdown-item:hover {
    background-color: var(--color_rgba_10) !important;
    color:  #7a7a7a !important;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: var(--color_rgba_90) !important;
    color: white !important;
}

#ticket_status_modal .ticket-comment-card .special-message p{
    color: var(--color_rgb) !important;
}

#tms_custom_filter_modal .app-filter-select-area input[type=radio]:checked+.filter-box {
    border: 1px solid var(--color_rgb) !important;
}

#tms_custom_filter_modal .app-filter-select-area input[type=radio]:checked+.filter-box span {
    color: var(--color_rgb) !important;
}

#tms_custom_filter_modal .filter-option-button-area input[type="checkbox"]:checked+.option-button{
    border: 1px solid var(--color_rgb) !important;
}

#tms_custom_filter_modal .filter-option-button-area input[type="checkbox"]:checked+.option-button span {
    color: var(--color_rgb) !important;
}
