.input-group-text {
    width: 143px;
    height: 31px;
}

.easyassist-disabled-input:hover{
    cursor: not-allowed;
}

#pills-options {
    display: flex;
    justify-content: center;
}

#tms_logo_upload_button {
    height: 37px;
    background: #1C43C5;
    border-radius: 5px;
    outline: none!important;
    color: white;
    border: none;
}

#change_console_color_button {
    border: none;
    background-color: inherit;
    cursor: pointer !important;
    justify-content: right !important;
    outline: none;
}

@media only screen and (min-width: 760px) {
    #save-btn-admin {
        margin-bottom: 10rem;
    }
}

.card-heading-text {
    font-size: 16px;
    letter-spacing: -0.01em;
    font-weight: 500 !important;
    font-style: normal;
}

tbody tr {
    border-bottom: 1px solid #F4F4F4;
}

th {
    font-family: Silka;
    font-style: normal;
    font-weight: normal!important;
    font-size: 15px;
    line-height: 18px;
    color: #858796;
    height: 64px;
    vertical-align: middle!important;
    padding-top: 0.75em!important;
}

.card-subheader-heading-text {
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 22px;
    font-style: normal;
    color: #3662C5;
    /*font-weight: 500!important*/
}

.easyassist-option-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22px;
    margin-top: 1em;
}

.easyassist-option-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.easyassist-option-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid #BECAD6;
}

.easyassist-option-switch-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: #BECAD6;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.easyassist-option-switch-slider {
    background-color: #1C43C5;
    border: 2px solid #1C43C5;
}

input:focus+.easyassist-option-switch-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.easyassist-option-switch-slider:before {
    background: white;
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}


/* Rounded easyassist-option-switch-sliders */

.easyassist-option-switch-slider.round {
    border-radius: 34px;
}

.easyassist-option-switch-slider.round:before {
    border-radius: 50%;
}

#recording_expires_in_days {
    border: 1px solid #DADADA!important;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none!important;
}

textarea {
    max-width: 447px!important;
    height: 9em!important;
    border: 1px solid #DADADA!important;
    box-sizing: border-box;
    border-radius: 8px!important;
    resize: none;
}

#tms-console-theme-color {
    /* width: 173px!important; */
    height: 37px;
    border-radius: 5px;
    border: 1px solid #DADADA!important;
}

table {
    table-layout: fixed;
}

.pills-options-tabContent {
    padding: 1.25em!important;
}

.pills-options-tabContent .table-card-body {
    padding-bottom: 0!important;
}

.pills-options-tabContent .card {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px!important;
}

.pills-options-tabContent .shadow {
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1)!important;
}

@media only screen and (max-width: 767px) {
    #tms-console-theme-color {
        width: 100%!important;
    }
    th {
        height: initial!important;
        min-height: 64px!important;
    }
    #tms_logo_upload_button {
        width: 100%;
    }
    .tr-flex-sm:not(.easyassist_hidden_div) {
        display: flex!important;
        flex-direction: column;
        padding-left: 0!important;
    }
    #pills-integration .card-body {
        padding: 10px!important;
    }
    .btn-icon-split {
        width: 100%!important;
        text-align: center;
    }
    .btn-icon-split .text {
        padding: 0.375em 2.8em!important;
    }
    .mb-sm {
        margin-bottom: 1em;
    }
    #tms_logo_input {
        padding-left: 11px!important
    }
    #tms_logo_upload_modal .modal-footer button:first-child {
        order: 1;
    }
    #tms_logo_upload_modal .modal-footer button:last-child {
        order: 3;
    }
    button.btn {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    #save-cobrowsing-meta-details-error {
        padding: 0em 1.25em!important;
    }
}

tbody tr:hover td .edit-delete-btn-class {
    visibility: visible !important;
}

tbody td .edit-delete-btn-class svg:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .direction-sm {
        flex-direction: column;
    }
    .direction-sm input {
        width: 100% !important;
    }
    .direction-sm th {
        height: 40px !important;
    }
    .px-mx-sm {
        padding: 0px !important;
        margin: 0px !important;
    }
    .pii-data-otp {
        margin: 10px 5px !important;
        text-align: center !important;
        padding: 0px !important;
    }
    .padding-sm {
        margin-left: 2.5rem !important;
    }
}

.form-control:disabled,
.form-control[readonly] {
    color: #6e707e !important;
    -webkit-text-fill-color: #6e707e;
    opacity: 1;
}

.change-password-option {
    justify-content: flex-end;
}

.change-password-btn {
    border: none !important;
    outline: none !important;
    background: transparent !important;
    padding-right: 0px !important;
    width: 165px !important;
    color: #0254D7;
    text-align: right !important;
}

#change-password-div {
    /* margin-top: -15px !important; */
    margin-bottom: 15px !important;
}

#pills-options-tab .nav-item .nav-link {
    color: black;
    border: none;
}

#pills-options-tab .nav-item .nav-link.active {
    color: #435ac6;
    background-color: inherit;
    border: none;
    border-bottom: 3px solid  #435ac6;
}

#agent_settings_bots_list{
    padding: 4px 8px 4px 15px;
    background: white;
    border-radius: 0.2rem;
    width: 100%;
    border: 1px solid #d1d3e2;
    margin-bottom: 0px;
    font-size: .875rem;
}

#agent_settings_category_list{
    padding: 4px 8px 4px 15px;
    background: white;
    border-radius: 0.2rem;
    width: 100%;
    border: 1px solid #d1d3e2;
    margin-bottom: 0px;
    font-size: .875rem;
}
