<div id="easychat_language_config_modal" class="modal easychat-language-config-modals-wrapper">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 12px !important;">
            <div class="modal-header">
                <div class="modal-heading-text-div">Languages</div>
                <a href="javascript:void(0)" class="modal-close-btn modal-close">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.9247 6.12377C18.7379 5.93652 18.4842 5.83129 18.2197 5.83129C17.9552 5.83129 17.7016 5.93652 17.5147 6.12377L12.6247 11.0038L7.73473 6.11377C7.5479 5.92652 7.29424 5.82129 7.02973 5.82129C6.76521 5.82129 6.51156 5.92652 6.32473 6.11377C5.93473 6.50377 5.93473 7.13377 6.32473 7.52377L11.2147 12.4138L6.32473 17.3038C5.93473 17.6938 5.93473 18.3238 6.32473 18.7138C6.71473 19.1038 7.34473 19.1038 7.73473 18.7138L12.6247 13.8238L17.5147 18.7138C17.9047 19.1038 18.5347 19.1038 18.9247 18.7138C19.3147 18.3238 19.3147 17.6938 18.9247 17.3038L14.0347 12.4138L18.9247 7.52377C19.3047 7.14377 19.3047 6.50377 18.9247 6.12377Z" fill="black" fill-opacity="0.54"></path>
                    </svg>

                </a>
            </div>
            <div class="modal-overflow-content-div">
                <div class="col s12 easychat-existing-language-container">
                    <div class="language-config-modal-header-text">
                        {% if bot_obj.languages_supported.count != 1 %}
                             Existing Languages 
                        {% else %}
                            No Language Added Yet
                        {% endif %}
                    </div>
                    <div class="col s12 easychat-existing-language-lists">
                        
                        {% for language in bot_obj.languages_supported.all %}
                            {% if language.lang != "en" %}
                                <div class="channel-box language-chip-box">
                                    <span> {{language.name_in_english}}</span>
                                    <a onclick="handle_edit_language_change('{{language.name_in_english}}-{{language.lang}}')" class="easychat-language-config-edit-btn modal-trigger modal-close">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M13.3736 2.62638C14.2088 3.46154 14.2088 4.81562 13.3736 5.65079L6.22097 12.8034C6.0555 12.9689 5.84972 13.0883 5.62395 13.1499L2.56665 13.9837C2.23206 14.075 1.92503 13.7679 2.01629 13.4333L2.8501 10.376C2.91167 10.1503 3.03109 9.9445 3.19656 9.77903L10.3492 2.62638C11.1844 1.79121 12.5385 1.79121 13.3736 2.62638ZM9.76981 4.4736L3.83045 10.4129C3.77529 10.4681 3.73548 10.5367 3.71496 10.6119L3.08754 12.9125L5.38808 12.285C5.46334 12.2645 5.53193 12.2247 5.58709 12.1696L11.5262 6.23004L9.76981 4.4736ZM10.9831 3.26026L10.4033 3.83951L12.1597 5.59655L12.7397 5.0169C13.2248 4.53182 13.2248 3.74534 12.7397 3.26026C12.2547 2.77518 11.4682 2.77518 10.9831 3.26026Z" fill="#7B7A7B"/>
                                            </svg>   
                                    </a>
                                    <a onclick="handle_delete_language('{{language.lang}}')" class="easychat-manager-revoke-access-btn modal-trigger"><svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.725 4.2825C13.5849 4.14206 13.3947 4.06313 13.1963 4.06313C12.9979 4.06313 12.8077 4.14206 12.6675 4.2825L9.00004 7.9425L5.33254 4.275C5.19242 4.13456 5.00218 4.05563 4.80379 4.05563C4.6054 4.05563 4.41516 4.13456 4.27504 4.275C3.98254 4.5675 3.98254 5.04 4.27504 5.3325L7.94254 9L4.27504 12.6675C3.98254 12.96 3.98254 13.4325 4.27504 13.725C4.56754 14.0175 5.04004 14.0175 5.33254 13.725L9.00004 10.0575L12.6675 13.725C12.96 14.0175 13.4325 14.0175 13.725 13.725C14.0175 13.4325 14.0175 12.96 13.725 12.6675L10.0575 9L13.725 5.3325C14.01 5.0475 14.01 4.5675 13.725 4.2825Z" fill="#7B7A7B"/>
                                        </svg>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                </div>
                <!-- existing lang container div end -->
            </div>
            <!-- overflow content div end -->
        </div> 
        <!-- row  div end -->
    </div>
    <!-- content div end -->
    <div class="modal-footer">

        <a onclick="handle_add_new_language()" class="btn filter-modal-footer-btn modal-trigger modal-close">Add New</a>

    </div>
</div>
<!-- modal div end -->
<div id="easychat_language_config_add_new_modal" class="modal easychat-language-config-modals-wrapper">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 12px !important;">
            <div class="modal-header">
                <div class="modal-heading-text-div">Configure Language</div>
                <a onclick="reset_add_langauge_modal()" href="javascript:void(0)" class="modal-close-btn modal-close">
                    <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.9247 6.12377C18.7379 5.93652 18.4842 5.83129 18.2197 5.83129C17.9552 5.83129 17.7016 5.93652 17.5147 6.12377L12.6247 11.0038L7.73473 6.11377C7.5479 5.92652 7.29424 5.82129 7.02973 5.82129C6.76521 5.82129 6.51156 5.92652 6.32473 6.11377C5.93473 6.50377 5.93473 7.13377 6.32473 7.52377L11.2147 12.4138L6.32473 17.3038C5.93473 17.6938 5.93473 18.3238 6.32473 18.7138C6.71473 19.1038 7.34473 19.1038 7.73473 18.7138L12.6247 13.8238L17.5147 18.7138C17.9047 19.1038 18.5347 19.1038 18.9247 18.7138C19.3147 18.3238 19.3147 17.6938 18.9247 17.3038L14.0347 12.4138L18.9247 7.52377C19.3047 7.14377 19.3047 6.50377 18.9247 6.12377Z" fill="black" fill-opacity="0.54"></path>
                    </svg>

                </a>
            </div>
            <div class="col s12 easychat-select-new-language-container">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="language-config-modal-header-text">
                                    Select New Language
                                </div>
                            </td>
                            <td>
                                <select name="language-config-select-new-lang-dropdown" id="language_config_select_new_lang_dropdown" onchange="handle_action_type_change(this)">
                                        <option value="none" selected disabled hidden>Select Language</option>
                                        {% for language in master_languages %}
                                            {% if language.lang != "en" %}    
                                                
                                                <option id="{{language.name_in_english}}-{{language.lang}}"  value="{{language.lang}}" >{{language.name_in_english}}</option>
                                            {% endif %}    
                                        {% endfor %}
                                    </select>
                                <div id="language_config_select_new_lang_dropdown_container"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- container end -->
            <div class="col s12 easychat-language-configure-constant-keywords-container" id="easychat_language_configure_constant_keywords_container">
                <div class="language-config-modal-header-text" style="padding-left: 19px; margin-bottom: 0px;">
                    Configure Constant Keywords :
                </div>
                <div class="modal-overflow-content-div">
                    <table>
                        <tbody id="easychat_language_configure_constant_keywords_table_body">

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- keywords conatiner end -->
            <div id="language-template-object-loader" style="display: none;">
                <img id="language-change-loader-gif" style="width: 220px;height: 135px;" src="/static/EasyChatApp/img/language_change_loader.gif">
                <div id="language-loader-inner-text" style="color: #2755CB;font-weight:500;"> Loading Languages</div>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- content end -->
    <div class="modal-footer">

        <a onclick="save_language_configuration_constant_keywords()" id="configure-constant-keywords-save-button" class="btn modal-trigger filter-modal-footer-btn">Save</a>

    </div>
</div>
<!-- modal end -->

<div id="easychat_language_config_email_verify_modal" class="modal easychat-language-config-modals-wrapper">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 12px !important;">

            <a href="javascript:void(0)" class="modal-close-btn modal-close">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9247 6.12377C18.7379 5.93652 18.4842 5.83129 18.2197 5.83129C17.9552 5.83129 17.7016 5.93652 17.5147 6.12377L12.6247 11.0038L7.73473 6.11377C7.5479 5.92652 7.29424 5.82129 7.02973 5.82129C6.76521 5.82129 6.51156 5.92652 6.32473 6.11377C5.93473 6.50377 5.93473 7.13377 6.32473 7.52377L11.2147 12.4138L6.32473 17.3038C5.93473 17.6938 5.93473 18.3238 6.32473 18.7138C6.71473 19.1038 7.34473 19.1038 7.73473 18.7138L12.6247 13.8238L17.5147 18.7138C17.9047 19.1038 18.5347 19.1038 18.9247 18.7138C19.3147 18.3238 19.3147 17.6938 18.9247 17.3038L14.0347 12.4138L18.9247 7.52377C19.3047 7.14377 19.3047 6.50377 18.9247 6.12377Z" fill="black" fill-opacity="0.54"></path>
                </svg>

            </a>

            <div class="modal-overflow-content-div">
                <div class="easychat-email-otp-modal-subheading-div">
                    Please verify your Email ID to proceed further
                </div>

                <div class="easychat-email-otp-failed-message-box">
                    Please insert Cogno AI email to continue.
                </div>

                <input type="text" id="easychat-language-configuration-email-id" class="easychat-lang-config-email-input" value="{{request.user.username}}" placeholder="Email Address">

                <a onclick="show_send_otp_modal()" class="modal-trigger easychat-email-otp-sent-btn ">
                    Send OTP
                </a>
            </div>
        </div>
    </div>

</div>
<!-- modal end -->

<div id="easychat_language_config_otp_verify_modal" class="modal easychat-language-config-modals-wrapper">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 12px !important;">


            <a href="javascript:void(0)" class="modal-close-btn modal-close">
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.9247 6.12377C18.7379 5.93652 18.4842 5.83129 18.2197 5.83129C17.9552 5.83129 17.7016 5.93652 17.5147 6.12377L12.6247 11.0038L7.73473 6.11377C7.5479 5.92652 7.29424 5.82129 7.02973 5.82129C6.76521 5.82129 6.51156 5.92652 6.32473 6.11377C5.93473 6.50377 5.93473 7.13377 6.32473 7.52377L11.2147 12.4138L6.32473 17.3038C5.93473 17.6938 5.93473 18.3238 6.32473 18.7138C6.71473 19.1038 7.34473 19.1038 7.73473 18.7138L12.6247 13.8238L17.5147 18.7138C17.9047 19.1038 18.5347 19.1038 18.9247 18.7138C19.3147 18.3238 19.3147 17.6938 18.9247 17.3038L14.0347 12.4138L18.9247 7.52377C19.3047 7.14377 19.3047 6.50377 18.9247 6.12377Z" fill="black" fill-opacity="0.54"></path>
                </svg>

            </a>

            <div class="modal-overflow-content-div">
                <div class="easychat-email-otp-modal-subheading-div">
                    Please Enter the OTP to verify your Account
                </div>
                <div id="easychat-otp-success-message-box" class="easychat-email-otp-success-message-box" style="display: none;">
                    We have sent a verification code to your email - <b id="language-configuration-email-confirmation-display">sample@gmail.com</b>
                </div>
                <div id="easychat-otp-failed-message-box" class="easychat-email-otp-failed-message-box">
                    Please enter the valid OTP
                </div>

                <div class="easychat-lang-config-otp-wrapper" id="easychat-lang-config-otp-wrapper">

                    <input maxlength="1" type="text" class="easychat-lang-config-otp-input" autofocus="">
                    <input maxlength="1" type="text" class="easychat-lang-config-otp-input">
                    <input maxlength="1" type="text" class="easychat-lang-config-otp-input">
                    <input maxlength="1" type="text" class="easychat-lang-config-otp-input">
                    <input maxlength="1" type="text" class="easychat-lang-config-otp-input">
                    <input maxlength="1" type="text" class="easychat-lang-config-otp-input">

                </div>

                <a id="edit-selected-language-validate-button" onclick="update_language_constant_keywords()" class="modal-trigger easychat-email-otp-sent-btn">
                    Validate
                </a>
                <a id="delete-selected-language-validate-button" style="display:none;" onclick="delete_selected_language_from_configuration()" class="modal-trigger easychat-email-otp-sent-btn">
                    Validate
                </a>
                <a href="#easychat_language_config_email_verify_modal" class="modal-trigger easychat-lang-config-change-email-btn modal-close">
                    Change Email ID?
                </a>
            </div>
        </div>
    </div>

</div>
<!-- modal end -->

<div id="easychat_language_config_delete_lang_modal" class="modal easychat-language-config-modals-wrapper">
    <div class="modal-content">
        <div class="row" style="margin-bottom: 12px !important;">

            <div class="modal-overflow-content-div">

                <div class="termination-confirmation-modal-container">
                    <div class="termination-icon">
                        <svg width="83" height="82" viewBox="0 0 83 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M41.3395 6.83336C22.5888 6.83336 7.33337 22.1605 7.33337 41C7.33337 59.8395 22.6605 75.1667 41.5 75.1667C60.3395 75.1667 75.6667 59.8395 75.6667 41C75.6667 22.1605 60.2678 6.83336 41.3395 6.83336ZM44.9167 58.0834H38.0834V51.25H44.9167V58.0834ZM44.9167 44.4167H38.0834V23.9167H44.9167V44.4167Z" fill="#DB2A2A"></path>
                        </svg>
                    </div>
                    <div class="termination-confirmation-text">
                        Are you sure you want to delete this language ?
                    </div>
                    <div class="termination-buttons">
                        <button class="termination-no-btn modal-close">No</button>
                        <button onclick="handle_delete_confirmation()" class="termination-yes-btn modal-close">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>