{% extends 'EasyChatApp/console.html' %}
{% block consolecontent %}
{% load static %}

<div style="margin-left:10px;">

        {% if app_config.show_licence %}
          <div class="col s12">
            <a href="/chat/easychat-licence/" class="btn purple darken-3 right">Export Licence File</a>
          </div>
        {% endif %}

        <div class="col s12">
          <br>
          <table rules="rows" class="centered highlight white striped responsive-table" style="border: 1px solid #DADADA;">
              <thead>
              </thead>
              <tbody>
                  <tr>
                      <th style="width:10%;" class="center">
                        <strong>
                          <div>
                              <label>
                                  <input type="checkbox" id="is-feedback-required-checkbox"/>
                                  <span></span>
                              </label>
                          </div>
                        </strong>
                      </th>
                      <th style="width:30%;" class="center"><strong><span style="color: black;">
                        <i class="inline-icon material-icons">feedback</i><b> Is Feedback Required?</b></span></strong></th>
                      <th style="width:60%;"><strong><span style="color: black;">This feature allows bot to take user feedback</span></strong></th>
                  </tr>
                  <tr>
                      <th style="width:10%;" class="center">
                        <strong>
                          <div>
                              <label>
                                  <input type="checkbox" id="is-bot-switch-checkbox"/>
                                  <span></span>
                              </label>
                          </div>
                        </strong>
                      </th>
                      <th style="width:30%;" class="center"><strong><span style="color: black;">
                        <i class="inline-icon material-icons">sync</i><b> Is bot switch allowed?</b></span></strong></th>
                      <th style="width:60%;"><strong><span style="color: black;">This feature allows bot to switch between different bots based on user query</span></strong></th>
                  </tr>
              </tbody>
          </table>
        </div>
        <div class="col s12" style="margin-top:1em;">
          <a id="save-settings" class="btn green darken-3"><i class="inline-icon material-icons">save</i> Save</a>
        </div>
      </div>

{% endblock %}
