.analyticsHead {
    font-size: 20px !important;
    text-transform: capitalize !important;
    color: #fff !important;
    font-weight: 600 !important;
    letter-spacing: -0.02em;
    padding: 0 0 0 1rem;
    text-align: left;
}


.analyticsHeadSmall {
    font-size: 20px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;

}

.border-radius-30 {
    border-radius: 25px !important;
}


.analyticsHeadDark {
    font-size: 20px !important;
    text-transform: capitalize !important;
    color: #325DBC !important;
    /* padding: 0px !important; */
    padding-left: 10px !important;
    font-weight: 600 !important;

}

.analyticsSubHead {
    margin: 0px;
    padding-left: 10px;
    font-size: 12px;
    letter-spacing: 0.2px;
    width: 100%;
    color: #325DBC !important;
}

.dashboard-stat-list .right {
    font-size: 20px !important;
}


.bg-pink {
    background: linear-gradient(179.13deg, rgb(212, 60, 33) 10.69%, rgb(168, 33, 15) 90.21%);
    color: #FFF5F5 !important;
    /*box-shadow: 0px 0px 50px rgba(219, 46, 62, 0.2) !important;*/
}

.col .l3 {
    border-radius: 0px !important;
}

.new {
    /* background-color: #3C47C1 !important; */
    /* background: linear-gradient(180deg, #89B7FD 0%, #4F8FFF 100%) !important; */
    /* background: linear-gradient(180deg, #2B70DA 0%, #1E23A6 100%) !important; */
    /* background: url('./icons/close2.svg') !important; */

    color: #EEF3FF !important;
    /* background: url('./icons/close2.svg') !important; */
    /* background: linear-gradient(180deg, #5059E9 0%, #16199A 100%) !important; */
    /* background-color: #445DB8; */
    background: linear-gradient(0deg, #282DA5 0%, #445DB8 94.37%);

    box-shadow: -8px 8px 11px #d8dbe4,
        8px -8px 11px #feffff !important;
    /* box-shadow: inset 7px -7px 13px #d7d8e0,
        inset -7px 7px 13px #ffffff !important; */
    /* inset 7px -7px 13px #5c66c8,
        inset -7px 7px 13px #7482fe  */
    /* box-shadow: 0 10px 7px rgba(0, 30, 65, 0.06); */
    /* box-shadow: 0 2px 3px rgba(5, 59, 177, 0.1); */
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 20px !important;
    justify-content: center;
    height: 136px !important;
    width: 90%;
    /*text-align: center;*/
    position: relative;
    /* box-shadow: inset 10px -10px 20px rgb(227, 228, 255),
        inset -10px 10px 20px #fff !important; */
    /* box-shadow: inset 7px 7px 14px #e3e5ed,
        inset -7px -7px 14px #ffffff !important; */

    /* box-shadow: 10px -10px 20px #5262be,
    /* -10px 10px 20px #6e84ff !important; */
    /* transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); */

}


/* .nps {
    color: #BC5789 !important;

} */

/* 
.interactedToday {
    background: linear-gradient(180deg, #9ED4E0 0%, #4897C4 100%) !important;
}

.queriesAnswered {
    background: linear-gradient(180deg, #9ED9A7 0%, #4AB575 100%) !important;

} */

.new .icon {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* background: url('./icons/close2.svg') !important; */

    position: absolute;
    /* left: 10px; */
    /* float: right;
    right: 0px; */
    left: 22px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 15px;

    /* background-color: rgb(255, 255, 255) !important; */
    /* background: linear-gradient(180deg, #4F53EF 0%, #2528A1 100%) !important; */
    /* color: #556AD9; */
    /* background-color: #4359B7;*/
    background-color: rgba(116, 170, 252, 0.507);
    color: rgb(255, 255, 255);
    /* background: linear-gradient(180deg, #D9D2FF 0%, rgba(206, 198, 255, 0.95) 100%) !important; */
    /* background: linear-gradient(180deg, rgb(234, 234, 255) 0%, #E0DBFF 100%); */
    transition: all 0.2s ease-out;
    /* box-shadow: 0 0px 0 rgba(0, 6, 85, 0.05), 0 5px 7px rgba(0, 30, 65, 0.06), 0 3px 900px rgba(0, 39, 83, 0.06); */

}

.content .text {
    font-weight: 400 !important;
}



/* .promoter {
    background: linear-gradient(179.13deg, rgb(223, 126, 166) 10.69%, rgb(192, 18, 91) 90.21%);
    color: rgb(255, 255, 255) !important;
}

.asked {
    background: linear-gradient(180deg, rgba(53, 130, 254, 0.555) 0%, #0052D6 100%) !important;
    color: rgb(231, 238, 255) !important;
}

.answered {
    background: linear-gradient(0deg, rgb(7, 158, 188) 0%, rgba(31, 226, 203, 0.493) 94.37%) !important;
    color: rgb(231, 255, 237) !important;
}

.interacted {
    color: rgb(246, 245, 255) !important;

    background: linear-gradient(0deg, rgb(83, 70, 186) 0%, rgba(145, 133, 238, 0.541) 94.37%) !important;
} */

.transback {
    background-color: rgba(255, 255, 255, 0.253) !important;
}

.new:hover .icon {

    transform: translate(0%, -6px);
    transition: all 0.2s ease-in;
}



.new .icon i {
    font-size: 26px !important;
    z-index: 0;
    /* float: right; */

}

.new .number {
    font-size: 30px;
    font-weight: 600;
    line-height: 95%;
}

.bodyAnalytics {
    /* background-color: #2744A0;
    background: linear-gradient(180deg, #163FAA 0%, #161CAA 100%) !important; */
    padding: 0rem 6rem !important;
    /* height: 700px !important;
    position: relative; */
}


.bodyAnalyticsUser {
    padding: 0rem 3rem !important;
}

.card>div {
    border-radius: 10px;
    background: transparent;
}

.body {
    background: transparent !important;
    box-shadow: none !important;
    position: relative;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);


}

.bodyAnalytics {
    padding-bottom: 40px !important;
}



.analyticsCard>div {
    border-radius: 20px;

}

.blueBack>div {
    /* background: linear-gradient(180deg, #73B4D8 0%, #5594D9 100%) !important; */
    background-color: transparent !important;

}



/* .card {
    background: transparent !important;
    box-shadow: none !important;

} */
b {
    font-weight: bold !important;
}

.message-analytics {
    /* background: linear-gradient(180deg, #163FAA 0%, #161CAA 100%) !important; */
    /* background: linear-gradient(180deg, #3281DD 0%, rgba(0, 19, 187, 0.9) 96.87%);*/
    /* background: linear-gradient(180deg, #1A4DD0 3.23%, #383EC7 96.98%); */
    /* background: linear-gradient(180deg, #3C40C2 0%, #1A1E93 100%) !important; */
    /* box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(0, 39, 83, 0.1); */
    /* background-color: #383EC7 !important; */
    background-color: #f8feffc4 !important;

    box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important;
    /* box-shadow: inset 7px 7px 15px #d8dbe4,
        inset -7px -7px 15px #feffff !important; */
    padding: 0px !important;
    border-radius: 20px !important;
    /* padding-right: 30px !important; */
    border: none !important;
}

.message-analytics:hover,
.user-analytics:hover {
    transition: all 0.2s ease-in-out;

    /* background-color: rgb(236, 244, 255) !important; */
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(68, 184, 178, 0.205) !important;


}

.user-analytics {
    /* background: linear-gradient(180deg, #163FAA 0%, #161CAA 100%) !important; */
    /* background: linear-gradient(180deg, #3281DD 0%, rgba(0, 19, 187, 0.9) 96.87%);*/
    /* box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(0, 39, 83, 0.1); */
    box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important;
    /* background-color: #fff !important; */
    background-color: #f8feffc4 !important;
    padding: 0px !important;
    border-radius: 20px !important;
    /* padding-right: 30px !important; */
    border: none !important;
    height: 554px;
}




.category-wise:hover {
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(68, 105, 184, 0.205) !important;

}

.session-analytics:hover,
.channel-usage:hover,
.blue-analytics:hover {
    transition: all 0.2s ease-in-out;

    /* background-color: rgb(236, 244, 255) !important; */
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(68, 93, 184, 0.205) !important;


}

.category-wise {
    background-color: #f8feffc4 !important;

}

.channel-usage {
    box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important;
    /* background-color: #fff !important; */
    background-color: #EFF3FF !important;
    padding: 0px !important;
    border-radius: 20px !important;
    /* padding-right: 30px !important; */
    border: none !important;
    height: 554px;
}

.sunkShadow {
    box-shadow: inset 10px -10px 20px #e0e6ff,
        inset -10px 10px 20px #ffffff !important;
}

.frequent-analytics {
    padding: 0px !important;
    border-radius: 20px !important;
    /* padding-right: 30px !important; */
    border: none !important;
    height: 554px;
    margin: 0px;
    top: 0px;
}

.blue-analytics {
    background-color: #EFF3FF !important;
    padding: 2rem 1rem 0 2rem !important;
    border-radius: 20px !important;
    /* box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(0, 39, 83, 0.1) !important; */
    box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important;

}

.blue-analytics:hover {}

#btn-filter-message-analytics-settings {
    background: transparent !important;
}

.cogno-text {
    color: #325DBC !important;

}

.counterQuestions {
    list-style: none;
}

.questionsList {
    counter-reset: my-sec-counter;

}

.questionsColors {

    color: #435DB8 !important;
    background-color: rgba(236, 233, 249, 0.671) !important;
    /* box-shadow: 4px 4px 1px rgb(30, 54, 190) !important; */
    /* transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
    /* box-shadow: 0px 0px 1px rgb(30, 54, 190) !important; */
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 20px rgb(30, 54, 190, 0.3) !important;
    box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important;

    transition: all 0.2s ease-in-out;

    /* border: 2px solid #F56565 !important; */
    /* background: linear-gradient(180deg, #F56565 0%, #F56565 100%) !important; */
}

.questionsColorsFreq {

    color: #435DB8 !important;
    background: #EEF3FF !important;
    /* box-shadow: 4px 4px 1px rgb(30, 54, 190) !important; */
    /* transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
    /* box-shadow: 0px 0px 1px rgb(30, 54, 190) !important; */
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 20px rgb(30, 54, 190, 0.3) !important;
    box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important;

    transition: all 0.2s ease-in-out;
}

.questionsColors:hover {
    /* transform: translate(0, -10px); */
    /* transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgb(30, 54, 190, 0.2) !important;
    /* box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important; */
    transition: all 0.2s ease-in-out;

}

.leastColorWord {
    color: #227E39 !important;
    padding: 1rem;
    background-color: #F8FDFD !important;
    box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important;
    transition: all 0.3s ease-in-out;

}

.leastColorWord:hover {
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(30, 190, 83, 0.2) !important;
    transition: all 0.3s ease-in-out;


}

.leastColor {

    color: #227E39 !important;
    background-color: rgba(198, 246, 213, 0.493) !important;
    box-shadow: 0px 0px 1px #227E39 !important;
    /* box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px -7px rgba(0, 30, 65, 0.06), 0 7px 20px rgba(34, 126, 57, 0.3) !important; */
    box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important;
    transition: all 0.3s ease-in-out;


}

.leastColor:hover {
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(34, 126, 57, 0.2) !important;
    transition: all 0.3s ease-in-out;


}

.unColor {
    color: #F56565 !important;
    background-color: rgba(249, 233, 233, 0.671) !important;
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 20px rgba(245, 101, 101, 0.3) !important;
    box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important;
    transition: all 0.2s ease-in-out;
}

.unColor:hover {
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(245, 101, 101, 0.2) !important;
    transition: all 0.2s ease-in-out;

}

.counterQuestions::before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ".";
    position: absolute;
    font-size: 20px;
    display: block;
    float: right;
    left: 28px;
    margin-bottom: 5px;
    color: #4D5DB4;
}

.counterUnanswer::before {
    color: #F56565;

}

.counterLeast::before {
    color: #227E39 !important;

}

.questionsList>li {
    margin: 40px 0px 30px 0px;
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;

}

.questionsList i {
    font-size: 18px !important;
}

.Qleft {
    font-size: 1.1rem;
    font-weight: 500 !important;
    

}
#category-wise-most-frequenct-intents li span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#category-wise-most-frequenct-intents li:first-child{
    /*margin-bottom:10px;*/
    margin-top:10px;
}
.Qright {
    float: right;
    font-weight: 500 !important;
}



.session-analytics {
    /* background: linear-gradient(180deg, #3281DD 0%, rgba(0, 19, 187, 0.9) 96.87%) !important; */
    /* background: linear-gradient(180deg, #C6F7FA 0%, #E0F8FF 100%) !important; */
    color: #325DBC !important;
    background: #EEF3FF !important;
    /* background-color: #5768D5 !important; */
    /* background-color: #383EC7 !important; */
    /* background: linear-gradient(180deg, #3C40C2 0%, #1A1E93 100%) !important; */
    /* background: #fff !important; */
    /* background: url('./icons/close.svg') !important; */
    /* box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(0, 39, 83, 0.1) !important; */
    /* box-shadow: inset 10px -10px 20px #e0e6ff,
        inset -10px 10px 20px #ffffff !important; */
    /* box-shadow: inset 8px -8px 11px #c5c8d0,
        inset -8px 8px 11px #ffffff !important; */
    box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important;
    /* box-shadow: inset 7px 7px 15px #4552a8,
        inset -7px -7px 15px #697eff; */
    border-radius: 25px !important;
    padding: 2rem 2rem 0.5rem 2rem !important;
    height: 465px;
}

.form-analytics {

    color: #383EC7 !important;
    background-color: rgb(236, 244, 255) !important;
    /* background: linear-gradient(180deg, #3C40C2 0%, #1A1E93 100%) !important; */
    /* box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(0, 39, 83, 0.1) !important; */
    box-shadow: -8px 8px 11px #d8dbe4,
        6px -6px 11px #feffff !important;
    border-radius: 25px !important;
    padding: 2rem 2rem 0.5rem 2rem !important;
    transition: all 0.2s ease-in-out;

    /* height: 465px; */
}

.form-analytics:hover {
    transition: all 0.2s ease-in-out;

    /* background-color: rgb(236, 244, 255) !important; */
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(68, 93, 184, 0.205) !important;


}

.dashboard-stat-label {
    margin-bottom: 20px;
    margin-top: 0px;
    /* color: #5F7187; */
}

.info-box {
    border-radius: 20px !important;
    background: transparent !important;
    /* padding: 2rem; */
}

.dashboard-stat-list {
    padding-left: 8px !important;
}

.dashboard-stat-list li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    /* line-height: 100%; */
}

.session-analytics .big {
    font-size: 32px !important;
    font-weight: 500 !important;
    letter-spacing: -0.06em;
    margin-bottom: 0px !important;
    line-height: 99% !important;
}

.session-analytics .bigIcon {
    font-size: 25px !important;
    letter-spacing: -0.06em;
    border-radius: 90px;
    /* background-color: #F0F7FF; */
    padding: 0px 5px 0px 0px !important;
}

.bingRow {
    background-color: #3C40C2 !important;
}

/* .header {
    background: linear-gradient(180deg, #163FAA 0%, #161CAA 100%) !important;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-right: 25px !important;
    border: none !important;

} */
.header {
    background: transparent !important;
    border: none !important;
    padding: 2rem 2rem !important;
    /* text-align: center; */
    padding-bottom: 0px !important;
}


.appear-anim {
    -webkit-animation: fadeIn 500ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
    animation: fadeIn 600ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
    opacity: 0;
    /* max-width: 640px;
    width: 100%; */
}

@media screen and (max-width: 920px) {
    .bodyAnalytics {
        padding: 0rem 2rem !important;
    }
}

.aspect-ratio {
    height: 0;
    padding-bottom: 50%;
}

@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.content {
    margin-top: 45px;
}
.number{
    text-align: center;
}
.text{
    text-align: center;
}
.number{
    padding-bottom: 10px;
}

.text{
    padding-bottom: 20px;
}

/*dropdown changes for user analytics*/
.easychat-channel-analytics-dropdown {
    margin: 0rem 1rem 1rem 0rem;
    width: 180px;
}

.easychat-console-custom-dropdown.easychat-channel-analytics-dropdown .easychat-dropdown-select-custom .dd-search {
    display: none;
}

.easychat-console-custom-dropdown.easychat-channel-analytics-dropdown .easychat-dropdown-select-custom .list {
    border-radius: 16px;
    box-shadow: 0px 5.33333px 20.4444px rgba(0, 0, 0, 0.25);
    border: none;
}

.easychat-console-custom-dropdown.easychat-channel-analytics-dropdown .easychat-dropdown-select-custom .list ul {
    margin-bottom: 0px;
}

.easychat-console-custom-dropdown.easychat-channel-analytics-dropdown .easychat-dropdown-select-custom .list ul li:first-child {
    border: none;
}

.easychat-console-custom-dropdown.easychat-channel-analytics-dropdown .easychat-dropdown-select-custom {
    border: none;
    height: 38px;
}


/*bot accuracy*/
.session-analytics .dashboard-stat-list {
    margin-top: 0px;
    margin-bottom: 0px;
}

.session-analytics .dashboard-stat-label {
    margin-bottom: 9px;
}

.session-analytics li .big {
    font-size: 24px !important;
    font-weight: 500 !important;
    letter-spacing: -0.06em;
    margin-bottom: 0px !important;
    line-height: 99% !important;
    margin-left: 6px;
}

#session-analytics-div {
    height: 290px;
    display: block;
    margin-bottom: 25px;
    padding: 1.5rem 2rem 1em 2rem !important;
}

#no-session-analytics-div {
    height: 290px;
    display: block;
    margin-bottom: 25px;
    padding: 1.5rem 2rem 1em 2rem !important;
}

/*Intuitve questions*/
#dropdown-suggestion-intent-1.dropdown-content li{
    padding-left: 25px;
    text-align: left !important;
    
}
#dropdown-suggestion-intent-1.dropdown-content li a{
    color: #2D2D2D !important;
    font-size: 14px !important;
}
#dropdown-suggestion-intent-1.dropdown-content{
    width: 216px !important;
    border-radius: 8px;
    left: 236px !important;
    top: 75px !important;
}
.suggestion-intent-content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 190px;
    text-align: left;
    overflow: visible;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    top: -11px;
    right: 68px;
    border-radius: 14px 8px 14px 14px;
    border: 1px solid #D5E8FF;
}

.suggestion-intent-dropdown-items{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 335px;
    width: 100%;
    padding: 5px 0px;
}
.suggestion-intent-content a{
    margin-left: 15px;
    padding: 13px 16px;
    text-decoration: none;
    color: #2D2D2D !important;
    display: block;
}
.suggestion-intent-content hr{
    margin: 0 !important;
    border: 1px solid #f6f6f6;

}
.suggestion-intent-content::after{
    content: "";
    border: 10px solid transparent;
    border-right-color: #ffffff;
    border-top-color: #ffffff;
    position: absolute;
    border-radius: 3px;
    top: 14px;
    right: -10px;
    -webkit-transform: rotate( 
45deg
);
    transform: rotate( 
45deg
);
    z-index: 1002;
}
.current{
    display: block;
}

.is-active{
    display: block;
}

@font-face {
    font-family: "Silka";
    src: url("/static/EasyChatApp/fonts/Silka/Silka-Bold.woff");
    font-weight: 500;
    font-style: normal;
  }
#warning-msg
{
    display: flex;
    position: absolute;
    z-index: 10;
    top: 2px;
    align-items: center;
    background: #FDF6DB;
    width: max-content;
    max-width: auto;
    height: 40px;
    margin: 10.5px 0px 0px 90px;
    border: 1px solid #F8DA70;
    box-sizing: border-box;
    border-radius: 4px;
    /* padding-right: 0!important; */
    visibility: 'hidden';
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 0px 12px;
    column-gap: 12px;
}

#warning-msg p
{
    color: #7B7A7B;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Silka';
}


