.analyticsHead {
    font-size: 20px !important;
    text-transform: capitalize !important;
    color: #fff !important;
    font-weight: 600 !important;
    letter-spacing: -0.02em;
    padding: 0 0 0 1rem;
    text-align: left;
}


.analyticsHeadSmall {
    font-size: 20px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;

}

.border-radius-30 {
    border-radius: 25px !important;
}


.analyticsHeadDark {
    font-size: 20px !important;
    text-transform: capitalize !important;
    color: #1E23A5 !important;
    padding: 0px !important;
    font-weight: bold !important;

}

.dashboard-stat-list .right {
    font-size: 20px !important;
}


.bg-pink {
    background: linear-gradient(179.13deg, rgb(212, 60, 33) 10.69%, rgb(168, 33, 15) 90.21%);
    color: #FFF5F5 !important;
    /*box-shadow: 0px 0px 50px rgba(219, 46, 62, 0.2) !important;*/
}

.new {
    background-color: rgb(255, 255, 255);
    color: #3445C6 !important;
    /* box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 20px rgba(0, 39, 83, 0.06); */
    /* box-shadow: 0 -5px 3px rgba(5, 59, 177, 0.1); */
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 20px;
    justify-content: center;
    height: 136px !important;
    width: 80%;
    text-align: center;
    position: relative;
    cursor: pointer;
    /* transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); */

}

/* .nps {
    background-color: rgb(141, 10, 75);
    color: rgb(255, 238, 251) !important;
} */

.new .icon {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    /* left: 10px; */
    /* float: right;
    right: 0px; */
    left: 20px;
    height: 50px;
    width: 50px;
    background-color: #F0F7FE;
    padding: 10px;
    border-radius: 10px;
    top: -10px;
    margin-right: 0px;
    margin-bottom: 0px;
    color: #5275EB;
    transition: all 0.2s ease-out;
    box-shadow: 0 0px 0 rgba(0, 6, 85, 0.05), 0 5px 7px rgba(0, 30, 65, 0.06), 0 3px 900px rgba(0, 39, 83, 0.06);

}

.promoter {
    background-color: rgb(255, 221, 221) !important;
    color: #F56565 !important;
}

.asked {
    background-color: rgb(231, 229, 252) !important;
    color: rgb(66, 55, 219) !important;
}

.new:hover .icon {
    /* background-color: rgb(215, 255, 225) !important;
    color: #227E39 !important; */
    transform: translate(0%, -10px);
    transition: all 0.2s ease-in;
}

.answered {
    background-color: rgb(215, 255, 225) !important;
    color: #227E39 !important;
}

.interacted {
    color: #5844BF !important;
    background-color: rgb(234, 230, 253) !important;
}

.new .icon i {
    font-size: 30px !important;
    z-index: 0;
    /* float: right; */

}

.new .number {
    font-size: 30px;
    font-weight: 600;
    line-height: 95%;
}

.bodyAnalytics {
    /* background-color: #2744A0;
    background: linear-gradient(180deg, #163FAA 0%, #161CAA 100%) !important; */
    padding: 0rem 6rem !important;
    /* height: 700px !important;
    position: relative; */
}


.bodyAnalyticsUser {
    padding: 0rem 3rem !important;
}

.card>div {
    border-radius: 10px;
    background: transparent;
}

.body {
    background: transparent !important;
    box-shadow: none !important;
    position: relative;
    padding: 0px 0px 0px 0px;
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);


}

.bodyAnalytics {
    padding-bottom: 40px !important;
}



.analyticsCard>div {
    border-radius: 20px !important;

}

/* .card {
    background: transparent !important;
    box-shadow: none !important;

} */
b {
    font-weight: bold !important;
}

.message-analytics {
    /* background: linear-gradient(180deg, #163FAA 0%, #161CAA 100%) !important; */
    /* background: linear-gradient(180deg, #3281DD 0%, rgba(0, 19, 187, 0.9) 96.87%);*/
    /* background: linear-gradient(180deg, #1A4DD0 3.23%, #383EC7 96.98%);
    background: linear-gradient(180deg, #3C40C2 0%, #1A1E93 100%) !important; */
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(0, 39, 83, 0.1);

    background-color: #3C47C1 !important;
    padding: 0px !important;
    border-radius: 20px !important;
    /* padding-right: 30px !important; */
    border: none !important;
}

.user-analytics {
    /* background: linear-gradient(180deg, #163FAA 0%, #161CAA 100%) !important; */
    /* background: linear-gradient(180deg, #3281DD 0%, rgba(0, 19, 187, 0.9) 96.87%);*/
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(0, 39, 83, 0.1);

    background-color: #fff !important;
    padding: 0px !important;
    border-radius: 20px !important;
    /* padding-right: 30px !important; */
    border: none !important;
    height: 554px;
}

.frequent-analytics {
    padding: 0px !important;
    border-radius: 20px !important;
    /* padding-right: 30px !important; */
    border: none !important;
    height: 554px;
    margin: 0px;
    top: 0px;
}

.blue-analytics {
    background-color: rgb(255, 255, 255) !important;
    padding: 2rem 1rem 0 2rem !important;
    border-radius: 20px !important;
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(0, 39, 83, 0.1) !important;


}

#btn-filter-message-analytics-settings {
    background: transparent !important;
}

.cogno-text {
    color: #3C40C2 !important;

}

.counterQuestions {
    list-style: none;
}

.questionsList {
    counter-reset: my-sec-counter;

}

.questionsColors {
    cursor: pointer;

    color: rgb(30, 54, 190) !important;
    background-color: rgba(236, 233, 249, 0.671) !important;
    box-shadow: 4px 4px 1px rgb(30, 54, 190) !important;
    /* transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
    box-shadow: 0px 0px 1px rgb(30, 54, 190) !important;
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 20px rgb(30, 54, 190, 0.3) !important;

    transition: all 0.2s ease-in-out;

    /* border: 2px solid #F56565 !important; */
    /* background: linear-gradient(180deg, #F56565 0%, #F56565 100%) !important; */
}

.questionsColors:hover {
    /* transform: translate(0, -10px); */
    /* transition: all 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045); */
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgb(30, 54, 190, 0.3) !important;

    transition: all 0.2s ease-in-out;

}

.leastColorWord {
    color: #3C40C2 !important;
    padding: 1rem;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(0, 39, 83, 0.1) !important;

}

.leastColor {
    cursor: pointer;

    color: #227E39 !important;
    background-color: rgba(198, 246, 213, 0.493) !important;
    box-shadow: 0px 0px 1px #227E39 !important;
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 20px rgba(34, 126, 57, 0.3) !important;

    transition: all 0.3s ease-in-out;


}

.leastColor:hover {
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(34, 126, 57, 0.3) !important;
    transition: all 0.3s ease-in-out;


}

.unColor {
    cursor: pointer;
    color: #F56565 !important;
    background-color: rgba(249, 233, 233, 0.671) !important;

    box-shadow: 0px 0px 1px #F56565 !important;
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 20px rgba(245, 101, 101, 0.3) !important;

    transition: all 0.2s ease-in-out;
}

.unColor:hover {
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(245, 101, 101, 0.3) !important;
    transition: all 0.2s ease-in-out;

}

.counterQuestions::before {
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ".";
    position: absolute;
    font-size: 20px;
    display: block;
    float: right;
    left: 28px;
    margin-bottom: 5px;
    color: rgb(24, 13, 175);
}

.counterUnanswer::before {
    color: #F56565;

}

.counterLeast::before {
    color: #227E39;

}

.questionsList>li {
    margin: 40px 0px 30px 0px;
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;

}

.questionsList i {
    font-size: 18px !important;
}

.Qleft {
    font-size: 1.1rem;
    font-weight: 500 !important;

}

.Qright {
    float: right;
    font-weight: 500 !important;
}



.session-analytics {
    /* background: linear-gradient(180deg, #3281DD 0%, rgba(0, 19, 187, 0.9) 96.87%) !important; */
    /* background: linear-gradient(180deg, #C6F7FA 0%, #E0F8FF 100%) !important; */
    color: #fff !important;
    /* background-color: #383EC7 !important; */
    /* background: linear-gradient(180deg, #3C40C2 0%, #1A1E93 100%) !important; */
    background: #3C47C1 !important;
    /* background: url('./blur.png') !important; */
    box-shadow: 0 1px 0 rgba(0, 6, 85, 0.05), 0 10px 7px rgba(0, 30, 65, 0.06), 0 7px 70px rgba(0, 39, 83, 0.1) !important;

    border-radius: 25px !important;
    padding: 2rem 2rem 0.5rem 2rem !important;
    height: 465px;
}

.dashboard-stat-label {
    margin-bottom: 10px;
    margin-top: 0px;
}

.info-box {
    border-radius: 20px !important;
    background: transparent !important;
    /* padding: 2rem; */
}


.dashboard-stat-list li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    /* line-height: 100%; */
}

.session-analytics .big {
    font-size: 32px !important;
    font-weight: 500 !important;
    letter-spacing: -0.06em;
}

.session-analytics .bigIcon {
    font-size: 30px !important;
    letter-spacing: -0.06em;
}

.bingRow {
    background-color: #3C40C2 !important;
}

/* .header {
    background: linear-gradient(180deg, #163FAA 0%, #161CAA 100%) !important;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-right: 25px !important;
    border: none !important;

} */
.header {
    background: transparent !important;
    border: none !important;
    padding: 2rem 2rem !important;
    /* text-align: center; */
    padding-bottom: 0px !important;
}


.appear-anim {
    -webkit-animation: fadeIn 500ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
    animation: fadeIn 600ms cubic-bezier(0.57, 0.25, 0.65, 1) 1 forwards;
    opacity: 0;
    /* max-width: 640px;
    width: 100%; */
}

@media screen and (max-width: 920px) {
    .bodyAnalytics {
        padding: 0rem 2rem !important;
    }
}

.aspect-ratio {
    height: 0;
    padding-bottom: 50%;
}

@-webkit-keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}