#api_integration_part_two{
    display: none ;
  }
  #api_integration_part_one{
    display: none ;
  }

  textarea{
      height:10em;
      width:100%;
      outline : 1px;
      border-radius:0.5em;
      background-color: white;
      border:solid 0.5px black;
    }
    textarea:focus{
      outline : 1px;
      border-radius:0.5em;
      background-color: white;
    }
    textarea:focus {
      border:  1px solid black !important ;
    }
  #editor_api {
      width:100%;
      height:50em;
      overflow:auto;
      margin-top: 10px;
  }
  #url,#url_access_token{
      height:4em;
      width:100%;
      border-radius:0.5em;
      border:0.05em solid #D3D3D3 ;
    }
    #request , #response,#request_packet_two,#response_packet_two,#error_response, #error_response_packet_two{
      overflow-y: scroll;
      height:15em;
      width:100%;
      border-radius:0.5em;
      border:0.05em solid #D3D3D3;
    }
   #header ,#header_access_token{
    overflow-y: scroll;
     height:10em;
      width:100%;
      border-radius:0.5em;
      border:0.05em solid #D3D3D3;
   }

  .button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;

}
ul, #ul-request-packet,#ul-response-packet{
  padding-inline-start: 20px !important;
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#ul-request-packet,#ul-response-packet {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.tree{
  border: 1px solid black !important;
  border-radius: 90px !important;
  margin-left:10px !important;
}
select{
  width: 40% !important;
  padding-right: 10px !important;
  padding-top: 10px !important
  border: 1px solid #C1C5FE !important ;
  border-radius: 30px !important;
  display: inline-block; !important;
}
input{
  width: 30% !important;
  padding-right: 10px !important;
  border: 1px solid #C1C5FE !important ;
  border-radius: 30px !important;
}
.bot-response{
  width: 100% !important;
  padding-right: 0px !important;
}
span{
  padding-right: 5px !important;
}
