.material-tooltip{
  max-width: 300px !important;
}
body{
    overflow-x: hidden;
}
#modal-message-history-action-error{
    width: 40em !important;
    overflow-wrap: break-word;
}
#modal-message-history-action-warning{
    width: 40em !important;
}