   .tabs .tab a:hover {
    background: white !important;
    color: #5a616e !important; 
  }

  .additional-dashboard-heading h6 {
    font-weight: 500;
    font-size: 26px;
    color: #2D2D2D;
    margin-top: 0px;
}

.white-background-btn {
    background: #FFFFFF !important;
    border: 1.41379px solid #EDF3FF !important;
    border-radius: 5.65517px !important;
    color: #919191 !important;
    font-size: 16px !important;
    padding: 0px 8px !important;
    display: flex;
    align-items: center;
    font-family: unset;
}

.white-background-btn .global-filter-svg {
    margin-left: 50px;
}

.p-l-r {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.data-loader-div {
  width: 100%;
  height: 120px;
  text-align: center;
  padding-top: 25px;
}
.loader-custom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-custom #loader-inside-div {
  position: relative;
  display: flex;
  width: 15%;
  justify-content: space-between;
}

.loader-custom #loader-inside-div div {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #D91E36;
}

.loader-custom #loader-inside-div div:nth-child(1) {
  animation: loader-movement 3s linear infinite 0s;
}

.loader-custom #loader-inside-div div:nth-child(2) {
  animation: loader-movement 3s linear infinite 0.15s;
}

.loader-custom #loader-inside-div div:nth-child(3) {
  animation: loader-movement 3s linear infinite 0.3s;
}

.loader-custom #loader-inside-div div:nth-child(4) {
  animation: loader-movement 3s linear infinite 0.45s;
}

@keyframes loader-movement {
  0% {
      opacity: 0;
      transform: scale(0.3);
      background: #59CD90;
  }
  25% {
      opacity: 1;
      transform: scale(1.8);
      background: #0072BB;
  }
  50% {
      opacity: 0;
      transform: scale(0.3);
      background: #FE4A49;
  }
  75% {
      opacity: 1;
      transform: scale(1.8);
      background: #FED766;
  }
  100% {
      opacity: 0;
  }
}

.loader-custom span {
  padding-right: 15px;
}

.analytics-no-data-found-div {
  width: 100%;
  height: 80px;
  font-size: 14px;
  font-weight: 500;
  color: #8f8d8d;
  text-align: center;
  padding-top: 25px;
  border-bottom: 1px solid #e3eafe;
}
.row .col .automated-testing-result-heading-div{
  /* margin-top: 30px; */
  padding: 0px;
}
.row .col .automated-testing-result-text-heading{
  padding: 0;
}
#div-automated-testing-table{
  display: none;
}
.automated-testing-result-text-heading p {
  font-weight: normal !important;
  font-size: 12px !important;
  color: #909090 !important;
  margin-top: 4px;
  min-height: 18px;
}
.automated-testing-result-text-heading h6 {
  font-weight: 500 !important;
  font-size: 21px !important;
  color: #2D2D2D !important;
  margin-bottom: 0px;
  margin-top: 0px;
}
.automated-test-result-table-area {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
  padding-right: 0px;
  background-color: #fff;
}
#automated_testing_result_table_scroll table.dataTable {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

#automated_testing_result_table_scroll table.dataTable.no-footer {
  border-bottom: none !important;
}
#automated_testing_result_table tr th {
  width: auto !important;
}

#automated_testing_result_table tbody tr td:nth-child(3){
  max-width: 320px;
}

#automated_testing_result_table thead tr th:nth-child(3){
  max-width: 320px;
}

#automated_testing_result_table thead tr th:nth-child(1){
  min-width: 40px !important;
}
.automated-test-result-table-area table tr th {
  position: sticky !important;
  top: 0px !important;
  font-weight: 500 !important;
  word-break: break-word;
  z-index: 100;
}
#test-result{
  padding-bottom: 0px;
}

.filter-heading{
font-weight: 500;
font-size: 15px;
}
.automated-test-result-table-area table tr td {
  font-weight: normal;
  font-size: 14px !important;
  padding: 24px 20px 24px 20px !important;
  color: #4D4D4D !important;
  word-break: break-word;
  border-bottom: 1px solid #e3eafe !important;

}
.automated-test-result-table-area table tr td:first-child, .automated-test-result-table-area table tr td:nth-child(2),.automated-test-result-table-area table tr td:nth-child(3){
 max-width: 275px;
}

.automated-test-result-table-area::-webkit-scrollbar {
  width: 7px;
}

.automated-test-result-table-area::-webkit-scrollbar-thumb {
  background: #A1ADD2;
  border-radius: 10px;
}

.automated-test-result-table-area::-webkit-scrollbar-track {
  background: #E3EAFE;
}

#easychat_start_automation_testing_modal ,
#modal-intent-auto-test-filter  {
  background: #fff !important;
  max-height: 90%;
  top: 4% !important;
  padding: 0px !important;
  overflow: hidden;
  transform: none !important;
  will-change: unset;
}
#easychat_start_automation_testing_modal .modal-footer,
#modal-intent-auto-test-filter .modal-footer {
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#easychat_start_automation_testing_modal .filter-modal-footer-btn,
#modal-intent-auto-test-filter .filter-modal-footer-btn  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px !important;
  position: static;
  height: 48px !important;
  background: #0254D7;
  border-radius: 30px !important;
  font-weight: bold !important;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0px 20px;
  font-family: unset !important;
}
#easychat_start_automation_testing_modal .filter-modal-footer-btn-cancel,
 #modal-intent-auto-test-filter .filter-modal-footer-btn-cancel  {
  font-weight: 600 !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 56px !important;
  color: #000000 !important;
  background: transparent !important;
  font-family: unset !important;
}

#easychat_start_automation_testing_modal .filter-modal-footer-btn-cancel:hover,
#modal-intent-auto-test-filter .filter-modal-footer-btn-cancel:hover {
  box-shadow: none !important;
}
#easychat_start_automation_testing_modal .modal-content,
#modal-intent-auto-test-filter .modal-content  {
  padding: 1.5rem 3rem 0rem 3rem !important;
}

#easychat_start_automation_testing_modal .modal-content .modal-header,
#modal-intent-auto-test-filter .modal-content .modal-header  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  height: 45px;
  padding-bottom: 10px;
  padding-left: 2px;
}

#easychat_start_automation_testing_modal .modal-content .modal-header .modal-close-btn,
#modal-intent-auto-test-filter .modal-content .modal-header .modal-close-btn{
  background: transparent;
  box-shadow: none;
  padding-top: 12px;
}

#easychat_start_automation_testing_modal .analytics-filter-select-area input[type=radio] ,
#modal-intent-auto-test-filter .analytics-filter-select-area input[type=radio]  {
  display: none !important;
}
#easychat_start_automation_testing_modal .analytics-filter-select-area input[type=radio]:checked+.filter-box,
#modal-intent-auto-test-filter .analytics-filter-select-area input[type=radio]:checked+.filter-box {
  border: 1px solid #0254D7 !important;
}

#easychat_start_automation_testing_modal .analytics-filter-select-area input[type=radio]:checked+.filter-box span,
#modal-intent-auto-test-filter .analytics-filter-select-area input[type=radio]:checked+.filter-box span   {
  color: #0254D7 !important;
}

#easychat_start_automation_testing_modal .analytics-filter-select-area .filter-box ,
#modal-intent-auto-test-filter .analytics-filter-select-area .filter-box  {
  padding: 0px 16px;
  height: 48px;
  background: #F6F6F6;
  border-radius: 24px;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  font-weight: normal;
  font-size: 14px;
  color: #2D2D2D;
  border: 1px solid #F6F6F6 !important;
  margin-bottom: 10px;
}

#easychat_start_automation_testing_modal .analytics-filter-select-area .filter-box span ,
#modal-intent-auto-test-filter .analytics-filter-select-area .filter-box span  {
  font-weight: normal;
  font-size: 14px;
  color: #2D2D2D;
}
.modal{
  width: 35%;
}

#easychat_stop_automation_testing_modal{
  width: 366px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border-radius: 16px !important;
}


#easychat_stop_automation_testing_modal .modal-overflow-content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh - 10rem);
}

#easychat_stop_automation_testing_modal .modal-overflow-content-div {
    margin-top: 0px;
    padding-top: 8px;
}

.modal.easychat-language-config-modals-wrapper .termination-confirmation-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}

.modal.easychat-language-config-modals-wrapper .termination-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.easychat-language-config-modals-wrapper .termination-confirmation-text {
  font-size: 16px;
  line-height: 24px;
  font-family: "Silka", sans-serif;
  text-align: center;
  color: #2D2D2D;
  padding: 20px;
  width: 80%;
}

.modal.easychat-language-config-modals-wrapper .termination-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal.easychat-language-config-modals-wrapper .termination-buttons button {
  width: 132.5px;
  height: 36px;
  border-radius: 24px;
  padding: 7px 16px;
  font-size: 16px;
  line-height: 140%;
}

.modal.easychat-language-config-modals-wrapper .termination-no-btn {
  background: #FFFFFF;
  border: 1px solid #CBCACA;
  color: #4D4D4D;
  margin-right: 12px !important;
}

.modal.easychat-language-config-modals-wrapper .termination-yes-btn {
  background: #0254D7;
  border: 1px solid #0254D7;
  color: #FFFFFF;
  margin-left: 12px !important;
}

.modal.easychat-language-config-modals-wrapper .termination-yes-btn:focus {
  background: #0254D7 !important;
}
.modal.easychat-language-config-modals-wrapper {
  background: #fff !important;
  max-height: 90%;
  top: 4% !important;
  padding: 0px !important;
  overflow: visible !important;
  /* width: 70% !important; */
}

.modal.easychat-language-config-modals-wrapper .modal-footer {
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.automated_testing_status_Pass_text{
  color: #10B981;
}

.automated_testing_status_Fail_text{
  color: #FF0000 ;
}
.automated_testing_status_reset_svg_container{
  display: flex;
  cursor: pointer;
  margin-left: 10px;
}
.automated_testing_status_wrapper{
  display: inline-flex;
  align-items: center;
  min-width: 100px;
}


#modal-email-for-export-automated-testing-report{
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    border-radius: 15px !important;
}

#modal-email-for-export-automated-testing-report .modal-footer{
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#modal-email-for-export-automated-testing-report .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 32px !important;
    position: static;
    height: 48px !important;
    background: #0254D7;
    border-radius: 30px !important;
    font-weight: bold !important;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

#modal-email-for-export-automated-testing-report .modal-content{
    padding: 1.5rem 3rem 0rem 3rem !important;
}

#modal-email-for-export-automated-testing-report .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
}

#modal-email-for-export-automated-testing-report .modal-content .modal-header .modal-close-btn{
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}

#modal-email-for-export-automated-testing-report .analytics-export-email-heading{
    font-weight: 600;
    font-size: 14px;
    margin: 24px 0px 8px 0px;
    color: #0254D7;
}

#modal-email-for-export-automated-testing-report .analytics-export-email-note{

    margin: 8px 0px 24px 0px;
    font-weight: normal;
    font-size: 12px;
    color: #999999;
}

#modal-email-for-export-automated-testing-report .analytics-export-email-input {
    max-width: 450px !important;
    width: 75% !important;
    border: none !important;
    background: #F6F6F6;
    height: 56px !important;
    padding: 0px 16px !important;
    border-radius: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
}

#modal-email-for-export-automated-testing-report .analytics-export-email-input:focus {
    background-color: #fff !important;
}

#modal-email-for-export-automated-testing-report .analytics-export-email-input::placeholder {
    font-weight: normal;
    font-size: 14px;
    color: #999999;
}
.modal-heading-text-div{
  font-weight: 500;
}