    textarea{
      height:10em;
      width:100%;
      border-radius:0.5em;
      border:0.05em solid black;
    }
    .font-indicator-form-assist{
      background-color: #fdbc16;
      color: white;
      width: 25px;
      height: 25px;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      left: 30%;
      top: 1em;
      padding: 2px;
      text-align: center;
      z-index: 1;
    }
    .font-indicator-easy-search{
      background-color: #2235bd;
      color: white;
      width: 25px;
      height: 25px;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      left: 43%;
      top: 0.7em;
      padding: 2px;
      text-align: center;
      z-index: 1;
    }

    #modal-general-feedback {
      width: 35%;
      height: auto;
      max-height: 100%;
      top:1% !important;
    }
     #bot_name_new{
      position: relative;
      width: 50%;
      left: 52%;
      font-weight: 500;
      font-size: 30px;
      color: #0F3A9A;
      font-family: Silka;
    }
    #bot_image_new{
      position: relative;
      left: 50%;
      height: 20%;
      width: 20%;
    }

/*Human icon UI*/

#easychat-user-profile-section .dropdown-content {
    top: 65px !important;
    border-radius: 8px;
    width: 155px !important;
    left: unset !important;
    right: 8px !important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
    height: 46px !important;
}

#easychat-user-profile-section .dropdown-content li:hover {
    background-color: #fff;
}

#easychat-user-profile-section {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

#easychat-user-profile-section a {
    display: flex;
    align-items: center;
    margin-top: 0px;
    width: max-content;
}

#easychat-user-profile-section .dropdown-content li {
    display: flex;
    align-items: center;
    height: 46px;
    min-height: unset;
}

#easychat-user-profile-section .dropdown-content li a {
    display: flex;
    align-items: center;
    height: 12px;
    width: 100%;
    color: #1c1d1d !important;
    margin-top: 0px;
}

#easychat-user-profile-section .dropdown-content li a svg {
    margin-right: 12px;
}

.easychat-profile-username {
    margin-right: 10px;
    color: #858796;
}

/*Human icon UI end*/

/* create bot modal css */

#new-bot {
    width: 485px;
    max-height: 99vh;
    background-color: #fff;
    border-radius: 25px;
}

#new-bot .create-bot-modal-content {
    padding: 0px;
    height: max-content;
}

#new-bot .create-bot-modal-content p {
    margin-bottom: 0px;
    padding-left: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #4D4D4D;
}

#new-bot .create-bot-modal-footer {
    background-color: #fff;
    padding-right: 12px;
}

#new-bot input[type="text"] {
    height: 40px !important;
    border: 1px solid #E6E6E6 !important;
    box-sizing: border-box;
    border-radius: 90px;
    margin-top: 8px !important;
    padding: 0px 15px !important;
    width: 100% !important;
}

#new-bot .create-bot-modal-content h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #4D4D4D;
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 0px 8px 14px;
    display: flex;
    align-items: center;
}

#new-bot .create-bot-modal-footer #agree-create-new-bot {
    width: 99px;
    height: 36px;
    font-weight: 500 !important;
    font-size: 13px !important;
    text-align: center;
    color: #FFFFFF;
    background: #038456 !important;
    border-radius: 90px;
    border: none;
    outline: none;
    margin-left: 20px;
    font-family: "Silka", Sans-Serif !important;
}

#new-bot .easychat-newbot-error-area p {
    margin-top: 0px;
}

#new_bot_error_div {
    color: rgb(236, 19, 19) !important;
    font-weight: normal;
    word-break: break-word;
   
}

.easychat-newbot-error-area-widget p{
     color: rgb(236, 19, 19) !important;
    font-weight: normal;
    word-break: break-word;
    /*display: none;*/
}

/*Create bot modal css end */



.enable_custom_intents_web1  thead,
.enable_custom_intents_web2  thead{
    position: sticky;
    top: -2px;
}

.easychat-console-custom-dropdown {
    margin: 0rem 1rem 0rem 0.8rem;
    width: 230px;
}

@media(max-width:34em) {
    .easychat-console-custom-dropdown {
        min-width: 150px;
        width: auto;
    }
}

select {
    display: none !important;
}


/* .easychat-console-select-drop {
    display: none !important;
  } */

.easychat-console-custom-dropdown .drop-language-icon {
    margin-right: 8px;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom {
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0); */
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #D6DAF5;
    /* box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5); */
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: #4B4B4B !important;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom:focus {
    background-color: #fff;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom:hover {
    background-color: #fff;
}


/* .easychat-dropdown-select-custom:active {
    background-color: #fff !important;
    border-color: #bbb;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05) inset;
  } */

.easychat-console-custom-dropdown .easychat-dropdown-select-custom:after {
    /* -webkit-transform: origin(50% 20%);
    transform: origin(50% 20%); */
    /* transition: all 0.125s ease-in-out; */
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5832 6L7.99657 8.58666L5.4099 6C5.28535 5.87516 5.11625 5.80501 4.9399 5.80501C4.76356 5.80501 4.59446 5.87516 4.4699 6C4.2099 6.26 4.2099 6.68 4.4699 6.94L7.5299 10C7.7899 10.26 8.2099 10.26 8.4699 10L11.5299 6.94C11.7899 6.68 11.7899 6.26 11.5299 6C11.2699 5.74667 10.8432 5.74 10.5832 6Z' fill='%234B4B4B'/%3E%3C/svg%3E%0A");
    display: block;
    margin-top: 6px;
    pointer-events: none;
    position: absolute;
    right: 16px;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom.open:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -6px;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom.open .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom.open .easychat-console-language-option {
    cursor: pointer;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom.wide {
    width: 100%;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09); */
    background-color: #fff;
    border-radius: 25px;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 262px;
    overflow: hidden;
    border: 1px solid #CAD0FA;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list:hover .easychat-console-language-option:not(:hover) {
    background-color: transparent !important;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .dd-search {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    position: relative;
}

.drop-language-search-icon {
    position: absolute;
    left: 16px;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom #txtSearchValue {
    width: 90% !important;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem !important;
    background: #F6F6F6;
    border: 1px solid #F2F2F2 !important;
    border-radius: 25px;
    outline: none;
    font-size: 14px !important;
    color: #909090;
    height: 28px !important;
}


/* .easychat-console-custom-dropdown .easychat-dropdown-select-custom:after {
  
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5832 6L7.99657 8.58666L5.4099 6C5.28535 5.87516 5.11625 5.80501 4.9399 5.80501C4.76356 5.80501 4.59446 5.87516 4.4699 6C4.2099 6.26 4.2099 6.68 4.4699 6.94L7.5299 10C7.7899 10.26 8.2099 10.26 8.4699 10L11.5299 6.94C11.7899 6.68 11.7899 6.26 11.5299 6C11.2699 5.74667 10.8432 5.74 10.5832 6Z' fill='%234B4B4B'/%3E%3C/svg%3E%0A");
    display: block;
    margin-top: 6px;
    pointer-events: none;
    position: absolute;
    right: 16px;
  } */

.easychat-console-custom-dropdown .easychat-dropdown-select-custom #txtSearchValue:focus {
    background-color: #fff !important;
    box-shadow: none !important;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list ul {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 175px;
    margin-top: 0px;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .easychat-console-language-option {
    cursor: default;
    font-weight: 400;
    line-height: 40px;
    outline: none;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
    border-top: 1px solid #eef1ff94;
    padding: 10px 10px 10px 26px;
    word-break: break-word;
    line-height: 1.4;
    white-space: normal; 
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .easychat-console-language-option:hover,
.easychat-console-custom-dropdown .easychat-dropdown-select-custom .easychat-console-language-option:focus {
    background-color: #EEF1FF !important;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .easychat-console-language-option.easychat-lang-selected {
    font-weight: 600;
    color: #0254D7;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .easychat-console-language-option.easychat-lang-selected:focus {
    background: #f6f6f6;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom a:hover {
    color: #666;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list ul::-webkit-scrollbar {
    width: 7px;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list ul::-webkit-scrollbar-track {
    background: #F6F8FF;
}

#language-change-loader-gif{
  width: 220px;
  height: 160px !important;
}
#modal-language-change-loader .modal-content{
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex-direction: column;
}
#modal-language-change-loader {
  top: 50% !important;
  transform: scaleX(1) scaleY(1) translateY(-50%) !important;
  width: 200px;
}
.custom-drop-nodata-found-div {
    font-size: 16px;
    font-weight: 500;
    color: #4B4B4B !important;
    text-align: center;
    display: none;
}
.language-autofix-popup-warning-div {
    padding: 12px 20px;
    background: #FFFFFF;
    border: 1px solid #F3F6FF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 16.875px 11.25px rgba(0, 0, 0, 0.05);
    border-radius: 9px;
    margin-bottom: 2rem;
  }
  
  .language-autofix-popup-warning-div p {
    margin-top: 0px;
    font-weight: 500;
    font-size: 16px;
    color: #4D4D4D;
    margin-bottom: 0px;
  }
  
  .language-autofix-popup-warning-div-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .language-autofix-popup-warning-div-buttons a {
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .language-autofix-popup-warning-div-buttons .popup-warning-ignore-btn {
    color: #333333;
  }
  
  .language-autofix-popup-warning-div-buttons .popup-warning-autofix-btn {
    color: #2755CB;
  }
  
  /*Dropdown changes*/

  .easychat-dropdown-select-custom span {

    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  #modal-language-change-loader .modal-content #language-loader-inner-text{
    text-align: center;
  }

  #logout-api{
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
  }

  #logout-api div{
    display: flex;
    align-items: center;
    padding-left: 16px;
    column-gap: 12px;
    height: 30px;
    width: 100%;
    /* z-index: 100; */
  }

  #logout-api div span{
    font-size: 15px;
    font-weight: 500;
  }
  
  /* #logout-api input:hover{
    background-color: rgba(0,0,0,0.1);
  } */
  #logout-api input:hover + .logout-api-div-class{
    background-color: rgba(0,0,0,0.1);     
  }
  #logout-api input{
    position: absolute;
    top: 0;
    background: transparent;
    outline: none !important;
    border: none !important;
    cursor: pointer;
    /* z-index: 100; */
  
  }

#easychat_language_config_success_toast_container_category {
    padding: 12px 20px;
    background: #ECFDF5;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 8px;
    transform: translateX(-50%);
    left: 50%;
    font-weight: 500;
    align-items: center;
    z-index: 101;
    max-width: 70%;
    width: max-content;
}

#easychat_language_config_success_toast_container_category span {
    margin-left: 12px;
    color: #064E3B;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

#easychat_language_config_success_toast_container_category .easychat-language-config-success-toast-cross-icon{
    margin-left: 30px;
    line-height: 17px;
    display: flex;
    cursor: pointer !important;
}
