@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
body {
    font-family: 'DM Sans' !important;
}

.modal.easychat-modal-share-bot {
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    overflow-y: hidden !important;
    width: 70% !important;
}

.modal.easychat-modal-share-bot .modal-footer {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal.easychat-modal-share-bot .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px !important;
    position: static;
    height: 48px !important;
    background: #0254D7;
    border-radius: 4px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

.modal.easychat-modal-share-bot .filter-modal-footer-btn-cancel {
    font-weight: 600 !important;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 56px !important;
    color: #000000 !important;
    background: transparent !important;
    font-family: unset !important;
}

.modal.easychat-modal-share-bot #count-filters {
    font-size: 14px;
    line-height: 17px;
    color: #0254D7;
}

.modal.easychat-modal-share-bot .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

.modal.easychat-modal-share-bot .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

.modal.easychat-modal-share-bot .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
}

.modal.easychat-modal-share-bot .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}

.modal.easychat-modal-share-bot .analytics-filter-select-area input[type=radio] {
    opacity: 1 !important;
    width: 25px !important;
    height: 20px !important;
    top: -10px;
    left: 10px;
}

.modal.easychat-modal-share-bot .analytics-filter-select-area label {
    position: relative;
}

.modal.easychat-modal-share-bot .analytics-filter-select-area input[type=radio]:checked+.filter-box {
    border: 1px solid #0254D7 !important;
}

.modal.easychat-modal-share-bot .analytics-filter-select-area input[type=radio]:checked+.filter-box span {
    color: #0254D7 !important;
}

.modal.easychat-modal-share-bot .analytics-filter-select-area .filter-box {
    padding: 0px 16px;
    height: 48px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 10px;
}

.modal.easychat-modal-share-bot .analytics-filter-select-area .filter-box span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 24px;
}

.modal.easychat-modal-share-bot .analytics-filter-select-area .filter-box span:before {
    font-size: 1.2em;
    display: block;
    font-weight: normal;
    color: white;
}

.modal.easychat-modal-share-bot .analytics-filter-select-area {
    margin-bottom: 24px;
}

.filter-heading {
    font-weight: 600;
    font-size: 14px;
    color: #4D4D4D;
    margin: 15px 0px;
}

.modal-overflow-content-div {
    width: 100%;
    max-height: calc(100vh - 16rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
    z-index: 101;
    scrollbar-width: thin;
}

.modal.easychat-modal-share-bot .modal-header h6 {
    font-weight: 600 !important;
    font-size: 16px;
    color: #000000;
}

.modal-overflow-content-div::-webkit-scrollbar {
    width: 7px;
}

.modal-overflow-content-div::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.modal-overflow-content-div::-webkit-scrollbar-track {
    background: #F6F8FF;
}


/* new css */

.easychat-managers-list-with-bot-access-container {
    width: 100%;
    height: auto;
    min-height: 100px;
    padding: 20px !important;
    border: 1px solid #CBCACA;
    border-radius: 8px;
    margin: 20px 0px;
}

.bot-access-manager-modal-header-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #4D4D4D;
    margin-bottom: 20px;
}

.easychat-search-select-manager-dropdown-container,
.easychat-bot-access-type-selectcontainer {
    padding-left: 0px !important;
    margin-bottom: 30px;
}

.easychat-bot-access-manager-lists {
    padding-left: 0px !important;
}

.easychat-bot-full-access-container input {
    top: 0px !important;
}

.easychat-bot-full-access-container table tbody {
    box-shadow: none !important;
}

.easychat-bot-full-access-container table tbody tr td {
    border: none !important;
}

.easychat-bot-full-access-container table tbody tr td:first-child {
    width: 45% !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #4D4D4D !important;
}

.easychat-bot-custom-access-container {
    margin-bottom: 24px;
    display: none;
}

.easychat-bot-full-access-container [type="checkbox"].filled-in:checked+span:not(.lever):after {
    width: 18px;
    height: 18px;
    border: 2px solid #0254D7;
    background-color: #0254D7;
}

.easychat-bot-full-access-container [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    height: 18px;
    width: 18px;
    border: 2px solid #CBCACA;
}

.easychat-bot-full-access-container [type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: -2px;
    width: 7px;
}

.easychat-bot-full-access-container label span {
    height: 10px !important;
}

.easychat-search-select-manager-dropdown-container .ms-options-wrap {
    width: 50%;
}

.easychat-bot-access-select-module-heading {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #7B7A7B;
    margin-bottom: 6px;
}

.easychat-bot-access-manager-lists{
    display: flex;
    flex-wrap: wrap;
}

.modal.easychat-modal-share-bot .manager-chip-box-created-by {
    height: 45px;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 6px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    margin-bottom: 8px;
    cursor: pointer;
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    gap: 11px;
    border: 1px solid #D4D4D4;
}

.modal.easychat-modal-share-bot .manager-chip-box-created-by svg{
    flex-shrink: 0;
}

.modal.easychat-modal-share-bot .manager-chip-box-created-by span {
    font-weight: normal;
    font-size: 14px;
    white-space: nowrap;
    color: #2D2D2D;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modal.easychat-modal-share-bot .manager-chip-box {
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 6px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6;
    margin-bottom: 8px;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    padding: 0px 12px 0px 16px;
    gap: 11px;
    height: 45px;
}

.modal.easychat-modal-share-bot .manager-chip-box.edit-manages-access-active {
    border: 1px solid #0254D7 !important;
}

.modal.easychat-modal-share-bot .manager-chip-box.edit-manages-access-active span {
    color: #0254D7 !important;
}

.modal.easychat-modal-share-bot .manager-chip-box.edit-manages-access-active .easychat-manager-revoke-access-btn {
    display: none;
}

.modal.easychat-modal-share-bot .manager-chip-box:hover .easychat-manager-edit-access-btn {
    display: flex;
}

.modal.easychat-modal-share-bot .channel-box {
    display: inline-flex;
}

.modal.easychat-modal-share-bot .channel-box label {
    position: relative;
}

.modal.easychat-modal-share-bot .channel-box label {
    height: 48px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 6px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 8px;
    cursor: pointer;
    padding: 0px 16px 0px 12px;
}

.modal.easychat-modal-share-bot .channel-box input[type="checkbox"]:checked+label {
    border: 1px solid #0254D7 !important;
}

.modal.easychat-modal-share-bot .channel-box input[type="checkbox"]:checked+label span {
    color: #0254D7 !important;
}

.modal.easychat-modal-share-bot .channel-box [type="checkbox"]:not(:checked),
.modal.easychat-modal-share-bot .channel-box [type="checkbox"]:checked {
    top: 0px;
}

.modal.easychat-modal-share-bot .manager-chip-box span {
    font-weight: normal;
    font-size: 14px;
    white-space: nowrap;
    color: #2D2D2D;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.easychat-manager-revoke-access-btn {
    display: flex;
    margin-left: 2px;
}

.easychat-manager-edit-access-btn {
    display: none;
    margin: 0px 2px 0px 4px;
}

#easychat_bot_share_revoke_access_modal {
    width: 35% !important;
}

.easychat-search-select-manager-dropdown-container .select2-container {
    display: none;
}

.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}

.ms-options-wrap {
    position: relative;
    width: 75%;
    margin: 8px 0px;
}

.ms-options-wrap>button:focus,
.ms-options-wrap>button {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #ededed;
    background-color: #fff;
    padding: 5px 35px 5px 18px;
    margin-top: 1px;
    font-size: 13px;
    color: #aaa;
    outline-offset: -2px;
    white-space: nowrap;
    height: 48px;
    margin-bottom: 0px;
    border-radius: 4px;
    box-shadow: none;
}

.ms-options-wrap>button>span {
    display: inline-block;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
}

.ms-options-wrap>button[disabled] {
    background-color: #e5e9ed;
    color: #808080;
    opacity: 0.6;
}

.ms-options-wrap>button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

.ms-options-wrap.ms-has-selections>button {
    color: #333;
}

.ms-options-wrap>.ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    /* border: 1px solid #CAD0FA; */
    border: 1px solid #ededed;
    overflow: hidden;
    visibility: hidden;
    max-height: unset !important;
    height: auto;
    border-radius: 4px;
    /* box-shadow: 0px 6px 23px rgba(0, 0, 0, 0.25); */
}

.ms-options-wrap.ms-active>.ms-options {
    visibility: visible
}

.ms-options-wrap>.ms-options>.ms-search input {
    width: 100% !important;
    padding: 0.5rem 0.5rem 0.5rem 1rem !important;
    background: #FAFAFA;
    border: 1px solid #F2F2F2 !important;
    border-radius: 4px !important;
    outline: none !important;
    font-size: 14px !important;
    color: #909090 !important;
    height: 38px !important;
    box-sizing: border-box;
}

.ms-options-wrap>.ms-options>.ms-search input:focus {
    background-color: #ffffff !important;
}

.ms-options-wrap>.ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-decoration: none !important;
    width: 100%;
    padding: 10px 12px;
}

.ms-options-wrap>.ms-options .ms-selectall:hover {
    background-color: #EEF1FF;
}

.ms-options-wrap>.ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap>.ms-options>.ms-selectall.global {
    margin: 0px;
}

.ms-options-wrap>.ms-options>ul,
.ms-options-wrap>.ms-options>ul>li.optgroup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 128px !important;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    column-count: unset !important;
    scrollbar-width: thin;
}

.ms-options-wrap>.ms-options>ul li.ms-hidden {
    display: none;
}

.ms-options-wrap>.ms-options>ul>li.optgroup {
    padding: 5px;
}

.ms-options-wrap>.ms-options>ul>li.optgroup+li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap>.ms-options>ul>li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap>.ms-options>ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 30px 10px 12px;
    border-top: 1px solid #eef1ff94;
    font-size: 14px;
    color: #4D4D4D !important;
}

.ms-options-wrap>.ms-options.checkbox-autofit>ul label,
.ms-options-wrap>.ms-options.hide-checkbox>ul label {
    padding: 4px;
}

.ms-options-wrap>.ms-options>ul label.focused,
.ms-options-wrap>.ms-options>ul label:hover {
    background-color: #F6F6F6;
}

.ms-options-wrap>.ms-options>ul li.selected label {
    color: #0254d7;
    font-weight: 500;
}

.ms-options-wrap>.ms-options>ul input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    margin: 0px !important;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.ms-options-wrap>.ms-options.hide-checkbox>ul input[type="checkbox"] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar {
    width: 7px;
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar-track {
    background: #ffffff;
}

.ms-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0px;
    padding: 0px 12px;
}

.ms-options-wrap>.ms-options>ul li.selected {
    padding: 0px !important;
    margin: 0px;
}

.mailer-analytics-traffic-analytics-dropdown .select2,
.mailer-analytics-intent-analytics-dropdown .select2,
.mailer-analytics-flow-completion-dropdown .select2 {
    display: none;
}

.ms-options-wrap.ms-active>button:after {
    transform: rotate(180deg);
    margin-top: -9px;
}

#modal-email-config .switch-custom label .lever-custom:before,
.switch-custom label .lever-custom:after {
    content: '';
}

.ms-options-wrap>.ms-options #selectall-drop-cb {
    opacity: 1;
    width: 16px !important;
    height: 16px !important;
    pointer-events: auto;
    right: 19px;
    margin: 0px !important;
    padding: 0px !important;
    top: 72px;
}

.termination-confirmation-modal {
    background: #FFFFFF;
    border-radius: 16px;
    padding: 32px !important;
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    margin: 0px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 25%) !important;
    min-height: 14em;
    height: auto;
    overflow: hidden;
    width: 30%;
}

.termination-confirmation-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.termination-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.termination-confirmation-text {
    font-size: 16px;
    line-height: 24px;
    font-family: "Silka", sans-serif;
    text-align: center;
    color: #2D2D2D;
    padding: 20px;
}

.termination-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.termination-buttons button {
    width: 132.5px;
    height: 36px;
    border-radius: 24px;
    padding: 7px 16px;
    font-size: 16px;
    line-height: 140%;
}

.termination-no-btn {
    background: #FFFFFF;
    border: 1px solid #CBCACA;
    color: #4D4D4D;
    margin-right: 12px !important;
}

.termination-yes-btn {
    background: #0254D7;
    border: 1px solid #0254D7;
    color: #FFFFFF;
    margin-left: 12px !important;
}

.termination-yes-btn:focus {
    background: #0254D7 !important;
}

/* top Navbar */
.navbar-fixed,nav
{
    height: 64px !important;
    border-bottom:0px;
   box-shadow: none!important;
}
nav.white-new {
    border-bottom: 0px !important;
}
#easychat-user-profile-section a
{
    margin-top: -10px;
    margin-left: -5px;
}
.expanded-logo {
    margin-left: 11px;
    height: 35px;
    width: 100px;
    top: -2px;
    position: absolute;
}
.easychat-profile-username {
    margin-right: 10px;
    color: #475569;
    font-weight: 500;
    font-size: 14px;
}
/* side Navbar */
#easychat-bot-sidenav-wrapper
{
    width: 72px;
    background: #fff;
}

#easychat-bot-sidenav-wrapper .easychat-botname-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    background: #ffffff;
    height: 20px;
    align-items: center;
    gap: 10px;
}
#easychat-bot-sidenav-wrapper .collection.with-header {
    width: inherit;
    margin-top: 0px;
    padding-bottom: 45px !important;
    box-shadow: none !important;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0px !important;
    border: 0px;
}
#easychat-bot-sidenav-wrapper.easychat-botname-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #0254D7;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.collabsible-sidebar-menu-wrapper
{
    border-left: 5px solid #fff !important;
}
.collabsible-sidebar-menu-wrapper:hover {
    box-shadow: #444 0 0 0px !important;
    background: #FAFAFA!important;
}
.Chatbot:hover {
    border-left: 5px solid #0254D7 !important;
}
.LiveChat:hover {
    border-left: 5px solid #FF9040 !important;
}
.Cobrowser:hover {
    border-left: 5px solid #811AFF !important;
}
.Desk:hover {
    border-left: 5px solid #10B981 !important;
}
.sidebar-menu-item:hover {
    background: #FAFAFA!important;
}
.activeted {
    border-left: 5px solid #0254D7 !important;
    background: #FAFAFA!important;
   
}
/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: -5px;
    left: 105%;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* easychat-user-profile-section */
#easychat-user-profile-section .dropdown-content 
{
    top: 50px !important;
    width: 320px !important;
    height: 92px !important;
    right: 1.8%!important;
}
nav .dropdown-content  li:hover {
    background-color:#F6F6F6!important;
}
nav .dropdown-content  a:hover,#logout-api input:hover+.logout-api-div-class  {
    background-color: unset !important;
}
.dropdown-content-text
{
    margin-left: 5px!important;
    font-size: 14px;
    line-break: auto;
    width: 260px;
    overflow-wrap: break-word;
}
#easychat-user-profile-section .dropdown-content li .user_mail_svg svg {
    margin-right: 12px;
    margin-top: 15px;
    margin-left: -1px;
}
#logout-api div span {
    font-size: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #2D2D2D;
    margin-left: -2px;
}
#logout-api div {
    column-gap: 21px!important;
    padding-left: 18px;
}
/* body section start */
.add-scrolling 
{
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='768' viewBox='0 0 1440 768' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1041_31825)'%3E%3Crect width='1440' height='768' fill='%23FAFAFA'/%3E%3Cg opacity='0.05'%3E%3Cpath d='M163.967 512.511C117.633 511.308 75.2188 529.954 38.0522 567.121C2.21292 602.96 -16.4326 645.374 -17.8844 694.362C-16.6884 743.344 1.73593 785.661 37.3885 821.314C74.3616 858.287 116.679 876.711 164.34 876.587C213.329 875.135 255.743 856.489 291.582 820.65C328.748 783.483 347.394 741.07 346.191 694.736C346.315 647.074 327.891 604.757 290.918 567.784C253.945 530.811 211.628 512.387 163.967 512.511Z' fill='url(%23paint0_linear_1041_31825)' fill-opacity='0.6'/%3E%3Cpath d='M-174.626 851.104C-175.829 804.77 -157.184 762.356 -120.017 725.189C-84.1779 689.35 -41.764 670.705 7.22464 669.253C56.2064 670.449 98.5235 688.873 134.176 724.526C171.149 761.499 189.573 803.816 189.449 851.477C187.997 900.466 169.352 942.88 133.512 978.719C96.3458 1015.89 53.9319 1034.53 7.59801 1033.33C-40.0632 1033.45 -82.3804 1015.03 -119.353 978.055C-156.327 941.082 -174.751 898.765 -174.626 851.104Z' fill='url(%23paint1_linear_1041_31825)'/%3E%3Cpath d='M147.964 1018.36C101.63 1019.56 59.2162 1000.91 22.0496 963.747C-13.7897 927.907 -32.4353 885.493 -33.8871 836.505C-32.6911 787.523 -14.2667 745.206 21.3859 709.553C58.3589 672.58 100.676 654.156 148.337 654.28C197.326 655.732 239.74 674.378 275.579 710.217C312.746 747.384 331.391 789.798 330.188 836.131C330.313 883.793 311.889 926.11 274.915 963.083C237.942 1000.06 195.625 1018.48 147.964 1018.36Z' fill='url(%23paint2_linear_1041_31825)' fill-opacity='0.6'/%3E%3Cpath d='M-160.653 709.741C-161.856 756.075 -143.21 798.489 -106.043 835.655C-70.204 871.495 -27.7901 890.14 21.1985 891.592C70.1802 890.396 112.497 871.972 148.15 836.319C185.123 799.346 203.547 757.029 203.423 709.368C201.971 660.379 183.326 617.965 147.486 582.126C110.32 544.959 67.9057 526.314 21.5718 527.516C-26.0894 527.392 -68.4065 545.816 -105.38 582.789C-142.353 619.762 -160.777 662.08 -160.653 709.741Z' fill='url(%23paint3_linear_1041_31825)' fill-opacity='0.6'/%3E%3C/g%3E%3Cg opacity='0.05'%3E%3Cpath d='M1180.14 533C1146.52 564.912 1129.72 608.088 1129.72 660.649C1129.72 711.334 1146.52 754.509 1180.14 790.176C1215.62 823.966 1258.57 840.86 1308.99 840.86C1361.28 840.86 1404.23 823.966 1437.84 790.176C1471.45 754.509 1488.26 711.334 1488.26 660.649C1488.26 608.088 1471.45 564.912 1437.84 533C1404.23 499.21 1361.28 482.315 1308.99 482.315C1256.7 482.315 1213.75 499.21 1180.14 533Z' fill='url(%23paint4_linear_1041_31825)' fill-opacity='0.6'/%3E%3Cpath d='M1180.14 1011.84C1146.52 979.93 1129.72 936.755 1129.72 884.193C1129.72 833.509 1146.52 790.333 1180.14 754.666C1215.62 720.877 1258.57 703.982 1308.99 703.982C1361.28 703.982 1404.23 720.877 1437.84 754.666C1471.45 790.333 1488.26 833.509 1488.26 884.193C1488.26 936.755 1471.45 979.93 1437.84 1011.84C1404.23 1045.63 1361.28 1062.53 1308.99 1062.53C1256.7 1062.53 1213.75 1045.63 1180.14 1011.84Z' fill='url(%23paint5_linear_1041_31825)'/%3E%3Cpath d='M1526.51 902.003C1494.6 935.616 1451.42 952.423 1398.86 952.423C1348.18 952.423 1305 935.616 1269.33 902.003C1235.54 866.522 1218.65 823.571 1218.65 773.15C1218.65 720.863 1235.54 677.912 1269.33 644.298C1305 610.685 1348.18 593.878 1398.86 593.878C1451.42 593.878 1494.6 610.685 1526.51 644.298C1560.3 677.912 1577.19 720.863 1577.19 773.15C1577.19 825.438 1560.3 868.389 1526.51 902.003Z' fill='url(%23paint6_linear_1041_31825)' fill-opacity='0.6'/%3E%3Cpath d='M1090.06 902.002C1121.97 935.616 1165.15 952.422 1217.71 952.422C1268.39 952.422 1311.57 935.616 1347.23 902.002C1381.02 866.521 1397.92 823.57 1397.92 773.15C1397.92 720.862 1381.02 677.911 1347.23 644.298C1311.57 610.684 1268.39 593.877 1217.71 593.877C1165.15 593.877 1121.97 610.684 1090.06 644.298C1056.27 677.911 1039.37 720.862 1039.37 773.15C1039.37 825.438 1056.27 868.388 1090.06 902.002Z' fill='url(%23paint7_linear_1041_31825)' fill-opacity='0.6'/%3E%3C/g%3E%3Cline x1='71.5' y1='48' x2='71.5' y2='746' stroke='%23FAFAFA'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1041_31825' x1='37.3885' y1='821.314' x2='290.918' y2='567.784' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23373DCB'/%3E%3Cstop offset='1' stop-color='%232146C8' stop-opacity='0.47'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1041_31825' x1='134.176' y1='724.526' x2='-119.353' y2='978.055' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23005DCA'/%3E%3Cstop offset='1' stop-color='%2337D4F7'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_1041_31825' x1='21.3859' y1='709.553' x2='274.915' y2='963.083' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23373DCB'/%3E%3Cstop offset='1' stop-color='%232163E2' stop-opacity='0.63'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_1041_31825' x1='148.15' y1='836.319' x2='-105.38' y2='582.789' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23373DCB'/%3E%3Cstop offset='1' stop-color='%232163E2' stop-opacity='0.63'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_1041_31825' x1='1308.99' y1='840.86' x2='1308.99' y2='482.315' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23373DCB'/%3E%3Cstop offset='1' stop-color='%232146C8' stop-opacity='0.47'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_1041_31825' x1='1308.99' y1='703.982' x2='1308.99' y2='1062.53' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23005DCA'/%3E%3Cstop offset='1' stop-color='%2337D4F7'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint6_linear_1041_31825' x1='1218.65' y1='773.15' x2='1577.19' y2='773.15' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23373DCB'/%3E%3Cstop offset='1' stop-color='%232163E2' stop-opacity='0.63'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint7_linear_1041_31825' x1='1397.92' y1='773.15' x2='1039.37' y2='773.15' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23373DCB'/%3E%3Cstop offset='1' stop-color='%232163E2' stop-opacity='0.63'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_1041_31825'%3E%3Crect width='1440' height='768' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: fill;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
}
.select-bot-text
{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #0F172A;
    margin: 0 !important;
}
.select-bot-sub-text
{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #334155;
    margin: 0 !important;
    padding-top: 6px;
}
.easychat-btn-wrapper
{
    display: flex;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 12px;
    padding: 0px!important;
}
.easychat-up-btn,#access-management-btn
{
    background: #0254D7!important;
    border-radius: 4px!important;
    height: 40px;
    align-items: center;
    padding: 11px 12px;
    color: #FFFFFF!important;
    font-weight: 500!important;
    font-size: 14px!important;
    line-height: 17px!important;
    letter-spacing: 0.3px;
}
.easychat-up-btn:hover
{
    color: #FFFFFF!important;
    font-weight: 500!important;
    font-size: 14px!important;
    background: #0254D7!important;
}
.btn-text
{
    position: relative;
    top:-25%;
    padding-left: 8px;
}
.btn-text2
{
    position: relative;
    top:-30%;
    padding-left: 8px;
}
.show-result
{
    display: flex;
    justify-content: flex-end;
}
.show-result span
{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #7B7A7B;

}
/* search bar */
.easychat_search_bar_div{
    max-width: 320px;
    width: 30%!important;
    height: 40px;
    background: #FFFFFF;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: 1px solid #E6E6E6!important;
    box-shadow: none!important;
    outline: none!important;
    padding: 8px 16px 8px 16px;
    display: flex;
    margin: auto;
    margin-right: 0px;

}
input:focus {
     border: 0px!important; 
     box-shadow: none!important;
}
#easychat-search-bar
{
    background: transparent;
    flex: none;
    order: 0;
    width: 30% !important;
    flex-grow: 1;
    border: 0px!important;
    box-shadow: none!important;
    outline: none!important;
    padding-left: 8px!important;
    position: relative;
    top: 25%;
    transform: translateY(-19px);
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.easychat_search_bar::placeholder {
    
    color: #7B7A7B;
    font-size: 14px;
    letter-spacing: 0.01em;
   
  }
  .custom-btn-row {

    gap: 8px;
    margin-bottom: 0.5em!important;
}


/* bot card design */
.card.medium{
    border: 2px solid #F1F5F9!important;
    border-radius: 12px!important;
    padding: 20px 24px;
    gap: 24px;
    height:fit-content;
    box-shadow: none !important; 
    overflow: hidden;
}
.card.medium:hover{
    background-image: url("data:image/svg+xml,%3Csvg width='238' height='62' viewBox='0 0 238 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cpath opacity='0.1' d='M238 1.00833C193.275 56.1594 62.5163 63.5639 2.72759 60.3723H1.17463V21.4347C-0.68891 4.58293 12.8218 0.795551 19.8101 1.00833H238Z' fill='url(%23paint0_linear_1041_32971)'/%3E%3Cpath opacity='0.1' d='M153 1.00848C124.316 57.0787 40.4535 64.6067 2.10804 61.3619H1.11205L1.0001 16.5C0 3.5 7.01806 0.792158 11.5 1.00848H153Z' fill='url(%23paint1_linear_1041_32971)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1041_32971' x1='-36.92' y1='4.97645' x2='-16.7322' y2='84.7184' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2355FFE0'/%3E%3Cstop offset='1' stop-color='%233360FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1041_32971' x1='-23.4316' y1='5.03976' x2='6.37541' y2='79.3562' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2355FFE0'/%3E%3Cstop offset='1' stop-color='%233360FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed;
    background-position: center;
}
#card_img_div
{
    display: flex;
    justify-content: space-between;
}
#indicators
{
    min-height: 1.5em;
    margin-right: 25px;
    display: flex;
}
#card_img_div .bot-img{
    height: 72px!important;
    width: 72px!important;
    display: flex;
}
#card_img_div .bot-img img{
    object-fit: contain;
}
.card.small .card-image, .card.medium .card-image, .card.large .card-image {
    max-height: 100%;
    overflow: hidden;
}
.card .card-action{
    border-top: 0px;
    display: flex;
    justify-content: space-between;
    padding:17px 0px 0px 0px;
    border-radius: 0 0 12px 12px !important;
    gap: 9px;
    position: relative!important;
}
.card .card-action a{
    margin-right: 0px!important;
    border: 1px solid #ffffff;
}
.card-action-share,.card-action-edit,.card-action-open-chat-window,.card-action-delete{
    width: -webkit-fill-available;
    width: -moz-available;
    gap: 8px;
    height: px;
    background: rgba(239, 246, 255, 0.8);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
    display: flex;
}
.card .card-action .card-action-share:hover{
    border: 1px solid #0254D7;
}
.card-action-edit{
    background: rgba(236, 253, 245, 0.8)!important;
}
.card .card-action .card-action-edit:hover{
    border: 1px solid #10B981;
}
.card-action-delete{
    background: #FFF9F9;
  }
  .card .card-action .card-action-delete:hover{
    border: 1px solid #FF4C40;
  }
  .card-action-open-chat-window{
    background: #F8F8F8;
}
.card .card-action .card-action-open-chat-window:hover{
    border: 1px solid #4D4D4D;
}
 .font-indicator-easy-search{
    background: rgba(0, 144, 225, 0.1);
    color: #0254D7;
    width: 25px;
    height: 25px;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
}
.font-indicator-form-assist{
    background: rgba(0, 144, 225, 0.1);
    color: #0254D7;
    width: 25px;
    height: 25px;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    margin-right: -10px;
    top: 0.7em;
    left: 20%;
}
.bot-name{
    font-weight: 600!important;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #666666;
    text-align: start;
    margin: 12px 0px 0px 2px;
}

/* delete modal */
.modal.easychat-custom-modals-wrapper.bot-custom-delete-modal {
    width: 440px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    border-radius: 16px !important;
    background-color: #ffffff;
  }
  
  .modal.easychat-custom-modals-wrapper .termination-confirmation-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
  }
  
  .modal.easychat-custom-modals-wrapper .termination-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal.easychat-custom-modals-wrapper.bot-custom-delete-modal .termination-confirmation-text {
    font-size: 16px;
    line-height: 24px;
    font-family: "Silka", sans-serif;
    text-align: center;
    padding: 10px 20px 20px;
    width: 100%;
    color: #7B7A7B;
  }
  
  .modal.easychat-custom-modals-wrapper.bot-custom-delete-modal .termination-confirmation-heading-text {
    text-align: center;
    margin-top: 24px;
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
  }
  
  .modal.easychat-custom-modals-wrapper.bot-custom-delete-modal .termination-confirmation-subheading-text {
    text-align: center;
    margin-top: 24px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2D2D2D;
  }
  .modal-cancel-btn
  {
    background: #F6F6F6!important;
    border-radius: 4px!important;
    height: 48px!important;
    color: #2D2D2D!important;
    font-weight: 500!important;
    font-size: 16px!important;
    line-height: 19px!important;
    border: 0px!important;
  }
  .modal-delete-btn
  {
    background: #0254D7!important;
    border-radius: 4px!important;
    height: 48px!important;
    color: #FFFFFF!important;
    font-weight: 500!important;
    font-size: 16px!important;
    line-height: 19px!important;
    border: 0px!important;
    margin-left: 12px !important;
    width: 100%;
    box-shadow: none;
    cursor: pointer;
  }
  .bot-custom-delete-modal.modal-delete-btn:focus {
    background: #0254D7!important;
}
.data-not-found
{
    background-blend-mode: luminosity;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-not-found-wrapper h6
{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #7B7A7B;
}
/* create new bot tooltip */
.easychat-btn-wrapper .box {
    height: 44px;
    background-color: #022B6E;
    color: #fff;
    padding: 12px;
    gap: 21.85px;
    position: absolute;
    margin: 40px;
    float: top;
    top: 30%;
    justify-content: space-between;
    display: flex;
    z-index: 1003;
  }
  
  .box.arrow-top {
    margin-top: 50px;
    min-width: 225px;
  }
  
  .box.arrow-top:after {
    content: " ";
    position: absolute;
    right: 40%;
    top: -10px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 20px solid #022B6E;
  }
  .close-div-btn
  {
   margin-top: 3px;
   cursor: pointer;
  }
  #background-color-theme
  {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.25);
     position: absolute;
     z-index: 1002;
  }
  /* deleted_bot_toaster */

  #deleted_bot_toast_container{
    height: 40px!important;
    background: #ECFDF5;
    align-items: center;
    border: 1px solid #34D399;
    border-radius: 4px;
    width: auto!important;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    font-weight: 500;
    z-index: 101;
    transition: 300ms;
}

#deleted_bot_toast_container .translation_api_svg{
    margin-top: 12px;
    transform: translateX(-50%);
    left: -80%;
}
#deleted_bot_toast_container p{
    color: #4D4D4D;
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Silka';
    font-style: normal;
    margin-right: 51px;
    margin-left: 17px;
}

@media screen and (min-width: 600px) and (max-width:1050px) {

    .font-indicator-form-assist {
        margin-right: 0px;
        left: 15px;
    }
    .font-indicator-easy-search {
        left: 52%;
    }
    .easychat-up-btn, #access-management-btn 
    {
        font-size: 12px!important;
        line-height: 12px!important;
        padding: 11px 5px;
    }
    nav {
        background: #fff;
    }
}
.user_mail_svg{
    cursor: default;
}
.linear-activity {
    min-width: 300px;
    overflow: hidden;
    width: 50%;
    height: 4px;
    background-color: #B3E5FC;
    margin: 16px auto;
}
.indeterminate {
    position: relative;
    width: 100%;
    height: 100%;
}

.indeterminate:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #0254D7;
    opacity: 0.6;
    animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #0254D7;
    opacity: 0.6;
    animation: indeterminate_second 1.5s infinite ease-in;
}
#delete_close_btn{
    cursor: pointer;
}
@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}
.input-field{
    margin-bottom: 0px!important;
}