#bot_theme_color {
  border-radius: 20px !important;
  width: 60px !important;
  font-size: 14px !important;
}

.gy-btn-outline {
  border-radius: 90px;
  background: transparent !important;
  border: 1px solid #2743cb;
  color: #2743cb !important;
  padding: 0.4rem 0.6rem;
  width: 90% !important;
  /* padding: 0rem 0rem; */
  transition: all 0.2s ease-in-out;


}

.gy-btn-outline:hover svg path {
  fill: white;
  transition: all 0.2s ease-in-out;

}

.gy-btn-outline:hover {
  background: #2743cb !important;
  color: #fff !important;
  transition: all 0.2s ease-in-out;


}

.gy-settings-heading {
  color: #2743cb !important;
  /* color: #7A7A7A !important; */
  display: flex;
  align-items: center;
  margin: 10px 0 20px 0;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.gy-margin-top-50 {
  margin-top: 50px !important;
}

[type="checkbox"]+span:not(.lever):not(.lever-custom):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border: 1px solid #3b56c7;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

.gy-link {
  text-decoration: underline !important;
  color: #3B56C7 !important;

}

.gy-link svg {
  margin-right: 2px !important;
}

[type="checkbox"]:checked+span:not(.lever):not(.lever-custom):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  background: #3b56c7;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z' fill='white'/%3E%3C/svg%3E%0A");
  height: 20px;
  z-index: 0;
  border: 2px solid #5a5a5a;
  border-radius: 2px;
  margin-top: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  transform: rotate(0deg);
  border: 1px solid #3b56c7;

  border-radius: 3px !important;
}

.gy-bot-settings table {
  background-color: white !important;
  border-radius: 20px !important;
  padding: 90px 20px 70px 20px !important;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05) !important;
}

.gy-bot-settings table td:first-child {
  padding: 90px 0 20px 0;
}

.gy-bot-settings tbody {
  margin: 90px 0 !important;
}

.gy-bot-settings td {
  border-radius: 20px !important;
  padding: 20px 20px 20px 20px !important;
  color: #292929 !important;
}

.gy-fixed {
  position: fixed !important;
  right: 20px !important;
  text-align: right;
}

.gy-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: #2196F3;
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}*/

//alexa_channel, facebook_channel, google_channel, microsoft_channel, telegram_channel,whatsapp_channel,web_channel
    tbody, tr, th, td{
        border: none;
    }
    .file-field input.file-path {
        cursor: pointer!important;
    }

// Google RCS
.rcs-credentials-input{
  color: #4d4d4d;
  box-shadow: none !important;
  font-weight: normal;
  font: Silka;
  border-bottom:  1px solid #000000 !important;
  padding-left: 10px !important;
}

//google_my_business
    .gbm-credentials-heading{
      color: #2d2d2d;
      font-weight: 400;
      font: Silka;
    }
    .gbm-credentials-input{
      color: #4d4d4d;
      box-shadow: none !important;
      font-weight: normal;
      font: Silka;
      border-bottom:  1px solid #000000 !important;
      padding-left: 10px !important;
    }
    .gbm-upload-picture-div {
      width: 90%;
      height: 185px;
      border: 1px dashed #0254D7;
      box-sizing: border-box;
      border-radius: 5px;
      margin-left: 12px;
      }

      .gbm-upload-image-div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: inherit;
      }

      .gbm-upload-image-btn,
      .gbm-upload-file-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      }

/********************* custom switch *******************************/


  .switch-custom label input[type=checkbox]:checked+.lever-custom:before,
.switch-custom label input[type=checkbox]:checked+.lever-custom:after {
    top: 2px !important;
    width: 15px !important;
    height: 15px !important;
}

.switch-custom label .lever-custom:before,
.switch-custom label .lever-custom:after {
    width: 15px;
    height: 15px;
    top: 2px;
}

.crawled-link-table-data li:nth-child(even) {
    background: #f0f0fc !important;
}

.e-search-start-crawling-btn {
    font-family: " Silka ", Sans-Serif !important;
}

#modal-googlehome-project-details {
  background: #fff !important;
  max-height: 90%;
  top: 4% !important;
  padding: 0px !important;
  overflow-y: hidden;
}

#modal-googlehome-project-details .modal-footer {
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
}

#modal-googlehome-project-details .filter-modal-footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px !important;
  position: static;
  height: 40px !important;
  background: #0254D7;
  border-radius: 30px !important;
  font-weight: bold !important;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0px 20px;
  font-family: unset !important;
}

.easychat-manage-intent-modal-scrollable-content {
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 16rem);
}

#modal-googlehome-project-details .filter-modal-footer-btn-cancel {
  font-weight: 600 !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 56px !important;
  color: #000000 !important;
  background: transparent !important;
  font-family: unset !important;
}

#modal-googlehome-project-details .filter-modal-footer-btn-cancel:hover {
  box-shadow: none !important;
}

#modal-googlehome-project-details .modal-content {
  padding: 1.5rem 3rem 0rem 3rem !important;
}

#modal-googlehome-project-details .modal-content .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  height: 45px;
  padding-bottom: 10px;
  padding-left: 2px;
}

#modal-googlehome-project-details .modal-content .modal-header .modal-close-btn {
  background: transparent;
  box-shadow: none;
  padding-top: 12px;
}

#modal-googlehome-project-details table tr td:first-child {
  width: 20%;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 500 !important;
  letter-spacing: 0.2px;
}

#modal-googlehome-project-details table tr td:last-child {
  width: 40%;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 500 !important;
  letter-spacing: 0.2px;
  word-break: break-word;
} 

.custom-on-hover-grey:hover{
background-color: #757575 !important;
}
.custom-on-hover-green:hover{
background-color: #038456  !important;
}