/*custom_utils*/
#editor_custom_js {
    width:100%;
    height:50em;
    overflow:auto;
    margin-top: 10px;
}


/*common utils*/
#editor_common_utils {
  width:100%;
  height:50em;
  overflow:auto;
  margin-top: 10px;
}

/*edit processor*/
#editor-code {
  width:100%;
  height:38em;
  overflow:auto;
}

/*mailer css*/
.mailer-btn{
  cursor: pointer;
  margin-left: 10px;
  padding: 9px 24px;
  background: #FFFFFF !important;
  border: 1px solid #0254D7;
  box-sizing: border-box;
  border-radius: 26px !important;
  color: #0254D7 !important;
  font-size: 13px !important;
  display: inline-flex;
}

#api-mailer-btn p{
  position: relative;
  bottom: 22px;
}
.mailer-btn svg{
  margin-right: 5px;
  position: relative;
  top: 2px;
}
#save-processor-btn{
  cursor: pointer;
  /*opacity: 0.25;*/
}
#email-config-message{
  background: #FFFFFF;
  border: 1px dashed #2F80ED;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  padding: 5px;
  color: #2F80ED;
  word-break: break-word;
}

#email-config-message a{
  color: #2F80ED;
  display: inline-block !important;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold !important;

}

#api-fail-email-config-email-address input:focus{
  border: 1px solid #fff !important;
}
.chips.focus{
  box-shadow: none;
}

.common-utils-heading-div h5{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.6px;
  color: #2D2D2D;
  margin: 0;
}
.common-utils-heading-div p{
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.6px;
  color: #7B7A7B;
  margin: 12px 0 0 0;
}
.common-utils-heading-buttons-div .common-utils-buttons-div a.btn{
  border: 1px solid #0254D7;
  border-radius: 4px !important;
  background: #0254D7 !important;
  color: #FFFFFF !important;
  font-family: inherit;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 0 20px !important;
  height: 40px;
  box-shadow: none !important;
  transform: none !important;
}
.common-utils-heading-buttons-div .common-utils-buttons-div a.btn.check-transparent-btn{
  background: transparent !important;
  color: #0254D7 !important;
}
.common-utils-heading-buttons-div .common-utils-buttons-col-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.common-utils-heading-buttons-div .common-utils-buttons-div a.btn:not(:first-child){
  margin-left: 16px;
}
.common-utils-heading-buttons-div .common-utils-buttons-col-div p{
  font-family: 'Silka';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #7B7A7B;
  margin: 12px 0 0 0;
}
.common-utils-heading-buttons-div{
  margin-bottom: 0;
  padding: 32px 48px;
  display: flex;
  align-items: center;
}
.editor-code-div{
  border-radius: 0 0 8px 8px;
  height: 31.25em !important;
  margin: 0 !important;
}
.post-processor-col-div .collection .collection-item .easychat_processor_content ol{
  padding: 0 0 0 16px;
}

.common-utils-heading-div h5{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.6px;
  color: #2D2D2D;
  margin: 0;
}
.common-utils-heading-div p{
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.6px;
  color: #7B7A7B;
  margin: 12px 0 0 0;
}
.common-utils-heading-buttons-div .common-utils-buttons-div a.btn{
  border: 1px solid #0254D7;
  border-radius: 4px !important;
  background: #0254D7 !important;
  color: #FFFFFF !important;
  font-family: inherit;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 0 20px !important;
  height: 40px;
  box-shadow: none !important;
  transform: none !important;
}
.common-utils-heading-buttons-div .common-utils-buttons-div a.btn.check-transparent-btn{
  background: transparent !important;
  color: #0254D7 !important;
}
.common-utils-heading-buttons-div .common-utils-buttons-col-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.common-utils-heading-buttons-div .common-utils-buttons-div a.btn:not(:first-child){
  margin-left: 16px;
}
.common-utils-heading-buttons-div .common-utils-buttons-col-div p{
  font-family: 'Silka';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #7B7A7B;
  margin: 12px 0 0 0;
}
.common-utils-heading-buttons-div{
  margin-bottom: 0;
  padding: 32px 48px;
  display: flex;
  align-items: center;
}
.editor-code-div{
  border-radius: 0 0 8px 8px;
  height: 31.25em !important;
  margin: 0 !important;
}
.post-processor-col-div .collection .collection-item .easychat_processor_content ol{
  padding: 0 0 0 16px;
}

.editor-header-div{
  background: #4A4B48;
  border-radius: 8px 8px 0px 0px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px 0 40px;
}
.editor-header-div a{
  display: inline-flex;
  align-items: center;
}

.processor-editor-post-processor-row{
  padding: 2em 1em;
  margin: 0;
}
.processor-editor-post-processor-row .processor-editor-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4A4B48;
  border-radius: 8px 8px 0px 0px;
  height: 38px;
}
.processor-editor-post-processor-row .processor-editor-header .editor-header-name-icon-para{
  margin: 0;
  margin-left: 44px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.processor-editor-post-processor-row .processor-editor-header .editor-header-name-icon-para svg{
  margin-right: 8px;
}
#editor-code{
  border-radius: 0 0 8px 8px;
}
.processor-editor-post-processor-row .processor-editor-header a{
  display: inline-flex;
}
.processor-editor-post-processor-row .processor-editor-header a svg{
  margin-right: 11px;
}
.processor-input-run-button-div{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0;
}

#easychat-processor-input {
  border-bottom: 1px solid #dadada !important;
}

#easychat-processor-input:focus{
  border-radius: 0px !important;
  outline: none !important;
}

.processor-input-run-button-div input{
  background: #FFFFFF ;
  background-color: #ffffff !important;
  border: 1px solid #DADADA !important;
  border-radius: 6px;
  width: 80%;
  height: 41px;
  padding: 0 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.processor-input-run-button-div .run-processor-btn{
  width: 19%;
  background: #0254D7 !important;
  border-radius: 4px !important;
  height: 40px;
  padding: 0px 8px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF !important;
  margin-left: 1%;
  cursor: pointer;
}
.post-processor-col-div{
  background: #FFFFFF;
  border: 1px solid #F8FAFC;
  border-radius: 8px;
  padding: 16px;
}
.post-processor-col-div h4{
  margin-top: 0px;
  margin-bottom: 12px;
  padding: 13px 16px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4D4D4D;
  letter-spacing: 0.25px;
}

#api_collection{
  border: 0px solid #eee !important;
  box-shadow: none !important;
  padding: 0 !important;
  background: white !important;
  margin: 0px !important;
  border-radius: 0;
}

.post-processor-col-div .collection {
  border: 0px solid #eee !important;
  box-shadow: none !important;
  padding: 0 !important;
  background: white !important;
  margin: 0px !important;
  border-radius: 0;
}
.post-processor-col-div .collection .collection-item.configure-now-list{
  background: #F2F6FD !important;
  border-radius: 12px;
  padding: 12px 16px !important;
}
.post-processor-col-div .collection .collection-item.configure-now-list p#email-config-message{
  margin: 0;
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #000000 !important;
  padding: 0;
  letter-spacing: 0.25px;
}
.post-processor-col-div .collection .collection-item.configure-now-list p#email-config-message a{
  border: 1px solid #0254D7;
  border-radius: 4px;
  width: auto;
  margin-left: auto;
  height: 24px;
  padding: 0 12px;
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500 !important;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #0254D7;
  text-decoration: none;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 12px 0 0px auto;
  letter-spacing: 0.25px;
}
.post-processor-col-div .collection .collection-item{
  padding: 0 !important;
  letter-spacing: 0.25px;
  background: #FFFFFF !important;
  border: 1px solid #F6F6F6;
  box-shadow: 0px 0px 2px rgb(50 50 71 / 6%), 0px 2px 4px rgb(50 50 71 / 6%) !important;
  border-radius: 8px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
  width: 97%;
  margin: 0 auto 12px auto;
  transition: box-shadow 0.5s ease-out;
}
.post-processor-col-div .collection .collection-item.active-list{
  border: 1px solid #E2E8F0;
  box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16) !important;
}
.post-processor-col-div .collection .collection-item  b{
  font-weight: bolder !important;
}
.post-processor-col-div .collection .collection-item  pre{
  white-space: inherit;
}
.post-processor-col-div .collection .collection-item.format-follow-list{
  background: #FAFAFA !important;
  border-radius: 12px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000 !important;
  padding: 12px 16px !important;
  letter-spacing: 0.25px;

} 
.post-processor-col-div .collection .collection-item.format-follow-list p:last-child{
  margin-bottom: 0;
}
.post-processor-col-div .collection .collection-item .easychat_processor_collapsible{
  margin: 0;
  background: #FFFFFF !important;
  border: 1px solid transparent;
  box-shadow: none !important;
  border-radius: 8px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
  padding: 12px 16px;
  position: relative;
  letter-spacing: 0.25px;
}
.post-processor-col-div .collection .collection-item .easychat_processor_collapsible:hover{
  color: #0254D7 !important;
}
.post-processor-col-div .collection .collection-item .easychat_processor_collapsible::after{
  position: absolute;
  content: ' ';
  right: 4%;
  top: 44%;
  border: 1.5px solid black;
  width: 7px;
  height: 7px;
  border-width: 0px 1px 1px 0;
  transform: translateY(-50%) rotate(45deg);
  margin: 0 !important;
  transition: transform 0.5s ease-out;
}
.post-processor-col-div .collection .collection-item .easychat_processor_collapsible.active::after{
  transform: translateY(-50%) rotate(225deg);
}
.post-processor-col-div .collection .collection-item .easychat_processor_collapsible.active{
  color: #0254D7;
  font-weight: 500;
}
.post-processor-col-div .collection .collection-item .easychat_processor_collapsible span{
  width: 90%;
  display: inline-block;
  word-break: break-all;
}
.post-processor-col-div .collection .collection-item .easychat_processor_content{
     /* font-family: 'Silka'; */
     font-style: normal;
     font-weight: 400;
     font-size: 12px !important;
     line-height: 150%;
     color: #000000 !important;
     background-color: transparent !important;
     height: auto;
  max-height: fit-content;
  padding: 8px 16px 12px 16px;
     display: none;
     letter-spacing: 0.25px;
}
.post-processor-col-div .collection .collection-item .easychat_processor_content .note-item{
  background: #F2F6FD;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}
.post-processor-col-div .collection .collection-item .easychat_processor_content .note-item > b:first-child,
.post-processor-col-div .collection .collection-item .easychat_processor_content .note-item ul li b
{
  color: #0254D7;
  text-transform: uppercase;
}
.post-processor-col-div .collection .collection-item .easychat_processor_content p{
  margin-top: 0;
}
.post-processor-col-div .collection .collection-item .easychat_processor_content a.btn{
  background: #0254D7 !important;
  border-radius: 4px !important;
  padding: 0 5px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF !important;
  width: 100%;
  justify-content: center;
}
#save_common_utils_btn.disabled{
  cursor: not-allowed;
  opacity: 0.5;
}

.processor-background-color{
  background: #FAFAFA;
}
.processor-file-name-div .file-name-span {
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
  margin-right: 12px;
}
.processor-file-name-div input.processor-name-input {
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 6px;
  padding: 0px 16px;
  height: 41px;
  width: 378px;
   /* font-family: 'Silka'; */
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   color: #4D4D4D;
}
.processor-file-name-div input.processor-name-input:focus,
.processor-input-run-button-div input.input:focus{
  border: 1px solid #DADADA !important;
}
.processor-file-name-div input.processor-name-input::-webkit-input-placeholder {
    color: #CBCACA;
}
.processor-save-api-mailer-div{
  text-align: right;
  padding-right: 0 !important;
  display: flex;
  justify-content: flex-end;
}
.processor-save-api-mailer-div .mailer-btn{
  margin-left: 0px !important;
  border: 1px solid #FF281A;
  border-radius: 4px !important;
  background: #FFF9F9 !important;
  padding: 0px 20px 0px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.processor-save-api-mailer-div .mailer-btn.mailer-btn-success{
  background: #ECFDF5 !important;
  border: 1px solid #10B981;
}
.processor-save-api-mailer-div .mailer-btn p{
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4D4D4D;
  position: revert !important;
  margin: 0;
}
.processor-save-api-mailer-div .mailer-btn span{
  display: flex;
  align-items: center;
  margin: 0;
}
.processor-save-api-mailer-div .mailer-btn svg{
  position: revert;
  margin-right: 8px;
  margin-bottom: 2px;
}
.processor-save-api-mailer-div .mailer-btn span.api-mailer-success-icon{
  display: none;
}
.processor-save-api-mailer-div .save-processor-btn{
  background: #0254D7 !important;
  border-radius: 4px !important;
  padding: 0px 20px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px;
  color: #FFFFFF !important;
  height: 40px;
  display: inline-flex;
  align-items: center;
}
.processor-save-api-mailer-div .delete-processor-btn{
  background: #E10E00 !important;
  border-radius: 4px !important;
  padding: 0px 20px;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px;
  color: #FFFFFF !important;
  height: 40px;
  display: inline-flex;
  align-items: center;
}
.processor-save-api-mailer-div a:not(:first-child){
  margin-left: 12px;
}



.easychat-new-modal-list-content{
  padding: 16px 56px 16px 35px;
}
.easychat-new-modal-list-content ol{
  margin: 0;
}
.easychat-new-modal-div .easychat-extent-trigger-function-editor-container{
  height: 340px;
  padding: 16px 40px 30px 40px !important;
  margin-bottom: 0;
}
.modal.easychat-new-modal-div{
  transform: translateY(-50%) scaleX(1) scaleY(1) !important;
  top: 50% !important;
}
.easychat-new-modal-div .easychat-extent-trigger-function-editor-container .extent-trigger-editor-div{
  height: 100%;
  border-radius: 8px;
  overflow: auto !important;
}
.easychat-new-modal-div  .modal-overflow-content-div .extent-trigger-copy-function-btn{
  position: absolute;
  z-index: 9;
  bottom: 18px;
  right: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px 0px 0px 0px !important;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF !important;
  padding: 0 10px !important;
  height: 33px;
}
.easychat-new-modal-div{
  padding: 0px !important;
  background: #FFFFFF;
  border-radius: 10px;
  max-height: 100%;
}
.easychat-new-modal-div .modal-content{
  padding: 0;
}
.easychat-new-modal-div .modal-content .modal-content-header{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background: #FFFFFF;
  padding: 24px 40px;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 1px;
 
}
.easychat-new-modal-div .modal-content .modal-content-header h5{
  text-align: left !important;
  margin: 0;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-content .modal-content-header svg{
 cursor: pointer;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div{
  padding: 0 40px;
  padding-top: 24px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody{
  background: transparent !important;
  box-shadow: none!important;
  border-radius: 0px !important;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td{
  max-width: 100%;
  width: 100%;
  border-bottom: 0px;
  padding: 0px !important;
  display: table;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td p{
  display: flex;
  flex-direction: column;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  margin: 0 0 16px 0;
  letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td p span{
  /* font-family: 'Silka';  */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #7B7A7B;
  margin-top: 4px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td input{
  text-align: left !important;
  background: #FFFFFF;
  border: 1px solid #DADADA !important;
  border-radius: 4px !important;
  width: 100% !important;
  /* margin-top: 16px; */
  margin-bottom: 24px;
  height: 40px !important;
  padding: 0px 16px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  box-sizing: inherit;
  box-shadow: none !important;
  margin-top: 0;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td select,
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .select2 .select2-selection{
  text-align: left !important;
  background: #FFFFFF;
  border: 1px solid #DADADA !important;
  border-radius: 4px !important;
  width: 100% !important;
  /* margin-top: 16px; */
  margin-bottom: 24px;
  height: 40px !important;
  padding: 0px 16px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  box-sizing: inherit;
  box-shadow: none !important;
  margin-top: 0;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .select2{
  width: 100% !important;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .added-email-address-div .email-address-tag-div{
     background: #EFF6FF;
     border-radius: 4px;
     padding: 0 12px;
     height: 41px;
     display: inline-flex;
     align-items: center;
     margin-bottom: 16px;
     /* font-family: 'Silka'; */
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     color: #0254D7;
     margin-right: 10px;
     letter-spacing: 0.25px;
     word-break: break-word;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .added-email-address-div .email-address-tag-div svg{
  margin-left: 19px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin-top: 4px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .added-email-address-div{
  max-height: 125px;
  overflow-y: auto;
}

.easychat-new-modal-div .modal-footer{
  padding: 0px 32px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.easychat-new-modal-div .modal-footer button.easychat-new-modal-submit-btn-div{
  background: #0254D7 !important;
  border-radius: 4px !important;
  height: 40px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF !important;
  padding: 0 24px;
  box-shadow: none !important;
  transform: none;
}
.easychat-new-modal-div .modal-footer button.easychat-new-modal-submit-btn-div a{
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500 ;
  font-size: 14px ;
  line-height: 17px;
  color: #FFFFFF ;
}
.easychat-new-modal-div .modal-content .modal-content-header .modal-content-header-with-subheading span{
  /* font-family: 'Silka';  */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7B7A7B;
  letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item{
  background: #F8F8F8 !important;
  border: 1px solid #EBEBEB;
  box-shadow: inset 0px -1px 0px rgb(102 102 102 / 8%) !important;
  border-radius: 4px;
  height: 40px;
  margin: 0 0;
  padding: 0px 0px 0px 16px !important;
  width: 100%;
  margin-bottom: 8px;
}

.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div{
  display: flex;
  align-items: center;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div input{
  border: 0px !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 0 !important;
  background: transparent;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 14px;
  color: #2D2D2D;
  height: 100% !important;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div .secondary-content{
  height: 37px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div .secondary-content a.delete-button-api-url{
  padding: 0 18px;
}
.easychat-new-modal-div .modal-content .easychat-add-new-api-div{
  margin-bottom: 32px;
  max-height: 346px;
  overflow-y: auto;
  padding-top: 24px;
}

/* css for dynamic variable modal */
.easychat-processor-dynamic-variable-wrapper{
  margin-bottom: 24px;

}
.easychat-processor-dynamic-variable-wrapper:nth-child(odd){
  padding-left: 0px !important;

}
.easychat-processor-dynamic-variable-wrapper:nth-child(even){
  padding-right: 4px !important;

}
.easychat-processor-dynamic-variable-header{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  margin-bottom: 8px;
}
.easychat-processor-dynamic-variable-wrapper .easychat_dynamic_variable_modal{
  padding: 0px 16px;
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  margin: 0px;
  box-shadow: none;
  box-sizing: border-box;
}
.easychat-processor-dynamic-variable-wrapper .easychat_dynamic_variable_modal::placeholder{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #CBCACA;
}
#easychat-dynamic-variables .easychat-processor-dynamic-variable-wrapper .easychat_dynamic_variable_modal:focus{
  box-shadow: none !important;
  padding: 0px 16px;
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB !important;
  border-radius: 4px;
  margin: 0px;

}
#easychat-dynamic-variables .easychat-modal-table-div{
  max-height: calc(100vh - 16rem);
  overflow-y: auto;
}
.collapsable-dynamic-variable-subheading{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  margin-bottom: 8px;
}
.collapsable-dynamic-variable-wrapper input.easychat_dynamic_variable{
  padding: 0px 16px;
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  margin: 0px;
  box-shadow: none;
  box-sizing: border-box;
}
.collapsable-dynamic-variable-wrapper input.easychat_dynamic_variable::placeholder{
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #CBCACA;
}
.collapsable-dynamic-variable-wrapper input.easychat_dynamic_variable:focus{
  box-shadow: none !important;
  padding: 0px 16px !important;
  width: 100% !important;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB !important;
  border-radius: 4px !important;
  margin: 0px !important;
}
.collapsable-dynamic-variable-wrapper{
  margin-bottom: 12px;
}
.ace_gutter-cell,.ace_content{
  padding-top: 5px;
}