
.container .select-box {
  display: flex;
  width: 310px;
  flex-direction: column;
}

.container .select-box .options-container {
  color: #2D2D2D;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  background: #fff;
  border: 1px solid #E1E1E1;
  border-radius: 0 0 10px 18px;
  border-top: 0;
  overflow: hidden;
  order: 1;
}

.container .selected {
  background: #fff;
  border-radius: 25px 0 0 25px;
  border-right: 0;
  color: #909090;
  position: relative;
  max-height: 140px;
  overflow-y: scroll;
  font-family: Silka;
  font-size: 14px;
  margin-right: 16px;
  padding: 5px !important;
  order: 0;
}
.container .selected::-webkit-scrollbar{
  width: 5px;
  background: #fff;
  border:1px solid #f6f6f6;
  border-radius: 0 25px 25px 0;
  border-left: 0;
}
.container .selected::-webkit-scrollbar-thumb{
  background: #88A3D2;
  border-radius: 0 25px 25px 0;
}



.container .select-box .options-container.active {
  max-height: 215px;
  opacity: 1;
  overflow-y: scroll;
}
.container .select-box .options-container::-webkit-scrollbar {
  width: 5px;
  background: #F3F6FF;
  border:1px solid #E1E1E1;
  border-left: 0px;
  border-radius: 0 0 18px 0;
}

.container .select-box .options-container::-webkit-scrollbar-thumb {
  background: #88A3D2;
  border-radius: 18px;
}
.container .select-box .option,
.selected {
  padding: 12px 24px;
  border-bottom: 1px solid #F3F6FF;
}

.container .select-box .option:hover {
  background: #F3F6FF;
}

.container .select-box label {
  cursor: pointer;
}
.container .option label{
  font-family: Silka;
  font-size: 16px;
  color: #2D2D2D;
}
.container .select-box .option .radio {
  display: none;
}
.container .option{
  position: relative;
}
.container .item-checkbox{
  opacity: 1 !important;
  position: absolute;
  right: 35px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-100%);
}
.container .tag{
  display: inline-flex;
  color: #2755CB;
  border: 1px solid #2755CB;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 3px;
  margin-bottom: 5px;
  font-size: 10px;
}
.container .wrapper-box{
  position: relative;
  padding: 5px;
  padding-right: 8px;
  border: 1px solid #e1e1e1;
  border-radius: 25px;
  margin-bottom: 8px;
  cursor: pointer;
}
.container .box{
  position: relative;
}
.container .arrow{
  color: #2D2D2D;
  position: absolute;
  right: 3px;
  top: 50%;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 20px;
  transform: translateY(-50%) rotate(0deg);
}
.container .search-box{
  padding: 10px 10px 0 10px;
  padding-bottom: 0;
  border: 1px solid #e1e1e1;
  border-bottom: 0;
  height: 52px;
  width: 310px;
  opacity: 0;
  border-radius: 18px 18px 0 0;
  pointer-events: none;
  transition: all 0.4s;
}
.container .search-box input{
position: absolute;
width: 250px;
height: 40px;
padding: 12px 16px;
font-family: "Roboto", sans-serif;
font-size: 16px;
border-radius: 16px;
z-index: 100;
border: 1px solid #e1e1e1;
margin-left: 4px;
opacity: 0;
pointer-events: none;
transition: all 0.4s;
background: #f6f6f6;
}

.container .search-box input:focus{
  outline: none;
}
.container .search-box input::-webkit-input-placeholder{
  color: #909090;
  font-family: Silka;
  font-size: 14px;
  background-repeat: no-repeat;
  background: url('data:image/svg+xml;utf8,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6875 12.0689L9.38346 8.76486C10.1774 7.81169 10.5734 6.5891 10.4889 5.35145C10.4044 4.11379 9.84601 2.95635 8.92988 2.1199C8.01375 1.28346 6.81041 0.83241 5.57019 0.86059C4.32997 0.88877 3.14836 1.39401 2.27117 2.2712C1.39398 3.14839 0.888739 4.33 0.860559 5.57022C0.832379 6.81044 1.28343 8.01378 2.11987 8.92991C2.95632 9.84604 4.11376 10.4044 5.35142 10.4889C6.58907 10.5734 7.81166 10.1775 8.76483 9.38349L12.0688 12.6875L12.6875 12.0689ZM1.74996 5.68749C1.74996 4.90872 1.98089 4.14745 2.41355 3.49993C2.84621 2.85241 3.46116 2.34773 4.18064 2.04971C4.90013 1.75169 5.69183 1.67372 6.45563 1.82565C7.21943 1.97758 7.92102 2.35259 8.47169 2.90326C9.02236 3.45393 9.39737 4.15552 9.5493 4.91932C9.70123 5.68312 9.62325 6.47482 9.32523 7.1943C9.02721 7.91379 8.52253 8.52874 7.87502 8.9614C7.2275 9.39406 6.46622 9.62499 5.68746 9.62499C4.64352 9.62383 3.64268 9.20862 2.9045 8.47044C2.16633 7.73227 1.75112 6.73142 1.74996 5.68749Z" fill="%23909090"/></svg>')center / contain no-repeat;
  background-position: left;

}
.container .select-box .options-container.active ~ .search-box input{
  opacity: 1;
  pointer-events: auto;
}
.container .select-box .options-container.active ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.container hr{
  height: 1px;
  background-color: #F3F6FF;
  border: none;
}
#languages-extend-button{
  background: #2755CB;
  border: 1px solid #2755CB;
  border-radius: 27px;
  padding: 3px 8px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  z-index: 1000;
  margin: 5px 2px;
}
.container .no-elem{
  display: none;
  text-align: center;
  padding: 10px;
}
.container .selected-language-cross-btn{
  z-index: 1000;
  padding-left: 5px;
  cursor: pointer;
  width: 12px;
  height: 15px;
}
.container #search-box-input:focus{
  border: 1px solid #e1e1e1 !important;
}
#circle{
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 100%;
  position: absolute;
  top: 6px;
  left: -12px;
  margin-right: 15px;
}
.collapsible-body .choose-language{
  display: flex;
  position: relative;
  margin-top: 0rem;
}
.collapsible-body .dashed-line{
    border:none;
    border-top:1.35789px dashed rgba(154, 170, 235, 0.35);
    color:#fff;
    background-color:#fff;
    height:1px;
}
#add-language-colapsible-body{
  padding: 0rem 1rem;
}
.language-chip-display-name{
  min-width: 25px;
}
#selected-language-chips-wrapper{
  padding: 3px;
}
.container .selected{
  padding: 2px 5px !important;
}
.container .tag{
  padding: 3px 7px;
  font-size: 14px;
  align-items: center;
}

#language-change-loader-gif{
  width: 220px;
  height: 160px !important;
}
#modal-language-change-loader .modal-content{
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex-direction: column;
}
#modal-language-change-loader {
  top: 50% !important;
  transform: scaleX(1) scaleY(1) translateY(-50%) !important;
  width: 200px;
}

.language-autofix-popup-warning-div {
  padding: 12px 20px;
  background: #FFFFFF;
  border: 1px solid #F3F6FF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 16.875px 11.25px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
}

.language-autofix-popup-warning-div p {
  margin-top: 0px;
  font-weight: 500;
  font-size: 16px;
  color: #4D4D4D;
}

.language-autofix-popup-warning-div-buttons {
  display: flex;
  justify-content: flex-end;
}

.language-autofix-popup-warning-div-buttons a {
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
}

.language-autofix-popup-warning-div-buttons .popup-warning-ignore-btn {
  color: #333333;
}

.language-autofix-popup-warning-div-buttons .popup-warning-autofix-btn {
  color: #2755CB;
}

.language-autofix-popup-warning-container {
  margin-bottom: 10px;
}