    #allincall-popup {
      bottom: 3em !important;
    }
    #allincall-chat-box{
      bottom: 4.5em !important;

    }
    #allincall-min-popup {
      bottom: 2em !important;
      right: 133px ;
    }
    #allincall-minimize-popup{
      bottom: 9.5em !important;
      right: 9em !important;
      height: 22px !important;
      width: 22px !important;
    }
    #allincall-minimize-popup-tooltip{
      bottom: 9.5em !important;
      right: 10em !important;
    }
    #allincall-maximize-popup{
      bottom: 60px !important;
      right: 65px !important;
      height: 14px !important;
      width: 14px !important;
    }
    #allincall-maximize-popup-tooltip{
      bottom: 5em !important;
      right: 5.3em !important;
    }
    #easychat-bot-minimize-button{
        z-index:100000000121;
    }
    .channel-integration-doc-div{
      position: relative;
      padding: 1.125em 1em !important;
  }
    .channel-integration-doc-div .integration-document-btn{
      position: absolute;
      margin: 0;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      border: 1px solid transparent;
      border-radius: 4px !important;
      padding: 0px 16px 0px 12px;
      background: transparent !important;
      /* font-family: 'Silka'; */
      font-style: normal;
      font-weight: 500 !important;
      font-size: 14px !important;
      line-height: 17px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #0254D7 !important;
      box-shadow: none !important;
  }
  .channel-integration-doc-div .integration-document-btn svg{
      margin-right: 8px;
      margin-bottom: 1px;
  }