/*.file-field input.file-path{
cursor: pointer !important;
}*/

.select2-dropdown{
    top: 8px !important;
    border-radius: 0px !important;
}
.select2-dropdown .select2-search__field{
    display: none;
}

.select2-results__option.select2-results__option--disabled{
    display: none !important;
}