/***************** Start Custom Select ***********************/

.easyassist-custom-dropdown-container {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "Silka", Sans-Serif !important;
    border-radius: 30px!important;
}

.easyassist-custom-dropdown-option-container {
    display: none;
    position: absolute;
    width: 100%;
    top: 43px;
    background: #FFFFFF;
    border-radius: 8px;
    order: 1!important;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    box-sizing: border-box!important;
    max-height: 144px!important;
    overflow-y: auto;
    z-index: 9999999 !important;
    scrollbar-width: thin;
}

.easyassist-custom-dropdown-option-container::-webkit-scrollbar {
  width: 5px!important;
}

.easyassist-custom-dropdown-option-container::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: 0 0 0px #777 !important;
  border-radius: 10px;
}

.easyassist-custom-dropdown-option-container::-webkit-scrollbar-thumb {
  background: #babdc0;
  border-radius: 8px;
}

.easyassist-custom-dropdown-option-container::-webkit-scrollbar-thumb:hover {
  background: #babdc0;
}

.easyassist-custom-dropdown-container select {
    display: none!important;
}

ul.easyassist-custom-dropdown-option-container {
    list-style: none!important;
    margin: 0!important;
    padding: 0!important;
}

.easyassist-custom-dropdown-option-container li {
    font-family: "Silka", Sans-Serif !important;
    padding: 8px 20px!important;
    /*border-bottom: 1px solid #E6E6E6;*/
    font-style: normal!important;
    font-weight: 500!important;
    font-size: 13px!important;
    box-sizing: border-box!important;
    list-style: none!important;
    margin: 0!important;
    color: #2D2D2D;
}

.easyassist-custom-dropdown-option-container li.easyassist-option-selected {
    background: #0254D7;
    color: #FFFFFF;
}

.easyassist-custom-dropdown-option-container li.disabled {
    background: #909090;
    color: #FFFFFF;
    pointer-events: none;
}

.easyassist-custom-dropdown-option-container li:hover {
    cursor: pointer;
    background: #0254D7;
    color: #FFFFFF;
}

.easyassist-custom-dropdown-container .easyassist-dropdown-selected {
    font-family: "Silka", Sans-Serif;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    padding: 9px 20px!important;
    font-size: 14px;
    font-weight: 500;

    order: 0!important;
    box-sizing: border-box!important;
    cursor: pointer;
    color: #2D2D2D;
    text-align: left!important;
}

.easyassist-custom-dropdown-container .easyassist-dropdown-selected span {
    width: calc(100% - 27px);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.easyassist-custom-dropdown-container .easyassist-dropdown-selected:after {
    content: "";
    background-image: url("data:image/svg+xml;utf8,<svg fill='rgba(117,117,117,1)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 27px;
    right: 10px;
    top: 7px;
}

.easyassist-custom-dropdown-option-container.easyassist-dropdown-show {
    display: block;
}

/***************** End Custom Select ***********************/


/***************** Start Custom Multiple Select ************/


.easyassist-custom-select-multiple button.dropdown-toggle {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D4D0D0;
    box-sizing: border-box;
    border-radius: 10px!important;
    padding: 9px 17px 9px 12px!important;
    text-align: left;
    font-family: "Silka", Sans-Serif !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;
    color: #4D4D4D;
    box-shadow: none!important;
    transition: none!important;
    display: flex;
    margin: 0!important;
}

.easyassist-custom-select-multiple button.dropdown-toggle span {
    width: 95%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.easyassist-custom-select-multiple button.dropdown-toggle:hover {
    transition: none!important;
}

.easyassist-custom-select-multiple button.dropdown-toggle::after {
    margin: 8px 0 !important;
    float: right;
}

.easyassist-custom-select-multiple .dropdown-item {
    display: flex;
    align-items: center;
    padding: 8px 14px 8px 12px!important;
    background: #FFFFFF !important;
    font-family: "Silka", Sans-Serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #4D4D4D;
}

.easyassist-custom-select-multiple .dropdown-item:first-child {
    cursor: auto;
    font-weight: 500;
}

.easyassist-custom-select-multiple .dropdown-menu {
    width: 100% !important;
    padding: 0 !important;
    overflow: auto;
    max-height: 30vh;
    border: 1px solid #D4D0D0;
    box-sizing: border-box;
    /* border-radius: 10px; */
    scrollbar-width: thin;
}

.easyassist-custom-select-multiple .dropdown-item-text {
    display: inline-block;
    padding: 0 !important;
    width: 80%;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0 !important;
    cursor: pointer;
    font-family: Silka;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #4D4D4D;
}

.easyassist-custom-select-multiple .dropdown-item-checkbox {
    display: inline-flex;
    width: 20%;
    justify-content: flex-end;
}

.easyassist-custom-select-multiple .dropdown-item-checkbox input {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    vertical-align: middle;
}

#selected-filter-container ::-webkit-scrollbar {
    width: 5px!important;
  }
  
  #selected-filter-container ::-webkit-scrollbar-track {
    /* background-color: transparent; */
    box-shadow: 0 0 0px #777 !important;
    border-radius: 5px;
  }
  
  #selected-filter-container ::-webkit-scrollbar-thumb {
    background: #babdc0;
    border-radius: 5px;
  }
  
  #selected-filter-container ::-webkit-scrollbar-thumb:hover {
    background: #babdc0;
  }
/*************** End Custom Multiple Select *****************/

.multiselect-container>li>a.multiselect-all label {
    font-weight: 500 !important;
}

#selected-filter-container {
    display: block !important;
}

#selected-filter-container .btn-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    border-radius: 10px!important;
    background-color: #fff !important;
    box-shadow: none !important;
    color: #000 !important;
    height: 40px !important;
    margin: 0px !important;
}

#selected-filter-container .btn-default:hover {
    transform: none !important;
}

#selected-filter-container .multiselect-search {
    border-radius: 5px !important;
    background: #F6F8FF;
    height: 32px !important;
    padding: 8px !important;
}

#selected-filter-container .input-group-addon {
    display: none;
}

#selected-filter-container .input-group-btn {
    display: none;
}

#selected-filter-container .btn-group {
    width: 100% !important;
}

#selected-filter-container .multiselect-container {
    width: 100% !important;
    padding: 0px 5px 5px 5px;
    max-height: 205px;
    overflow-y: auto;
    border-radius: 5px!important;
    will-change: unset !important;
}

#selected-filter-container .multiselect-item.filter {
    position: sticky;
    top: 0px;
    z-index: 100;
    background: #fff;
    padding-top: 5px;
}

#selected-filter-container .multiselect-container .input-group {
    width: 100% !important;
    margin: 0px 0px 5px 0px;
}

#selected-filter-container .multiselect-container>li>a>label>input[type=checkbox] {
    width: 16px !important;
    height: 16px !important;
    right: 8px;
    margin: 2px 0 0;
    position: absolute;
}

#selected-filter-container .dropdown-menu>.active>a,
#selected-filter-container .dropdown-menu>.active>a:focus,
#selected-filter-container .dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: #000;
}

#selected-filter-container .dropdown-menu>li>a:focus,
#selected-filter-container .dropdown-menu>li>a:hover {
    background: #F6F8FF;
}

#selected-filter-container .multiselect-container>li>a>label {
    padding: 3px 38px 3px 6px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#selected-filter-container .form-control:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

#selected-filter-container .multiselect-container>li>a {
    outline: none;
    padding: 16px 0px 0px 0px !important;
    color: #000 !important;
}

#selected-filter-container .multiselect-selected-text {
    width: 90%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

#selected-filter-container ::-webkit-scrollbar {
    width: 5px;
}

#selected-filter-container ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

#selected-filter-container ::-webkit-scrollbar-track {
    background: #fff;
}

.campaign-active-dropdown::after {
    transform: rotate(180deg) !important;
    top: -6px !important
}
