/* .easychat-widget-api-integration-text-wrapper {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    color: #4D4D4D;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;
}

.easychat-widget-api-integration-text-wrapper a {
    padding: 4px 16px;
    width: 74px;
    height: 23px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    background: #10B981;
    border-radius: 2px;
    cursor: default;
} */

#modal-create-form {
    width: 95% !important;
    top: 2% !important;
    min-height: 93% !important;
}

#allincall-popup-wrapper {
    z-index: 1000 !important;
}

#modal-create-form .modal-footer {
    box-shadow: none !important;
    background: #F8F8F8;
}

#modal-create-form .modal-content {
    background: #fff;
}

#modal-create-form .modal-content.modal-content-scroll {
    padding: 0px !important;
    width: 100%;
    margin: 0px !important;
}

#intent-create-form-fields {
    padding: 3px 3px;
    border-radius: 8px 8px 0px 0px;
}

.easychat-form-widget-content-wrapper {
    padding: 40px 45px 0px !important;
}

.easychat-form-widget-content-preview-wrapper {
    padding: 70px 65px 0px 45px !important;
    border-left: 8px solid #f8f8f8;
    height: 100%;
    display: flex;
    justify-content: center;
}

.easychat-widget-creat-form-heading {
    display: flex;
    align-items: center;
    padding: 0px 30px;
    width: 100%;
    height: 70px;
    background: #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #3B3B3B;
    border-bottom: 1px solid #E6E6E6;
}

.form-name-div .input-field-custom {
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 24px !important;
}

#modal-create-form .form-name-div .input-field-custom input {
    width: 55% !important;
    background: #fff;
    border: 1px solid #EBEBEB !important;
    border-radius: 4px !important;
}

.form-widget-individual-reset-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #0254D7;
    padding: 0px 18px;
    height: 33px;
    border: 1px solid #0254D7;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Silka", sans-serif !important;
    cursor: pointer;
}

.form-widget-individual-api-integration-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    font-family: "Silka", sans-serif !important;
}

.form-widget-individual-integrate-api-btn {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #2741FA;
    font-family: "Silka", sans-serif !important;
}

.easychat-form-widget-individual-form-save-btn {
    margin-right: 10px;
    cursor: pointer;
}

.create-form-field-data-div-wrapper-edit-icon {
    cursor: pointer;
}

#add-section-btn-div a {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    height: 40px;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 19px;
    color: #FFFFFF !important;
    background: #0254D7 !important;
    border-radius: 4px !important;
    width: max-content;
}

#add-section-btn-div {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.form-widget-sync-preview-btn {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #0254D7;
    padding: 0px 18px;
    height: 36px;
    border: 1px solid #0254D7;
    box-sizing: border-box;
    border-radius: 4px;
    width: max-content;
    cursor: pointer;
}

.form-widget-resetall-btn {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #0254D7;
    padding: 0px 24px;
    height: 36px;
    border: 1px solid #0254D7;
    box-sizing: border-box;
    border-radius: 4px;
    width: max-content;
    cursor: pointer;
}

.widget-modal-save-btn {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    align-items: center;
    padding: 0px 20px;
    height: 36px;
    background: #0254D7;
    border-radius: 4px;
    cursor: pointer;
}

.form-widget-save-resetall-btn-div {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

#modal-create-form .modal-close-btn {
    position: absolute;
    right: 24px;
    top: 18px;
    z-index: 101;
}

.create-form-field-data-saved-div {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 24px 30px;
    color: #333333;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.create-form-field-data-div-wrapper {
    width: 100%;
    margin-left: 20px;
}

.create-form-field-data-saved-div-label-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #333333;
    margin-bottom: 2px;
}

.create-form-field-data-saved-div-input-type {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    margin-bottom: 2px;
}

.create-form-field-data-saved-div-validator {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
    margin-bottom: 2px;
}

.create-form-field-data-saved-div-api-status {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
}

.widgetCard_api_integrated {
    position: absolute;
    height: 22px;
    left: 18px;
    bottom: 24px;
}


/* preview css */

.form-widget-preview-container {
    width: 420px;
}

.form-widget-preview-wrapper {
    background: #FFFFFF;
    border: 1.21088px solid #D7E0EF;
    box-sizing: border-box;
    border-radius: 7.26531px;
    overflow: hidden;
    height: calc(100vh - 16rem);
}

.form-widget-preview-header {
    font-weight: normal;
    font-size: 16.9524px;
    color: #000000;
    height: 42px;
    background: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-widget-preview-content-area {
    height: calc(100% - 100px);
    overflow-y: auto;
}

.form-widget-preview-bot-footer {
    display: flex;
    justify-content: center
}


/* Form widget */

.easychat-bot-form-preview-container {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    margin: 10px 20px;
    padding: 0px 16px 10px 16px;
    background-color: #FFFFFF;
    overflow: hidden;
}

.easychat-bot-form-preview-container .preview-form-name-div {
    text-align: left;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 500;
    font-size: 15px;
    margin: 0px -16px;
    width: 115%;
    height: 42px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.form-preview-input-type-wrapper {
    margin-bottom: 18px;
}

.form-preview-input-type-checkbox-item {
    background: #F7F7F7;
    border-radius: 5px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    margin-bottom: 8px;
}

.form-preview-input-type-checkbox-item .widget-indigator-icon {
    margin: 0px 0px 0px 4px;
    width: 25px;
    height: 20px;
}

.form-preview-checkbox-item-value {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    word-break: break-word;
    line-height: 17px;
    margin-left: 4px;
}

.form-preview-input-type-radio-item {
    background: #F7F7F7;
    border-radius: 5px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    margin-bottom: 8px;
}

.form-preview-input-type-radio-item .widget-indigator-icon {
    margin: 0px 0px 0px 4px;
    width: 25px;
    height: 20px;
}

.form-preview-radio-item-value {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    word-break: break-word;
    line-height: 17px;
    margin-left: 4px;
}

.form-preview-input-type-wrapper label {
    color: #4d4d4d;
    font-size: 15px;
    font-weight: 700 !important;
    margin-bottom: 10px;
}

.form-preview-input-type-wrapper>div {
    margin-top: 10px;
}

#modal-create-form .form-preview-input-type-dropdown-content .select2-container .selection .select2-selection--single {
    box-shadow: none !important;
    border: 1px solid #e8e8e8 !important;
    border-radius: 4px !important;
    pointer-events: none !important;
}

#modal-create-form .form-preview-input-type-dropdown-content .select2-container {
    pointer-events: none !important;
}

#modal-create-form .form-preview-input-type-wrapper input {
    border: 0px !important;
    border-bottom: 1px solid #D9D9D9 !important;
    border-radius: 0px !important;
    font-size: 13px !important;
    width: 100% !important;
    margin-top: 0em !important;
    background: #FFFFFF;
    box-sizing: border-box !important;
    outline: none;
}

.form-preview-range-slider {
    padding: 16px;
    width: 100%;
    height: 165px;
    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    box-shadow: 6px 12px 40px rgb(47 47 47 / 8%);
    border-radius: 8px;
    position: relative;
    margin: 1rem 0px;
}

.form-preview-range-slider .easychat-bot-range-slider-div-heading {
    font-weight: 600;
    font-size: 12px;
    color: #000000;
}

.form-preview-range-slider .easychat-bot-range-slider-area {
    width: 100%;
    margin-top: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.form-preview-range-slider .easychat-bot-range-slider-area .easychat-bot-slider-output-input {
    text-align: right;
    width: 100%;
    font-weight: normal;
    font-size: 12px;
    color: #2D2D2D;
    display: flex;
    padding-top: 4px;
    justify-content: space-between;
}

.easychat-bot-slider-output-input-single {
    text-align: right;
    width: 100%;
    font-weight: normal;
    font-size: 12px;
    color: #2D2D2D;
    padding-top: 4px;
}

.form-preview-input-type-file-attach-content {
    display: flex;
    justify-content: center;
}

.form-preview-range-slider .easychat-bot-range-min-max-value-wrapper {
    width: 100%;
    display: flex;
    margin-top: 12px;
}

.form-preview-range-slider .easychat-bot-range-min-value-div,
.form-preview-range-slider .easychat-bot-range-max-value-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-preview-range-slider .easychat-bot-range-min-inner-value,
.form-preview-range-slider .easychat-bot-range-max-inner-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    min-width: 100px;
    height: 34px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    color: #2755CB;
}

.form-preview-range-slider .easychat-bot-range-min-value-div p,
.form-preview-range-slider .easychat-bot-range-max-value-div p {
    font-weight: 500;
    font-size: 10px;
    color: #2D2D2D;
    margin-top: 4px;
}

.form-preview-range-slider .easychat-bot-range-min-max-value-wrapper svg {
    margin: 26px 10px 0px;
}

.form-preview-submit-btn-wrapper .form-preview-cancel-btn {
    font-size: 14px;
    font-weight: 500;
    color: #0254D7;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-preview-submit-btn-wrapper .form-preview-submit-btn {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background-color: #0254D7;
    width: 75px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.form-preview-submit-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 18px;
}

.form-preview-input-type-date-picker-content,
.form-preview-input-type-time-picker-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* modal css */

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal {
    width: 380px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    border-radius: 16px !important;
    background-color: #ffffff;
}

.modal.easychat-custom-modals-wrapper .termination-confirmation-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
}

.modal.easychat-custom-modals-wrapper .termination-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-text {
    font-size: 16px;
    line-height: 24px;
    font-family: "Silka", sans-serif;
    text-align: center;
    padding: 10px 20px 20px;
    width: 100%;
    color: #7B7A7B;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-heading-text {
    text-align: center;
    margin-top: 24px;
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-subheading-text {
    text-align: center;
    margin-top: 24px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2D2D2D;
}

.modal.easychat-custom-modals-wrapper .termination-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal.easychat-custom-modals-wrapper .termination-buttons button {
    width: 132.5px;
    height: 36px;
    border-radius: 4px;
    padding: 7px 16px;
    font-size: 16px;
    line-height: 140%;
}

.modal.easychat-custom-modals-wrapper .termination-no-btn {
    background: #FFFFFF;
    border: 1px solid #CBCACA;
    color: #4D4D4D;
    margin-right: 12px !important;
}

.modal.easychat-custom-modals-wrapper .termination-yes-btn {
    background: #0254D7;
    border: 1px solid #0254D7;
    color: #FFFFFF;
    margin-left: 12px !important;
}

.modal.easychat-custom-modals-wrapper .termination-yes-btn:focus {
    background: #0254D7 !important;
}

.dependent-field-toggle-btn {
    width: 280px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #3C4852;
}

.form-widget-dependent-value-wrapper {
    display: flex;
    align-items: center;
    padding-right: 10px;
    height: 60px;
}

.form-widget-label-name-error-message {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FF0000;
}

.create-form-field-data-saved-div-dependent-value {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
    display: flex;
    align-items: center;
    column-gap: 8px;
}


/* dropdown css */

#modal-create-form .select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder {
    color: #7B7A7B;
    font-family: "Silka", sans-serif;
    font-size: 14px;
    background-repeat: no-repeat !important;
    background: url('../img/search-icon.svg');
    background-position: left;
    text-indent: 25px;
}

#modal-create-form .select2-dropdown {
    top: 1px !important;
    padding: 0 !important;
    border-radius: 8px !important;
    margin-top: 5px;
}

#modal-create-form .select2-dropdown .select2-search {
    padding: 8px;
}

#modal-create-form .select2-dropdown .select2-search .select2-search__field {
    background-color: #FAFAFA;
    border-radius: 4px !important;
    border: 1px solid #F8F8F8 !important;
    margin: 0;
    margin-top: 0 !important;
    width: 100% !important;
}

#modal-create-form .select2-dropdown .select2-search .select2-search__field:focus {
    box-shadow: none !important;
}

#modal-create-form .select2-dropdown .select2-results__options {
    border-radius: 8px;
}

#modal-create-form .select2-dropdown .select2-results__options::-webkit-scrollbar {
    width: 5px;
}

#modal-create-form .select2-dropdown .select2-results__options::-webkit-scrollbar-thumb {
    background: #88A3D2;
    border-radius: 8px;
}

#modal-create-form .select2-dropdown .select2-results__options::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: 0 0 0px #777 !important;
    border-radius: 10px;
}

#modal-create-form .select2-dropdown .select2-results__option {
    font-family: "Silka", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-style: normal;
    color: #2D2D2D !important;
    margin: 0 !important;
    border-radius: unset !important;
    padding: 12px 16px !important;
    border: 1px solid #F6F6F6 !important;
}

#modal-create-form .select2-dropdown .select2-results__option--highlighted {
    background-color: #F6F6F6 !important;
}

#modal-create-form .select2-dropdown .select2-results__option--selected {
    background-color: #F6F6F6 !important;
    color: #2D2D2D !important;
}

#modal-create-form .select2-container--default .select2-results__option[aria-selected="true"] {
    background: #F6F6F6 !important;
    color: #2D2D2D !important;
}

#modal-create-form .select2-container--default .select2-results>.select2-results__options {
    max-height: 130px !important;
}

#modal-create-form .select2-container--default .select2-results__option--disabled {
    display: none;
}

#modal-create-form .select2-selection__rendered {
    line-height: 1.5;
    width: 90%;
    font-weight: 500;
    font-size: 15px;
}

#modal-create-form .select2-selection {
    height: 41px !important;
    border-radius: 4px !important;
    border: none !important;
    width: 100% !important;
    font-family: "Silka", Sans-Serif;
    padding: 9px 10px!important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    background: #FAFAFA;
    text-align: left!important;
    color: #2D2D2D;
    box-shadow: none !important;
}

#modal-create-form .select2-container {
    width: 100% !important;
}

.create-form-div-remove {
    float: right;
    margin: 0px 10px;
    cursor: pointer;
  }

.form-widget-sync-preview-btn-div {
    display: flex;
    column-gap: 16px;
}

#easychat_form_widget_resetall_modal{
    z-index: 2147483647 !important;;
}

.toolTipEdge {
    margin: -25px 0 0 20px;
}

a.tooltip span {
    z-index: 10;
    display: none;
    padding: 10px 10px;
    margin: -85px 0 0 50px;
    width: auto;  
    opacity: 0.85;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    left: 66%;
}

a.tooltip:hover span{
    display:inline; 
    position:absolute; 
    color:#EEE;
    background:rgb(0, 0, 0)  
    repeat-x 0 0;
}

.ssml-textarea {
    height: 200px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #DDD;
    resize: none;
    padding: 20px;
    color: #2c3e51;
    line-height: 1.6;
}

.ssml-textarea:focus {
    border: 1px solid #DDD !important;
}

.ssml-response-pane {
    border: 1px solid #d7e0e2;
    border-bottom: none;
    padding: 13px 10px;
    font-size: 14px
}

/* Right to left language CSS changes */
.language-right-to-left-wrapper .trumbowyg-editor {
    direction: rtl;
    text-align: right;
}

.language-right-to-left-wrapper #table-generation-space {
    direction: rtl;
}

.language-right-to-left-wrapper #table-generation-space td {
    text-align: right;
}

.language-right-to-left-wrapper #intent_card_title,
.language-right-to-left-wrapper #intent_card_content,
.language-right-to-left-wrapper #intent_name {
    direction: rtl;
}

/* Right to left language CSS changes */

#short-name-field,
#whatsapp-short-name-input-label,
#whatsapp-description-input-label {
    top: -10%;
}

[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    border: 2px solid #DADADA;
}

.intent-text-with-checkbox-wrapper-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.intent-text-with-checkbox-wrapper-div p {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #2D2D2D;
    margin: 0px;
    letter-spacing: 0.1px;
}

.catalog-list-count-wrapper {
    color: #000000 !important;
    font-weight: 400 !important;
    font-size: 10px !important;
    line-height: 18px !important;
    margin-top: 8px;
}

.select-section-dropdown .preview-container {
    padding: 0px;
    width: 100% !important;
    /* min-height: 45px; */
    margin: 8px 0px;
    border: none !important;
    flex-wrap: wrap;
    flex-direction: row !important;
    row-gap: 6px !important;
    gap: 6px !important;

}

.select-section-dropdown .preview-container span {
    width: max-content;
    margin: 0px !important;
    font-size: 12px !important;
    line-height: 18px !important;
    background: #0254d7;
}

.select-section-dropdown .preview-container span b {
    display: block !important;
    background: #0254d7;
}

.select-section-dropdown .select-section-dropdown-wrapper {
    position: relative;
    width: 100%;
    border: 1px solid #CBCACA !important;
    height: 40px !important;
    border-radius: 20px !important;
    box-shadow: 0px 0px 1px #3C47C2;
    box-shadow: none !important;
    box-sizing: border-box !important;
}

.select-section-dropdown #select_section_input_div {
    color: #2d2d2d;
    font-size: 14px !important;
    position: relative !important;
    width: 90% !important;
    margin: 0px !important;
    border-bottom: 0px !important;
    cursor: pointer;
}

.select-section-dropdown .select-section-dropdown-icon {
    position: absolute;
    top: 11px;
    height: 25px;
    cursor: pointer;
    right: 16px;
}

.select-section-dropdown .select-section-items-container {
    width: 100%;
    box-shadow: 0px 2.02247px 8.08989px rgb(0 32 51 / 16%);
    border-radius: 12px;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
    max-height: 192px;
    position: absolute;
    z-index: 101;
    background: #ffffff;
    top: 43px;
    margin-left: 1px;
}

.select-section-dropdown .select-section_search_bar_div {
    width: 100%;
    height: 40px;
    background: #FAFAFA;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: 1px solid #F6F6F6 !important;
    box-shadow: none !important;
    padding: 0px 0px 0px 20px;
    outline: none !important;
    display: flex;
    align-items: center;
}

.select-section_search_bar_div .select-section_search_icon {
    top: 2px;
    position: relative;
}

.select-section_search_bar_div #select_section_search_bar {
    background: #FAFAFA;
    flex: none;
    order: 0;
    width: 90% !important;
    flex-grow: 1;
    border: 0px !important;
    box-shadow: none !important;
    outline: none !important;
    padding-left: 13px !important;
    position: relative;
    top: 18px;
    transform: translateY(-19px);
    margin: 0px !important;
    padding-right: 0px !important;

}

.select-section-item {
    display: flex;
    white-space: normal !important;
    align-items: center;
    justify-content: space-between;
    ;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #f3f0f0
}

.select-section-items-container label {
    display: flex;
    height: 100%;
    padding: 12px 24px 11px 26px;
    width: 100%;
    cursor: pointer;
    justify-content: unset;
    align-items: center;
    margin-bottom: 0px !important;

}

.select-section-item-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    width: 100%;
    overflow: hidden;
    margin-left: 20px;
}

.select-dropdown-active {
    transform: rotate(180deg);
    top: 5px !important;
}

.select-section-items-container::-webkit-scrollbar-thumb {
    background: #88A3D2;
    border-radius: 4px;
    height: 3px;
}

#select_section_no_data_found {
    padding: 12px 24px 11px;
    text-align: center;
    justify-content: center;
}

.select-section-items-container::-webkit-scrollbar {
    max-height: 50%;
    height: 50%;
}
