#modal-emoji-bot-response.modal {
    border-radius: 10px;
    border: 0px solid black !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 0 !important;
    overflow-x: hidden !important;
}

#modal-emoji-bot-response .modal-content {
    padding: 5px 7px 4em 22px;
    height: auto !important;
    max-height: calc(100% - 7.6rem) !important;
}
#modal-emoji-bot-response .modal-footer {
  z-index: 101;
  padding-right: 24px;
}
#modal-emoji-bot-response .emoji-container{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
#modal-emoji-bot-response .input-container p{
    margin-bottom: 15px;
    color: #7B7A7B;
    font-size: 12px;
}

#modal-emoji-bot-response .modal-content .emoji-container .heading h6{
    font-size: 14px;
    color: #2D2D2D;
    font-weight: 500;
}

#modal-emoji-bot-response .input-container{
    display: flex;
    align-items: center;
}

#modal-emoji-bot-response .modal-content .emoji-container .edit-box-container{
    width:336px;
}

#modal-emoji-bot-response .container {
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    color: #7B7A7B !important;
  }
  
  /* Hide the browser's default checkbox */
  #modal-emoji-bot-response .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  #modal-emoji-bot-response .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
}
  /* Create the checkmark/indicator (hidden when not checked) */
  #modal-emoji-bot-response .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  #modal-emoji-bot-response .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */

  #modal-emoji-bot-response .container {
    width: 100%;
    margin: 0 !important;
  }

  #modal-emoji-bot-response [type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 30px !important;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }