/* CSS for Bot File Loader*/

#livechat-user-upload-attachment-div .delete-choose-file {
    position: absolute;
    background-color: #fff;
    z-index: 100;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 43%;
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: center;
    left: 54%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    cursor: pointer;
}

#livechat-user-upload-attachment-div .progressbar:hover .delete-choose-file {
    display: flex;
}

#livechat-user-upload-attachment-div .upload-file-loader {
    position: absolute;
    right: 35px;
}

#livechat-user-upload-attachment-div .progressbar {
    display: inline-block;
    margin-top: -5px;
}

#livechat-user-upload-attachment-div .circle {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-align: center;
}

#livechat-user-upload-attachment-div .circle:after {
    width: 28px;
    height: 28px;
    content: "";
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
}

#livechat-user-upload-attachment-div .circle canvas {
    border: 2px solid #fff;
    border-radius: 50%;
}

#livechat-user-upload-attachment-div .circle div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -18px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    color: #ac14c5;
    font-weight: 600;
}

#livechat-user-upload-attachment-div .circle strong i {
    font-style: normal;
    font-size: 8px;
    font-weight: normal;
}

#livechat-user-upload-attachment-div .circle span {
    display: block;
    color: white;
    margin-top: 12px;
}

/* CSS for Bot File Loader Ends*/