#pdf-search-filter-modal {
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    overflow-y: hidden !important;
}

#pdf-search-filter-modal .modal-footer {
    padding: 8px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#pdf-search-filter-modal .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 24px !important;
    position: static;
    height: 40px !important;
    background: #0254D7;
    border-radius: 30px !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

#pdf-search-filter-modal .filter-modal-footer-btn-cancel {
    font-weight: 500 !important;
    font-size: 16px !important;
    display: flex;
    align-items: center;
    height: 40px !important;
    color: #000000 !important;
    background: transparent !important;
    font-family: unset !important;
}

#pdf-search-filter-modal .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

#pdf-search-filter-modal .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

#pdf-search-filter-modal .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
}

#pdf-search-filter-modal .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}

#pdf-search-filter-modal .date-range-filter-select-area input[type=radio] {
    display: none !important;
}

#pdf-search-filter-modal .date-range-filter-select-area input[type=radio]:checked+.filter-box {
    border: 1px solid #0254D7 !important;
}

#pdf-search-filter-modal .date-range-filter-select-area input[type=radio]:checked+.filter-box span {
    color: #0254D7 !important;
}

#pdf-search-filter-modal .date-range-filter-select-area .filter-box {
    padding: 0px 16px;
    height: 48px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 10px;
}

#pdf-search-filter-modal .date-range-filter-select-area .filter-box span {
    font-weight: 400;
    font-size: 14px;
    color: #2D2D2D;
}

#pdf-search-filter-modal .date-range-filter-select-area .filter-box span:before {
    font-size: 1.2em;
    display: block;
    font-weight: normal;
    color: white;
}

.filter-heading {
    font-weight: 600;
    font-size: 14px;
    color: #4D4D4D;
    margin: 15px 0px;
}

.date-range-filter-select-area,
.analytics-custom-date-select-area,
.analytics-status-select-area {
    padding-left: 0px !important;
}

#pdf-search-filter-modal .analytics-status-select-area input[type=radio]:checked+.status-box {
    border: 1px solid #0254D7 !important;
}

#pdf-search-filter-modal .analytics-status-select-area input[type=radio]:checked+.status-box span {
    color: #0254D7 !important;
}

#pdf-search-filter-modal .analytics-status-select-area input[type=checkbox]:checked+.status-box {
    border: 1px solid #0254D7 !important;
}

#pdf-search-filter-modal .analytics-status-select-area input[type=checkbox]:checked+.status-box span {
    color: #0254D7 !important;
}

#pdf-search-filter-modal .analytics-status-select-area .status-box {
    padding: 0px 16px;
    height: 48px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 10px;
}

#pdf-search-filter-modal .analytics-status-select-area .status-box span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
}

#pdf-search-filter-modal .analytics-status-select-area .status-box span:before {
    font-size: 1.2em;
    display: block;
    font-weight: normal;
    color: white;
}

.modal-overflow-content-div {
    padding-left: 0 !important;
    margin-top: 0 !important;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

#pdf-search-filter-modal .modal-header h6 {
    font-weight: 600 !important;
    font-size: 16px;
    color: #000000;
}

#pdf-search-filter-modal .message-default-start-date:focus {
    border: 1px solid #d1d3e2 !important;
    border-bottom: 1px solid #d1d3e2 !important;
}

#pdf-search-filter-modal .message-default-end-date:focus {
    border: 1px solid #d1d3e2 !important;
    border-bottom: 1px solid #d1d3e2 !important;
}

#pdf-search-filter-modal .message-default-start-date,
#pdf-search-filter-modal .message-default-end-date {
    font-family: "Silka", sans-serif;
    font-size: 16px !important;
    box-shadow: none !important;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-bottom: 1px solid #d1d3e2 !important;
    border-radius: 4px;
    outline: none !important;
}

.message-history-clear-input-div {
    margin-left: 10px;
    margin-right: 10px;
    visibility: visible;
}


/*#search-user-input:focus+.message-history-clear-input-div {
    visibility: visible;
}*/


/* User filter new timestamp css */

.instructions {
    display: inline-block;
    background: #E6E6E6;
    border: 1.24685px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 6.23425px;
    justify-content: center;
    align-items: center;
    padding: 12.4685px;
}

.easychat-bot-message-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.easychat-calendar-div {
    width: 320px;
    position: relative;
    margin-top: 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 16px 7px;
    display: flex;
    flex-direction: column;
}

.main-wrapping-div {
    display: flex;
}

.easychat-calendar-div .easychat-date-btn,
.calendar-div .easychat-time-btn {
    display: inline-block;
    height: 44px;
}

.easychat-calendar-div .date-time-picker-btns {
    /* outline: #2755CB solid 1px !important;  */
    cursor: pointer;
    display: inline-block;
    background: #FFFFFF !important;
    border: 1px solid #2755CB !important;
    box-sizing: border-box;
    border-radius: 6px !important;
    padding: 8px 9px;
    color: #2755CB;
    margin: 0 5px !important;
    height: 2.2rem !important;
}

.date-calendar {
    position: relative;
}


/* .datepicker-modal{
position: absolute !important;
width: 150% !important;
left: -65% !important;
top: -700% !important;
} */

.datepicker-date-display {
    display: none !important;
}

.datepicker-active {
    border: none;
    background: #fff;
    color: #2755CB;
    cursor: pointer;
}

.date-displayer1,
.date-displayer2 {
    /* background-color: red; */
    /* position: absolute;  */
    top: 0;
    visibility: hidden;
}

.easychat-date-btn {
    position: relative;
}

.wrapper-date-picker-btn {
    position: relative;
}

.calendar-container {
    width: 55%;
    position: absolute;
    bottom: 70%;
    left: 41%;
}


/* Custom time picker css */

.custom-timepicker {
    z-index: 100;
    display: none;
    position: relative;
    margin-left: 30px;
    top: 3%;
    background: #FFFFFF;
    box-shadow: 4px 6px 40px rgba(32, 32, 35, 0.16);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.custom-timepicker-heading {
    display: flex;
    justify-content: space-between;
}

.custom-timepicker-heading-text {
    font-family: "Silka", sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #7B7B7B;
}

.custom-timepicker-body {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.custom-timepicker-body ul {
    list-style-type: none;
}

.custom-timepicker-body ul li {
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

.hr-clock,
.min-clock,
.ampm-clock {
    width: 100px;
    height: 220px;
    overflow-y: scroll;
    background-color: #FBFCFF;
    cursor: pointer;
    padding-left: 26px;
}

.custom-timepicker-body label {
    cursor: pointer;
}

.hr-clock::-webkit-scrollbar,
.min-clock::-webkit-scrollbar,
.ampm-clock::-webkit-scrollbar {
    width: 5px;
    background: #fff;
    border: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    border-radius: 0 25px 25px 0;
    border-left: 0;
}

.hr-clock::-webkit-scrollbar-track,
.min-clock::-webkit-scrollbar-track,
.ampm-clock::-webkit-scrollbar-track {
    background-color: #fff;
    border: 1px solid #f6f6f6;
}

.hr-clock::-webkit-scrollbar-thumb,
.min-clock::-webkit-scrollbar-thumb,
.ampm-clock::-webkit-scrollbar-thumb {
    background: #C5D5FF;
    border-radius: 0 25px 25px 0;
}

.custom-timepicker-body input[type="radio"] {
    opacity: 0;
    pointer-events: none;
}

.custom-timepicker-footer {
    display: flex;
    justify-content: flex-end;
}

.custom-timepicker-footer .submit-btn {
    cursor: pointer;
    background: #2137A0;
    border-radius: 4px;
    /* padding: 10px; */
    color: white;
    font-weight: 600 !important;
    margin: 0 5px;
    /* border: 1px solid #2137A0; */
}

.custom-timepicker-footer .cancel-btn {
    box-shadow: none;
    cursor: pointer;
    background: transparent !important;
    border-radius: 4px;
    /* padding: 10px; */
    color: #000 !important;
    margin: 0 5px;
    font-weight: 600 !important;
    border: none;
}

.datetimepicker-selected-time {
    background: #769CFF;
    border: 2px solid #0062FF;
    padding: 8px;
    border-radius: 100%;
    right: 29.5%;
    position: relative;
    color: white;
}

.cross-icon {
    cursor: pointer;
}


/* other css */

.btns-sections {
    display: none;
    width: 100%;
    justify-content: space-between;
}

.btns-sections .left-btns,
.btns-sections .right-btns {
    display: inline-block;
}

.btns-sections .left-btns .reset-btn {
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    color: #E53E3E;
    font-size: 10px;
    margin: 0 5px;
    border: none;
}

.btns-sections .right-btns .submit-btn {
    cursor: pointer;
    background: #2137A0;
    border-radius: 4px;
    padding: 10px;
    font-size: 10px;
    color: white;
    margin: 0 5px;
    border: 1px solid #2137A0;
}

.btns-sections .right-btns .cancel-btn {
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 10px;
    color: #2137A0;
    margin: 0 5px;
    border: none;
}

.date {
    color: #2755CB;
    font-size: 32px;
}

.month-year {
    margin-bottom: 0;
    font-size: 10px;
    color: #333333;
}

.day {
    color: #8E8E8E;
    font-size: 10px;
}

#ui-datepicker-div {
    border-color: #fff;
    position: unset !important;
    margin-top: 12px;
    margin-left: 20px;
    top: 1% !important;
    left: 40% !important;
    box-shadow: 4px 6px 40px rgb(32 32 35 / 16%);
    padding: 20px;
    background: #fff;
    display: none;
}

#ui-datepicker-div .ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #fff;
    background: #fff;
}

#ui-datepicker-div .ui-state-active {
    background: #769CFF;
    border: 2px solid #0062FF;
    color: white;
    border-radius: 100%;
    padding: 6px 8px;
}

#ui-datepicker-div .ui-datepicker-header {
    border: none;
    padding: 10px;
    position: relative;
    text-align: center;
    background: white;
    border-radius: 6px;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-next .ui-icon {
    background-image: url(https://easychat-dev.allincall.in/static/EasyChatApp/img/right-arrow-mh.svg);
    background-position: unset;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-prev .ui-icon {
    background-image: url(https://easychat-dev.allincall.in/static/EasyChatApp/img/left-arrow-mh.svg);
    background-position: unset;
}

#ui-datepicker-div .ui-datepicker-month {
    height: 50px;
    overflow: auto;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    appearance: none;
    background-image: url(https://easychat-dev.allincall.in/static/EasyChatApp/img/drop-arrow-mh.svg);
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    font-weight: normal;
    color: #909090;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block !important;
    width: 40%;
}

#ui-datepicker-div .ui-datepicker-year {
    height: 50px;
    overflow: auto;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    appearance: none;
    background-image: url(https://easychat-dev.allincall.in/static/EasyChatApp/img/drop-arrow-mh.svg);
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    font-weight: normal;
    color: #909090;
    cursor: pointer;
    display: inline-block !important;
    width: 40%;
}

#ui-datepicker-div .ui-datepicker-prev {
    position: absolute;
    left: 0;
    top: 20px;
}

#ui-datepicker-div .ui-datepicker-next {
    position: absolute;
    right: 0;
    top: 20px;
}

#ui-datepicker-div .ui-datepicker-title {
    width: 100%;
    text-align: center;
    display: inline-block;
}

#ui-datepicker-div td {
    border-bottom: none;
    text-align: center;
}

#ui-datepicker-div th {
    padding: 1rem 0 !important;
    text-align: center;
}

.ui-corner-all {
    cursor: pointer;
}

.easychat-calendar-div-wrapper {
    display: flex;
}

#calendar-div-1 input:focus {
    border: 1px solid #2755CB !important;
}

#timepicker-container-1-0 .custom-timepicker .custom-timepicker-body input[type="radio"],
#timepicker-container-1-1 .custom-timepicker .custom-timepicker-body input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}

#pdf-search-filter-modal {
    width: 43%;
}


/* @media screen and (max-width: 1607px) {
#pdf-search-filter-modal {
width: 75%;
}
} */


/* User filter new timestamp css ends */
