.ameyo-fusion-configure-title-div .fusion-congigure-title h5{
    /* font-family: 'Silka'; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0254D7;
    letter-spacing: 0.2px;
    margin: 14px 0;
}
.ameyo-fusion-configure-title-div .fusion-congigure-title h5 svg{
    margin-right: 17px;
    cursor: pointer;
}
.ameyo-fusion-configure-title-div .fusion-congigure-title p{
    font-family: 'Silka';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1px;
    color: #7B7A7B;
    margin: 0 0;
}
.fusion-api-select-editor-div{
    background: #FFFFFF;
    border-radius: 8.08071px;
    padding: 16px;
}
.fusion-api-select-editor-div .select-api-div{
    background: #F8F9FC;
    border-radius: 8.88776px 8.88776px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fusion-api-select-editor-div .select-api-div .select2{
    margin: 11px 0px 11px 22px;
    width: 100% !important;
}
.fusion-api-select-editor-div .select-api-div .select2 .select2-selection{
    background: #FFFFFF;
    border-radius: 4px !important;
    padding: 12px 16px 12px 8px !important;
}
.fusion-api-select-editor-div .select-api-div .select2 .select2-selection .select2-selection__rendered{
   /* font-family: 'Silka'; */
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #7B7A7B;
}
.fusion-api-select-editor-div .select-api-div .select2 .select2-selection .select2-selection__arrow{
    top: 50% !important;
    transform: translateY(-50%);
}
.fusion-api-select-editor-div .select-api-div .selected-api-save-reset-div{
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: 21px;
}
.fusion-api-select-editor-div .select-api-div .selected-api-save-reset-div .save-btn{
    background: #0254D7;
    border-radius: 3.5551px;
    /* font-family: 'Silka'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 5.33265px 28.4408px;
}
.fusion-api-select-editor-div .select-api-div .selected-api-save-reset-div .reset-btn{
    background: #FF0000;
    border: 1px solid #FF0000;
    border-radius: 3.5551px;
    /* font-family: 'Silka'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 5.33265px 28.4408px;
    margin-left: 11px;
}
.fusion-api-select-editor-div  .ameyo-config-bot-name-editor-div{
    background: #F8F9FC;
    border-radius: 0px;
    margin: 21px 0 0 0;
    padding: 7px 17px 7px 17px;
}
.fusion-api-select-editor-div .ameyo-fusion-config-bot-name-fullscreen-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}
.fusion-api-select-editor-div .ameyo-fusion-config-bot-name-fullscreen-div .ameyo-fusion-config-bot-name-div{
   /* font-family: 'Silka'; */
   font-style: normal;
   font-weight: 500;
   font-size: 12.4429px;
   line-height: 21px;
   color: #7B7A7B;
}
.fusion-api-select-editor-div .ameyo-fusion-config-bot-name-fullscreen-div svg{
    cursor: pointer;
}
.fusion-api-select-editor-div .ameyo-fusion-config-editor{
    width: 100%;
    height: 30rem;
    overflow: auto;
}
.ameyo-config-variables-column{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
}
.ameyo-config-variables-column .ameyo-config-variable-title{
   /* font-family: 'Silka'; */
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 18px;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   letter-spacing: 0.1px;
   color: #000000;
   margin: 0 0 24px 0;
}
.ameyo-config-variables-column .variable-app-id-input-div label {
   /* font-family: 'Silka'; */
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   display: flex;
   align-items: center;
   letter-spacing: 0.1px;
   color: #000000;
}
.ameyo-config-variables-column .variable-app-id-input-div input {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgb(0 32 51 / 2%), 0px 2px 8px rgb(0 32 51 / 16%) !important;
    border-radius: 4px !important;
    border: 0 !important;
    height: 48px !important;
    margin: 12px 0 0 0 !important;
    padding: 12px 16px !important;
    width: 100% !important;
    box-sizing: border-box !important;
}
.ameyo-config-variables-column .variable-app-id-input-div{
    margin-bottom: 24px;
}
.ameyo-config-variables-column .variable-apply-btn-div button.apply-btn{
    background: #0254D7;
    border-radius: 4px;
    /* font-family: 'Silka'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 16px;
    height: 32px;
    margin: 0 auto;
}
.ameyo-config-editor-variable-row .col{
    margin-top: 24px;
}
.select2-dropdown .select2-search--dropdown{
    padding: 0 !important;
}
.select2-dropdown .select2-search__field {
    display: none;
}
.select2-results__option.select2-results__option--disabled {
    display: none !important;
}
.ameyo-config-title-row{
    margin-bottom: 0 !important;
}
/* .select2-container .select2-dropdown.ameyo-config-api-options{
    background: #FFFFFF;
    border-radius: 8px 8px 0px 0px !important;
    padding: 0 !important;
}
.select2-container .ameyo-config-api-options .select2-results__options li.select2-results__option{
    border-radius: 0 !important;
    margin: 0;
    padding: 0 16px;
    height: 35px;
    line-height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.select2-container .ameyo-config-api-options .select2-results__option, 
.select2-container--default .ameyo-config-api-options .select2-results__option--highlighted[aria-selected]{
    color: #000000 !important;
}
.select2-container--default .ameyo-config-api-options .select2-results__option[aria-selected="true"]{
    color: #f4f6fe !important;
}
.select2-container .ameyo-config-api-options .select2-results__options li.select2-results__option{
    text-transform: capitalize;
} */
.fusion-select-notification-div{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 100%;
    display: none;
}

.fusion-select-notification-div p.fusion-select-notification{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FDF6DB;
    border: 1px solid #F7D14C;
    border-radius: 4px;
    font-family: 'Silka';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
    padding: 8px 32px;
    width: fit-content;
    margin: 0 auto;
    letter-spacing: 0.4px;
}
.fusion-select-notification-div p.fusion-select-notification .alert-notification-svg svg{
    margin-right: 15px;
    margin-bottom: 2px;
    vertical-align: middle;
}
.fusion-select-notification-div p.fusion-select-notification .close-svg svg{
    margin-left: 52px;
    cursor: pointer;
}
.fusion-select-notification-div.ameyo-config-variable-apply-succes-div .fusion-select-notification{
    background: #ECFDF5;
    border: 1px solid #34D399;
    border-radius: 4px;
}
.fusion-select-notification-div.ameyo-config-variable-apply-failure-div .fusion-select-notification{
    background: #FFF9F9;
    border: 1px solid #FF948D;
    border-radius: 4px;
}

/* select2 css start  */
.select2-container .select2-dropdown{
    background: #FFFFFF;
    border-radius: 8px 8px 0px 0px !important;
    padding: 0 !important;
}
.select2-container .select2-results__options li.select2-results__option{
    border-radius: 0 !important;
    margin: 0;
    padding: 0 16px;
    height: 35px;
    line-height: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.select2-container .select2-results__option, 
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    color: #000000 !important;
}
.select2-container--default .select2-results__option[aria-selected="true"]{
    color: #f4f6fe !important;
}
.select2-container .select2-results__options li.select2-results__option{
    text-transform: capitalize;
}
/* select2 css end  */