  .dataTables_filter {
     float: left !important;
  }

  #modal-general-feedback-filter{
      height: auto;
      max-height: 87%;
      position: fixed;
      width: 32em;
    }

  input[type=date]::-webkit-inner-spin-button,
  input[type=data]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
  }