.hamburger-category-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%
}

.hamburger-category-title {
    color: #000;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
}

.hamburger-category-radio-btn {
    display: flex;
    height: 40px;
    align-items: center;
    margin-left: 12px;
    justify-content: center;
}

.hamburger-category-radio-btn [type="radio"]:not(:checked)+span,
.hamburger-category-radio-btn [type="radio"]:checked+span {
    padding-left: 25px !important;
    margin-right: 25px !important;
}

.hamburger-category-radio-btn label {
    color: #000;
}

.hamburger-category-radio-btn [type="radio"]:checked+span:after,
.hamburger-category-radio-btn [type="radio"].with-gap:checked+span:before,
.hamburger-category-radio-btn [type="radio"].with-gap:checked+span:after {
    border: 2px solid #2755cb;
}

.hamburger-category-radio-btn [type="radio"]:checked+span:after,
.hamburger-category-radio-btn [type="radio"].with-gap:checked+span:after {
    background-color: #2755cb;
}

#hamburger-menu-container {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-top: 6px;
}

/*Quick Menu*/
#quick-menu-container {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-top: 6px;
}

.hamburger-category-form {
    border: 1px dashed #0254D7;
}

.hamburger-menu-item {
    margin: 8px 8px 0px 0;
    padding: 1px;
    float: left;
    width: 47.4%;
    height: 145px;
    font-size: 4em;
    text-align: center;
    cursor: grabbing;
    position: relative;
}

/*Quick Menu*/
.quick-menu-item {
    margin: 8px 8px 0px 0;
    padding: 1px;
    float: left;
    width: 47.4%;
    height: 145px;
    font-size: 4em;
    text-align: center;
    cursor: grabbing;
    position: relative;
}

.hamburger-delete-tile-btn {
    position: absolute;
    right: 4px;
    top: 4px;
    display: none;
}

.quick-menu-item:hover .hamburger-delete-tile-btn {
    display: block;
}

.hamburger-menu-item:hover .hamburger-delete-tile-btn {
    display: block;
}

/*Quick Menu*/
.quick-delete-tile-btn {
    position: absolute;
    right: 4px;
    top: 4px;
    display: none;
}

.quick-menu-item:hover .quick-delete-tile-btn {
    display: block;
}

.hamburger-upload-icon-btn {
    margin-left: 10px;
}

.hamburger-category-radio-btn label {
    cursor: pointer;
}


.hamburger-category-title span {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: fit-content;
    padding: 0px 5px;
} 

.hamburger-category-icon i {
    cursor: pointer;
}

.hamburger-menu-body {
    padding-top: 0px;
}

.hamburger-menu-title {
    padding-left: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.hamburger-select-intent {
    padding: 8px 0px 0px 8px !important;
}

.hamburger-category-tile-heading-container {
    padding: 0px 0px 15px 0px !important;
    margin-bottom: 1em;
    width: 92% !important;
}

.hamburger-menu-icon-div {
    display: flex;
    align-items: center;
    height: 50px;
}

.hamburger-category-bot-heading {
    width: 100%;
    height: 45px !important;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 5%), 0px 0px 2px rgb(0 0 0 / 10%) !important;
}

.hamburger-category-bot-heading i {
    margin-left: 14px;
}

.hamburger-category-bot-heading span {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.hamberger-select-intent {
    padding-left: 0px !important;
    padding-right: 34px !important;
    margin-top: 1rem;
}

#hamburger-save-category-btn {
    width: 185px;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: #0254D7;
    border-radius: 90px;
    border: none !important;
    outline: none;
    box-shadow: none !important;
    margin-right: -3px !important;
    margin-top: 0px !important;
}

/*Quick Menu*/
#quick-save-category-btn {
    width: 185px;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    background: #0254D7;
    border-radius: 90px;
    border: none !important;
    outline: none;
    box-shadow: none !important;
    margin-right: -3px !important;
    margin-top: 0px !important;
}

.hamburger-save-category-btn-div {
    text-align: right;
}

.hamburger-menu-body-content {
    margin-bottom: 0px !important;
}

#modal-edit-hamburger-category-tile {
    height: unset !important;
    top: 5% !important;
    max-height: unset !important;
}

@media only screen and (max-width: 1024px) {
    .hamburger-menu-body-content {
        display: flex;
        flex-direction: column;
    }
    .hamburger-menu-body-content .hamburger-menu-body-content-left-side,
    .hamburger-menu-body-content .hamburger-menu-body-content-right-side {
        width: 100% !important;
    }
    #hamburger-save-category-btn {
        margin-bottom: 2rem;
    }

/*Quick Menu*/
    #quick-save-category-btn {
        margin-bottom: 2rem;
    }
}