/************************************* multiselect dropdown css *********** */

/* css for intent div---------- */
.easychat-initial-questions-dropdown{
    height: 0;
}

.active-dropdown{
    height: 240px;
    transition: ease 0.2s;
}

.outer-intent-container .collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 0;
}
.outer-intent-container input[type="text"]:not(.browser-default):focus:not([readonly]):not(.otp-form), .outer-intent-container input[type="password"]:not(.browser-default):focus:not([readonly]), .outer-intent-container input[type="email"]:not(.browser-default):focus:not([readonly]), .outer-intent-container input[type="url"]:not(.browser-default):focus:not([readonly]), .outer-intent-container input[type="time"]:not(.browser-default):focus:not([readonly]), .outer-intent-container input[type="date"]:not(.browser-default):focus:not([readonly]), .outer-intent-container input[type="datetime"]:not(.browser-default):focus:not([readonly]), .outer-intent-container input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), .outer-intent-container input[type="tel"]:not(.browser-default):focus:not([readonly]), .outer-intent-container input[type="number"]:not(.browser-default):focus:not([readonly]):not(.form-control), .outer-intent-container input[type="search"]:not(.browser-default):focus:not([readonly]), .outer-intent-container textarea.materialize-textarea:focus:not([readonly]) {
    box-shadow: 0px !important;
    box-shadow: 0px 0px 1px rgb(252, 252, 252) !important;
    transition: all 0s ease-in-out;
    width: 90%;
    margin-top: 6px;
    padding: 0rem 0.8rem;
    border: 1px solid #F8F8F8;
    border-radius: 0px;
    font-family: "Silka", Sans-Serif !important;
}
.preview-container{
    width: 80%;
    background: #ffffff;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 9px;
    margin-right: 10px;
    display: none;
}
.preview-container-active{
    display: block;
}

.outer-intent-container .preview-container::-webkit-scrollbar {
    width: 5px !important;
}

    .preview-container> span{
            margin: 7px 7px;
            display: inline-flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            position: relative;
            font-size: 12px;
            line-height: 20px;
            padding: 2px 8px;
            /*height: 28px;*/
            gap: 18px;
            color: #ffffff;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            box-sizing: border-box;
            word-break: break-word;
    }

    .preview-container> span>span{
        background: url("data:image/svg+xml, %3Csvg width='25' height='25' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.9996 20.9994C10.2306 20.9994 9.46257 20.7074 8.87555 20.1243L8.14552 19.3943C7.86251 19.1123 7.4835 18.9563 7.08148 18.9553H6.05444C4.39438 18.9553 3.04333 17.6042 3.04333 15.9442V14.9161C3.04233 14.5151 2.88633 14.1361 2.60332 13.8511L1.88529 13.1341C0.70925 11.965 0.70425 10.054 1.87429 8.87692L2.60432 8.1459C2.88633 7.86289 3.04233 7.48387 3.04333 7.08186V6.05582C3.04333 4.39476 4.39438 3.04371 6.05444 3.04371H7.08248C7.4835 3.04371 7.86151 2.88771 8.14652 2.60269L8.86555 1.88567C10.0346 0.709626 11.9447 0.703626 13.1227 1.87467L13.8527 2.6047C14.1367 2.88771 14.5148 3.04371 14.9158 3.04371H15.9438C17.6039 3.04371 18.9549 4.39476 18.9549 6.05582V7.08286C18.9559 7.48387 19.1119 7.86289 19.3949 8.1479L20.113 8.86592C20.682 9.43194 20.997 10.186 21 10.991C21.002 11.791 20.694 12.5441 20.133 13.1131C20.123 13.1231 20.114 13.1341 20.104 13.1431L19.3939 13.8531C19.1119 14.1361 18.9559 14.5151 18.9549 14.9171V15.9442C18.9549 17.6042 17.6039 18.9553 15.9438 18.9553H14.9158C14.5148 18.9563 14.1357 19.1123 13.8517 19.3953L13.1327 20.1133C12.5467 20.7034 11.7727 20.9994 10.9996 20.9994Z' fill='%23E53E3E'/%3E%3Cpath d='M10.9996 20.9994C10.2306 20.9994 9.46257 20.7074 8.87555 20.1243L8.14552 19.3943C7.86251 19.1123 7.4835 18.9563 7.08148 18.9553H6.05444C4.39438 18.9553 3.04333 17.6042 3.04333 15.9442V14.9161C3.04233 14.5151 2.88633 14.1361 2.60332 13.8511L1.88529 13.1341C0.70925 11.965 0.70425 10.054 1.87429 8.87692L2.60432 8.1459C2.88633 7.86289 3.04233 7.48387 3.04333 7.08186V6.05582C3.04333 4.39476 4.39438 3.04371 6.05444 3.04371H7.08248C7.4835 3.04371 7.86151 2.88771 8.14652 2.6027L8.86555 1.88567C10.0346 0.709626 11.9447 0.703626 13.1227 1.87467L13.8527 2.6047C14.1367 2.88771 14.5148 3.04371 14.9158 3.04371H15.9438C17.6039 3.04371 18.9549 4.39476 18.9549 6.05582V7.08286C18.9559 7.48387 19.1119 7.86289 19.3949 8.1479L20.113 8.86592C20.682 9.43194 20.997 10.186 21 10.991C21.002 11.791 20.694 12.5441 20.133 13.1131C20.123 13.1231 20.114 13.1341 20.104 13.1431L19.3939 13.8531C19.1119 14.1361 18.9559 14.5151 18.9549 14.9171V15.9442C18.9549 17.6042 17.6039 18.9553 15.9438 18.9553H14.9158C14.5148 18.9563 14.1357 19.1123 13.8517 19.3953L13.1327 20.1133C12.5467 20.7034 11.7727 20.9994 10.9996 20.9994' stroke='white' stroke-width='0.833333'/%3E%3Cpath d='M5.34424 13V9.49902H6.2207L7.56104 11.7012H7.59033V9.49902H8.35449V13H7.47559L6.14014 10.8003H6.11084V13H5.34424ZM8.94541 13V9.49902H11.1622V10.1753H9.73643V10.9004H10.9522V11.5742H9.73643V12.3188H11.2159V13H8.94541ZM11.3747 9.49902H12.239L12.7492 11.7744H12.7883L13.3083 9.49902H14.2849L14.8098 11.7744H14.8488L15.3591 9.49902H16.2233L15.3127 13H14.3776L13.8186 10.6343H13.7795L13.2131 13H12.2829L11.3747 9.49902Z' fill='white'/%3E%3C/svg%3E") no-repeat;
        position: absolute;
        width: 26px;
        height: 25px;
        top: -14px;
        right: -15px;
        opacity : 0;
    }

    .preview-container> span> span.active-tag{
        opacity : 1;
    }

    /* css for intent div end------------ */

.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}

.ms-options-wrap {
    position: relative;
    width: 91%;
    margin: 8px 0px;
}

.ms-options-wrap>button:focus,
.ms-options-wrap>button  {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #ededed;
    background-color: #fff;
    padding: 5px 35px 5px 10px;
    margin-top: 1px;
    font-size: 13px;
    color: #2d2d2d;
    outline-offset: -2px;
    white-space: nowrap;
    height: 40px;
    margin-bottom: 0px;
    border-radius: 6px;
    box-shadow: none;
}

.ms-options-wrap>button>span {
    display: inline-block;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
}

.ms-options-wrap>button[disabled] {
    background-color: #e5e9ed;
    color: #808080;
    opacity: 0.6;
}

.ms-options-wrap>button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

.ms-options-wrap.ms-has-selections>button {
    color: #333;
}

.ms-options-wrap>.ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #f8f8f8;
    overflow: hidden;
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    height: unset !important;
    height: 0;
    border-radius: 6px;
    transition:  cubic-bezier(0.1,-0.51, 0, 1.98) 1s;
}
.ms-options-wrap.ms-active>.ms-options {
    /* display: block; */
    opacity: 1;
    pointer-events: all;
}

.ms-options-wrap>.ms-options>.ms-search input {
    width: 100% !important;
    padding: 0.5rem 0.5rem 0.5rem 1rem !important;
    background: #ffffff;
    border: 1px solid #F2F2F2 !important;
    /* border-radius: 25px !important; */
    outline: none !important;
    font-size: 14px !important;
    color: #2d2d2d !important;
    height: 35px !important;
    box-sizing: border-box;
}

.ms-options-wrap>.ms-options>.ms-search input:focus {
    background-color: #ffffff !important;
}

.ms-options-wrap>.ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-decoration: none !important;
    width: 100%;
    padding: 10px 12px;
}

.ms-options-wrap>.ms-options .ms-selectall:hover {
    background-color: #EEF1FF;
}

.ms-options-wrap>.ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap>.ms-options>.ms-selectall.global {
    margin: 0px;
}

.ms-options-wrap>.ms-options>ul,
.ms-options-wrap>.ms-options>ul>li.optgroup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px !important;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    column-count: unset !important;
    scrollbar-width: thin;
}

.ms-options-wrap>.ms-options>ul li.ms-hidden {
    display: none;
}

.ms-options-wrap>.ms-options>ul>li.optgroup {
    padding: 5px;
}

.ms-options-wrap>.ms-options>ul>li.optgroup+li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap>.ms-options>ul>li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap>.ms-options>ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 5%;
    /* padding: 8px 11px 8px 15px; */
    border-top: 1px solid #eef1ff94;
    font-size: 14px;
    color : #2d2d2d !important;
    cursor : pointer !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px 0;
}

.ms-options-wrap>.ms-options>ul label p{
    margin: 0;
    padding: 7px 11px 7px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}

.ms-options-wrap>.ms-options.checkbox-autofit>ul label,
.ms-options-wrap>.ms-options.hide-checkbox>ul label {
    padding: 4px;
}

.ms-options-wrap>.ms-options>ul label.focused,
.ms-options-wrap>.ms-options>ul label:hover {
    background-color: #EEF1FF;
}

.ms-options-wrap>.ms-options>ul li.selected label {
    color: #5A5A5A;
}

/* css for new intent button--------------- */
.easychat-initial-questions-dropdown .ms-options-wrap>.ms-options>ul button{
    width: 31px;
    height: 16px;
    font-size: 10px;
    padding: 2px 6px;
    background: #DADADA;
    border-radius: 1px;
    color: #ffffff;
    display: flex;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0;
    margin-right: 35px;
    text-align: center;
}

.easychat-initial-questions-dropdown .ms-options-wrap>.ms-options>ul .active-button{
    background: #0254D7;
}

.ms-options-wrap>.ms-options.hide-button>ul button{
    width: 31px;
    height: 14px;
    padding: 1px 4px;
    background: #0254D7;
    border-radius: 1px;
}
 /* css for intent button end------------ */

.ms-options-wrap>.ms-options>ul input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    margin: 0px !important;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    cursor: pointer !important;
    text-overflow: ellipsis;
    display: none;
}

.ms-options-wrap>.ms-options>ul span {
    width: 16px !important;
    height: 16px !important;
    margin: 0px !important;
    position: absolute;
    right: 12px;
    top: 34%;
    transform: translateY(-50%);
    opacity: 1;
    cursor: pointer !important;
    text-overflow: ellipsis;
    padding-left: 0px !important;
}

.ms-options-wrap>.ms-options.hide-checkbox>ul input[type="checkbox"] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar {
    width: 7px;
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.ms-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 4px 0px; */
    padding: 0px 12px;
}

.ms-options-wrap>.ms-options>ul li.selected {
    padding: 0px !important;
    margin: 0px;
}

.mailer-analytics-traffic-analytics-dropdown .select2,
.mailer-analytics-intent-analytics-dropdown .select2,
.mailer-analytics-flow-completion-dropdown .select2,
.easychat-initial-questions-dropdown .select2 {
    display: none;
}

.ms-options-wrap.ms-active>button:after {
    transform: rotate(180deg);
    margin-top: -9px;
}

.ms-options-wrap>.ms-options #selectall-drop-cb {
    opacity: 1;
    width: 16px !important;
    height: 16px !important;
    pointer-events: auto;
    right: 19px;
    margin: 0px !important;
    padding: 0px !important;
    top: 72px;
}


