.dataTables_filter {
   float: left !important;
} 
.material-tooltip{
  max-width: 300px !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #3b56c7;
    background-color: #3b56c7;
    z-index: 0;
}