/* Welcome Banner styles */
.add-welcome-banner-btn{
  height: 48px;
  font-size: 14px !important;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
}
.add-welcome-banner-btn svg{
  margin-right: 8px;
}
#add-banner-modal,#edit-welcome-banner-redirecturl-modal{
  width: 43% !important;
  background: #fff !important;
  max-height: 90%;
  padding: 0px !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
}
#add-banner-modal .modal-content, #edit-welcome-banner-redirecturl-modal .modal-content {
  padding: 1.5rem 3rem 0rem 3rem !important;
}
#add-banner-modal .modal-content .modal-header, #edit-welcome-banner-redirecturl-modal .modal-content .modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  height: 45px;
  padding-bottom: 10px;
  padding-left: 2px;
}
#add-banner-modal .modal-header h6, #edit-welcome-banner-redirecturl-modal .modal-header h6,
#edit-welcome-banner-redirecturl-modal .modal-content .modal-header .modal-close-btn{
  font-weight: 500 !important;
  font-size: 16px;
  color: #2D2D2D;
}
#add-banner-modal .modal-content .modal-header .modal-close-btn,
#edit-welcome-banner-redirecturl-modal .modal-content .modal-header .modal-close-btn{
  background: transparent;
  box-shadow: none;
  padding-top: 12px;
}
#add-banner-modal .modal-overflow-content-div,#edit-welcome-banner-redirecturl-modal .modal-overflow-content-div{
  width: 100%;
  max-height: calc(100vh - 18rem);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 25px 0px 0px;
  padding: 15px 15px 0px;
}
#add-banner-modal .filter-modal-footer-btn, #edit-welcome-banner-redirecturl-modal .filter-modal-footer-btn{
  height: 40px !important;
  background: #0254D7;
  border-radius: 30px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #FFFFFF;
  margin: 0px 20px;
  font-family: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 24px !important;
  position: static;
}
#add-banner-modal .modal-footer,#edit-welcome-banner-redirecturl-modal .modal-footer{
  border-radius: 0 0 10px 10px;
  padding: 8px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#add-banner-modal .select2-selection__rendered,
#edit-welcome-banner-redirecturl-modal .select2-selection__rendered{
  line-height: 1.5;
}
#add-banner-modal .select2-selection,
#edit-welcome-banner-redirecturl-modal .select2-selection{
  height: 41px !important;
  border-radius: 10px !important;
  border: 1px solid #DADADA !important;
  width: 100% !important;
  font-family: "Silka", Sans-Serif;
  padding: 9px 10px!important;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
  text-align: left!important;
  color: #2D2D2D;
  box-shadow: none !important;
}
#add-banner-modal .select2-container,#edit-welcome-banner-redirecturl-modal .select2-container{
  width: 55% !important;
}
#add-banner-modal .sub-heading,#edit-welcome-banner-redirecturl-modal .sub-heading{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #2D2D2D;
  margin-bottom: 8px;
}
#upload-image-section p{
  color: #7B7A7B;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  margin-top: 5px;
}
#upload-image-section .drag-drop-input-field-wrapper{
  left: 0;
  top: 0;
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
}
#add-banner-modal input[type="text"], #edit-welcome-banner-redirecturl-modal input[type="text"] {
  width: calc(100% - 48px) !important;
  border: 1px solid #CBCACA !important;
  border-radius: 8px;
  margin-top: 0 !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

#image-selected-container .selected-image-wrapper{
  margin-bottom: 10px;
  user-select: none;
  background: #FFFFFF;
  border-radius: 8px;
  height: 72px;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}
#image-selected-container .selected-image-wrapper .image-container-div {
  position: relative;
  width: 114px;
  height: 66px;
  margin: 11px 11px 11px 0;
}
#image-selected-container .selected-image-wrapper .image-container-div img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 114px;
  height: 66px;
}
#image-selected-container .selected-image-wrapper .image-name-copy-div .image-url-copy-div{
  color: #0254D7;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}
#image-selected-container .selected-image-wrapper .image-container-div .dismiss-circle{
  position: absolute;
  top: -13px;
  right: -9px;
  cursor: pointer;
}

/* General dropdown styles start */
#edit-intent-type-container .select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder,
#intent-type-container .select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder{
  color: #7B7A7B;
  font-family: "Silka",sans-serif;
  font-size: 14px;
  background-repeat: no-repeat !important;
  background: url('./img/search-icon.svg');
  background-position: left;
  text-indent: 25px;
}
#action-type-container .select2-dropdown,
#intent-type-container .select2-dropdown,
#edit-intent-type-container .select2-dropdown{
  top: 1px !important;
  padding: 0 !important;
  border-radius: 8px !important;
  margin-top: 5px;
}
#intent-type-container .select2-dropdown .select2-search,
#edit-intent-type-container .select2-dropdown .select2-search{
  padding: 8px;
}
#intent-type-container .select2-dropdown .select2-search .select2-search__field,
#edit-intent-type-container .select2-dropdown .select2-search .select2-search__field{
  background-color: #FAFAFA;
  border-radius: 4px !important;
  border: 1px solid #F8F8F8 !important;
  margin: 0;
  margin-top: 0 !important;
}
#intent-type-container .select2-dropdown .select2-search .select2-search__field:focus,
#edit-intent-type-container .select2-dropdown .select2-search .select2-search__field:focus{
  box-shadow: none !important;
}
#action-type-container .select2-dropdown .select2-search{
  display: none !important;
}
#action-type-container .select2-dropdown .select2-results__options,
#intent-type-container .select2-dropdown .select2-results__options,
#edit-intent-type-container .select2-dropdown .select2-results__options{
  border-radius: 8px;
}
#action-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar,
#intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar,
#edit-intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar{
  width: 5px;
}
#action-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-thumb,
#intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-thumb,
#edit-intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-thumb{
  background: #88A3D2;;
  border-radius: 8px;
}
#action-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-track,
#intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-track,
#edit-intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-track{
  background-color: transparent;
  box-shadow: 0 0 0px #777 !important;
  border-radius: 10px;
}

#action-type-container .select2-dropdown .select2-results__option,
#intent-type-container .select2-dropdown .select2-results__option,
#edit-intent-type-container .select2-dropdown .select2-results__option{
  font-family: "Silka",sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  font-style: normal;
  color: #2D2D2D !important;
  margin: 0 !important;
  border-radius: unset !important;
  padding: 12px 16px !important;
  border: 1px solid #F6F6F6 !important;
}
#action-type-container .select2-dropdown .select2-results__option--highlighted,
#intent-type-container .select2-dropdown .select2-results__option--highlighted,
#edit-intent-type-container .select2-dropdown .select2-results__option--highlighted{
  background-color: #F6F6F6 !important;
}
#action-type-container .select2-dropdown .select2-results__option--selected,
#intent-type-container .select2-dropdown .select2-results__option--selected,
#edit-intent-type-container .select2-dropdown .select2-results__option--selected{
  background-color: #F6F6F6 !important;
  color: #2D2D2D !important;
}
#action-type-container .select2-container--default .select2-results__option[aria-selected="true"],
#intent-type-container .select2-container--default .select2-results__option[aria-selected="true"],
#edit-intent-type-container .select2-container--default .select2-results__option[aria-selected="true"]{
  background: #F6F6F6 !important;
  color: #2D2D2D !important;
}
#action-type-container .select2-container--default .select2-results>.select2-results__options,
#intent-type-container .select2-container--default .select2-results>.select2-results__options,
#edit-intent-type-container .select2-container--default .select2-results>.select2-results__options{
  max-height: 130px !important;
}
#action-type-container .select2-container--default .select2-results__option--disabled,
#intent-type-container .select2-container--default .select2-results__option--disabled,
#edit-intent-type-container .select2-container--default .select2-results__option--disabled{
  display: none;
}

/* General dropdown styles end */

.disable-active-state{
  opacity: 0.5;
  pointer-events: none;
}

/* Banner preview css starts */
#welcome_conversion_analytics_table_scroll table tbody tr td:nth-child(4) {
  max-width: 230px;
}
.welcome-banner-collapsible-body-wrapper {
  padding: 0.5rem 2rem !important;
}

.easychat-welcome-banner-item-container .image-div {
  width: 110px;
  height: 60px;
}

.easychat-welcome-banner-item-container .image-div img {
  width: 100%;
  height: 100%;
}

.banner-edit-icon,
.banner-eye-icon,
.banner-cross-icon {
  position: relative !important;
  cursor: pointer !important;
  border: none !important;
  background: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0px !important;
  margin: 0px 40px 0px 0px !important;
}

.banner-cross-icon {
  margin-right: 0px !important;
}

.easychat-welcome-banner-list-image-name-wrapper {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.easychat-welcome-banner-list-image-name-wrapper .image-name-div {
  margin-left: 12px;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.easychat-welcome-banner-item-container table thead tr th {
  font-weight: 500 !important;
  background: #fff !important;
  border: none !important;
  font-size: 16px !important;
  color: #2D2D2D !important;
}

.easychat-welcome-banner-item-container table tbody {
  box-shadow: none !important;
}

.easychat-welcome-banner-item-container table tbody tr td {
  border: none !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: #4D4D4D !important;
  word-break: break-word;
}

.easychat-welcome-banner-item-container table tbody tr td:nth-child(2) {
  max-width: 220px;
}

.easychat-welcome-banner-item-container table tbody tr td:nth-child(3) {
  max-width: 220px;
}

.easychat-welcome-banner-item-container table tbody tr td:last-child {
  text-align: center !important;
  min-width: 210px !important;
}

.easychat-welcome-banner-item-container table tbody tr td a {
  color: #0254D7 !important;
}

.easychat-welcome-banner-item-container table tr {
  border: 1px solid #CBCACA !important;
  border-right: none !important;
  border-left: none !important;
  background-color: #ffffff;
  cursor: move;
}

.easychat-welcome-banner-item-container table tr:first-child {
  border-top: none !important;
}

#preview-banner {
  margin-top: 24px !important;
  margin-left: 12px !important;
  margin-bottom: 0px;
}

.easychat-welcome-banner-item-container {
  overflow: hidden;
  padding: 0px !important;
  margin: 0px 12px !important;
  border: 1px solid #CBCACA !important;
  border-radius: 8px !important;
  border-bottom: none !important;
  width: 98% !important;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .delete-confirmation-heading-text {
  text-align: center;
  margin-top: 0 ;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7a7b7a;
  padding: 0px 16px;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .delete-heading{
  font-weight: 500;
  font-size: 22px;
  color: #000000;
  margin-top: 32px;
}

.modal.easychat-custom-modals-wrapper .termination-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.modal.easychat-custom-modals-wrapper .termination-buttons a {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 0px 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px !important;
  font-weight: 500;
  margin: 0px;
  box-shadow: none !important;
  cursor: pointer;
}

.modal.easychat-custom-modals-wrapper .termination-no-btn {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  color: #2D2D2D;
  margin-right: 12px !important;
}

.modal.easychat-custom-modals-wrapper .delete-button{
  background-color: #E10E00 !important;
  border-color: #E10E00 !important;
}
/* Banner preview css ends */

/* Edit modal css starts */

#edit-welcome-banner-redirecturl-modal .modal-footer{
  background-color: #fafafa;
}

/* Edit modal css ends */

.ui-sortable-helper {
  display: table !important;
}

#intent-type-container .select2-search input,
#edit-intent-type-container .select2-search input {
  background: #fff url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2155 19L14.0255 14.81C12.8167 15.8169 11.2663 16.319 9.69671 16.2118C8.12716 16.1047 6.65934 15.3966 5.59859 14.2348C4.53784 13.073 3.96584 11.5469 4.00158 9.97415C4.03732 8.40136 4.67804 6.90288 5.79046 5.79046C6.90288 4.67804 8.40136 4.03732 9.97415 4.00158C11.5469 3.96584 13.073 4.53784 14.2348 5.59859C15.3966 6.65934 16.1047 8.12716 16.2118 9.69671C16.319 11.2663 15.8169 12.8167 14.81 14.0255L19 18.2155L18.2155 19ZM10.1229 5.12948C9.13527 5.12948 8.16985 5.42234 7.34869 5.97102C6.52753 6.5197 5.88752 7.29956 5.50958 8.21198C5.13164 9.1244 5.03276 10.1284 5.22543 11.097C5.4181 12.0657 5.89367 12.9554 6.59201 13.6537C7.29035 14.3521 8.18008 14.8276 9.14871 15.0203C10.1173 15.213 11.1213 15.1141 12.0338 14.7362C12.9462 14.3582 13.726 13.7182 14.2747 12.897C14.8234 12.0759 15.1163 11.1105 15.1163 10.1229C15.1148 8.79899 14.5882 7.52976 13.6521 6.59363C12.716 5.65751 11.4467 5.13095 10.1229 5.12948Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A") no-repeat 4% 7px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 0px;
  height: 18px;
  width: 18px;
  margin-left: -12px;
  margin-top: -8px;
  background: #fff url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.793 6.23271C14.0787 6.53263 14.0672 7.00737 13.7672 7.29306L8.51678 12.2944C8.22711 12.5703 7.77187 12.5703 7.4822 12.2944L2.23173 7.29306C1.93181 7.00737 1.92028 6.53263 2.20597 6.23271C2.49166 5.93279 2.96639 5.92125 3.26631 6.20694L7.99949 10.7155L12.7327 6.20694C13.0326 5.92125 13.5073 5.93279 13.793 6.23271Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0px;
  margin-top: -3px;
  margin-left: -10px;
  background: #fff url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.206023 6.26863C-0.0796766 5.96871 -0.0681772 5.49397 0.231823 5.20828L5.48224 0.206941C5.77191 -0.0689588 6.22715 -0.0689588 6.51682 0.206941L11.7673 5.20828C12.0672 5.49397 12.0787 5.96871 11.7931 6.26863C11.5074 6.56855 11.0326 6.58009 10.7327 6.2944L5.99953 1.78584L1.26632 6.2944C0.966423 6.58009 0.491723 6.56855 0.206023 6.26863Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}
/* Welcome Banner styles */
