#editor-code { 
    width:100%;
    height:40em;
    overflow:auto;
}
.log-analytics-row-div{
    padding: 32px 36px 0 36px;
    margin: 0;
}
.log-analytics-header-buttons-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.log-analytics-header-buttons-div .log-analytics-header-div h5{
       /* font-family: 'Silka'; */
       font-style: normal;
       font-weight: 500;
       font-size: 20px;
       line-height: 24px;
       letter-spacing: 0.25px;
       color: #2D2D2D;
       margin: 0;
}
.log-analytics-header-buttons-div .log-analytics-buttons-div a.btn{
    background: #0254D7 !important;
    border-radius: 4px !important;
    height: 40px;
    padding: 0 20px;
    /* font-family: 'Silka'; */
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 17px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF !important;
    box-shadow: none !important;
    transform: none !important;
    letter-spacing: 0.25px;
}
.log-analytics-header-buttons-div .log-analytics-buttons-div a.btn:not(:first-child){
    margin-left: 12px;
}
.log-analytics-header-buttons-div .log-analytics-buttons-div a.btn.stop-btn{
    background: transparent !important;
    color: #0254D7 !important;
    border: 1px solid #0254D7;
}
 .editor-header-div{
    background: #4A4B48;
    border-radius: 8px 8px 0px 0px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px 0 40px;
}
.editor-header-div a{
    display: inline-flex;
    align-items: center;
}
.log-analytics-content-div p{
        /* font-family: 'Silka'; */
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #000000;
        letter-spacing: 0.25px;
        margin-top: 10px;
        word-break: break-all;
}
.log-analytics-editor-code-div {
    height: 30.25em !important;
}
.easychat-modal-date-time-div{
    padding: 24px 44px 0 44px;
}
.easychat-modal-date-time-div .row.m0{
   margin: 0;
}
.easychat-modal-date-time-div .date-time-div .date-time-input-div{
    display: flex;
    flex-direction: column;
}
.easychat-modal-date-time-div .date-time-div .date-time-input-div label{
    margin-bottom: 8px;
    /* font-family: 'Silka'; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    letter-spacing: 0.25px;
}
.easychat-modal-date-time-div .date-time-div .date-time-input-div input{
    background: #FFFFFF;
    border: 2px solid #F6F6F6 !important;
    border-radius: 4px;
    height: 48px;
    padding: 0 16px;
    margin-bottom: 24px;
    /* font-family: 'Silka'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
}
input::-webkit-calendar-picker-indicator{
    cursor: pointer;
}
.easychat-modal-date-time-div .date-time-div .date-time-input-div input[type="date"]::-webkit-calendar-picker-indicator,
.easychat-new-modal-div input[type="date"]::-webkit-calendar-picker-indicator{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1.25C8.41421 1.25 8.75 1.58579 8.75 2V3H15.25V2C15.25 1.58579 15.5858 1.25 16 1.25C16.4142 1.25 16.75 1.58579 16.75 2V3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6C3 4.34315 4.34315 3 6 3H7.25V2C7.25 1.58579 7.58579 1.25 8 1.25ZM15.25 4.5V5.5C15.25 5.91421 15.5858 6.25 16 6.25C16.4142 6.25 16.75 5.91421 16.75 5.5V4.5H18C18.8284 4.5 19.5 5.17157 19.5 6V7.5H4.5V6C4.5 5.17157 5.17157 4.5 6 4.5H7.25V5.5C7.25 5.91421 7.58579 6.25 8 6.25C8.41421 6.25 8.75 5.91421 8.75 5.5V4.5H15.25ZM4.5 8.5V18C4.5 18.8284 5.17157 19.5 6 19.5H18C18.8284 19.5 19.5 18.8284 19.5 18V8.5H4.5ZM5.25 12C5.25 11.5858 5.58579 11.25 6 11.25H8C8.41421 11.25 8.75 11.5858 8.75 12C8.75 12.4142 8.41421 12.75 8 12.75H6C5.58579 12.75 5.25 12.4142 5.25 12ZM11 11.25C10.5858 11.25 10.25 11.5858 10.25 12C10.25 12.4142 10.5858 12.75 11 12.75H13C13.4142 12.75 13.75 12.4142 13.75 12C13.75 11.5858 13.4142 11.25 13 11.25H11ZM15.25 12C15.25 11.5858 15.5858 11.25 16 11.25H18C18.4142 11.25 18.75 11.5858 18.75 12C18.75 12.4142 18.4142 12.75 18 12.75H16C15.5858 12.75 15.25 12.4142 15.25 12ZM6 15.25C5.58579 15.25 5.25 15.5858 5.25 16C5.25 16.4142 5.58579 16.75 6 16.75H8C8.41421 16.75 8.75 16.4142 8.75 16C8.75 15.5858 8.41421 15.25 8 15.25H6ZM10.25 16C10.25 15.5858 10.5858 15.25 11 15.25H13C13.4142 15.25 13.75 15.5858 13.75 16C13.75 16.4142 13.4142 16.75 13 16.75H11C10.5858 16.75 10.25 16.4142 10.25 16ZM16 15.25C15.5858 15.25 15.25 15.5858 15.25 16C15.25 16.4142 15.5858 16.75 16 16.75H18C18.4142 16.75 18.75 16.4142 18.75 16C18.75 15.5858 18.4142 15.25 18 15.25H16Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
    width: 18px;
    height: 20px;
}
.easychat-modal-date-time-div .date-time-div .date-time-input-div input[type="time"]::-webkit-calendar-picker-indicator{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3C16.9707 3 21 7.0302 21 12C21 16.9698 16.9707 21 12 21C7.0293 21 3 16.9698 3 12C3 7.0302 7.0293 3 12 3ZM12 4.5003C7.8645 4.5003 4.5003 7.8645 4.5003 12C4.5003 16.1355 7.8645 19.4997 12 19.4997C16.1355 19.4997 19.4997 16.1355 19.4997 12C19.4997 7.8645 16.1355 4.5003 12 4.5003ZM11.325 6.6C11.6665 6.6 11.9491 6.8541 11.9938 7.18345L12 7.275V12H14.925C15.2976 12 15.6 12.3024 15.6 12.675C15.6 13.0166 15.3459 13.2991 15.0166 13.3438L14.925 13.35H11.325C10.9834 13.35 10.7009 13.0959 10.6562 12.7666L10.65 12.675V7.275C10.65 6.9024 10.9524 6.6 11.325 6.6Z' fill='%23212121'/%3E%3C/svg%3E%0A");
    width: 18px;
    height: 18px;
}


.easychat-new-modal-div{
  padding: 0px !important;
  background: #FFFFFF;
  border-radius: 10px;
  max-height: 100%;
}
.easychat-new-modal-div .modal-content{
  padding: 0;
}
.easychat-new-modal-div .modal-content .modal-content-header{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background: #FFFFFF;
  padding: 24px 56px;
  border-bottom: 1px solid #EBEBEB;
  /* margin-bottom: 24px; */
}
.easychat-new-modal-div .modal-content .modal-content-header h5{
  text-align: left !important;
  margin: 0;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-content .modal-content-header svg{
 cursor: pointer;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div{
  padding: 0 40px;
  padding-top: 24px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody{
  background: transparent !important;
  box-shadow: none!important;
  border-radius: 0px !important;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td{
  max-width: 100%;
  width: 100%;
  border-bottom: 0px;
  padding: 0px !important;
  display: table;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td p{
  display: flex;
  flex-direction: column;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  margin: 0 0 16px 0;
  letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td p span{
  /* font-family: 'Silka';  */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #7B7A7B;
  margin-top: 4px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td input{
  text-align: left !important;
  background: #FFFFFF;
  border: 1px solid #DADADA !important;
  border-radius: 4px !important;
  width: 100% !important;
  /* margin-top: 16px; */
  margin-bottom: 24px;
  height: 40px !important;
  padding: 0px 16px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  box-sizing: inherit;
  box-shadow: none !important;
  margin-top: 0;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td select,
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .select2 .select2-selection{
  text-align: left !important;
  background: #FFFFFF;
  border: 1px solid #DADADA !important;
  border-radius: 4px !important;
  width: 100% !important;
  /* margin-top: 16px; */
  margin-bottom: 24px;
  height: 40px !important;
  padding: 0px 16px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  box-sizing: inherit;
  box-shadow: none !important;
  margin-top: 0;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .select2{
  width: 100% !important;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .added-email-address-div .email-address-tag-div{
     background: #EFF6FF;
     border-radius: 4px;
     padding: 0 12px;
     height: 41px;
     display: inline-flex;
     align-items: center;
     margin-bottom: 16px;
     /* font-family: 'Silka'; */
     font-style: normal;
     font-weight: 500;
     font-size: 14px;
     line-height: 17px;
     color: #0254D7;
     margin-right: 10px;
     letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .added-email-address-div .email-address-tag-div svg{
  margin-left: 19px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  margin-top: 4px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .added-email-address-div{
  max-height: 125px;
  overflow-y: auto;
}

.easychat-new-modal-div .modal-footer{
  padding: 0px 32px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.easychat-new-modal-div .modal-footer button.easychat-new-modal-submit-btn-div{
  background: #0254D7 !important;
  border-radius: 4px !important;
  height: 40px;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF !important;
  padding: 0 24px;
  box-shadow: none !important;
  transform: none;
}
.easychat-new-modal-div .modal-footer button.easychat-new-modal-submit-btn-div a{
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500 ;
  font-size: 14px ;
  line-height: 17px;
  color: #FFFFFF ;
}
.easychat-new-modal-div .modal-content .modal-content-header .modal-content-header-with-subheading span{
  /* font-family: 'Silka';  */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7B7A7B;
  letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item{
  background: #F8F8F8 !important;
  border: 1px solid #EBEBEB;
  box-shadow: inset 0px -1px 0px rgb(102 102 102 / 8%) !important;
  border-radius: 4px;
  height: 40px;
  margin: 0 0;
  padding: 0px 0px 0px 16px !important;
  width: 100%;
  margin-bottom: 8px;
}

.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div{
  display: flex;
  align-items: center;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div input{
  border: 0px !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 0 !important;
  background: transparent;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px !important;
  line-height: 14px;
  color: #2D2D2D;
  height: 100% !important;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div .secondary-content{
  height: 37px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div .secondary-content a.delete-button-api-url{
  padding: 0 18px;
}
.easychat-new-modal-div .modal-content .easychat-add-new-api-div{
  margin-bottom: 32px;
  max-height: 346px;
  overflow-y: auto;
  padding-top: 24px;
}
.ace_gutter-cell,.ace_content{
  padding-top: 5px;
}