.left-side-div {
    height: 100vh;
    position: relative;
}

.left-side-div .traingle-area {
    right: 0%;
    position: absolute;
}

.left-side-div .traingle-area:after {
    content: "";
    position: absolute;
    right: 0%;
    border-top: 50vh solid transparent;
    border-bottom: 50vh solid transparent;
}

.right-side-div {
    height: 100vh;
    background-color: white;
    overflow-y: auto;
}

.main-page-row {
    margin-bottom: unset !important;
    display: flex;
    justify-content: center;
}

.logo-div {
    margin-top: 29% !important;
    font-family: Silka;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    padding-top: 25px;
    position: absolute;
    margin-left: 30%;
    z-index: 99999;
}

.cogno-logo {
    height: 5em;
}

.brand-text {
    font-family: Silka;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    z-index: 99999;
    margin-top: 64% !important;
    margin-left: 3%;
    margin-right: 6%;
}

#sign_up_btn_show_div {
    width: 296px;
    height: 37px;
    color: rgb(2, 84, 215);
}

#welcome_message {
    font-family: Silka;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-top: 1rem !important;
    margin-left: 60px;
}

#login_message {
    font-size: 20px!important;
    margin-bottom: 17px;
    font-family: Silka;
    font-style: normal;
    font-weight: 500!important;
    line-height: 24px;
    color: #4d4d4d;
}

.form-messages {
    font-family: Silka;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4d4d4d;
}

.form-fields {
    padding: 16px 16px 15px;
    background: #ffffff;
    border: 1px solid #DADADA !important;
    box-sizing: border-box;
    border-radius: 4px !important;
    margin-top: 1em !important;
    height: 38px !important;
    width: 333px !important;
}

.cogno-text {
    float: right;
    text-decoration: none;
    color: #909090;
    margin-top: -11px;
}

.captcha-image-div {
    background: #ffffff !important;
    box-sizing: border-box !important;
    border-radius: 30px !important;
    border: 1px solid #e6e6e6 !important;
}


/* 
        #captcha_image{
          width: 100px;
          height: 38px;
          margin-top: 0.2em;
          margin-left: 1em;
        }
        */

#captcha_image {
    width: 260px;
    height: 50px;
    margin-top: 1em;
    margin-left: 1em;
}

.login_button_main {
    background: #0254d7;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    width: 345px !important;
}

.sso_login {
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    width: 345px !important;
    color: #c9291f;
    border: 1px solid #c9291f;
    margin-top: -25px;
    font-size: unset !important;
}


/*
        #captcha{
          width: 140% !important;
          height: 40px;
          border-radius: 30px !important;
          border: solid 1px lightgrey !important;
          padding: unset !important;
          margin-top: 2.3em;
          padding-left: 10px !important;
        }
        */

#captcha-input-field {
    border-radius: 10px;
    text-align: center;
    font-size: 0.8rem;
    width: 300px !important;
    margin: unset;
}

#signup_btn:focus {
    background: #0254d7 !important;
}

#signup_btn:hover {
    background: #0254d7 !important;
}

#login_btn:focus {
    background: #0254d7 !important;
}

#login_btn:hover {
    background: #0254d7 !important;
}

.sso_login:focus {
    background: white !important;
}

.sso_login:hover {
    background: white !important;
}

.forgot-pass-otp-input {
    margin: 0 5px;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    border: solid 1px #2126bd;
    box-shadow: 0 0 5px #2126bd inset;
    outline: none;
    width: 10%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
}

.forgot-pass-back {
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;
    z-index: 99999 !important;
    max-height: 85%;
    top: 5%;
    border-radius: 15px;
    background-color: #ffffff !important;
}

@-moz-document url-prefix() {
    .forgot-pass-back {
        width: -moz-fit-content;
    }
}

.forgot-pass-card {
    background-color: white;
    width: 500px;
    text-align: center;
    padding: 2rem;
}

.forgot-pass-step-1 h1 {
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.forgot-pass-step-1 h2 {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}

.forgot-pass-step-1 input {
    margin-bottom: 1rem;
    padding: 10px 18px;
    border-radius: 30px;
    border: 1px solid #2126bd;
    font-size: 12px;
    outline: none;
}

.forgot-pass-step-1 a {
    padding: 0.5em 1rem;
    background-color: #2126bd;
    border-radius: 2rem;
    color: white;
    display: block;
    width: fit-content;
    margin: auto;
}

@-moz-document url-prefix() {
    .forgot-pass-step-1 a {
        width: -moz-fit-content;
    }
}

.forgot-pass-step-2 h5 {
    font-size: 1.2rem;
    margin: 0;
}

.forgot-pass-step-2 button {
    margin: 10px auto;
    background-color: #2126bd;
    border: 1px solid;
    padding: 0.7rem 2rem;
    color: white;
    border-radius: 2em;
}

.forgot-pass-step-3 input {
    margin-bottom: 1rem;
    padding: 5px 5px;
    border-radius: 1rem;
    border: 2px solid #2126bd;
    background-color: #2126bd1a;
    outline: none;
}

.forgot-pass-step-3 a {
    padding: 0.5em 1rem;
    background-color: #2126bd;
    border-radius: 2rem;
    color: white;
    display: block;
    width: fit-content;
    margin: auto;
}

.transparent-btn {
    background-color: transparent !important;
    color: blue !important;
    border: 1px solid blue;
}

input {
    font-size: 13px !important;
}

input:focus:not([readonly]) {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

#login_btn {
    height: 37px !important;
    padding-top: 2px;
}

.sso_login {
    height: 37px !important;
    padding-top: 2px;
}

.login_button_main {
    height: 37px !important;
    padding-top: 2px;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-height: 600px) {
    .right-side-div {
        overflow-y: auto;
    }
}


/*  new custom css for forgot pass */


/* css for forgot pass start */

.logo-container {
    font-family: Silka;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}

.brand-text-container {
    font-family: Silka;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    padding: 0 1rem;
}

#forgot-pass-wrapper .forgot-pass-back-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    max-height: 598px !important;
    z-index: 99999 !important;
    /* max-height: 85%; */
    top: 5%;
    border-radius: 4px;
    background-color: #ffffff !important;
}

.forgot-pass-step-1 .forgot-password-captcha-refresh-button {
    color: white;
    cursor: pointer;
    border-radius: 4px;
    height: 15px;
    padding: 2px;
    width: 15px;
    margin: 2px 0;
    display: inline-block;
    background-color: transparent;
}

#forgot-pass-wrapper .forgot-pass-back-modal .forgot-pass-card {
    background-color: white;
    width: 420px;
    text-align: start;
    padding: 2rem;
}

#forgot-pass-wrapper .forgot-pass-back-modal .forgot-pass-step-1 .input-div p {
    margin: 0;
    font-size: 16px;
}

#forgot-pass-wrapper .forgot-pass-back-modal .forgot-pass-step-1 input {
    margin-top: 11px;
    margin-bottom: 20px !important;
    padding: 11px 18px;
    border-radius: 30px;
    border: 1px solid #2126bd;
    font-size: 14px !important;
    outline: none;
    outline: none;
    border: 1px solid #E8E8E8;
    width: 100%;
}

#forgot-pass-wrapper .forgot-pass-back-modal .forgot-pass-step-1 .get-otp-btn {
    padding: 0.5em 1rem;
    background-color: #0254D7;
    border-radius: 2rem;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
}

#forgot-pass-wrapper .button-group .password-reset-cancel {
    padding: 0.5em 1rem;
    background: transparent;
    border-radius: 2rem;
    color: #7B7A7B;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

#forgot-pass-wrapper .error-message-text {
    display: none;
    font-size: 14px;
    font-weight: normal;
    color: #FF0000;
    margin: 8px 0;
    text-align: start;
}

#forgot-pass-wrapper .heading-div p {
    margin: 10px 0;
    color: #7B7A7B;
    font-size: 16px;
    text-align: start;
}

#forgot-pass-wrapper .heading-div h5 {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    text-align: start;
}

#forgot-pass-wrapper .heading-div span {
    color: #2d2d2d;
}

.hidden-div {
    display: none;
}

.show-div {
    display: block;
}

#main-page-row-div .right-side-div .row .col.s7 {
    margin-left: 0 !important;
}

#main-page-row-div .right-side-div {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin-top: 1rem;
}


/* css for forgot password div */

#forgot-pass-wrapper .forgot-pass-otp-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    max-height: 598px !important;
    z-index: 99999 !important;
    /* max-height: 85%; */
    top: 5%;
    border-radius: 4px;
    background-color: #ffffff !important;
}

#forgot-pass-wrapper .forgot-pass-otp-modal .forgot-pass-otp-card {
    background-color: white;
    width: 370px;
    text-align: center;
    padding: 2rem;
}

#forgot-pass-wrapper .forgot-pass-otp-modal .forgot-pass-otp-card .forgot-pass-otp-input {
    width: 47.54px !important;
    height: 61.8px;
    margin: 0 !important;
    text-align: center;
    line-height: 40px;
    font-size: 30px !important;
    outline: none;
    border: 1px solid #c4c4c4;
    box-shadow: none !important;
    width: 10%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    color: #000000;
}

#forgot-pass-wrapper .button-group .verify-otp {
    padding: 0.5em 1rem;
    background-color: #0254D7;
    border-radius: 2rem;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 17px !important;
    font-weight: 500;
}

#forgot-pass-wrapper .forgot-pass-otp-modal .forgot-pass-otp-card .resend-otp-div p {
    margin-bottom: 0;
}

#forgot-pass-wrapper .forgot-pass-otp-modal .forgot-pass-otp-card .resend-otp-div .resend-otp-btn {
    background: transparent !important;
    color: #2F80ED;
    padding: 0;
    margin: 8px auto;
    border: none;
    border-bottom: 1px solid #2F80ED;
    border-radius: 0;
    cursor: pointer;
}

#forgot-pass-wrapper .forgot-pass-otp-modal .forgot-pass-otp-card .heading-div .edit-btn {
    background: transparent !important;
    color: #2F80ED;
    padding: 0;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    display: inline-block !important;
    cursor: pointer;
}

#forgot-pass-wrapper .forgot-pass-sucess-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    max-height: 598px !important;
    z-index: 99999 !important;
    /* max-height: 85%; */
    top: 5%;
    border-radius: 4px;
    background-color: #ffffff !important;
}

#forgot-pass-wrapper .forgot-pass-sucess-modal .forgot-pass-sucess-card {
    background-color: white;
    width: 420px;
    text-align: start;
    padding: 2rem;
}

#forgot-pass-wrapper .forgot-pass-sucess-modal .forgot-pass-sucess-div .sucess-svg-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* css for reset password */

#right-side-div-wrapper .reset-pass-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#right-side-div-wrapper .reset-pass-wrapper .reset-pass-div {
    width: 498px;
    height: 589px;
    padding: 3.5rem;
}

#right-side-div-wrapper .reset-pass-wrapper .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-side-div-wrapper .reset-pass-wrapper .button-group .reset-pass-btn,
.back-to-login-btn {
    padding: 0.5em 1rem;
    background-color: #0254D7;
    border-radius: 2rem;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}

#right-side-div-wrapper .reset-pass-wrapper .reset-pass-div .button-group .password-reset-cancel {
    padding: 20px 1rem;
    background: transparent;
    border-radius: 2rem;
    color: #7B7A7B;
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
}

#right-side-div-wrapper .reset-pass-wrapper .reset-pass-div .form-fields {
    background: #ffffff;
    border: 1px solid #c4c4c4 !important;
    box-sizing: border-box;
    border-radius: 30px !important;
    width: 100% !important;
    height: 38px !important;
    margin-top: 10px !important;
    font-size: 14px !important;
    padding: 0.5em 20px !important;
}

#right-side-div-wrapper .reset-pass-wrapper .reset-pass-div form p {
    margin: 0 !important;
    color: #2d2d2d;
}

#right-side-div-wrapper .reset-pass-wrapper .reset-pass-div form .error-message-text {
    font-size: 14px;
    font-weight: normal;
    color: #FF0000;
    margin-top: 10px;
}

#right-side-div-wrapper .reset-pass-wrapper .sub-heading,
.hint-text {
    color: #7B7A7B;
    font-size: 14px;
}

#right-side-div-wrapper .reset-pass-wrapper .reset-pass-success-div .svg-icon-div {
    display: flex;
    justify-content: center;
}


/* css for create password */

#right-side-div-wrapper .create-pass-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#right-side-div-wrapper .create-pass-wrapper .create-pass-div {
    width: 498px;
    height: 589px;
    padding: 3.5rem;
}

#right-side-div-wrapper .create-pass-wrapper .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-side-div-wrapper .create-pass-wrapper .button-group .create-pass-btn,
.back-to-login-btn {
    padding: 0.5em 1rem;
    background-color: #0254D7;
    border-radius: 2rem;
    color: white;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

#right-side-div-wrapper .create-pass-wrapper .create-pass-div .button-group .password-reset-cancel {
    padding: 20px 1rem;
    background: transparent;
    border-radius: 2rem;
    color: #7B7A7B;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
}

#right-side-div-wrapper .create-pass-wrapper .create-pass-div .form-fields {
    background: #ffffff;
    border: 1px solid #c4c4c4 !important;
    box-sizing: border-box;
    border-radius: 30px !important;
    width: 100% !important;
    height: 38px !important;
    margin-top: 10px !important;
    padding: 0.5em 20px !important;
}

#right-side-div-wrapper .create-pass-wrapper .create-pass-div form p {
    margin: 0 !important;
    color: #2d2d2d !important;
}

#right-side-div-wrapper .create-pass-wrapper .create-pass-div form .error-message-text {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #FF0000;
    margin-top: 10px;
}

#right-side-div-wrapper .create-pass-wrapper .sub-heading,
.hint-text {
    color: #7B7A7B;
    font-size: 14px;
}

#right-side-div-wrapper .create-pass-wrapper .svg-icon-div {
    display: flex;
    justify-content: center;
}


/* error css for create password */

.error-wrapper .heading h5 {
    color: #FF0000;
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
}


/* class to make btn disabled */

.disabled-btn {
    opacity: 0.4;
    pointer-events: none;
}

.mt-mb-1 {
    margin: 10px 0;
}

.mt-mb-3 {
    margin: 30px 0;
}


/* css to disabled resend otp link */

.disabled-link {
    color: #7B7A7B !important;
    border: none;
    border-bottom: 1px solid #7B7A7B !important;
    pointer-events: none;
}

.error-message-text {
    display: none;
}


/* login page scrollbar css */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}
#otp
{
    padding: 45px;
    align-items: center;
    justify-content: center;
    width: 400px;
}
#otp h5
{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Silka';
    font-style: normal;
    text-align: center;
    color: #2D2D2D;
    margin: 24px 0px;
}
#otp p{
    
    color: #7B7A7B;
    font-size: 16px;
    text-align: center;
    margin: 24px 0px 10px 0px;
}
#otp .heading-div span {
        color: #2d2d2d;
    }
#otp .heading-div .edit-btn {
    background: transparent !important;
    color: #2F80ED;
    padding: 0;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    display: inline-block !important;
    cursor: pointer;
}
#otp .forgot-pass-otp-input {
    width: 47.54px !important;
    height: 61.8px;
    margin: 0 !important;
    text-align: center;
    line-height: 40px;
    font-size: 30px !important;
    outline: none;
    box-shadow: none !important;
    width: 10%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    background: #EFF6FF;
}
#otp  .resend-otp-div .resend-otp-btn {
    background: transparent !important;
    color: rgba(47, 128, 237, 0.25);
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(47, 128, 237, 0.25);
    border-radius: 0;
    cursor: pointer;
    margin-left: 70px;
}
#otp .button-group .verify-otp {
    padding: 0.5em 1rem;
    border-radius: 4px;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 17px !important;
    font-weight: 500;
}
#otp  .button-group .password-reset-cancel {
    padding: 20px 1rem;
    background: transparent;
    border-radius: 2rem;
    color: #4D4D4D;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
}

#otp .error-otp-input {
    background: #FFF9F9!important;
    border: 1px solid #E10E00!important;
    color: #E10E00!important;
}

#welcome_message {
    font-family: Silka;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #1B65DB;
    margin-top: 1rem !important;
    /* margin-left: 11em !important; */
    margin-left: 60px;
}

.login_button_main {
    margin-top: 10px!important;
    border-radius: 4px!important;
    padding: 8px 24px 0px 20px!important;
    width: 345px !important;
    font-weight: 500!important;
    font-size: 18px!important;
    line-height: 24px!important;
    height: 40px!important;
}
#login_btn, #verify_btn {
    height: 40px !important;
}

 #login_btn:disabled,
 #login_btn[disabled],
 #verify-login-otp-button:disabled,
 #verify-login-otp-button[disabled],
 #verify_btn:disabled,
 #verify_btn[disabled], 
 #forgot-password-modal-get-otp-button:disabled, 
 #forgot-password-modal-get-otp-button[disabled],   #signup_btn:disabled, 
 #signup_btn[disabled]
{
    opacity: 0.25!important;
}
.sso_login {
  border: 1px solid #DADADA!important;
  border-radius: 4px!important;
  height: 50px!important;
  padding: 10px 22px 0px 4px!important;
  text-transform: none!important;


  }
  .sso_login h5{
  font-family: 'Silka';
  color: #2D2D2D;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-left: 20px;
    margin-top: -4px;
  }
  .sso_login p{
  font-family: 'Silka';
  color: #504b4b;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  margin-left: -120px;
    margin-top: 14px;
  }