* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#0c75d6),
        color-stop(100%, #1c35c7),
        to(#1c35c7)
    );
    background: linear-gradient(180deg, #0c75d6 0%, #1c35c7 100%, #1c35c7 100%);
}

body {
    background: #1c35c7;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#0c75d6),
        color-stop(100%, #1c35c7),
        to(#1c35c7)
    );
    background: linear-gradient(180deg, #0c75d6 0%, #1c35c7 100%, #1c35c7 100%);
    font-family: "Silka", Sans-Serif;
    background: url("./world.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

.toast {
    font-weight: 400 !important;
    border-radius: 30px;
}

.gy-center {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.gy-flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.gy-flex-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}

.gy-loginCard {
    width: 750px;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
    border-radius: 20px !important;
    padding: 30px 0px 10px 0px;
    /*overflow-y: scroll;*/
    margin-top: 10px;
    /* background: url('./glass.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    /* background: linear-gradient(180deg, #FFFFFF 9.75%, #F0F3FF 76.34%); */
    /* height: 92vh !important; */
}

/* .gy-loginCard:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    pointer-events: none;
} */
.gy-input {
    width: 85% !important;
    border: 1px solid #2126bd !important;
    border-radius: 5px !important;
    padding: 0px 0px 0px 20px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 1rem !important;
    margin-bottom: 2px !important;
    -webkit-box-shadow: 0px 0px 0px rgba(217, 217, 255, 0) inset !important;
    box-shadow: 0px 0px 0px rgba(217, 217, 255, 0) inset !important;
}

.gy-input:focus {
    -webkit-box-shadow: 0px 0px 30px rgba(217, 223, 255, 0.6) inset !important;
    box-shadow: 0px 0px 30px rgba(217, 217, 255, 0.6) inset !important;
}

.gy-input-light {
    width: 60% !important;
    border: 1px solid #a1a1a1 !important;
    border-radius: 5px !important;
    padding: 0px 0px 0px 20px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.gy-input-light:focus {
    -webkit-box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.15) inset !important;
    box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.15) inset !important;
}

.gy-cogno-button {
    background: #272bb9;
    border-radius: 30px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 80px;
    font-weight: 500 !important;
    /* width: 200px; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gy-cogno-button:hover {
    background: #272bb9;
    border-radius: 30px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 80px;
    /* width: 200px; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.205);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.205);
}

.gy-input::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #424242;
    opacity: 1;
    /* Firefox */
}

.gy-input:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #424242;
    opacity: 1;
    /* Firefox */
}

.gy-input::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #424242;
    opacity: 1;
    /* Firefox */
}

.gy-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #424242;
    opacity: 1;
    /* Firefox */
}

.gy-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #424242;
}

.gy-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #424242;
}

.deep-purple-text.text-darken-3 {
    color: #2c38b9 !important;
}

.easychat-button,
.btn {
    background-color: #2c38b9 !important;
}

input {
    font-family: "Silka", Sans-Serif;
}

#faq_table {
    background: #fff !important;
}

#faq_table td {
    padding: 20px !important;
}

.orange-text.text-darken-3 {
    color: black !important;
}

nav {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    background: transparent !important;
}

a {
    color: #0b1e65;
}

th {
    font-weight: 500 !important;
    background: #fff !important;
    padding: 1rem 20px !important;
    border: none !important;
    background: #e3e9ff !important;
    border-radius: 0px !important;
    color: #254a9c !important;
    /*color: white !important;*/
}

.collapsible-body {
    background: rgba(255, 255, 255, 0.5);
}

td {
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem 20px 10px 20px !important;
    border: none;
    /*box-shadow: 0px 1px 1px #1C43C5;*/
    border-radius: 0px;
    border-bottom: 1px solid #e7e7e7;
}

.row .col.l3 {
    border-radius: 30px;
}

.tabs .tab a {
    color: #2540a0;
    background: rgba(254, 254, 255, 0.8) !important;
}

.easychat-button,
.btn {
    background-color: #2743cb !important;
    color: white !important;
    border-radius: 30px;
    font-family: "Silka";
    font-weight: 400 !important;
    text-transform: capitalize;
    letter-spacing: 0em !important;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.easychat-button:hover {
    background-color: #1c43c5 !important;
    color: white !important;
    font-weight: 400 !important;
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2) !important;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.btn,
.btn-small {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 0.9rem !important;
    letter-spacing: -0.02em;
    font-weight: 400 !important;
    text-transform: capitalize;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.btn:hover,
.btn-small:hover {
    -webkit-transform: translate(0, -2px);
    transform: translate(0, -2px);
    -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2) !important;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.red {
    background-color: #2235bd !important;
    color: white !important;
}

.green.lighten-3 {
    background-color: #1ab985 !important;
    color: white !important;
    font-weight: 400 !important;
    text-transform: capitalize;
    border-radius: 2px;
}

.green.lighten-2 {
    background: #038456 !important;
}

.purple.lighten-4,
.purple.darken-3 {
    background-color: #2235bd !important;
}

.grey.lighten-3 {
    background-color: #2235bd !important;
    color: white !important;
    border-radius: 30px;
}

.card.medium {
    border-radius: 30px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05) !important;
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05) !important;
}

.card-action {
    border-radius: 0 0 30px 30px !important;
}

.deep-purple.darken-2 {
    background-color: #2126bd !important;
    border-radius: 30px !important;
}

.info-box {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 10px;
}

/* Analytics Page */
.card > div {
    border-radius: 10px;
    background: transparent;
}

.easychat-footer {
    font-family: "Silka";
}

.easychat-nps-icon {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* Dropdown */
* {
    outline: none !important;
}

#chat-frame #sidepanel #search label {
    margin: 10px !important;
}

.cke_chrome {
    display: block;
    border: 0px solid #e5e9fd;
}

.btn {
    border-radius: 30px !important;
}

#select2-select-export-type-container {
    padding: 0px !important;
}

#upload-bot-welcome-video-url {
    border-radius: 30px !important;
    -webkit-box-shadow: 0px 0px 1px #3445c6 !important;
    box-shadow: 0px 0px 1px #3445c6 !important;
    border: none !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    border: none !important;
    -webkit-box-shadow: 0px 0px 0px black;
    box-shadow: 0px 0px 0px black;
    border-radius: 30px;
}

@media screen and (max-width: 1200px) {
    .gy-loginCard {
        margin-bottom: 20px !important;
    }
    .gy-cogno-button {
        background: #272bb9;
        border-radius: 30px;
        color: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 30px;
    }

    .section.no-pad-bot {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
}

@media screen and (max-width: 860px) {
    .gy-loginCard {
        width: 80%;
        margin-bottom: 20px !important;
    }
}

@media screen and (max-height: 700px) {
    .gy-loginCard {
        margin-bottom: 20px !important;
    }
}

/*# sourceMappingURL=login.css.map */

/* Fonts */
@font-face {
    font-family: "Silka";
    src: url("/static/EasyChatApp/fonts/Silka/Silka-Thin.woff2") format("woff2"),
        url("/static/EasyChatApp/fonts/Silka/Silka-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Silka";
    src: url("/static/EasyChatApp/fonts/Silka/Silka-Light.woff2") format("woff2"),
        url("/static/EasyChatApp/fonts/Silka/Silka-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Silka";
    src: url("/static/EasyChatApp/fonts/Silka/Silka-Regular.woff2") format("woff2"),
        url("/static/EasyChatApp/fonts/Silka/Silka-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Silka";
    src: url("/static/EasyChatApp/fonts/Silka/Silka-Medium.woff2") format("woff2"),
        url("/static/EasyChatApp/fonts/Silka/Silka-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Silka";
    src: url("/static/EasyChatApp/fonts/Silka/Silka-Bold.woff2") format("woff2"),
        url("/static/EasyChatApp/fonts/Silka/Silka-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Silka";
    src: url("/static/EasyChatApp/fonts/Silka/Silka-RegularItalic.woff2") format("woff2"),
        url("/static/EasyChatApp/fonts/Silka/Silka-RegularItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}
@media (min-width: 1000px) {
    #password {
        width: 22em !important;
    }
    #confirm_password {
        width: 22em !important;
    }
}
@media (min-width: 1400px) {
    #password {
        width: 25.5em !important;
    }
    #confirm_password {
        width: 25.5em !important;
    }
}

.gsuite-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 394px) {
    .gsuite-btn {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 380px) {
    .gsuite-btn {
        font-size: 11px !important;
    }
    .gsuite-svg {
        height: 17px;
    }
}

@media screen and (max-width: 357px) {
    .gsuite-btn {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 335px) {
    .gsuite-btn {
        font-size: 9px !important;
    }
    .gsuite-svg {
        height: 16px;
    }
}

/* login */

.forgot-pass-otp-input {
    margin: 0 5px;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    border: solid 1px #2126bd;
    box-shadow: 0 0 5px #2126bd inset;
    outline: none;
    width: 10%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
}

.forgot-pass-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    background-color: rgba(0, 0, 0, 0.4);
}

.forgot-pass-card {
    background-color: white;
    /*margin: 7vh auto;*/
    width: 500px;
    text-align: center;
    padding: 2rem;
    border-radius: 1em;
}

.forgot-pass-step-1 h1 {
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.forgot-pass-step-1 h2 {
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}

.forgot-pass-step-1 input {
    margin-bottom: 1rem;
    padding: 10px 18px;
    border-radius: 30px;
    border: 1px solid #2126bd;
    /* background-color: #2126BD1a; */
    font-size: 12px;
    outline: none;
}

.forgot-pass-step-1 a {
    padding: 0.5em 1rem;
    background-color: #2126bd;
    border-radius: 2rem;
    color: white;
    display: block;
    width: fit-content;
    margin: auto;
}

.forgot-pass-step-2 h5 {
    font-size: 1.2rem;
    margin: 0;
}

.forgot-pass-step-2 button {
    margin: 10px auto;
    background-color: #2126bd;
    border: 1px solid;
    padding: 0.7rem 2rem;
    color: white;
    border-radius: 2em;
}

.forgot-pass-step-3 input {
    margin-bottom: 1rem;
    padding: 5px 5px;
    border-radius: 1rem;
    border: 2px solid #2126bd;
    background-color: #2126bd1a;
    outline: none;
}

.forgot-pass-step-3 a {
    padding: 0.5em 1rem;
    background-color: #2126bd;
    border-radius: 2rem;
    color: white;
    display: block;
    width: fit-content;
    margin: auto;
}

.transparent-btn {
    background-color: transparent !important;
    color: blue !important;
    border: 1px solid blue;
}

/* redirect_after_login */

#email-notif-div {
    background: #ffffff;
    border-radius: 22px;
    margin-top: 10%;
}

#resend_button {
    width: 296px;
    height: 37px;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-top: 2em;
    color: #0254d7;
    border: 1px solid #0254d7;
}

#login-div .error-text{
    color: red;
    margin: 10px 0;
    margin-bottom: auto;
    display: none;
}

#verify-reset-password-otp-button{
    cursor:  pointer !important;
}
#toast-container{
    z-index: 100000 !important;
}

.create-pass-div .error-text{
    color: red;
    margin: 10px 0;
    margin-bottom: auto;
    display: none;
}
