.material-tooltip {
    max-width: 300px !important;
}

body {
    overflow-x: hidden;
}

#modal-message-history-action-error {
    width: 40em !important;
    overflow-wrap: break-word;
}

#modal-message-history-action-warning {
    width: 40em !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #2755cb !important;
}

.switch-custom label .lever-custom {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 19px;
    background-color: #fff;
    border: 3px solid #BECAD6;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
    padding-left: 0px !important;
}

#pagination_message_history .pagination {
    margin-bottom: 4rem;
}

.fixed-action-btn #revised-message-history-action {
    margin-bottom: 8px;
}


/* Apply Filter redesign CSS */

#modal-message-history-filter {
    background: #fff !important;
    max-height: 90%;
    top: 18% !important;
    padding: 0px !important;
    overflow-y: auto !important;
}

#modal-message-history-filter .modal-footer {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#modal-message-history-filter .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px !important;
    position: static;
    height: 40px !important;
    background: #0254D7 !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

#modal-message-history-filter .filter-modal-footer-btn-cancel {
    font-weight: 500 !important;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    height: 40px !important;
    color: #475569 !important;
    background: transparent !important;
    font-family: unset !important;
    margin: 2px 0px 0px !important;
}

#modal-message-history-filter .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

#modal-message-history-filter .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

#modal-message-history-filter .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
}

#modal-message-history-filter .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}

#modal-message-history-filter .analytics-filter-select-area input[type=radio] {
    display: none !important;
}

#modal-message-history-filter .analytics-filter-select-area input[type=radio]:checked+.filter-box {
    border: 1px solid #0254D7 !important;
}

#modal-message-history-filter .analytics-filter-select-area input[type=radio]:checked+.filter-box span {
    color: #0254D7 !important;
}

#modal-message-history-filter .analytics-filter-select-area .filter-box {
    padding: 0px 16px;
    height: 40px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 10px;
}

#modal-message-history-filter .analytics-filter-select-area .filter-box span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
}

#modal-message-history-filter .analytics-filter-select-area .filter-box span:before {
    font-size: 1.2em;
    display: block;
    font-weight: normal;
    color: white;
}

.filter-heading {
    font-weight: 600;
    font-size: 14px;
    color: #4D4D4D;
    margin: 15px 0px;
}

.analytics-filter-select-area,
.analytics-channel-select-area,
.analytics-custom-date-select-area {
    padding-left: 0px !important;
}

#modal-message-history-filter .analytics-channel-select-area .channel-box input[type="checkbox"] {
    display: none !important;
}

#modal-message-history-filter .analytics-channel-select-area .channel-box {
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    margin-bottom: 8px;
    vertical-align: middle;
}

#modal-message-history-filter .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label {
    border-color: #0254D7;
}

#modal-message-history-filter .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label span {
    color: #0254D7;
}

#modal-message-history-filter .analytics-channel-select-area .channel-box label {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    height: 40px;
    padding: 0px 16px;
    border-radius: 4px;
    border: 1px solid #F6F6F6;
}

#modal-message-history-filter .analytics-channel-select-area .channel-box label span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 8px;
}

#modal-message-history-filter .analytics-channel-select-area .channel-box input[type="checkbox"]:focus+label::before {
    outline: 0;
}

.modal-overflow-content-div {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-overflow-content-div::-webkit-scrollbar {
    display: none !important;
}

#modal-message-history-filter .modal-header h6 {
    font-weight: 600 !important;
    font-size: 16px;
    color: #000000;
}

.message-history-clear-input-div {
    margin-left: 10px;
    margin-right: 10px;
    visibility: hidden;
}

#search-user-input:focus+.message-history-clear-input-div, #search-user-input-static:focus+.message-history-clear-input-div {
    visibility: visible;
}


/* CUSTOM DATE */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
.instructions {
    display: inline-block;
    background: #E6E6E6;
    border: 1.24685px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 6.23425px;
    justify-content: center;
    align-items: center;
    padding: 12.4685px;
}

.easychat-bot-message-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.easychat-calendar-div {
    width: 320px;
    position: relative;
    margin-top: 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 16px 7px;
    display: flex;
    flex-direction: column;
}

.main-wrapping-div {
    display: flex;
}

.easychat-calendar-div .easychat-date-btn,
.calendar-div .easychat-time-btn {
    display: inline-block;
    height: 44px;
}

.easychat-calendar-div .date-time-picker-btns {
    /* outline: #2755CB solid 1px !important;  */
    cursor: pointer;
    display: inline-block;
    background: #FFFFFF !important;
    border: 1px solid #2755CB !important;
    box-sizing: border-box;
    border-radius: 6px !important;
    padding: 8px 9px;
    color: #2755CB;
    margin: 0 5px !important;
    height: 2.2rem !important;
}

.date-calendar {
    position: relative;
}

.datepicker-modal {
    position: absolute !important;
    width: 150% !important;
    left: -65% !important;
    top: -700% !important;
}

.datepicker-date-display {
    display: none !important;
}

.datepicker-active {
    border: none;
    background: #fff;
    color: #2755CB;
    cursor: pointer;
}

.date-displayer1,
.date-displayer2 {
    /* background-color: red; */
    /* position: absolute;  */
    top: 0;
    visibility: hidden;
}

.easychat-date-btn {
    position: relative;
}

.wrapper-date-picker-btn {
    position: relative;
}

.calendar-container {
    width: 55%;
    position: absolute;
    bottom: 70%;
    left: 41%;
}


/* Custom time picker css */

.custom-timepicker {
    margin-bottom: 20px;
    z-index: 100;
    display: none;
    position: relative;
    margin-left: 30px;
    top: 3%;
    background: #FFFFFF;
    box-shadow: 4px 6px 40px rgba(32, 32, 35, 0.16);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.custom-timepicker-heading {
    display: flex;
    justify-content: space-between;
}

.custom-timepicker-heading-text {
    font-family: "Silka", sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #2d2d2d;
}

.custom-timepicker-body {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.custom-timepicker-body ul {
    list-style-type: none;
}

.custom-timepicker-body ul li {
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

.hr-clock,
.min-clock,
.ampm-clock {
    width: 100px;
    height: 220px;
    overflow-y: scroll;
    background-color: #FBFCFF;
    cursor: pointer;
    padding-left: 26px;
}

.custom-timepicker-body label {
    cursor: pointer;
}

.hr-clock::-webkit-scrollbar,
.min-clock::-webkit-scrollbar,
.ampm-clock::-webkit-scrollbar {
    width: 5px;
    background: #fff;
    border: 1px solid #f6f6f6 !important;
    border-left: 1px solid #f6f6f6 !important;
    border-radius: 0 25px 25px 0;
    border-left: 0;
}

.hr-clock::-webkit-scrollbar-track,
.min-clock::-webkit-scrollbar-track,
.ampm-clock::-webkit-scrollbar-track {
    background-color: #fff;
    border: 1px solid #f6f6f6;
}

.hr-clock::-webkit-scrollbar-thumb,
.min-clock::-webkit-scrollbar-thumb,
.ampm-clock::-webkit-scrollbar-thumb {
    background: #C5D5FF;
    border-radius: 0 25px 25px 0;
}

.custom-timepicker-body input[type="radio"] {
    opacity: 0;
    pointer-events: none;
}

.custom-timepicker-footer {
    display: flex;
    justify-content: flex-end;
}

.custom-timepicker-footer .submit-btn {
    cursor: pointer;
    background: #2F80ED !important;
    border-radius: 4px !important;
    /* padding: 10px; */
    color: white;
    font-weight: 600 !important;
    margin: 0 5px;
    /* border: 1px solid #2137A0; */
    width: 100%;
    box-shadow: none !important;
}

.custom-timepicker-footer .cancel-btn {
    box-shadow: none;
    cursor: pointer;
    background: transparent !important;
    border-radius: 4px;
    /* padding: 10px; */
    color: #000 !important;
    margin: 0 5px;
    font-weight: 600 !important;
    border: none;
    display: none;
}

.datetimepicker-selected-time {
    background: #2F80ED;
    border: 2px solid #2F80ED;
    padding: 8px;
    border-radius: 4px;
    right: 21%;
    position: relative;
    color: white;
}

.cross-icon {
    cursor: pointer;
}


/* other css */

.btns-sections {
    display: none;
    width: 100%;
    justify-content: space-between;
}

.btns-sections .left-btns,
.btns-sections .right-btns {
    display: inline-block;
}

.btns-sections .left-btns .reset-btn {
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    color: #E53E3E;
    font-size: 10px;
    margin: 0 5px;
    border: none;
}

.btns-sections .right-btns .submit-btn {
    cursor: pointer;
    background: #2137A0;
    border-radius: 4px;
    padding: 10px;
    font-size: 10px;
    color: white;
    margin: 0 5px;
    border: 1px solid #2137A0;
}

.btns-sections .right-btns .cancel-btn {
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 10px;
    color: #2137A0;
    margin: 0 5px;
    border: none;
}

.date {
    color: #2755CB;
    font-size: 32px;
}

.month-year {
    margin-bottom: 0;
    font-size: 10px;
    color: #333333;
}

.day {
    color: #8E8E8E;
    font-size: 10px;
}

#ui-datepicker-div {
    width: 160px;
    top: 1% !important;
    left: 40% !important;
    box-shadow: 4px 6px 40px rgb(32 32 35 / 16%);
    padding: 15px !important;
    background: #fff;
    display: none;
}

#datepicker,
#datepicker2 {
    position: absolute;
    opacity: 1;
}

.ui-datepicker-next {
    position: absolute;
    right: 16px;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-corner-all {
    cursor: pointer;
}

.easychat-calendar-div-wrapper {
    display: flex;
}

#calendar-div-1 input:focus {
    border: 1px solid #2755CB !important;
}

#timepicker-container-1-0 .custom-timepicker .custom-timepicker-body input[type="radio"],
#timepicker-container-1-1 .custom-timepicker .custom-timepicker-body input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}


/* DATEPICKER CSS */

#ui-datepicker-div {
    width: auto;
    border-color: #fff;
    position: unset !important;
    margin-top: 12px;
    margin-left: 20px;
    top: 1% !important;
    left: 40% !important;
    box-shadow: 4px 6px 40px rgb(32 32 35 / 16%);
    padding: 20px;
    background: #fff;
    display: none;
}

#ui-datepicker-div .ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #fff;
    background: #fff;
}

#ui-datepicker-div .ui-state-active {
    background: #2F80ED;
    border: 2px solid #2F80ED;
    color: white;
    border-radius: 4px;
    padding: 6px 8px;
}

#ui-datepicker-div .ui-datepicker-header {
    border: none;
    padding: 10px;
    position: relative;
    text-align: center;
    background: white;
    border-radius: 6px;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-next .ui-icon {
    background-image: url(/static/EasyChatApp/img/right-arrow-mh.svg);
    background-position: center;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-prev .ui-icon {
    background-image: url(/static/EasyChatApp/img/left-arrow-mh.svg);
    background-position: center;
}

#ui-datepicker-div .ui-datepicker-month {
    height: 40px;
    overflow: auto;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    appearance: none;
    background-image: url(/static/EasyChatApp/img/drop-arrow-mh.svg);
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    font-weight: normal;
    color: #909090;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block !important;
    width: 40%;
}

#ui-datepicker-div .ui-datepicker-year {
    height: 40px;
    overflow: auto;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    appearance: none;
    background-image: url(/static/EasyChatApp/img/drop-arrow-mh.svg);
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    font-weight: normal;
    color: #909090;
    cursor: pointer;
    display: inline-block !important;
    width: 40%;
}

#ui-datepicker-div .ui-datepicker-prev {
    position: absolute;
    left: 0;
    top: 20px;
}

#ui-datepicker-div .ui-datepicker-next {
    position: absolute;
    right: 0;
    top: 20px;
}

#ui-datepicker-div .ui-datepicker-title {
    width: 100%;
    text-align: center;
    display: inline-block;
}

#ui-datepicker-div td {
    border-bottom: none;
    text-align: center;
}

#ui-datepicker-div th {
    padding: 1rem 0 !important;
    text-align: center;
}

.ui-corner-all {
    cursor: pointer;
}


/* DROPDOWN CSS */

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 8px 2px 24px;
    background: #F6F6F6;
    border: 2px solid #F6F6F6;
    box-sizing: border-box;
    border-radius: 24px;
    margin: 16px 0px 0px 0px;
    cursor: pointer;
}

.dropdown .title {
    font-size: 14px;
    line-height: 24px;
    color: #2D2D2D;
}

.wrapper-dropdown {
    position: relative;
}

.dropdown-menu {
    margin: 10px 0;
    /* width: 37%; */
    /* position: absolute; */
    /* top: 420px; */
    z-index: 100;
    background: #FFFFFF;
    box-shadow: 0px 6px 23px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 18px;
    display: none;
}

.no-elem {
    margin: 10px 0 !important;
    display: none;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}

.search-box {
    padding: 10px 0px;
    border-bottom: 0;
    border-radius: 18px 18px 0 0;
    transition: all 0.4s;
}

.search-box input {
    padding: 12px 16px !important;
    font-family: "Roboto", sans-serif;
    font-size: 16px !important;
    border-radius: 16px !important;
    border: 1px solid #e1e1e1 !important;
    transition: all 0.4s !important;
    background: #f6f6f6;
}

.search-box input[type="text"]:focus {
    border: 1px solid #e1e1e1 !important;
    outline: none !important;
    box-shadow: none !important;
}

.search-box input::-webkit-input-placeholder {
    color: #909090;
    font-family: Silka;
    font-size: 14px;
    background: url("/static/EasyChatApp/img/search-mh.svg");
    background-repeat: no-repeat;
    background-position: left;
}

.dropdown-menu .option .radio {
    display: none;
}

.dropdown-menu label {
    cursor: pointer;
    width: 100%;
    padding: 12px 0px;
}

.dropdown-menu-state label:hover {
    background-color: #f6f6f6;
}

.dropdown-menu-city label:hover {
    background-color: #f6f6f6;
}

.dropdown-menu-pincode label:hover {
    background-color: #f6f6f6;
}

.dropdown-menu .option {
    position: relative;
}

.dropdown-menu .item-checkbox {
    position: absolute;
    right: 35px;
    cursor: pointer;
}

.dropdown-menu hr {
    width: 100%;
    background-color: #F3F6FF;
    border: 1px solid #f6f6f6;
    margin: 0;
}

.dropdown-menu .option label {
    font-size: 14px;
    line-height: 24px;
    color: #2D2D2D;
    margin-left: 40px;
}

.category-tag {
    display: inline-block;
    padding: 2px 8px;
    font-size: 14px;
    line-height: 24px;
    margin-right: 2px;
    margin-top: 2px;
    color: #2D2D2D;
}

.cross-btn {
    position: relative;
    top: 2px;
    left: 4px;
}

.outer-dropdown-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.city-wrapper,
.state-wrapper,
.pincode-wrapper {
    display: none;
    margin-left: 15px;
}

.body::-webkit-scrollbar {
    width: 5px;
    background: #F3F6FF;
    border: 1px solid #E1E1E1;
    border-radius: 18px;
}

.body::-webkit-scrollbar-thumb {
    background: #88A3D2;
    border-radius: 18px;
}

.dropdown-menu .item-checkbox-state,
.dropdown-menu .item-checkbox-city,
.dropdown-menu .item-checkbox-pincode {
    position: absolute;
    left: 16px;
    cursor: pointer;
    opacity: 1;
    bottom: 7px;
}

.category-tag-each {
    display: inline-block;
    padding: 0px 8px;
    background: #ffffff;
    border-radius: 4px;
    font-size: 12px;
    margin-right: 4px;
    margin-top: 2px;
    font-weight: 500;
    border: 1px solid #0254D7;
}

.category-tag-each span {
    color: #0254D7 !important;
}

.cross-btn {
    position: relative;
    top: 2px;
    left: 4px;
}

.state-wrapper .dropdown .title {
    max-height: 60px;
    overflow: auto;
}

.state-wrapper .dropdown .title::-webkit-scrollbar {
    display: none;
}

.city-wrapper .dropdown .title {
    max-height: 60px;
    overflow: auto;
}

.city-wrapper .dropdown .title::-webkit-scrollbar {
    display: none;
}

.pincode-wrapper .dropdown .title {
    max-height: 60px;
    overflow: auto;
}

.pincode-wrapper .dropdown .title::-webkit-scrollbar {
    display: none;
}

#modal-message-history-filter {
    width: 60%;
    top: 4% !important;
}

@media screen and (max-width: 1607px) {
    #modal-message-history-filter {
        width: 78%;
    }
}

.message-history-filter-modal-tooltip-text {
    padding: 6px 10px;
    position: absolute;
    left: 50%;
    top: 50px;
    z-index: 101;
    transform: translateX(-50%);
    width: 320px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.02em;
    word-break: break-word;
    color: #FFFFFF;
    display: none;
}

.custom-tooltip-message-history {
    position: relative;
}

.filter-box.custom-tooltip-message-history:hover .message-history-filter-modal-tooltip-text {
    display: block;
}


/* Apply Filter redesign ends */


/*CSS 5.1*/

#message-history-info-table tr th:first-child {
    width: 40px !important;
}


/* Only icon view css */

.collapse-expand-icon-div {
    display: none;
}

.collabsible-sidebar-menu-wrapper span {
    display: none;
}

#main-console-sidenav {
    width: 110px;
}

#main-console-sidenav .collection-header {
    display: none;
}

.expanded-logo {
    display: none;
}

.easychat-custom-checkbox-wrapper {
    width: 0px;
    height: 20px;
    padding-right: 10px;
}

.easychat-custom-checkbox-wrapper [type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
    height: 14px !important;
    width: 14px !important;
    background-color: transparent;
    border: 2px solid #DADADA;
    top: 0px;
    z-index: 0;
}

.easychat-custom-checkbox-wrapper [type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    height: 14px !important;
    width: 14px !important;
    border: 2px solid #0254D7;
    background-color: #0254D7;
    z-index: 0;
}

.easychat-custom-checkbox-wrapper [type="checkbox"].filled-in:checked+span:not(.lever):before {
    top: 0;
    left: 2px !important;
    width: 3px !important;
    height: 7px !important;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ( 37deg);
    transform: rotateZ( 37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.easychat-custom-back-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    height: 30px;
    background: transparent;
    border: none;
    box-sizing: border-box;
    /* border-radius: 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #0254D7; */
    width: max-content;
}

.easychat-message-history-botname-text-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-left: 20px;
    color: #0254D7;
}

.switch-custom label {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #9E9E9E;
}

.easychat-text-primary-subheading {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #7B7A7B;
}


/* General dropdown styles start */

.select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder {
    color: #7B7A7B;
    font-family: "Silka", sans-serif;
    font-size: 14px;
    background-repeat: no-repeat !important;
    background: url('./search.svg');
    background-position: left;
    text-indent: 25px;
}

.select2-dropdown {
    top: 1px !important;
    padding: 0 !important;
    border-radius: 8px !important;
    margin-top: 5px;
}

.select2-dropdown .select2-search {
    padding: 8px;
}

.select2-dropdown .select2-search .select2-search__field {
    background-color: #FAFAFA;
    border-radius: 4px !important;
    border: 1px solid #F8F8F8 !important;
    border-bottom: 1px solid #F8F8F8 !important;
    margin: 0;
    margin-top: 0 !important;
    margin-left: 5px;
}

.select2-dropdown .select2-search .select2-search__field:focus {
    box-shadow: none !important;
}

.select2-dropdown .select2-results__options {
    border-radius: 8px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar {
    width: 5px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar-thumb {
    background: #88A3D2;
    border-radius: 8px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: 0 0 0px #777 !important;
    border-radius: 10px;
}

.select2-dropdown .select2-results__option {
    font-family: "Silka", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-style: normal;
    color: #2D2D2D !important;
    margin: 0 !important;
    border-radius: unset !important;
    padding: 12px 16px !important;
    border: 1px solid #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--highlighted {
    background-color: #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--selected {
    background-color: #F6F6F6 !important;
    color: #2D2D2D !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background: #F6F6F6 !important;
    color: #2D2D2D !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 130px !important;
}

.select2-container--default .select2-results__option--disabled {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 0px;
    height: 18px;
    width: 18px;
    margin-left: -12px;
    margin-top: -8px;
    background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.793 6.23271C14.0787 6.53263 14.0672 7.00737 13.7672 7.29306L8.51678 12.2944C8.22711 12.5703 7.77187 12.5703 7.4822 12.2944L2.23173 7.29306C1.93181 7.00737 1.92028 6.53263 2.20597 6.23271C2.49166 5.93279 2.96639 5.92125 3.26631 6.20694L7.99949 10.7155L12.7327 6.20694C13.0326 5.92125 13.5073 5.93279 13.793 6.23271Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0px;
    margin-top: -3px;
    margin-left: -10px;
    background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.206023 6.26863C-0.0796766 5.96871 -0.0681772 5.49397 0.231823 5.20828L5.48224 0.206941C5.77191 -0.0689588 6.22715 -0.0689588 6.51682 0.206941L11.7673 5.20828C12.0672 5.49397 12.0787 5.96871 11.7931 6.26863C11.5074 6.56855 11.0326 6.58009 10.7327 6.2944L5.99953 1.78584L1.26632 6.2944C0.966423 6.58009 0.491723 6.56855 0.206023 6.26863Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}

.easychat-custom-modal-subheading {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #2D2D2D;
    margin: 12px 0px;
}

.easychat-table-record-manage-dropdown-div p {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #7B7A7B;
    margin-right: 4px;
}

.easychat-table-record-manage-dropdown-div {
    display: flex;
    align-items: center;
}

#easychat_message_history_table_row_drop_container .select2-selection__rendered {
    line-height: 1.5;
    width: 90%;
}

#easychat_message_history_table_row_drop_container .select2-selection {
    height: 40px !important;
    border-radius: 4px !important;
    width: 100% !important;
    font-family: "Silka", Sans-Serif;
    padding: 9px 10px!important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB !important;
    text-align: left!important;
    color: #2D2D2D;
    box-shadow: none !important;
}

#easychat_message_history_table_row_drop_container .select2-container {
    width: 75px !important;
}

#easychat_message_history_table_row_drop_container .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 20px;
}

#easychat_message_history_table_row_dropdown_container .select2-search {
    display: none !important;
}

#modal-message-history-filter .analytics-filter-select-area .filter-box {
    border-radius: 4px !important;
}

#modal-message-history-filter .analytics-channel-select-area .channel-box {
    border-radius: 4px !important;
}

#location-dropdown-div .dropdown,
#location-dropdown-div .dropdown-menu {
    border-radius: 4px !important;
}

#location-dropdown-div .dropdown {
    margin-top: 0px !important;
    margin-left: -6px;
}

#location-dropdown-div .search-box {
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white
}

#modal-message-history-filter .select2-selection__rendered {
    line-height: 1.5;
    width: 90%;
}

#modal-message-history-filter .select2-selection {
    height: 41px !important;
    border-radius: 4px !important;
    border: none !important;
    width: 100% !important;
    font-family: "Silka", Sans-Serif;
    padding: 9px 10px!important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    background: #FAFAFA;
    text-align: left!important;
    color: #2D2D2D;
    box-shadow: none !important;
}

#modal-message-history-filter .select2-container {
    width: 400px !important;
}

.easychat-dual-range-slider {
    width: 400px;
    height: 160px;
}

.easychat-dual-range-slider .irs--flat .irs-min,
.easychat-dual-range-slider .irs--flat .irs-max {
    top: 42px;
    padding: 1px 3px;
    color: #999;
    font-size: 12px;
    background-color: #ffffff;
    visibility: visible !important;
}

.easychat-dual-range-slider .irs--flat .irs-handle {
    top: 18px;
    width: 16px;
    height: 16px;
    background-color: #2755CB;
    border-radius: 50%;
    cursor: pointer;
}

.easychat-dual-range-slider .irs--flat .irs-handle>i {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background-color: #2755CB;
}

.easychat-dual-range-slider .irs--flat .irs-line {
    top: 25px;
    height: 3px;
    background: rgba(106, 109, 205, 0.3);
    border-radius: 4px;
    cursor: pointer;
}

.easychat-dual-range-slider .irs--flat .irs-bar {
    top: 25px;
    height: 3px;
    background-color: #2755CB;
    cursor: pointer;
}

.easychat-dual-range-slider .irs-from,
.easychat-dual-range-slider .irs-to {
    display: none !important;
}

.easychat-dual-range-slider .easychat-min-max-range-div-wrapper .easychat-min-range-div,
.easychat-dual-range-slider .easychat-min-max-range-div-wrapper .easychat-max-range-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 41px;
    color: #2755CB;
}

.easychat-dual-range-slider .easychat-min-max-range-div-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
}

.easychat-dual-range-slider .easychat-min-max-range-div-wrapper .easychat-min-range-div-wrapper,
.easychat-dual-range-slider .easychat-min-max-range-div-wrapper .easychat-max-range-div-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.easychat-dual-range-slider .easychat-min-max-range-div-wrapper .easychat-min-range-div-wrapper p,
.easychat-dual-range-slider .easychat-min-max-range-div-wrapper .easychat-max-range-div-wrapper p {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #2D2D2D;
    margin: 8px;
}

.easychat-dual-range-slider #easychat_min_range_div input,
.easychat-dual-range-slider #easychat_max_range_div input {
    width: 27px !important;
    border: none !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    color: #2755CB !important;
    padding: 0px !important;
    box-sizing: border-box;
}

.easychat-message-history-edit-action-btn {
    background-color: #DADADA !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-action-btn {
    right: 34px;
    bottom: 110px;
}


/* custom modal css */

.modal.easychat-custom-modals-wrapper {
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    overflow: visible !important;
    /* width: 70% !important; */
}

.modal.easychat-custom-modals-wrapper .modal-footer {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal.easychat-custom-modals-wrapper .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px !important;
    position: static;
    height: 48px !important;
    background: #0254D7;
    border-radius: 30px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

.modal.easychat-custom-modals-wrapper .filter-modal-footer-btn-cancel {
    font-weight: 600 !important;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 56px !important;
    color: #000000 !important;
    background: transparent !important;
    font-family: unset !important;
}

.modal.easychat-custom-modals-wrapper .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

.modal.easychat-custom-modals-wrapper .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

.modal.easychat-custom-modals-wrapper .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
}

.modal.easychat-custom-modals-wrapper .modal-header .modal-heading-text-div {
    font-weight: 500 !important;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.2px;
}

.modal.easychat-custom-modals-wrapper .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}

.modal.easychat-custom-modals-wrapper .modal-footer {
    border-radius: 0 0 10px 10px;
}

.modal.easychat-custom-modals-wrapper .modal-overflow-content-div {
    width: 100%;
    max-height: calc(100vh - 16rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 8px;
    z-index: 101;
    margin: 8px 0px 12px;
    padding: 15px 8px 0px 0px;
    scrollbar-width: thin;
}

.easychat-custom-modal-heading-content {
    padding: 0px !important;
    margin-bottom: 20px;
    margin-left: 2px !important;
}

.easychat-custom-modal-heading-content p {
    margin: 0px 0px 24px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #2D2D2D !important;
}

.modal.easychat-custom-modals-wrapper .select2-selection__rendered {
    line-height: 1.5;
    width: 90%;
}

.modal.easychat-custom-modals-wrapper .select2-selection {
    height: 41px !important;
    border-radius: 4px !important;
    border: 1px solid #DADADA !important;
    width: 100% !important;
    font-family: "Silka", Sans-Serif;
    padding: 9px 10px!important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    background: #FAFAFA;
    text-align: left!important;
    color: #2D2D2D;
    box-shadow: none !important;
}

.modal.easychat-custom-modals-wrapper .select2-container {
    width: 55% !important;
}

#location-dropdown-header .select2-container {
    width: 100px !important;
}

#location-dropdown-header .select2-selection__rendered {
    line-height: 1.5;
    width: 90%;
    padding-top: 2px !important;
    padding-left: 0px !important;
    color: #334155 !important;
    font-weight: 500 !important;
}

#location-dropdown-header .select2-selection {
    height: 41px !important;
    border-radius: 4px !important;
    border: none !important;
    width: 100% !important;
    font-family: "Silka", Sans-Serif;
    padding: 9px 2px!important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    background: #FAFAFA;
    text-align: left!important;
    color: #2D2D2D;
    box-shadow: none !important;
}

#location-dropdown-container .select2-search {
    display: none !important;
}

.message-history-toggleable-switch label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    top: 50% !important;
    transform: translateY(-50%) !important;
}


/* table css */

.easychat-custom-table-wrapper .card-header {
    padding: 18px 24px !important;
}

.easychat-custom-table-wrapper .card-body {
    padding: 24px 15px 24px 24px !important;
}

.easychat-custom-table-wrapper .card {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15) !important;
}

.easychat-custom-table-wrapper .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.3rem;
    margin-bottom: 3rem;
}

.easychat-custom-table-wrapper table.dataTable.no-footer {
    border: none !important;
    margin: 0px !important;
}

.easychat-custom-table-wrapper table {
    border: 1px solid #F6F6F6;
}

.easychat-custom-table-wrapper table thead th {
    background: #FAFAFA !important;
    color: #334155 !important;
}

.easychat-custom-table-wrapper #message-history-info-table thead th {
    border-right: 1px solid #ffffff !important;
}

.easychat-custom-table-wrapper #message-history-info-table thead th:last-child {
    border-right: none !important;
}

.easychat-custom-table-wrapper .card-header {
    border-radius: 10px 10px 0 0 !important;
    border: none !important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #F8F8F8 !important;
}

.easychat-custom-table-wrapper .row {
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#message_history_table_pagination_div {
    margin-top: 0px !important;
    justify-content: space-between !important;
    margin-bottom: -14px !important;
}

#message_history_table_pagination_div nav {
    display: flex;
    align-items: center;
}

#message_history_table_pagination_div .entries {
    font-family: "Silka", sans-serif;
    font-size: 14px !important;
    line-height: 14px !important;
    letter-spacing: 0.02em;
    padding-left: 24px;
    font-weight: 500;
    color: #7B7A7B !important;
    display: flex;
    align-items: center;
}

#message_history_table_pagination_div::after {
    display: none !important;
}

.easychat-custom-table-wrapper .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

#edit_icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.easychat-custom-table-wrapper .font-weight-bold {
    font-weight: 500 !important;
}

.easychat-custom-table-wrapper .text-primary {
    font-family: "Silka", sans-serif !important;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #4A4A4A !important;
    margin: 0px 0px 3px;
}

.easychat-custom-table-wrapper .custom-btn-row {
    align-items: center;
    display: flex;
    height: 38px;
    gap: 8px;
}

.easychat-custom-table-wrapper .custom-btn-row .custom-filter-container {
    flex-basis: auto;
    flex-grow: 1;
}

.easychat-custom-table-wrapper .custom-btn-row .btn {
    border-radius: 4px!important;
    font-family: Silka;
    font-style: normal;
    font-weight: 500;
    font-size: 14px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    outline: none!important;
    width: max-content;
    height: 40px;
}

.easychat-custom-table-wrapper .custom-filter-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    height: 36px;
    background: #FFFFFF !important;
    border: 1px solid #EBEBEB !important;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #4D4D4D !important;
    box-shadow: none;
}

.easychat-custom-table-wrapper table tbody td {
    padding: 1rem 20px !important;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 400;
    border-bottom: none;
    max-width: 300px;
    word-wrap: break-word;
}

.easychat-custom-table-wrapper table tbody td a {
    text-decoration-line: none;
    color: #0254D7 !important;
}

#message-history-search-bar::-webkit-input-placeholder {
    opacity: 0.5;
    color: #909090;
    font-family: Silka;
    font-size: 14px;
    font-weight: 500;
    background: url("./search.svg");
    background-repeat: no-repeat;
    background-position: left;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    display: none;
}

table.dataTable thead .sorting:after {
    content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cd='M8.18567 13.1691L9.58138 14.5648C9.70029 14.6837 9.86014 14.75 10.0278 14.75C10.1954 14.75 10.3553 14.6837 10.4742 14.5648L11.8699 13.1691C12.1174 12.9215 12.1174 12.5219 11.8699 12.2763C11.7471 12.1535 11.5853 12.0911 11.4235 12.0911C11.2617 12.0911 11.0999 12.1535 10.9771 12.2763L10.6516 12.6019V7.87378C10.6516 7.52875 10.3728 7.25 10.0278 7.25C9.68275 7.25 9.404 7.52875 9.404 7.87378V12.6019L9.07846 12.2763C8.8309 12.0288 8.43129 12.0288 8.18567 12.2763C7.93811 12.5239 7.93811 12.9235 8.18567 13.1691Z' fill='#7B7A7B'/%3E%3C/svg%3E");
    right: unset;
}

table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    right: unset;
}

.easychat-custom-table-wrapper .pagination li {
    line-height: 1;
}

.easychat-custom-table-wrapper .pagination li a.active {
    background: #0254D7 !important;
    border: 1px solid #2741FA !important;
    border-radius: 0 !important;
    color: #FFFFFF !important;
    /* border-top: 0.5px solid #0254D7;
      border-bottom: 0.5px solid #0254D7; */
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .35rem;
    border: 0.5px solid #CBD5E1;
    height: 36px;
    overflow: hidden;
}

.page-item a:not(.active):hover {
    color: #224abe !important;
    background-color: #eaecf4 !important;
    border-color: #dddfeb !important;
}

.page-item {
    height: 100% !important;
    display: flex !important;
    align-items: center;
    border-right: 0.5px solid #CBD5E1;
}

.page-link {
    height: 100%;
    display: flex !important;
    align-items: center;
    font-family: "Silka", sans-serif;
    font-size: 12px !important;
    line-height: 14px !important;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #7B7A7B !important;
}

.page-item.disabled .page-link {
    color: #858796;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dddfeb;
}

.disable-button {
    opacity: 0.5;
    pointer-events: none;
}


/* Edit modal css */

#edit-table-modal {
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    overflow-y: hidden !important;
}

#edit-table-modal .modal-footer {
    padding: 8px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#edit-table-modal .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 24px !important;
    position: static;
    height: 40px !important;
    background: #0254D7 !important;
    border-radius: 4px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

#edit-table-modal .filter-modal-footer-btn-cancel {
    font-weight: 500 !important;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    height: 40px !important;
    color: #475569 !important;
    background: transparent !important;
    font-family: unset !important;
    margin: 2px 0px 0px;
}

#edit-table-modal .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

#edit-table-modal .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

#edit-table-modal .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
}

#edit-table-modal .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}


/* #table-meta-data-dropdown .select2-selection__rendered {
      line-height: 1.5;
  }
  
  #table-meta-data-dropdown .select2-selection {
      height: 41px !important;
      border-radius: 10px !important;
      border: 1px solid #E6E6E6 !important;
      width: 100% !important;
      font-family: "Silka", Sans-Serif;
      padding: 9px 10px!important;
      font-size: 14px;
      font-weight: 500;
      text-align: left!important;
      color: #2D2D2D;
      box-shadow: none !important;
  } */

#edit-table-modal .select2-selection__rendered {
    line-height: 1.5;
    width: 90%;
}

#edit-table-modal .select2-selection {
    height: 41px !important;
    border-radius: 4px !important;
    border: none !important;
    width: 100% !important;
    font-family: "Silka", Sans-Serif;
    padding: 9px 10px!important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    background: #FAFAFA;
    text-align: left!important;
    color: #2D2D2D;
    box-shadow: none !important;
}

#edit-table-modal .select2-container {
    width: 55% !important;
}

#edit-table-modal .meta-data-chips li {
    user-select: none;
    display: inline-flex;
    color: #4D4D4D;
    height: 48px;
    padding: 0px 16px;
    background: #F6F6F6!important;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-family: "Silka", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}

#edit-table-modal .meta-data-chips li .dismiss-chip {
    margin-left: 12px;
    cursor: pointer;
}

.disclaimer-message {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 49px;
    font-family: "Silka", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #4D4D4D;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 19px;
}

#unmatched-message-list li {
    margin-left: 4% !important;
}


/*  Flagged queries css  */

.ms-false-positive-btn {
    background: #E53E3E !important;
}

.ms-not-false-positive-btn {
    background: #10B981 !important;
}

.ms-false-positive-btn-wrapper {
    display: none;
}

.ms-percentage-match-container {
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.ms-percentage-match-container .ms-percentage-match-tooltip-text {
    visibility: hidden;
}

.ms-percentage-match-container.marked-percentage-status:hover .ms-percentage-match-tooltip-text {
    visibility: visible;
}

.peracentage-text-container {
    height: 28px;
    padding: 0px 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.ms-percentage-match-tooltip-text {
    position: absolute;
    top: -30px;
    width: max-content;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 10px;
    font-weight: normal;
    font-size: 12px;
    z-index: 100;
    line-height: 12px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    letter-spacing: 0.2px;
}

.below-threshold {
    background: #FEF2F2;
    color: #E60000;
}

.above-threshold {
    background: #F8F8F8;
    color: #2d2d2d;
}

.peracentage-text-container svg {
    position: absolute;
    right: -6px;
    top: -6px;
    display: none;
}


/* Flagged queries css end */

#location-dropdown-div {
    margin-left: -2px;
}

#location-dropdown-div .dropdown-wrapper.dropdown-wrapper-main .dropdown {
    height: 40px;
}

#location-dropdown-div .dropdown {
    padding-right: 2px;
    margin-left: 0px;
}

#location-dropdown-div .dropdown .title {
    color: #2D2D2D;
}

#location-dropdown-div .dropdown .title span {
    color: #2D2D2D;
}

#location-dropdown-div .dropdown svg {
    color: #2D2D2D;
    margin-top: 6px;
    height: 20px;
}

#location-dropdown-div .dropdown-wrapper.dropdown-wrapper-main .search-box {
    display: none;
}

#location-dropdown-div .search-box input {
    width: 80% !important;
    margin: 0 !important;
    background: #F6F6F6;
    border: 1px solid #F2F2F2 !important;
    border-radius: 4px !important;
}

#location-dropdown-div .dropdown-menu {
    margin: 4px 0px 10px 0px;
    box-shadow: 1px 1px 8px rgb(0 0 0 / 25%);
    padding-bottom: 0px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}


/* #location-dropdown-div .dropdown-menu label:hover {
    background: #F6F6F6;
} */

#location-dropdown-div .dropdown-menu .option label {
    margin-left: 42px;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 23px;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch input {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider {
    position: absolute !important;
    cursor: pointer !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    -webkit-transition: .4s;
    transition: .4s !important;
    height: unset !important;
    border: none !important;
    background: #FFF9F9 !important;
    box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round:before {
    position: absolute !important;
    content: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.06055' y='0.848267' width='7' height='7' rx='3.5' stroke='%23FF281A'/%3E%3C/svg%3E%0A") !important;
    height: 23px !important;
    width: 23px !important;
    left: 0px !important;
    bottom: 0px !important;
    -webkit-transition: .4s;
    transition: .4s !important;
    border: none !important;
    top: 0px !important;
    margin: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FAFC !important;
    border-radius: 50% !important;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider {
    background: #0253D6 !important;
    box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
    content: url("data:image/svg+xml,%3Csvg width='3' height='9' viewBox='0 0 3 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.987305' y='0.892334' width='1' height='7' rx='0.5' stroke='%230254D7'/%3E%3C/svg%3E%0A") !important;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round {
    border-radius: 34px;
}

.easychat-custom-switch-toggle-wrapper {
    display: flex;
    width: 100%;
    column-gap: 12px;
    align-items: center;
}

.easychat-custom-switch-toggle-wrapper>span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
}

.easychat-custom-primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px !important;
    width: max-content;
    height: 40px;
    background: #1B65DB !important;
    border-radius: 4px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    column-gap: 8px !important;
}

.easychat-custom-table-wrapper {
    margin: -24px -10px 0px;
}


/* modal css */


/* export modal css */

.modal.easychat-custom-modals-container {
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    overflow-y: hidden;
}

.modal.easychat-custom-modals-container .modal-footer {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px !important;
    position: static;
    height: 40px !important;
    background: #0254D7;
    border-radius: 4px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel {
    font-weight: 500 !important;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    height: 40px !important;
    color: #475569 !important;
    background: transparent !important;
    font-family: unset !important;
    margin: 2px 0px 0px;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

.modal.easychat-custom-modals-container .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

.modal.easychat-custom-modals-container .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
    width: 100%;
}

.modal.easychat-custom-modals-container .analytics-start-date {
    border: none !important;
}

.modal.easychat-custom-modals-container .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area input[type=radio] {
    display: none !important;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area input[type=radio]:checked+.filter-box {
    border: 1px solid #0254D7 !important;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area input[type=radio]:checked+.filter-box span {
    color: #0254D7 !important;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area .filter-box {
    padding: 0px 16px;
    height: 40px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 10px;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area .filter-box span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area .filter-box span:before {
    font-size: 1.2em;
    display: block;
    font-weight: normal;
    color: white;
}

.modal.easychat-custom-modals-container .filter-heading {
    font-weight: 600;
    font-size: 14px;
    color: #4D4D4D;
    margin: 15px 0px;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area,
.modal.easychat-custom-modals-container .analytics-channel-select-area,
.modal.easychat-custom-modals-container .analytics-custom-date-select-area {
    padding-left: 0px !important;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box {
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 8px;
    vertical-align: middle;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box label {
    position: relative;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label {
    border: 1px solid #0254D7;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label span {
    color: #0254D7;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box label {
    padding-left: 26px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding: 0px 16px;
    border: 1px solid #F6F6F6;
    border-radius: 4px;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box label span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 8px;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box input[type="checkbox"]:focus+label::before {
    outline: 0;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div {
    width: 100%;
    max-height: calc(100vh - 16rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 16px;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div::-webkit-scrollbar {
    display: none;
}

.modal.easychat-custom-modals-container .modal-heading-text-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.modal.easychat-custom-modals-container .select2-selection__rendered {
    line-height: 1.5;
    width: 90%;
}

.modal.easychat-custom-modals-container .select2-selection {
    height: 41px !important;
    border-radius: 4px !important;
    border: none !important;
    width: 100% !important;
    font-family: "Silka", Sans-Serif;
    padding: 9px 10px!important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    background: #FAFAFA;
    text-align: left!important;
    color: #2D2D2D;
    box-shadow: none !important;
}

.modal.easychat-custom-modals-container .select2-container {
    width: 400px !important;
}

.category-tag-each .cross-btn {
    display: none;
}

#table-body-message-history {
    box-shadow: none !important;
}

.ms-false-positive-btn {
    margin-left: -7px;
}

.message-history-table-parent-div {
    width: 100%;
    overflow-x: auto;
    border: 1px solid #F6F6F6;
}

.message-history-table-parent-div::-webkit-scrollbar {
    height: 5px;
}

.message-history-table-parent-div::-webkit-scrollbar-thumb {
    background: #CBD5E1;
    border-radius: 8px;
}

.message-history-table-parent-div::-webkit-scrollbar-track {
    background-color: transparent;
}

#modal-message-history-filter #ui-datepicker-div td {
    padding: 8px 12px !important;
}

#easychat_message_history_table_row_drop_container .select2-search--dropdown,
#location-dropdown-header .select2-search--dropdown{
    display: none !important;
}