.easychat-mic-speak-animation-wrapper {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-color: #3884FD;
    border-radius: 50%;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    /* margin: 100px; */
    padding: 2px 2.5px;
}
.easychat-mic-speak-animation-wrapper .mic-speak-animation-item {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  transition: all 0.3s;
  background: #ffffff;
}
.easychat-mic-speak-animation-wrapper.animate-span .mic-speak-animation-item:first-child {
  animation: mic-animation-two 1.4s infinite;
}
.easychat-mic-speak-animation-wrapper.animate-span .mic-speak-animation-item:nth-child(2) {
  animation: mic-animation-one 1.4s infinite;

}
.easychat-mic-speak-animation-wrapper.animate-span .mic-speak-animation-item:nth-child(3) {
  animation: mic-animation-two 1.4s infinite;

}

@keyframes mic-animation-one {
  0% {
    height: 15px;
    border-radius: 30px;
  }
  10% {
    height: 10px;
    border-radius: 30px;
  }
  20% {
    height: 12px;
    border-radius: 30px;
  }
  25% {
    height: 8px;
    border-radius: 30px;
  }
  30% {
    height: 15px;
    border-radius: 30px;
  }
  40% {
    height: 10px;
    border-radius: 30px;
  }
  50% {
    height: 8px;
    border-radius: 30px;
  }
  60% {
    height: 6px;
    border-radius: 30px;
  }
  70% {
    height: 4px;
    border-radius: 30px;
  }
  80% {
    height: 6px;
    border-radius: 30px;
  }
  85% {
    height: 4px;
    border-radius: 30px;
  }
  90% {
    height: 6px;
    border-radius: 30px;
  }
  95% {
    height: 5px;
    border-radius: 30px;
  }
  100% {
    height: 4px;
    border-radius: 50%;
  }
}
@keyframes mic-animation-two {
  0% {
    height: 10px;
    border-radius: 30px;
  }
  20% {
    height: 8px;
    border-radius: 30px;
  }
  30% {
    height: 10px;
    border-radius: 30px;
  }
  40% {
    height: 8px;
    border-radius: 30px;
  }
  50% {
    height: 7px;
    border-radius: 30px;
  }
  60% {
    height: 5px;
    border-radius: 30px;
  }
  70% {
    height: 4px;
    border-radius: 30px;
  }
  80% {
    height: 5px;
    border-radius: 30px;
  }
  90% {
    height: 4px;
    border-radius: 30px;
  }
  100% {
    height: 3px;
    border-radius: 50%;
  }
}
