.easychat-data-table-div{
    background: #FFFFFF;
    box-shadow: 0px 1.14632px 11.4632px rgb(0 0 0 / 5%);
    border-radius: 4px;
    margin: 20px;
}
.easychat-data-table-div .easychat-data-table-header{
    background: #F8F8F8;
    border: 1.14632px solid #EBEBEB;
    border-radius: 4.58529px 4.58529px 0px 0px;
    padding: 14px 28px;
}
.easychat-data-table-div .easychat-data-table-header h5{

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
    margin: 0;
    letter-spacing: 0.25px;
}
.easychat-data-table-div .easychat-data-table-header p{
       font-style: normal;
       font-weight: 500;
       font-size: 14px;
       line-height: 17px;
       color: #7B7A7B;
       margin: 5px 0 0 0;
       letter-spacing: 0.25px;
}
.easychat-data-table-div .easychat-data-table-search-filter-div .dataTables_filter{
    width: 80%;
    margin-right: 10px;
}
.easychat-data-table-div .easychat-data-table-wrapper-div table{
    border: 1px solid #F6F6F6;
    box-shadow: -1px -1px 0px rgb(0 0 0 / 5%), -1px 1px 0px rgb(0 32 51 / 5%);
}
.easychat-data-table-div .easychat-data-table-wrapper-div .table-length-filter-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.easychat-data-table-div .easychat-data-table-wrapper-div .dataTables_filter .search-filter-div{
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #DADADA !important;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    padding: 0 16px;
}
.easychat-data-table-div .easychat-data-table-wrapper-div .dataTables_filter .search-filter-div svg{
    margin-right: 8px;
}
.easychat-data-table-div .easychat-data-table-wrapper-div .dataTables_filter .search-filter-div input{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 0 16px;
    border: 0px;
    padding: 0;
    outline: none;
}
.easychat-data-table-div .easychat-data-table-wrapper-div .dataTables_filter .search-filter-div input::placeholder{
    color: #7B7A7B;
}
.easychat-data-table-div .easychat-data-table-search-filter-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.easychat-data-table-div .easychat-data-table-search-filter-div .dataTables_length{ 
    width: 122px;
}
.easychat-data-table-div .easychat-data-table-search-filter-div .easychat-data-table-filter-btn-div{ 
    margin-left: 8px;
}
.easychat-data-table-div .easychat-data-table-search-filter-div .dataTables_length label{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
}
.easychat-data-table-div .easychat-data-table-search-filter-div .dataTables_length label .select2{
    margin-left: 10px;
    width: 100% !important;
}
.easychat-data-table-div .easychat-data-table-search-filter-div .dataTables_length label .select2-selection{
    background: #FFFFFF;
    border: 1px solid #DADADA !important;
    border-radius: 4px !important;
    height: 40px !important;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
    box-shadow: none !important;
}

.select2-dropdown.easychat-datatable-option-container{
    top: 1px !important;
    width: 78px !important;
    border-radius: 8px !important;
    padding: 0 !important;
}
.select2-dropdown.easychat-datatable-option-container .select2-search{
    display: none !important;
}
.select2-dropdown.easychat-datatable-option-container .select2-results ul li {
margin: 0px !important;
border-radius: 0px !important;
}
.easychat-data-table-div .easychat-data-table-search-filter-div .easychat-data-table-filter-btn-div button{
    background: #1B65DB;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0px 16px;
    height: 40px;
}
.easychat-data-table-div .easychat-data-table-search-filter-div .easychat-data-table-filter-btn-div button svg{
    margin-right: 12px;
}
.easychat-data-table-wrapper-div table tr th {
    background: #FAFAFA !important;
    box-shadow: inset 0px -1px 0px rgb(102 102 102 / 8%);
    font-style: normal;
    font-weight: 500 !important;
    font-size: 12px;
    line-height: 18px;
    color: #2D2D2D !important;
    letter-spacing: 0.25px;
    padding: 16px 32px !important;
}
.easychat-data-table-wrapper-div table tr td{
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgb(102 102 102 / 8%);
    border: 0px;
    padding: 12px 32px !important;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    letter-spacing: 0.25px;
    word-break: break-all;
}
.easychat-data-table-wrapper-div table tr th.datatable-user-id-width{
    max-width: 30%;
    width: 30%;
}
.easychat-data-table-wrapper-div table tr th.datatable-varaible-name-width{
    max-width: 30%;
    width: 25%;
}
.easychat-data-table-wrapper-div table tr th.datatable-value-width{
    max-width: 30%;
    width: 30%;
}
.datatable-info-pagination-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 2px;
}
.datatable-info-pagination-div .dataTables_info{
       
       font-style: normal;
       font-weight: 400;
       font-size: 14px;
       line-height: 22px;
       color: #858796;
       width: 50%;
       text-align: left;
}
.datatable-info-pagination-div .pagination{
    display: inline-flex;
    margin: 0;
    width: 50%;
    justify-content: flex-end;
}
.datatable-info-pagination-div .pagination li{
    background: #FFFFFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #F8F8F8;
    border-radius: 2px 0px 0px 2px;
    padding: 0px 13px;
    height: 32px;
    display: flex;
    align-items: center;
}
.datatable-info-pagination-div .pagination li.previous-btn ,
.datatable-info-pagination-div .pagination li.next-btn {
        display: inline-flex;
        align-items: center;
        padding: 0px 12px;
        transition: background-color .3s;
}
.datatable-info-pagination-div .pagination li.previous-btn a,
.datatable-info-pagination-div .pagination li.next-btn a{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #7B7A7B;
    /* opacity: 0.25; */
    letter-spacing: 0.25px;
}
.datatable-info-pagination-div .pagination li.disabled{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #c0c0c0;
    pointer-events: none;
}
.datatable-info-pagination-div .pagination li a{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
}
.datatable-info-pagination-div .pagination li.active{
    background: #1B65DB !important;
    border: 0px solid #F8F8F8;
}
.no-data-found-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 25rem);
}
.no-data-found-div span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #858796;
    margin: 24px 0;
}
.no-data-found-div button.reload-btn{
    background: #F8F8F8;
    border-radius: 4px;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 0 16px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #7B7A7B;
    margin: 0;
}
.no-data-found-div button.reload-btn svg{
    margin-right: 10px;
}

.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td select,
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .select2 .select2-selection{
    text-align: left !important;
    background: #FFFFFF;
    border: 1px solid #DADADA !important;
    border-radius: 4px !important;
    width: 100% !important;
    /* margin-top: 16px; */
    margin-bottom: 24px;
    height: 40px !important;
    padding: 0px 16px;
    /* font-family: 'Silka'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    box-sizing: inherit;
    box-shadow: none !important;
    margin-top: 0;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .select2{
    width: 100% !important;
}

.easychat-new-modal-div .select2-container .select2-selection .select2-selection__placeholder{
        
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #CBCACA;
}
.easychat-new-modal-div .select2-container .select2-selection .select2-selection__arrow{
    height: 40px !important;
    top: 0px !important;
}
.select2-dropdown.select-user-id-field-dropdown {
    background: #FFFFFF;
    border-width: 0px 1px 1px 1px !important;
    border: 0px solid #DADADA !important;
    box-shadow: 0px 4px 14px rgb(0 0 0 / 10%);
    border-radius: 0px 0px 4px 4px !important;
    top: -22px !important;
    padding: 0 !important;
}
.select2-dropdown.select-user-id-field-dropdown .select2-search{
    padding: 0;
}
.select2-dropdown.select-user-id-field-dropdown .select2-search .select2-search__field::placeholder{
    color: #7B7A7B;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.select2-dropdown.select-user-id-field-dropdown .select2-search .select2-search__field{
    background: #FAFAFA;
    border: 1px solid #F6F6F6 !important;
    border-radius: 4px !important;
    margin: 6px 8px !important;
    width: 100% !important;
    box-shadow: none !important;
}
.select2-dropdown.select-user-id-field-dropdown .select2-results__option[aria-selected="true"] {
    background: #F6F6F6 !important;
    
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #0F172A !important;
}
.select2-dropdown.select-user-id-field-dropdown li{
    padding: 11px 24px;
    margin: 0;
    border-radius: 0px !important;
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000 !important;
    line-height: 18px;
    letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-footer button.easychat-new-modal-clear-btn{
    background: #F6F6F6;
    border-radius: 4px;
    height: 40px;
    padding: 0 24px;
    box-shadow: none;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #475569;
}
.easychat-new-modal-div .modal-footer button.easychat-new-modal-clear-btn a{
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #475569;
}
.easychat-new-modal-div .modal-footer button:not(:first-child){
    margin-left: 24px;
}
.easychat-data-modal-masking-hide-icon svg, .easychat-data-modal-masking-show-icon svg {
    margin-bottom: -3px;
    margin-left: 4px;
}
.easychat-new-modal-div{
    padding: 0px !important;
    background: #FFFFFF;
    border-radius: 10px;
    max-height: 100%;
}
.easychat-new-modal-div .modal-content{
    padding: 0;
}
.easychat-new-modal-div .modal-content .modal-content-header{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    padding: 24px 56px;
    border-bottom: 1px solid #EBEBEB;
}
.easychat-new-modal-div .modal-content .modal-content-header h5{
    text-align: left !important;
    margin: 0;
    
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-content .modal-content-header svg{
   cursor: pointer;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div{
    padding: 0 40px;
    padding-top: 24px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody{
    background: transparent !important;
    box-shadow: none!important;
    border-radius: 0px !important;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td{
    max-width: 100%;
    width: 100%;
    border-bottom: 0px;
    padding: 0px !important;
    display: table;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td p{
    display: flex;
    flex-direction: column;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    margin: 0 0 16px 0;
    letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td p span{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #7B7A7B;
    margin-top: 4px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td input{
    text-align: left !important;
    background: #FFFFFF;
    border: 1px solid #DADADA !important;
    border-radius: 4px !important;
    width: 100% !important;
    margin-bottom: 24px;
    height: 40px !important;
    padding: 0px 16px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    box-sizing: inherit;
    box-shadow: none !important;
    margin-top: 0;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td select,
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .select2 .select2-selection{
    text-align: left !important;
    background: #FFFFFF;
    border: 1px solid #DADADA !important;
    border-radius: 4px !important;
    width: 100% !important;
    margin-bottom: 24px;
    height: 40px !important;
    padding: 0px 16px;
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    box-sizing: inherit;
    box-shadow: none !important;
    margin-top: 0;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .select2{
    width: 100% !important;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .added-email-address-div .email-address-tag-div{
       background: #EFF6FF;
       border-radius: 4px;
       padding: 0 12px;
       height: 41px;
       display: inline-flex;
       align-items: center;
       margin-bottom: 16px;
       
       font-style: normal;
       font-weight: 500;
       font-size: 14px;
       line-height: 17px;
       color: #0254D7;
       margin-right: 10px;
       letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .added-email-address-div .email-address-tag-div svg{
    margin-left: 19px;
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin-top: 4px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td .added-email-address-div{
    max-height: 125px;
    overflow-y: auto;
}

.easychat-new-modal-div .modal-footer{
    padding: 0px 32px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.easychat-new-modal-div .modal-footer button.easychat-new-modal-submit-btn-div{
    background: #0254D7 !important;
    border-radius: 4px !important;
    height: 40px;
    
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF !important;
    padding: 0 24px;
    box-shadow: none !important;
    transform: none;
}
.easychat-new-modal-div .modal-footer button.easychat-new-modal-submit-btn-div a{
    
    font-style: normal;
    font-weight: 500 ;
    font-size: 14px ;
    line-height: 17px;
    color: #FFFFFF ;
}
.easychat-new-modal-div .modal-content .modal-content-header .modal-content-header-with-subheading span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
    letter-spacing: 0.25px;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item{
    background: #F8F8F8 !important;
    border: 1px solid #EBEBEB;
    box-shadow: inset 0px -1px 0px rgb(102 102 102 / 8%) !important;
    border-radius: 4px;
    height: 40px;
    margin: 0 0;
    padding: 0px 0px 0px 16px !important;
    width: 100%;
    margin-bottom: 8px;
}

.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div{
    display: flex;
    align-items: center;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div input{
    border: 0px !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 0 !important;
    background: transparent;
    
    font-style: normal;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 14px;
    color: #2D2D2D;
    height: 100% !important;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div .secondary-content{
    height: 37px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
}
.easychat-new-modal-div .modal-content .easychat-modal-table-div table tbody tr td ul.collection li.collection-item .api-added-collection-list-div .secondary-content a.delete-button-api-url{
    padding: 0 18px;
}
.easychat-new-modal-div .modal-content .easychat-add-new-api-div{
    margin-bottom: 32px;
    max-height: 346px;
    overflow-y: auto;
    padding-top: 24px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 0px;
    height: 18px;
    width: 18px;
    margin-left: -12px;
    margin-top: -8px;
    background: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.78033 0.731232C7.48744 0.422923 7.01256 0.422923 6.71967 0.731232L4 3.59404L1.28033 0.731232C0.987437 0.422923 0.512563 0.422924 0.21967 0.731232C-0.0732231 1.03954 -0.073223 1.53941 0.21967 1.84772L3.46967 5.26877C3.76256 5.57708 4.23744 5.57708 4.53033 5.26877L7.78033 1.84772C8.07322 1.53941 8.07322 1.03954 7.78033 0.731232Z' fill='%23334155'/%3E%3C/svg%3E%0A") no-repeat 4% 50%;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0px;
    margin-top: -8px;
    margin-left: -12px;
    background: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.21967 5.26877C0.512563 5.57708 0.987437 5.57708 1.28033 5.26877L4 2.40596L6.71967 5.26877C7.01256 5.57708 7.48744 5.57708 7.78033 5.26877C8.07322 4.96046 8.07322 4.46059 7.78033 4.15228L4.53033 0.731231C4.23744 0.422923 3.76256 0.422923 3.46967 0.731231L0.21967 4.15228C-0.0732233 4.46059 -0.0732233 4.96046 0.21967 5.26877Z' fill='%23334155'/%3E%3C/svg%3E%0A") no-repeat 4% 50%;
}

.select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder {
    color: #7B7A7B;
    font-family: "Silka", sans-serif;
    font-size: 14px;
    background-repeat: no-repeat !important;
    background: url(../img/search-icon.svg);
    background-position: left;
    text-indent: 25px;
}

.select2-dropdown {
    top: 1px !important;
    padding: 0 !important;
    border-radius: 8px !important;
    margin-top: 5px;
}

.select2-dropdown .select2-search {
    padding: 8px;
}

.select2-dropdown .select2-search .select2-search__field {
    background-color: #FAFAFA;
    border-radius: 4px !important;
    border: 1px solid #F8F8F8 !important;
    border-bottom: 1px solid #F8F8F8 !important;
    margin: 0;
    margin-top: 0 !important;
    margin-left: 5px;
}

.select2-dropdown .select2-search .select2-search__field:focus {
    box-shadow: none !important;
}

.select2-dropdown .select2-results__options {
    border-radius: 8px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar {
    width: 5px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar-thumb {
    background: #88A3D2;
    ;
    border-radius: 8px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: 0 0 0px #777 !important;
    border-radius: 10px;
}

.select2-dropdown .select2-results__option {
    font-family: "Silka", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-style: normal;
    color: #2D2D2D !important;
    margin: 0 !important;
    border-radius: unset !important;
    padding: 12px 16px !important;
    border: 1px solid #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--highlighted {
    background-color: #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--selected {
    background-color: #F6F6F6 !important;
    color: #2D2D2D !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background: #F6F6F6 !important;
    color: #2D2D2D !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 130px !important;
}

.select2-container--default .select2-results__option--disabled {
    display: none;
}
.easychat-modal-date-time-div .date-time-div .date-time-input-div input[type="date"]::-webkit-calendar-picker-indicator,
.easychat-new-modal-div input[type="date"]::-webkit-calendar-picker-indicator{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 1.25C8.41421 1.25 8.75 1.58579 8.75 2V3H15.25V2C15.25 1.58579 15.5858 1.25 16 1.25C16.4142 1.25 16.75 1.58579 16.75 2V3H18C19.6569 3 21 4.34315 21 6V18C21 19.6569 19.6569 21 18 21H6C4.34315 21 3 19.6569 3 18V6C3 4.34315 4.34315 3 6 3H7.25V2C7.25 1.58579 7.58579 1.25 8 1.25ZM15.25 4.5V5.5C15.25 5.91421 15.5858 6.25 16 6.25C16.4142 6.25 16.75 5.91421 16.75 5.5V4.5H18C18.8284 4.5 19.5 5.17157 19.5 6V7.5H4.5V6C4.5 5.17157 5.17157 4.5 6 4.5H7.25V5.5C7.25 5.91421 7.58579 6.25 8 6.25C8.41421 6.25 8.75 5.91421 8.75 5.5V4.5H15.25ZM4.5 8.5V18C4.5 18.8284 5.17157 19.5 6 19.5H18C18.8284 19.5 19.5 18.8284 19.5 18V8.5H4.5ZM5.25 12C5.25 11.5858 5.58579 11.25 6 11.25H8C8.41421 11.25 8.75 11.5858 8.75 12C8.75 12.4142 8.41421 12.75 8 12.75H6C5.58579 12.75 5.25 12.4142 5.25 12ZM11 11.25C10.5858 11.25 10.25 11.5858 10.25 12C10.25 12.4142 10.5858 12.75 11 12.75H13C13.4142 12.75 13.75 12.4142 13.75 12C13.75 11.5858 13.4142 11.25 13 11.25H11ZM15.25 12C15.25 11.5858 15.5858 11.25 16 11.25H18C18.4142 11.25 18.75 11.5858 18.75 12C18.75 12.4142 18.4142 12.75 18 12.75H16C15.5858 12.75 15.25 12.4142 15.25 12ZM6 15.25C5.58579 15.25 5.25 15.5858 5.25 16C5.25 16.4142 5.58579 16.75 6 16.75H8C8.41421 16.75 8.75 16.4142 8.75 16C8.75 15.5858 8.41421 15.25 8 15.25H6ZM10.25 16C10.25 15.5858 10.5858 15.25 11 15.25H13C13.4142 15.25 13.75 15.5858 13.75 16C13.75 16.4142 13.4142 16.75 13 16.75H11C10.5858 16.75 10.25 16.4142 10.25 16ZM16 15.25C15.5858 15.25 15.25 15.5858 15.25 16C15.25 16.4142 15.5858 16.75 16 16.75H18C18.4142 16.75 18.75 16.4142 18.75 16C18.75 15.5858 18.4142 15.25 18 15.25H16Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A");
    width: 18px;
    height: 20px;
}
.easychat-modal-date-time-div .date-time-div .date-time-input-div input[type="time"]::-webkit-calendar-picker-indicator{
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3C16.9707 3 21 7.0302 21 12C21 16.9698 16.9707 21 12 21C7.0293 21 3 16.9698 3 12C3 7.0302 7.0293 3 12 3ZM12 4.5003C7.8645 4.5003 4.5003 7.8645 4.5003 12C4.5003 16.1355 7.8645 19.4997 12 19.4997C16.1355 19.4997 19.4997 16.1355 19.4997 12C19.4997 7.8645 16.1355 4.5003 12 4.5003ZM11.325 6.6C11.6665 6.6 11.9491 6.8541 11.9938 7.18345L12 7.275V12H14.925C15.2976 12 15.6 12.3024 15.6 12.675C15.6 13.0166 15.3459 13.2991 15.0166 13.3438L14.925 13.35H11.325C10.9834 13.35 10.7009 13.0959 10.6562 12.7666L10.65 12.675V7.275C10.65 6.9024 10.9524 6.6 11.325 6.6Z' fill='%23212121'/%3E%3C/svg%3E%0A");
    width: 18px;
    height: 18px;
}
.datatable-info-pagination-div .pagination li.next-btn:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}
