#nps_table_filter {
    display: none;
}

#nps_table_wrapper table.dataTable.no-footer {
    border-bottom: none;
}

#modal-nps-filter {
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    overflow-y: hidden !important;
}

#modal-nps-filter .modal-footer {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#modal-nps-filter .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px !important;
    position: static;
    height: 40px !important;
    background: #0254D7 !important;
    border-radius: 4px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

#modal-nps-filter .filter-modal-footer-btn-cancel {
    font-weight: 500 !important;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    height: 40px !important;
    color: #475569 !important;
    background: transparent !important;
    font-family: unset !important;
}

#modal-nps-filter .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

#modal-nps-filter .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

#modal-nps-filter .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
}

#modal-nps-filter .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}

#modal-nps-filter .analytics-filter-select-area input[type=radio] {
    display: none !important;
}

#modal-nps-filter .analytics-filter-select-area input[type=radio]:checked+.filter-box {
    border: 1px solid #0254D7 !important;
}

#modal-nps-filter .analytics-filter-select-area input[type=radio]:checked+.filter-box span {
    color: #0254D7 !important;
}

#modal-nps-filter .analytics-filter-select-area .filter-box {
    padding: 0px 16px;
    height: 40px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 10px;
}

#modal-nps-filter .analytics-filter-select-area .filter-box span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
}

#modal-nps-filter .analytics-filter-select-area .filter-box span:before {
    font-size: 1.2em;
    display: block;
    font-weight: normal;
    color: white;
}

.filter-heading {
    font-weight: 600;
    font-size: 14px;
    color: #4D4D4D;
    margin: 15px 0px;
}

.analytics-filter-select-area,
.analytics-channel-select-area,
.analytics-custom-date-select-area {
    padding-left: 0px !important;
}

#modal-nps-filter .analytics-channel-select-area .channel-box {
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 8px;
    vertical-align: middle;
}

#modal-nps-filter .analytics-channel-select-area .channel-box label {
    position: relative;
}

#modal-nps-filter .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label {
    border: 1px solid #0254D7;
}

#modal-nps-filter .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label span {
    color: #0254D7;
}

#modal-nps-filter .analytics-channel-select-area .channel-box label {
    padding-left: 26px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding: 0px 16px;
    border: 1px solid #F6F6F6;
    border-radius: 4px;
}

#modal-nps-filter .analytics-channel-select-area .channel-box label span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 8px;
}

#modal-nps-filter .analytics-channel-select-area .channel-box input[type="checkbox"]:focus+label::before {
    outline: 0;
}

.modal-overflow-content-div {
    width: 100%;
    max-height: calc(100vh - 16rem);
    overflow-y: auto;
    overflow-x: hidden;
}

#modal-nps-filter .modal-overflow-content-div::-webkit-scrollbar {
    display: none;
}

#modal-nps-filter .modal-header h6 {
    font-weight: 600 !important;
    font-size: 16px;
    color: #000000;
}

.easychat-analytics-no-data-found-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px
;
}

.easychat-analytics-custom-table-wrapper {
    overflow-y: auto;
    height: calc(100vh - 7rem);
    padding: 15px 20px 20px;
}

.easychat-analytics-custom-table-wrapper .container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
}

.easychat-analytics-custom-table-wrapper .card {
    display: block;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 15%) !important;
    border-radius: 4px !important;
    position: relative;
    margin: 0.5rem 0 1rem 0;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.easychat-analytics-custom-table-wrapper .card-header {
    border-bottom: 1px solid #EBEBEB!important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background: #F8F8F8!important;
    border-radius: 4.58529px 4.58529px 0px 0px!important;
}

.analytics-table-back-arrow-btn {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.easychat-analytics-custom-table-wrapper .row {
    align-items: center;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px 0px 0px!important;
}

.easychat-analytics-custom-table-wrapper .col-sm-6 {
    justify-content: flex-start;
}

.easychat-analytics-custom-table-wrapper .text-primary {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #4A4A4A !important;
    margin: 0px 0px 2px 0px;
    letter-spacing: 0.2px;
}

.easychat-analytics-custom-table-wrapper .easychat-text-primary-subheading {
    font-weight: 400;
    font-size: 13.7559px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #7B7A7B;
}

.easychat-analytics-custom-table-wrapper .form_assist_search_bar_div {
    width: 100%;
    background: #FFFFFF;
    margin-bottom: 0 !important;
    border-radius: 4px;
    border: 1px solid #E2E8F0 !important;
    box-shadow: none!important;
    outline: none!important;
    padding-left: 15px;
    display: flex;
    height: 40px;
}

.easychat-analytics-custom-table-wrapper .form_assist_search_bar_div #csat-search-bar {
    border-bottom: 0px!important;
    margin: 0px!important;
    border-radius: 0px!important;
    padding: 0px 0px 0px 10px!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    position: relative;
    top: 50%;
    transform: translateY(-19px);
    color: #2d2d2d !important;
    font-size: 14px !important;
}

.easychat-analytics-custom-table-wrapper .form_assist_search_bar_div #csat-search-bar::placeholder {
    color: #817d7d;
    font-size: 14px;
    letter-spacing: 0.01em;
}

.easychat-analytics-custom-table-wrapper .form_assist_search_bar_div .form_assist_search_icon {
    position: relative;
    /* top:28%; */
    top: 11px;
}

.easychat-analytics-custom-table-wrapper .card-body {
    padding: 20px !important;
}

.easychat-analytics-custom-table-wrapper .custom-btn-row {
    align-items: center;
    display: flex;
    gap: 16px;
}

.easychat-analytics-custom-table-wrapper .custom-btn-row .custom-filter-container {
    flex-basis: auto;
    flex-grow: 1;
}

.easychat-analytics-custom-table-wrapper .easychat-table-record-manage-dropdown-div {
    display: flex;
    align-items: center;
}

.easychat-analytics-custom-table-wrapper .easychat-table-record-manage-dropdown-div p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #7B7A7B;
    margin-right: 4px;
}

.analytics-email-note-export {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7B7A7B;
    letter-spacing: 0.2px;
}

#form-assist-info-table_wrapper {
    margin: 0px 20px 0px 21px !important;
}

.easychat-analytics-custom-table-wrapper table.dataTable.no-footer {
    border: 1px solid #E2E8F0;
}

.easychat-analytics-custom-table-wrapper #form-assist-info-table thead th {
    border-right: 1px solid #ffffff !important;
}

.easychat-analytics-custom-table-wrapper tbody {
    background: white !important;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 5%) !important;
    border-radius: 40px !important;
}

#form_assist_table_pagination_div {
    margin-top: 0px !important;
    justify-content: space-between !important;
    margin-bottom: -14px !important;
}

#form_assist_table_pagination_div .entries {
    font-family: "Silka", sans-serif;
    font-size: 14px !important;
    line-height: 14px !important;
    letter-spacing: 0.02em;
    padding-left: 20px;
    font-weight: 500;
    color: #7B7A7B !important;
    display: flex;
    align-items: center;
}

#form_assist_table_pagination_div nav {
    display: flex;
    align-items: center;
}

.easychat-analytics-custom-table-wrapper .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.35rem;
    border: 0.5px solid #CBD5E1;
    height: 36px;
    overflow: hidden;
}

.easychat-analytics-custom-table-wrapper .pagination li {
    line-height: 1;
}

.easychat-analytics-custom-table-wrapper .page-item {
    height: 100% !important;
    display: flex !important;
    align-items: center;
    border-right: 0.5px solid #CBD5E1;
}

.easychat-analytics-custom-table-wrapper .pagination li a.active {
    background: #0254D7 !important;
    border: 1px solid #2741FA !important;
    border-radius: 0 !important;
    color: #FFFFFF !important;
}

.easychat-analytics-custom-table-wrapper .page-item.disabled .page-link {
    color: #858796;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dddfeb;
}

.easychat-analytics-custom-table-wrapper .page-link {
    height: 100%;
    display: flex !important;
    align-items: center;
    font-family: "Silka", sans-serif;
    font-size: 12px !important;
    line-height: 14px !important;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #7B7A7B !important;
}

#easychat_form_assist_table_row_drop_container .select2-container {
    width: 75px !important;
}

#easychat_form_assist_table_row_drop_container .select2-selection {
    height: 40px !important;
    border-radius: 4px !important;
    width: 100% !important;
    font-family: "Silka", Sans-Serif;
    padding: 10px 10px!important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB !important;
    text-align: left!important;
    color: #2D2D2D;
    box-shadow: none !important;
}

.select2-selection__arrow {
    top: 3px !important;
}

#easychat_form_assist_table_row_drop_container .select2-selection__rendered {
    line-height: 1.5;
    width: 90%;
}

#easychat_form_assist_table_row_drop_container .select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: -6px!important;
}

#easychat_form_assist_table_row_drop_container .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    margin-top: -1px!important;
}

.easychat-analytics-custom-table-wrapper .waves-effect {
    border-radius: 4px!important;
    padding: 0px 12px;
    font-weight: 500!important;
    font-size: 14px!important;
    line-height: 19px!important;
    height: 40px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: #ffffff;
    background-color: #1b65db !important;
}

.easychat-analytics-custom-table-wrapper .add_new_tag_text {
    position: relative;
    top: -20%;
    left: 4%;
}

.form_assist-table .form_assist_intents span {
    background: #EFF6FF!important;
    border-radius: 4px!important;
    padding: 5px 15px 5px 16px!important;
    margin: 7px 5px!important;
    display: inline-flex!important;
    line-height: 20px!important;
    box-sizing: border-box!important;
    word-break: break-word!important;
    color: #2741FA;
}

.form_assist-table .form_assist_intents {
    cursor: pointer;
}

.form_assist-table .Action {
    padding: 0px!important;
}

.form_assist-table .Action a {
    margin: 10px!important;
    cursor: pointer!important;
    margin: 10px 10px 10px 20px!important;
}

#form_assist_table_pagination_div::after {
    display: none !important;
}

.form_assist-table th {
    background: #FAFAFA!important;
    color: #2D2D2D!important;
    font-size: 14px!important;
    line-height: 17px!important;
    letter-spacing: 0.03em;
    font-weight: bold;
}


/* dropdown css */

.select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder {
    color: #7B7A7B;
    font-family: "Silka", sans-serif;
    font-size: 14px;
    background-repeat: no-repeat !important;
    background: url(../img/search-icon.svg);
    background-position: left;
    text-indent: 25px;
}

.select2-dropdown {
    top: 1px !important;
    padding: 0 !important;
    border-radius: 8px !important;
    margin-top: 5px;
}

.select2-dropdown .select2-search {
    padding: 8px;
}

.select2-dropdown .select2-search .select2-search__field {
    background-color: #FAFAFA;
    border-radius: 4px !important;
    border: 1px solid #F8F8F8 !important;
    border-bottom: 1px solid #F8F8F8 !important;
    margin: 0;
    margin-top: 0 !important;
    margin-left: 5px;
}

.select2-dropdown .select2-search .select2-search__field:focus {
    box-shadow: none !important;
}

.select2-dropdown .select2-results__options {
    border-radius: 8px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar {
    width: 5px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar-thumb {
    background: #88A3D2;
    ;
    border-radius: 8px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: 0 0 0px #777 !important;
    border-radius: 10px;
}

.select2-dropdown .select2-results__option {
    font-family: "Silka", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-style: normal;
    color: #2D2D2D !important;
    margin: 0 !important;
    border-radius: unset !important;
    padding: 12px 16px !important;
    border: 1px solid #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--highlighted {
    background-color: #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--selected {
    background-color: #F6F6F6 !important;
    color: #2D2D2D !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background: #F6F6F6 !important;
    color: #2D2D2D !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 130px !important;
}

.select2-container--default .select2-results__option--disabled {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 0px;
    height: 18px;
    width: 18px;
    margin-left: -12px;
    margin-top: -8px;
    background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.793 6.23271C14.0787 6.53263 14.0672 7.00737 13.7672 7.29306L8.51678 12.2944C8.22711 12.5703 7.77187 12.5703 7.4822 12.2944L2.23173 7.29306C1.93181 7.00737 1.92028 6.53263 2.20597 6.23271C2.49166 5.93279 2.96639 5.92125 3.26631 6.20694L7.99949 10.7155L12.7327 6.20694C13.0326 5.92125 13.5073 5.93279 13.793 6.23271Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0px;
    margin-top: -3px;
    margin-left: -10px;
    background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.206023 6.26863C-0.0796766 5.96871 -0.0681772 5.49397 0.231823 5.20828L5.48224 0.206941C5.77191 -0.0689588 6.22715 -0.0689588 6.51682 0.206941L11.7673 5.20828C12.0672 5.49397 12.0787 5.96871 11.7931 6.26863C11.5074 6.56855 11.0326 6.58009 10.7327 6.2944L5.99953 1.78584L1.26632 6.2944C0.966423 6.58009 0.491723 6.56855 0.206023 6.26863Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}

.select2-search--dropdown.select2-search--hide {
    display: none !important;
}


/* table css */

.easychat-analytics-custom-table-parent-container {
    padding: 0px 20px;
}

.easychat-analytics-custom-table-parent-container table {
    border: 1px solid #F6F6F6;
    box-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
    table-layout: fixed;
}

.easychat-analytics-custom-table-parent-container table thead {
    background: #FAFAFA;
}

.easychat-analytics-custom-table-parent-container table thead tr th {
    padding: 16px 24px !important;
    background: #FAFAFA !important;
    font-size: 14px !important;
    line-height: 18px;
    color: #4D4D4D !important;
    border-right: 1.5px solid #ffff !important;
    border-bottom: 1px solid #e7e7e7 !important;
    min-width: 150px;
}

.easychat-analytics-custom-table-parent-container table thead tr th:last-child {
    border-right: none !important;
}

.easychat-analytics-custom-table-parent-container table tbody tr {
    background-color: #ffffff;
}

.easychat-analytics-custom-table-parent-container table tbody tr td {
    background-color: #ffffff;
    padding-left: 24px !important;
    font-size: 14px;
    font-weight: 500;
    color: #4d4d4d;
}

.easychat-csat-read-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    width: max-content;
    height: 30px;
    background: #EFF6FF;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2741FA;
    letter-spacing: 0.2px;
}


/* popover css */

.easychat-analytics-csat-rating-popover-wrapper {
    display: none;
    flex-direction: column;
    width: 300px;
    height: auto;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgb(0 32 51 / 2%), 0px 2px 8px rgb(0 32 51 / 16%) !important;
    position: absolute;
    left: -311px;
    top: 50%;
    transform: translateY(-50%);
}

.easychat-analytics-custom-table-parent-container table tbody tr:last-child .easychat-analytics-csat-rating-popover-wrapper {
    top: unset;
    bottom: 0%;
    transform: translateY(22%);
}

.easychat-analytics-custom-table-parent-container table tbody tr:last-child .easychat-analytics-csat-rating-popover-wrapper::after {
    top: unset;
    bottom: 22%;
}

.easychat-analytics-csat-rating-popover-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -12px;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent transparent #efe7e79e;
    /* box-shadow: 0px 1.14632px 11.4632px rgb(0 0 0 / 5%); */
}

.csat-rating-popover-star-wrapper {
    margin-bottom: 12px;
}

.csat-rating-popover-heading {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-bottom: 12px;
}

.csat-rating-popover-subheading {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #4D4D4D;
    margin-bottom: 8px;
    letter-spacing: 0.2px;
}

.csat-rating-popover-comments {
    display: flex;
    padding: 10px;
    background: #F8F8F8;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    word-break: break-word;
    color: #7B7A7B;
    width: max-content;
    max-width: 100%;
}

.easychat-csat-feedback-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 10px;
    position: relative;
    width: max-content;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.easychat-csat-valid-feedback {
    color: #64748B;
    background: #F8FAFC;
    margin: 5px 5px 5px 0;
}

.easychat-csat-valid-feedback span {
    word-break: break-word;
}

.csat-rating-popover-number-email {
    display: flex;
    padding: 10px;
    background: #F8FAFC;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    word-break: break-word;
    color: #64748B;
    width: max-content;
    max-width: 100%;
}


/* export modal css */

.modal.easychat-custom-modals-container {
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    overflow-y: hidden;
}

.modal.easychat-custom-modals-container .modal-footer {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px !important;
    position: static;
    height: 40px !important;
    background: #0254D7 !important;
    border-radius: 4px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel {
    font-weight: 500 !important;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    height: 40px !important;
    color: #475569 !important;
    background: transparent !important;
    font-family: unset !important;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

.modal.easychat-custom-modals-container .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

.modal.easychat-custom-modals-container .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
}

.modal.easychat-custom-modals-container .analytics-start-date {
    border: none !important;
}

.modal.easychat-custom-modals-container .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area input[type=radio] {
    display: none !important;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area input[type=radio]:checked+.filter-box {
    border: 1px solid #0254D7 !important;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area input[type=radio]:checked+.filter-box span {
    color: #0254D7 !important;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area .filter-box {
    padding: 0px 16px;
    height: 40px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 10px;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area .filter-box span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area .filter-box span:before {
    font-size: 1.2em;
    display: block;
    font-weight: normal;
    color: white;
}

.modal.easychat-custom-modals-container .filter-heading {
    font-weight: 600;
    font-size: 14px;
    color: #4D4D4D;
    margin: 15px 0px;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area,
.modal.easychat-custom-modals-container .analytics-channel-select-area,
.modal.easychat-custom-modals-container .analytics-custom-date-select-area {
    padding-left: 0px !important;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box {
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 8px;
    vertical-align: middle;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box label {
    position: relative;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label {
    border: 1px solid #0254D7;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label span {
    color: #0254D7;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box label {
    padding-left: 26px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    cursor: pointer;
    width: 100%;
    height: 40px;
    padding: 0px 16px;
    border: 1px solid #F6F6F6;
    border-radius: 4px;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box label span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 8px;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box input[type="checkbox"]:focus+label::before {
    outline: 0;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div {
    width: 100%;
    max-height: calc(100vh - 16rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 16px;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div::-webkit-scrollbar {
    display: none;
}

.modal.easychat-custom-modals-container .modal-heading-text-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.csat-rating-popover-feedback {
    display: flex;
    flex-wrap: wrap;
}

.nps-extended {
    overflow-y: auto;
    max-height: 310px;
    padding: 24px;
}
