
      #email-notif-div{
        background: #FFFFFF;
        border-radius: 22px;
        margin-top: 3%;
      }
      #confirm_password_btn{
          width: 296px;
          height: 37px;
          background:linear-gradient(180deg, #0254D7 0%, #0048BA 100%);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
          border-radius: 30px;
          border: 1px solid #FFFFFF;
          margin-top: 3em;
        }
       .form-fields{
          background: #FFFFFF;
          border: 1px solid #C4C4C4 !important;
          box-sizing: border-box;
          border-radius: 30px !important;
          margin-top: 1em !important;
          height: 38px !important;
          width:25.5em !important;
        }
        #success_after_login{
          width: 296px;
          height: 37px;
          background:linear-gradient(180deg, #0254D7 0%, #0048BA 100%);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
          border-radius: 30px;
          border: 1px solid #FFFFFF;
          margin-top: 3em;
        }