.selected-flag {
    border-radius: 0;
}

.intl-tel-input {
    width: 100%;
}

.intl-tel-input .flag-container {
    height: 90%!important;
    top: 5px;
    width: 100%;
}

.intl-tel-input.separate-dial-code .selected-flag {
    min-width: 100%!important;
}

#phone {
    height: 50px!important;
    border-radius: 0px;
    outline: none;
    border: 1px solid #E6E6E6;
    width: 325.5px!important;
    padding-left: 90px!important;
    visibility: hidden;
}

.form-phone-number-input {
    height: 50px!important;
    border-radius: 0px;
    outline: none;
    border: 1px solid #E6E6E6;
    width: 325.5px!important;
    padding-left: 90px!important;
    visibility: hidden;
}

.intl-tel-input .country-list {
    border: 1px solid #CCC;
    white-space: normal !important;
    width: 100% !important;
    padding: 10px 0px 10px 6px;
    border-radius: 0;
    margin: 2px 0 0 -1px;
}

.intl-tel-input.separate-dial-code .selected-dial-code {
    padding-left: 35px!important;
}

.intl-tel-input .country-list .country {
    padding: 10px 10px;
    border-radius: 0;
}

.intl-tel-input .country-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.intl-tel-input .country-list::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.intl-tel-input .country-list::-webkit-scrollbar-thumb {
    background-color: #babdc0 !important;
    border-radius: 16px !important;
}

#searchinput_country {
    width: 100%;
    height: 35px;
    margin-bottom: 10px !important;
    padding: 4px 15px;
    border-radius: 0px;
    margin-top: 0px !important;
    outline: none;
}

.selected-flag {
    border: none;
    outline: none;
}

#modal-phone-num {
    /* width: 36%; */
    max-width: 500px !important;
    background-color: #FFFFFF!important;
    padding: 0px !important;
    overflow: visible !important;
}

#modal-phone-num .modal-footer {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    border: none;
    padding: 16px 24px!important;
    background-color: #F9F9F9!important
}

#modal-phone-num .intl-tel-input .selected-flag .iti-arrow {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 10px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #555;
}

/* ------- */

.easychat-country-dropdown-preview-wrapper .selected-flag {
    top: 0px !important;
    height: 100% !important;
    border-radius: 0px;
}

.easychat-country-dropdown-preview-wrapper .intl-tel-input input[id^="telephone-preview"] {
    width: 100% !important;
    border: none !important;
    box-shadow: none;
    margin-top: 0px !important;
}

.easychat-country-dropdown-preview-wrapper {
    margin: 16px 0px;
}

.easychat-country-dropdown-preview-wrapper .intl-tel-input input[id^="telephone-preview"]:focus {
    box-shadow: none !important;
}

.easychat-country-dropdown-preview-wrapper .flag-container {
    position: unset !important;
    padding: 0px !important;
    width: unset !important;
    height: 100% !important;
}

.easychat-country-dropdown-preview-wrapper .intl-tel-input {
    display: flex;
    align-items: center;
    border: 1px solid #EBEBEB;
    height: 40px;
    border-radius: 4px;
  
    pointer-events: none;
}
.easychat-country-dropdown-preview-wrapper  .intl-tel-input.separate-dial-code .selected-dial-code {
    padding-left: 28px!important;
}

.search_phone_number_widget_class::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #CBCACA;
    background-repeat: no-repeat !important;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.9043 13.8563L18.7827 17.7357C19.0724 18.0259 19.0724 18.496 18.7827 18.7862C18.4906 19.0713 18.0246 19.0713 17.7324 18.7862L13.854 14.9068C11.5449 16.6639 8.26951 16.3309 6.36104 14.145C4.45258 11.9591 4.56373 8.66785 6.61532 6.61573C8.6669 4.56362 11.9573 4.45244 14.1426 6.36139C16.328 8.27035 16.6609 11.5465 14.9043 13.8563ZM10.5355 6.52407C8.32099 6.52407 6.52578 8.31974 6.52578 10.5348C6.5284 12.7488 8.32208 14.5429 10.5355 14.5455C12.75 14.5455 14.5452 12.7499 14.5452 10.5348C14.5452 8.31974 12.75 6.52407 10.5355 6.52407Z' fill='%23CBCACA'/%3E%3C/svg%3E%0A");
    background-position: left;
    text-indent: 28px;
    background-position-y: -2px;
}

.country-no-result-found {
    width: 100% !important;
    text-align: center !important;
    display: none;
    padding: 10px 0px !important;
    cursor: default;
}