.selected-flag {
    background: #F6F6F6;
    border-radius: 4px 0px 0px 4px;
}

[id^="country_phone_number"] {
    height: 40px;
    outline: none;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 300px;
    font-size: 14px;
}

[id^="country_phone_number"]::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
}

.selected-dial-code {
    color: #7B7A7B;
}

[id^="country_phone_number_input"] {
    outline: none;
    width: 100% !important;
}

.intl-tel-input .country-list.dropup {
    margin-bottom: 4px !important;
}

[id^="country_phone_number_input"]::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
}

.intl-tel-input.separate-dial-code .selected-dial-code {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
}

#easychat-customer-phone {
    height: 48px;
    outline: none;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 250px;
    font-size: 14px;
    padding-left: 97px !important;
}

#easychat-customer-phone::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
}

.iti-mobile .intl-tel-input.iti-container {
    top: 50% !important;
    transform: translateY(-50%);
    left: 24px !important;
    height: 57%;
    right: 24px !important;
}

.intl-tel-input .selected-flag .iti-arrow {
    border: none !important;
}

.intl-tel-input .selected-flag .iti-arrow::after {
    content: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.26031 4.20361C9.07028 4.00358 8.76218 4.00358 8.57216 4.20361L6.80764 6.061L5.04312 4.20361C4.85309 4.00358 4.54499 4.00358 4.35496 4.20361C4.16493 4.40364 4.16493 4.72796 4.35496 4.92799L6.46356 7.14756C6.65359 7.34759 6.96168 7.34759 7.15171 7.14756L9.26031 4.92799C9.45034 4.72796 9.45034 4.40364 9.26031 4.20361Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
    top: -6px;
    right: -4px;
    position: absolute;
}

.country-list {
    white-space: normal !important;
}

.intl-tel-input .country-list {
    white-space: normal;
    padding: 0px 0px 10px 0px;
    overflow-x: hidden;
    margin: 4px 0 4px -1px;
    width: 100%;
    background-color: #fff;
    max-height: 150px;
    border: 1px solid #EBEBEB !important;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06) !important;
    border-radius: 4px !important;
}

.intl-tel-input .country-list .divider {
    border-bottom: none !important;
}

.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
    width: 100%;
}

.intl-tel-input .country-list .flag-box {
    margin-right: 14px !important;
}

.intl-tel-input .country-list .country {
    padding: 11px 18px !important;
    border-radius: 0px;
    border-bottom: 1px solid #F8F8F8;
}

.intl-tel-input .country-list .country span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D !important;
}

.intl-tel-input .country-list .country.highlight {
    background-color: #F8F8F8 !important;
}

.intl-tel-input .country-list .divider {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.intl-tel-input .country-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.intl-tel-input .country-list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.intl-tel-input .country-list::-webkit-scrollbar-thumb {
    background-color: #babdc0 !important;
    border-radius: 16px !important;
}


/* .livechat-agent-modal-content .intl-tel-input .country-list {
    max-height: 120px;
} */

.livechat-agent-modal-content #easychat-customer-phone {
    height: 41px;
    width: 100%;
    max-width: unset;
}

.livechat-agent-modal-content .easychat-country-code-dropdown-wrapper {
    margin-top: 1.5em;
}

.livechat-agent-modal-content .country-dropdown-placeholder {
    left: 97px !important;
}

.livechat-agent-modal-content .intl-tel-input .country-list {
    z-index: 101;
}

.livechat-agent-modal-content #easychat-customer-phone::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #B1B1B1;
    background-repeat: no-repeat !important;
    background: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' fill='red' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.00002 0.916664V3.18939M3.00002 3.18939L1.61113 5.08333M3.00002 3.18939L4.38891 5.08333M3.00002 3.18939L0.916687 2.43182M3.00002 3.18939L5.08335 2.43182' stroke='red' stroke-miterlimit='3.8637' stroke-linecap='round'/%3E%3C/svg%3E");
    background-position-x: 130px;
    background-position-y: 5px;
}

input[id^="searchinput_country"] {
    width: 100%;
    height: 40px;
    padding: 4px 14px !important;
    border-radius: 0px;
    margin-top: 0px !important;
    outline: none;
    border-bottom: 1px solid #F8F8F8;
    position: sticky !important;
    top: 0px;
}

input[id^="searchinput_country"]::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #CBCACA;
    font-weight: 400;
    background-repeat: no-repeat !important;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.318 14.1215L19.7505 18.5552C20.0816 18.8868 20.0816 19.4241 19.7505 19.7557C19.4166 20.0815 18.884 20.0815 18.5502 19.7557L14.1177 15.3221C11.4787 17.3302 7.73541 16.9496 5.55431 14.4514C3.37321 11.9532 3.50023 8.19186 5.8449 5.84658C8.18957 3.50131 11.95 3.37425 14.4475 5.55591C16.9451 7.73757 17.3256 11.4818 15.318 14.1215ZM10.3251 5.74224C7.79424 5.74224 5.74258 7.79443 5.74258 10.3259C5.74557 12.8562 7.79548 14.9066 10.3251 14.9096C12.856 14.9096 14.9076 12.8574 14.9076 10.3259C14.9076 7.79443 12.856 5.74224 10.3251 5.74224Z' fill='%23CBCACA'/%3E%3C/svg%3E%0A");
    background-position: left;
    text-indent: 35px;
}

.selected-flag {
    border: none;
    outline: none;
}

.intl-tel-input .flag-container {
    padding: 0px !important;
}

.country-code-error-message-div {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: none;
    align-items: center;
    text-align: end;
    justify-content: flex-end;
    color: #E10E00;
    padding-right: 6px;
}

@supports (-webkit-touch-callout: none) {
    .easychat-country-code-dropdown-wrapper {
        margin-right: 6px;
    }
}

.easychat-country-code-dropdown-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 78%;
}

.easychat-country-code-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 32px;
    background: #0243AC;
    border-radius: 99px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    outline: none;
    width: max-content;
    cursor: pointer;
    display: none;
}

.easychat-country-code-submit-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.easychat-bot-country-mobile-number-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: max-content;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0px 30px;
    margin-top: 8px;
}

.easychat-country-mobile-number-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
    height: 48px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    color: #2D2D2D;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 4px 4px 0px 0px;
}

.easychat-country-mobile-number-content-wrapper {
    width: 100%;
    height: 100%;
    padding-left: 16px;
    /* display: flex;
    align-items: center; */
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    padding: 12px 24px;
}

.easychat-country-mobile-number-label {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
}

.easychat-country-mobile-number-content-wrapper .easychat-country-code-dropdown-wrapper {
    margin-top: 24px;
}

.easychat-country-mobile-number-content-wrapper [id^="country_phone_number"] {
    max-width: unset;
    width: 100%;
}

.easychat-country-code-cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    width: max-content;
    height: 32px;
    border: 1px solid #0254D7;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #0254D7;
    background: #ffffff;
}

.easychat-country-mobile-number-content-wrapper .easychat-country-code-submit-btn {
    border-radius: 4px;
}

.easychat-country-mobile-number-content-wrapper .easychat-country-code-submit-btn-wrapper {
    column-gap: 8px;
    margin-top: 18px;
}

.easychat-country-mobile-number-data-div {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 12px;
}


/* Chat with an expert placeholder css */

.easychat-country-code-dropdown-wrapper {
    position: relative;
}

.country-dropdown-placeholder {
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    left: 88px;
    color: #B1B1B1;
}

.country-dropdown-placeholder span {
    color: red;
}

.country-no-result-found {
    width: 100% !important;
    text-align: center !important;
    display: none;
    padding: 8px 0px 14px !important;
    cursor: default;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
}

.language-right-to-left-wrapper .easychat-country-code-submit-btn-wrapper .country-code-error-message-div {
    direction: rtl;
}

.language-right-to-left-wrapper .easychat-country-code-submit-btn-wrapper .bot-widget-submit-reset-btn-wrapper {
    direction: rtl;
}

.language-right-to-left-wrapper .intl-tel-input .country-list .flag-box {
    margin-right: 0px !important;
    margin-left: 14px !important;
}

.language-right-to-left-wrapper .intl-tel-input .country-list .country-name {
    margin-right: 0px;
    margin-left: 6px;
}

.easychat-form-div .easychat-country-code-dropdown-wrapper {
    width: 100% !important;
}

.easychat-csat-form-div .easychat-phone-input::placeholder {
    color: #d4d4d4;
    font-size: 14px;
}