.quick-links-cards-container .quick-link-card {
display: inline-block;
background-color: white;
width: 81px;
height: 88px;
margin: 8px;
border-radius: 10px;
box-sizing: border-box;
padding: 5px;
color: #464646;
font-weight: bolder;
text-align: center;
box-shadow: 0px 0px 5px #808080cf;
cursor: pointer;
position: relative;
transition: .5s linear;
}

.quick-links-cards-container .quick-link-card-image-div {
position: absolute;
top: 10px;
left: 10px;
right: 10px;
}

.quick-links-cards-container img.quick-link-card-img {
width: 40px;
object-fit: contain;
height: 40px;
}

.quick-links-cards-container .quick-link-card-title {
position: absolute;
bottom: 8px;
left: 4px;
right: 10px;
font-size: 11px;
text-align: center;
width: 90%;
height: 25px;
display: inline-block;
box-sizing: border-box;
white-space: pre-line;
word-wrap: break-word;
}

.quick-links-cards-container .quick-link-card-title span {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
font-size: 11px !important;
}

