@font-face {
    font-family: "Silka";
    src: url('/static/EasyChatApp/fonts/Silka/Silka-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
.col .row {
    margin-left: -0.25rem !important;
    margin-right: -0.25rem !important;
}
.container .wrapper-box
{
    border-radius: 0px!important;
    width: 536px;
    margin-bottom: 0px!important;  
}
.container #sel
{
    padding: 8px 15px!important;
    color: #000!important;
}
.container .select-box .options-container,.container .search-box 
{
    width: 536px!important;
    border-radius: 0!important;
    padding-top: 0px!important;
}
#language-options-search-box input
{
    border-radius: 0!important;
    width: 480px!important;
}
.container .tag
{
    border-radius: 0px!important;
    margin-left: 1px!important;
    margin-bottom: 0px!important;
}
.options-container .item-checkbox
{
    margin-right: 84%!important;
}
.options-container .option label
{
    margin-left: 4%!important;
}
#easychat-web-channel-table 
{
    margin-top: -3%!important;
}
#channel-sticky-intents #easychat-zalo-channel-table .gy-btn-outline
{
    width: 225px!important;
    height: 48px!important;
    border-radius: 4px!important;
    color: #FFFFFF!important;
    background: #0254D7!important;
}

#channel-sticky-intents #easychat-zalo-channel-table td{
    border-bottom: none !important;
}

#upload-bot-welcome-video-url {
    background: #FFFFFF;
    /* Grey/40 */
    width: 100%!important;
    border: 2px solid #EBEBEB!important;
    border-radius: 6px !important;
    box-sizing: border-box;
    padding: 20px 0px 20px 24px!important;
}

#spam_keyword {
    background: #FFFFFF;
    /* Grey/40 */
    width: 100%!important;
    border: 2px solid #EBEBEB!important;
    border-radius: 6px !important;
    box-sizing: border-box;
    padding: 20px 0px 20px 24px!important;
}

@media (min-width: 768px) and (max-width: 1024px){
    .container .wrapper-box{
           margin-left: 50px!important;
            width: 320px!important;
        }
        .container .select-box .options-container {
           margin-left: 50px!important;
            width: 320px!important;
        }
        .container .search-box {
            margin-left: 50px!important;
            width: 320px!important;
            border-radius: 0!important;
        }
        #language-options-search-box input
            {
                
                width: 268px!important;
            }
            .options-container .item-checkbox
                {
                    margin-right: 80%!important;
                }
        
    }

    #zalo-intial-question{
        padding: 0rem 1rem;
        padding-bottom: 1rem;
    }

    #zalo-failure-recommendations{
        padding: 0rem 1rem;
        padding-bottom: 1rem;
    }

    #zalo-intial-question .intent-container{
        
        margin-left: 30px;
    }
    #zalo-failure-recommendations .intent-container{
        padding: 0rem 1rem;
        margin-left: 30px;
     }

    .user-icon{
        width: 32px;
        height: 32px;
        border-radius: 16px;
        border: 1px solid #ebebeb;
        background-color: #000;
        position: absolute;
        margin-top: 20%;
        margin-left: 20px;   
    }

    .pdf-outer-wrapper{
        width: 317px;
        height: 145px;
        background: #E2E9F1;
        margin: auto;
        margin-top: 20%;
        display: flex;
        flex-direction: column;
    }

    .pdf-inner-div{
        box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
        height: 186px;
        margin: auto;
    }
    .pdf-inner-div-theme-3
    {
        height: 359px!important;
    }
    .pdf-inner-div-theme-4
    {
        height: 400px!important;
    }
    .pdf-heading-div{
        padding: 16px 24px;
        display: flex;
        background: #FFFFFF;
        
    }

    .pdf-description-div{
        padding: 0 16px 16px;
        background: #FFFFFF;
    }

    .pdf-description-div p{
        font-size: 12px;
        margin: 0;
        line-height: 18px;
    }
    .pdf-description-div-img img
    {
        
        width: 317px;
        height: 194px;
    }
    .pdf-outer-wrapper .pdf-name-data{
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pdf-outer-wrapper .pdf-name-data .pdf-name{
        font-size: 16px;
        font-weight: 500;
        color: #000;
        margin: 0;
    }
    .pdf-outer-wrapper .pdf-name-data .pdf-page{
        font-size: 13px;
        font-weight: 400;
        color: #232f34;
        margin: 0;
        margin-top: 2px;
    }

    .view-docoument-div{
    width: 317px;
    height: 32px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2741FA;
    font-size: 14px;
    margin:16px auto;
    padding: 10px 0;
    cursor: pointer;
    }
    .view-docoument-div:hover
{
    background-color: #2741FA;
    color: #fff;
}
    .external-link p{
        margin: 0;
        padding: 0 16px 16px;
        font-size: 14px;
        color: #000;
    }
    .external-link  a{
        color: #2741FA;
        margin-left: 4px;
    }
    .external-link img{
        position: fixed;
        height: 13px!important;
        padding: 2px!important;
    }
    .easychat-console-custom-dropdown .easychat-dropdown-select-custom
    {
        border-radius: 4px!important;
        height: 38px!important;
    }
    .easychat-console-custom-dropdown .easychat-dropdown-select-custom #txtSearchValue,
    .easychat-console-custom-dropdown .easychat-dropdown-select-custom .list   {
        border-radius: 4px!important;
    }
    .easychat-console-custom-dropdown .easychat-dropdown-select-custom .easychat-console-language-option.easychat-lang-selected {
        color: #4D4D4D!important;
        background: #f6f6f6!important;
    }
    .choose_language
    {
        position: absolute; top: 10px; margin-left: 10px;font-size: 16px;color: #4D4D4D;
    }
    .sub-head
    {
        font-size: 16px;color: #4D4D4D;
    }
    .ms-options-wrap>.ms-options>ul label
    {
        cursor: pointer;
    }

   #is_language_auto_detection_enabled[type="checkbox"]+span:not(.lever):not(.lever-custom):before,
   #is_enable_choose_language_flow_enabled_for_welcome_response[type="checkbox"]+span:not(.lever):not(.lever-custom):before,
   #checkbox-whatsapp-number-masking-enabled[type="checkbox"]+span:not(.lever):not(.lever-custom):before{
        border: 1px solid #DADADA!important;
    }
    #easychat-whatsapp-mobile{
        width: 25% !important;
        background: #FFFFFF;
        border: 2px solid #EBEBEB!important;
        border-radius: 6px;
    }

    .easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch {
        position: relative!important;
        display: inline-block!important;
        width: 49px!important;
        height: 23px!important;
    }
    
    .easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch input {
        opacity: 0 !important;
        width: 0 !important;
        height: 0 !important;
    }
    
    .easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider {
        position: absolute !important;
        cursor: pointer !important;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        -webkit-transition: .4s;
        transition: .4s !important;
        height: unset !important;
        border: none !important;
        background: #FFF9F9 !important;
        box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
    }
    
    .easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider:before {
        position: absolute !important;
        content: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.06055' y='0.848267' width='7' height='7' rx='3.5' stroke='%23FF281A'/%3E%3C/svg%3E%0A") !important;
        height: 23px !important;
        width: 23px !important;
        left: 0px !important;
        bottom: 0px !important;
        -webkit-transition: .4s;
        transition: .4s !important;
        border: none !important;
        top: unset !important;
        margin: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F8FAFC !important;
        box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
    }
    
    .easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider {
        background: #0253D6 !important;
        box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
    }
    
    
    /* .easychat-custom-switch-toggle-wrapper input:focus+.easychat-custom-toggle-slider {
        box-shadow: 0 0 1px #2196F3 !important;
    } */
    
    .easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider:before {
        -webkit-transform: translateX(28px)!important;
        -ms-transform: translateX(28px)!important;
        transform: translateX(28px)!important;
        content: url("data:image/svg+xml,%3Csvg width='3' height='9' viewBox='0 0 3 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.987305' y='0.892334' width='1' height='7' rx='0.5' stroke='%230254D7'/%3E%3C/svg%3E%0A") !important;
        border-radius: 50%!important;
    }
    
    .easychat-custom-switch-toggle-wrapper [type="checkbox"]:checked+span:not(.lever):not(.lever-custom):before
    {
        border-radius: 50%!important;
    }
    /* Rounded sliders */
    
    .easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round {
        border-radius: 34px!important;
    }
    
    .easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round:before {
        border-radius: 50%!important;
    }
    .easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round::after {
        border-radius: 50%!important;
    }
    
    .easychat-create-bot-divider-container {
        display: flex!important;
    }
    
    #addonFeatures .easychat-create-bot-divider-container {
        margin-bottom: 34px !important;
    }
    
    .easychat-custom-switch-toggle-wrapper {
        display: flex;
        width: 100%;
    }
    
    #addonFeatures .easychat-custom-switch-toggle-wrapper {
        justify-content: center;
    }
    
    /* block-user-wrapper */
    .block-user-wrapper {
        position: relative;
        left: 20px;
    }
    #Block_users_based_on_number_wrapper tbody,
    #block_user_based_on_keyword tbody,
    #Block_users_based_on_keyword_wrapper tbody{
            background: transparent !important;
            box-shadow: none !important; 
            border-radius: 0px !important;
    }
    #Block_users_based_on_number_wrapper td,
    #Block_users_based_on_keyword_wrapper td{
            border-bottom: 0px;
            vertical-align: top;
            text-align: left;
    }
    #block_user_based_on_keyword td{
        border-bottom: 0px;
    }
    #Block_users_based_on_number_wrapper,#Block_users_based_on_keyword_wrapper{
        position: relative;
        left: 20px;

    }
    
    input.white:not(.otp-form):not(.form-control):not(.input) {
        padding: 0rem 0.8rem !important;
        margin-top: 6px !important;
        width: 10%!important;
        box-shadow: none;
        height: 2.5rem !important;
        border-bottom: 0px!important;
        font-size: 15px !important;
        letter-spacing: -0.06em; 
        border-radius: 4px!important; 
    }

    input[type=number]:not(.otp-form):not(.form-control):not(.input) {
        background: #F6F6F6!important;
    }
    
    .warning-msg-wrapper{
        display: flex;
        gap:10px;
    }
    .warning-msg-wrapper p{
        font-weight: 500;
        font-size: 14px;
        color: #4D4D4D;
    }
    .warning-msg-wrapper-div .warning-msg-wrapper-note{
        margin: 0px;
        color: #7B7A7B;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
    }
    #Block_users_based_on_number_wrapper.trumbowyg-box, .trumbowyg-editor{
         min-height: 179px !important;
    }
    /* Block users when these keywords are used box */
    .keyword-preview-container{
        border: 2px solid #EBEBEB;
        border-radius: 6px;
        width: 100%!important;
        padding: 12px 12px 0px 12px;
    }
    /* search bar */
.block_keyword_search_bar_div{
    width: 100%!important;
    height: 40px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
    border: 2px solid #EBEBEB!important;
    border-radius: 6px;
    box-shadow: none!important;
    outline: none!important;
    padding: 8px 16px 8px 16px;
    display: flex;

}
input:focus {
     border: 0px!important; 
     box-shadow: none!important;
}
#block_keyword_search_bar
{
    background: transparent;
    flex: none;
    order: 0;
    width: 30% !important;
    flex-grow: 1;
    border: 0px!important;
    box-shadow: none!important;
    outline: none!important;
    padding-left: 8px!important;
    position: relative;
    top: 28%;
    transform: translateY(-19px);
    color: #4D4D4D;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}
.block-keyword-search-bar::placeholder {
    
    font-weight: 400;
    font-size: 14px!important;
    line-height: 19px;
    color: #CBCACA;
   
  }
  .custom-btn-row {

    gap: 8px;
    margin-bottom: 0.5em!important;
}
.keyword-preview-container-div> span {
    margin: 12px 4px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 8px;
    gap: 10px;
    color: #fff;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    box-sizing: border-box;
    word-break: break-word;
    background: #0254D7;
}
    .keyword-preview-container-div{
        display: block;
        overflow-y: auto;
        max-height: 150px;
    
    }

    .enable-block-spam-user-div-wrapper
    {
        max-height: 400px;
        overflow-y: scroll;
    }
    .warning-msg-wrapper input[type=number]::-webkit-inner-spin-button, 
   .warning-msg-wrapper input[type=number]::-webkit-outer-spin-button {  
    
    opacity: 1;

    
    }
    
/************************************* multiselect dropdown css *********** */

/* css for intent div---------- */
.easychat-initial-questions-dropdown{
    height: 0;
}

.outer-intent-container input[type="text"]:not(.browser-default):focus:not([readonly]):not(.otp-form){
box-shadow: 0px !important;
box-shadow: 0px 0px 1px rgb(252 252 252) !important;
transition: all 0s ease-in-out;
width: 90%;
margin-top: 6px;
padding: 0rem 0.8rem;
border: 1px solid #F8F8F8;
border-radius: 0px;
font-family: "Silka", Sans-Serif !important;
}

.preview-container,
.preview-container{
    width: 80%;
    background: #ffffff;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 9px;
    margin-right: 10px;
    display: none;
    max-height: 200px;  
}
.preview-container1{
    margin-top: -40px!important;
    position: relative!important;
    top: 46px!important;
}

.scroll-area {
    overflow-y: scroll;
}


.preview-container-active{
    display: block;
}

.preview-container> span {
    margin: 4px 4px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 8px;
    /* height: 28px; */
    gap: 18px;
    color: #fff;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    box-sizing: border-box;
    word-break: break-word;
    background: #0254D7;
}

    .preview-container> span>span{
        background: url(./new-tag.svg) no-repeat;
        position: absolute;
        width: 22px;
        height: 22px;
        top: -12px;
        right: -9px;
        opacity : 0;
        display: none;
    }

    .preview-container> span> span.active-tag{
        opacity : 1;
    }

    .intent-tooltip-div>span{
        position: relative;
        top: -10rem;
        left: 6rem;
        z-index: 10000;
    }

    /* css for intent div end------------ */

.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}

.ms-options-wrap {
    position: relative;
    width: 91%;
    margin: 8px 0px;
    left: -1rem;
}

.ms-options-wrap>button:focus,
.ms-options-wrap>button  {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #ededed;
    background-color: #fff;
    padding: 5px 35px 5px 10px;
    margin-top: 1px;
    font-size: 13px;
    color: #2d2d2d;
    outline-offset: -2px;
    white-space: nowrap;
    height: 40px;
    margin-bottom: 0px;
    border-radius: 6px;
    box-shadow: none;
}

.ms-options-wrap>button>span {
    display: inline-block;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
}

.ms-options-wrap>button[disabled] {
    background-color: #e5e9ed;
    color: #808080;
    opacity: 0.6;
}

.ms-options-wrap>button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

.ms-options-wrap.ms-has-selections>button {
    color: #333;
}

.ms-options-wrap>.ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #f8f8f8;
    overflow: hidden;
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    height: unset !important;
    height: 0;
    border-radius: 6px;
    transition:  cubic-bezier(0.1,-0.51, 0, 1.98) 1s;
}
.ms-options-wrap.ms-active>.ms-options {
    /* display: block; */
    opacity: 1;
    pointer-events: all;
}

.ms-options-wrap>.ms-options>.ms-search input {
    width: 100% !important;
    padding: 0.5rem 0.5rem 0.5rem 1rem !important;
    background: #ffffff;
    border: 1px solid #F2F2F2 !important;
    /* border-radius: 25px !important; */
    outline: none !important;
    font-size: 14px !important;
    color: #2d2d2d !important;
    height: 35px !important;
    box-sizing: border-box;
}

.ms-options-wrap>.ms-options>.ms-search input:focus {
    background-color: #ffffff !important;
}

.ms-options-wrap>.ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-decoration: none !important;
    width: 100%;
    padding: 2px 25px;
}

.ms-options-wrap>.ms-options .ms-selectall:hover {
    background-color: #EEF1FF;
}

.ms-options-wrap>.ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap>.ms-options>.ms-selectall.global {
    margin: 0px;
}

.ms-options-wrap>.ms-options>ul,
.ms-options-wrap>.ms-options>ul>li.optgroup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px !important;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    column-count: unset !important;
    scrollbar-width: thin;
    position: static;
    z-index: 110;
    top: 90px;
    background: #fff;
}

.ms-options-wrap>.ms-options>ul li.ms-hidden {
    display: none;
}

.ms-options-wrap>.ms-options>ul>li.optgroup {
    padding: 5px;
}

.ms-options-wrap>.ms-options>ul>li.optgroup+li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap>.ms-options>ul>li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap>.ms-options>ul label {
    position: relative;
    display: inline-block;
    width: 98%;
    height: 5%;
    /* padding: 8px 11px 8px 15px; */
    /* border-top: 1px solid #eef1ff94; */
    font-size: 14px;
    color : #2d2d2d !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px 0;
}


.ms-options-wrap>.ms-options>ul label p{
    margin: 0;
    padding: 7px 11px 7px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}

.ms-options-wrap>.ms-options.checkbox-autofit>ul label,
.ms-options-wrap>.ms-options.hide-checkbox>ul label {
    padding: 4px;
}

.ms-options-wrap>.ms-options>ul li.focused,
.ms-options-wrap>.ms-options>ul li:hover {
    background-color: #EEF1FF;

}

.ms-options-wrap>.ms-options>ul li.selected label {
    color: #5A5A5A;
    font-weight: 500;
    margin: 0;
}

/* css for new intent button--------------- */
.easychat-initial-questions-dropdown .ms-options-wrap>.ms-options>ul button{
    width: 31px;
    height: 16px;
    font-size: 10px;
    padding: 2px 6px;
    background: #DADADA;
    border-radius: 1px;
    color: #ffffff;
    display: flex;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0;
    margin-right: 35px;
    text-align: center;
    visibility: hidden;
    pointer-events: none;
}

.easychat-initial-questions-dropdown .ms-options-wrap>.ms-options>ul .active-button{
    background: #0254D7;
}

.ms-options-wrap>.ms-options.hide-button>ul button{
    width: 31px;
    height: 14px;
    padding: 1px 4px;
    background: #0254D7;
    border-radius: 1px;
}
 /* css for intent button end------------ */

.ms-options-wrap>.ms-options>ul input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    margin: 0px !important;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    cursor: pointer !important;
    text-overflow: ellipsis;
}
.ms-options-wrap>.ms-options.hide-checkbox>ul input[type="checkbox"] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    cursor: pointer;
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar {
    width: 7px;
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.ms-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 4px 0px; */
    padding: 0px 12px;
    z-index: 107;
    background: #fff;

}

.ms-options-wrap>.ms-options>ul li.selected {
    padding: 0px !important;
    margin: 0px;
}

.ms-options-wrap>.ms-options>ul label>input[type="checkbox"]:checked{
    background: #2d2d2d !important;
}

.mailer-analytics-traffic-analytics-dropdown .select2,
.mailer-analytics-intent-analytics-dropdown .select2,
.mailer-analytics-flow-completion-dropdown .select2,
.easychat-initial-questions-dropdown .select2 {
    display: none;
}

.ms-options-wrap.ms-active>button:after {
    transform: rotate(180deg);
    margin-top: -9px;
}

.ms-options-wrap>.ms-options #selectall-drop-cb {
    opacity: 1;
    width: 16px !important;
    height: 16px !important;
    pointer-events: auto;
    right: 19px;
    margin: 0px !important;
    padding: 0px !important;
    top: 72px;
}
ul:not(.browser-default)>li {
    border-top: 1px solid #eef1ff94;
}

#channel-failure-messages li,
#channel-sticky-intents li {
    white-space: break-spaces !important;
}

#channel-languages li,
#channel-sticky-intents li {
    white-space: break-spaces !important;
}