.node-analytics-wrapper-div svg {
    width: 96%;
    height: calc(100vh - 9rem);
    background: #ffffff;
}

.analytics-node-person rect {
    fill: #fff;
    stroke: #265597;
    stroke-width: 1px;
}

.analytics-node-person {
    font: 14px sans-serif;
}

.link {
    fill: none;
    /* stroke: #40B3E0; */
    /* stroke-width: 1.5px; */
}

.node-level-status-div {
    background-color: #265597;
    border-radius: 8px 8px 0px 0px;
    height: 45px;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

.node-edit-icon-div {
    position: absolute;
    right: 15px;
    top: 17px;
    cursor: pointer;
    z-index: 100;
    width: 10px;
    height: 10px;
    background-image: url('../img/edit-flow-icon.svg');
    background-repeat: no-repeat;
}

.node-level-status-div div:nth-child(2) {
    padding: 6px 0px 4px 6px;
}

.node-name-div {
    font-weight: normal;
    font-size: 14px;
    color: #4d4d4d;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 0px 1px 0px 1px;
    height: max-content;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 4px;
}

.node-actions-div {
    width: 100%;
    font-weight: normal;
    font-size: 12px;
    text-decoration-line: underline;
    color: #868686;
}

.progressbar {
    width: 100%;
    height: 8px;
    border-radius: 2px;
    display: flex;
    margin-top: 10px;
}

.dropped-progress {
    background: #DC3545;
}

.clicked-progress {
    background: #28A745;
    border-radius: 2px 0px 0px 2px;
    height: 8px;
}

.abort-progress {
    background: #FFC107;
    height: 8px;
}

.node-full-detail-div {
    width: 100%;
    height: 130px;
    padding: 6px 12px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.progressbar-name-div {
    width: 100%;
    display: flex;
    padding-top: 4px;
    justify-content: space-between;
}

.progressbar-clicked-text-div,
.progressbar-aborted-text-div,
.progressbar-dropped-text-div {
    font-weight: normal;
    font-size: 10px;
    margin: 0px;
    width: 45px;
}

.progressbar-clicked-text-div {
    color: #28A745;
}

.progressbar-aborted-text-div {
    color: #FFC107;
    width: 60px;
}

.progressbar-dropped-text-div {
    color: #DC3545;
}

.node-percentage-level-of-parent-text-div {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #1E88E5;
    width: 100%;
    margin-top: 6px;
    display: none;
}

.node-closing-intent-div {
    font-weight: normal;
    font-size: 12px;
    color: #868686;
    width: 100%;
    margin-top: 6px;
}

.progressbar-wrapper-div {
    display: block;
}

.node-analytics-wrapper-div {
    text-align: center;
    width: 100%;
    letter-spacing: 0.2px;
}

#modal-flow-analytics-filter {
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    overflow-y: hidden !important;
}

#modal-flow-analytics-filter .modal-footer {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    padding-right: 1.5rem;
}

#modal-flow-analytics-filter .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px !important;
    position: static;
    height: 40px !important;
    background: #0254D7 !important;
    border-radius: 4px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

#modal-flow-analytics-filter .filter-modal-footer-btn-cancel {
    font-weight: 500 !important;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    height: 40px !important;
    color: #475569 !important;
    background: transparent !important;
    font-family: unset !important;
}

#modal-flow-analytics-filter .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

#modal-flow-analytics-filter .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

#modal-flow-analytics-filter .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 0px;
}

#modal-flow-analytics-filter .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 4px;
}

#modal-flow-analytics-filter .analytics-filter-select-area input[type=radio] {
    display: none !important;
}

#modal-flow-analytics-filter .analytics-filter-select-area input[type=radio]:checked+.filter-box {
    border: 1px solid #0254D7 !important;
}

#modal-flow-analytics-filter .analytics-filter-select-area input[type=radio]:checked+.filter-box span {
    color: #0254D7 !important;
}

#modal-flow-analytics-filter .analytics-filter-select-area .filter-box {
    padding: 0px 16px;
    height: 40px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 10px;
}

#modal-flow-analytics-filter .analytics-filter-select-area .filter-box span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
}

#modal-flow-analytics-filter .analytics-filter-select-area .filter-box span:before {
    font-size: 1.2em;
    display: block;
    font-weight: normal;
    color: white;
}

#modal-flow-analytics-filter .analytics-channel-select-area .channel-box {
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    margin-bottom: 8px;
    vertical-align: middle;
}

#modal-flow-analytics-filter label {
    display: initial;
}

#modal-flow-analytics-filter .analytics-channel-select-area .channel-box input[type="checkbox"] {
    display: none !important;
}

#modal-flow-analytics-filter .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label {
    border-color: #0254D7;
}

#modal-flow-analytics-filter .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label span {
    color: #0254D7;
}

#modal-flow-analytics-filter .analytics-channel-select-area .channel-box label {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    height: 40px;
    padding: 0px 16px;
    border-radius: 4px;
    border: 1px solid #F6F6F6;
}

#modal-flow-analytics-filter .analytics-channel-select-area .channel-box label span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 8px;
}

#modal-flow-analytics-filter .analytics-channel-select-area .channel-box input[type="checkbox"]:focus+label::before {
    outline: 0;
}

.modal-overflow-content-div {
    width: 100%;
    max-height: calc(100vh - 15rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-overflow-content-div::-webkit-scrollbar {
    display: none;
}

#modal-flow-analytics-filter .modal-header h6 {
    font-weight: 600 !important;
    font-size: 16px;
    color: #000000;
}

.nav-wrapper .brand-logo.red-text {
    margin-top: 0px !important;
    height: 67px;
}

.nav-wrapper .brand-logo.red-text img {
    position: fixed;
    top: 49%;
    transform: translateY(-50%);
}

.flow-analytics-back-btn-div {
    display: flex;
    align-items: center;
    border-radius: 4px !important;
    padding: 0px 16px !important;
    column-gap: 8px;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #1B65DB !important;
    height: 40px !important;
    width: max-content !important;
}

.flow-analytics-btn-div {
    display: flex;
    align-items: center;
    background: #1B65DB !important;
    border-radius: 4px !important;
    padding: 0px 16px !important;
    column-gap: 8px;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #ffffff !important;
    height: 40px !important;
    width: max-content !important;
}

.flow-analytics-header-btn-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin: 0px !important;
    margin-top: 18px !important;
    padding: 0px 2% !important;
}