.easychat-main-wrapper {
  background-color: #FAFAFA;
}

.easychat-analytics-content-wrapper {
  padding: 16px 0px;
  padding-bottom: 30px;
  margin: 0px -4px;
}

.easychat-tab-pane-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.easychat-tab-pane-wrapper .easychat-tab-pane-item:last-child {
  padding-right: 0px !important;
}

.easychat-tab-pane-item {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 8px;
}

.easychat-tab-pane-item-btn {
  border: none;
  outline: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none !important;
  height: 44px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #4D4D4D !important;
  border: 1px solid #FAFAFA;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}

.active-page {
  color: #FFFFFF !important;
  background: #1b65db !important;
  border: 1px solid #1b65db;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.easychat-analytics-buttons-wrapper {
  padding: 12px 24px;
  background: #FFFFFF;
  border: 1px solid #FAFAFA;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.easychat-analytics-btn-container .easychat-console-custom-dropdown {
  margin: 0px !important;
  width: 150px !important;
}

.easychat-analytics-btn-container .easychat-console-custom-dropdown .easychat-dropdown-select-custom {
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
}

.easychat-analytics-btn-container .easychat-console-custom-dropdown .easychat-dropdown-select-custom .list {
  border-radius: 4px;
}

.select2-selection__arrow {
  top: 5px !important;
}

.easychat-analytics-btn-container .easychat-console-custom-dropdown .easychat-dropdown-select-custom #txtSearchValue {
  border-radius: 4px;
  height: 17px !important;
  font-size: 11px !important;
  padding: 0.5rem 0.5rem 0.5rem 2rem !important;
}

.drop-language-search-icon {
  left: 8px !important;
}

.easychat-analytics-btn-container .easychat-console-custom-dropdown .easychat-dropdown-select-custom #txtSearchValue::placeholder {
  color: #3a403c;
}

.easychat-analytics-buttons-wrapper .easychat-analytics-botname-div {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #4D4D4D;
}

.easychat-analytics-btn-container {
  display: flex;
  gap: 8px;
}

.easychat-btns-custom {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  height: 40px;
  background: #1b65db;
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF !important;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  column-gap: 8px;
}

.easychat-analytics-card-area-wrapper {
  border: 1px solid #FAFAFA;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  padding: 20px 24px;
  background-color: #FFFFFF;
  margin-bottom: 8px;
}

.easychat-analytics-card-heading-div {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #191A34;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.easychat-analytics-card-data-update-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1px;
  color: #9FA2B4;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.easychat-analytics-card-heading-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.easychat-analytics-statics-card-value-div {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #605675;
}

.easychat-analytics-card-subheading-div span {
  font-weight: 500;
  color: #9FA2B4;
}

.easychat-analytics-statics-card-value-subheading {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #858796;
}

.easychat-analytics-statics-card-item {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  background-color: #ffffff;
  border: 1px solid #FAFAFA;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 10%);
  padding: 16px 12px;
  width: 100%;
  justify-content: center;
}

.easychat-analytics-statics-card-item:hover {
  box-shadow: 0px 8px 8px rgba(0, 32, 51, 0.04), 0px 12px 28px rgba(0, 32, 51, 0.12);
}

.easychat-analytics-statics-card-container {
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1024px) {
  .easychat-analytics-statics-card-container {
      display: unset;
  }
  .easychat-analytics-statics-card-item {
      margin-right: 16px;
  }
  .easychat-analytics-data-card-content-div {
      width: 85% !important;
  }
}

@media only screen and (min-width: 1024px) {
  .p0.pl-lg {
      padding-left: 8px !important;
  }
  .p0.pr-lg {
      padding-right: 8px !important;
  }
  .p0.easychat-analytics-left-side-card-div {
      padding-right: 5px !important;
  }
  .p0.easychat-analytics-middle-card-div {
      padding-right: 3px !important;
      padding-left: 3px !important;
  }
  .p0.easychat-analytics-right-side-card-div {
      padding-left: 5px !important;
  }
}

.p0 {
  padding: 0px !important;
}

.easychat-analytics-card-filter-btn {
  height: 24px;
  cursor: pointer;
}

.easychat-session-analytics-item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
  letter-spacing: 0.2px;
}

.easychat-session-analytics-item-value {
  padding: 4px 16px;
  min-height: 28px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border-radius: 4px;
}

.easychat-session-analytics-item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-top: 20px;
  justify-content: space-between;
}

.easychat-session-analytics-item .type-active {
  background: #E3FFF3;
  color: #00D586;
}

.easychat-session-analytics-item .type-inactive {
  background: #FFF4F8;
  color: #FF0F64;
}

.easychat-analytics-card-subheading-div {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #475569;
}

.easychat-session-analytics-content-div {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.easychat-analytics-card-action-btns {
  display: flex;
  align-items: center;
  gap: 12px;
}

.easychat-analytics-graph-wrapper {
  margin-top: 28px;
}

.easychat-analytics-graph-wrapper canvas {
  height: 100% !important;
  width: 100%;
}

.easychat-analytics-card-searchbar-div {
  margin-top: 18px;
  position: relative;
}

.easychat-analytics-card-searchbar-div span {
  position: absolute;
  left: 10px;
  top: 54%;
  transform: translateY(-50%);
}

.easychat-analytics-card-searchbar-div input:focus {
  border-radius: 4px !important;
}

.easychat-analytics-data-card-item-text {
  font-weight: normal;
  font-size: 14px;
  color: #3F4156;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 0.2px;
}

.easychat-analytics-data-card-value {
  padding: 0px 16px;
  height: 28px;
  display: flex;
  align-items: center;
  font-weight: 500;
  background: #EFF2F5;
  color: #858796;
  font-size: 14px;
  line-height: 17px;
  border-radius: 4px;
}

.easychat-analytics-data-card-item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-top: 20px;
  justify-content: space-between;
}

.easychat-analytics-data-card-content-div {
  display: flex;
  align-items: center;
  column-gap: 12px;
  width: 76%;
}

.easychat-analytics-card-item-color-div {
  width: 5px;
  height: 40px;
}

.easychat-analytics-data-card-icon-wrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
  position: relative;
}

.intent-list-item:nth-child(1) .easychat-analytics-data-card-icon-wrapper .easychat-analytics-card-item-color-div {
  background: #0098FF;
}

.intent-list-item:nth-child(1) .easychat-analytics-data-card-value {
  background: #EFFAFF;
  color: #0098FF;
}

.intent-list-item:nth-child(2) .easychat-analytics-data-card-icon-wrapper .easychat-analytics-card-item-color-div {
  background: #FF0F64;
}

.intent-list-item:nth-child(2) .easychat-analytics-data-card-value {
  background: #FFF4F8;
  color: #FF0F64;
}

.intent-list-item:nth-child(3) .easychat-analytics-data-card-icon-wrapper .easychat-analytics-card-item-color-div {
  background: #00D586;
}

.intent-list-item:nth-child(3) .easychat-analytics-data-card-value {
  background: #E3FFF3;
  color: #00D586;
}

.intent-list-item:nth-child(4) .easychat-analytics-data-card-icon-wrapper .easychat-analytics-card-item-color-div {
  background: #FFCA00;
}

.intent-list-item:nth-child(4) .easychat-analytics-data-card-value {
  background: #FFF9DA;
  color: #FFCA00;
}

.intent-list-item:nth-child(5) .easychat-analytics-data-card-icon-wrapper .easychat-analytics-card-item-color-div {
  background: #F9600A;
}

.intent-list-item:nth-child(5) .easychat-analytics-data-card-value {
  background: #FFFBEB;
  color: #F9600A;
}

.easychat-analytics-card-data-pagination-li {
  margin-top: 20px;
  height: 20px;
  min-height: unset !important;
}

.easychat-analytics-card-data-pagination-li a {
  margin-left: 12px;
}

.easychat-analytics-data-card-item-wrapper {
  margin: 0px;
}

.word-cloud-graph-wrapper {
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  height: 383px;
}

.easychat-analytics-card-heading-div>div {
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #7B7A7B;
}

#flow-analytics-chart li {
  padding-right: 6px;
}

#flow-analytics-chart .intent-list-item:hover {
  background: #F3F6FF;
  cursor: pointer;
}

#flow-analytics-chart a:nth-child(1) .easychat-analytics-data-card-icon-wrapper .easychat-analytics-card-item-color-div {
  background: #0098FF;
}

#flow-analytics-chart a:nth-child(1) .easychat-analytics-data-card-value {
  background: #EFFAFF;
  color: #0098FF;
}

#flow-analytics-chart a:nth-child(2) .easychat-analytics-data-card-icon-wrapper .easychat-analytics-card-item-color-div {
  background: #FF0F64;
}

#flow-analytics-chart a:nth-child(2) .easychat-analytics-data-card-value {
  background: #FFF4F8;
  color: #FF0F64;
}

#flow-analytics-chart a:nth-child(3) .easychat-analytics-data-card-icon-wrapper .easychat-analytics-card-item-color-div {
  background: #00D586;
}

#flow-analytics-chart a:nth-child(3) .easychat-analytics-data-card-value {
  background: #E3FFF3;
  color: #00D586;
}

#flow-analytics-chart a:nth-child(4) .easychat-analytics-data-card-icon-wrapper .easychat-analytics-card-item-color-div {
  background: #FFCA00;
}

#flow-analytics-chart a:nth-child(4) .easychat-analytics-data-card-value {
  background: #FFF9DA;
  color: #FFCA00;
}

#flow-analytics-chart a:nth-child(5) .easychat-analytics-data-card-icon-wrapper .easychat-analytics-card-item-color-div {
  background: #F9600A;
}

#flow-analytics-chart a:nth-child(5) .easychat-analytics-data-card-value {
  background: #FFFBEB;
  color: #F9600A;
}

#flow-analytics-chart a:nth-child(1):hover .easychat-analytics-data-card-value {
  background: #007AFF;
  color: #FFF;
}

#flow-analytics-chart a:nth-child(2):hover .easychat-analytics-data-card-value {
  background: #FF0F64;
  color: #FFF;
}

#flow-analytics-chart a:nth-child(3):hover .easychat-analytics-data-card-value {
  background: #00D586;
  color: #FFF;
}

#flow-analytics-chart a:nth-child(4):hover .easychat-analytics-data-card-value {
  background: #FFCA00;
  color: #FFF;
}

#flow-analytics-chart a:nth-child(5):hover .easychat-analytics-data-card-value {
  background: #F9600A;
  color: #FFF;
}

.easychat-analytics-card-question-intent-btn {
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #0B1E65;
  min-width: 27px;
  padding: 0 2px;
  height: 27px;
  background: #FFFFFF;
  border: 3px solid #EFFAFF;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.analytics-card-blue-li .easychat-analytics-card-question-intent-btn {
  border-color: #EFFAFF;
}

.analytics-card-red-li .easychat-analytics-card-question-intent-btn {
  border-color: #FFF4F8;
}

.analytics-card-green-li .easychat-analytics-card-question-intent-btn {
  border-color: #E3FFF3;
}

.analytics-card-yellow-li .easychat-analytics-card-question-intent-btn {
  border-color: #FFF9DA;
}

.analytics-card-orange-li .easychat-analytics-card-question-intent-btn {
  border-color: #FFFBEB;
}

.easychat-analytics-form-assist-value-div {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #64748B;
}

.easychat-analytics-questions-card-container {
  min-height: 485px;
}

.easychat-analytics-data-card-item-wrapper li {
  min-height: 40px;
}

.easychat-analytics-data-card-intent-list {
  padding: 24px 12px !important;
  position: absolute;
  max-height: 280px;
  height: auto;
  width: 348px;
  top: 8px;
  overflow-y: auto;
  z-index: 101;
  background: #FFFFFF;
  border: 1px solid #E4E9FE;
  box-sizing: border-box;
  box-shadow: 0px 0px 14px rgb(37 74 156 / 30%);
  border-radius: 4px;
  margin: 0px;
  display: none;
}

.easychat-analytics-data-card-intent-list-item {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #53575E;
  border-bottom: 2px solid #F8F8F8;
  padding: 10px;
}

.easychat-analytics-data-card-intent-list-item:last-child {
  border: none;
}

.easychat-analytics-data-card-intent-list-item:hover {
  color: #0254D7;
}

#user-nudge-analytics-chart .easychat-analytics-data-card-icon-wrapper .easychat-analytics-data-card-intent-list {
  bottom: 6px;
  top: unset !important;
  max-width: 218px !important;
  right: -220px !important;
}

.easychat-analytics-reload-data-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 16px !important;
  gap: 8px;
  width: max-content;
  height: 32px;
  background: #F8F8F8;
  border-radius: 4px !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #7B7A7B;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  margin: 0px !important;
}

.easychat-analytics-reload-data-btn:focus {
  background: #F8F8F8;
}

.easychat-analytics-no-data-found-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 12px;
}


/* modal css */

#analytics-custom-date-select-area input:focus {
  border-radius: 8px !important;
}

.analytics-custom-date-select-area {
  margin-top: 15px;
  padding-right: 0px !important;
}

.modal.easychat-custom-modals-container {
  background: #fff !important;
  max-height: 90%;
  top: 4% !important;
  padding: 0px !important;
  overflow-y: hidden;
}

.modal.easychat-custom-modals-container .modal-footer {
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px !important;
  position: static;
  height: 40px !important;
  background: #0254D7 !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #FFFFFF;
  margin: 0px 20px;
  font-family: unset !important;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel {
  font-weight: 500 !important;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  height: 40px !important;
  color: #475569 !important;
  background: #F6F6F6 !important;
  border-radius: 4px !important;
  font-family: unset !important;
  margin: 0 !important;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel:hover {
  box-shadow: none !important;
}

.modal.easychat-custom-modals-container .modal-content {
  padding: 1.5rem 3rem 0rem 3rem !important;
}

.modal.easychat-custom-modals-container .modal-content .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  height: 45px;
  padding-bottom: 10px;
  padding-left: 2px;
}

.modal.easychat-custom-modals-container .analytics-start-date {
  border: none !important;
}

.modal.easychat-custom-modals-container .modal-content .modal-header .modal-close-btn {
  background: transparent;
  box-shadow: none;
  padding-top: 12px;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area input[type=radio] {
  display: none !important;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area input[type=radio]:checked+.filter-box {
  border: 1px solid #0254D7 !important;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area input[type=radio]:checked+.filter-box span {
  color: #0254D7 !important;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area .filter-box {
  padding: 0px 16px;
  height: 40px;
  background: #F6F6F6;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  font-weight: normal;
  font-size: 14px;
  color: #2D2D2D;
  border: 1px solid #F6F6F6 !important;
  margin-bottom: 10px;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area .filter-box span {
  font-weight: normal;
  font-size: 14px;
  color: #2D2D2D;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area .filter-box span:before {
  font-size: 1.2em;
  display: block;
  font-weight: normal;
  color: white;
}

.modal.easychat-custom-modals-container .filter-heading {
  font-weight: 600;
  font-size: 14px;
  color: #4D4D4D;
  margin: 15px 0px;
}

.modal.easychat-custom-modals-container .analytics-filter-select-area,
.modal.easychat-custom-modals-container .analytics-channel-select-area,
.modal.easychat-custom-modals-container .analytics-custom-date-select-area {
  padding-left: 0px !important;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box {
  background: #F6F6F6;
  border-radius: 4px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  font-weight: normal;
  font-size: 14px;
  color: #2D2D2D;
  border: 1px solid #F6F6F6 !important;
  margin-bottom: 8px;
  vertical-align: middle;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box label {
  position: relative;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box input[type="radio"]:checked~label {
  border: 1px solid #0254D7;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box input[type="radio"]:checked~label span {
  color: #0254D7;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box label {
  padding-left: 26px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  font-weight: normal;
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 0px 16px;
  border: 1px solid #F6F6F6;
  border-radius: 4px;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box label span {
  font-weight: normal;
  font-size: 14px;
  color: #2D2D2D;
  padding-left: 8px;
}

.modal.easychat-custom-modals-container .analytics-channel-select-area .channel-box input[type="radio"]:focus+label::before {
  outline: 0;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div {
  width: 100%;
  max-height: calc(100vh - 16rem);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 16px;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div::-webkit-scrollbar {
  display: none;
}

.modal.easychat-custom-modals-container .modal-heading-text-div {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}


/* 
dropdown css */

.select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder {
  color: #7B7A7B;
  font-family: "Silka", sans-serif;
  font-size: 14px;
  background-repeat: no-repeat !important;
  background: url('data:image/svg+xml;utf8,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6875 12.0689L9.38346 8.76486C10.1774 7.81169 10.5734 6.5891 10.4889 5.35145C10.4044 4.11379 9.84601 2.95635 8.92988 2.1199C8.01375 1.28346 6.81041 0.83241 5.57019 0.86059C4.32997 0.88877 3.14836 1.39401 2.27117 2.2712C1.39398 3.14839 0.888739 4.33 0.860559 5.57022C0.832379 6.81044 1.28343 8.01378 2.11987 8.92991C2.95632 9.84604 4.11376 10.4044 5.35142 10.4889C6.58907 10.5734 7.81166 10.1775 8.76483 9.38349L12.0688 12.6875L12.6875 12.0689ZM1.74996 5.68749C1.74996 4.90872 1.98089 4.14745 2.41355 3.49993C2.84621 2.85241 3.46116 2.34773 4.18064 2.04971C4.90013 1.75169 5.69183 1.67372 6.45563 1.82565C7.21943 1.97758 7.92102 2.35259 8.47169 2.90326C9.02236 3.45393 9.39737 4.15552 9.5493 4.91932C9.70123 5.68312 9.62325 6.47482 9.32523 7.1943C9.02721 7.91379 8.52253 8.52874 7.87502 8.9614C7.2275 9.39406 6.46622 9.62499 5.68746 9.62499C4.64352 9.62383 3.64268 9.20862 2.9045 8.47044C2.16633 7.73227 1.75112 6.73142 1.74996 5.68749Z" fill="%23909090"/></svg>') center / contain no-repeat;
  background-position: left;
  text-indent: 25px;
  content: "Search";
}

.select2-dropdown {
  top: 1px !important;
  padding: 0 !important;
  border-radius: 8px !important;
  margin-top: 5px;
}

.select2-dropdown .select2-search {
  padding: 8px;
}

.select2-dropdown .select2-search .select2-search__field {
  background-color: #FAFAFA;
  border-radius: 4px !important;
  border: 1px solid #F8F8F8 !important;
  border-bottom: 1px solid #F8F8F8 !important;
  margin: 0;
  margin-top: 0 !important;
}

.select2-dropdown .select2-search .select2-search__field:focus {
  box-shadow: none !important;
}

.select2-dropdown .select2-results__options {
  border-radius: 8px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar {
  width: 5px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar-thumb {
  background: #88A3D2;
  border-radius: 8px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: 0 0 0px #777 !important;
  border-radius: 10px;
}

.select2-dropdown .select2-results__option {
  font-family: "Silka", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  font-style: normal;
  color: #2D2D2D !important;
  margin: 0 !important;
  border-radius: unset !important;
  padding: 12px 16px !important;
  border: 1px solid #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--highlighted {
  background-color: #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--selected {
  background-color: #F6F6F6 !important;
  color: #2D2D2D !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background: #F6F6F6 !important;
  color: #2D2D2D !important;
}

.select2-container--default .select2-results>.select2-results__options {
  max-height: 130px !important;
}

.select2-container--default .select2-results__option--disabled {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 0px;
  height: 18px;
  width: 18px;
  margin-left: -12px;
  margin-top: -8px;
  background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.793 6.23271C14.0787 6.53263 14.0672 7.00737 13.7672 7.29306L8.51678 12.2944C8.22711 12.5703 7.77187 12.5703 7.4822 12.2944L2.23173 7.29306C1.93181 7.00737 1.92028 6.53263 2.20597 6.23271C2.49166 5.93279 2.96639 5.92125 3.26631 6.20694L7.99949 10.7155L12.7327 6.20694C13.0326 5.92125 13.5073 5.93279 13.793 6.23271Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0px;
  margin-top: -3px;
  margin-left: -10px;
  background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.206023 6.26863C-0.0796766 5.96871 -0.0681772 5.49397 0.231823 5.20828L5.48224 0.206941C5.77191 -0.0689588 6.22715 -0.0689588 6.51682 0.206941L11.7673 5.20828C12.0672 5.49397 12.0787 5.96871 11.7931 6.26863C11.5074 6.56855 11.0326 6.58009 10.7327 6.2944L5.99953 1.78584L1.26632 6.2944C0.966423 6.58009 0.491723 6.56855 0.206023 6.26863Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}

.modal.easychat-custom-modals-container .select2-selection__rendered {
  line-height: 1.5;
  width: 90%;
}

.modal.easychat-custom-modals-container .select2-selection {
  height: 41px !important;
  border-radius: 4px !important;
  border: none !important;
  width: 100% !important;
  font-family: "Silka", Sans-Serif;
  padding: 9px 10px!important;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
  background: #FAFAFA;
  text-align: left!important;
  color: #2D2D2D;
  box-shadow: none !important;
}

.modal.easychat-custom-modals-container .select2-container {
  width: 400px !important;
}

#modal-wordcloud-full-window .modal-header .modal-heading-text-div {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

#modal-wordcloud-full-window .modal-header #wordcloud-big-time-range {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #2D2D2D;
}

#modal-wordcloud-full-window .modal-header #wordcloud-big-time-range span {
  color: #9FA2B4;
}

#wordcloud-big-freq-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
}

#wordcloud-big-freq-info>div {
  margin-top: 12px;
}

#wordcloud-big-freq-info>div span {
  color: #7B7A7B;
}

.analytics-email-note-export {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7B7A7B;
  letter-spacing: 0.2px;
}

.email-validation-error, .duplicate-email-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #2D2D2D;
  letter-spacing: 0.2px;
  margin: 6px 0px;
  display: none;
}

.conversion-node-analytics-download-excel-btn {
  border-radius: 4px !important;
  height: 40px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}


/* conversion analytics css */

.conversion-analytics-content-wrapper {
  margin: 0px -4px;
  padding: 5px 0px;
}

.conversion-analytics-filter-lang-wrapper .easychat-console-custom-dropdown .easychat-dropdown-select-custom.wide {
  width: 100%;
  margin-left: 0px;
  height: 40px;
}

.easychat-analytics-custom-table-wrapper.conversion-analytics-table-wrapper {
  overflow: visible;
  height: unset;
  padding: 0px;
}

#flow_analytics_search:focus {
  box-shadow: none !important;
}

.conversion-analytics-table-wrapper .easychat-analytics-custom-table-parent-container table {
  border: none;
}

.conversion-analytics-table-wrapper .easychat-analytics-custom-table-parent-container {
  padding-bottom: 6px;
}

.conversion-analytics-table-wrapper .analytics-card-table-area {
  border: 1.5px solid #F6F6F6;
}

.conversion-analytics-table-wrapper .easychat-analytics-custom-table-parent-container table tr th .material-icons {
  color: #D1D2D4;
}

.conversion-analytics-table-wrapper .easychat-analytics-custom-table-parent-container table tr td a {
  color: #1B65DB !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.anamytics-table-progress-percent-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #2D2D2D;
  margin-top: 2px;
}

.easychat-analytics-custom-table-wrapper.conversion-analytics-table-wrapper .card {
  margin: 0px !important;
}


/* language dropdown css */

.easychat-analytics-modal-language-dropdown-wrapper {
  display: flex;
  width: 100%;
  padding-left: 4px;
}

.easychat-analytics-modal-language-dropdown-wrapper .container {
  margin: 0px !important;
  width: 100% !important;
}

.easychat-analytics-modal-language-dropdown-wrapper .container .select-box {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.container .select-box .options-container {
  color: #2D2D2D;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 32, 51, 0.16);
  border-radius: 0 0 4px 4px;
  border-top: 0;
  overflow: hidden;
  order: 1;
  z-index: 101;
}

.container .selected {
  /* background: #fff; */
  border-right: 0;
  color: #909090;
  position: relative;
  max-height: 140px;
  overflow-y: scroll;
  font-size: 14px;
  margin-right: 32px;
  padding: 5px !important;
  order: 0;
}

.container .selected::-webkit-scrollbar {
  display: none;
}

.container .select-box .options-container.active {
  max-height: 100px;
  opacity: 1;
  overflow-y: auto;
}

.container .select-box .options-container::-webkit-scrollbar {
  width: 4px;
  background: #EBEBEB;
  border-left: 0px;
  border-radius: 0 0 18px 0;
}

.container .select-box .options-container::-webkit-scrollbar-thumb {
  background: #CBCACA;
  border-radius: 18px;
}

.container .select-box .option, .container .select-box .select-all-option,
.selected {
  padding: 6px 18px;
  border-bottom: 1px solid #F3F6FF;
}

.container .select-box .option:hover, .container .select-box .select-all-option:hover {
  background: #F3F6FF;
}

.container .select-box label {
  cursor: pointer;
}

.container .option label, .container .select-all-option label {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2D2D2D;
  padding-left: 28px;
}

.container .select-box .option .radio, .container .select-box .select-all-option .radio {
  display: none;
}

.container .option, .container .select-all-option {
  position: relative;
}

.container .item-checkbox, .container .select-all-item-checkbox {
  opacity: 1 !important;
  position: absolute;
  left: 12px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-100%);
}

.container .tag {
  display: inline-flex;
  color: #0254D7;
  border: 1px solid #0254D7;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 3px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  background: #ffffff;
  letter-spacing: 0.25px;
}

.container .wrapper-box {
  position: relative;
  padding: 5px;
  padding-right: 8px;
  border: 1px solid #EBEBEB;
  box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 0px 4px rgba(50, 50, 71, 0.06);
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
  min-height: 40px;
  display: flex;
  align-items: center;
  /* background: #F6F6F6; */
}

.container .box {
  position: relative;
}

.container .arrow {
  color: #2D2D2D;
  position: absolute;
  right: 16px;
  top: 50%;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 20px;
  transform: translateY(-50%) rotate(0deg);
}

.container .search-box {
  padding: 6px 8px;
  box-shadow: 0px 2px 8px rgba(0, 32, 51, 0.16);
  width: 400px;
  opacity: 0;
  border-radius: 4px 4px 0 0;
  pointer-events: none;
  transition: all 0.4s;
}

#easychat-analytics-filter-modal.easychat-custom-modals-container .easychat-analytics-modal-language-dropdown-wrapper #language-options-search-box input[type="text"] {
  margin: 0px !important;
  background: #FAFAFA;
  border: 1px solid #F6F6F6 !important;
  border-radius: 4px;
  height: 32px !important;
  width: 93% !important;
}

.container .search-box input:focus {
  outline: none;
}

.container .search-box input::-webkit-input-placeholder {
  color: #7B7A7B;
  font-size: 12px;
  font-weight: 500;
  background-repeat: no-repeat;
  background: url('data:image/svg+xml;utf8,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6875 12.0689L9.38346 8.76486C10.1774 7.81169 10.5734 6.5891 10.4889 5.35145C10.4044 4.11379 9.84601 2.95635 8.92988 2.1199C8.01375 1.28346 6.81041 0.83241 5.57019 0.86059C4.32997 0.88877 3.14836 1.39401 2.27117 2.2712C1.39398 3.14839 0.888739 4.33 0.860559 5.57022C0.832379 6.81044 1.28343 8.01378 2.11987 8.92991C2.95632 9.84604 4.11376 10.4044 5.35142 10.4889C6.58907 10.5734 7.81166 10.1775 8.76483 9.38349L12.0688 12.6875L12.6875 12.0689ZM1.74996 5.68749C1.74996 4.90872 1.98089 4.14745 2.41355 3.49993C2.84621 2.85241 3.46116 2.34773 4.18064 2.04971C4.90013 1.75169 5.69183 1.67372 6.45563 1.82565C7.21943 1.97758 7.92102 2.35259 8.47169 2.90326C9.02236 3.45393 9.39737 4.15552 9.5493 4.91932C9.70123 5.68312 9.62325 6.47482 9.32523 7.1943C9.02721 7.91379 8.52253 8.52874 7.87502 8.9614C7.2275 9.39406 6.46622 9.62499 5.68746 9.62499C4.64352 9.62383 3.64268 9.20862 2.9045 8.47044C2.16633 7.73227 1.75112 6.73142 1.74996 5.68749Z" fill="%23909090"/></svg>') center / contain no-repeat;
  background-position: left;
  text-indent: 8px;
}

.container .select-box .options-container.active~.search-box input {
  opacity: 1;
  pointer-events: auto;
}

.container .select-box .options-container.active~.search-box {
  opacity: 1;
  pointer-events: auto;
  z-index: 100;
  background: #ffffff;
}

.container hr {
  height: 1px;
  background-color: #F3F6FF;
  border: none;
}

#languages-extend-button {
  background: #0254D7;
  border: 1px solid #0254D7;
  border-radius: 4px;
  padding: 3px 8px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  z-index: 1000;
  margin: 5px 2px;
}

.container .no-elem {
  display: none;
  text-align: center;
  padding: 10px;
}

.container .selected-language-cross-btn {
  z-index: 1000;
  padding-left: 5px;
  cursor: pointer;
  width: 12px;
  height: 15px;
  display: none;
}

.container #search-box-input:focus {
  border: 1px solid #e1e1e1 !important;
}

#circle {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 100%;
  position: absolute;
  top: 6px;
  left: -12px;
  margin-right: 15px;
}

.collapsible-body .choose-language {
  display: flex;
  position: relative;
  margin-top: 0rem;
}

.collapsible-body .dashed-line {
  border: none;
  border-top: 1.35789px dashed rgba(154, 170, 235, 0.35);
  color: #fff;
  background-color: #fff;
  height: 1px;
}

#add-language-colapsible-body {
  padding: 0rem 1rem;
}

.language-chip-display-name {
  min-width: 25px;
}

#selected-language-chips-wrapper {
  padding: 3px;
}

.container .selected {
  padding: 2px 5px !important;
}

.container .tag {
  padding: 3px 7px;
  font-size: 14px;
  align-items: center;
}


/* .easychat-analytics-data-card-item-wrapper li:nth-child(1) .easychat-analytics-card-item-color-div {
  background: #0098FF;
} */

.easychat-graph-legends-option-wrapper {
  width: 190px;
  background: #FAFAFA;
  border-radius: 4px;
  padding-top: 12px;
}

.apexcharts-tooltip .apexcharts-tooltip-series-group {
  max-height: 20px;
}

.graph-parent-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

.easychat-graph-legends-option-wrapper .easychat-analytics-card-searchbar-div {
  margin-top: 0px;
  padding: 0px 11px;
}

.easychat-graph-legends-option-wrapper .easychat-analytics-card-searchbar-div input {
  margin: 0px !important;
}

.easychat-graph-legends-option-wrapper .easychat-analytics-card-searchbar-div span {
  height: 18px;
  left: 20px;
}

.graph-legend-item-div:hover {
  background-color: #EBEBEB;
}

.graph-legend-item-div {
  padding: 4px 12px;
}


/* checkbox css */

.easychat-user-custom-checkbox-div input[type="checkbox"] {
  display: none;
}

.easychat-user-custom-checkbox-div label {
  padding-left: 22px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  font-weight: normal;
  cursor: pointer;
}

.easychat-user-custom-checkbox-div label span {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #7B7A7B;
  text-decoration: line-through;
}

.easychat-user-custom-checkbox-div label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 1px 0px 4px 0px;
  width: 12px;
  height: 12px;
  transition: transform 0.28s ease;
  border-radius: 2px;
  border: 1px solid #DADADA;
}

.easychat-user-custom-checkbox-div input[type="checkbox"]:checked~label span {
  text-decoration: none;
}

.easychat-user-custom-checkbox-div {
  position: relative;
}

.graph-legend-items-wrapper {
  margin: 10px 0px 0px;
  max-height: 290px;
  overflow-y: auto;
  padding-bottom: 8px;
}

.graph-legend-noresult-found {
  text-align: center;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #4d4d4d;
}

.graph-legend-items-wrapper::-webkit-scrollbar {
  width: 4px;
}

.graph-legend-items-wrapper::-webkit-scrollbar-thumb {
  background: #88A3D2;
  border-radius: 2px;
}

.graph-legend-items-wrapper::-webkit-scrollbar-track {
  background: #F6F8FF;
  border-radius: 2px;
}

#channel_usage_analytics_graph,
#category_usage_analytics_graph {
  display: flex;
  align-items: center;
  margin-left: -22px;
}

.apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series {
  margin: 21px 5px 5px 30px!important;
}

#user_analytics_graph .apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series {
  margin: 21px 5px 5px 48px!important;
}

.language-right-to-left-wrapper {
  direction: rtl;
  text-align: right;
  padding-right: 5px;
}

.right-to-left-search-span {
  left: initial !important;
  right: 10px;
}

.right-to-left-search-input {
  direction: rtl;
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

#message-analytics-percentage-change {
  margin-left: 5px;
}

#warning-msg {
	display: flex;
	position: absolute;
	z-index: 10;
	top: 2px;
	align-items: center;
	background: #FDF6DB;
	width: max-content;
	max-width: auto;
	height: 40px;
	margin: 10.5px 0px 0px 90px;
	border: 1px solid #F8DA70;
	box-sizing: border-box;
	border-radius: 4px;
	visibility: 'hidden';
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	padding: 0px 12px;
	column-gap: 12px;
}

.hour-wise-analytics-header-tag-div{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  width: max-content;
  height: 22px;
  background: #DFDBFB;
  border-radius: 0px 3px 3px 0px;
  border-left: 2px solid #2C15C4;
  font-weight: 500 !important;
  font-size: 10px !important;
  line-height: 12px !important;
  color: #2C15C4 !important;
  margin-left: 230px;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 1370px) {
  .easychat-session-analytics-content-div {
    column-gap: 8px;
  }
}
#easychat-Catalog-whatsApp-WhatsApp-filter-modal .filter-heading{
  margin: 2px 0px 16px 0px !important;
}
#easychat-Catalog-whatsApp-WhatsApp-filter-modal .modal-content .modal-header{
  margin-bottom: 10px!important;
}
#easychat-Catalog-whatsApp-WhatsApp-filter-modal .analytics-filter-select-area .filter-box{
  margin-bottom: 10px!important;
}
#easychat-Catalog-whatsApp-WhatsApp-filter-modal .modal-overflow-content-div{
  padding-bottom: 6px!important;
}
#easychat-Catalog-whatsApp-WhatsApp-filter-modal .analytics-custom-date-select-area{
  margin-top: 6px !important;
}

.easychat-custom-modals-container .analytics-custom-date-select-area textarea{
  height: 2.8em;
  overflow-y: scroll;
  border: 2px solid #F6F6F6 !important;
  border-radius: 4px !important;
  outline: none !important;
  padding: 0.5rem 0.8rem;
  margin-top: 6px;
  max-height: 70px;
  resize: none;
}

.easychat-custom-modals-container .analytics-custom-date-select-area textarea::-webkit-scrollbar-track{
  background: transparent;
}