
  .close-div {
      position: absolute;
      top: 2px;
      right: 2px;
      color: #C62828 !important;
      z-index: 100;
  }
  #make-data-entry-form-modal{
    max-height: 80% !important;
  }

  i {
    cursor: pointer;
  } 