
/* Sidebar css */

.add-scrolling {
    overflow-y: auto;
    height: calc(100vh - 7rem);
    padding-bottom: 30px;
}

#main-console-sidenav {
   padding:  0.5rem 0rem 0rem 0rem !important;
   margin-top: 4.7% !important;
}

#easychat-sidenav-wrapper .collection {
    padding: 5px 4px 10px !important;
    height: calc(100vh - 108px);
    overflow: auto;
    margin-left: 0 !important;
    border-radius: 0 !important;
}

.collection.with-header .collection-header {
    color: #2741FA !important;
    border-bottom: none !important;
    background: #EFF6FF;
}

.sidebar-menu-item {
    font-weight: 400;
    cursor: pointer;
    padding: 12px 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    letter-spacing: 0.2px;
    border-radius: 2px;
}

.collapsed-section-content a {
    display: block !important;
}

.sidebar-menu-item:hover {
    background: #F8F8F8;
}

.collabsible-sidebar-menu span {
    font-size: 14px;
    line-height: 17px;
    color: #334155;
}

.collabsible-sidebar-menu .down-arrow {
    position: absolute;
    right: 12px;
}

.collapsed-section-item {
    padding-left: 44px;
}

.collapsed-section-item span {
    font-size: 13px;
    line-height: 17px;
    color: #53575E;
    margin-left: 6px;
    display: block !important;
}

.collabsible-sidebar-menu-wrapper a {
    display: block !important;
}

.collabsible-sidebar-menu-active .down-arrow {
    transform: rotate(-180deg);
}

.collabsible-sidebar-menu-active .down-arrow path {
    fill: #2741FA;
}

.collapsed-section-content {
    display: none;
}

.collapsed-item-active {
    background: #F8F8F8;
}

.collapsed-item-active span {
    color: #0254D7;
}


/* .collapsed-item-active svg path {
    fill: #2741FA;
} */

.collapse-expand-sidebar-div {
    margin-top: 60px;
    text-align: center;
    cursor: pointer;
}

.collapse-expand-sidebar-div svg {
    transform: rotate(-180deg);
}

.collapse-expand-sidebar-div.collapsed svg {
    transform: rotate(0deg);
}

.collapsed-logo {
    margin-left: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'");
}

.expanded-logo {
    margin-left: 11px;
}

nav .brand-logo {
    left: 0px !important;
    transform: unset !important;
}

@media only screen and (max-width: 992px) {
nav .brand-logo {
        left: 0px !important;
        transform: unset !important;
    }
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    top: 0;
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    top:  0;
}

/* 
newchanges */

html {
    overflow: hidden;
}


.navbar-fixed {
    height: 68px !important;
    margin-bottom: 0px !important;
    border-bottom: 1.5px solid #FAFAFA;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 10%);
}

.easychat-main-wrapper {
    display: flex;
    overflow: hidden;
    position: relative;
}

.easychat-content-wrapper {
    height: 90vh;
    overflow-y: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.collapsed-section-href {
    position: relative;
}


#easychat-sidenav-wrapper {
    width: 225px;
    border-right: 1px solid #FAFAFA;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 10%);
}

#easychat-sidenav-wrapper .collection.with-header::-webkit-scrollbar {
    display: none;
}

.collapsed#easychat-sidenav-wrapper {
    width: 72px;
}

.collapsed#easychat-sidenav-wrapper .collabsible-sidebar-menu span {
    display: none !important;
}

#easychat-sidenav-wrapper .collection.with-header {
    width: inherit;
    margin-top: 0px;
    padding-bottom: 45px !important;
    box-shadow: none !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.collapsed#easychat-sidenav-wrapper .collection.with-header {
    overflow: visible !important;
}

.easychat-botname-wrapper {
    display: flex;
    background: #FAFAFA;
    height: 48px;
    align-items: center;
    gap: 10px;
    padding-left: 18px;
}

.easychat-botname-wrapper .easychat-botname-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #0254D7;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.collapsed#easychat-sidenav-wrapper .easychat-botname-wrapper .easychat-botname-div {
    display: none;
}

.collapsed#easychat-sidenav-wrapper .collabsible-sidebar-menu-wrapper {
    position: relative;
}

.collapsed#easychat-sidenav-wrapper .collabsible-sidebar-menu-wrapper:hover .collapsed-section-content {
    display: block !important;
}

.collapsed#easychat-sidenav-wrapper .collapsed-section-content {
    position: absolute;
    background-color: #ffffff;
    width: max-content;
    left: 64px;
    z-index: 101;
    top: 0px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 8px 8px;
}

.collapsed#easychat-sidenav-wrapper .collapsed-section-content .collapsed-section-item {
    padding-left: 6px;
}

.collapsed#easychat-sidenav-wrapper .sidebar-menu-item {
    margin-bottom: 2px;
}

.collapsed#easychat-sidenav-wrapper .collabsible-sidebar-menu {
    justify-content: center;
}

.collapsed#easychat-sidenav-wrapper .uncollapsed-item-active {
    background: #F8F8F8;
}

.collapsed#easychat-sidenav-wrapper .uncollapsed-item-active svg path {
    fill: #2F80ED;
}

.collapsed#easychat-sidenav-wrapper .collabsible-sidebar-menu .down-arrow {
    display: none;
}

.collapsed#easychat-sidenav-wrapper .easychat-botname-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

.collapsed#easychat-sidenav-wrapper .collabsible-sidebar-menu-active .collapsed-section-content {
    display: none !important;
}

.collabsible-sidebar-menu-active .collapsed-section-content {
    display: block !important;
}

.collabsible-sidebar-menu-wrapper span {
    display: block !important;
}

/* message history css */

#chat-frame {
    width: 100% !important;
}

#chat-wrapper {
    padding-left: 0px !important;
    height: 100% !important;
}

#chat-frame .content {
    height: 112% !important;
}


/* analytics css */

.easychat-analytics-main-content-container {
    display: flex;
    flex-direction: column;
}

.easychat-analytics-card-wrapper-div .new {
    width: 96% !important;
}

.analyticsHeadSmall {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dashboard-stat-label {
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#third_block_analytics {
    padding: 0em 1.5em;
}

.analyticsCard .body .easychat-analytics-chart-heading {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.analyticsCard .body .easychat-analytics-chart-heading-wrapper {
    display: flex;
    justify-content: space-between;
}
