@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
html {
    font-family: 'DM Sans';
    font-style: normal;
}

.easychat-range-slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 12px;
}

.easychat-bot-range-slider-div {
    padding: 16px;
    width: 295px;
    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    box-shadow: 6px 12px 40px rgba(47, 47, 47, 0.08);
    border-radius: 8px;
    position: relative;
    margin-bottom: 8px;
}

.easychat-bot-range-slider-div-heading {
    font-weight: 500;
    font-size: 12px;
    color: #2D2D2D;
    font-family: 'DM Sans';
}

.easychat-bot-range-slider-area {
    width: 100%;
    margin-top: 14px;
}

.easychat-bot-range-min-max-value-wrapper {
    width: 100%;
    display: flex;
    margin-top: 12px;
    justify-content: center;
}

.easychat-bot-range-min-max-value-wrapper svg {
    margin: 18px 10px 0px;
    width: 30px;
}

.easychat-bot-range-min-inner-value,
.easychat-bot-range-max-inner-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100%;
    height: 34px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 12px;
    color: #2755CB;
    outline: none;
    text-align: center;
}

.easychat-bot-range-min-value-div,
.easychat-bot-range-max-value-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.easychat-bot-range-min-value-div p,
.easychat-bot-range-max-value-div p {
    font-weight: 500;
    font-size: 10px;
    color: #7b7a7b;
    margin-top: 8px;
}

.easychat-bot-range-button-wrapper {
    min-width: 295px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.easychat-bot-range-button-wrapper .easychat-bot-range-confirm-button {
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    /* letter-spacing: 0.839885px; */
    color: #FFFFFF;
    height: 29px;
    background: #2755CB;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.easychat-bot-range-button-wrapper .easychat-bot-range-cancel-button {
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    /* letter-spacing: 0.839885px; */
    color: #2755CB;
    height: 29px;
    background: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

.easychat-bot-range-slider-area input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #2755CB;
    border: none;
}


/* .easychat-bot-range-slider-area input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #2755CB;
    
}

.easychat-bot-range-slider-area input[type="range"]::-ms-fill-upper {
    background: #2755CB;
}

.easychat-bot-range-slider-area input[type="range"]::-ms-fill-lower {
    background: #2755CB;
}

.easychat-bot-range-slider-area input[type="range"]::-ms-tooltip {
    visibility: hidden;
} */

.easychat-bot-range-slider-area input[type=range]::-ms-fill-lower {
    background: #2755CB;
    border: 2px solid #E0DFE0;
    border-radius: 10px;
}

.easychat-bot-range-slider-area input[type=range]::-ms-fill-upper {
    background: #2755CB;
    border: 2px solid #E0DFE0;
    border-radius: 10px;
}

.easychat-bot-range-slider-area input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 2px solid #E0DFE0;
    height: 16px;
    width: 16px;
    border-radius: 7px;
    background: #2755CB;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
    border-radius: 50%;
}

.easychat-bot-range-slider-area input[type=range]:focus::-ms-fill-lower {
    background: #2755CB;
}

.easychat-bot-range-slider-area input[type=range]:focus::-ms-fill-upper {
    background: #2755CB;
}

.easychat-bot-range-slider-area input[type=range]:focus::-ms-tooltip {
    visibility: hidden;
}

.easychat-bot-range-slider-area input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #2755CB;
    border: none;
}

.easychat-bot-range-slider-area input {
    border-radius: 5px;
    height: 4px;
    width: 100%;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    cursor: pointer;
    margin-left: 0px;
    border: none;
}

.easychat-bot-range-slider-area div[id^="easychat-bot-slider-output"] {
    text-align: right;
    width: 100%;
    font-weight: normal;
    font-size: 12px;
    color: #2D2D2D;
    padding-top: 4px;
}

@media screen and (max-width: 320px) {
    .easychat-bot-range-slider-div {
        width: 260px;
    }
    .dual-range-max-value {
        right: 14px;
        text-align: right;
    }
}


/* 
@media screen and (max-width: 415px) {
    .dual-range-max-value {
        right: 14px !important;
    }
} */

.irs--round .irs-bar {
    background-color: #2755CB;
    cursor: pointer;
}

.irs--round .irs-handle {
    background-color: #2755CB;
    border: none;
    box-shadow: none;
}

.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
    background-color: #2755CB;
}

.irs--round .irs-handle {
    width: 14px;
    height: 14px;
    top: 31px;
    cursor: pointer;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
    background-color: transparent;
    color: rgba(106, 109, 205, 0.3);
    display: none;
}

.irs--round .irs-line {
    top: 36px;
    height: 4px;
    background-color: rgba(106, 109, 205, 0.3);
    border-radius: 4px;
    cursor: pointer;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before,
.irs--round .irs-min,
.irs--round .irs-max {
    display: none;
}

.dual-range-min-value,
.dual-range-max-value {
    border: none;
    outline: none;
    font-weight: normal;
    font-size: 12px;
    color: #2D2D2D;
    position: absolute;
    margin-top: -2px;
    font-family: 'DM Sans';
    width: unset !important;
    background: transparent !important;
    padding: 0px !important;
}

.dual-range-max-value {
    right: 16px;
    text-align: right;
}

.irs--round {
    margin-top: -15px;
}

div[id^="multi-range-slider-min-max-static-value"] {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
div[id^="multi-range-slider-min-max-static-value"] > div{
    font-weight: normal;
    font-size: 12px;
    color: #2D2D2D; 
    height: 6px;
}

.easychat-form-container .easychat-bot-range-min-max-value-wrapper svg {
    margin: 18px 5px 0px;
}
.language-right-to-left-wrapper .range-slider-error-msg-div{
    text-align: left;
}

.range-slider-error-msg-div{
    text-align: right;
}