        .row{
         margin-bottom: 2px;
         padding-top:2px;
         }

   /*      .chip.chipbutton2:first-of-type {
          margin-left: 1em;
  }*/
         .chipbutton2{
          margin-right: -.8em !important;
        margin-left: 1em !important;
         }

         
         .chipbut2
         {

         height:auto;
         font-size:15px;
         cursor: pointer;
         margin-right: -.8em !important;
        margin-left: 1em !important;

         }


         .chip
         {

         height:auto;
         font-size:15px;
         cursor: pointer;
        margin-right: .2em;
        margin-left: 1em;

         }

         .button2
         {
          cursor: pointer;
        
         }

       /* .recom
        {
          cursor: pointer;
        }*/
         .qstext
         {
           color: #0000EE;
            cursor: pointer;

         }

          i.icon-grey {
              color: grey;
          }

         .chip_left
         {
            margin-left:0px;
         }


         
         .buttonFeedback
         {
          height:5%;
          width: 11%;
         }
         .cancel_style
         {
            height: 100%;
            text-align: center;
            vertical-align: middle;
         }
         .chatbot_left_image
         {
            margin-left:10%;
            vertical-align: middle;
         }

         blockquote {
    border-left: 5px solid #000000;
           }

         .collection-item
         {
            cursor: pointer;
         }
         .chatbot_name
         {
            vertical-align: middle;
            color:white;
            
            margin-left:15px;
            font-size:15px;
            text-align: center;
         }
         .chip_right
         {
            height:auto;
            color:white;
            background-color:#1B5CAB
         }

         .chip2
         {
         line-height:20px;
         padding:6px 12px 6px 8px;
         border-radius: 7px;
         line-height: 15px;

         }

         #header {
         z-index: 99;
         position: relative;
         width: 100%;
         height: 8%;
         background-color:#1a237e;
         font-size:90%;
         font-weight:bold;
         }

         .scrollbar {
           width: 100%;
           height: 82%;
           overflow-y: auto;
           border-radius:12px;

         }

        

         #style-2::-webkit-scrollbar-track
         {
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
         border-radius: 10px;
         background-color: #F5F5F5;
         }
         #style-2::-webkit-scrollbar
         {
         width: 8px;
         background-color: #F5F5F5;
         }
         #style-2::-webkit-scrollbar-thumb
         {
         border-radius: 10px;
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
         background-color: #9e9e9e;
         }
         #footer{
         width: 100%;
         height: 32px;

         }
         .main-div
         {
         height:100%;
         width: 100%;
         overflow: hidden;
         background-color:#fff;
         position: fixed;
         right:0;
         bottom:10px;
         font-family:roboto,sans-serif;
         font-size: 15px;
         border-radius: 6px 6px 6px 6px !important;
         border-bottom: 1px solid rgb(204, 204, 204) !important;
         border-left:1px solid rgb(204, 204, 204) !important;
         border-right:1px solid rgb(204, 204, 204) !important;
         }
         @media (max-width: 1025px)
         {
         .main-div
         {
         width:100%;
         height:100%;
         position:fixed;
         top:0;
         left:0;
         }
         }
           .button2 {
/*         background-color:#ffffff;
*/         /*margin:auto;*/
         border: none ;
         background:none;
         background-color:none;
         /*border-radius: 5px;
         font-size:94%;
         padding-left:1.5%;
         padding-right:1.5%;
         margin:auto;
         font-family:arial;
         margin-bottom:1%;
         margin-left:2%;
         border-radius: 0.95em; */

         color:#1e88e5;
         /*font-size:14px;
        
         text-align:center;*/
         }


         .button2:active {
         background:none  ;
         }

         .recommendation_title_style
         {
            color:rgb(0,0,0);

         }
       .recommendation_style
         {
            color: rgb(0, 146, 220);


         }
         .restart_button
         {
            color: rgb(102, 56, 205);
            background:#1B5CAB;
         }

         .helper {
         display: inline-block;
         height: 100%;
         vertical-align: middle;
         }

         .timestampFeedback{
         font-size: 10px;
         color: #999;
         padding: 0px 15% 0% 8%;
         margin-bottom: 14px;
         }

         .timestampl {
         font-size: 10px;
         color: #999;
         padding: 0px 25% 0 4% !important;
         margin-bottom: 1.7em !important;
         }



         .timestampr {
         font-size: 10px;
         color: #999;
         padding-right:4%;
         margin-bottom:  1.7em !important;
         float:right;
         }
         .button-group .button{
         text-decoration: none;
         display: block;
         cursor: pointer;
         color: #1a237e; /*change color in button*/
         border: 1px solid #d1d1d1;
         padding:10px;
         }

         .button-group .button:first-child{border-top-left-radius: 10px;
         border-top-right-radius: 10px;}.button-group .button:last-child{border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10px;}.button-group .button+.button{border-top-width: 0;}

         .button-group2 .button:hover
         {

         background-color:#eeeeee  ;


         }

         .feedback
         {
          
          color:grey;
        
         }

       /* .feedback:hover
         {
          cursor:pointer;
          color:green;
         }*/
/*
         .button
         {
          border-radius: 15px 50px 30px 5px
         }*/

         .new-chat-form-launcher
         {
            position: fixed;
         height: 50px;
         bottom: 0px;
         width: 100%;
         box-sizing: border-box;
         background: white;
         z-index: 100;}.new-chat-form-launcher >div{display: inline-block;
         height: 100%;
         font-weight: 400;
         color: #0084ff;
         vertical-align: middle;}.new-chat-form-launcher .send-button{float: right;
         cursor: pointer;
         margin-right: 5px;
         line-height: 50px;
         text-align: center;
         font-weight: bold;}.new-chat-form-launcher .customer-care{position: absolute;
         right: 10px;
         color: white;
         cursor: pointer;}
         .menu-button {
             padding-top: 5px!important;
             position: fixed;
             bottom: 0;
             z-index: 10002;
             background: no-repeat 50%;
             background-size: 90%;
             cursor: pointer;
             width: 32px;
             height: 32px;
             padding: 0;
             color: #888;
             line-height: 32px;
             text-align: center;
             margin: 11.5px 10px;
             border-radius: 40px;
             box-sizing: border-box;
             box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
             -webkit-transform: translateZ(0);
             transform: translateZ(0);
         }
         .new-chat-form-launcher .input-container {
             position: absolute;
             display: inline-block;
             top: 0;
             left: 50px;
             height: 35px;
             top: 5px;
             right: 40px;
             border-radius: 20px;
             box-shadow: inset 0 0 4px rgba(0,0,0,.25);
         }
         .new-chat-form-launcher .input-container .chat-input {
             height: 100%;
             padding-right: 0;
             margin-left: 15px;
             box-sizing: border-box;
             font-size: 13px;
             outline: none;
             margin-top: 9px;
             box-shadow: none;
             border-width: 0;
         }
         [contenteditable=true] {
             cursor: text!important;
         }
         [contenteditable=true] {
             white-space: nowrap;
             overflow: hidden;
             width: 100%;
             display: inline-block;
         }
         div[Attributes Style] {
             -webkit-user-modify: read-write;
             word-wrap: break-word;
             -webkit-line-break: after-white-space;
         }
         [contenteditable=true]:empty:before {
             content: attr(placeholder);
             display: block;
             color: #666;
         }
         .menu-container
         {
            background-color: #eeeeee;
            width:100%
            height:60%;
         }
         .new-chat-form-launcher .send-button {
             float: right;
             cursor: pointer;
             margin-right: 5px;
             line-height: 50px;
             text-align: center;
             font-weight: bold;
         }
         .new-chat-form-launcher >div {
             display: inline-block;
             height: 100%;
             font-weight: 400;
             color: #0084ff;
             vertical-align: middle;
         }
         .send-button {
             padding-top: 7px!important;
         }
         .likebuttons{
            cursor: pointer;
         }
         input:focus {
          border-bottom: none!important;
          box-shadow: none!important;
          width:90%;
        }



        .typing-loader{
            margin-left: 1.2em;
            width: 6px;
            height: 6px;
            -webkit-animation: line 1s linear infinite alternate;
           -moz-animation: line 1s linear infinite alternate;
           animation: line 1s linear infinite alternate;
        }
        @-webkit-keyframes line{
            0%{

                background-color: rgba(0,0,0, 1);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

              }
            25%{
                    background-color: rgba(0,0,0, 0.4);
                    box-shadow: 12px 0px 0px 0px rgba(0,0,0,2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

            }
            75%{ background-color: rgba(0,0,0, 0.4);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,2);

              }
        }

        @-moz-keyframes line{
            0%{

                background-color: rgba(0,0,0, 1);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

              }
            25%{
                    background-color: rgba(0,0,0, 0.4);
                    box-shadow: 12px 0px 0px 0px rgba(0,0,0,2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

            }
            75%{ background-color: rgba(0,0,0, 0.4);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,2);

              }
        }

        @keyframes line{
            0%{

                background-color: rgba(0,0,0, 1);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

              }
            25%{
                    background-color: rgba(0,0,0, 0.4);
                    box-shadow: 12px 0px 0px 0px rgba(0,0,0,2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

            }
            75%{ background-color: rgba(0,0,0, 0.4);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,2);

              }
        }

        * { box-sizing: border-box; }

        .autocomplete {
          /*the container must be positioned relative:*/
          position: relative;
          display: inline-block;
        }
        input {
          border: 1px solid transparent;
          background-color: #f1f1f1;
          padding: 10px;
          font-size: 16px;
        }
        input[type=text] {
          background-color: #f1f1f1;
          width: 100%;
        }
        input[type=submit] {
          background-color: DodgerBlue;
          color: #fff;
        }
        .autocomplete-items {
          position: absolute;
          /*border: 1px solid #d4d4d4;          */
          border-bottom: none;
          border-top: none;
          z-index: 99;
          /*position the autocomplete items to be the same width as the container:*/
          bottom: 100%;
          left: 0;
          right: 0;
        }

      .autocomplete-items  :last-of-type {
  border:0px;
}

        .autocomplete-items div {
          padding: 10px;
          cursor: pointer;
          background-color: #fff;
          border-bottom:  1px solid #d4d4d48f;
         /* border-radius: 0.5em;*/
        }

        .autocomplete-items div:hover {
          /*when hovering an item:*/
          background-color: #e9e9e9;
        }
        .autocomplete-active {
          /*when navigating through the items using the arrow keys:*/
          background-color: DodgerBlue !important;
          color: #ffffff;
        }

        .srolltobot-img {
           position: fixed; bottom: 7em; right: 1.25em;
        }
        .google_search_cards {
            position: relative;
            height: 300px;
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            transition: all 0.2s;
            transform: scale(0.98);
            will-change: transform;
            user-select: none;
            -ms-overflow-style: none;
            cursor: pointer;
            
          }
          .hide_scrollbar::-webkit-scrollbar { 
                display: none;  
            }
        .google_search_card {
          display: inline-block;
          overflow-y: hidden;
          border-radius: 25px;
          background: #FFFFFF;
          box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.2);
          padding: 20px; 
          width: 300px;
          height: 200px;
          margin: 2em 1em;
        }
        .google_search_card p{
          white-space:normal;
          margin:0;
        word-break: break-word;}

        .google_search_title{
        color:blue;
        font-size: 1.6em;
        }


        .google_search_link{
        color:green;
        }

        .feedback_box_container{
          
          position: relative;
          width: 93%;
          max-width: 350px;
          text-align: center;
          margin: 4% auto;
          padding: 30px 0;
          background: #111;
          color: #EEE;
          border-radius: 5px;
          border: thin solid #444;
          overflow: hidden;
          filter: brightness(108%);
        }

        .feedback_stars_div{
          width: 270px;
          display: inline-block;
        }

        .feedback_star_input{
          display: none;
        }

        .feedback_star_label {
          float: right;
          padding: 10px;
          font-size: 36px;
          color: #444;
          transition: all .2s;
        }

        .feedback_star_input:checked ~ .feedback_star_label:before {
          content:'\2605';
          color: #FD4;
          transition: all .25s;
          text-shadow: 0 0 20px #952;
        }

        .feedback_star_label:hover{
          transform: rotate(-15deg) scale(1.3);
        }

        .feedback_star_label:before{
          content:'\2605';
          color: #fff;        }

        .feedback_comment-box-div{
          overflow: hidden;
          height: 0;
          width: 100%;
          transition: all .25s;
        }

        .feedback_textarea{
          background: #fff;
          border: none;
          width: 100%;
          resize: none;
          height:100px;
          padding: 10px;
          box-sizing: border-box;
          /*color: #EEE;*/
        }
        .feedback_textarea::placeholder {color: #5a5a5a;}

        .feedback_star_input:checked ~ .feedback_comment-box-div{
          height: 125px;
          overflow: visible;
        }

        #submit-feedback{
          border: 0;
          border-radius: 5px;
          cursor: pointer;
          color: #fff;
          font-size:16px;
          font-weight: bold;
          line-height: 1.4;
          padding: 10px;
          width: 180px;
          filter: brightness(75%);
          margin-left: 10px;
        }

        #global-preloader{
          width: 100%;
          height: 100%;
          top:0;
          bottom: 0;
          position: fixed;
          opacity: 1;
          z-index: 9999;
          background: url('/static/EasyChatApp/img/preloader.svg') 50% 50% no-repeat;
          background-color: #FFFFFF;
        }

        * {
            box-sizing: border-box
        }

        .easychat-slideshow-slides {display: none}

        .easychat-slideshow-slides > img {
          vertical-align: middle;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 23em;
          height: 14em;
        }

        /* Slideshow container */
        .easychat-slideshow-container {
          max-width: 100%;
          position: relative;
          margin: auto;
        }

        /* Next & previous buttons */
        .easychat-slideshow-prev, .easychat-slideshow-next {
          cursor: pointer;
          position: absolute;
          top: 80%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 10px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
          background-color: #6C2D77;
        }

        /* Position the "next button" to the right */
        .easychat-slideshow-next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .easychat-slideshow-prev:hover, .easychat-slideshow-next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Number text (1/3 etc) */
        .easychat-slideshow-numbertext {
          color: #6C2D77;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }

        /* The dots/bullets/indicators */
        .easychat-slideshow-dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .active, .easychat-slideshow-dot:hover {
          background-color: #717171;
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
          .easychat-slideshow-prev, .easychat-slideshow-next,.text {font-size: 11px}
        }