.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

div.mdl-layout__drawer > nav.mdl-navigation > a.mdl-navigation__link {
  display: inline-flex;
  vertical-align: middle;
}

/* Custom CSS begins here */

.inline-icon {
 vertical-align: bottom;
 font-size: 22px !important;
}

.inline-icon-2 {
 vertical-align: bottom;
 font-size: 34px !important;
}

.document-editor {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;  /*or use calc(100vh - header_height)*/
}

.tabs .indicator {
  background-color: #1565C0 !important;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div::-moz-selection { background:transparent; }
div::selection { background:transparent; }

.main-panel {
  overflow-y: scroll;
  height: 200px;
}

#console-sidenav{
  position: fixed;
  top: 0;
  margin-top: 4%;
  bottom: 0;
  overflow: auto;
}

#console-container{
  margin-top: 15px;
  margin-left: 25%;
}

#edit-sidebar{
  position: fixed;
  top: 0;
  margin-top: 4%;
  bottom: 0;
  overflow: auto;
}

#edit-container{
  margin-left: 25%;
}

#edit-tree-container{
  position: fixed;
  top: 0;
  margin-top: 5%;
  margin-left: 76%;
  bottom: 0;
  overflow: auto;
}