<!-- Works -->

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

div.mdl-layout__drawer > nav.mdl-navigation > a.mdl-navigation__link {
  display: inline-flex;
  vertical-align: middle;
}

.iframe-set
{
	 position: absolute;
	 width:100%; 
	 height: 100%;
}

.button-custom
{
	border: None;
	color: green;
}

.logout-button
{
	font-size: 120%;
}

.tablinks
{
	border: none;
	color: black;
	font-size: 20px;
}

.sbi_logo
  {
    margin-right: 1px;
    max-width: 100% ;
    height: auto ;
    border-radius:12px;
  }

@media only screen and (min-width: 200px) and (max-width: 670px) {
.sbi_logo {
    max-width:320px;
    max-height:56px;
}
}

@media only screen and (min-width: 670px) and (max-width: 1023px) {
.sbi_logo {
    max-width:540px;
    max-height:63px;
}
}

@media only screen and (min-width: 1023px) and (max-width: 1800px) {
.sbi_logo {
    max-width:280px;
    max-height:63px;
}
}

@media only screen and (min-width: 1800px) and (max-width: 2500px) {

.sbi_logo {
   max-width:25px;
   max-height:64px;
 
   
}
}
@media only screen and (min-width: 2500px) and (max-width: 3500px) {

.sbi_logo {
   max-width:15px;
   max-height:64px;
 
   
}
}
@media only screen and (min-width: 3500px) and (max-width: 4500px) {

.sbi_logo {
   max-width:15px;
   max-height:64px;
 
   
}
}
@media only screen and (min-width: 4500px) and (max-width: 5500px) {

.sbi_logo {
   max-width:15px;
   max-height:64px;
 
   
}
}
@media only screen and (min-width: 5500px) and (max-width: 7500px) {

.sbi_logo {
   max-width:15px;
   max-height:64px;
 
   
}
}

@media only screen and (min-width: 150px) and (max-width: 400px) {

#search_button {

  width:5%;

   
}
#sort-relevance
{
   width:45%;
   text-align:left;
   padding: 0px 5px 5px 18px
 
}
#sort-date
{
width:45%;

text-align:left;
margin-left:1%;
padding: 0px 5px 5px 18px

}

}

/* Custom CSS begins here */

.inline-icon {
 vertical-align: bottom;
 font-size: 22px !important;
}

.inline-icon-2 {
 vertical-align: bottom;
 font-size: 34px !important;
}

.document-editor {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;  /*or use calc(100vh - header_height)*/
}

.tabs .indicator {
  background-color: #1565C0 !important;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div::-moz-selection { background:transparent; }
div::selection { background:transparent; }

.main-panel {
  overflow-y: scroll;
  height: 200px;
}