/* success login */
      #email-notif-div{
        background: #FFFFFF;
        border-radius: 22px;
        margin-top: 3%;
      }
      #success_after_login{
          width: 296px;
          height: 37px;
          background:linear-gradient(180deg, #0254D7 0%, #0048BA 100%);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
          border-radius: 30px;
          border: 1px solid #FFFFFF;
          margin-top: 3em;
        }