
tbody, tr, th, td{
    border: none;
    background-color: #fafafa !important;
    font: Silika;
}
.sandbox-user-modal{
    background-color: #fff !important;
    width: 40% !important;
}
.password-validation-list{
    list-style-type: disc !important;
}
.password-validation-list li{
    list-style-type: disc !important;
}
    

.sandbox-credentials-extend-button a {
    background: #FFFFFF;
    border-radius: 90px;
    border: 1px solid #2743cb;
    color: #2743cb !important;
    padding: 8px 28px;
    cursor: pointer;
}
.sandbox-credentials-extend-button a:hover {
    background-color: #0254D7;
    color: #fff !important;
}
/*[id^="modal-extend-sandbox-user-"] is used for givving css to id starting withm modal-extend-sandbox-user- */
[id^="modal-extend-sandbox-user-"] .modal-content p {
    font-size: 14px;
    font-weight: 400 !important;
    color: #4D4D4D !important;
    letter-spacing: 0.2px;
}

[id^="modal-extend-sandbox-user-"] .modal-content {
    padding: 0px !important;
}

[id^="modal-extend-sandbox-user-"] .modal-content .modal-header {
    border-bottom: 1px solid #E6E6E6;
    padding-left: 1rem;
}

[id^="modal-extend-sandbox-user-"] .modal-content .modal-body {
    padding: 0rem 1rem 2.5rem 1rem;
}

.sandbox-credentials-extend-button {
    text-align: center;
}


[id^="modal-extend-sandbox-user-"]{
    padding: 0rem 0.8rem 0.8rem 0.8rem !important;
}

#sandbox-user-table td {
    padding-bottom: 0.9rem !important;
    min-width: 200px;
    max-width: 500px;
    word-break: break-word;
}

.sandbox-user-edit-delete-icons {
    text-align: center !important;
}
.sandbox-username{
    word-break: break-word;
}

.bot-manager-delete-modal {

    width: 40% !important;
    height: fit-content;
}