.dont-hide-if-no-input {
    align-items: flex-end;
    border: none !important;
    margin: 0px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.language-right-to-left-wrapper .dont-hide-if-no-input {
    flex-direction: row-reverse !important;
   
}

#bot_menu_option_items_wrapper.footer-with-button-only {
    border: none !important;
    padding: 4px 16px 8px;
    margin: 0px;
    height: auto;
    flex-direction: row;
    /* background-color: #ffffff; */
    display: flex !important;
    min-height: 55px;

}

.brand-name-not-enabled {
    min-height: 65px !important;
}

#bot_menu_option_items_wrapper.footer-with-button-only svg {
    width: auto;
    height: auto;
}

#bot_menu_option_items_wrapper.footer-with-button-only #easychat-restart-div {
    border: none !important;
    width: max-content;
}

.bot-home-button-footer {
    width: 48px;
    height: 48px;
    background: #3884FD;
    border-radius: 34px;
    border: none;
    outline: none;
    cursor: pointer;
    display: block !important;
}

.bot-action-btns-menu-opner-btn {
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 1.16667px 5.83333px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.bot-action-btns-item {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1.33333px 9.66667px rgb(0 0 0 / 49%)
}

.bot-menus-button-footer,
.bot-lang-button-footer {
    background: #3884FD;
}

.bot-action-btns-menu-options-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 16px;
}

.bot-button-only-footer-menu-wrapper {
    display: flex;
    flex-direction: column;

    /* background-removal-changes */
    position: absolute;
    bottom: 28px;
    left: 16px;

}

.brand-name-not-enabled .bot-button-only-footer-menu-wrapper {
    bottom: 8px !important;
}

.language-right-to-left-wrapper .bot-button-only-footer-menu-wrapper {
    left: unset !important;
    right: 16px;   
}

.bot-action-btns-menu-opner-btn.rotate-bot-action-opner-btn svg {
    transform: rotate(45deg);
}

.bot-action-btns-menu-opner-btn svg {
    transition: 0.5s;
}

.bot-menus-button-footer:hover {
    background-color: #ffffff;
}

.bot-menus-button-footer:hover svg {
    fill: #3884FD;
}

.bot-home-button-footer.bot-action-btns-item:hover {
    background-color: #ffffff;
}

.bot-home-button-footer.bot-action-btns-item:hover svg {
    fill: #3884FD;
}

.bot-action-btns-item svg {
    margin-top: 3px;
}


/* tooltip right css */

.tooltip {
    position: relative;
}

.tooltip .tooltiptextright {
    visibility: hidden;
    width: max-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1001;
    top: 7px;
    left: 46px;
    opacity: 0;
    transition: opacity 0.3s;
    line-height: 1.2;
    height: max-content;
    word-break: break-all;
}

.tooltip .tooltiptextright::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptextright {
    visibility: visible;
    opacity: 1;
}


/* sticky btns css */

#bot_menu_option_items_wrapper.footer-with-button-only .easychat-bot-sticky-intent-wrapper {
    width: calc(100% - 32px);
    margin-top: 6px;
    padding-left: 16px;
}


/* sticky menu css */

.easychat-button-only-sticky-menu-option-wrapper .easychat-bot-sticky-menu-wrapper-no-input {
    margin-bottom: 10px;
    padding: 0px;
    display: block;
}

#bot_menu_option_items_wrapper-div {
    display: flex;
}

.easychat-button-only-sticky-menu-option-wrapper .bot-sticky-menu-content-wrapper {
    background: #F8F8F8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 8px 0px;
    display: flex;
}

.easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-items-no-input {
    display: flex;
    flex-direction: column;
    max-height: 160px;
    transition: max-height 1s ease-out;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
    padding: 4px 16px 8px;
    z-index: 9;
    background: #F8F8F8;
}

.easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-items-no-input::-webkit-scrollbar {
    display: none;
}

.easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-item {
    display: flex;
    justify-content: left;
    display: flex;
    align-items: center;
    padding: 12px 18px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 0px 0px 8px !important;
    cursor: pointer;
}

.easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-item-text {
    padding-left: 12px;
    word-break: break-word;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #243762;
}

.easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-item img {
    width: 18px;
    height: 18px;
}

.easychat-button-only-sticky-menu-option-wrapper {
    width: 100%;
    z-index: 999;
}

.easychat-button-only-sticky-menu-option-wrapper .bot-sticky-menu-close-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    gap: 19.31px;
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 0px 0.965333px 4.82667px rgba(0, 0, 0, 0.25);
    border-radius: 3.86133px;
    cursor: pointer;
}

.easychat-button-only-sticky-menu-option-wrapper .bot-sticky-menu-heading-text {
    font-weight: 500;
    font-size: 17.376px;
    line-height: 23px;
    color: #4D4D4D;
}

.easychat-button-only-sticky-menu-option-wrapper .bot-sticky-menu-header-wrapper {
    display: flex;
    align-items: center;
    column-gap: 12px;
}


.hide-if-no-input {
    width: 100%;
    column-gap: 8px;
}

/* language rtl related changes */
.language-right-to-left-wrapper .easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-item{
    justify-content: right !important;
}

.language-right-to-left-wrapper .bot-sticky-menu-close-btn-wrapper{
    flex-direction: row-reverse !important;
}

.language-right-to-left-wrapper .bot-sticky-menu-header-wrapper{
    flex-direction: row-reverse !important;
}

/* rtl related to theme4 only */
.language-right-to-left-wrapper #button_only_language_wrapper{
    left: unset !important;
    right: 60px !important;
}

.language-right-to-left-wrapper .tooltip .tooltiptextright{
    left: unset !important;
    right: 46px !important;
}

.language-right-to-left-wrapper .tooltip .tooltiptextright::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    /* border-color: transparent #555 transparent transparent; */
    border-color: transparent transparent transparent #555;
}

.language-right-to-left-wrapper .hide-if-no-input{
    flex-direction: row-reverse;
}