.dont-hide-if-no-input {
    align-items: center;
    border: none !important;
    margin: 0px;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#easychat-footer.language-right-to-left-wrapper .dont-hide-if-no-input {
    flex-direction: row-reverse !important;
   
}

#user_actions_div.footer-with-button-only {
    background: #fff;
    border: none !important;
    padding: 4px 16px 0px 16px;
    margin: 0px;
    height: auto;
    flex-direction: row;
    border-bottom: 1px solid #EBEBEB;
    /* background-removal-changes */
    min-height: 40px;
}

.brand-name-not-enabled {
    padding-bottom: 8px !important;
    min-height: 55px !important;
}

#user_actions_div.footer-with-button-only svg {
    width: auto;
    height: auto;
}

#user_actions_div.footer-with-button-only #easychat-restart-div-no-input {
    border: none !important;
    width: max-content;
}

.bot-home-button-footer {
    width: 48px;
    height: 48px;
    background: #0243AC;
    border-radius: 34px;
    border: none;
    outline: none;
    cursor: pointer;
}

.bot-action-btns-menu-opner-btn {
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 0.16667px 8.83333px rgb(0 0 0 / 25%);
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
}

.bot-action-btns-item {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 1.33333px 9.66667px rgb(0 0 0 / 49%)
}

.bot-menus-button-footer {
    background: #0243AC;
}

.bot-action-btns-menu-options-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 16px;
}

.bot-button-only-footer-menu-wrapper {
    display: flex;
    flex-direction: column;
    /* background-removal-changes */
    position: absolute;
    bottom: 25px;

}

.brand-name-not-enabled .bot-button-only-footer-menu-wrapper {
    bottom: 15px;   
}

.bot-action-btns-menu-opner-btn.rotate-bot-action-opner-btn svg {
    transform: rotate(45deg);
}

.bot-action-btns-menu-opner-btn svg {
    transition: 0.5s;
}

.bot-menus-button-footer:hover {
    background-color: #ffffff;
}

.bot-home-button-footer.bot-action-btns-item:hover {
    background-color: #ffffff;
}

.bot-menus-button-footer:hover svg {
    fill: #0243AC;
}

.bot-home-button-footer.bot-action-btns-item:hover svg {
    fill: #0243AC;
}

.easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-item:last-child{
    margin-bottom: 0px !important;
}


/* tooltip right css */

.tooltip .tooltiptextright {
    visibility: hidden;
    width: max-content;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1001;
    top: 7px;
    left: 46px;
    opacity: 0;
    transition: opacity 0.3s;
    line-height: 1.2;
    height: max-content;
    word-break: break-all;
}

.tooltip .tooltiptextright::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptextright {
    visibility: visible;
    opacity: 1;
}

#tooltiptext-home {
    bottom: 125%;
    top: unset !important;
    left: 50%!important;
    transform: translateX(-50%);
    margin-bottom: 0.2em!important;
    max-width: 75px;
    height: max-content;
    word-break: break-all;
    width: max-content;

}


/* sticky btns css */

#user_actions_div.footer-with-button-only #easychat-sticky-btn {
    left: unset;
    padding: 8px !important;
    width: calc(100% - 36px);
    border: none;
    position: relative;
    bottom: unset;
    right: unset;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    height: initial;
    box-sizing: border-box;
    background-color: #fff;
}

/* #user_actions_div.footer-with-button-only #easychat-sticky-btn {
    left: unset;
    padding: 8px !important;
    width: calc(100% - 80px);
    border: none;
    position: absolute;
    bottom: 2.12rem;
    right: 6px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    height: initial;
    box-sizing: border-box;
    background-color: #fff;
} */

#user_actions_div.footer-with-button-only #easychat-sticky-btn #easychat-sticky-intents {
    width: 87% !important;
    margin-bottom: 0px !important;
}


/* sticky menu css */

.easychat-button-only-sticky-menu-option-wrapper .easychat-bot-sticky-menu-wrapper {
    margin-bottom: 10px;
    padding: 0px;
    display: block;
    background: #ffffff;
}

#bot_menu_option_items_wrapper {
    display: block;
}

.easychat-button-only-sticky-menu-option-wrapper .bot-sticky-menu-content-wrapper {
    background: #F8F8F8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 8px 0px;
    margin-bottom: 8px;
    display: flex;
}

.easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-items-no-input {
    display: flex;
    flex-direction: column;
    max-height: 160px;
    transition: max-height 1s ease-out;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
    padding: 4px 16px 8px;
}

.easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-items-no-input::-webkit-scrollbar {
    display: none;
}

.easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-item {
    display: flex;
    justify-content: left;
    display: flex;
    align-items: center;
    padding: 12px 18px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin: 0px 0px 8px !important;
    cursor: pointer;
}

.easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-item-text {
    padding-left: 12px;
    word-break: break-word;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #243762;
}

.easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-item img {
    width: 18px;
    height: 18px;
}

.easychat-button-only-sticky-menu-option-wrapper {
    width: 100%;
}

.easychat-button-only-sticky-menu-option-wrapper .bot-sticky-menu-close-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    gap: 19.31px;
    height: 46px;
    background: #FFFFFF;
    box-shadow: 0px 0.965333px 4.82667px rgba(0, 0, 0, 0.25);
    border-radius: 3.86133px;
    cursor: pointer;
}

.easychat-button-only-sticky-menu-option-wrapper .bot-sticky-menu-heading-text {
    font-weight: 500;
    font-size: 17.376px;
    line-height: 23px;
    color: #4D4D4D;
}

.easychat-button-only-sticky-menu-option-wrapper .bot-sticky-menu-header-wrapper {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.hide-if-no-input {
    align-items: center;
    display: flex;
    width: 100%;
}

/* theme 2 related changes */

#easychat-footer.footer-with-button-only {
    background: unset !important;
    border: none !important;
    padding: 4px 16px 12px;
    margin: 0px;
    height: auto;
    flex-direction: row;
    border-top: 1px solid #E6E6E6;
    /* min-height: 60px; */
}

#easychat-footer.footer-with-button-only svg {
    width: auto;
    height: auto;
}

#easychat-footer.footer-with-button-only #easychat-restart-div {
    border: none !important;
    width: max-content;
}

/* sticky btns css */

#easychat-footer.footer-with-button-only #easychat-sticky-btn {
    left: unset;
    padding: 8px !important;
    width: calc(100% - 76px);
    border: none;
    position: absolute;
    bottom: -0.4rem;
    right: 6px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    height: initial;
    box-sizing: border-box;
}

.language-right-to-left-wrapper #easychat-footer.footer-with-button-only #easychat-sticky-btn {
    width: calc(100% - 75px);
}

#easychat-footer.footer-with-button-only #easychat-sticky-btn #easychat-sticky-intents {
    width: 88% !important;
}


.footer-with-button-only .arrow-button-left {
    top: 2px;
}

.footer-with-button-only .arrow-button-right {
    top: 2px;
}

.language-right-to-left-wrapper .footer-with-button-only{
    flex-direction: row-reverse !important;

}

.language-right-to-left-wrapper .easychat-button-only-sticky-menu-option-wrapper .easychat-sticky-menu-item{
    justify-content: right !important;
    flex-direction: row-reverse !important;

}

.language-right-to-left-wrapper .bot-sticky-menu-close-btn-wrapper{
    flex-direction: row-reverse !important;
}

.language-right-to-left-wrapper .bot-sticky-menu-header-wrapper{
    flex-direction: row-reverse !important;
}

.language-right-to-left-wrapper .tooltip .tooltiptextright{
    left: unset !important;
    right: 46px !important;
}

/* theme 2 related */

.language-right-to-left-wrapper #easychat-footer.footer-with-button-only #easychat-sticky-btn {
    right: unset !important;
    left: 6px !important;
}

.language-right-to-left-wrapper .tooltip .tooltiptextright::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    /* border-color: transparent #555 transparent transparent; */
    border-color: transparent transparent transparent #555;
}

.language-right-to-left-wrapper .hide-if-no-input{
    flex-direction: row-reverse;
}

/* theme 1 related */
.language-right-to-left-wrapper #user_actions_div.footer-with-button-only #easychat-sticky-btn {
    right: unset !important;
    /* left: 6px !important; */
}

.language-right-to-left-wrapper #user_actions_div {
    direction: unset !important;
}
