      input[type=number] {
        -moz-appearance: textfield;
      }
      .easychat-show-less-text ul {
        margin: 0px 0px 0px -25px;
       }

    #easychat-sticky {
        padding: 12px 10px 48px 10px !important;
        background-color: #ffffff !important;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        color: #808080;
        display: flex;
        flex-direction: column;
        color: black;
        height: initial;
        padding-bottom: 40px;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    .arrow-button-left {
        background: transparent;
        position: absolute;
        border: none !important;
        left: 0%;
        top: 6%;
        padding-right: 30px;
        font-size:15px;
        outline:auto;
        border-radius:10px;
        height:40px;
        padding-top: 0.9em !important;
        padding-left: 0.5em !important;
    }
    .arrow-button-right {
        background: transparent;
        position: absolute;
        right: 0%;
        top: 6%;
        border: none !important;
        padding-left: 30px;
        font-size:15px;
        outline:auto;
        border-radius:10px;
        height:40px;
        padding-top: 0.9em !important;
        padding-right: 0.3em !important;
    }

        .easychat-recommendation-wrapper-menu {
      display: flex !important;
      flex-direction: column !important;
      border: 0px solid #7a7a7a;
      border-radius: 10px !important;
      margin-right: 50px !important;
      background: white !important;
      max-height: 220px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1) !important;
      max-width: 500px;
      margin-top: 0em;
      position: relative;
      width: 100%;
      margin-bottom: 12px;
    }

    .easychat-recommendation-menu {
        border: 0px solid black !important;
        box-shadow: none !important;
        background: white !important;
        margin: 0px 0px 0px 0px !important;
        border-radius: 0px !important;
        line-height: 30px !important;
        color: rgb(159, 56, 226);
        background-color: rgb(246, 246, 246);
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        padding: 10px 16px;
    }

    .easychat-recommendation-menu:hover {
        cursor: pointer;
    }

    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px #777;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-track {
      box-shadow: 0 0 0px #777 !important;
      border-radius: 20px;
    }

        @supports (-webkit-touch-callout: none) {
   /* CSS specific to iOS devices */
        #easychat-end-chat{
            bottom: 6px !important;
        }
        .livechat-feedback-comment-box {
            margin-left: -0.5em !important;
        }
    }

        .easychat-widget-dropdown-content {
        border: 1px solid #e6e6e6;
        border-radius: 8px !important;
        box-shadow: 0px 4px 10px rg.easychat-bot-welcome-banner-parent{
          width: 100%;
          height: 170px;
          margin-top: -70px;
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 0px 24px;
          box-sizing: border-box;
      }
      .easychat-bot-welcome-banner-wrapper {
          width: 100%;
          height: 170px;
          display: flex;
          align-items: center;
          flex-direction: column;
      }
      
      .easychat-bot-welcome-banner-wrapper .easychat-carousel-track-container {
          /* padding: 10px; */
          width: 100%;
          height: 100%;
          position: relative;
      }
      
      .easychat-bot-welcome-banner-wrapper .easychat-carousel-track {
          position: relative;
          list-style: none;
          width: 100%;
          height: 100%;
          transition: transform 250ms ease-in;
          margin:0px;
      }
      
      .easychat-bot-welcome-banner-wrapper .easychat-carousel-slide {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
      }
      
      .easychat-bot-welcome-banner-wrapper .easychat-carousel-slide img {
          height: 100% !important;
          width: 100% !important;
          object-fit: fill !important;
      }
      
      .easychat-bot-welcome-banner-wrapper .easychat-carousel-nav {
          display: flex;
          justify-content: center;
          padding: 16px 0 0 0;
      }
      
      .easychat-bot-welcome-banner-wrapper .easychat-carousel-nav .easychat-carousel-indicator {
          border: 0;
          border-radius: 50%;
          width: 8px;
          height: 8px;
          background: #C4C9D9;
          margin: 0 12px;
          cursor: pointer;
      }
      
      .easychat-bot-welcome-banner-wrapper .easychat-carousel-nav .easychat-carousel-indicator.active-slide-indicator {
          background: #0254D7;
      }ba(0, 0, 0, 0.05);
        background-color: white;
        max-height: 211px;
        overflow-x: hidden;
        scrollbar-width: thin;
    }
    .easychat-widget-dropdown-content a {
        border: none;
        /*border-bottom: 1px solid #BCBCBC;*/
    }
    .easychat-widget-dropdown-content a:hover {
        background-color: rgba(45, 76, 184, 0.1);
    }
    .range-slider-div {
        display: flex;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.11);
        border-radius: 100px;
        width: 70%;
        justify-content: center;
        margin: 20px 0px;
        padding: 10px 20px;
        background-color: white;
    }
    .range-slider-input {
        width: 85%;
        align-self: center;
    }

    input[type="range"] {
        padding: 0 !important;
    }

    input[type="date"] {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.08);
        border: 0.5px solid #2D2D2D;
        border-radius: 8px;
    }

    @-moz-document url-prefix() {


      #livechat_queue {
           margin-bottom: 1em;
      }
      #easychat-sticky-intents{
        scrollbar-width: none;
      }
      #easychat-chat-container{
        scrollbar-width: thin;
      }

      .easychat-system-message-div, .easychat-bot-message-div {
          margin-bottom: 10px;
      }
    }

    .datepicker>div {
     display: block;
    }
    .easychat-datepicker{
        border: 0.5px solid #2D2D2D;
        border-radius: 8px;
        margin-top: 2px;
    }
    .easychat-timepicker{
        width: 140px !important;
        height: 42px;
        background: #FFFFFF;
        border: 0.5px solid #2D2D2D;
        box-sizing: border-box;
        border-radius: 8px;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        color: #4D4D4D;
        margin-top: 15px;
        margin-right: 7px;
        text-align: center;
    }

    .easychat-timepicker-theme-sp{
        width: 140px !important;
        height: 42px;
        background: #FFFFFF;
        border: 0.5px solid #2D2D2D;
        box-sizing: border-box;
        border-radius: 8px;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: 400;
        color: #4D4D4D;
        margin-top: 15px;
        margin-right: 7px;
        text-align: center;
        float: left !important;
        margin-left: 30px !important;
    }

    .ui-timepicker-wrapper {
        width: 140px;
        text-align: center;
    }
    @media screen and (min-width: 321px) and (max-width: 361px){
    .rating-bar-container__wrapper .rating-bar-container button {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    padding: 4px;
    height: 29px;
    width: 26px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 1.5px;
    box-sizing: border-box;
    transition: .5s linear;
    margin-right: 1px;
  }

}
@media screen and (min-width: 362px) and (max-width: 376px){
    .rating-bar-container__wrapper .rating-bar-container button {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    padding: 5px;
    height: 29px;
    width: 28px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 1.5px;
    box-sizing: border-box;
    transition: .5s linear;
    margin-right: 1px;
  }

}
    @media screen and (max-width: 320px){
    .rating-bar-container__wrapper .rating-bar-container button{
        padding: 2px;
        width: 24px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
        height: 29px;
        border: 1px solid rgb(230, 230, 230);
        border-radius: 1.5px;
        box-sizing: border-box;
        transition: .5s linear;
        margin-right: 1px;
       }
    }

    @media (max-resolution: 100dpi){

        .livechat-modal-submit-btn-div{
            margin-top: -25px !important;
        }
        .easychat-form-div{
            margin-top: -5px !important;
        }
        .easychat-modal-content{
            margin-top: 45px !important;
        }
        #easychat_customer_info_form_error_ptag{
            /* margin-top: -5px !important; */
            margin-bottom: 3px !important;
        }

    }
    .easychat-show-less-text ul{
        margin-left: 0px;
    }
    @-moz-document url-prefix() {
        .easychat-bot-message-div{
            margin-bottom: 0px;
        }
    }
    .easychat-user-message-div a{
        color: white;
    }
    .easychat-sticky-menu-item.autocomplete-active .easychat-sticky-menu-item-text{
        color: white !important;
    }
    .easychat-sticky-menu-item.autocomplete-active .sticky-menu-item-icon{
        color: white !important;
    }

.chatbot-feedback-div{
    position: fixed !important;
    left: 49.5%;
    top: 50%;
    transform: translate(-50%, -70%);
    margin: 0px;
}


 /*new radio widget client end*/
.radio-div{
    width: 67.67%;
    position: relative;
    margin-top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #EBEBEB;
}
[type="radio"]+span:before, [type="radio"]+span:after {
  top: 1px!important;
  margin: 3px!important;
  width: 14px!important;
  height: 14px!important;
}

div[class^="radio-item"]{
    cursor: pointer;
    background: #F7F7F7;
    border-radius: 10px;
    margin: 8px 0px;
    padding: 8px 16px;
    align-items: center;
    display: flex;
    border: 1px solid #F7F7F7;
}
div[class^="radio-item"] span{
    word-break: break-word;
    margin-left: 10px
}


.radio_btn_choices_span:before,
.radio_btn_choices_span:after {

    left: -10px !important;
}

/*new checkbox widget client end*/
.checkbox-div{
    width: 78%;
    position: relative;
    margin-top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 8px 11px;
}
.checkbox-item{
    cursor: pointer;
    background: #F7F7F7;
    border-radius: 10px;
    margin: 8px 0px;
    padding: 8px 16px;
    align-items: center;
    display: flex;
    min-height: 25px;
    border: 1px solid #F7F7F7;
}
.checkbox-item span{
    word-break: break-word;
    margin-left: 10px
}

.checkbox_btn_choices_span:before,
.checkbox_btn_choices_span:after {

    left: -10px !important;
}


/*new dropdown widget client end*/


.container-dropdown {
  position: relative;
  /* left: 23%; */
  display: inline-block;
  padding: 0px 0px 12px 12px;
}

.select-box-dropdown {
  display: flex;
  width: 280px;
  flex-direction: column;
}

.select-box-dropdown .options-container-dropdown {
  color: #2D2D2D;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: none;
  background: #fff;
  border-radius: 0 0 10px 18px;
  border-top: 0;
  overflow: hidden;
  order: 1;
}

.selected-dropdown {
  background: #fff;
  border-right: 0;
  border-radius: 24px;
  color: #4D4D4D;
  position: relative;
  font-size: 14px;
  margin-right: 18px;
  padding: 7px 19px !important;
  word-break: break-word;
  order: 0;
}
.selected-dropdown::-webkit-scrollbar{
  width: 5px;
  background: #fff;
  border:1px solid #f6f6f6;
  border-radius: 0 25px 25px 0;
  border-left: 0;
}
.selected-dropdown::-webkit-scrollbar-thumb{
  background: #88A3D2;
  border-radius: 0 25px 25px 0;
}



.select-box-dropdown .options-container-dropdown.active {
    max-height: 124px;
    opacity: 1;
    overflow-y: auto;
}
.select-box-dropdown .options-container-dropdown::-webkit-scrollbar {
  width: 4px;
  background: #F6F6F6;
  border:none;
  border-left: 0px;
  border-radius: 0 0 18px 0;
}

.select-box-dropdown .options-container-dropdown::-webkit-scrollbar-thumb {
  background: #DADADA;
  border-radius: 18px;
}
.select-box-dropdown .option-dropdown,
.selected-dropdown {
  padding: 12px 24px;
}

.select-box-dropdown .option-dropdown:hover {
  background: #f6f6f6 !important;
}
.select-box-dropdown .option-dropdown{
  padding: 11px 24px ;
  border-top: 1px solid #F6F6F6!important;
  cursor: pointer;
}
.select-box-dropdown label {
  cursor: pointer;
  display: block;
  word-break: break-word;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4D4D4D;
}
.select-box-dropdown.active-dropdown{
  box-shadow: 0px 1px 5px rgb(0 0 0 / 25%);
  border-radius: 12px 12px 12px 12px;
  background: #ffffff;
  overflow: hidden;
}
.select-box-dropdown.active-dropdown .wrapper-box-dropdown{
  box-shadow: none;
}
.select-box-dropdown .option-dropdown .radio-dropdown {
  display: none;
}
.option-dropdown{
  position: relative;
}
.item-checkbox-dropdown{
  position: absolute;
  right: 35px;
  cursor: pointer;
  visibility: hidden;
}
.wrapper-box-dropdown{
  position: relative;
  padding: 5px;
  padding-right: 8px;
  border-radius: 24px;
  cursor: pointer;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 25%);
  background: #ffffff;
}
.box-dropdown{
  position: relative;
}
.arrow-dropdown{
  color: #2D2D2D;
  position: absolute;
  right: 16px;
  margin-right: 5px;
  cursor: pointer;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%) rotate(0deg);
}
.search-box-dropdown{
  padding: 6px 12px 6px 12px;
  padding-bottom: 0;
  border-bottom: 0;
  height: 50px;
  width: 100%;
  opacity: 0;
  border-radius: 18px 18px 0 0;
  box-sizing: border-box;
  transition: all 0.4s;
}
.search-box-dropdown input{
  position: unset;
  width: 100%;
height: 38px;
padding: 12px 16px;
font-size: 14px;
color: #2D2D2D;
z-index: 100;
opacity: 0;
transition: all 0.4s;
background: #F6F6F6;
border: 1px solid #F2F2F2;
border-radius: 10px;
box-sizing: border-box;
}

.search-box-dropdown input:focus{
  outline: none;
}
.search-box-dropdown input::-webkit-input-placeholder{
  color: #4d4d4d;
  font-family: Silka;
  font-size: 14px;
  font-weight: 400;
  background: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: left;

}

.search-box-dropdown input::-moz-placeholder{
  color: #4d4d4d;
  font-family: Silka;
  font-size: 14px;
  font-weight: 400;
  background: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 7% 47%;  

}

.select-box-dropdown .options-container-dropdown.active ~ .search-box-dropdown input{
  opacity: 1;
}
.select-box-dropdown .options-container-dropdown.active ~ .search-box-dropdown{
  opacity: 1;
  background-color: #ffffff;
}
hr{
  height: 1px;
  background-color: #F3F6FF;
  border: none;
  margin: 0;
}
.no-elem-dropdown{
  display: none;
  text-align: center;
  padding: 12px;
  margin: 0px;
}
#selected-blue-radio-dropdown label {
  color: white;
}

/* From previous css theme files */
.easychat-dragdropContainer__XPS {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 12px;
}
.easychat-dragdropContainer__XPS .bot-widget-submit-reset-btn-wrapper {
  min-width: 78%;
  margin-top: 0px;
}
.easychat-attachment-dragdrop-wrapper {
  position: relative;
  width: 78%;
  margin-bottom: 8px;
}
.easychat-attachment-dragdrop-wrapper span p{
  margin: 0px;
}
.attachment-click-here-text-div {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D2D2D;
}
.attachment-click-here-text-div span {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #7B7A7B;
}

.easychat-dragdropContainer__XPS .easychat-dragdropMsg__XPS {
  display: flex;
  width: 100%;
  height: auto !important;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
  padding: 24px 0px 14px;
  min-height: 180px;
  background: #FAFAFA;  
  border: 1px dashed #02368A;
  box-shadow: 0px 2px 2px rgb(0 32 51 / 2%), 0px 2px 8px rgb(0 32 51 / 16%);
  border-radius: 4px;
  row-gap: 12px;
}

.easychat-dragdropContainer__XPS .easychat-dragdrop__XPS {
  width: 100%;
  box-sizing: border-box;
  margin-top: 1em;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0px;
}
.easychat-dragdropContainer__XPS .easychat-dragdrop__XPS input {
  height: 100%;
  outline: none;
  opacity: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}
.easychat-dragdropContainer__XPS .preview-img {
  width: 78%;
}
.easychat-dragdropContainer__XPS .preview-img img {
  width: 100%;
  margin-top: 0px;
  border-radius: 4px;
}
/* New styles */

.output-image{
    display: none;
    
}
.submit-cancel-btns-wrapper{
    display: none;
    width: 60%;
    /* position: relative;
    left: 32%; */
}
.submit-cancel-btns{
    /* position: absolute; */
    display: flex;
    justify-content: end;
}

.attachment-successful-text-wrapper{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.successful-submission-text{
  display: none;
  width: max-content;
  margin-bottom: 12px;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 12px;
  background: #F6F6F6;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
}
.successful-submission-text svg{
  position: relative;
  top: 4px;
}
.successful-submission-text span{
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #7B7A7B;
  margin-left: 4px;
}

/*attachment loader*/


.easychat-dragdropContainer__XPS .easychat-upload-file-container {
  margin: 0px 0px 8px;
  padding: 0px 6px;
}
.easychat-upload-file-container {
  width: 78%;
  position: relative;
  height: 54px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 2rem 0rem;
}

.easychat-upload-file-container .upload-file-icon-div {
  margin: 0px 8px;
  height: 23px;
}

.easychat-upload-file-container .delete-choose-file {
    position: absolute;
    background-color: #fff;
    z-index: 100;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 47%;
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: center;
    left: 54%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    cursor: pointer;
}

.easychat-upload-file-container .progressbar:hover .delete-choose-file {
    display: flex;
}

.easychat-upload-file-container .upload-file-name-div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 60%;
    font-size: 14px;
    color: #000;
    text-align: left;
}

.easychat-upload-file-container .upload-file-loader {
    position: absolute;
    right: 12px;
}


/* body {
    margin: 100px;
} */

.easychat-upload-file-container .progressbar {
    display: inline-block;
    margin-top: 3px;
    /* width: 100px;
    margin: 25px; */
}

.easychat-upload-file-container .circle {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-align: center;
}

.easychat-upload-file-container .circle:after {
    width: 28px;
    height: 28px;
    content: "";
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 6px;
    left: 6px;
}

.easychat-upload-file-container .circle canvas {
    border: 2px solid #fff;
    border-radius: 50%;
}

.easychat-upload-file-container .circle div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -18px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    color:#1E9DF7;
    font-weight: 600;
    z-index: 99;
}

.easychat-upload-file-container .circle strong i {
    font-style: normal;
    font-size: 8px;
    font-weight: normal;
}

.easychat-upload-file-container .circle span {
    display: block;
    color: white;
    margin-top: 12px;
}

#feedback_modal .feedback-emoji-div{
  padding-left: 0px;
}

#feedback_modal .emojis-text-alignment4{
  padding-right: 2px;
}
.submit-cancel-btns-wrapper .submit-cancel-btns .cancel-btn 
{
  border: 1px solid #ffffff!important;
}
.radio-div::-webkit-scrollbar, .checkbox-div::-webkit-scrollbar {
  width: 4px;
  background: #F6F6F6;
  border-radius: 4px;
}

.checkbox-div::-webkit-scrollbar-thumb,
.radio-div::-webkit-scrollbar-thumb {
  background: #DADADA;
  border-radius: 4px;
}
.easychat-widget-disabled .radio-div{
  max-height: 154px;
  overflow-y: auto;
}
.easychat-widget-disabled .checkbox-div{
  max-height: 154px;
  overflow-y: auto;
}
.bot-widget-submit-reset-btn-wrapper{
  min-width: 84%;
}
.bot-widget-submit-reset-btn-wrapper.widget-cancel-reset-wrapper-div{
  justify-content: space-between;
}
.bot-widget-submit-reset-btn-wrapper.widget-cancel-reset-wrapper-div>div{
  display: flex;
  align-items: center;
  column-gap: 8px;
}

/* Added welcome banner css */


.easychat-bot-welcome-banner-parent{
  width: 100%;
  /* height: 178px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.easychat-bot-welcome-banner-wrapper {
  width: 100%;
  /* height: 178px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.easychat-bot-welcome-banner-wrapper .easychat-carousel-track-container {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.easychat-bot-welcome-banner-wrapper .easychat-carousel-track {
  position: relative;
  list-style: none;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease-in;
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

.easychat-bot-welcome-banner-wrapper .easychat-carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.easychat-bot-welcome-banner-wrapper .easychat-carousel-slide img {
  height: 100% !important;
  width: 100% !important;
  object-fit: fill !important;
  box-shadow: 0px 1.10459px 4.41835px rgba(0, 0, 0, 0.15);
}

.easychat-bot-welcome-banner-wrapper .easychat-carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0 0 0;
}

.easychat-bot-welcome-banner-wrapper .easychat-carousel-nav .easychat-carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #C4C9D9;
  margin: 0 12px;
  cursor: pointer;
  padding: 0px;
  box-sizing: border-box;
}

.easychat-bot-welcome-banner-wrapper .easychat-carousel-nav .easychat-carousel-indicator.active-slide-indicator {
  background: #0254D7;
}

/* Welcome banner css ends */
