#new-bot {
    min-width: 668px!important;
    border-radius: 12px!important;
    top: 4%!important;
    /* transform: translateY(-50%) !important; */
    padding: 0px!important;
    background: transparent;
    height: max-content;
}

@media screen and ( max-height: 650px) {
    #new-bot.easychat-custom-create-new-bot-modal {
        top: 1.5%!important;
    }
}

.easychat-custom-create-new-bot-modal .modal-content {
    padding: 0px !important;
    overflow-y: auto;
    max-height: calc(100vh - 2rem);
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-steps-content {
    background: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
}

.easychat-custom-create-new-bot-modal #create_bot_step_one .easychat-create-bot-back-arrow {
    visibility: hidden;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-modal-header {
    background: #F5F8FF;
    padding: 20px;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-header-content {
    display: flex;
    /* align-items: self-start; */
    justify-content: space-between;
}

#new-bot.easychat-custom-create-new-bot-modal .create-bot-header-btns {
    border: none !important;
    background-color: transparent !important;
    width: 32px;
    height: 32px;
    outline: none;
    box-shadow: none !important;
    padding: 0px !important;
    margin: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easychat-custom-create-new-bot-modal .easychat-image-step1-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.easychat-custom-create-new-bot-modal .easychat-image-step1-header svg {
    height: 165px;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-heading-text {
    font-style: normal;
    font-weight: 700;
    font-size: 25.755px;
    line-height: 31px;
    color: #0254D7;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-tab-menu-wrapper .easychat-create-bot-tablinks {
    border: none !important;
    background-color: inherit;
    width: max-content;
    height: max-content;
    outline: none;
    box-shadow: none !important;
    padding: 10px 16px;
    margin: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #00040B;
    border-radius: 8px 8px 0px 0px;
    transition: 0.3s;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-tab-menu-wrapper #bot-icon-tab {
    pointer-events: none;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-tab-menu-wrapper .easychat-create-bot-tablinks.tab-active {
    background: #FFFFFF;
    color: #0658EA;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-tab-menu-wrapper {
    background: #F5F8FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-tabcontent-wrapper {
    width: 100%;
    background: #FFFFFF;
    padding: 30px 50px 40px;
}

.create-bot-input-label-header {
    display: flex;
}

.easychat-custom-create-new-bot-modal .create-bot-input-label-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.easychat-custom-create-new-bot-modal .create-bot-input-label-header .compulsary-field {
    color: #FF281A;
    font-weight: 500;
    font-size: 16px;
}

#new-bot.easychat-custom-create-new-bot-modal #new_bot_name {
    border: 1px solid #EBEBEB !important;
    border-radius: 4px !important;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 17px;
    color: #2D2D2D;
}

#new-bot.easychat-custom-create-new-bot-modal #new_bot_faqs_url {
    border: 1px solid #EBEBEB !important;
    border-radius: 4px !important;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 17px;
    color: #2D2D2D;
}

.create-bot-btn-disable {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}

.easychat-custom-create-new-bot-modal .easychat-newbot-error-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.4px;
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7B7A7B;
}

.channel-labels svg {
    height: 54px;
    width: 56px;
    fill: none;
}

.channel-labels img {
    height: 54px;
    width: 56px;
    fill: none;
}

.bot-name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 0.4px;
    margin-top: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7B7A7B;
}

#bot-name-error {
    color: red;
    padding-left: 5px;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-footer-btn {
    border: none !important;
    background: #0254D7;
    width: 100%;
    height: 46px;
    outline: none;
    box-shadow: none !important;
    padding: 0px 16px;
    margin: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 6px;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-footer-btns-wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;
    column-gap: 24px;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-step-div {
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border-radius: 50%;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-step-div.step-indicator-active {
    background: #0254D7;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-steps-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    margin-top: 12px;
    height: 20px;
}

.easychat-custom-create-new-bot-modal .create-bot-icon-select-wrapper {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-icon-item {
    width: 78px;
    height: 78px;
    box-shadow: 0px 1.29918px 5.19673px rgba(0, 32, 51, 0.16);
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.easychat-custom-create-new-bot-modal .easychat-create-bot-icon-item.easychat-create-bot-icon-item-active {
    background: #EFF6FF;
}

.easychat-custom-create-new-bot-modal .easychat-bot-icon-upload-div {
    width: 78px;
    height: 78px;
    box-shadow: 0px 1.29918px 5.19673px rgba(0, 32, 51, 0.16);
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

#upload-image-section .drag-drop-input-field-wrapper {
    left: 0;
    top: 0;
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#image-selected-container .image-container-div .dismiss-circle {
    position: absolute;
    top: 2px;
    right: -2px;
    cursor: pointer;
    background: #f3efef;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#image-selected-container .image-container-div img {
    padding-top: 6px;
}

#image-selected-container {
    position: relative;
    display: none;
    vertical-align: top;
    border: 1px solid transparent;
}

input[type=file] {
    cursor: pointer;
    cursor: hand;
}

.create-bot-icon-section-heading {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    margin-bottom: 5px;
}

.create-bot-icon-section-subheading {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7B7A7B;
}

.easychat-create-bot-cross svg:hover {
    transform: rotate(180deg);
}

.easychat-create-bot-cross svg {
    transition: transform .7s ease-in-out;
}

.create-bot-config-label-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4D4D4D;
    display: flex;
    column-gap: 2px;
    width: 100%;
}

.easychat-custom-create-new-bot-modal .welcome-message-textarea-create-bot {
    resize: none;
    height: 85px;
    padding: 24px;
    width: 100%;
    background: #F5F8FF;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    overflow-y: auto;
    border: none;
    letter-spacing: normal;
    outline: none;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 23px;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch input {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider {
    position: absolute !important;
    cursor: pointer !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    -webkit-transition: .4s;
    transition: .4s !important;
    height: unset !important;
    border: none !important;
    background: #FFF9F9 !important;
    box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider:before {
    position: absolute !important;
    content: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.06055' y='0.848267' width='7' height='7' rx='3.5' stroke='%23FF281A'/%3E%3C/svg%3E%0A") !important;
    height: 23px !important;
    width: 23px !important;
    left: 0px !important;
    bottom: 0px !important;
    -webkit-transition: .4s;
    transition: .4s !important;
    border: none !important;
    top: unset !important;
    margin: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FAFC !important;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider {
    background: #0253D6 !important;
    box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
}


/* .easychat-custom-switch-toggle-wrapper input:focus+.easychat-custom-toggle-slider {
    box-shadow: 0 0 1px #2196F3 !important;
} */

.easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
    content: url("data:image/svg+xml,%3Csvg width='3' height='9' viewBox='0 0 3 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.987305' y='0.892334' width='1' height='7' rx='0.5' stroke='%230254D7'/%3E%3C/svg%3E%0A") !important;
}


/* Rounded sliders */

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round {
    border-radius: 34px;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round:before {
    border-radius: 50%;
}

.easychat-create-bot-divider-container {
    display: flex;
}

#addonFeatures .easychat-create-bot-divider-container {
    margin-bottom: 34px !important;
}

.easychat-custom-switch-toggle-wrapper {
    display: flex;
    width: 100%;
}

#addonFeatures .easychat-custom-switch-toggle-wrapper {
    justify-content: center;
}

#addonFeatures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 466px;
}

#create_bot_step_two .easychat-create-bot-tabcontent-wrapper,
#create_bot_step_three .easychat-create-bot-tabcontent-wrapper,
#create_bot_step_four .easychat-create-bot-tabcontent-wrapper,
#create_bot_step_five .easychat-create-bot-tabcontent-wrapper {
    max-height: 466px;
    overflow-y: auto;
    padding-bottom: 0px;
}

#create_bot_step_two .easychat-create-bot-footer-btns-wrapper,
#create_bot_step_three .easychat-create-bot-footer-btns-wrapper,
#create_bot_step_four .easychat-create-bot-footer-btns-wrapper,
#create_bot_step_five .easychat-create-bot-footer-btns-wrapper,
#create_bot_final_step .easychat-create-bot-footer-btns-wrapper {
    position: sticky;
    bottom: 0;
    padding-bottom: 40px;
    background: #ffffff;
}

#create_bot_final_step .easychat-create-bot-tabcontent-wrapper {
    max-height: calc(100vh - 4.5rem);
    overflow-y: auto;
    padding-bottom: 0px;
}

.create-bot-channel-select-item {
    display: inline-flex;
    width: max-content;
    margin-right: 54px;
    vertical-align: middle;
    margin-bottom: 28px;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.create-bot-channel-select-item:nth-child(3n) {
    margin-right: 0px;
}

.create-bot-channel-select-item label {
    border: none;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    width: 140px;
    height: 140px;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);
    border-radius: 20.1178px;
    flex-direction: column;
    justify-content: center;
    row-gap: 12px;
}

.create-bot-channel-select-item input[type=checkbox]:checked+label {
    background: #F5F8FF;
}

.create-bot-channel-select-item input[type=checkbox]:checked~a {
    visibility: visible;
}

.create-bot-channel-select-item input[type=checkbox] {
    opacity: 0;
    display: none;
}

.create-bot-channel-advance-setting-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #0254D7;
    visibility: hidden;
}

.create-bot-channels-wrapper {
    padding: 0px 10px;
}

.easychat-create-bot-url-btns-wrapper .easychat-create-bot-url-btn {
    border: none !important;
    background: #0254D7;
    width: max-content;
    height: 32px;
    outline: none;
    box-shadow: none !important;
    padding: 0px 24px;
    margin: 0px 30px 0px 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    border-radius: 6px;
}

.easychat-create-bot-url-btns-wrapper {
    display: flex;
    margin-bottom: 16px;
}

.create-bot-url-status-message-wrapper {
    padding-left: 5px;
    height: 36px;
}

.create-bot-url-error-message-div {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #E10E00;
    display: none;
}

.create-bot-url-extarct-adding-faqs-message-wrapper {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #7B7A7B;
    display: none;
}

.create-bot-url-loader-wrapper {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}

.create-bot-url-loader-wrapper #search_error_gif {
    width: 150px;
    height: 140px;
}

.create-bot-url-loader-wrapper #loading_files_gif {
    width: 315px;
    height: 100px;
}

.create-bot-url-loader-wrapper #upload_files_gif {
    width: 190px;
    height: 190px;
}

.create-bot-preview-icon-div img {
    width: 50px;
    height: 50px;
}

.create-bot-preview-name-text {
    font-weight: 500;
    font-size: 17.5789px;
    line-height: 25px;
    color: #000000;
}

.create-bot-preview-icon-name-wrapper {
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-bottom: 24px;
}

.create-bot-preview-header-div {
    font-weight: 500;
    font-size: 15.0677px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 16px;
}

.create-bot-preview-content-div {
    background: #F5F8FF;
    box-shadow: 0px 1.25564px 1.25564px rgba(0, 32, 51, 0.02), 0px 1.25564px 5.02256px rgba(0, 32, 51, 0.16);
    border-radius: 10px;
    width: 100%;
    padding: 16px 24px 4px;
}

.create-bot-preview-item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 12px;
}

.create-bot-primary-setting-preview-wrapper,
.create-bot-addon-features-preview-wrapper,
.create-bot-faq-preview-wrapper {
    margin-bottom: 24px;
}

.create-bot-channels-preview-wrapper {
    margin-bottom: 12px;
}

.create-bot-channels-preview-item {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100px;
    height: 91px;
    background: #F5F8FF;
    border-radius: 14.9884px;
    margin-right: 12px;
    margin-bottom: 12px;
}

.create-bot-channels-preview-item span {
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: #000000;
    text-align: center;
}

.create-bot-channels-preview-item svg {
    max-width: 35px;
    max-height: 35px;
}

.create-bot-final-step-header {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #02368A;
}

.final-step-tabcontent {
    padding-top: 65px;
    text-align: center;
}

.final-step-tabcontent img {
    width: 390px;
    height: 388px;
    margin-bottom: 26px;
}


/* language css */

.easychat-create-bot-language-dropdown-wrapper {
    display: flex;
    width: 100%;
}

.easychat-create-bot-language-dropdown-wrapper .container {
    margin: 0px !important;
    width: 100% !important;
}

.easychat-create-bot-language-dropdown-wrapper .container .select-box {
    display: flex;
    width: 260px;
    flex-direction: column;
}

.container .select-box .options-container {
    color: #2D2D2D;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 32, 51, 0.16);
    border-radius: 0 0 4px 4px;
    border-top: 0;
    overflow: hidden;
    order: 1;
    z-index: 101;
}

.container .selected {
    background: #fff;
    border-right: 0;
    color: #909090;
    position: relative;
    max-height: 140px;
    overflow-y: scroll;
    font-size: 14px;
    margin-right: 32px;
    padding: 5px !important;
    order: 0;
}

.container .selected::-webkit-scrollbar {
    display: none;
}

.container .select-box .options-container.active {
    max-height: 100px;
    opacity: 1;
    overflow-y: auto;
}

.container .select-box .options-container::-webkit-scrollbar {
    width: 4px;
    background: #EBEBEB;
    border-left: 0px;
    border-radius: 0 0 18px 0;
}

.container .select-box .options-container::-webkit-scrollbar-thumb {
    background: #CBCACA;
    border-radius: 18px;
}

.container .select-box .option,
.selected {
    padding: 6px 16px;
    border-bottom: 1px solid #F3F6FF;
}

.container .select-box .option:hover {
    background: #F3F6FF;
}

.container .select-box label {
    cursor: pointer;
}

.container .option label {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2D2D2D;
    padding-left: 28px;
}

.container .select-box .option .radio {
    display: none;
}

.container .option {
    position: relative;
}

.container .item-checkbox {
    opacity: 1 !important;
    position: absolute;
    left: 12px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-100%);
}

.container .tag {
    display: inline-flex;
    color: #0254D7;
    border: 1px solid #0254D7;
    border-radius: 4px;
    padding: 5px 10px;
    margin-right: 3px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
}

.container .wrapper-box {
    position: relative;
    padding: 5px;
    padding-right: 8px;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 0px 4px rgba(50, 50, 71, 0.06);
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
}

.container .box {
    position: relative;
}

.container .arrow {
    color: #2D2D2D;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 20px;
    transform: translateY(-50%) rotate(0deg);
}

.container .search-box {
    padding: 6px 8px;
    box-shadow: 0px 2px 8px rgba(0, 32, 51, 0.16);
    width: 260px;
    opacity: 0;
    border-radius: 4px 4px 0 0;
    pointer-events: none;
    transition: all 0.4s;
}

#new-bot.easychat-custom-create-new-bot-modal .easychat-create-bot-language-dropdown-wrapper #language-options-search-box input[type="text"] {
    margin: 0px !important;
    background: #FAFAFA;
    border: 1px solid #F6F6F6 !important;
    border-radius: 4px;
    height: 32px !important;
    width: 100% !important;
}

.container .search-box input {
    width: 250px;
    height: 40px;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 16px;
    z-index: 100;
    border: 1px solid #e1e1e1;
    margin-left: 4px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    background: #f6f6f6;
}

.container .search-box input:focus {
    outline: none;
}

.container .search-box input::-webkit-input-placeholder {
    color: #7B7A7B;
    font-size: 12px;
    font-weight: 500;
    background-repeat: no-repeat;
    background: url('data:image/svg+xml;utf8,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6875 12.0689L9.38346 8.76486C10.1774 7.81169 10.5734 6.5891 10.4889 5.35145C10.4044 4.11379 9.84601 2.95635 8.92988 2.1199C8.01375 1.28346 6.81041 0.83241 5.57019 0.86059C4.32997 0.88877 3.14836 1.39401 2.27117 2.2712C1.39398 3.14839 0.888739 4.33 0.860559 5.57022C0.832379 6.81044 1.28343 8.01378 2.11987 8.92991C2.95632 9.84604 4.11376 10.4044 5.35142 10.4889C6.58907 10.5734 7.81166 10.1775 8.76483 9.38349L12.0688 12.6875L12.6875 12.0689ZM1.74996 5.68749C1.74996 4.90872 1.98089 4.14745 2.41355 3.49993C2.84621 2.85241 3.46116 2.34773 4.18064 2.04971C4.90013 1.75169 5.69183 1.67372 6.45563 1.82565C7.21943 1.97758 7.92102 2.35259 8.47169 2.90326C9.02236 3.45393 9.39737 4.15552 9.5493 4.91932C9.70123 5.68312 9.62325 6.47482 9.32523 7.1943C9.02721 7.91379 8.52253 8.52874 7.87502 8.9614C7.2275 9.39406 6.46622 9.62499 5.68746 9.62499C4.64352 9.62383 3.64268 9.20862 2.9045 8.47044C2.16633 7.73227 1.75112 6.73142 1.74996 5.68749Z" fill="%23909090"/></svg>') center / contain no-repeat;
    background-position: left;
}

.container .select-box .options-container.active~.search-box input {
    opacity: 1;
    pointer-events: auto;
}

.container .select-box .options-container.active~.search-box {
    opacity: 1;
    pointer-events: auto;
    z-index: 100;
    background: #ffffff;
}

.container hr {
    height: 1px;
    background-color: #F3F6FF;
    border: none;
}

#languages-extend-button {
    background: #0254D7;
    border: 1px solid #0254D7;
    border-radius: 4px;
    padding: 3px 8px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    z-index: 1000;
    margin: 5px 2px;
}

.container .no-elem {
    display: none;
    text-align: center;
    padding: 10px;
}

.container .selected-language-cross-btn {
    z-index: 1000;
    padding-left: 5px;
    cursor: pointer;
    width: 12px;
    height: 15px;
    display: none;
}

.container #search-box-input:focus {
    border: 1px solid #e1e1e1 !important;
}

#circle {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 100%;
    position: absolute;
    top: 6px;
    left: -12px;
    margin-right: 15px;
}

.collapsible-body .choose-language {
    display: flex;
    position: relative;
    margin-top: 0rem;
}

.collapsible-body .dashed-line {
    border: none;
    border-top: 1.35789px dashed rgba(154, 170, 235, 0.35);
    color: #fff;
    background-color: #fff;
    height: 1px;
}

#add-language-colapsible-body {
    padding: 0rem 1rem;
}

.language-chip-display-name {
    min-width: 25px;
}

#selected-language-chips-wrapper {
    padding: 3px;
}

.container .selected {
    padding: 2px 5px !important;
}

.container .tag {
    padding: 3px 7px;
    font-size: 14px;
    align-items: center;
}


/* delete modal css */

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal {
    width: 440px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    border-radius: 12px !important;
    background-color: #ffffff;
    padding: 12px 6px 6px !important;
}

.modal.easychat-custom-modals-wrapper .termination-confirmation-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
}

.modal.easychat-custom-modals-wrapper .termination-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    padding: 10px 20px 20px;
    width: 100%;
    color: #2D2D2D;
    letter-spacing: normal;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-heading-text {
    text-align: center;
    margin-top: 24px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-subheading-text {
    text-align: center;
    margin-top: 24px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2D2D2D;
}

.modal.easychat-custom-modals-wrapper .termination-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal.easychat-custom-modals-wrapper .termination-buttons button {
    width: 100%;
    height: 42px;
    border-radius: 4px;
    padding: 7px 16px;
    font-size: 16px;
    line-height: 140%;
    box-shadow: none;
}

.modal.easychat-custom-modals-wrapper .termination-no-btn {
    background: #FFFFFF;
    color: #0254D7;
    margin-right: 12px !important;
    border: 1px solid #0254D7;
}

.modal.easychat-custom-modals-wrapper .termination-yes-btn {
    background: #E10E00;
    border: 1px solid #E10E00;
    color: #FFFFFF;
    margin-left: 12px !important;
}

.modal.easychat-custom-modals-wrapper .termination-yes-btn:focus {
    background: #E10E00 !important;
}


/* loader css */

.create-bot-loader-div {
    background: #ffff;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 102;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 62px;
}

.create-bot-loader-div img {
    width: 200px;
    height: 280px;
}

.create-bot-loader-heading-one {
    font-weight: 500;
    font-size: 20.0902px;
    line-height: 30px;
    color: #475569;
    margin-top: -18px;
}

.create-bot-loader-heading-two {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    width: 58%;
    color: #022B6E;
    text-align: center;
    margin-top: -18px;
}

.material-tooltip {
    max-width: 250px;
}

#create_bot_loader_subheader_animation:after {
    content: "";
    font-style: italic;
    animation: spinSubheader 12s linear infinite;
}

@keyframes spinSubheader {
    0% {
        content: '“Did you know you can select your choice of theme in the web channel settings”';
    }
    33% {
        content: '“Did you know you can also configure multiple channels as per your business needs”';
    }
    66% {
        content: '“Did you know you can configure multiple type of responses in skills”';
    }
    100% {
        content: '“Did you know you can add multiple languages to your bot & experience a truly multilingual chatbot”';
    }
}