textarea {
    height: 10em;
    width: 100%;
    border-radius: 0.5em;
    border: 0.05em solid black;
}

.font-indicator-form-assist {
    background-color: #fdbc16;
    color: white;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    left: 30%;
    top: 1em;
    padding: 2px;
    text-align: center;
    z-index: 1;
}

.font-indicator-easy-search {
    background-color: #6a1b9a;
    color: white;
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    left: 45%;
    top: 1em;
    padding: 2px;
    text-align: center;
    z-index: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid black; */
}

.row {
    margin-bottom: 10px !important;
}

body {
    overflow: hidden;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#chat-wrapper {
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    background: #F5F5F5;
    font-family: "Roboto", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    display: flex;
    padding-left: 10px;
}

.switch-custom label .lever-custom {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 19px;
    background-color: #fff;
    border: 3px solid #BECAD6;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
    padding-left: 0px !important;
}

#chat-frame {
    width: 95%;
    min-width: 360px;
    /*max-width: 90vw;*/
    height: 80vh;
    min-height: 300px;
    max-height: 78vh;
    background: transparent;
}

@media screen and (max-width: 360px) {
    #chat-frame {
        width: 100%;
        height: 100vh;
    }
}

#chat-frame #sidepanel {
    float: left;
    min-width: 280px;
    max-width: 330px;
    width: 40%;
    height: 105%;
    background: #FBFCFF;
    color: #000;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel {
        width: 58px;
        min-width: 58px;
    }
}

#chat-frame #sidepanel #profile {
    width: 80%;
    margin: 25px auto;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile {
        width: 100%;
        margin: 0 auto;
        padding: 5px 0 0 0;
        background: #32465a;
    }
}

#chat-frame #sidepanel #profile.expanded .wrap {
    height: 210px;
    line-height: initial;
}

#chat-frame #sidepanel #profile.expanded .wrap p {
    margin-top: 20px;
}

#chat-frame #sidepanel #profile.expanded .wrap i.expand-button {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#chat-frame #sidepanel #profile .wrap {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    -moz-transition: 0.3s height ease;
    -o-transition: 0.3s height ease;
    -webkit-transition: 0.3s height ease;
    transition: 0.3s height ease;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile .wrap {
        height: 55px;
    }
}

#chat-frame #sidepanel #profile .wrap img {
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    border: 2px solid #e74c3c;
    height: auto;
    float: left;
    cursor: pointer;
    -moz-transition: 0.3s border ease;
    -o-transition: 0.3s border ease;
    -webkit-transition: 0.3s border ease;
    transition: 0.3s border ease;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile .wrap img {
        width: 40px;
        margin-left: 4px;
    }
}

#chat-frame #sidepanel #profile .wrap p {
    float: left;
    margin-left: 15px;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile .wrap p {
        display: none;
    }
}

#chat-frame #sidepanel #profile .wrap i.expand-button {
    float: right;
    margin-top: 23px;
    font-size: 0.8em;
    cursor: pointer;
    color: rgb(197, 162, 214);
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile .wrap i.expand-button {
        display: none;
    }
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile .wrap #status-options {
        width: 58px;
        margin-top: 57px;
    }
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile .wrap #status-options.active {
        margin-top: 62px;
    }
}

#chat-frame #sidepanel #profile .wrap #status-options:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid rgb(197, 162, 214);
    margin: -8px 0 0 24px;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile .wrap #status-options:before {
        margin-left: 23px;
    }
}

#chat-frame #sidepanel #profile .wrap #status-options ul {
    overflow: hidden;
    border-radius: 6px;
}

#chat-frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 30px 18px;
    display: block;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile .wrap #status-options ul li {
        padding: 15px 0 35px 22px;
    }
}

#chat-frame #sidepanel #profile .wrap #status-options ul li:hover {
    background: #496886;
}

#chat-frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 5px 0 0 0;
}

.action-list-ul {
    position: relative;
    /*right: -83%;*/
    /*top: -10%;*/
    margin-top: -1.5%;
    margin-left: 87%;
    background-color: white;
    border: 0px solid grey;
    border-radius: 1em;
    margin-bottom: 0px !important;
    display: inline-block;
    visibility: hidden;
}

.action-list-li {
    background-color: white;
    margin: 0px !important;
    padding: 10px !important;
    width: auto !important;
    border: 0px solid grey;
    border-radius: 1em;
}

.action-list-li:hover {
    background-color: #e8e6e7;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
        width: 14px;
        height: 14px;
    }
}

#chat-frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    margin: -3px 0 0 -3px;
    background: transparent;
    border-radius: 50%;
    z-index: 0;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
        height: 18px;
        width: 18px;
    }
}

#chat-frame #sidepanel #profile .wrap #status-options ul li p {
    padding-left: 12px;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #profile .wrap #status-options ul li p {
        display: none;
    }
}

#chat-frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
    background: #95a5a6;
}

#chat-frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
    border: 1px solid #95a5a6;
}

#chat-frame #sidepanel #profile .wrap #expanded {
    padding: 100px 0 0 0;
    display: block;
    line-height: initial !important;
}

#chat-frame #sidepanel #profile .wrap #expanded label {
    float: left;
    clear: both;
    margin: 0 8px 5px 0;
    padding: 5px 0;
}

#chat-frame #sidepanel #profile .wrap #expanded input:focus {
    outline: none;
    background: rgb(197, 162, 214);
}

#chat-frame #sidepanel #search {
    /* border-radius: 30px; */
    /* border-top: 1px solid #32465a; */
    border-bottom: 0.6px solid #623c8d;
    margin: 0;
    line-height: 1;
    padding: 0;
    font-weight: 300;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #search {
        display: none;
    }
}

#chat-frame #sidepanel #search label {
    position: absolute;
    margin: 20px 0 0 10px;
}

#chat-frame #sidepanel #search input {
    font-family: "Roboto", "Source Sans Pro", sans-serif;
    padding: 10px 0 0px 46px;
    width: 100%;
    border: none !important;
    margin: 0 !important;
    background: #fff;
    /*color: #0F52A1;*/
    transition: all 0.2s;
}

#chat-frame #sidepanel #contacts {
    padding-bottom: 60px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #contacts {
        height: calc(100% - 149px);
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #chat-frame #sidepanel #contacts::-webkit-scrollbar {
        display: none;
    }
}

#chat-frame #sidepanel #contacts.expanded {
    height: calc(100% - 334px);
}

#chat-frame #sidepanel #contacts::-webkit-scrollbar {
    width: 5px;
    /*background: #691b9a57;*/
    margin: 0;
}

#chat-frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: #2c38b9;
    margin: 0;
}

#chat-frame #sidepanel #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 0.9em;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #contacts ul li.contact {
        padding: 6px 0 46px 8px;
        transition: all 0.2s;
    }
}

#chat-frame #sidepanel #contacts ul li.contact:hover {
    background: rgb(197, 162, 214);
    color: black;
    transition: all 0.2s;
}

#chat-frame #sidepanel #contacts ul li.contact.active {
    background: rgb(197, 162, 214);
    border-right: 5px solid rgb(197, 162, 214);
    color: #fff;
}

#chat-frame #sidepanel #contacts ul li.contact.active span.contact-status {
    border: 2px solid #32465a !important;
}

#chat-frame #sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #contacts ul li.contact .wrap {
        width: 100%;
    }
}

#chat-frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
}

#chat-frame #sidepanel #contacts ul li.contact .wrap img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #contacts ul li.contact .wrap img {
        margin-right: 0px;
    }
}

#chat-frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
}

@media screen and (max-width: 735px) {
    #chat-frame #sidepanel #contacts ul li.contact .wrap .meta {
        display: none;
    }
}

#chat-frame #sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}

#chat-frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* -moz-transition: 1s all ease;
            -o-transition: 1s all ease;
            -webkit-transition: 1s all ease;
            transition: 1s all ease; */
}

#chat-frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
    position: initial;
    border-radius: initial;
    background: none;
    border: none;
    padding: 0 2px 0 0;
    margin: 0 0 0 1px;
    opacity: .5;
}

#chat-frame .content {
    float: right;
    width: 60%;
    height: 105%;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 735px) {
    #chat-frame .content {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }
}

@media screen and (min-width: 900px) {
    #chat-frame .content {
        width: calc(100% - 340px);
    }
}

#chat-frame .content .contact-profile {
    width: 100%;
    height: 75px;
    line-height: 75px;
    background: rgb(197, 162, 214);
    color: black;
    font-weight: bold;
}

#chat-frame .content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    text-align: center;
    margin: 15px 12px 0 15px;
}

#chat-frame .content .contact-profile p {
    float: left;
}

#chat-frame .content .contact-profile .social-media {
    float: right;
}

#chat-frame .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
}

#chat-frame .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
}

#chat-frame .content .contact-profile .social-media i:hover {
    color: rgb(197, 162, 214);
}

#chat-frame .content .messages {
    height: 80%;
    background-color: #fff;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 20px;
    position: relative;
}

#chat-frame .content .close-selected-mis {
    height: 10%;
    background-color: #fbfcff;
    width: 100%;
    padding-bottom: 10px;
    position: relative;
    float: right;
    top: -10%;
    padding-left: 10px;
}

@media screen and (max-width: 735px) {
    #chat-frame .content .messages {
        max-height: calc(100% - 105px);
    }
}

#chat-frame .content .messages::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

#chat-frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(36, 2, 65, 0.3);
}

#chat-frame .content .messages ul li {
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

.bullet li {
    list-style: disc !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.num li {
    list-style: decimal;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.num li:nth-last-child(1) {
    margin-bottom: 10px !important;
}

.bullet li:nth-last-child(1) {
    margin-bottom: 10px !important;
}

.num {
    margin-left: 15px !important;
}

.bullet {
    margin-left: 15px !important;
}

#chat-frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 90px;
    padding-bottom: 20px;
}

#chat-frame .content .messages ul li.sent img {
    margin: 6px 8px 0 0;
}

#chat-frame .content .messages ul li.sent p {
    /*background: linear-gradient(0deg, rgb(197, 162, 214) 0%, rgb(197, 162, 214) 92.71%);*/
    /*background-color: #A676C2;*/
    color: black;
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.2);
}

#chat-frame .content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
}

#chat-frame .content .messages ul li.replies p {
    background: #A676C2;
    color: white;
    /*background-color: #f5f5f5;*/
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.2);
    float: right;
}

#chat-frame .content .messages ul li img {
    width: 22px;
    border-radius: 50%;
    float: left;
}

#chat-frame .content .messages ul li div {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
}

@media screen and (min-width: 735px) {
    #chat-frame .content .messages ul li div {
        max-width: 300px;
    }
}

.message-div {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
}

#chat-frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

#chat-frame .content .message-input .wrap {
    position: relative;
}

#chat-frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
}

#chat-frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}

@media screen and (max-width: 735px) {
    #chat-frame .content .message-input .wrap button {
        padding: 16px 0;
    }
}

#chat-frame .content .message-input .wrap button:hover {
    background: rgb(197, 162, 214);
}

#chat-frame .content .message-input .wrap button:focus {
    outline: none;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #2755cb;
}

.revert-existing {
    all: revert;
}

[type="checkbox"].filled-in:checked+span:not(.lever):before {
    width: 8px !important;
    height: 13px !important;
}

.easychat-user-message-image-container img {
    height: 100%;
    width: 100% !important;
    border-radius: 1em !important;
    object-fit: cover;
    cursor: pointer;
}

.easychat-user-message-image-container {
    float: right;
    width: 50%;
    background-color: #ffffff;
    margin: 1em 0px 3px 0px;
    padding: 4px 4px 8px 4px;
    border-radius: 0em 1em 1em 1em;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 20%);
    cursor: pointer;
}

#preview-big-image {
    width: 90%;
    height: 90%;
    position: absolute;
    object-fit: contain;
    object-position: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#preview-big-image-cross-button {
    position: absolute;
    top: 10%;
    right: 0.5em;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.easychat-customer-attchment-file-name-div {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.easychat-user-message-video-container {
    width: 60%;
    float: right;
    background-color: #ffffff;
    margin: 1em 0px 3px 0px;
    padding: 4px 4px 8px 4px;
    border-radius: 0em 1em 1em 1em;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 20%);
}

#preview-big-image-modal {
    background: transparent !important;
    height: 100% !important;
}

#easychat-message-history-filter-modal {
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    overflow-y: hidden !important;
}

#easychat-message-history-filter-modal .modal-footer {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#easychat-message-history-filter-modal .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px !important;
    position: static;
    height: 40px !important;
    background: #0254D7;
    border-radius: 4px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

#easychat-message-history-filter-modal .filter-modal-footer-btn-cancel {
    font-weight: 500 !important;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    height: 40px !important;
    color: #475569 !important;
    background: transparent !important;
    font-family: unset !important;
    margin: 2px 0px 0px !important;
}

#easychat-message-history-filter-modal .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

#easychat-message-history-filter-modal .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

#easychat-message-history-filter-modal .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
}

#easychat-message-history-filter-modal .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}

#easychat-message-history-filter-modal .analytics-filter-select-area input[type=radio] {
    display: none !important;
}

#easychat-message-history-filter-modal .analytics-filter-select-area input[type=radio]:checked+.filter-box {
    border: 1px solid #0254D7 !important;
}

#easychat-message-history-filter-modal .analytics-filter-select-area input[type=radio]:checked+.filter-box span {
    color: #0254D7 !important;
}

#easychat-message-history-filter-modal .analytics-filter-select-area .filter-box {
    padding: 0px 16px;
    height: 40px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 10px;
}

#easychat-message-history-filter-modal .analytics-filter-select-area .filter-box span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
}

#easychat-message-history-filter-modal .analytics-filter-select-area .filter-box span:before {
    font-size: 1.2em;
    display: block;
    font-weight: normal;
    color: white;
}

.filter-heading {
    font-weight: 600;
    font-size: 14px;
    color: #4D4D4D;
    margin: 15px 0px;
}

.analytics-filter-select-area,
.analytics-channel-select-area,
.analytics-custom-date-select-area {
    padding-left: 0px !important;
}

#easychat-message-history-filter-modal .analytics-channel-select-area .channel-box {
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    margin-bottom: 8px;
    vertical-align: middle;
}

#easychat-message-history-filter-modal .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label {
    border-color: #0254D7;
}

#easychat-message-history-filter-modal .analytics-channel-select-area .channel-box input[type="checkbox"]:checked~label span {
    color: #0254D7;
}

#easychat-message-history-filter-modal .analytics-channel-select-area .channel-box label {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    height: 40px;
    padding: 0px 16px;
    border-radius: 4px;
    border: 1px solid #F6F6F6;
}

#easychat-message-history-filter-modal .analytics-channel-select-area .channel-box label span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 8px;
}

#easychat-message-history-filter-modal .analytics-channel-select-area .channel-box input[type="checkbox"]:focus+label::before {
    outline: 0;
}

.modal-overflow-content-div {
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-overflow-content-div::-webkit-scrollbar {
    display: none;
}

#easychat-message-history-filter-modal .modal-header h6 {
    font-weight: 600 !important;
    font-size: 16px;
    color: #000000;
}

.message-history-clear-input-div {
    margin-left: 10px;
    margin-right: 10px;
    visibility: visible;
}


/*#search-user-input:focus+.message-history-clear-input-div {
    visibility: visible;
}*/


/* User filter new timestamp css */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
.instructions {
    display: inline-block;
    background: #E6E6E6;
    border: 1.24685px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 6.23425px;
    justify-content: center;
    align-items: center;
    padding: 12.4685px;
}

.easychat-bot-message-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.easychat-calendar-div {
    width: 320px;
    position: relative;
    margin-top: 14px;
    background: #FFFFFF;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 16px 7px;
    display: flex;
    flex-direction: column;
}

.main-wrapping-div {
    display: flex;
}

.easychat-calendar-div .easychat-date-btn,
.calendar-div .easychat-time-btn {
    display: inline-block;
    height: 44px;
}

.easychat-calendar-div .date-time-picker-btns {
    /* outline: #2755CB solid 1px !important;  */
    cursor: pointer;
    display: inline-block;
    background: #FFFFFF !important;
    border: 1px solid #2755CB !important;
    box-sizing: border-box;
    border-radius: 6px !important;
    padding: 8px 9px;
    color: #2755CB;
    margin: 0 5px !important;
    height: 2.2rem !important;
}

.date-calendar {
    position: relative;
}


/* .datepicker-modal{
position: absolute !important;
width: 150% !important;
left: -65% !important;
top: -700% !important;
} */

.datepicker-date-display {
    display: none !important;
}

.datepicker-active {
    border: none;
    background: #fff;
    color: #2755CB;
    cursor: pointer;
}

.date-displayer1,
.date-displayer2 {
    /* background-color: red; */
    /* position: absolute;  */
    top: 0;
    visibility: hidden;
}

.easychat-date-btn {
    position: relative;
}

.wrapper-date-picker-btn {
    position: relative;
}

.calendar-container {
    width: 55%;
    position: absolute;
    bottom: 70%;
    left: 41%;
}


/* Custom time picker css */

.custom-timepicker {
    z-index: 100;
    display: none;
    position: relative;
    margin-left: 30px;
    top: 3%;
    background: #FFFFFF;
    box-shadow: 4px 6px 40px rgba(32, 32, 35, 0.16);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.custom-timepicker-heading {
    display: flex;
    justify-content: space-between;
}

.custom-timepicker-heading-text {
    font-family: "Silka", sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #2D2D2D;
}

.custom-timepicker-body {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.custom-timepicker-body ul {
    list-style-type: none;
}

.custom-timepicker-body ul li {
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

.hr-clock,
.min-clock,
.ampm-clock {
    width: 100px;
    height: 220px;
    overflow-y: scroll;
    background-color: #FBFCFF;
    cursor: pointer;
    padding-left: 26px;
}

.custom-timepicker-body label {
    cursor: pointer;
}

.hr-clock::-webkit-scrollbar,
.min-clock::-webkit-scrollbar,
.ampm-clock::-webkit-scrollbar {
    width: 5px;
    background: #fff;
    border: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    border-radius: 0 25px 25px 0;
    border-left: 0;
}

.hr-clock::-webkit-scrollbar-track,
.min-clock::-webkit-scrollbar-track,
.ampm-clock::-webkit-scrollbar-track {
    background-color: #fff;
    border: 1px solid #f6f6f6;
}

.hr-clock::-webkit-scrollbar-thumb,
.min-clock::-webkit-scrollbar-thumb,
.ampm-clock::-webkit-scrollbar-thumb {
    background: #C5D5FF;
    border-radius: 0 25px 25px 0;
}

.custom-timepicker-body input[type="radio"] {
    opacity: 0;
    pointer-events: none;
}

.custom-timepicker-footer {
    display: flex;
    justify-content: flex-end;
}

.custom-timepicker-footer .submit-btn {
    cursor: pointer;
    background: #2F80ED !important;
    border-radius: 4px !important;
    /* padding: 10px; */
    width: 100% !important;
    color: white;
    font-weight: 600 !important;
    margin: 0px;
    /* border: 1px solid #2137A0; */
    box-shadow: none !important;
}

.custom-timepicker-footer .cancel-btn {
    box-shadow: none;
    cursor: pointer;
    background: transparent !important;
    border-radius: 4px;
    /* padding: 10px; */
    color: #000 !important;
    margin: 0 5px;
    font-weight: 600 !important;
    border: none;
    display: none;
}

.datetimepicker-selected-time {
    background: #2F80ED;
    border: 2px solid #2F80ED;
    padding: 8px;
    border-radius: 4px;
    right: 21%;
    position: relative;
    color: white;
}

.cross-icon {
    cursor: pointer;
}


/* other css */

.btns-sections {
    display: none;
    width: 100%;
    justify-content: space-between;
}

.btns-sections .left-btns,
.btns-sections .right-btns {
    display: inline-block;
}

.btns-sections .left-btns .reset-btn {
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    color: #E53E3E;
    font-size: 10px;
    margin: 0 5px;
    border: none;
}

.btns-sections .right-btns .submit-btn {
    cursor: pointer;
    background: #2137A0;
    border-radius: 4px;
    padding: 10px;
    font-size: 10px;
    color: white;
    margin: 0 5px;
    border: 1px solid #2137A0;
}

.btns-sections .right-btns .cancel-btn {
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 10px;
    color: #2137A0;
    margin: 0 5px;
    border: none;
}

.date {
    color: #2755CB;
    font-size: 32px;
}

.month-year {
    margin-bottom: 0;
    font-size: 10px;
    color: #333333;
}

.day {
    color: #8E8E8E;
    font-size: 10px;
}

#ui-datepicker-div {
    border-color: #fff;
    position: unset !important;
    margin-top: 12px;
    margin-left: 20px;
    top: 1% !important;
    left: 40% !important;
    box-shadow: 4px 6px 40px rgb(32 32 35 / 16%);
    padding: 20px;
    background: #fff;
    display: none;
}

#ui-datepicker-div .ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #fff;
    background: #fff;
}

#ui-datepicker-div .ui-state-active {
    background: #2F80ED;
    border: 2px solid #2F80ED;
    color: white;
    border-radius: 4px;
    padding: 6px 8px;
}

#ui-datepicker-div .ui-datepicker-header {
    border: none;
    padding: 10px;
    position: relative;
    text-align: center;
    background: white;
    border-radius: 6px;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-next .ui-icon {
    background-image: url(/static/EasyChatApp/img/right-arrow-mh.svg);
    background-position: unset;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-prev .ui-icon {
    background-image: url(/static/EasyChatApp/img/left-arrow-mh.svg);
    background-position: unset;
}

#ui-datepicker-div .ui-datepicker-month {
    height: 40px;
    overflow: auto;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    appearance: none;
    background-image: url(/static/EasyChatApp/img/drop-arrow-mh.svg);
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    font-weight: normal;
    color: #909090;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block !important;
    width: 40%;
}

#ui-datepicker-div .ui-datepicker-year {
    height: 40px;
    overflow: auto;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    appearance: none;
    background-image: url(/static/EasyChatApp/img/drop-arrow-mh.svg);
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    font-weight: normal;
    color: #909090;
    cursor: pointer;
    display: inline-block !important;
    width: 40%;
}

#ui-datepicker-div .ui-datepicker-prev {
    position: absolute;
    left: 0;
    top: 20px;
}

#ui-datepicker-div .ui-datepicker-prev:hover,
#ui-datepicker-div .ui-datepicker-next {
    background-color: #ffffff !important;
    box-shadow: none !important;
}

#ui-datepicker-div .ui-datepicker-next {
    position: absolute;
    right: 0;
    top: 20px;
}

#ui-datepicker-div .ui-datepicker-title {
    width: 100%;
    text-align: center;
    display: inline-block;
}

#ui-datepicker-div td {
    border-bottom: none;
    text-align: center;
}

#ui-datepicker-div th {
    padding: 1rem 0 !important;
    text-align: center;
}

.ui-corner-all {
    cursor: pointer;
}

.easychat-calendar-div-wrapper {
    display: flex;
}

#calendar-div-1 input:focus {
    border: 1px solid #2755CB !important;
}

#timepicker-container-1-0 .custom-timepicker .custom-timepicker-body input[type="radio"],
#timepicker-container-1-1 .custom-timepicker .custom-timepicker-body input[type="radio"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}

#easychat-message-history-filter-modal {
    width: 55%;
}

@media screen and (max-width: 1607px) {
    #easychat-message-history-filter-modal {
        width: 75%;
    }
}


/* User filter new timestamp css ends */

#chat-pagination li a {
    cursor: pointer;
}

#chat-pagination .pagination .disabled {
    display: none;
}

.contact-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* recorder css */

.easychat-message-history-recording-wrapper .audio-player {
    height: 40px;
    color: white;
    font-size: 0.75em;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #EBEBEB;
    background: #FAFAFA;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
    border-radius: 4px;
    padding: 0px 12px;
    column-gap: 12px;
}

.easychat-message-history-recording-wrapper .play-container {
    margin-right: -4px;
}

.easychat-message-history-recording-wrapper .audio-player .timeline {
    background: #EBEBEB;
    width: 160px;
    position: relative;
    cursor: pointer;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
}

.easychat-message-history-recording-wrapper .audio-player .timeline .progress {
    background: #0254D7;
    width: 0%;
    height: 100%;
    transition: 0.25s;
    border-radius: 2px;
    margin: 0px;
    overflow: visible;
}

.easychat-message-history-recording-wrapper .audio-player .toggle-play.play {
    cursor: pointer;
    position: relative;
    left: 0;
    height: 0;
    width: 0;
    border: 7px solid #0000;
    border-left: 13px solid #7B7A7B;
}

.easychat-message-history-recording-wrapper .audio-player .toggle-play.pause {
    height: 15px;
    width: 20px;
    cursor: pointer;
    position: relative;
}

.easychat-message-history-recording-wrapper .audio-player .toggle-play.pause:before {
    position: absolute;
    top: 0;
    left: 0px;
    background: #7B7A7B;
    content: "";
    height: 15px;
    width: 4px;
}

.easychat-message-history-recording-wrapper .audio-player .toggle-play.pause:after {
    position: absolute;
    top: 0;
    right: 8px;
    background: #7B7A7B;
    content: "";
    height: 15px;
    width: 4px;
}

.easychat-message-history-recording-wrapper .audio-player .time {
    display: flex;
    background: #EBEBEB;
    border-radius: 2px;
    height: 24px;
    font-weight: 500;
    font-size: 11px;
    /* identical to box height, or 150% */
    align-items: center;
    /* Grey/70 */
    color: #7B7A7B;
}

.easychat-message-history-recording-wrapper .audio-player .time div {
    padding: 4px 3px 0px;
}

.easychat-message-history-recording-wrapper .audio-player-download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px !important;
    height: 28px;
    background: #0254D7;
    border-radius: 4px !important;
    padding: 0px 4px !important;
    box-shadow: none !important;
    margin: 0px !important;
}

.easychat-message-history-recording-wrapper .audio-player-download-btn:focus {
    background: #0254D7;
}

.easychat-message-history-recording-wrapper .audio-player-cross-btn {
    width: 24px !important;
    height: 24px;
    background: transparent;
    border-radius: 4px !important;
    padding: 0px 0px !important;
    box-shadow: none !important;
    margin: 4px -2px 0px -4px !important;
}

.audio-player-cross-btn:focus {
    background: transparent;
}


/* user history top header css */

#chat-frame .content .contact-profile>div:first-child {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

#chat-frame .content .contact-profile>div:first-child p {
    width: 100%;
}

#chat-frame .content .contact-profile>div:first-child img {
    margin-top: 0px !important;
}

.no-data-found-div, .no-chat-selected-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

.no-chat-selected-div span {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #7B7A7B;
}

#loader-user-message {
    display: flex;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

#loader-user-id {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.no-data-found-div span {
    font-weight: 500;
    font-size: 16px;
    color: #858796;
    line-height: 16px;
}

.whatsapp-item-header-div {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #2D2D2D;
    margin-bottom: 6px;
}

.whatsapp-item-subheader-div {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2D2D2D;
    margin-bottom: 6px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
.whatsapp-item-subheader-div span {
    margin-right: 12px;
}
.easychat-query-reply-message-div {
    width: 70%!important;
}
/* .easychat-query-reply-message-div .slick-initialized .slick-slide {
    width: 200px!important;
} */
.easychat-recommendation-selected-div{
    margin: 13px 0 5px 0;
    display: flex;
    flex-wrap: wrap;
}
.easychat-recommendation-selected-div span{
    color: #0254D7;
    border: 1px solid #0254D7;
    padding: 3px 12px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin: 0 8px 8px 0;
}
.easychat-recommendation-selected-div span.selected-recommendation{
    background: #0254D7;
    border-radius: 4px;
    color: #FFFFFF;
}
.easychat-query-reply-recommendation-div{
    width: 100%;
}
.easychat-query-reply-message-text-div {
    width: fit-content!important;
}
.easychat-query-reply-recommendation-div .easychat-query-reply-message-text-div{
    margin-bottom: 13px;
}
.easychat-query-reply-recommendation-div .easychat-user-history-table-div table{
    width: 80%;
    max-width: 90%;
    min-width: 65%;
    table-layout: fixed;
    margin: 1px 3px 0.3em 0px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    border-spacing: 1px;
    background-color: white;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 20%);
    border-collapse: separate;
}
.easychat-query-reply-recommendation-div .easychat-user-history-table-div table tr th{
    text-align: center;
    background-color: #0F52A1 !important;
    color: white !important;
    padding: 5px 8px !important;
    font-size: 14px;
    word-break: break-word;

}
.easychat-query-reply-recommendation-div .easychat-user-history-table-div table tr td{
    padding: 6px 10px !important;
    background-color: #95999929;
    color: #1415159e;
    font-size: 14px;
    word-break: break-word;
    text-align:center;
}
.easychat-query-reply-recommendation-div .easychat-user-history-image-div .mySlides img{
    width: fit-content;
    height: 174px;
    object-fit: cover;
    border-radius: 4px;
}
.easychat-query-reply-recommendation-div .easychat-user-history-video-div{
    margin-bottom: 0px;
} 
.easychat-query-reply-recommendation-div .easychat-user-history-video-div .easychat-user-video{
    width: fit-content;
} 
.easychat-user-history-card-div{
    background: #FFFFFF;
    border-radius: 5.6px;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
    margin: 6px 0 8px 0;
    width: 200px;
}
.easychat-user-history-card-div img{
    width: 100%;
    height: 134px;
    object-fit: cover;
}
.easychat-user-history-card-div .easychat-user-history-card-body{
    line-height: 12px;
    color: #000000;
    padding-bottom: 0;
    padding-top: 10px;
}
.easychat-user-history-card-div .easychat-user-history-card-body h5{
    margin: 0;
    font-size: 14px;
    margin-bottom: 5px;
    padding: 0 10px;
}
.easychat-user-history-card-div .easychat-user-history-card-body p{
    font-size: 12px;
    color: #757575;
    line-height: 16px;
    font-weight: 400;
    padding: 0 10px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.easychat-user-history-card-div .easychat-user-history-card-body .know-more-link{
    background: #F8FAFC;
    border-radius: 0px 0px 5.6px 5.6px;
    width: 100%;
    display: block;
    padding: 10px 0;
    text-align: center;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    color: #2741FA;
}
.easychat-user-history-card-slider-div .slick-slide {
    margin: 0 5px;
}
/* .easychat-user-history-card-slider-div .slick-list {
    padding: 0px 120px 0 0;
} */
.easychat-user-history-card-slider-div .slide-arrow{
    background: #E7EAF4;
    box-shadow: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    font-size: 12px;
    color: #7B7A7B;
    position: absolute;
    top: 33%;
    z-index: 1;
}
.easychat-user-history-card-slider-div .slide-arrow.prev-arrow{
    left: -5%;
}
.easychat-user-history-card-slider-div .slide-arrow.next-arrow{
  right: -5%;
}
@media  (max-width:1110px) {
    /* .easychat-user-history-card-slider-div .slick-list {
        padding: 0px 30px 0 0;
    } */
}
.easychat-user-history-calendar-div{
    background: #FFFFFF;
    box-shadow: 0px 0px 6.90106px rgb(0 0 0 / 15%);
    border-radius: 3.06714px;
    margin: 15px 0;
    padding: 18.4028px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    pointer-events: none;
}
.easychat-user-history-calendar-div .date-span.single-date{
    width: 75%;
}
.easychat-user-history-calendar-div .date-span{
    background: #FFFFFF;
    border: 0.766784px solid #3884FD;
    border-radius: 4.60071px;
    padding: 6px 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 12.2686px;
    line-height: 18px;
    letter-spacing: 0.0920141px;
    color: #3884FD;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.easychat-user-history-calendar-div .date-span:not(:first-child){
    margin-left: 8px;
}
.easychat-user-history-calendar-div.custom-date-value-div{
    flex-direction: column;
}
.easychat-user-history-calendar-div.custom-date-value-div .custom-date-value-from-to-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}
.easychat-user-history-calendar-div.custom-date-value-div .custom-date-value-from-to-div span:first-child{
    width: 15%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    color: #4D4D4D;
}
.easychat-user-history-calendar-div.custom-date-value-div .custom-date-value-from-to-div:not(:first-child){
    margin-top: 12px;
}
.easychat-user-history-radio-div{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 2px 2px rgb(0 32 51 / 2%), 0px 2px 6px rgb(0 32 51 / 16%);
    border-radius: 9px;
    padding: 9px 9px 9px 9px;
    margin: 12px 0;
    width: 45%;
    max-height: 169px;
    overflow-y: auto;
}
.easychat-user-history-radio-div .user-history-radio-item{
    background: #F7F7F7;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    color: #2D2D2D;
}
.easychat-user-history-radio-div .user-history-radio-item .radio-circle{
    width: 11px;
    height: 11px;
    border: 2px solid #C4C4C4;
    border-radius: 50%;
    margin-right: 10px;
}
.easychat-user-history-radio-div .user-history-radio-item:not(:first-child){
    margin-top: 6px;
}
.easychat-user-history-radio-div .user-history-radio-item .checkbox-square{
    width: 11px;
    height: 11px;
    border: 2px solid #DADADA;
    margin-right: 10px;
}
.easychat-user-history-dropdown-div{
    box-shadow: 0px 2px 5px rgb(0 0 0 / 25%);
    margin: 10px 0;
    width:  220px;
}
.easychat-user-history-dropdown-div .user-history-dropdown-search-div{
    background: #FFFFFF;
    padding: 3px 5px;
}
.easychat-user-history-dropdown-div .user-history-dropdown-search-div .dropdown-search{
    background: #F8F8F8;
    border-radius: 3.33333px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #4D4D4D;
}
.easychat-user-history-dropdown-div .user-history-dropdown-search-div .dropdown-search svg{
    margin-right: 8px;
}
.easychat-user-history-dropdown-div .user-history-select-options ul li{
    border-top: 1px solid #f6f6f6;
    height: 33px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #4D4D4D;
}
.easychat-user-history-dropdown-div .user-history-select-options ul {
    max-height: 135px;
    overflow-y: auto;
    margin-bottom: 12px;
}
.easychat-user-history-video-record-div .user-history-start-stop-video-record-div .video-record-start-btn{
    background: #3884FD;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 16px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}
.easychat-user-history-video-record-div .user-history-start-stop-video-record-div .video-record-stop-btn{
    background: #F6F6F6;
    border-radius: 4px;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2D2D2D;
    opacity: 0.5;
    padding: 0 16px;
    height: 23px;
}
.easychat-user-history-video-record-div .user-history-start-stop-video-record-div {
    display: flex;
    align-items: center;
}
.easychat-user-history-video-record-div .user-history-start-stop-video-record-div span:not(:first-child){
   margin-left: 8px;
}
.easychat-user-history-range-slider-div .user-history-range-slider{
    background: #FFFFFF;
    border: 0.744898px solid #F6F6F6;
    box-shadow: 4.46939px 8.93878px 29.7959px rgb(47 47 47 / 8%);
    border-radius: 5.95918px;
    margin: 12px 0;
    padding: 12px;
    width: 219px;
}
.easychat-user-history-range-slider-div .user-history-range-slider p{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #2D2D2D;
}
.easychat-user-history-range-slider-div .user-history-range-slider .range-slider-div{
    width: 100%;
    height: 3px;
    margin: 15px 0;
    background: #2755CB;
    border-radius: 3px;
    position: relative;
}
.easychat-user-history-range-slider-div .user-history-range-slider .range-slider-div span{
    position: absolute;
    width: 11px;
    height: 11px;
    background: #2755CB;
    border-radius: 50%;
    top: -4px;
    right: 0px;
}
.easychat-user-history-range-slider-div .user-history-range-slider .range-slider-selected-value .selected-value-entered-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100%;
    height: 30px;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 10px;
    color: #7B7A7B;
    font-style: normal;
    font-weight: 500;
    line-height: 13px;
}
.easychat-user-history-range-slider-div .user-history-range-slider .range-slider-selected-value .range-selected-value-type-para{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7B7A7B;
    margin: 4px 0;
    justify-content: center;
}
.easychat-user-history-range-slider-div .user-history-range-slider .range-slider-value{
    display: flex;
    align-items: center;
    justify-content: center;
}
.easychat-user-history-range-slider-div .user-history-range-slider .range-slider-value .min-max-range-value{
    width: 40%;
}
.easychat-user-history-range-slider-div .user-history-range-slider .range-slider-value .min-max-value-hyphen{
    width: 5%;
    border: 0.743363px solid #CBCACA;
    margin: 0 8px;
    margin-bottom: 16px;
}
.easychat-user-history-range-slider-div .user-history-range-slider .range-slider-selected-value{
    width: 100%;
}
.easychat-user-history-form-container-div .user-history-form-div{
    background: #FFFFFF;
    border: 0.607547px solid #E6E6E6;
    box-shadow: 0px 1.21509px 1.21509px rgb(0 32 51 / 2%), 0px 1.21509px 4.86038px rgb(0 32 51 / 16%);
    border-radius: 4.86038px;
    width: 50%;
    margin: 10px 0;
}
.easychat-user-history-form-container-div .user-history-form-div .user-history-form-title{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    margin: 0 0 0px 0;
    padding: 10px 10px;
    border-bottom: 1px solid #f0f1f5;
}
.easychat-user-history-form-container-div .user-history-form-div .user-history-form-field{
    padding: 8px 10px 7px;
}
.easychat-user-history-form-container-div .user-history-form-div .user-history-form-field label{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #2D2D2D;
    margin-top: 12px;
}
.easychat-user-history-form-container-div .user-history-form-div .user-history-form-field .input-field-custom{
   margin: 0 !important;
}

 .easychat-user-history-form-container-div .user-history-form-div .user-history-form-field .input-field-custom input.easychat-user-history-form-input{
    width: 100% !important;
    padding: 0 5px !important;
    border: 1px solid #D9D9D9 !important;
    border-radius: 4px !important;
    font-size: 11px !important;
    color: #4d4d4d;
    font-weight: 500;
    box-sizing: border-box;
    height: 30px;
    margin: 7px 0;
    pointer-events: none;
 }
 .easychat-user-history-form-container-div .easychat-user-history-range-slider-div .user-history-range-slider,
 .easychat-user-history-form-container-div  .easychat-user-history-dropdown-div,
 .easychat-user-history-form-container-div .easychat-user-history-radio-div,
 .easychat-user-history-form-container-div .easychat-user-history-calendar-div,
 .easychat-user-history-form-container-div .easychat-user-history-dragdrop-div .user-history-dragdrop-upload-div,
 .easychat-user-history-form-container-div  .easychat-user-history-phone-number-div .phone-number-input-div{
    width: 100%;
    margin-top: 5px;
 }
 .easychat-user-history-phone-number-div .phone-number-input-div input{
    border: 1px solid #EBEBEB !important;
    margin: 0 !important;
    border-radius: 0px 4px 4px 0px !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 17px;
    color: #7B7A7B;
    width: fit-content !important;
    height: 35px !important;
 }
 .easychat-user-history-phone-number-div .phone-number-input-div{
    margin: 12px 0;
    pointer-events: none;
 }
 .easychat-user-history-phone-number-div .phone-number-input-div .flag-container{
    font-size: 12px;
}
.easychat-user-history-dragdrop-div .user-history-dragdrop-upload-div{
    background: #FAFAFA;
    border: 1px dashed #7B7A7B;
    box-shadow: 0px 2px 2px rgb(0 32 51 / 2%), 0px 2px 8px rgb(0 32 51 / 16%);
    border-radius: 1.71463px;
    padding: 25px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 256px;
}
.easychat-user-history-dragdrop-div .user-history-dragdrop-upload-div p.dragdrop-span{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #2D2D2D;
    margin-bottom: 5px;
}
.easychat-user-history-dragdrop-div .user-history-dragdrop-upload-div p.dragdrop-upload-file-format{
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #7B7A7B;
    margin-bottom: 5px;
}
.easychat-user-history-dragdrop-div .user-history-dragdrop-upload-div p.max-file-para{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #E10E00;
}
.easychat-user-history-dragdrop-div .user-history-dragdrop-upload-div svg{
    margin-bottom: 5px;
}
.mySlides,.slick-slide
{
    box-sizing: border-box;
    height: 134px;
    margin-bottom: 13px;
}
.easychat-query-reply-message-text-div {
width: fit-content!important;
}
.easychat-query-reply-recommendation-div{
width: 100%;
}

.easychat-query-reply-recommendation-div  .reply-message{
width: 100%!important;
padding: 8px;
background: #F8FAFC;
box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
border-radius: 0px 5px 5px 5px;
margin: 2px 0px;
}
.easychat-query-reply-recommendation-div  .reply-message .reply-message-text{
font-family: 'Silka';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

}
.easychat-query-reply-recommendation-div .easychat-button-div{
display: flex;
height: 24px;
background: #F8FAFC;
box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
border-radius: 4px;
justify-content: center;
align-items: center;
padding: 0px 12px 0px 8px;
margin: 8px 0px;
gap: 8px;
width: 100%!important;

}
.easychat-query-reply-recommendation-div .easychat-button-div .download_btn{
font-weight: 500;
font-size: 12px;
line-height: 18px;
color: #0254D7;
}
.easychat-query-reply-recommendation-div .easychat-button-div-wrapper{
display: flex;
justify-content: space-between;
gap:10px;
width: 100%;
}
.easychat-user-history-image-div .img_btn_div_wrapper{
position: relative;
display: inline-block;
align-items: center;
text-align: center;
width: 100%;
}
.easychat-user-history-image-div .img_btn_div_wrapper .download_btn_for_img{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background: #FAFAFA;
color: #000000;
padding: 9px 15px;
border: none;
cursor: pointer;
text-align: center;
border-radius: 17px;
opacity: 0.9;
width: 76px;
height: 33px;
font-weight: 500;
font-size: 7.48894px;
line-height: 11px;
display: flex;
justify-content: center;
align-items: center;
gap: 8px;

}
.easychat-query-reply-recommendation-div .easychat-pdf-file-wrapper{
display: flex;
padding: 0px 14px;
gap: 16px;
height: 64px;
background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
border-radius: 0px 8px 0px 0px;
margin-bottom: 8px;
align-items: center;
}
.easychat-query-reply-recommendation-div .easychat-pdf-file-wrapper .image-pdf-wrapper-div{
width: 40px;
height: 40px;

}
.easychat-query-reply-recommendation-div .easychat-pdf-file-wrapper .text-pdf-wrapper-div{
display: flex;
overflow: hidden;
}
.easychat-query-reply-recommendation-div .easychat-pdf-file-wrapper .text-pdf-wrapper-div h4{
color: #000000;
font-weight: 500;
font-size: 16px;
margin: 0px;
}
.easychat-query-reply-recommendation-div .easychat-pdf-file-wrapper .text-pdf-wrapper-div span{
font-weight: 400;
font-size: 12px;
line-height: 18px;
color: #232F34;
}
.easychat-query-reply-recommendation-div .easychat-user-history-video-div-1 .easychat-user-video{
width: 100%;
}
.easychat-query-reply-recommendation-div .selected, .selected span{
background: #0254D7!important;
border-radius: 4px!important;
color: #FFFFFF!important;
}
.easychat-user-history-card-slider-div .slick-track{
    margin-left: 0;
}
.easychat-user-history-card-slider-div .slick-disabled {
    opacity: 0;
    pointer-events:none;
}

.easychat-unable-to-load-content-wrapper {
    background: #F6F6F6;
    box-shadow: 0px 2px 2px rgb(0 32 51 / 2%), 0px 2px 8px rgb(0 32 51 / 16%);
    border-radius: 12px;
    min-height: 134px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    row-gap: 18px;
    margin-top: 2px;
    display: flex;
    width: 50%;
}

.easychat-unable-to-load-content-wrapper .unable-to-load-content-text-div {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #2D2D2D;
    word-break: break-word;
}
.easychat-pdf-searcher-header-wrapper {
    position: relative;
}
.pdf-wrapper-div{
    overflow-wrap: break-word; 
    padding: 16px 24px; 
    margin: 0; 
    display: flex; 
    justify-content: space-between;
}
.pdf-desc-wrapper{
    overflow-wrap: break-word; 
    padding:0px 16px; 
    margin: 0; 
    line-height: 20px; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    max-height: 64px;
}
.pdf-doc-btn{
    padding:11px 15px; 
    margin: 0;color: #0F52A1; 
    background-color: #FAFAFA;
}
.easychat-pdf-search-card .pdf-search-card-desc-div {
    font-size: 12px;
    color: #000000;
    font-weight: 500;
    opacity: 0.6;
    margin-bottom: 6px !important;
    min-height: 60px;
}
.pdf-search-card-doc-open-btn {
    background: #F8FAFC;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #0254D7;
}
.easychat-pdf-search-card {
    width: 200px!important;
}
.easychat-slider-card {
    display: inline-block !important;
    width: 100% !important;
    margin-right: 6px;
    white-space: normal;
    background: #FFFFFF;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 0px 1px 10px rgb(0 0 0 / 25%);
    height: auto!important;
    margin-bottom: 0px!important;
    border-radius: 4px;
}
.next-image-video-card {
    left: auto;
    right: 6px;
}
.easychat-pdf-searcher-header-div {
    gap: 16px !important;
    width: 100%;
}
.easychat-pdf-searcher-header-div span {
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
 .easychat-pdf-searcher-page-div {
    left: 75px;
}
.easychat-pdf-searcher-page-div {
    position: absolute;
    top: 38px;
}
.easychat-pdf-searcher-page-div span {
    font-size: 12px;
    font-weight: 400;
    color: #232F34;
}
.easychat-pdf-search-card .pdf-search-card-desc-div {
    font-size: 12px;
    color: #000000;
    font-weight: 500;
    opacity: 0.6;
    margin-bottom: 8px !important;
    min-height: 60px;
}
.slick-pdf-slider .slick-slide{
    margin: 0 3px;
}
.slick-pdf-slider .slick-track{
    padding-top: 1px;
}
.slick-pdf-slider .slide-arrow{
    background-color: rgb(255, 255, 255)!important;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 8%), 0px 3px 10px rgb(0 0 0 / 6%)!important;
}
.slick-pdf-slider .slide-arrow.prev-arrow{
    left: -3%!important;
}
.slick-pdf-slider .slide-arrow.next-arrow{
    right: -3%!important;
}
.slick-list {
    margin: 0 -24px;
    padding: 24px;
}
#load_user_messages .slick-pdf-slider{
    margin: 0px 0px 20px 36px;
    width: 64%;
}
.single-pdf-card .slick-slide{
    width: 270px!important;
}
#load_user_messages .single-pdf-card{
    width: 90%;
}