.easychat-user-chat-history-page-container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1.14632px 11.4632px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 1px solid #EBEBEB;
}

.easychat-content-wrapper {
    height: auto;
    max-height: unset !important;
}

.easychat-content-wrapper>div:first-child {
    padding-top: 14px !important;
    padding-bottom: 50px !important;
    height: 100%;
    margin: 0px -4px;
}

.easychat-user-history-page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    width: 100%;
    height: 64px;
    background: #F8F8F8;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 4px 4px 0px 0px;
}

.user-history-page-heading-botname-div {
    font-weight: 500;
    font-size: 18.3411px;
    line-height: 22px;
    color: #4A4A4A;
}

.easychat-btns-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    column-gap: 8px;
    width: max-content;
    height: 40px;
    background: #1B65DB;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 23px;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch input {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider {
    position: absolute !important;
    cursor: pointer !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    -webkit-transition: .4s;
    transition: .4s !important;
    height: unset !important;
    border: none !important;
    background: #FFF9F9 !important;
    box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round:before {
    position: absolute !important;
    content: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.06055' y='0.848267' width='7' height='7' rx='3.5' stroke='%23FF281A'/%3E%3C/svg%3E%0A") !important;
    height: 23px !important;
    width: 23px !important;
    left: 0px !important;
    bottom: 0px !important;
    -webkit-transition: .4s;
    transition: .4s !important;
    border: none !important;
    top: 0px !important;
    margin: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FAFC !important;
    border-radius: 50% !important;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider {
    background: #0253D6 !important;
    box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
    content: url("data:image/svg+xml,%3Csvg width='3' height='9' viewBox='0 0 3 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.987305' y='0.892334' width='1' height='7' rx='0.5' stroke='%230254D7'/%3E%3C/svg%3E%0A") !important;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round {
    border-radius: 34px;
}

.easychat-custom-switch-toggle-wrapper {
    display: flex;
    width: 100%;
    column-gap: 12px;
    align-items: center;
}

.easychat-custom-switch-toggle-wrapper>span {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
}

.easychat-user-history-page-content-wrapper {
    width: 100%;
    height: calc(100% - 64px);
    background-color: #ffffff;
    padding: 12px 12px 4px 0px;
    display: inline-flex;
    column-gap: 8px;
}

.easychat-user-history-chats-sidepanel-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
    width: 35%;
    height: 100%;
}

.user-chat-list-search-wrapper {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 44px;
    position: relative;
    padding: 0px 15px 0px 15px;
}

.user-chat-list-search-wrapper #search-user-input, .user-chat-list-search-wrapper #search-user-input-static {
    border-bottom: 1px solid #EBEBEB !important;
    padding: 0px 32px 0px 35px !important;
    font-weight: 400;
    font-size: 12px;
    color: #2D2D2D;
    margin: 0px !important;
    height: 100% !important;
}

.user-chat-list-search-wrapper span {
    position: absolute;
    left: 15px;
    height: 26px;
    top: 50%;
    transform: translateY(-50%);
}

.user-chat-list-search-wrapper #search-user-input:focus, .user-chat-list-search-wrapper #search-user-input-static:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #EBEBEB !important;
    border-radius: 0px !important;
}

.easychat-user-chat-contacts-list-wrapper {
    margin: 6px 0px 0px;
    background-color: #ffffff;
    width: 100%;
    height: calc(100vh - 300px);
    padding: 6px 8px 8px 15px !important;
    overflow-y: auto;
}

.easychat-user-chat-contacts-list-wrapper.user-history-change-div-height {
    height: calc(100vh - 332px);
}

.easychat-user-chat-history-message-container.user-history-change-div-height {
    height: calc(100vh - 334px);
}

.easychat-user-chat-contacts-list-wrapper::-webkit-scrollbar {
    width: 6px;
}

.easychat-user-chat-contacts-list-wrapper::-webkit-scrollbar-thumb {
    background: #CBD5E1;
    border-radius: 8px;
}

.easychat-user-chat-contacts-list-wrapper::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #CBD5E1;
    border-radius: 8px;
}

.easychat-user-chat-contacts-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 24px 0px 20px;
    border-left: 4px solid #ffffff;
    width: 100%;
    height: 64px;
    column-gap: 10px;
    cursor: pointer;
    margin-bottom: 12px;
    background: #FFFFFF;
    box-shadow: -2px -2px 4px rgba(50, 50, 71, 0.08), 2px 2px 4px rgba(50, 50, 71, 0.08);
}

.easychat-user-chat-contacts-list-item.easychat-user-active-chat {
    background: #FAFAFA;
    border-left: 4px solid #0254d7;
    box-shadow: 2px 2px 6px rgba(45, 45, 45, 0.12), -2px -2px 6px rgba(45, 45, 45, 0.12);
}

.user-chat-contacts-id-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-chat-contacts-response-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
    letter-spacing: 0.2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-chat-contacts-list-item-img {
    display: flex;
    margin-top: 2px;
}

.user-chat-contacts-id-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% - 45px);
}


/* pagination css */

.user-chat-history-pagination-wrapper {
    display: flex;
    align-items: center;
    height: 60px !important;
    justify-content: flex-end;
}

.user-chat-history-pagination-wrapper .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 4px;
    border: 1px solid #CBD5E1;
    height: 36px;
    overflow: hidden;
}

.user-chat-history-pagination-wrapper .pagination li {
    line-height: 1;
}

.user-chat-history-pagination-wrapper .page-item {
    height: 100% !important;
    display: flex !important;
    align-items: center;
    border-right: 0.5px solid #CBD5E1;
    cursor: pointer;
}

.user-chat-history-pagination-wrapper .pagination li a.active {
    background: #0254D7 !important;
    border: 1px solid #2741FA !important;
    border-radius: 0 !important;
    color: #FFFFFF !important;
}

.user-chat-history-pagination-wrapper .page-item.disabled .page-link {
    color: #858796;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dddfeb;
}

.user-chat-history-pagination-wrapper .page-link {
    height: 100%;
    display: flex !important;
    align-items: center;
    font-family: "Silka", sans-serif;
    font-size: 12px !important;
    line-height: 14px !important;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #7B7A7B !important;
}


/* chat frame css */

.easychat-user-chat-history-frame-wrapper {
    background: #FFFFFF;
    box-shadow: inset 0px 0px 2px rgba(50, 50, 71, 0.06), inset 0px 2px 4px rgba(50, 50, 71, 0.06);
    border-radius: 8px;
    width: 65%;
    height: 100%;
    padding: 1px;
    position: relative;
}

.easychat-user-chat-history-message-frame-header-container {
    width: 100%;
    height: 115px;
}

.easychat-user-chat-history-message-container::-webkit-scrollbar {
    width: 6px;
}

.easychat-user-chat-history-message-container::-webkit-scrollbar-thumb {
    background: #CBD5E1;
    border-radius: 8px;
}

.easychat-user-chat-history-message-container::-webkit-scrollbar-track {
    background: #ffffff;
}

.easychat-user-chat-history-message-frame-header {
    width: 100%;
    justify-content: space-between;
    height: 63px;
    border-radius: 8px 8px 0px 0px;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    column-gap: 16px;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
}

.user-id-text-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    max-width: 35%;
}

.easychat-user-message-history-dropdown-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    padding: 0px 8px;
}

.easychat-user-message-history-session-id-dropdown-wrapper {
    width: 250px;
    position: relative;
}

.easychat-user-message-history-session-id-dropdown-wrapper .user-dropdown-session-selected-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    width: 100%;
    height: 40px;
    border: 1px solid #F6F6F6;
    /* box-shadow: inset 0px 0px 2px rgba(50, 50, 71, 0.06), inset 0px 2px 4px rgba(50, 50, 71, 0.06); */
    border-radius: 2px 2px 0px 0px;
    cursor: pointer;
}

.user-dropdown-session-selected-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
    width: 87%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-dropdown-session-arrow {
    width: 12px;
    height: 16px;
}

.easychat-user-message-history-session-id-dropdown-wrapper.user-chat-dropdown-open .user-dropdown-session-arrow {
    transform: rotate(180deg);
}

.easychat-user-message-history-session-id-dropdown-wrapper.user-chat-dropdown-open .easychat-user-message-history-session-ids-container {
    display: block;
}

.easychat-user-message-history-session-ids-container {
    border: 1px solid #F6F6F6;
    position: absolute;
    top: 42px;
    width: 100%;
    border-radius: 0px 0px 4px 4px;
    display: none;
    z-index: 9999;
}

.easychat-user-message-history-session-ids-search-div {
    padding: 0px 8px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    position: relative;
}

.session-id-search-icon {
    position: absolute;
    left: 12px;
    top: 9px;
}

.easychat-user-message-history-session-ids-search-div #session_id_drop_search {
    height: 30px !important;
    background: #FAFAFA !important;
    border: 1px solid #F6F6F6 !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px 12px 0px 32px !important;
    font-weight: 400;
    font-size: 13px;
    line-height: 32px;
    color: #2D2D2D !important;
    letter-spacing: 0.2px;
}

.easychat-user-message-history-session-ids-search-div #session_id_drop_search::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #7B7A7B;
    letter-spacing: 0.2px;
}

.easychat-user-message-history-session-ids-items-wrapper {
    width: 100%;
    max-height: 115px;
    overflow-y: auto;
    height: auto;
}

.easychat-user-message-history-session-ids-item {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    cursor: pointer;
    letter-spacing: 0.2px;
}

.session-ids-drop-item-active {
    color: #0F172A;
    font-weight: 500;
}

.easychat-user-message-history-session-ids-item span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 95%;
}

.easychat-user-message-history-session-ids-item:hover {
    color: #0F172A;
    background: #F6F6F6;
}

.session-drop-data-not-found-div {
    padding: 10px 16px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    letter-spacing: 0.2px;
}

.user-history-add-intent-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    width: max-content;
    height: 40px;
    background: #1B65DB;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    visibility: hidden;
    cursor: pointer;
}

.easychat-user-message-history-btns-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.user-history-clearall-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    width: max-content;
    height: 40px;
    border: 1px solid #DADADA;
    border-radius: 4px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    visibility: hidden;
}

.user-history-clearall-btn:hover {
    background: #FAFAFA;
}

.easychat-user-chat-history-message-container {
    width: 100%;
    height: calc(100vh - 300px);
    overflow-y: auto;
    background: #FFFFFF;
    padding: 16px;
    letter-spacing: 0.2px;
}

.easychat-session-created-message-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.easychat-session-created-message-text-div {
    width: 52%;
    text-align: center;
    padding: 7px 15px;
    line-height: 18px;
    background: #F8F8F8;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
}

.easychat-session-created-message-text-div span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #4D4D4D;
}

.easychat-query-send-message-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.easychat-query-reply-message-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.easychat-query-add-intent-wrapper {
    visibility: hidden;
    margin-top: 2px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    width: 32px;
    height: 32px;
    background: #F6F6F6;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.easychat-query-add-intent-wrapper:hover {
    background: #4D4D4D;
}

.easychat-query-add-intent-wrapper:hover svg {
    fill: #ffffff;
}

.easychat-query-add-intent-wrapper:hover span {
    display: block;
}

.easychat-query-add-intent-wrapper span {
    display: none;
    padding: 5px 8px;
    width: max-content;
    height: 24px;
    background: #232F34;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FAFAFA;
    position: absolute;
    right: 46px;
    top: 5px;
}

.easychat-query-add-intent-wrapper span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.easychat-query-send-message-div {
    max-width: 45%;
    width: max-content;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    column-gap: 8px;
    position: relative;
}

.easychat-query-send-message-div:hover .easychat-query-add-intent-wrapper {
    visibility: visible;
}

.easychat-query-send-message-text-div {
    padding: 10px 16px;
    width: max-content;
    background: #2F80ED;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
    border-radius: 5px 0px 5px 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    word-break: break-word;
    margin-left: 40px;
}

.easychat-query-message-icon {
    margin-top: -1px;
    margin-left: -3px;
}

.easychat-query-reply-message-div {
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 8px;
}

.easychat-query-reply-message-text-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    word-break: break-word;
    padding: 8px;
    background: #F8FAFC;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
    border-radius: 0px 5px 5px 5px;
}

.easychat-query-reply-message-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
}

.easychat-query-reply-message-text-div .easychat-query-reply-message-time-div {
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    color: #7B7A7B;
    width: 100%;
    text-align: right;
    margin-top: 4px;
}

.easychat-user-custom-checkbox-div input[type="checkbox"] {
    display: none;
}

.easychat-user-custom-checkbox-div label {
    padding-left: 26px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    cursor: pointer;
}

.easychat-user-custom-checkbox-div label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 3px 0px 4px 0px;
    width: 18px;
    height: 18px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #DADADA;
}

.easychat-user-custom-checkbox-div label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate( -45deg) scale(0);
    transform: rotate( -45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 8px;
    left: 4px;
}

.easychat-user-custom-checkbox-div input[type="checkbox"]:checked~label::before {
    background-color: #0254D7;
    border-color: #0254D7;
}

.easychat-user-custom-checkbox-div input[type="checkbox"]:checked~label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.easychat-user-custom-checkbox-div {
    width: 18px;
    height: 24px;
    position: relative;
    margin-top: 5px;
    display: none;
}

.message-history-clear-input-div {
    position: absolute;
    right: 8px;
    top: 13px;
}


/* .user-call-recording-wrapper {
    display: flex;
    width: 100%;
} */

.user-call-recording-wrapper .easychat-call-recording-btn {
    background: #1B65DB;
    height: 40px;
    padding: 0px 12px !important;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px !important;
    column-gap: 10px;
    margin: 0px !important;
    width: 160px;
}

.user-call-recording-wrapper .easychat-call-recording-btn span {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}


/* .user-messages-search-wrapper {
    display: flex;
    width: 100%;
} */

.user-messages-search-wrapper {
    flex-basis: auto;
    flex-grow: 1;
    pointer-events: none;
    opacity: 0.5;
}

.user-messages-search-wrapper .easychat-history-global-searchbar-container {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    float: right;
    overflow: hidden;
    align-items: center;
    padding: 0px 8px;
}

.user-messages-search-wrapper .easychat-history-global-searchbar-container.active-user-global-search {
    width: 100%;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
}

.user-messages-search-wrapper .easychat-history-global-searchbar-container #user_history_global_search {
    height: 40px !important;
    background: #FFFFFF;
    border: none !important;
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #2d2d2d;
    outline: none !important;
    width: 100% !important;
    padding: 0px 8px 0px 6px !important;
    margin: 0px !important;
}

.user-messages-search-wrapper .easychat-history-global-searchbar-container #user_history_global_search:focus {
    border: none !important;
    box-shadow: none !important;
}

.user-messages-search-wrapper .easychat-history-global-searchbar-container input::placeholder {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #C8C6D5;
}

.user-messages-search-wrapper .easychat-history-global-searchbar-container span {
    z-index: 101;
    width: 20px;
    height: 20px;
}

.easychat-history-global-searchbar-btn {
    position: absolute;
    right: 0px;
    cursor: pointer;
    top: 0px;
    z-index: 101;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1B65DB;
    border-radius: 4px;
}

.user-messages-search-wrapper .easychat-history-global-searchbar-container .user-search-cross-icon {
    cursor: pointer;
    z-index: 101;
    width: 20px;
    height: 20px;
}


/* modal css */

.modal.easychat-custom-modals-container {
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    overflow-y: hidden;
    border-radius: 16px !important;
}

.modal.easychat-custom-modals-container .modal-footer {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px !important;
    position: static;
    height: 40px !important;
    background: #0254D7;
    border-radius: 4px !important;
    font-weight: bold !important;
    font-size: 16px;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel {
    font-weight: 600 !important;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 40px !important;
    color: #000000 !important;
    background: transparent !important;
    font-family: unset !important;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

.modal.easychat-custom-modals-container .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

.modal.easychat-custom-modals-container .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
}

.modal.easychat-custom-modals-container .analytics-start-date {
    border: none !important;
}

.modal.easychat-custom-modals-container .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div {
    width: 100%;
    max-height: calc(100vh - 16rem);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 16px;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div::-webkit-scrollbar {
    display: none;
}

.modal.easychat-custom-modals-container .modal-heading-text-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.custom-modal-subheading-div {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #4D4D4D;
    margin-top: 10px;
    margin-bottom: 20px;
}

#modal-message-history-action-error ul li {
    list-style-type: disc;
    margin-left: 18px;
    font-size: 14px;
    font-weight: 400;
}


/* dropdown css */

.select2-dropdown .select2-results__option {
    font-family: "Silka", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-style: normal;
    color: #2D2D2D !important;
    margin: 0 !important;
    border-radius: unset !important;
    padding: 12px 16px !important;
    border: 1px solid #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--highlighted {
    background-color: #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--selected {
    background-color: #F6F6F6 !important;
    color: #2D2D2D !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background: #F6F6F6 !important;
    color: #2D2D2D !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 130px !important;
}

.select2-container--default .select2-results__option--disabled {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 0px;
    height: 18px;
    width: 18px;
    margin-left: -12px;
    margin-top: -10px;
    background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.793 6.23271C14.0787 6.53263 14.0672 7.00737 13.7672 7.29306L8.51678 12.2944C8.22711 12.5703 7.77187 12.5703 7.4822 12.2944L2.23173 7.29306C1.93181 7.00737 1.92028 6.53263 2.20597 6.23271C2.49166 5.93279 2.96639 5.92125 3.26631 6.20694L7.99949 10.7155L12.7327 6.20694C13.0326 5.92125 13.5073 5.93279 13.793 6.23271Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0px;
    margin-top: -3px;
    margin-left: -10px;
    background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.206023 6.26863C-0.0796766 5.96871 -0.0681772 5.49397 0.231823 5.20828L5.48224 0.206941C5.77191 -0.0689588 6.22715 -0.0689588 6.51682 0.206941L11.7673 5.20828C12.0672 5.49397 12.0787 5.96871 11.7931 6.26863C11.5074 6.56855 11.0326 6.58009 10.7327 6.2944L5.99953 1.78584L1.26632 6.2944C0.966423 6.58009 0.491723 6.56855 0.206023 6.26863Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}

.modal.easychat-custom-modals-container .select2-selection__rendered {
    line-height: 1.5;
    width: 90%;
}

.modal.easychat-custom-modals-container .select2-selection {
    height: 41px !important;
    border-radius: 4px !important;
    border: none !important;
    width: 100% !important;
    font-family: "Silka", Sans-Serif;
    padding: 9px 10px!important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 17px;
    background: #FAFAFA;
    text-align: left!important;
    color: #2D2D2D;
    box-shadow: none !important;
}

.modal.easychat-custom-modals-container .select2-container {
    width: 400px !important;
}

.select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder {
    color: #7B7A7B;
    font-family: "Silka", sans-serif;
    font-size: 14px;
    background-repeat: no-repeat !important;
    background-position: left;
    text-indent: 25px;
    background: url(../img/search.svg);
}

.select2-dropdown {
    top: 1px !important;
    padding: 0 !important;
    border-radius: 8px !important;
    margin-top: 5px;
}

.select2-dropdown .select2-search {
    padding: 8px;
}

.select2-dropdown .select2-search .select2-search__field {
    background-color: #FAFAFA;
    border-radius: 4px !important;
    border: 1px solid #F8F8F8 !important;
    border-bottom: 1px solid #F8F8F8 !important;
    margin: 0;
    margin-top: 0 !important;
    margin-left: 5px;
    width: 100% !important;
}

.select2-dropdown .select2-search .select2-search__field:focus {
    box-shadow: none !important;
}

.select2-dropdown .select2-results__options {
    border-radius: 8px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar {
    width: 5px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar-thumb {
    background: #88A3D2;
    ;
    border-radius: 8px;
}

.select2-dropdown .select2-results__options::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: 0 0 0px #777 !important;
    border-radius: 10px;
}

.select2-dropdown .select2-results__option {
    font-family: "Silka", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-style: normal;
    color: #2D2D2D !important;
    margin: 0 !important;
    border-radius: unset !important;
    padding: 12px 16px !important;
    border: 1px solid #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--highlighted {
    background-color: #F6F6F6 !important;
}

.select2-dropdown .select2-results__option--selected {
    background-color: #F6F6F6 !important;
    color: #2D2D2D !important;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background: #F6F6F6 !important;
    color: #2D2D2D !important;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 180px !important;
}

.select2-container--default .select2-results__option--disabled {
    display: none;
}

.select2-search--dropdown.select2-search--hide {
    display: none !important;
}

mark {
    font-size: 14px;
}

#modal-message-history-action-warning,
#modal-message-history-action-error {
    max-width: 580px !important;
}

#modal-message-history-action-warning .modal-header,
#modal-message-history-action-error .modal-header {
    justify-content: flex-end;
    border: none !important;
}

#modal-message-history-action-warning .modal-overflow-content-div-wrapper img {
    width: 150px;
    height: 150px;
}

#modal-message-history-action-error .modal-overflow-content-div-wrapper img {
    width: 70px;
    height: 70px;
}

#modal-message-history-action-warning .modal-overflow-content-div-wrapper .add-succesfull-text-div {
    width: 100%;
    text-align: center;
    margin-top: -42px;
}

#modal-message-history-action-error .modal-overflow-content-div-wrapper .add-succesfull-text-div {
    width: 100%;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 30px;
}

.user-search-up-down-arrow-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-right: 8px;
    opacity: 0.5;
    pointer-events: none;
}

.user-search-up-down-arrow-wrapper a {
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.search_result_numbers {
    font-size: 10px;
    margin-right: 5px;
    /* display: none; */
}

.easychat-user-chat-history-message-container .easychat-form-container {
    margin: 0px 43px 20px 0px;
}

.chat-history-attachment-widget {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-history-attachment-download-btn {
    margin-right: 10px;
    margin-top: 4px;
    display: inline-block;
}

#easychat-message-history-filter-modal #ui-datepicker-div td {
    padding: 8px 12px !important;
}

#ui-datepicker-div .ui-datepicker-prev span, #ui-datepicker-div .ui-datepicker-next span {
    height: 100%;
}
