.container .wrapper-box
  {
      border-radius: 0px!important;
      width: 536px;
      margin-bottom: 0px!important;  
  }
  .container #sel
  {
      padding: 8px 15px!important;
      color: #000!important;
  }
  .container .select-box .options-container,.container .search-box 
  {
      width: 536px!important;
      border-radius: 0!important;
     padding-top: 0px!important;
  }
  #language-options-search-box input
  {
      border-radius: 0!important;
      width: 480px!important;
  }
  .container .tag
  {
      border-radius: 0px!important;
      margin-left: 1px!important;
      margin-bottom: 0px!important;
  }
  .options-container .item-checkbox
  {
      margin-right: 84%!important;
  }
.options-container .option label
{
    margin-left: 4%!important;
}
#easychat-web-channel-table 
{
    margin-top: -3%!important;
}
#channel-sticky-intents #easychat-zalo-channel-table .gy-btn-outline
{
    width: 225px!important;
    height: 48px!important;
    border-radius: 4px!important;
    color: #FFFFFF!important;
    background: #0254D7!important;
}

#channel-sticky-intents #easychat-zalo-channel-table td{
    border-bottom: none !important;
}

#upload-welcome-video-response{
    background: #FFFFFF;
    /* Grey/40 */
    width: 100%!important;
    border: 2px solid #EBEBEB!important;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 20px 0px 20px 24px!important;

    
}

@media (min-width: 768px) and (max-width: 1024px){
    .container .wrapper-box{
           margin-left: 50px!important;
            width: 320px!important;
        }
        .container .select-box .options-container {
           margin-left: 50px!important;
            width: 320px!important;
        }
        .container .search-box {
            margin-left: 50px!important;
            width: 320px!important;
            border-radius: 0!important;
        }
        #language-options-search-box input
            {
                
                width: 268px!important;
            }
            .options-container .item-checkbox
                {
                    margin-right: 80%!important;
                }
        
    }

    #zalo-intial-question{
        padding: 0rem 1rem;
        padding-bottom: 1rem;
    }

    #zalo-failure-recommendations{
        padding: 0rem 1rem;
        padding-bottom: 1rem;
    }

    #zalo-intial-question .intent-container{
        
        margin-left: 30px;
    }
    #zalo-failure-recommendations .intent-container{
        padding: 0rem 1rem;
        margin-left: 30px;
     }

    .user-icon{
        width: 32px;
        height: 32px;
        border-radius: 16px;
        border: 1px solid #ebebeb;
        background-color: #000;
        position: absolute;
        margin-top: 20%;
        margin-left: 20px;   
    }

    .pdf-outer-wrapper{
        width: 317px;
        height: 145px;
        background: #E2E9F1;
        margin: auto;
        margin-top: 20%;
        display: flex;
        flex-direction: column;
    }

    .pdf-inner-div{
        box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
        height: 186px;
        margin: auto;
    }
    .pdf-inner-div-theme-3
    {
        height: 359px!important;
    }
    .pdf-inner-div-theme-4
    {
        height: 400px!important;
    }
    .pdf-heading-div{
        padding: 16px 24px;
        display: flex;
        background: #FFFFFF;
        
    }

    .pdf-description-div{
        padding: 0 16px 16px;
        background: #FFFFFF;
    }

    .pdf-description-div p{
        font-size: 12px;
        margin: 0;
        line-height: 18px;
    }
    .pdf-description-div-img img
    {
        
        width: 317px;
        height: 194px;
    }
    .pdf-outer-wrapper .pdf-name-data{
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pdf-outer-wrapper .pdf-name-data .pdf-name{
        font-size: 16px;
        font-weight: 500;
        color: #000;
        margin: 0;
    }
    .pdf-outer-wrapper .pdf-name-data .pdf-page{
        font-size: 13px;
        font-weight: 400;
        color: #232f34;
        margin: 0;
        margin-top: 2px;
    }

    .view-docoument-div{
    width: 317px;
    height: 32px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2741FA;
    font-size: 14px;
    margin:16px auto;
    padding: 10px 0;
    cursor: pointer;
    }
    .view-docoument-div:hover
{
    background-color: #2741FA;
    color: #fff;
}
    .external-link p{
        margin: 0;
        padding: 0 16px 16px;
        font-size: 14px;
        color: #000;
    }
    .external-link  a{
        color: #2741FA;
        margin-left: 4px;
    }
    .external-link img{
        position: fixed;
        height: 13px;
        padding: 2px;
    }
    #viber_language_dropdown .easychat-console-custom-dropdown .easychat-dropdown-select-custom
    {
        border-radius: 4px!important;
        height: 38px!important;
    }
    #viber_language_dropdown .easychat-console-custom-dropdown .easychat-dropdown-select-custom #txtSearchValue,
    #viber_language_dropdown .easychat-console-custom-dropdown .easychat-dropdown-select-custom .list   {
        border-radius: 4px!important;
    }
    #viber_language_dropdown .easychat-console-custom-dropdown .easychat-dropdown-select-custom .easychat-console-language-option.easychat-lang-selected {
        color: #4D4D4D!important;
        background: #f6f6f6!important;
    }
    .choose_language
    {
        position: absolute; top: 10px; margin-left: 20px;font-size: 16px;color: #4D4D4D;
    }
    .sub-head
    {
        font-size: 16px;color: #4D4D4D;
    }
    .ms-options-wrap>.ms-options>ul label
    {
        cursor: pointer;
    }
/************************************* multiselect dropdown css *********** */

/* css for intent div---------- */
.easychat-initial-questions-dropdown{
    height: 0;
}

.active-dropdown{
    height: 240px;
    transition: ease 0.2s;
}

.outer-intent-container input[type="text"]:not(.browser-default):focus:not([readonly]):not(.otp-form){
box-shadow: 0px !important;
box-shadow: 0px 0px 1px rgb(252 252 252) !important;
transition: all 0s ease-in-out;
width: 90%;
margin-top: 6px;
padding: 0rem 0.8rem;
border: 1px solid #F8F8F8;
border-radius: 0px;
font-family: "Silka", Sans-Serif !important;
}

.preview-container,
.preview-container{
    width: 80%;
    background: #ffffff;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-top: 9px;
    margin-right: 10px;
    display: none;
    max-height: 200px;  
}

.scroll-area {
    overflow-y: scroll;
}


.preview-container-active{
    display: block;
}

.preview-container> span {
    margin: 7px 7px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 12px;
    line-height: 20px;
    padding: 2px 8px;
    /* height: 28px; */
    gap: 18px;
    color: #fff;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    box-sizing: border-box;
    word-break: break-word;
    background: #0254D7;
}

    .preview-container> span>span{
        background: url(./new-tag.svg) no-repeat;
        position: absolute;
        width: 22px;
        height: 22px;
        top: -12px;
        right: -9px;
        opacity : 0;
        display: none;
    }

    .preview-container> span> span.active-tag{
        opacity : 1;
    }

    .intent-tooltip-div>span{
        position: relative;
        top: -10rem;
        left: 6rem;
        z-index: 10000;
    }

    /* css for intent div end------------ */

.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}

.ms-options-wrap {
    position: relative;
    width: 91%;
    margin: 8px 0px;
}

.ms-options-wrap>button:focus,
.ms-options-wrap>button  {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #ededed;
    background-color: #fff;
    padding: 5px 35px 5px 10px;
    margin-top: 1px;
    font-size: 13px;
    color: #2d2d2d;
    outline-offset: -2px;
    white-space: nowrap;
    height: 40px;
    margin-bottom: 0px;
    border-radius: 6px;
    box-shadow: none;
}

.item-checkbox .english_language_selected{
    color: gray;
}

.ms-options-wrap>button>span {
    display: inline-block;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
}

.ms-options-wrap>button[disabled] {
    background-color: #e5e9ed;
    color: #808080;
    opacity: 0.6;
}

.ms-options-wrap>button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

.ms-options-wrap.ms-has-selections>button {
    color: #333;
}

.ms-options-wrap>.ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #f8f8f8;
    overflow: hidden;
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    height: unset !important;
    height: 0;
    border-radius: 6px;
    transition:  cubic-bezier(0.1,-0.51, 0, 1.98) 1s;
}
.ms-options-wrap.ms-active>.ms-options {
    /* display: block; */
    opacity: 1;
    pointer-events: all;
}

.ms-options-wrap>.ms-options>.ms-search input {
    width: 100% !important;
    padding: 0.5rem 0.5rem 0.5rem 1rem !important;
    background: #ffffff;
    border: 1px solid #F2F2F2 !important;
    /* border-radius: 25px !important; */
    outline: none !important;
    font-size: 14px !important;
    color: #2d2d2d !important;
    height: 35px !important;
    box-sizing: border-box;
}

.ms-options-wrap>.ms-options>.ms-search input[type="checkbox"]:disabled{
    background: #dddddd;
}

.ms-options-wrap>.ms-options>.ms-search input:focus {
    background-color: #ffffff !important;
}

.ms-options-wrap>.ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-decoration: none !important;
    width: 100%;
    padding: 2px 25px;
}

.ms-options-wrap>.ms-options .ms-selectall:hover {
    background-color: #EEF1FF;
}

.ms-options-wrap>.ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap>.ms-options>.ms-selectall.global {
    margin: 0px;
}

.ms-options-wrap>.ms-options>ul,
.ms-options-wrap>.ms-options>ul>li.optgroup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px !important;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    column-count: unset !important;
    scrollbar-width: thin;
}

.ms-options-wrap>.ms-options>ul li.ms-hidden {
    display: none;
}

.ms-options-wrap>.ms-options>ul>li.optgroup {
    padding: 5px;
}

.ms-options-wrap>.ms-options>ul>li.optgroup+li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap>.ms-options>ul>li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap>.ms-options>ul label {
    position: relative;
    display: inline-block;
    width: 98%;
    height: 5%;
    /* padding: 8px 11px 8px 15px; */
    border-top: 1px solid #eef1ff94;
    font-size: 14px;
    color : #2d2d2d !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px 0;
}


.ms-options-wrap>.ms-options>ul label p{
    margin: 0;
    padding: 7px 11px 7px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}

.ms-options-wrap>.ms-options.checkbox-autofit>ul label,
.ms-options-wrap>.ms-options.hide-checkbox>ul label {
    padding: 4px;
}

.ms-options-wrap>.ms-options>ul label.focused,
.ms-options-wrap>.ms-options>ul label:hover {
    background-color: #EEF1FF;

}

.ms-options-wrap>.ms-options>ul li.selected label {
    color: #5A5A5A;
    font-weight: 500;
    margin: 0;
}

/* css for new intent button--------------- */
.easychat-initial-questions-dropdown .ms-options-wrap>.ms-options>ul button{
    width: 31px;
    height: 16px;
    font-size: 10px;
    padding: 2px 6px;
    background: #DADADA;
    border-radius: 1px;
    color: #ffffff;
    display: flex;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0;
    margin-right: 35px;
    text-align: center;
    visibility: hidden;
    pointer-events: none;
}

.easychat-initial-questions-dropdown .ms-options-wrap>.ms-options>ul .active-button{
    background: #0254D7;
}

.ms-options-wrap>.ms-options.hide-button>ul button{
    width: 31px;
    height: 14px;
    padding: 1px 4px;
    background: #0254D7;
    border-radius: 1px;
}
 /* css for intent button end------------ */

.ms-options-wrap>.ms-options>ul input[type="checkbox"] {
    width: 16px !important;
    height: 16px !important;
    margin: 0px !important;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    cursor: pointer !important;
    text-overflow: ellipsis;
}
.ms-options-wrap>.ms-options.hide-checkbox>ul input[type="checkbox"] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    cursor: pointer;
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar {
    width: 7px;
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.ms-options-wrap>.ms-options>ul::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.ms-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 4px 0px; */
    padding: 0px 12px;
}

.ms-options-wrap>.ms-options>ul li.selected {
    padding: 0px !important;
    margin: 0px;
}

.ms-options-wrap>.ms-options>ul label>input[type="checkbox"]:checked{
    background: #2d2d2d !important;
}

.mailer-analytics-traffic-analytics-dropdown .select2,
.mailer-analytics-intent-analytics-dropdown .select2,
.mailer-analytics-flow-completion-dropdown .select2,
.easychat-initial-questions-dropdown .select2 {
    display: none;
}

.ms-options-wrap.ms-active>button:after {
    transform: rotate(180deg);
    margin-top: -9px;
}

.ms-options-wrap>.ms-options #selectall-drop-cb {
    opacity: 1;
    width: 16px !important;
    height: 16px !important;
    pointer-events: auto;
    right: 19px;
    margin: 0px !important;
    padding: 0px !important;
    top: 72px;
}

i:hover{
    cursor: pointer;
}

