#sticky-intent-display {
    margin-top: -4% !important;
}
#gy-btn-outline .container {
    border-radius: 0px !important;
}
.select2 .selection .select2-selection--single {
    border-radius: 6px !important;
    padding: 10px 24px !important;
    width: 100% !important;
    border: 1px solid #DADADA !important;
    box-shadow: unset !important;
}
.select2-dropdown {
    border-radius: 6px !important;
    top: 20% !important;
    width: 507px;
    margin-top: 4px !important;
}

#select2-voice_type-container, .select2-results__option--selectable {
  text-transform: capitalize;
}

.select2-results__option--highlighted[aria-selected] {
  color: #fff !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-left: -16px !important;
    color: #CBCACA !important;
    background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.793 6.23271C14.0787 6.53263 14.0672 7.00737 13.7672 7.29306L8.51678 12.2944C8.22711 12.5703 7.77187 12.5703 7.4822 12.2944L2.23173 7.29306C1.93181 7.00737 1.92028 6.53263 2.20597 6.23271C2.49166 5.93279 2.96639 5.92125 3.26631 6.20694L7.99949 10.7155L12.7327 6.20694C13.0326 5.92125 13.5073 5.93279 13.793 6.23271Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.206023 6.26863C-0.0796766 5.96871 -0.0681772 5.49397 0.231823 5.20828L5.48224 0.206941C5.77191 -0.0689588 6.22715 -0.0689588 6.51682 0.206941L11.7673 5.20828C12.0672 5.49397 12.0787 5.96871 11.7931 6.26863C11.5074 6.56855 11.0326 6.58009 10.7327 6.2944L5.99953 1.78584L1.26632 6.2944C0.966423 6.58009 0.491723 6.56855 0.206023 6.26863Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px !important;
}

input:not(.otp-form):not(.form-control):not(.input):not(.slider-btn) {
    display: none;
}
/* .select2-container--default .select2-results__option--selected {
    display: none;
} */
.select2-container--default .select2-results__option[aria-selected="true"],.select2-container--default .select2-results__option--selected {
    border-radius: 0% !important;
}
.select2-results__option, .select2-container--default {
    color: #7B7A7B !important;
}
/* .select2-results__option--highlighted[aria-selected]
{
    display: none;
    
} */

#easychat-web-channel-table .slider-btn {
    padding: 0px !important;
    width: 100px !important;
    height: 32px !important;
    border-radius: 4px;
    background: #F8F8F8;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06) !important;
    margin: 6px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #0243AC;
    border-bottom: none !important;
    -moz-appearance: textfield;
  }
  
.slider-btn::-webkit-outer-spin-button,
.slider-btn::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media (min-width: 768px) and (max-width: 1024px){
    .select2 .selection .select2-selection--single,.select2-dropdown {
        width: 400px !important;
    }
    .select2-dropdown {
        width: 400px !important;
        top: 40% !important;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        margin-left: -10px !important;
    }
}
/* slider-area 
 
} */
#easychat_threshold_value_range_container .easychat-bot-range-slider-area {
  width: 73%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px!important;
  margin-left: -22px!important;
 
}

#easychat_threshold_value_range_container .easychat-bot-range-slider-area .irs--flat .irs-handle.single:hover {
  background-color: #3e495a !important;
}

#easychat_threshold_value_range_container .easychat-bot-range-slider-area .irs--flat .irs-handle>i {
  width: 0px !important;
  height: 0px !important;
  border-radius: 50% !important;
  top: 0px !important;
  background-color: #0254D7;
  z-index: 0;
  cursor: pointer;
}

#easychat_threshold_value_range_container .easychat-bot-range-slider-area .irs--flat .irs-handle {
  top: 14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #0254D7 !important;
  cursor: pointer;
  z-index: 101;
}

#easychat_threshold_value_range_container .easychat-bot-range-slider-area .irs--flat .irs-handle.state_hover>i:first-child,
#easychat_threshold_value_range_container .easychat-bot-range-slider-area .irs--flat .irs-handle:hover>i:first-child {
  background-color: #0254D7
}

#easychat_threshold_value_range_container .easychat-bot-range-slider-area .irs--flat .irs-handle>i:hover {
  background-color: #0254D7 !important;
}

#easychat_threshold_value_range_container .easychat-bot-range-slider-area .irs--flat .irs-line {
  top: 25px;
  height: 3px !important;
  background-color: #CBCACA !important;
  border-radius: 4px;
}

#easychat_threshold_value_range_container .easychat-bot-range-slider-area .irs--flat .irs-bar {
  top: 25px;
  height: 3px !important;
  background-color: #0254D7;
}

#easychat_threshold_value_range_container .easychat-bot-range-slider-area .irs--flat .irs-single {
  top: 42px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  background-color: transparent;
  margin-left: 1px;
  display: none !important;
}

.easychat-bot-range-slider-area .irs--flat .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ffffff;
}

.easychat-bot-range-slider-area .irs--flat .irs-min {
  left: -35px;
}

.easychat-bot-range-slider-area .irs--flat .irs-max {
  right: -35px;
}

.easychat-bot-range-slider-area .irs--flat .irs-bar--single {
  border-radius: 4px;
}

.easychat-bot-range-slider-area .irs--flat .irs-min,
.easychat-bot-range-slider-area .irs--flat .irs-max {
  top: -5px !important;
  width: 24px;
  height: 24px;
  background: #fff !important;
  border-radius: 25px;
  font-weight: 500;
  font-size: 14px;
  color: #4D4D4D;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible !important;
  margin-bottom: 6px !important;
}
.easychat-bot-range-slider-area .irs--flat .irs-min
{
  margin-left: 33px !important;
}
.easychat-bot-range-slider-area .irs--flat .irs-max
{
  margin-right: 30px !important;
}
.easychat-bot-range-slider-area .easychat-min-range-value-div,
.easychat-bot-range-slider-area .easychat-max-range-value-div {
  width: 24px;
  height: 24px;
  background: #F6F6F6;
  border-radius: 25px;
  font-weight: 500;
  font-size: 14px;
  color: #4D4D4D;
}

.easychat-bot-range-slider-area .irs--flat {
  height: 50px;
  width: calc(100% - 72px);
  margin-left: 35px;
}

#easychat_threshold_value_range_container {

  position: relative;
}

.easychat-bot-level-nlp-threshold-warning-div {
  position: absolute;
  width: 100%;
  left: 0px;
  display: flex;
  padding: 20px;
  align-items: center;
}

.easychat-bot-level-nlp-threshold-warning-div span {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.02em;
  color: #7B7A7B;
  word-break: break-word;
}

.easychat-bot-level-nlp-threshold-warning-div span:first-child {
  margin-right: 6px;
}

#easychat_threshold_value_range_container td {
  padding-bottom: 60px !important;
}

#easychat_intent_advance_nlp_config_wrapper {
  padding-top: 0px !important;
}

#easychat_intent_advance_nlp_config_wrapper .easychat-bot-level-nlp-threshold-warning-div {
  width: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  margin: 0px 0px 18px -12px;
  position: relative;
}

#easychat_intent_advance_nlp_config_wrapper table tbody {
  box-shadow: none !important;
}

.material-tooltip {
  max-width: 350px;
}

.easychat-necessary-keywords-textarea-div {
  height: 50px !important;
  resize: none !important;
  border: none;
  border-bottom: 1px solid #364b99 !important;
  border-radius: 0px;
  padding: 8px;
}

.easychat-necessary-keywords-textarea-div:focus {
  border: none !important;
  box-shadow: 0px 0px 1px rgb(60 71 255) !important;
  border-radius: 8px;
  box-sizing: border-box;
}

#easychat_intent_advance_nlp_config_wrapper .easychat-restricted-keywords-input-div {
  box-sizing: border-box;
  width: 100% !important;
}

#easychat-web-channel-table td {
    border: none !important;
}

.red-not-allowed {
  cursor: url("/static/EasyChatApp/img/red-not-allowed.svg"), auto !important
}

.blue-btn, .blue-btn:hover {
  color: #2f80ed !important;
  border-color:#2f80ed !important;
}

#gy-btn-outline .voice_text_area
{
   
    height: 100px!important;
    border-radius: 6px!important;
    padding: 14px 24px!important;
    border: 1px solid #DADADA !important;
    resize: none;
    line-height: 21px;
    color: #2D2D2D;
    width: 82%;
    left: -11.5%;
    position: relative;
    
}
.focus textarea[type=text]:focus {
    border: 2px solid #EBEBEB !important;
}
#easychat_voice_inputs input
{
    display:flex!important;
    opacity: 1!important;
    position: inherit!important;
    pointer-events: auto!important;
    width: 16px !important;
    cursor: pointer!important;
}
.sub-heading
{
    color: #484848;
}
#voice_bot_collapsible .inline-icon {
    vertical-align: bottom;
    font-size: 16px !important;
    color: #7B7A7B!important;
    padding-left: 10px!important;
   
}
  .blue-btn, .blue-btn:hover {
    margin-top: 20px;
    margin-left: 15px;
  }
  #easychat-web-channel-table td {
    font-size: 16px;
  }
  /* variation dropdown css */
#voicebot_variation_input_div{
    display: block !important;
    border: 1px solid #DADADA !important;
    box-sizing: border-box;
    border-radius: 6px !important;
    width: 100% !important;
    height: 48px !important;
    padding-right: 32px !important;
}
.easychat-add-variation-dropdown-wrapper{
    position: relative;
    width: 82%;
    left: -11.5%;
}
.voicebot-variation-items-container{
    width: 100%;
    box-shadow: 0px 2.02247px 8.08989px rgb(0 32 51 / 16%);
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
    max-height: 192px;
    position: absolute;
    z-index: 101;
    background: #ffffff;
    top: 52px;
}
.voicebot-variation-item{
    display: flex;
    white-space: normal !important;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px 0 32px;
    height: 48px;
    border-bottom: 1px solid #f3f0f0;
}
.voicebot-variation-item-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    width: 82%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.voicebot-variation-item a{
    height: 22px;
    width: 20px;
}


.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal {
  width: 440px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border-radius: 16px !important;
  background-color: #ffffff;
}

.modal.easychat-custom-modals-wrapper .termination-confirmation-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}

.modal.easychat-custom-modals-wrapper .termination-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-text {
  font-size: 16px;
  line-height: 24px;
  font-family: "Silka", sans-serif;
  text-align: center;
  padding: 10px 20px 20px;
  width: 100%;
  color: #7B7A7B;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-heading-text {
  text-align: center;
  margin-top: 24px;
  width: 100%;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-subheading-text {
  text-align: center;
  margin-top: 24px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #2D2D2D;
}

.modal.easychat-custom-modals-wrapper .termination-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal.easychat-custom-modals-wrapper .termination-buttons button {
  width: 100%;
  height: 42px;
  border-radius: 4px;
  padding: 7px 16px;
  font-size: 16px;
  line-height: 140%;
}

.modal.easychat-custom-modals-wrapper .termination-no-btn {
  background: #FFFFFF;
  border: 1px solid #CBCACA;
  color: #4D4D4D;
  margin-right: 12px !important;
}

.modal.easychat-custom-modals-wrapper .termination-yes-btn {
  background: #0254D7;
  border: 1px solid #0254D7;
  color: #FFFFFF;
  margin-left: 12px !important;
}

.modal.easychat-custom-modals-wrapper .termination-yes-btn:focus {
  background: #0254D7 !important;
}
.voicebot-variation-dropdown-icon{
  position: absolute;
  top: 12px;
  height: 25px;
  cursor: pointer;
  right: 14px;
}
#voicebot_event_variation_container{
    display: none;
}
.voicebot-variation-dropdown-active{
    transform: rotate(180deg);
}

.collapsible-header {
  padding-left: 25px;
  font-size: 16px;
  color: #4D4D4D!important;
}
#voice_bot_collapsible .select2 .selection .select2-selection--single {
  border-radius: 6px!important;
  border: 1px solid #DADADA !important;
  
}
#voice_bot_collapsible .select2-container--default .select2-selection--single {
  box-shadow:none!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.67966 9.80301C7.25591 9.80353 6.85246 9.62152 6.57241 9.3035L0.289445 2.16176C-0.123568 1.66955 -0.0681091 0.937648 0.414354 0.513296C0.896818 0.088944 1.62981 0.12736 2.06527 0.59982L7.55927 6.845C7.58966 6.87968 7.63354 6.89957 7.67966 6.89957C7.72578 6.89957 7.76966 6.87968 7.80006 6.845L13.294 0.59982C13.5699 0.271079 14.0022 0.117535 14.4236 0.198603C14.845 0.27967 15.1894 0.582631 15.3236 0.990252C15.4578 1.39787 15.3607 1.8462 15.0699 2.16176L8.78883 9.30093C8.50831 9.61973 8.10431 9.80261 7.67966 9.80301Z' fill='%23CBCACA'/%3E%3C/svg%3E%0A") no-repeat 4% 2px!important;

}
        
#voice_events_table_wrapper table tr td{
  border-bottom: none !important;
}
#voice_events_table_wrapper table tr td .select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-left: -16px !important;
}
#voice_events_table_wrapper .select2 .selection .select2-selection--single{
  width: 100% !important;
}
#voice_events_table_wrapper .select2-container {
  width: 100% !important;
}
#voice_events_table_wrapper  .select2-dropdown {
  width: auto;
}
.voicebot-dropdown-parent{
  width: 82%;
  margin-left: -11.5%;
}
#easychat-web-channel-table tr td .select2-container{
  width: 100% !important;
}

.inline-icon {
  font-size: 22px !important;
}

/* Language settings CSS */

#voice_language_settings .container .wrapper-box {
  color: #CBCACA!important;
  border: 1px solid #DADADA!important;
  border-radius: 6px!important;
}

#voice_language_settings #language_select_box {
  width: 82% !important;
  position: relative;
  display: block;
  margin-left: -11.5% !important;
}

#voice_language_settings #language_select_box:focus {
  top: 20%!important;
  transform: translateY(-19px)!important;
}

#voice_language_settings .container .select-box {
  width: 100%!important;
}

#voice_language_settings .container .search-box input {
  position: relative!important;
  width: 93%!important;
  border-radius: 6px!important;
  display:block!important;
  border: 1px solid #F6F6F6 !important;
  background: #FAFAFA!important;
  bottom: 25%;
}

#voice_language_settings .container .search-box {
  width: 100%!important;
  border-radius: 6px 6px 0 0;
  position: absolute;
  top: 55px;
  z-index: 102;
  background: #fff;
}

#voice_language_settings .container .select-box .options-container {
  border-radius: 0 0 6px 6px;
  position: absolute;
  top: 97px;
  z-index: 101;
}

#voice_language_settings .container .tag {
  border-radius: 6px!important;
}

#voice_language_settings .container .selected {
  padding: 10px 15px !important;
  height: 42px;
  overflow-y: hidden!important;
}

#voice_language_settings .container .item-checkbox {
  display:block!important;
  left: 8px!important;
}

#voice_language_settings .container .option label {
  position: relative!important;
  left:6%;
  transform: translateX(5px);
}

#voice_language_settings .container .selected-language-cross-btn {
  display: none; 
}

#voice_language_settings .container .tag {
  margin-right: 8px;
  margin-top: -3px;
}

#voice_language_settings .container .arrow {
  right: 15px;
}

#gy-btn-outline1 .voice_text_area{ 
  height: 100px!important;
  border-radius: 6px!important;
  padding: 14px 24px!important;
  border: 1px solid #DADADA !important;
  resize: none;
  line-height: 21px;
  color: #2D2D2D;
  width: 82%;
}

#gy-btn-outline1 .voice_text_area1 {
  width: 73.5% !important;
}

.focus textarea[type=text]:focus {
  border: 2px solid #EBEBEB !important;
}

#easychat-voice-event-channel-table tr td:first-child,
#easychat-language-settings-table tr td:first-child {   width: 40%;
}

#easychat-voice-event-channel-table td,
#easychat-language-settings-table td {
    font-size: 16px;
}

#voice_language_settings .container .search-box input::placeholder {
  padding-left: 10px!important;
}

/* Language settings CSS ends */

/* Campaign Settings CSS */
#easychat-web-campaign-table tr td:first-child {
  width: 40%;
}

#easychat-web-campaign-table td {
  font-size: 16px;
  font-family: "Silka", Sans-Serif !important;
  font-weight: 400;
}

#easychat-web-campaign-table td {
  border-bottom: 0px!important;
}

#easychat-web-campaign-table .campaign_settings_inputs {
  display: flex;
  width: 82%;
}

#easychat-web-campaign-table .campaign_settings_inputs input {
  display: block!important;
  border: 1px solid #DADADA!important;
  border-radius: 6px!important;
  text-overflow: ellipsis;
  width: 100%!important;
  margin: 0px;
  /* letter-spacing: 0.1em!important; */
  color: #444!important;
  padding-left: 18px!important;
}

.vertical_align {
  vertical-align: top;
  padding-bottom: 25px!important;
}

#easychat-web-campaign-table .campaign_settings_inputs .eye_icon {
  display: inline-block;
  position: absolute;
  top: 36%;
  left: 93%;
}

#easychat-web-campaign-table .field-icon {
  color: #7B7A7B;
  cursor: pointer;
}

#easychat-web-campaign-table .select2 .selection .select2-selection--single {
  width: 100% !important;
  border: 1px solid #DADADA !important;
  border-radius: 4px!important;
  height: 48px!important;
  margin: 12px 0px 0px 0px;
  padding: 10px 12px !important;
}

#easychat-web-campaign-table .select2-container--default .select2-selection--single {
  box-shadow: none!important;
}

#easychat-web-campaign-table .fix_height {
  height: 2.3rem !important;
}

#easychat-web-campaign-table .Subdomain {
  padding-bottom: 25px!important;
  letter-spacing: normal;
}

#easychat-web-campaign-table .select2-container--default .select2-selection--single .select2-selection__arrow b {
  top: 26px!important;
}

#easychat-web-campaign-table .sid {
  margin: 30px 0px 0px 0px!important;
  height: 48px !important;
}

#easychat-web-campaign-table input[type="text"]:not(.browser-default):focus:not([readonly]):not(.otp-form) {
 /* margin-top: 30px!important;  */
}

#easychat-web-campaign-table .caller_id {
  padding-bottom: 35px!important;
  letter-spacing: normal;
  padding-top: 40px!important;
}

/* caller-id-wrapper */
.caller-id-wrapper {
  display: flex;
  width: 82%;
  /* margin-left: -11.5%; */
}

/* caller-id-dropdown */

.easychat-caller-id-dropdown-wrapper {
  position: relative;
  width: 95%;
}

#voicebot_caller_id_input_div {
  display: block !important;
  border: 1px solid #DADADA !important;
  box-sizing: border-box;
  border-radius: 6px !important;
  width: 95% !important;
  height: 48px !important;
  padding: 0rem 0.8rem !important;
  margin-top: 30px!important;
  margin-right: 18px!important;
  padding-left: 18px!important;
  /* letter-spacing: 0.1em!important; */
}

#easychat-web-campaign-table .voicebot-caller-id-dropdown-icon {
  position: absolute;
  top: 50%;
  height: 25px;
  cursor: pointer;
  right: 10%;
}

#easychat-web-campaign-table .voicebot-caller-id-items-container {
  width: 95%;
  box-shadow: 0px 2.02247px 8.08989px rgb(0 32 51 / 16%);
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
  max-height: 192px;
  position: absolute;
  z-index: 101;
  background: #ffffff;
  top: 80px;
}

#easychat-web-campaign-table .voicebot-caller-id-item {
  display: flex;
  white-space: normal !important;
  align-items: center;
  justify-content: space-between;
  padding: 0px 23px 0 23px;
  height: 48px;
  border-bottom: 1px solid #f3f0f0;
}

#easychat-web-campaign-table .voicebot-caller-id-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  color: #2D2D2D;
  width: 82%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#easychat-web-campaign-table .call_id_num {
  color: #0254D7;
}

#easychat-web-campaign-table .app_id {
  color: #7B7A7B;
}

.voicebot-caller-id-item a {
  height: 22px;
  width: 20px;
}

#voicebot_event_caller_id_container {
  display: none;
}
.voicebot-caller-id-dropdown-active {
  transform: rotate(180deg);
}

#voicebot_caller_id_input_div:focus #voicebot_event_caller_id_container {
  display: block;
}

.show {
  display: block;
}

/* add_id button */
.add_id {
  width: 120px;
  height: 48px;
  background: #0254D7;
  border-radius: 4px;
  padding: 0px 16px 0px 16px;
  display: flex;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  gap: 11px;
  margin-top: 30px;
}

#easychat-web-campaign-table #select2-voice_type-container, .select2-results__option--selectable {
 text-transform: none!important; 
}

/* add Id Model */
#add_caller_id {
width: 43% !important;
  background: #fff !important;
  max-height: 90%;
  padding: 0px !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
}

#add_caller_id .modal-content {
  padding: 1rem 3rem 0rem 3rem !important;
}

#add_caller_id .modal-content .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  height: 45px;
  padding-bottom: 10px;
  padding-left: 2px;
  margin-bottom: 1px;
  margin-top: 28px;
}

#add_caller_id .modal-content .modal-header .modal-close-btn {
  background: transparent;
  box-shadow: none;
  position: relative;
  top: -95%;
  left: 3%;
  transform: translateY(5px);
}

#add_caller_id  .modal-header h6 {
  font-weight: 500 !important;
  font-size: 16px;
  color: #000000;
}

#add_caller_id  .modal-header p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7B7A7B;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

#add_caller_id .modal-overflow-content-div {
  width: 100%;
  max-height: calc(100vh - 18rem);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 25px 0px 0px;
  padding: 15px 15px 0px;
}

#add_caller_id .sub-heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #2D2D2D;
  margin-bottom: 8px;
}

#add_caller_id .modal-footer {
  border-radius: 0 0 16px 16px;
  padding: 8px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#add_caller_id .add_call_details_input {
  display: block!important;
  padding: 0rem 0.8rem !important;
  background: #FFFFFF;
  border: 1px solid #CBCACA!important;
  border-radius: 8px!important;
  height: 48px !important;
  width: 96%!important;
  color: #444!important;
}

#add_caller_id  .error_msg {
  border: 1px solid #E10E00!important;
}

#add_caller_id .error_msg_text {
  font-weight: 400!important;
  font-size: 14px!important;
  line-height: 17px!important;
  color: #E10E00!important;
  letter-spacing: 0.03em;
  display: none;
}

#add_caller_id .filter-modal-footer-btn {
  border-radius: 4px!important;
  padding: 6px 24px 0px 24px;
  position: relative;
  left: -5%;
  font-weight: 500;
  font-size: 18px!important;
  line-height: 24px;
}

#save_call_id:disabled,
#save_call_id[disabled] {
 background: #0254D7!important;
 opacity: 0.25!important;
}
.margin-left {
  margin-left: -12.5%!important;
}

.margin-left_input {
  position: relative;
  margin-left: -12.5%!important;
}

.voicebot-caller-id-cross-icon {
  cursor: pointer;
}

/* Campaign Settings CSS ends */
