.voice-call-initiated-modal {
    position: absolute !important;
    left: 49.5%;
    top: 50%;
    transform: translate(-50%, -70%);
    margin: 0px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 25%) !important;
    min-height: 215px;
    height: auto;
    overflow: hidden;
    width: 86%;
    background: #ffffff;
    padding: 27px 34px;
}
.voice-call-modal-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.voice-call-modal-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.voice-call-modal-header svg{
    margin-right: 12px;
}
.voice-call-modal-header span{
    font-family: "Silka",sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.voice-call-modal-body{
    color: #7B7A7B;
    font-weight: 500;
    font-size: 16px;
    font-family: "Silka",sans-serif;
    line-height: 140%;
    margin-bottom: 20px;
}
.voice-call-modal-footer button{
    width: auto;
    height: 42px;
    padding: 10px 16px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    font-family: "Silka",sans-serif;
    cursor: pointer;
}
.voice-call-reject-btn{
    margin-right: 12px;
    border: 1px solid #CBCACA;
    background-color: #ffffff;
    color: #7B7A7B; 
}
.voice-call-accept-btn{
    border: 1px solid #0254D7;
    background: #0254D7;
    color: #ffffff;
}
.voice-call-wrapper-div{
    position: absolute;
    top: 58px;
    background-color: #10B981;
    padding: 14px 25px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 88%;
    left: 0;
    right: 0;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    font-family: "Silka",sans-serif;
}
.voice-call-wrapper-div svg{
    cursor: pointer;
}
.video-call-reject-btn{
    margin-right: 12px;
    border: 1px solid #CBCACA;
    background-color: #ffffff;
    color: #7B7A7B; 
}
.video-call-accept-btn{
    border: 1px solid #0254D7;
    background: #0254D7;
    color: #ffffff;
}
.agent-name{
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
}      

.backdrop{
    opacity: 0.5;
    background-color: rgba(0, 0, 0, 0.12) !important;
    pointer-events: none;
}

.call-success-request-modal{
    position: absolute !important;
    left: 49.5% !important;
    top: 64px !important;
    transform: translateX(-50%);
    margin: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 25%) !important;
    height: auto !important;
    overflow: hidden !important;
    width: 280px !important;
    padding: 20px 50px;
    background: #E9F2FF !important;
    border: 1px solid rgba(2, 84, 215, 0.32);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #2D2D2D;
    text-align: center;
    z-index: 999 !important;
}

.voice-call-initiated-modal {
    position: absolute !important;
    left: 49.5% !important;
    top: 50% !important;
    transform: translate(-50%, -70%);
    margin: 0px;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 25%) !important;
    min-height: 215px;
    height: auto !important;
    overflow: hidden !important;
    width: 86% !important;
    background: #ffffff !important;
    padding: 27px 34px;
}
.voice-call-modal-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.voice-call-modal-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.voice-call-modal-header svg{
    margin-right: 12px;
}
.voice-call-modal-header span{
    font-family: "Silka",sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.voice-call-modal-body{
    color: #7B7A7B;
    font-weight: 500;
    font-size: 16px;
    font-family: "Silka",sans-serif;
    line-height: 140%;
    margin-bottom: 20px;
}
.voice-call-modal-footer button{
    width: auto;
    height: 42px;
    padding: 10px 16px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    font-family: "Silka",sans-serif;
    cursor: pointer;
}
.voice-call-connect-btn{
    border: 1px solid #10B981;
    background: #10B981;
    color: #ffffff 
}

.voice-call-wrapper-div{
    position: absolute;
    top: 58px;
    background-color: #10B981;
    padding: 14px 25px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 88%;
    left: 0;
    right: 0;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    font-family: "Silka",sans-serif;
    z-index: 1;
}
.voice-call-wrapper-div svg{
    cursor: pointer;
}
.agent-name{
    text-overflow: ellipsis;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
}

.voice-call-ok-btn{
    margin-right: 12px;
    border: 1px solid #CBCACA;
    background-color: #ffffff;
    color: #7B7A7B; 
}
.voice-call-resend-btn{
    border: 1px solid #0254D7;
    background: #0254D7;
    color: #ffffff;
}

.voip-call-btn{
    display: flex;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    right: 18%;
}

.video-call-btn{
    display: flex;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    right: 18%;
}

@media screen and (max-width: 419px) {
    .bot-minimize-button {
        right: 14%;
    }
    .bot-close-button {
        display: flex;
        right: 3%;
    }
    .bot-name{
        left: 45% !important;
    }
}

.tooltip.voip-call-btn .tooltiptextbottom {
    width: max-content !important;
    max-width: 100px !important;
    left: -100%;
}