html,
body {
    overflow-x: hidden;
}

textarea {
    height: 10em;
    width: 100%;
    border-radius: 0.5em;
    border: 0.05em solid black;
}

.tooltip {
    /*position: relative;*/
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #232F34;
    color: #FAFAFA;
    padding: 5px 8px;
    border-radius: 6px;
    font-size: 12px;
    /* Position the tooltip text */
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 1001;
    max-width: 200px;
    width: max-content;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    word-wrap: break-word;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    transform: translateX(-50%);
  }

  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #232F34 transparent transparent transparent;
  }

  .remove-banner-tooltip{
    max-width: 70px !important;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

#modal-change-theme {
    overflow-x: hidden;
    min-height: 75%;
    z-index: 2147483647 !important;
    padding: 0 !important;
    width: fit-content;
    border-radius: 15px !important;
    width: -moz-fit-content;
}

#modal-change-theme .modal-header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
}

#modal-change-theme .modal-header h5 {
    margin: 0;
    padding: 1em;
    padding-left: 24px;
    font-size: 17px;
    font-weight: 500;
    color: #2d2d2d;
}

#modal-change-theme .modal-content {
    padding: 5px 7px 4em 22px;
    max-height: fit-content;
}

#modal-change-theme .modal-footer {
    z-index: 3;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    border-top: none;
}

#modal-change-theme .modal-footer a {
    margin: 10px 0 0 0;
}

#modal-change-theme .easychat-theme-selector p {
    margin: 5px;
}

@media screen and (min-height: 793px) and (max-height: 895px) {
    #modal-change-theme {
    min-height: 85%;
}
}

@media screen and (max-height: 792px) {
    #modal-change-theme {
    top: 2% !important;
    min-height: 93%;
}
}

.modal-content-scroll::-webkit-scrollbar {
    width: 9px;
    height: 7px;
  }

.modal-content-scroll::-webkit-scrollbar:hover {
      display: block;
  }
  
  /* Track */
.modal-content-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
.modal-content-scroll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  /* Handle on hover */
 .modal-content-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); 
  }

#modal-set-bot-font {
    height: 37em;
    width: 37em;
    overflow-x: hidden;
}

#deploy-chatbot-modal {
    height: 33em !important;
    max-height: 100% !important;
    top: 2% !important;
    overflow-y: auto;
}

.file-field input.file-path {
    cursor: pointer !important;
}
#modal-to-show-intents{
    background-color: white !important;
    padding: unset !important;
    width: 30% !important;
}

.sticky-intent-display-format-div p {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: 25px;
    margin-top: 6px;
    margin-right: 20px;
}
.sticky-intent-display-format-div p label {
    display: flex;
    align-items: center;
    color: #4D4D4D;
    margin-right: 10px;
}
.sticky-intent-display-format-div input[type="radio"] {
    opacity: 1  !important;
    pointer-events: auto !important;
    width: 18px !important;
}
.sticky-intent-menu-item-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin: 10px;
    width: 135px;
    height: 100px;
    position: relative;
    padding: 4px;
}
.sticky-intent-menu-item-div a {
    cursor: pointer;
}
.sticky-intent-menu-delete-div {
    display: flex;
    position: absolute;
    cursor: pointer;
    margin: 0px;
    top: -10px;
    right: -10px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
}
#modal-select-sticky-intent .select2-container--default .select2-results>.select2-results__options{
    max-height: 170px !important;
}

#modal-select-sticky-intent {
    width: 410px !important;
    border-radius: 15px !important;
    padding-bottom: 0 !important;
    overflow: visible !important;
}
#modal-select-sticky-intent .select2-selection__arrow{
  top: 9% !important;
  right: 5px !important;
}
#sticky-intent-icon-name {
    border: none;
    border-bottom: 1px solid #e6e6e6 !important;
}
#sticky-intent-icon-name:focus {
    box-shadow: none !important;
    border-bottom: 1px solid #e6e6e6 !important;
}

#add_landing_url_data {
    box-sizing: border-box;
    width: 100% !important;
    margin-top: 15px !important;
}

#easychat-web-channel-table .gy-btn-outline {
    width: 400px !important;
}

#upload-bot-welcome-video-url {
    width: 403px !important;
    box-sizing: border-box;
}

#easychat-web-channel-table .select2-container {
    width: 403px !important;
}
#modal-alert-create-new-deployjs{
    z-index: 10005 !important;
}

/* Deploy bot btns */
.deploy-copy-btn {
  padding: 1.3rem 1.2rem!important;
  display: flex;
  align-items: center;
  color: white!important;
  font-weight: 500 !important;
  font-size: 14px !important;
  box-shadow: none !important;
}

.sticky-intent-display-format-div input[type="radio"] {
    opacity: 1 !important;
    pointer-events: auto !important;
    width: 18px !important;
    cursor: pointer;
}

/*switch UI*/
.switch label input[type=checkbox]:checked+.lever{
background-color: #2755cb !important;
}

.switch-custom label .lever-custom:before {
  background-color: #BECAD6;
}


.switch-custom label .lever-custom {
content: "";
display: inline-block;
position: relative;
width: 40px;
height: 19px;
background-color: #fff;
border: 3px solid #BECAD6;
border-radius: 15px;
margin-right: 10px;
-webkit-transition: background 0.3s ease;
transition: background 0.3s ease;
vertical-align: middle;
margin: 0 16px;
padding-left: 0px !important;
}

.container .select-box {
    display: flex;
    width: 310px;
    flex-direction: column;
  }
  
  .container .select-box .options-container {
    color: #2D2D2D;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    background: #fff;
    border: 1px solid #E1E1E1;
    border-radius: 0 0 10px 18px;
    border-top: 0;
    overflow: hidden;
    order: 1;
  }
  .container .selected {
    background: #fff;
    border-radius: 25px 0 0 25px;
    border-right: 0;
    color: #909090;
    position: relative;
    max-height: 140px;
    overflow-y: scroll;
    font-family: Silka;
    font-size: 14px;
    margin-right: 16px;
    padding: 5px !important;
    order: 0;
  }
  .container .selected::-webkit-scrollbar{
    width: 5px;
    background: #fff;
    border:1px solid #f6f6f6;
    border-radius: 0 25px 25px 0;
    border-left: 0;
  }
  .container .selected::-webkit-scrollbar-thumb{
    background: #88A3D2;
    border-radius: 0 25px 25px 0;
  }
  
  
  
  .container .select-box .options-container.active {
    max-height: 215px;
    opacity: 1;
    overflow-y: scroll;
  }
  .container .select-box .options-container::-webkit-scrollbar {
    width: 5px;
    background: #F3F6FF;
    border:1px solid #E1E1E1;
    border-left: 0px;
    border-radius: 0 0 18px 0;
  }
  
  .container .select-box .options-container::-webkit-scrollbar-thumb {
    background: #88A3D2;
    border-radius: 18px;
  }
  .container .select-box .option,
  .selected {
    padding: 12px 24px;
    border-bottom: 1px solid #F3F6FF;
  }
  
  .container .select-box .option:hover {
    background: #F3F6FF;
  }
  
  .container .select-box label {
    cursor: pointer;
  }
  .container .option label{
    font-family: Silka;
    font-size: 16px;
    color: #2D2D2D;
  }
  .container .select-box .option .radio {
    display: none;
  }
  .container .option{
    position: relative;
  }
  .container .item-checkbox{
    opacity: 1 !important;
    position: absolute;
    right: 35px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-100%);
  }
  .container .tag{
    display: inline-flex;
    color: #2755CB;
    border: 1px solid #2755CB;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 3px;
    margin-bottom: 5px;
    font-size: 10px;
  }
  .container .wrapper-box{
    position: relative;
    padding: 5px;
    padding-right: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    margin-bottom: 8px;
    cursor: pointer;
  }
  .container .box{
    position: relative;
  }
  .container .arrow{
    color: #2D2D2D;
    position: absolute;
    right: 3px;
    top: 50%;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 20px;
    transform: translateY(-50%) rotate(0deg);
  }
  .container .search-box{
    padding: 10px 10px 0 10px;
    padding-bottom: 0;
    border: 1px solid #e1e1e1;
    border-bottom: 0;
    height: 52px;
    width: 310px;
    opacity: 0;
    border-radius: 18px 18px 0 0;
    pointer-events: none;
    transition: all 0.4s;
  }
  .container .search-box input{
  position: absolute;
  width: 250px;
  height: 40px;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 16px;
  z-index: 100;
  border: 1px solid #e1e1e1;
  margin-left: 4px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  background: #f6f6f6;
  }
  
  .container .search-box input:focus{
    outline: none;
  }
  
  .container .search-box input::-webkit-input-placeholder{
    color: #909090;
    font-family: Silka;
    font-size: 14px;
    background-repeat: no-repeat;
    background: url('data:image/svg+xml;utf8,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6875 12.0689L9.38346 8.76486C10.1774 7.81169 10.5734 6.5891 10.4889 5.35145C10.4044 4.11379 9.84601 2.95635 8.92988 2.1199C8.01375 1.28346 6.81041 0.83241 5.57019 0.86059C4.32997 0.88877 3.14836 1.39401 2.27117 2.2712C1.39398 3.14839 0.888739 4.33 0.860559 5.57022C0.832379 6.81044 1.28343 8.01378 2.11987 8.92991C2.95632 9.84604 4.11376 10.4044 5.35142 10.4889C6.58907 10.5734 7.81166 10.1775 8.76483 9.38349L12.0688 12.6875L12.6875 12.0689ZM1.74996 5.68749C1.74996 4.90872 1.98089 4.14745 2.41355 3.49993C2.84621 2.85241 3.46116 2.34773 4.18064 2.04971C4.90013 1.75169 5.69183 1.67372 6.45563 1.82565C7.21943 1.97758 7.92102 2.35259 8.47169 2.90326C9.02236 3.45393 9.39737 4.15552 9.5493 4.91932C9.70123 5.68312 9.62325 6.47482 9.32523 7.1943C9.02721 7.91379 8.52253 8.52874 7.87502 8.9614C7.2275 9.39406 6.46622 9.62499 5.68746 9.62499C4.64352 9.62383 3.64268 9.20862 2.9045 8.47044C2.16633 7.73227 1.75112 6.73142 1.74996 5.68749Z" fill="%23909090"/></svg>')center / contain no-repeat;
    background-position: left;  
  }

  .container .select-box .options-container.active ~ .search-box input{
    opacity: 1;
    pointer-events: auto;
  }
  .container .select-box .options-container.active ~ .search-box{
    opacity: 1;
    pointer-events: auto;
  }
  .container hr{
    height: 1px;
    background-color: #F3F6FF;
    border: none;
  }
  #languages-extend-button{
    background: #2755CB;
    border: 1px solid #2755CB;
    border-radius: 27px;
    padding: 3px 8px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    z-index: 1000;
    margin: 5px 2px;
  }
  .container .no-elem{
    display: none;
    text-align: center;
    padding: 10px;
  }
  .container .selected-language-cross-btn{
    z-index: 1000;
    padding-left: 5px;
    cursor: pointer;
    width: 12px;
    height: 15px;
  }
  .container #search-box-input:focus{
    border: 1px solid #e1e1e1 !important;
  }
  #circle{
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 100%;
    position: absolute;
    top: 6px;
    left: -12px;
    margin-right: 15px;
  }
  .collapsible-body .choose-language{
    display: flex;
    position: relative;
    margin-top: 0rem;
  }
  .collapsible-body .dashed-line{
      border:none;
      border-top:1.35789px dashed rgba(154, 170, 235, 0.35);
      color:#fff;
      background-color:#fff;
      height:1px;
  }
  #add-language-colapsible-body{
    padding: 0rem 1rem;
  }
  .language-chip-display-name{
    min-width: 25px;
  }
#selected-language-chips-wrapper{
    padding: 3px;
}
.container .selected{
    padding: 2px 5px !important;
}
.container .tag{
    padding: 3px 7px;
    font-size: 14px;
    align-items: center;
}
#language-change-loader-gif{
  width: 220px;
  height: 160px !important;
}
#modal-language-change-loader .modal-content{
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex-direction: column;
}
#modal-language-change-loader {
  top: 50% !important;
  transform: scaleX(1) scaleY(1) translateY(-50%) !important;
  width: 200px;
}
.edit-web-landing-modal{
  overflow-y: hidden;
}
.language-autofix-popup-warning-div {
  padding: 12px 20px;
  background: #FFFFFF;
  border: 1px solid #F3F6FF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 16.875px 11.25px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
}

.language-autofix-popup-warning-div p {
  margin-top: 0px;
  font-weight: 500;
  font-size: 16px;
  color: #4D4D4D;
}

.language-autofix-popup-warning-div-buttons {
  display: flex;
  justify-content: flex-end;
}

.language-autofix-popup-warning-div-buttons a {
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
}

.language-autofix-popup-warning-div-buttons .popup-warning-ignore-btn {
  color: #333333;
}

.language-autofix-popup-warning-div-buttons .popup-warning-autofix-btn {
  color: #2755CB;
}

.language-autofix-popup-warning-container {
  margin-bottom: 10px;
}

#toast-container{
  z-index: 2147483647;
}

/* Welcome Banner styles */
.add-welcome-banner-btn{
  height: 48px;
  font-size: 14px !important;
  line-height: 140%;
  display: inline-flex;
  align-items: center;
}
.add-welcome-banner-btn svg{
  margin-right: 8px;
}
#add-banner-modal,#edit-welcome-banner-redirecturl-modal{
  width: 43% !important;
  background: #fff !important;
  max-height: 90%;
  padding: 0px !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
}
#add-banner-modal .modal-content, #edit-welcome-banner-redirecturl-modal .modal-content {
  padding: 1.5rem 3rem 0rem 3rem !important;
}
#add-banner-modal .modal-content .modal-header, #edit-welcome-banner-redirecturl-modal .modal-content .modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  height: 45px;
  padding-bottom: 10px;
  padding-left: 2px;
  margin-bottom: 1px;
}
#add-banner-modal .modal-header h6, #edit-welcome-banner-redirecturl-modal .modal-header h6,
#edit-welcome-banner-redirecturl-modal .modal-content .modal-header .modal-close-btn{
  font-weight: 500 !important;
  font-size: 16px;
  color: #2D2D2D;
}
#add-banner-modal .modal-content .modal-header .modal-close-btn,
#edit-welcome-banner-redirecturl-modal .modal-content .modal-header .modal-close-btn{
  background: transparent;
  box-shadow: none;
  padding-top: 12px;
}
#add-banner-modal .modal-overflow-content-div,#edit-welcome-banner-redirecturl-modal .modal-overflow-content-div{
  width: 100%;
  max-height: calc(100vh - 18rem);
  overflow-y: auto;
  overflow-x: hidden;
  margin: 25px 0px 0px;
  padding: 15px 15px 0px;
}
#add-banner-modal .filter-modal-footer-btn, #edit-welcome-banner-redirecturl-modal .filter-modal-footer-btn{
  height: 40px !important;
  background: #0254D7;
  border-radius: 30px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #FFFFFF;
  margin: 0px 20px;
  font-family: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 24px !important;
  position: static;
}
#add-banner-modal .modal-footer,#edit-welcome-banner-redirecturl-modal .modal-footer{
  border-radius: 0 0 10px 10px;
  padding: 8px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#add-banner-modal .select2-selection__rendered,
#edit-welcome-banner-redirecturl-modal .select2-selection__rendered{
  line-height: 1.5;
}
#add-banner-modal .select2-selection,
#edit-welcome-banner-redirecturl-modal .select2-selection{
  height: 41px !important;
  border-radius: 10px !important;
  border: 1px solid #DADADA !important;
  width: 100% !important;
  font-family: "Silka", Sans-Serif;
  padding: 9px 10px!important;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;
  text-align: left!important;
  color: #2D2D2D;
  box-shadow: none !important;
}
#add-banner-modal .select2-container,#edit-welcome-banner-redirecturl-modal .select2-container{
  width: 55% !important;
}
#add-banner-modal .sub-heading,#edit-welcome-banner-redirecturl-modal .sub-heading{
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #2D2D2D;
  margin-bottom: 8px;
}
#upload-image-section p{
  color: #7B7A7B;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  margin-top: 5px;
}
#upload-image-section .drag-drop-input-field-wrapper{
  left: 0;
  top: 0;
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
}
#add-banner-modal input[type="text"], #edit-welcome-banner-redirecturl-modal input[type="text"] {
  width: calc(100% - 48px) !important;
  border: 1px solid #CBCACA !important;
  border-radius: 8px;
  margin-top: 0 !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

#image-selected-container .selected-image-wrapper{
  margin-bottom: 10px;
  user-select: none;
  background: #FFFFFF;
  border-radius: 8px;
  height: 72px;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}
#image-selected-container .selected-image-wrapper .image-container-div {
  position: relative;
  width: 114px;
  height: 66px;
  margin: 11px 11px 11px 0;
}
#image-selected-container .selected-image-wrapper .image-container-div img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 114px;
  height: 66px;
}
#image-selected-container .selected-image-wrapper .image-name-copy-div .image-url-copy-div{
  color: #0254D7;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: left;
  align-items: center;
  cursor: pointer;
}
#image-selected-container .selected-image-wrapper .image-container-div .dismiss-circle{
  position: absolute;
  top: -13px;
  right: -9px;
  cursor: pointer;
}
#welcome-banner-image-view-modal{
  background-color: rgba(0, 0, 0, 0);
  top: 48% !important;
  width: 75vw;
  height: 90%;
  max-height: unset;
  transform: translateY(-50%) !important;
}

#welcome-banner-image-view-modal .modal-content{
  height: 100%;
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcome-banner-image-view-modal .modal-content a{
  display: flex;
  justify-content: center;
  width: 70%;
  height: 70%;
} 

#welcome-banner-image-view-modal .modal-content img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.close-image-view{
  position: absolute;
  top: 0;
  right: 0;
  background: #4D4D4D;
  box-shadow: 0px 0px 6.56px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 41px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-arrow{
  position: absolute;
  top: 40%;
  width: 36px;
  height: 36px;
  border-radius: 4px !important;
  margin: 0 !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #CBCACA !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2) !important;
  z-index: 999;
}

.prev-arrow{
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='17' viewBox='0 0 11 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.4969 8.16645C0.496354 7.72503 0.685945 7.30477 1.01722 7.01306L8.45654 0.468304C8.96925 0.0380823 9.73165 0.0958519 10.1737 0.598418C10.6157 1.10098 10.5757 1.86452 10.0836 2.31813L3.57816 8.04103C3.54203 8.0727 3.52132 8.11841 3.52132 8.16645C3.52132 8.21449 3.54203 8.26019 3.57816 8.29186L10.0836 14.0148C10.426 14.3021 10.5859 14.7524 10.5015 15.1914C10.417 15.6303 10.1015 15.9891 9.67686 16.1289C9.25225 16.2687 8.78524 16.1675 8.45654 15.8646L1.01989 9.32183C0.687812 9.02962 0.49732 8.60879 0.4969 8.16645Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
}

.next-arrow{
  right: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='45' height='44' viewBox='0 0 45 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_14_327)'%3E%3Crect width='36' height='36' rx='4' transform='matrix(-1 0 0 1 40.7646 4)' fill='%23CBCACA'/%3E%3Cpath d='M28.2678 22.1664C28.2683 21.725 28.0787 21.3048 27.7474 21.0131L20.3081 14.4683C19.7954 14.0381 19.033 14.0959 18.591 14.5984C18.1489 15.101 18.189 15.8645 18.6811 16.3181L25.1865 22.041C25.2226 22.0727 25.2433 22.1184 25.2433 22.1664C25.2433 22.2145 25.2226 22.2602 25.1865 22.2919L18.6811 28.0148C18.3387 28.3021 18.1787 28.7524 18.2632 29.1914C18.3476 29.6303 18.6632 29.9891 19.0878 30.1289C19.5124 30.2687 19.9794 30.1675 20.3081 29.8646L27.7448 23.3218C28.0768 23.0296 28.2673 22.6088 28.2678 22.1664Z' fill='%232D2D2D'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_14_327' x='0.764648' y='0' width='44' height='44' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_14_327'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_14_327' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}

.slick-current {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

#welcome-preview-banner-modal{
  background-color: rgba(0, 0, 0, 0);
  top: 50% !important;
  width: 85vw;
  max-height: unset;
  transform: translateY(-50%) !important;
}

#welcome-preview-banner-modal .modal-content{
  height: 100%;
  padding: 16px;
  position: relative;
}

#welcome-preview-banner-modal .modal-content ul li img{
  width: 711px;
  height: 440px;
  border-radius: 8px;
}

.slides{
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slider-container {
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}

/* General dropdown styles start */
#edit-intent-type-container .select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder,
#intent-type-container .select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder{
  color: #7B7A7B;
  font-family: "Silka",sans-serif;
  font-size: 14px;
  background-repeat: no-repeat !important;
  background: url('./img/search-icon.svg');
  background-position: left;
  text-indent: 25px;
}
#action-type-container .select2-dropdown,
#intent-type-container .select2-dropdown,
#edit-intent-type-container .select2-dropdown{
  top: 1px !important;
  padding: 0 !important;
  border-radius: 8px !important;
  margin-top: 5px;
}
#intent-type-container .select2-dropdown .select2-search,
#edit-intent-type-container .select2-dropdown .select2-search{
  padding: 8px;
}
#intent-type-container .select2-dropdown .select2-search .select2-search__field,
#edit-intent-type-container .select2-dropdown .select2-search .select2-search__field{
  background-color: #FAFAFA;
  border-radius: 4px !important;
  border: 1px solid #F8F8F8 !important;
  margin: 0;
  margin-top: 0 !important;
}
#intent-type-container .select2-dropdown .select2-search .select2-search__field:focus,
#edit-intent-type-container .select2-dropdown .select2-search .select2-search__field:focus{
  box-shadow: none !important;
}
#action-type-container .select2-dropdown .select2-search{
  display: none !important;
}
#action-type-container .select2-dropdown .select2-results__options,
#intent-type-container .select2-dropdown .select2-results__options,
#edit-intent-type-container .select2-dropdown .select2-results__options{
  border-radius: 8px;
}
#action-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar,
#intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar,
#edit-intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar{
  width: 5px;
}
#action-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-thumb,
#intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-thumb,
#edit-intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-thumb{
  background: #88A3D2;;
  border-radius: 8px;
}
#action-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-track,
#intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-track,
#edit-intent-type-container .select2-dropdown .select2-results__options::-webkit-scrollbar-track{
  background-color: transparent;
  box-shadow: 0 0 0px #777 !important;
  border-radius: 10px;
}

#action-type-container .select2-dropdown .select2-results__option,
#intent-type-container .select2-dropdown .select2-results__option,
#edit-intent-type-container .select2-dropdown .select2-results__option{
  font-family: "Silka",sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  font-style: normal;
  color: #2D2D2D !important;
  margin: 0 !important;
  border-radius: unset !important;
  padding: 12px 16px !important;
  border: 1px solid #F6F6F6 !important;
}
#action-type-container .select2-dropdown .select2-results__option--highlighted,
#intent-type-container .select2-dropdown .select2-results__option--highlighted,
#edit-intent-type-container .select2-dropdown .select2-results__option--highlighted{
  background-color: #F6F6F6 !important;
}
#action-type-container .select2-dropdown .select2-results__option--selected,
#intent-type-container .select2-dropdown .select2-results__option--selected,
#edit-intent-type-container .select2-dropdown .select2-results__option--selected{
  background-color: #F6F6F6 !important;
  color: #2D2D2D !important;
}
#action-type-container .select2-container--default .select2-results__option[aria-selected="true"],
#intent-type-container .select2-container--default .select2-results__option[aria-selected="true"],
#edit-intent-type-container .select2-container--default .select2-results__option[aria-selected="true"]{
  background: #F6F6F6 !important;
  color: #2D2D2D !important;
}
#action-type-container .select2-container--default .select2-results>.select2-results__options,
#intent-type-container .select2-container--default .select2-results>.select2-results__options,
#edit-intent-type-container .select2-container--default .select2-results>.select2-results__options{
  max-height: 130px !important;
}
#action-type-container .select2-container--default .select2-results__option--disabled,
#intent-type-container .select2-container--default .select2-results__option--disabled,
#edit-intent-type-container .select2-container--default .select2-results__option--disabled{
  display: none;
}

/* General dropdown styles end */

.disable-active-state{
  opacity: 0.5;
  pointer-events: none;
}

/* Banner preview css starts */
#welcome_conversion_analytics_table_scroll table tbody tr td:nth-child(4) {
  max-width: 230px;
}
.welcome-banner-collapsible-body-wrapper {
  padding: 0.5rem 2rem !important;
}

.easychat-welcome-banner-item-container .image-div {
  width: 110px;
  height: 60px;
}

.easychat-welcome-banner-item-container .image-div img {
  width: 100%;
  height: 100%;
}

.icons-div button{
  margin: 0 10px !important;
}

.banner-edit-icon,
.banner-eye-icon,
.banner-cross-icon {
  position: relative !important;
  cursor: pointer !important;
  border: none !important;
  background: transparent !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0px !important;
  margin: 0px !important;
}

.banner-cross-icon {
  margin-right: 0px !important;
}

.easychat-welcome-banner-list-image-name-wrapper {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.easychat-welcome-banner-list-image-name-wrapper .image-name-div {
  margin-left: 12px;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.easychat-welcome-banner-item-container table thead tr th {
  font-weight: 500 !important;
  background: #fff !important;
  border: none !important;
  font-size: 16px !important;
  color: #2D2D2D !important;
}

.easychat-welcome-banner-item-container table tbody {
  box-shadow: none !important;
}

.easychat-welcome-banner-item-container table tbody tr td {
  border: none !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: #4D4D4D !important;
  word-break: break-word;
}

.easychat-welcome-banner-item-container table tbody tr td:nth-child(2) {
  max-width: 220px;
}

.easychat-welcome-banner-item-container table tbody tr td:nth-child(3) {
  max-width: 220px;
}

.easychat-welcome-banner-item-container table tbody tr td:last-child {
  text-align: center !important;
  min-width: 210px !important;
}

.easychat-welcome-banner-item-container table tbody tr td a {
  color: #0254D7 !important;
}

.easychat-welcome-banner-item-container table tr {
  border: 1px solid #CBCACA !important;
  border-right: none !important;
  border-left: none !important;
  background-color: #ffffff;
  cursor: move;
}

.easychat-welcome-banner-item-container table tr:first-child {
  border-top: none !important;
}

#preview-banner {
  margin-top: 24px !important;
  margin-left: 12px !important;
  margin-bottom: 0px;
}

.easychat-welcome-banner-item-container {
  overflow: hidden;
  padding: 0px !important;
  margin: 0px 12px !important;
  border: 1px solid #CBCACA !important;
  border-radius: 4px !important;
  border-bottom: none !important;
  width: 98% !important;
}

/* Banner preview css ends */

/* Edit modal css starts */

#edit-welcome-banner-redirecturl-modal .modal-footer{
  background-color: #fafafa;
}

/* Edit modal css ends */

.ui-sortable-helper {
  display: table !important;
}

#intent-type-container .select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder,
#edit-intent-type-container .select2-dropdown .select2-search .select2-search__field::-webkit-input-placeholder {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2155 19L14.0255 14.81C12.8167 15.8169 11.2663 16.319 9.69671 16.2118C8.12716 16.1047 6.65934 15.3966 5.59859 14.2348C4.53784 13.073 3.96584 11.5469 4.00158 9.97415C4.03732 8.40136 4.67804 6.90288 5.79046 5.79046C6.90288 4.67804 8.40136 4.03732 9.97415 4.00158C11.5469 3.96584 13.073 4.53784 14.2348 5.59859C15.3966 6.65934 16.1047 8.12716 16.2118 9.69671C16.319 11.2663 15.8169 12.8167 14.81 14.0255L19 18.2155L18.2155 19ZM10.1229 5.12948C9.13527 5.12948 8.16985 5.42234 7.34869 5.97102C6.52753 6.5197 5.88752 7.29956 5.50958 8.21198C5.13164 9.1244 5.03276 10.1284 5.22543 11.097C5.4181 12.0657 5.89367 12.9554 6.59201 13.6537C7.29035 14.3521 8.18008 14.8276 9.14871 15.0203C10.1173 15.213 11.1213 15.1141 12.0338 14.7362C12.9462 14.3582 13.726 13.7182 14.2747 12.897C14.8234 12.0759 15.1163 11.1105 15.1163 10.1229C15.1148 8.79899 14.5882 7.52976 13.6521 6.59363C12.716 5.65751 11.4467 5.13095 10.1229 5.12948Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A") no-repeat 0px -3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 0px;
  height: 18px;
  width: 18px;
  margin-left: -12px;
  margin-top: -8px;
  background: #fff url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.793 6.23271C14.0787 6.53263 14.0672 7.00737 13.7672 7.29306L8.51678 12.2944C8.22711 12.5703 7.77187 12.5703 7.4822 12.2944L2.23173 7.29306C1.93181 7.00737 1.92028 6.53263 2.20597 6.23271C2.49166 5.93279 2.96639 5.92125 3.26631 6.20694L7.99949 10.7155L12.7327 6.20694C13.0326 5.92125 13.5073 5.93279 13.793 6.23271Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0px;
  margin-top: -3px;
  margin-left: -10px;
  background: #fff url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.206023 6.26863C-0.0796766 5.96871 -0.0681772 5.49397 0.231823 5.20828L5.48224 0.206941C5.77191 -0.0689588 6.22715 -0.0689588 6.51682 0.206941L11.7673 5.20828C12.0672 5.49397 12.0787 5.96871 11.7931 6.26863C11.5074 6.56855 11.0326 6.58009 10.7327 6.2944L5.99953 1.78584L1.26632 6.2944C0.966423 6.58009 0.491723 6.56855 0.206023 6.26863Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A") no-repeat 4% 2px;
}
/* Welcome Banner styles */
.ui-state-highlight {
   height: 95px; 
   line-height: 1.2em;
}

.sticky-intent-menu-text {
  display: -webkit-box;
    display: -moz-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-word;
    font-size: 14px !important;
    line-height: 18px;
}

#bot-popup-options-web-channel .select2-selection__arrow,
#select-action-type .select2-selection__arrow,
#edit-select-action-type .select2-selection__arrow,
#edit-web-url-intent .select2-selection__arrow,
#edit-select-intent .select2-selection__arrow,
#select-bot-position-dropdown .select2-selection__arrow,
#select-web-url-intent .select2-selection__arrow,
#select-font-dropdown .select2-selection__arrow {
  top: 9% !important;
  right: 5px !important;
}

#channel-web-url-landing .input-field .select2-container{
  width: 100% !important;
}

/* Custom Intents for Webpages */

#enable_custom_intents_web1 th,
#enable_custom_intents_web2 th {
    background: #FAFAFA!important;
    border-right: 1px solid #FFF!important;
}

/* table.dataTable.no-footer {
    border-bottom: 1px solid #e5e5e5!important;
    border: 1px solid #e5e5e5!important;
    height: 250px!important;
    overflow-y: scroll!important;
    display: block;
} */

#enable_custom_intents_web1 tbody,
#enable_custom_intents_web2 tbody {
    border: 1px solid #e5e5e5!important;
}

#enable_custom_intents_web1 table,
#enable_custom_intents_web2 table {
    height: 200px!important;
    overflow-y: scroll!important;
}

#enable_custom_intents_web1 .custom_intents_web td,
#enable_custom_intents_web2 .custom_intents_web td {
    font-weight: 500!important;
    font-size: 12px!important;
    line-height: 18px!important;
    font-family: 'Silka'!important;
    padding: 0px 5px 0px 10px!important;
    border-right: 1px solid #FFF!important;
    padding: 12px 32px!important;
}

.custom_intents_web .url,
#enable_custom_intents_web2 .url {
    color: #2741FA!important;
}

#enable_custom_intents_web2 .border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)!important;
}

.custom_intents_web .Intents {}

.custom_intents_web .Intents span {
    background: #EFF6FF!important;
    border-radius: 4px!important;
    padding: 5px 15px 5px 16px!important;
    margin: 7px 5px!important;
    display: inline-flex!important;
    line-height: 20px!important;
    box-sizing: border-box!important;
    word-break: break-word!important;
}

.custom_intents_web .Action {
    padding: 0px!important;
    text-align: center;
}

.custom_intents_web .Action a {
    margin: 10px!important;
    cursor: pointer!important;
}
.table-bordered
{
    border: 1px solid #e5e5e5!important;
    border-bottom: 0Px!important;
}
.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal {
    width: 440px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    border-radius: 16px !important;
    background-color: #ffffff;
}

.modal.easychat-custom-modals-wrapper .termination-confirmation-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
}

.modal.easychat-custom-modals-wrapper .termination-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-text {
    font-size: 16px;
    line-height: 24px;
    font-family: "Silka", sans-serif;
    text-align: center;
    padding: 10px 20px 20px;
    width: 100%;
    color: #7B7A7B;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-heading-text {
    text-align: center;
    margin-top: 24px;
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-subheading-text {
    text-align: center;
    margin-top: 24px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2D2D2D;
}

.modal.easychat-custom-modals-wrapper .termination-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal.easychat-custom-modals-wrapper .termination-buttons button {
    width: 100%;
    height: 42px;
    border-radius: 4px;
    padding: 7px 16px;
    font-size: 16px;
    line-height: 140%;
}

.modal.easychat-custom-modals-wrapper .termination-no-btn {
    background: #FFFFFF;
    border: 1px solid #CBCACA;
    color: #4D4D4D;
    margin-right: 12px !important;
}

.modal.easychat-custom-modals-wrapper .termination-yes-btn {
    background: #0254D7;
    border: 1px solid #0254D7;
    color: #FFFFFF;
    margin-left: 12px !important;
}

.modal.easychat-custom-modals-wrapper .termination-yes-btn:focus {
    background: #0254D7 !important;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .delete-confirmation-heading-text {
  text-align: center;
  margin-top: 0 ;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7a7b7a;
  padding: 0px 16px;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .delete-heading{
  font-weight: 500;
  font-size: 22px;
  color: #000000;
  margin-top: 32px;
}

.modal.easychat-custom-modals-wrapper .termination-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.modal.easychat-custom-modals-wrapper .termination-buttons a {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 0px 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px !important;
  font-weight: 500;
  margin: 0px;
  box-shadow: none !important;
  cursor: pointer;
}

.modal.easychat-custom-modals-wrapper .termination-no-btn {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  color: #2D2D2D;
  margin-right: 12px !important;
}

.modal.easychat-custom-modals-wrapper .delete-button{
  background-color: #E10E00 !important;
  border-color: #E10E00 !important;
}
/* model css */

#add-intents-modal .modal-content,
.edit-intents-modal .modal-content,
#add-intents-modal1 .modal-content,
.edit-intents-modal1 .modal-content 
 {
    padding: 24px 0px 0px 0px;
}
#add-intents-modal .modal-footer,
.edit-intents-modal .modal-footer,
#add-intents-modal1 .modal-footer,
.edit-intents-modal1 .modal-footer 
{
    border-radius: 0 0 10px 10px!important;
}
#add-intents-modal,
.edit-intents-modal,#add-intents-modal1,
.edit-intents-modal1 {
    background: #FFFFFF!important;
    padding: 0px!important;
    width: 560px;
    overflow: visible !important;
}

#add-intents-modal .modal-content .modal-header,
.edit-intents-modal .modal-content .modal-header,
#add-intents-modal1 .modal-content .modal-header,
.edit-intents-modal1 .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 56px;
    margin-bottom: 32px;
}

#add-intents-modal .modal-header .modal-close-btn,
.edit-intents-modal .modal-header .modal-close-btn,
#add-intents-modal1 .modal-header .modal-close-btn,
.edit-intents-modal1 .modal-header .modal-close-btn  {
    cursor: pointer;
    margin-right: 60px!important;
}

#add-intents-modal .sub-heading,
.edit-intents-modal .sub-heading,
#add-intents-modal1 .sub-heading,
.edit-intents-modal1 .sub-heading  {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
    margin-bottom: 8px;
}

#add-intents-modal.modal-overflow-content-div,
.edit-intents-modal.modal-overflow-content-div,
#add-intents-modal1.modal-overflow-content-div,
.edit-intents-modal1.modal-overflow-content-div{
    width: 100%;
    max-height: calc(100vh - 18rem);
    overflow-y: auto;
    overflow-x: hidden;
    margin: 25px 0px 0px;
    padding: 15px 15px 0px;
}

.intents_url {
    border: 1px solid #CBCACA!important;
    border-radius: 8px!important;
    padding: 16px 24px 15px!important;
    height: 50px!important;
    font-weight: 500!important;
    font-size: 16px!important;
    line-height: 19px!important;
    /* Grey/70 */
    color: #7B7A7B;
    
}

#add-intents-modal input:not(.otp-form):not(.form-control):not(.input),
.edit-intents-modal input:not(.otp-form):not(.form-control):not(.input),
#add-intents-modal1 input:not(.otp-form):not(.form-control):not(.input),
.edit-intents-modal1 input:not(.otp-form):not(.form-control):not(.input) {
    border-bottom: 1px solid #CBCACA !important;
    border: 1px solid #CBCACA!important;
    border-radius: 8px!important;
    padding: 5px 10px 5px 10px!important;
    font-weight: 500!important;
    font-size: 16px!important;
    line-height: 19px!important;
}
#add-intents-modal input:not(.otp-form):not(.form-control):not(.input)::placeholder,
.edit-intents-modal input:not(.otp-form):not(.form-control):not(.input)::placeholder,
#add-intents-modal1 input:not(.otp-form):not(.form-control):not(.input)::placeholder,
.edit-intents-modal1 input:not(.otp-form):not(.form-control):not(.input)::placeholder {
    color: #7B7A7B;
    opacity: 1; 
  }
#add-intents-modal .filter-modal-footer-btn,
.edit-intents-modal .filter-modal-footer-btn,
#add-intents-modal1 .filter-modal-footer-btn,
.edit-intents-modal1 .filter-modal-footer-btn {
    border-radius: 4px!important;
    padding: 10px 20px 35px 20px!important;
    margin-right: 68px!important;
    font-weight: 500!important;
    font-size: 18px!important;
    line-height: 24px;
    margin-top: 1px!important;
}

.webpage-add-intents-dropdown-ui .select2-container {
    display: none;
}

.webpage-add-intents-dropdown-ui ul li input {
    left: 0px !important;
    width: 20px !important;
    height: 20px !important;
    display: block !important;
}
/* Add Intents for web pages modal */

.webpage-add-intents-dropdown-ui .ms-options-wrap>button:focus,.webpage-add-intents-dropdown-ui .ms-options-wrap>button
{
    border-bottom: 1px solid #CBCACA !important;
    border: 1px solid #CBCACA!important;
    border-radius: 8px!important;
    padding: 5px 10px 5px 10px!important;
    font-weight: 500!important;
    font-size: 16px!important;
    line-height: 19px!important;
    width: 104%;
    height: 48px;
    color: #7B7A7B;

}
.webpage-add-intents-dropdown-ui .ms-options-wrap>.ms-options {
    width: 104%;
}
.webpage-add-intents-dropdown-ui .ms-options-wrap>.ms-options>ul label
{
    background: #FFFFFF;
    padding: 12px 54px 11px;
    justify-content: left;
}
.webpage-add-intents-dropdown-ui .ms-options-wrap>.ms-options>ul input[type="checkbox"] {
    margin: 0px 0px 0px 20px!important;
}

/* END custom intents for webpages END */

#modal-change-theme {
  max-width: 92% !important;
  width: auto !important;
  top: 2% !important;
  background-color: #ffffff;
  height: auto;
  min-height: auto !important;
  max-height: unset;
}

#modal-change-theme .modal-header {
  height: 70px;
  border: 1px solid #EBEBEB;
  display: flex;
  align-items: center;
  box-shadow: none !important;
  padding-left: 24px;
}

#modal-change-theme .modal-footer {
  background: #F9F9F9;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 24px;
  column-gap: 12px;
  position: unset !important;
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06) !important;
}

#modal-change-theme .modal-content {
  max-height: calc(100vh - 12.5rem) !important;
  height: auto !important;
  padding-bottom: 1em !important;
}

#modal-change-theme .modal-footer .modal-close-btn {
  padding: 0px 24px;
  height: 32px;
  background: #FAFAFA !important;
  border: 1px solid #CBCACA !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #475569 !important;
  margin: 0px !important;
}

#modal-change-theme .modal-footer .modal-submit-btn {
  padding: 0px 24px;
  height: 32px;
  background: #0254D7 !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF !important;
  margin: 0px !important;
}

#modal-change-theme .easychat-theme-wrapper {
  width: 255px !important;
}

#modal-change-theme .easychat-theme-selector {
  margin-left: 1%;
}
#modal-change-theme .easychat-theme-selector input {
  position: relative !important;
  display: none;
}

@media screen and (min-width: 1300px) and (max-width: 2000px) {
  #modal-change-theme .easychat-theme-selector {
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  #modal-change-theme {
      max-width: 85% !important;
  }
}

@media screen and (max-width: 1200px) {
  #modal-change-theme {
      max-width: 70% !important;
  }
}

#modal-change-theme .modal-content::-webkit-scrollbar {
  width: 6px;
}

#modal-change-theme .modal-content::-webkit-scrollbar-thumb {
  background: #88A3D2;
  border-radius: 2px;
}

#modal-change-theme .modal-content::-webkit-scrollbar-track {
  background: #F6F8FF;
  border-radius: 2px;
}

#allincall-popup-wrapper{
  z-index: 2147483646 !important;
}
.intent-icon-choices-wrapper{
  width: 365px;
}
.intent-icon-choices-wrapper .ms-options-wrap>.ms-options>ul input[type="checkbox"] {
  display: block;
}
.intent-icon-choices-wrapper .ms-options-wrap{
  width: 100%;
  margin: 0px;
}
.intent-icon-choices-wrapper .ms-options-wrap li.selected{
  border: none;
}
.intent-icon-choices-wrapper .ms-options-wrap>button{
  margin-top: 0px !important;
  border: 1px solid #ebebeb;
  border-radius: 4px;

}
.intent-icon-choices-wrapper .ms-options-wrap>.ms-options{
  border: 1px solid #EBEBEB;
  box-shadow: 0px 4px 4px rgb(50 50 71 / 8%), 0px 4px 8px rgb(50 50 71 / 6%);
  border-radius: 4px;
}
.intent-icon-choices-wrapper .ms-options-wrap>.ms-options>.ms-search input{
  border-radius: 4px !important;
}
.intent-icon-choices-wrapper .ms-options-wrap>.ms-options>ul input[type="checkbox"] {
  left: 12px;
}
.intent-icon-choices-wrapper .ms-options-wrap>.ms-options>ul label{
  padding: 9px 11px 9px 42px;
  border-top: 1px solid #f8f8f8;
  margin: 0px;
  letter-spacing: 0.24px;
  word-break: break-word;
  justify-content: flex-start;
}
.intent-icon-choices-wrapper .ms-options-wrap>button:after{
  content: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.793 6.23271C14.0787 6.53263 14.0672 7.00737 13.7672 7.29306L8.51678 12.2944C8.22711 12.5703 7.77187 12.5703 7.4822 12.2944L2.23173 7.29306C1.93181 7.00737 1.92028 6.53263 2.20597 6.23271C2.49166 5.93279 2.96639 5.92125 3.26631 6.20694L7.99949 10.7155L12.7327 6.20694C13.0326 5.92125 13.5073 5.93279 13.793 6.23271Z' fill='%232D2D2D'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(0deg);
  height: 20px;
  width: unset;
  border: 0px;
  border-top-color: none; 
  margin-top: 0px;
}
.intent-icon-choices-wrapper .ms-options-wrap.ms-active>button:after {
  margin-top: -12px;
}
.intent-icon-choices-wrapper .ms-options-wrap>.ms-options>ul::-webkit-scrollbar {
  width: 4px;
}
.intent-icon-choices-wrapper .ms-options-wrap>.ms-options>ul::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #DADADA;
}
.intent-icon-choices-wrapper .ms-options-wrap>.ms-options>ul label:hover, 
.intent-icon-choices-wrapper .ms-options-wrap>.ms-options>ul label.focused {
  background-color: #F6F6F6;
}