.container .select-box {
  display: flex;
  width: 310px;
  flex-direction: column;
}

.container .select-box .options-container {
  color: #2D2D2D;
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  background: #fff;
  border: 1px solid #E1E1E1;
  border-radius: 0 0 10px 18px;
  border-top: 0;
  overflow: hidden;
  order: 1;
}

.container .selected {
  background: #fff;
  border-radius: 25px 0 0 25px;
  border-right: 0;
  color: #909090;
  position: relative;
  max-height: 140px;
  overflow-y: scroll;
  font-family: Silka;
  font-size: 14px;
  margin-right: 16px;
  padding: 5px !important;
  order: 0;
}

.container .selected::-webkit-scrollbar {
  width: 5px;
  background: #fff;
  border: 1px solid #f6f6f6;
  border-radius: 0 25px 25px 0;
  border-left: 0;
}

.container .selected::-webkit-scrollbar-thumb {
  background: #88A3D2;
  border-radius: 0 25px 25px 0;
}



.container .select-box .options-container.active {
  max-height: 215px;
  opacity: 1;
  overflow-y: scroll;
}

.container .select-box .options-container::-webkit-scrollbar {
  width: 5px;
  background: #F3F6FF;
  border: 1px solid #E1E1E1;
  border-left: 0px;
  border-radius: 0 0 18px 0;
}

.container .select-box .options-container::-webkit-scrollbar-thumb {
  background: #88A3D2;
  border-radius: 18px;
}

.container .select-box .option,
.selected {
  padding: 12px 24px;
  border-bottom: 1px solid #F3F6FF;
}

.container .select-box .option:hover {
  background: #F3F6FF;
}

.container .select-box label {
  cursor: pointer;
}

.container .option label {
  font-family: Silka;
  font-size: 16px;
  color: #2D2D2D;
}

.container .select-box .option .radio {
  display: none;
}

.container .option {
  position: relative;
}

.container .item-checkbox {
  opacity: 1 !important;
  position: absolute;
  right: 35px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-100%);
}

.container .tag {
  display: inline-flex;
  color: #2755CB;
  border: 1px solid #2755CB;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 3px;
  margin-bottom: 5px;
  font-size: 10px;
}

.container .wrapper-box {
  position: relative;
  padding: 5px;
  padding-right: 8px;
  border: 1px solid #e1e1e1;
  border-radius: 25px;
  margin-bottom: 8px;
  cursor: pointer;
}

.container .box {
  position: relative;
}

.container .arrow {
  color: #2D2D2D;
  position: absolute;
  right: 3px;
  top: 50%;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 20px;
  transform: translateY(-50%) rotate(0deg);
}

.container .search-box {
  padding: 10px 10px 0 10px;
  padding-bottom: 0;
  border: 1px solid #e1e1e1;
  border-bottom: 0;
  height: 52px;
  width: 310px;
  opacity: 0;
  border-radius: 18px 18px 0 0;
  pointer-events: none;
  transition: all 0.4s;
}

.container .search-box input {
  position: absolute;
  width: 250px;
  height: 40px;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 16px;
  z-index: 100;
  border: 1px solid #e1e1e1;
  margin-left: 4px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  background: #f6f6f6;
}

.container .search-box input:focus {
  outline: none;
}

.container .search-box input::-webkit-input-placeholder {
  color: #909090;
  font-family: Silka;
  font-size: 14px;
  background-repeat: no-repeat;
  background: url('data:image/svg+xml;utf8,<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.6875 12.0689L9.38346 8.76486C10.1774 7.81169 10.5734 6.5891 10.4889 5.35145C10.4044 4.11379 9.84601 2.95635 8.92988 2.1199C8.01375 1.28346 6.81041 0.83241 5.57019 0.86059C4.32997 0.88877 3.14836 1.39401 2.27117 2.2712C1.39398 3.14839 0.888739 4.33 0.860559 5.57022C0.832379 6.81044 1.28343 8.01378 2.11987 8.92991C2.95632 9.84604 4.11376 10.4044 5.35142 10.4889C6.58907 10.5734 7.81166 10.1775 8.76483 9.38349L12.0688 12.6875L12.6875 12.0689ZM1.74996 5.68749C1.74996 4.90872 1.98089 4.14745 2.41355 3.49993C2.84621 2.85241 3.46116 2.34773 4.18064 2.04971C4.90013 1.75169 5.69183 1.67372 6.45563 1.82565C7.21943 1.97758 7.92102 2.35259 8.47169 2.90326C9.02236 3.45393 9.39737 4.15552 9.5493 4.91932C9.70123 5.68312 9.62325 6.47482 9.32523 7.1943C9.02721 7.91379 8.52253 8.52874 7.87502 8.9614C7.2275 9.39406 6.46622 9.62499 5.68746 9.62499C4.64352 9.62383 3.64268 9.20862 2.9045 8.47044C2.16633 7.73227 1.75112 6.73142 1.74996 5.68749Z" fill="%23909090"/></svg>')center / contain no-repeat;
  background-position: left;

}

.container .select-box .options-container.active~.search-box input {
  opacity: 1;
  pointer-events: auto;
}

.container .select-box .options-container.active~.search-box {
  opacity: 1;
  pointer-events: auto;
}

.container hr {
  height: 1px;
  background-color: #F3F6FF;
  border: none;
}

#languages-extend-button {
  background: #2755CB;
  border: 1px solid #2755CB;
  border-radius: 27px;
  padding: 3px 8px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  z-index: 1000;
  margin: 5px 2px;
}

.container .no-elem {
  display: none;
  text-align: center;
  padding: 10px;
}

.container .selected-language-cross-btn {
  z-index: 1000;
  padding-left: 5px;
  cursor: pointer;
  width: 12px;
  height: 15px;
}

.container #search-box-input:focus {
  border: 1px solid #e1e1e1 !important;
}

#circle {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 100%;
  position: absolute;
  top: 6px;
  left: -12px;
  margin-right: 15px;
}

.collapsible-body .choose-language {
  display: flex;
  position: relative;
  margin-top: 0rem;
}

.collapsible-body .dashed-line {
  border: none;
  border-top: 1.35789px dashed rgba(154, 170, 235, 0.35);
  color: #fff;
  background-color: #fff;
  height: 1px;
}

#add-language-colapsible-body {
  padding: 0rem 1rem;
}

.language-chip-display-name {
  min-width: 25px;
}

#selected-language-chips-wrapper {
  padding: 3px;
}

.container .selected {
  padding: 2px 5px !important;
}

.container .tag {
  padding: 3px 7px;
  font-size: 14px;
  align-items: center;
}

#language-change-loader-gif {
  width: 220px;
  height: 160px !important;
}

#modal-language-change-loader .modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  flex-direction: column;
}

#modal-language-change-loader {
  top: 50% !important;
  transform: scaleX(1) scaleY(1) translateY(-50%) !important;
  width: 200px;
}

.language-autofix-popup-warning-div {
  padding: 12px 20px;
  background: #FFFFFF;
  border: 1px solid #F3F6FF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), 0px 16.875px 11.25px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
}

.language-autofix-popup-warning-div p {
  margin-top: 0px;
  font-weight: 500;
  font-size: 16px;
  color: #4D4D4D;
}

.language-autofix-popup-warning-div-buttons {
  display: flex;
  justify-content: flex-end;
}

.language-autofix-popup-warning-div-buttons a {
  font-weight: 500;
  font-size: 16px;
  margin-left: 20px;
  cursor: pointer;
}

.language-autofix-popup-warning-div-buttons .popup-warning-ignore-btn {
  color: #333333;
}

.language-autofix-popup-warning-div-buttons .popup-warning-autofix-btn {
  color: #2755CB;
}

.language-autofix-popup-warning-container {
  margin-bottom: 10px;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 23px;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch input {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider {
  position: absolute !important;
  cursor: pointer !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  -webkit-transition: .4s;
  transition: .4s !important;
  height: unset !important;
  border: none !important;
  background: #FFF9F9 !important;
  box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper#whatsapp_catalog_toggle .easychat-custom-toggle-slider.easychat-custom-toggle-round:before {
  position: absolute !important;
  content: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.06055' y='0.848267' width='7' height='7' rx='3.5' stroke='%23FF281A'/%3E%3C/svg%3E%0A") !important;
  height: 23px !important;
  width: 23px !important;
  left: 0px !important;
  bottom: 0px !important;
  -webkit-transition: .4s;
  transition: .4s !important;
  border: none !important;
  top: 0px !important;
  margin: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F8FAFC !important;
  border-radius: 50% !important;
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider {
  background: #0253D6 !important;
  box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
}

#whatspp_catalogue_settings_wrapper .active .collapsible-body.catalog-collapse-body .easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px) !important;
  content: url("data:image/svg+xml,%3Csvg width='3' height='9' viewBox='0 0 3 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.987305' y='0.892334' width='1' height='7' rx='0.5' stroke='%230254D7'/%3E%3C/svg%3E%0A") !important;
}

#add_item_modal .easychat-custom-switch-toggle-wrapper [type="checkbox"]:checked+span:not(.lever):not(.lever-custom):before,
#edit_item_modal .easychat-custom-switch-toggle-wrapper [type="checkbox"]:checked+span:not(.lever):not(.lever-custom):before{
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px) !important;
  content: url("data:image/svg+xml,%3Csvg width='3' height='9' viewBox='0 0 3 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.987305' y='0.892334' width='1' height='7' rx='0.5' stroke='%230254D7'/%3E%3C/svg%3E%0A") !important;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round {
  border-radius: 34px;
}

.easychat-custom-switch-toggle-wrapper {
  display: flex;
  width: 100%;
  column-gap: 12px;
  align-items: center;
}

.easychat-custom-switch-toggle-wrapper>span {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #9E9E9E;
}

.easychat-collapse-data-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.6px;
  color: #4d4d4d;
}

.whatsapp-menu-format-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  width: max-content;
  height: 32px;
  background: #0254D7;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.whatsapp-menu-format-btns-wrapper {
  display: flex;
  width: 100%;
  column-gap: 12px;
}

.whatsapp-section-btn-disabled {
  /* pointer-events: none;
  opacity: 0.4; */
  cursor: default;
  position: relative;
}

.easychat-whatsapp-menu-item-wrapper {
  background: #FFFFFF;
  padding: 24px 32px 0px;
  border: 1px solid #F6F6F6;
  border-radius: 4px;
  margin: 24px 0px;
}

.easychat-whatsapp-menu-item-header {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: #2C3E51;
  display: flex;
  width: 33.3%;
  margin-top: 6px;
}

.easychat-whatsapp-menu-data-item {
  display: flex;
  width: 100%;
  margin-bottom: 24px;
}

.whatsapp-menu-item-title-wrapper {
  display: flex;
  width: 66.6%;
  justify-content: space-between;
}

.whatsapp-menu-item-title-wrapper input:focus {
  border-radius: 4px !important;
}

.whatsapp-menu-item-action-btns-wrapper {
  display: flex;
  column-gap: 12px;
  margin-top: -6px;
}

.whatsapp-menu-item-action-btns-wrapper a {
  height: 20px;
}

.whatsapp-menu-item-selected-intent-wrapper {
  /* display: flex; */
  width: 66.6%;
  padding: 12px 12px 4px 12px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 6px;
}

.whatsapp-menu-selected-intent-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  min-width: 120px;
}

.whatsapp-menu-selected-intent-chip {
  display: inline-flex;
  padding: 4px 12px;
  margin: 0px 5px 8px 0px;
  background: #0254D7;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.whatsapp-menu-selected-intent-div {
  display: flex;
  width: 100%;
  letter-spacing: 0.24px;
  margin-bottom: 10px;
}

.whatsapp-menu-item-selected-intent-wrapper .whatsapp-menu-selected-intent-div:last-child {
  margin-bottom: 0px;
}

.easychat-whatsapp-menu-format-data-wrapper {
  position: relative;
  display: none;
}


/* modal css */

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal {
  width: 415px !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border-radius: 16px !important;
  background-color: #ffffff;
}

.modal.easychat-custom-modals-wrapper .termination-confirmation-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}

.modal.easychat-custom-modals-wrapper .termination-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-text {
  font-size: 16px;
  line-height: 24px;
  font-family: "Silka", sans-serif;
  text-align: center;
  padding: 10px 20px 20px;
  width: 100%;
  color: #7B7A7B;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-heading-text {
  text-align: center;
  margin-top: 24px;
  width: 100%;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.modal.easychat-custom-modals-wrapper.easychat-custom-delete-modal .termination-confirmation-subheading-text {
  text-align: center;
  margin-top: 24px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #2D2D2D;
}

.modal.easychat-custom-modals-wrapper .termination-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-top: 32px;
}

.modal.easychat-custom-modals-wrapper .termination-buttons button {
  border-radius: 4px;
  padding: 7px 16px;
  font-size: 16px;
  line-height: 140%;
  display: flex !important;
  width: 100% !important;
  height: 40px !important;
  align-items: center;
  justify-content: center;
  margin: 0px !important;
  box-shadow: none !important;
}

.modal.easychat-custom-modals-wrapper .termination-no-btn {
  background: #FFFFFF;
  margin-right: 12px !important;
  border: 1px solid #EBEBEB !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 19px;
  color: #2D2D2D !important;
}

.modal.easychat-custom-modals-wrapper .termination-yes-btn {
  border: 1px solid #1B65DB;
  margin-left: 12px !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 19px;
  color: #FFFFFF !important;
  background: #1B65DB !important;
}

.modal.easychat-custom-modals-wrapper .termination-yes-btn:focus {
  background: #0254D7 !important;
}

#easychat_whatsapp_menu_delete_modal .termination-confirmation-modal-container {
  padding-left: 0px !important;
}

#easychat_whatsapp_menu_delete_modal .termination-confirmation-heading-text {
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #2D2D2D !important;
  padding: 0px 10px;
}

.modal.easychat-custom-modals-container {
  background: #fff !important;
  max-height: 90%;
  top: 4% !important;
  padding: 0px !important;
  overflow: visible !important;
}

.modal.easychat-custom-modals-container .modal-footer {
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0px 0px 16px 16px;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px !important;
  position: static;
  height: 40px !important;
  background: #0254D7 !important;
  border-radius: 4px !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #FFFFFF;
  margin: 0px 20px;
  font-family: unset !important;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel {
  font-weight: 500 !important;
  font-size: 14px !important;
  display: flex;
  align-items: center;
  height: 40px !important;
  color: #475569 !important;
  background: transparent !important;
  font-family: unset !important;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel:hover {
  box-shadow: none !important;
}

.modal.easychat-custom-modals-container .modal-content {
  padding: 1.5rem 3rem 0rem 3rem !important;
}

.modal.easychat-custom-modals-container .modal-content .modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  height: 45px;
  padding-bottom: 10px;
  padding-left: 2px;
}

.modal.easychat-custom-modals-container .modal-content .modal-header .modal-close-btn {
  background: transparent;
  box-shadow: none;
  padding-top: 12px;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div {
  width: 100%;
  max-height: calc(100vh - 16rem);
  overflow: visible;
  padding-bottom: 16px;
  padding-left: 2px;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div::-webkit-scrollbar {
  display: none;
}

.modal.easychat-custom-modals-container .modal-heading-text-div {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.easychat-modal-custom-subheading {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #2D2D2D;
  letter-spacing: 0.25px;
}

.modal.easychat-custom-modals-container .whatsapp-add-section-title-input:focus {
  box-shadow: none !important;
  border-radius: 4px !important;
}

.whatsapp-add-section-title-input-limit-div {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4D4D4D;
  width: 60%;
  text-align: right;
  letter-spacing: 0.24px;
}

.easychat-whatsapp-add-intent-dropdown-div .select2 {
  display: none;
}


/* dropdown css */

.preview-container {
  width: 80%;
  max-height: 200px;
  background: #ffffff;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  /* margin: 5px; */
  max-height: 115px;
}

.preview-container span {
  margin: 0px 8px 4px 0px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 12px;
  color: #ffffff;
  background: #0254d7;
  border-radius: 4px;
  box-sizing: border-box;
  word-break: break-word;
  column-gap: 8px;
  width: max-content;
}

.preview-container span a {
  height: 16px;
  cursor: pointer;
}

.preview-container span b {
  height: 18px;
  cursor: grabbing;
  display: none;
}

.preview-container span:hover b {
  display: block;
}

.preview-container {
  display: flex;
  width: 55%;
  row-gap: 4px;
  margin-top: 4px;
}

.dropdown-preview-header-wrapper {
  display: flex;
}

.dropdown-preview-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  width: 80px;
  margin-right: 8px;
}


/* .catalog-collapse-header {
  padding-bottom: 24px;
}

.catalog-collapse-body {
  border-top: 1px solid #F1F5F9 !important;
  padding-top: 42px !important;
} */

.whatsapp-catalog-radio-container [type="radio"]+span:before,
.whatsapp-catalog-radio-container [type="radio"]+span:after {
  margin: 4px 4px 4px 0px;
  width: 20px !important;
  height: 20px !important;
}

.whatsapp-catalog-radio-container {
  background-color: #FAFAFA;
  padding: 20px 24px !important;
}

.whatsapp-catalog-radio-container label:first-child {
  margin-right: 20px;
}

.whatsapp-catalog-radio-container [type="radio"]:not(:checked)+span:before,
.whatsapp-catalog-radio-container [type="radio"]:not(:checked)+span:after {
  border: 2px solid #dadada;
}

.whatsapp-catalog-radio-container [type="radio"]:checked+span:after,
.whatsapp-catalog-radio-container [type="radio"].with-gap:checked+span:after {
  background-color: #0254d7;
}

.whatsapp-catalog-radio-container [type="radio"]:checked+span:after,
.whatsapp-catalog-radio-container [type="radio"].with-gap:checked+span:before,
.whatsapp-catalog-radio-container [type="radio"].with-gap:checked+span:after {
  border: 2px solid #0254d7;
}

.whatsapp-catalog-radio-container [type="radio"].with-gap:checked+span:after {
  -webkit-transform: scale(0.45);
  transform: scale(0.45);
}

.whatsapp-catalog-radio-container [type="radio"]:not(:checked)+span,
.whatsapp-catalog-radio-container [type="radio"]:checked+span {
  padding-left: 38px;
  margin-right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #4D4D4D;
}

.easychat-catalog-whatsapp-data-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #4D4D4D;
  letter-spacing: 0.24px;
  display: flex;
  align-items: center;
  min-height: 40px !important;
}

.whatsapp-single-product-catalog-div,
.whatsapp-multiple-product-catalog-div {
  background-color: #FAFAFA;
  padding: 20px 14px !important;
}

.whatsapp-catalog-detail-input {
  background: #FFFFFF !important;
}

.whatsapp-catalog-detail-input::placeholder,
#catalog_modal_product_id_input::placeholder,
.whatsapp-add-section-title-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CBCACA;
}

.whatsapp-catalog-tymbug-editor .trumbowyg-editor {
  min-height: 80px !important;
}

.whatsapp-catalog-tymbug-editor .trumbowyg-box {
  min-height: 80px !important;
  border: 1px solid #CBCACA !important;
  border-radius: 1px;
}

.whatsapp-catalog-padding-left {
  padding-left: 0px !important;
}

.whatsapp-catalog-padding-right {
  padding-right: 0px !important;
}

.easychat-whatsapp-menu-item-wrapper:last-child {
  margin-bottom: 0px !important;
}

.whatsapp-catalog-modal-note-div {
  padding: 8px 15px 8px 16px;
  width: 100%;
  background: #F6F6F6;
  border-radius: 4px;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #380300;
  margin-top: 12px;
  letter-spacing: 0.24px;
}

#catalog_modal_product_id_input {
  display: flex;
  width: 45% !important;
  border: 1.5px solid #EBEBEB !important;
  height: 36px !important;
  border-radius: 4px !important;
}

.whatsapp-catalog-data-wrapper-div {
  display: none;
}

.section-save-btn,
.toggle-disabled {
  pointer-events: none;
  opacity: 0.5;
}

#input_upload_image_bot_welcome_message2:focus {
  border-bottom: none !important;
}

#input_upload_image_bot_welcome_message2 {
  width: 90% !important;
  border-bottom: 1px solid #364b99 !important;
}

.access-token-div {
  display: flex;
  justify-content: space-between;
  margin-top: -8px;
}

.add-section-wrapper {
  background: #FFFFFF !important;
  width: 100%;
  padding: 20px 24px !important;
  margin-bottom: 24px;
}

.add-section-wrapper .add-section-heading-tags {
  display: flex;
  justify-content: space-between;
  margin: 14px 0px;
}

.merge-cart-wrapper {
  background: #FAFAFA;
  padding: 20px 24px !important;
  margin-top: 26px;
}

.preview-container-product-id {
  width: 100% !important;
  padding: 10px 12px !important;
  max-height: 138px !important;
  row-gap: 4px;
  margin-top: 4px;
  display: flex;
  background: #ffffff;
  border: 1px solid #EDEDED;
  box-sizing: border-box;
  border-radius: 4px;
  flex-wrap: wrap;
  overflow-y: auto;
}

.preview-container-product-id span {
  margin: 0px 8px 4px 0px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 4px 12px;
  color: #ffffff;
  background: #0254d7;
  border-radius: 4px;
  box-sizing: border-box;
  word-break: break-word;
  column-gap: 8px;
  width: max-content;
}

.d-none {
  display: none;
}



.collapsible li .collapsible-body .configure-credential-table tbody tr td input {
  background: #FFFFFF;
  border: 2px solid #EBEBEB !important;
  border-radius: 6px !important;
  height: 40px;
  padding: 0 0 0 24px !important;
  margin: 0 !important;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #2D2D2D;
  box-shadow: none !important;
}
.outer-intent-container input[type="text"]:not(.browser-default):focus:not([readonly]):not(.otp-form){
  width: 100%;
}
.collapsible li .collapsible-body .configure-credential-table tbody tr td form{
  width: 96%;
}

.collapsible li .collapsible-body .configure-credential-table tbody tr td input#easychat-whatsapp-mobile {
  width: 96% !important;
}

.whatsapp-configure-credential-note-div p {
  background: #F6F6F6;
  border-radius: 4px;
  margin: 32px 0 0 20px;
  padding: 8px 15px 8px 16px;
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #2D2D2D;
  letter-spacing: 0.25px;
  width: fit-content;
}

.whatsapp-configure-credential-note-div p b {
  font-weight: bolder !important;
  margin-right: 3px;
}

.collapsible li .collapsible-body .configure-credential-table .passowrd-field-div {
  display: flex;
  align-items: center;
  width: 100% !important;
  background: #FFFFFF;
  border: 2px solid #EBEBEB !important;
  border-radius: 6px !important;
  height: 40px;
  padding: 0 24px 0 24px !important;
  margin: 0 !important;
  /* font-family: 'Silka'; */
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #2D2D2D;
  box-shadow: none !important;
}

.collapsible li .collapsible-body .configure-credential-table .passowrd-field-div input {
  border: 0px !important;
  background: transparent !important;
  padding: 0 !important;
  height: 30px;
  box-shadow: none !important;
}

.configure-credential-table .passowrd-field-div span {
  display: inherit;
  cursor: pointer;
}

.show-password-icon {
  display: none;
}

#api_merge_cart_response_wrapper .trumbowyg-editor,
#commerce_merge_cart_response_wrapper .trumbowyg-editor {
  height: 200px !important;
}

.Merge-cart-response {
  background: #FAFAFA;
  padding: 20px 24px !important;
  margin-bottom: 0px !important;
}

.delete-section-btn {
  cursor: pointer;
}
/* aug 5 update */
.auth-token-note {
  border: 1px solid #FAFAFA !important;
  border-bottom: 0px !important;
  padding: 24px !important;
  border-radius: 4px 4px 0px 0px;
  margin: 0px 20px 0px 20px !important;
  width: -webkit-fill-available !important;
  width: -moz-fit-content !important;
  background: #FFFFFF;
}

.access-token-wrapper-div {
  background: #FFFFFF;
  padding: 0px 24px 24px 24px !important;
  border: 1px solid #FAFAFA;
  border-bottom: 0px;
  border-top: 0px;
  border-radius: 4px 4px 0px 0px;
  margin: 0px 20px 0px 20px !important;
  width: -webkit-fill-available !important;
  width: -moz-fit-content !important;
}

.access-token-wrapper-div .easychat-catalog-whatsapp-data-header {
  flex-direction: column !important;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 6px;
}

.access-token-wrapper-div .sub-note {
  font-weight: 400;
  font-size: 12px !important;
  line-height: 22px;
  color: #7B7A7B !important;
  margin: 0px;
}

.catalog-id-wrapper-div {
  background: #FFFFFF;
  padding: 7px 24px 24px 24px !important;
  border-radius: 0px 0px 4px 4px;
  margin: 0px 20px 24px 20px !important;
  width: -webkit-fill-available !important;
  width: -moz-fit-content !important;
}

#sync_products_fb_btn {
  color: #0254D7;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.syncnow-note {
  display: flex;
  align-items: center;
  padding: 8px 16px !important;
  background: #F6F6F6;
  border-radius: 4px;
  height: 56px;
  margin-right: 10px;
  justify-content: space-between;
  gap: 10px;
}

.syncnow-note p {
  margin: 0px;
  color: #2D2D2D;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.auth-token-syncnow-note {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 8px 15px 8px 16px !important;
  height: 34px;
  background: #EFF6FF;
}

.auth-token-syncnow-note p,
.Merge-Cart-response-note p {
  color: #4D4D4D;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin: 0px;
}

.access-token-div a {
  color: #0254D7;
  text-decoration-line: underline;
  cursor: pointer;
}

.Merge-Cart-response-note {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: #F0F0F0;
  padding: 8px 16px;
}

.access-token-div p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #7B7A7B;
}

.c-pointer {
  cursor: pointer;
}

#product_id_input_div,
#add_product_id_input_div,
#multiple-add_product_id_input_div,
#edit_product_id_input_div {
  display: block !important;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.67) !important;
  border: 1px solid #EBEBEB !important;
  border-radius: 5px !important;
  width: 100% !important;
  height: 40px !important;
  padding: 8px 18px !important;
  font-weight: 500;
  font-size: 14px !important;
  line-height: 24px;
}

.product-id-dropdown-wrapper {
  position: relative;
  width: 100%;
}

.product-id-items-container {
  width: 100%;
  box-shadow: 0px 2.02247px 8.08989px rgb(0 32 51 / 16%);
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  overflow-y: auto;
  max-height: 192px;
  position: absolute;
  z-index: 101;
  background: #ffffff;
  top: 51px;
}

.add-product-id-items-container {
  position: relative !important;
  top: -7px !important;
}

.product-id-item {
  display: flex;
  white-space: normal !important;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f3f0f0;
}

.product-id-item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #2D2D2D;
  width: 100%;
  overflow: hidden;
  margin-left: 25px;
}

.product-id-item-text a {
  height: 22px;
  width: 20px;
}

.product-item-no-data-found {
  justify-content: center;
}

.product-id-dropdown-icon {
  position: absolute;
  top: 15px;
  height: 25px;
  cursor: pointer;
  right: 25px;
}

#product_id_container {
  display: none;
}

.product-id-dropdown-active {
  transform: rotate(180deg);
  top: 12px;
}

/* search bar */
.product_id_search_bar_div {
  width: 100%;
  height: 40px;
  background: #FAFAFA;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 1;
  border: 1px solid #F6F6F6 !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 7px 0px 0px 21px;
  display: flex;
}

#product_id_container .product_id_search_bar_div .product_id_search_bar,
#add_product_id_container .product_id_search_bar_div .product_id_search_bar,
#multiple-add_product_id_container .product_id_search_bar_div .product_id_search_bar,
#multiple-edit_product_id_container .product_id_search_bar_div .product_id_search_bar {
  background: #FAFAFA;
  flex: none;
  order: 0;
  width: 90% !important;
  flex-grow: 1;
  border: 0px !important;
  box-shadow: none !important;
  outline: none !important;
  padding-left: 13px !important;
  position: relative;
  top: 23%;
  transform: translateY(-19px);

}

#product_id_container .product_id_search_bar_div .product_id_search_icon,
#add_product_id_container .product_id_search_bar_div .product_id_search_icon,
#multiple-add_product_id_container .product_id_search_bar_div .product_id_search_icon,
#multiple-edit_product_id_container .product_id_search_bar_div .product_id_search_icon {
  top: 5px;
  position: relative;
}

#product-id-search-bar::-webkit-input-placeholder {
  color: #7B7A7B;
}

#add_product_id_container label {
  display: flex;
  height: 100%;
  padding: 12px 24px 11px;
  width: 100%;
  cursor: pointer;
}

#product_item_no_data_found {
  padding: 12px 24px 11px;
}

.add-section-heading-tags {
  display: flex;
  justify-content: space-between;
  margin: 14px 0px;
}

.add-section-end-btn {
  display: flex;
  gap: 15px;
}

.easychat-whatsapp-menu-item-wrapper .whatsapp-menu-item-title-wrapper input.section-title-disabled-input {
  width: 100% !important;
  box-sizing: border-box;
  margin: 0px !important;
  border: 2px solid #EBEBEB !important;
  border-radius: 4px;
  height: 40px !important;
  cursor: url("/static/EasyChatApp/img/red-not-allowed.svg"), auto
}

.catalogue-details-counter {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 11px;
  line-height: 12px;
  color: #2D2D2D;
  margin-right: 8px;
  margin-top: 5px;
}

.section-max-height {
  overflow-y: auto;
  max-height: 138px;
}

#delete_catalogue_section {
  background: #E10E00 !important;
  color: #FFFFFF;
}
.easychat-console-page-back-btn{
  border-radius: 4px !important;
  height: 38px;
}
#whatsapp_catalog_productid_dragable.preview-container{
  max-height: 85px;
}

#whatsapp_catalog_toggle {
  justify-content: space-between;
}

#whatsapp_catalog_toggle a {
  color: #0254D7;
  background: transparent;
}
