/* Whatsapp menu format css starts */
.edit-intent-channel-wise-detail-input label {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    letter-spacing: 0.25px;
    color: #3C47C2 !important;
}

.edit-intent-channel-wise-detail-input .material-icons {
    color: #000000;
    font-size: 20px;
}

.edit-intent-channel-wise-detail-input .easychat-char-count p {
    color: #000;
    letter-spacing: 0.25px;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch {
    position: relative;
    display: inline-block;
    width: 49px;
    height: 23px;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-switch input {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider {
    position: absolute !important;
    cursor: pointer !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    -webkit-transition: .4s;
    transition: .4s !important;
    height: unset !important;
    border: none !important;
    background: #FFF9F9 !important;
    box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round:before {
    position: absolute !important;
    content: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.06055' y='0.848267' width='7' height='7' rx='3.5' stroke='%23FF281A'/%3E%3C/svg%3E%0A") !important;
    height: 23px !important;
    width: 23px !important;
    left: 0px !important;
    bottom: 0px !important;
    -webkit-transition: .4s;
    transition: .4s !important;
    border: none !important;
    top: 0px !important;
    margin: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FAFC !important;
    border-radius: 50% !important;
    box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider {
    background: #0253D6 !important;
    box-shadow: inset 0px 4px 4px rgba(50, 50, 71, 0.08), inset 0px 4px 8px rgba(50, 50, 71, 0.06);
}

.easychat-custom-switch-toggle-wrapper input:checked+.easychat-custom-toggle-slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
    content: url("data:image/svg+xml,%3Csvg width='3' height='9' viewBox='0 0 3 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.987305' y='0.892334' width='1' height='7' rx='0.5' stroke='%230254D7'/%3E%3C/svg%3E%0A") !important;
}

.easychat-custom-switch-toggle-wrapper .easychat-custom-toggle-slider.easychat-custom-toggle-round {
    border-radius: 34px;
}

.easychat-custom-switch-toggle-wrapper {
    display: flex;
    width: 100%;
    column-gap: 12px;
    align-items: center;
}

.easychat-custom-switch-toggle-wrapper>span {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #9E9E9E;
}

.easychat-collapse-data-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.6px;
    color: #2C3E51;
}

.whatsapp-menu-format-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
    width: max-content;
    height: 32px;
    background: #0254D7;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
}

.whatsapp-menu-format-btns-wrapper {
    display: flex;
    width: 100%;
    column-gap: 12px;
    margin-top: 24px;
}

.sync-preview-disabled-btn {
    pointer-events: none;
    opacity: 0.4;
}

.easychat-whatsapp-menu-format-note {
    font-weight: 400;
    font-size: 11px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    color: #4D4D4D;
    column-gap: 12px;
    letter-spacing: 0.24px;
}

.whatsapp-section-btn-disabled {
    /* pointer-events: none;
    opacity: 0.4; */
    cursor: default;
    position: relative;
}

.whatsapp-menu-format-section-btn-tooltip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    width: 233px;
    background: #232F34;
    border-radius: 4px;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    color: #FAFAFA;
    position: absolute;
    left: 104px;
    top: 0px;
    display: none;
    z-index: 101;
    letter-spacing: 0.25px;
}

.whatsapp-section-btn-disabled:hover .whatsapp-menu-format-section-btn-tooltip {
    display: block;
}

.easychat-whatsapp-menu-item-wrapper {
    background: #FAFAFA;
    padding: 24px 32px 0px;
    border: 1px solid #F6F6F6;
    border-radius: 4px;
    margin: 24px 0px;
}

.easychat-whatsapp-menu-item-header {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.6px;
    color: #2C3E51;
    display: flex;
    width: 30%;
    margin-top: 6px;
}

.easychat-whatsapp-menu-data-item {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
}

.whatsapp-menu-item-title-wrapper {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.whatsapp-menu-item-title-wrapper input:focus {
    border-radius: 4px !important;
}

.whatsapp-menu-item-action-btns-wrapper {
    display: flex;
    column-gap: 12px;
    margin-top: -6px;
}

.whatsapp-menu-item-action-btns-wrapper a {
    height: 20px;
    cursor: pointer;
}

.whatsapp-menu-item-selected-intent-wrapper {
    /* display: flex; */
    width: 70%;
    padding: 12px 12px 4px 12px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
}

.whatsapp-menu-selected-intent-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    min-width: 120px;
}

.whatsapp-menu-selected-intent-chip {
    display: inline-flex;
    padding: 4px 12px;
    margin: 0px 8px 8px 0px;
    background: #0254D7;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.whatsapp-menu-selected-intent-div {
    display: flex;
    width: 100%;
    letter-spacing: 0.24px;
    margin-bottom: 10px;
}

.whatsapp-menu-item-selected-intent-wrapper .whatsapp-menu-selected-intent-div:last-child {
    margin-bottom: 0px;
}

.easychat-whatsapp-menu-format-data-wrapper {
    position: relative;
    display: none;
}

.easychat-whatsapp-sync-preview-data-wrapper {
    width: 315px;
    height: 500px;
    background-color: #FFFFFF;
    position: absolute;
    right: -345px;
    top: 60px;
    border-radius: 4px;
    display: none;
}

.easychat-whatsapp-sync-preview-close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.easychat-whatsapp-sync-preview-frame-div {
    position: absolute;
    top: 40px;
    left: 52px;
}

.easychat-whatsapp-sync-preview-data-div {
    width: 187px;
    height: 325px;
    position: absolute;
    left: 65px;
    top: 69px;
    background: #FFFFFF;
    overflow-y: auto;
    padding: 12px 8px;
}

.easychat-whatsapp-sync-preview-data-div::-webkit-scrollbar {
    width: 4px;
}

.easychat-whatsapp-sync-preview-data-div::-webkit-scrollbar-thumb {
    background: #88A3D2;
    border-radius: 5px;
}

.easychat-whatsapp-sync-preview-data-div::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.easychat-whatsapp-sync-preview-tap-select-item-text {
    font-weight: 500;
    font-size: 11px;
    line-height: 10px;
    color: #7B7A7B;
    position: absolute;
    bottom: 70px;
    left: 65px;
    background-color: #FFFFFF;
    width: 187px;
    text-align: center;
    height: 35px;
    padding-top: 8px;
}

.easychat-whatsapp-sync-preview-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: #000000;
    width: 100%;
    text-align: center;
}

.easychat-whatsapp-sync-preview-green-header {
    font-weight: 500;
    font-size: 12px;
    line-height: 9px;
    color: #059669;
    margin-bottom: 12px;
    margin-top: 20px;
}

.easychat-whatsapp-sync-preview-subheader {
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    color: #000000;
    letter-spacing: 0.24px;
}

.easychat-whatsapp-sync-preview-item-value {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #7B7A7B;
    letter-spacing: 0.12px;
}

.preview-text-div {
    width: 85%;
}

#easychat_whatsapp_menu_delete_modal {
    width: 415px !important;
}

#easychat_whatsapp_menu_delete_modal.modal.easychat-custom-modals-wrapper .termination-buttons button {
    display: flex !important;
    width: 100% !important;
    height: 40px !important;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    box-shadow: none !important;
}

#easychat_whatsapp_menu_delete_modal.modal.easychat-custom-modals-wrapper .termination-buttons {
    column-gap: 24px;
    margin-top: 32px;
}

#easychat_whatsapp_menu_delete_modal .termination-confirmation-modal-container {
    padding-left: 0px !important;
}

#easychat_whatsapp_menu_delete_modal .termination-buttons .termination-no-btn {
    border: 1px solid #EBEBEB !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 19px;
    color: #2D2D2D !important;
}

#easychat_whatsapp_menu_delete_modal .termination-buttons .termination-yes-btn {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 19px;
    color: #FFFFFF !important;
    background: #1B65DB !important;
}

#easychat_whatsapp_menu_delete_modal .termination-confirmation-heading-text {
    font-weight: 500 !important;
    font-size: 16px !important;
    color: #2D2D2D !important;
    padding: 0px 10px;
}

.modal.easychat-custom-modals-container {
    background: #fff !important;
    max-height: 90%;
    top: 4% !important;
    padding: 0px !important;
    overflow: visible !important;
}

.modal.easychat-custom-modals-container .modal-footer {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0px 0px 16px 16px;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px !important;
    position: static;
    height: 40px !important;
    background: #0254D7 !important;
    border-radius: 4px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #FFFFFF;
    margin: 0px 20px;
    font-family: unset !important;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel {
    font-weight: 500 !important;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    height: 40px !important;
    color: #475569 !important;
    background: transparent !important;
    font-family: unset !important;
}

.modal.easychat-custom-modals-container .filter-modal-footer-btn-cancel:hover {
    box-shadow: none !important;
}

.modal.easychat-custom-modals-container .modal-content {
    padding: 1.5rem 3rem 0rem 3rem !important;
}

.modal.easychat-custom-modals-container .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EBEBEB;
    height: 45px;
    padding-bottom: 10px;
    padding-left: 2px;
}

.modal.easychat-custom-modals-container .modal-content .modal-header .modal-close-btn {
    background: transparent;
    box-shadow: none;
    padding-top: 12px;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div {
    width: 100%;
    max-height: calc(100vh - 16rem);
    overflow: visible;
    padding-bottom: 16px;
    padding-left: 2px;
}

.modal.easychat-custom-modals-container .modal-overflow-content-div::-webkit-scrollbar {
    display: none;
}

.modal.easychat-custom-modals-container .modal-heading-text-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.easychat-modal-custom-subheading {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #2D2D2D;
    letter-spacing: 0.25px;
}

.modal.easychat-custom-modals-container .whatsapp-add-section-title-input:focus {
    box-shadow: none !important;
    border-radius: 4px !important;
}

.whatsapp-add-section-title-input-limit-div {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #4D4D4D;
    width: 60%;
    text-align: right;
    letter-spacing: 0.24px;
}

.easychat-whatsapp-add-intent-dropdown-div .select2 {
    display: none;
}

.whatsapp-add-section-title-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #CBCACA;
}


/* dropdown css */

.preview-container {
    width: 80%;
    max-height: 200px;
    background: #ffffff;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    overflow-y: auto;
}

.preview-container span {
    margin: 0px 8px 8px 0px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 4px 12px;
    color: #ffffff;
    background: #0254d7;
    border-radius: 4px;
    box-sizing: border-box;
    word-break: break-word;
    column-gap: 8px;
}

.preview-container span a {
    height: 16px;
    cursor: pointer;
}

.preview-container span b {
    height: 18px;
    cursor: grabbing;
    display: none;
}

.preview-container span:hover b {
    display: block;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap,
.easychat-whatsapp-add-intent-dropdown-div.ms-options-wrap * {
    box-sizing: border-box;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap {
    position: relative;
    width: 100%;
    margin: 8px 0px;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>button:focus,
.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>button {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #ebebeb;
    background-color: #f6f6f6;
    padding: 5px 35px 5px 12px;
    margin-top: 1px;
    font-size: 14px;
    font-weight: 500;
    color: #2D2D2D;
    outline-offset: -2px;
    white-space: nowrap;
    height: 40px;
    margin-bottom: 0px;
    border-radius: 4px;
    box-shadow: none;
    display: flex;
    align-items: center;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>button>span {
    display: inline-block;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>button[disabled] {
    background-color: #e5e9ed;
    color: #808080;
    opacity: 0.6;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>button:after {
    content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.16188 11.0306L4.71937 7.58812C4.42688 7.29562 4.42688 6.82312 4.71937 6.53062C5.01187 6.23812 5.48438 6.23812 5.77688 6.53062L8.69438 9.44062L11.6044 6.53062C11.8969 6.23812 12.3694 6.23812 12.6619 6.53062C12.9544 6.82312 12.9544 7.29562 12.6619 7.58812L9.21938 11.0306C8.93437 11.3231 8.45438 11.3231 8.16188 11.0306Z' fill='%234D4D4D'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(0deg);
    height: 16px;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap.ms-has-selections>button {
    color: #333;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    z-index: 2000;
    overflow: hidden;
    visibility: hidden;
    max-height: unset !important;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);
    border-radius: 3px;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap.ms-active>.ms-options {
    visibility: visible
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>.ms-search input {
    width: 100% !important;
    padding: 0.5rem 0.5rem 0.5rem 10px !important;
    background: #F6F6F6;
    border: 1px solid #F2F2F2 !important;
    outline: none !important;
    font-size: 14px !important;
    color: #2d2d2d !important;
    height: 40px !important;
    box-sizing: border-box;
    margin: 0px !important;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>.ms-search input:focus {
    border-radius: 4px !important;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>.ms-search input::-webkit-input-placeholder {
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8563 14.9043L17.7357 18.7827C18.0259 19.0724 18.496 19.0724 18.7862 18.7827C19.0713 18.4906 19.0713 18.0246 18.7862 17.7324L14.9068 13.854C16.6639 11.5449 16.3309 8.26951 14.145 6.36104C11.9591 4.45258 8.66785 4.56373 6.61573 6.61531C4.56362 8.6669 4.45244 11.9573 6.36139 14.1426C8.27035 16.328 11.5465 16.6609 13.8563 14.9043ZM6.52409 10.5352C6.52409 8.32072 8.31976 6.52551 10.5348 6.52551C12.7488 6.52813 14.5429 8.3218 14.5456 10.5352C14.5456 12.7497 12.7499 14.5449 10.5348 14.5449C8.31976 14.5449 6.52409 12.7497 6.52409 10.5352Z' fill='%237B7A7B'/%3E%3C/svg%3E%0A") 2px;
    background-repeat: no-repeat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
    text-indent: 34px;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>.ms-search input:focus {
    background-color: #ffffff !important;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-decoration: none !important;
    width: 100%;
    padding: 10px 12px;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options .ms-selectall:hover {
    background-color: #EEF1FF;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>.ms-selectall.global {
    margin: 0px;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 170px !important;
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    column-count: unset !important;
    scrollbar-width: thin;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul li.ms-hidden {
    display: none;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul>li.optgroup .label {
    padding: 10px 24px;
    border-top: 1px solid #f6f6f6;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #4D4D4D;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul label {
    position: relative;
    width: 100%;
    padding: 10px 30px 10px 54px;
    border-top: 1px solid #f6f6f6;
    font-size: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #4D4D4D;
    cursor: pointer;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options.checkbox-autofit>ul label,
.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options.hide-checkbox>ul label {
    padding: 4px;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul label.focused,
.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul label:hover {
    background-color: #EEF1FF;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul li.selected label {
    color: #0254d7;
    font-weight: 500;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul button {
    width: 31px;
    height: 16px;
    font-size: 10px;
    padding: 2px 6px;
    background: #DADADA;
    border-radius: 1px;
    color: #ffffff;
    display: flex;
    margin-left: auto;
    margin-top: -22px;
    margin-bottom: 0;
    margin-right: 10px;
    text-align: center;
}


/* .active-button{
    opacity: 0.5;
} */

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options.hide-button>ul button {
    width: 31px;
    height: 14px;
    padding: 1px 4px;
    background: #0254D7;
    border-radius: 1px;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul input[type="checkbox"] {
    width: 14px !important;
    height: 14px !important;
    margin: 0px !important;
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options.hide-checkbox>ul input[type="checkbox"] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul::-webkit-scrollbar {
    width: 5px;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0px;
    padding: 0px 8px;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options>ul li.selected {
    padding: 0px !important;
    margin: 0px;
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap.ms-active>button:after {
    transform: translateY(-50%) rotate(180deg);
}

.easychat-whatsapp-add-intent-dropdown-div .ms-options-wrap>.ms-options #selectall-drop-cb {
    opacity: 1;
    width: 16px !important;
    height: 16px !important;
    pointer-events: auto;
    right: 19px;
    margin: 0px !important;
    padding: 0px !important;
    top: 72px;
}

.easychat-whatsapp-add-intent-dropdown-div {
    display: flex;
    width: 45%;
}

.preview-container {
    display: flex;
    width: 55%;
    flex-direction: column;
    row-gap: 4px;
    margin-top: 8px;
}

.dropdown-preview-header-wrapper {
    display: flex;
}

.dropdown-preview-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    width: 80px;
    margin-right: 8px;
    padding-top: 3px;
}

#child_intent_group>div,
#child_intent_group_edit>div {
    display: inline-flex;
}

#main_intent_group>div,
#main_intent_group_edit>div {
    display: inline-flex;
}

#child_intent_group,
#child_intent_group_edit {
    width: calc(100% - 80px);
}

#main_intent_group,
#main_intent_group_edit {
    width: calc(100% - 80px);
}

#whatsapp-menu-add-section-btn.whatsapp-menu-disabled,
#whatsapp-menu-preview-section-btn.whatsapp-menu-disabled,
label.whatsapp-menu-disabled,
#easychat_whatsapp_add_section_modal .whatsapp-menu-disabled {
    pointer-events: unset !important;
    border: unset !important;
    opacity: 0.4;
    cursor: url(/static/EasyChatApp/icons/red-not-allowed.svg), auto !important;
    transform: unset !important;
    box-shadow: unset !important;
    transition: unset !important;
}
