.widgetCards div {
    display: inline-flex;
}

.widgetText {
    margin: 0 0 20px 20px;
}

.widgetCard {
    width: 135px;
    height: 135px;
    background: #fafbfe;
    border: 1px solid #2743cb;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    color: #2743cb;
    cursor: pointer;
    transition: all 0.2s ease-out;
    margin: 0px 20px 30px 20px;
}

.widgetCardSelected {
    background-color: #2743cb;
    color: white;
    transform: translate(0, -2px);
    transition: all 0.2s ease-out;
}

.widgetCardText {
    font-family: "Silka", sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 20px 20px 0px 20px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -1px;
}

.widgetCardSymbol {
    position: absolute;
    height: 30px;
    right: 18px;
    bottom: 18px;
}

.widgetCardPlus {
    position: absolute;
    height: 30px;
    right: 18px;
    bottom: 18px;
    visibility: hidden;
}

.widgetCard:hover {
    background-color: #2743cb;
    color: white;
    transform: translate(0, -2px);
    transition: all 0.2s ease-out;
}

.widgetCard:hover .widgetCardSymbol svg path {
    /* transform: scale(1.1);
*/
    display: none;
    fill: #EEF1FF;
}

.widgetCard:hover .widgetCardPlus {
    visibility: visible !important;
}

.widgetCard:hover .widgetCardSymbol svg {
    transform: scale(1.1);
    fill: gba(255, 255, 255, 0.76);
    /* transform: rotate(20deg); */
}

.disabled {
    border: 1px solid #798497 !important;
    color: #798497 !important;
    cursor: not-allowed;
    pointer-events: none;
}

.disabled svg path {
    fill: #798497;
}


/*radio btn changes*/

#modal-radio-button,
#modal-check-box,
#modal-drop-down,
#modal-range-slider {
    background-color: #fff;
    padding: 0px !important;
    min-height: 240px;
    height: auto;
    max-height: max-content;
    overflow-y: hidden;
    top: 5% !important;
}

#modal-radio-button .modal-content,
#modal-check-box .modal-content,
#modal-drop-down .modal-content,
#modal-range-slider .modal-content {
    overflow-x: hidden;
}

#modal-radio-button .modal-footer,
#modal-check-box .modal-footer,
#modal-drop-down .modal-footer,
#modal-range-slider .modal-footer,
#modal-calender-picker .modal-footer {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 16px;
    border: none;
}

#modal-radio-button .response-widget-input-field input,
#modal-check-box .response-widget-input-field input,
#modal-drop-down .response-widget-input-field input {
    border: 1px solid #CBCACA !important;
    box-sizing: border-box;
    height: 40px !important;
    margin: 0px 0px 8px 0px !important;
    border-radius: 4px !important;
}

.widget-modal-save-btn {
    padding: 0px 22px;
}

.response-widget-modal-content {
    padding: 32px 0px 32px 72px !important;
    position: relative !important;
}

.response-widget-modal-heading {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0.2px;
}

.response-widget-input-field {
    padding-left: 0px !important;
}

.response-widget-input-field p {
    font-weight: normal;
    font-size: 12px;
    color: #7B7B7B;
    margin-top: 5px;
    letter-spacing: 0.2px;
}

.response-widget-dragable-output-div {
    padding-left: 0px !important;
    padding-bottom: 12px;
    padding-top: 4px;
}

.response-widget-dragable-output-div-heading {
    font-weight: 500;
    font-size: 14px;
    color: #4D4D4D;
    padding-bottom: 12px;
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 100;
}

.response-widget-dragable-output-div .response-widget-dragable-output-item:last-child {
    margin-bottom: 20px;
}

.response-widget-dragable-output-item {
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CBCACA;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 8px;
}

.response-widget-dragable-output-item:hover .dragable-item-icon {
    display: block;
}

.response-widget-dragable-output-item .dragable-item-icon {
    display: none;
    width: 25px;
    height: 26px;
    margin-left: 18px;
    margin-right: -6px;
    cursor: grabbing;
}

.response-widget-dragable-output-item .widget-indigator-icon {
    margin: 0px 0px 0px 12px;
    width: 25px;
    height: 25px;
}

#modal-radio-button .response-widget-dragable-output-item input,
#modal-check-box .response-widget-dragable-output-item input,
#modal-drop-down .response-widget-dragable-output-item input {
    border: none !important;
    color: #4D4D4D !important;
}

#modal-radio-button .response-widget-dragable-output-item input:focus,
#modal-check-box .response-widget-dragable-output-item input:focus,
#modal-drop-down .response-widget-dragable-output-item input:focus {
    box-shadow: none !important;
}

.hide-widget-delete-icon {
    display: none;
}

.response-widget-dragable-output-item .widget-delete-icon {
    margin: 0px 20px 0px 10px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    /* position: absolute; */
    right: 20px;
}

.edit-radio-widget-focus {
    background-color: #fff;
    border: 1px solid #CBCACA;
}

.tooltip-custom {
    position: relative;
    display: flex;
    justify-content: center;
    color: #006080;
}

.tooltip-custom .tooltiptext-custom {
    visibility: hidden;
    width: max-content;
    background: #FFFFFF;
    box-shadow: 0px 5.62px 12.34px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 10px;
    color: #9395A1;
    text-align: center;
    padding: 5px 4px 5px 4px;
    border-radius: 6px;
    position: absolute;
    z-index: 1001;
    top: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    max-width: 80px;
    line-height: 1.2;
    height: max-content;
    word-break: break-all;
    margin-top: 6px;
    left: -18px;
}

.tooltip-bottom-custom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.tooltip-custom:hover .tooltiptext-custom {
    visibility: visible;
    opacity: 1;
}

.slider-response-widget-option-field {
    margin-bottom: 5px;
    padding-left: 0px !important;
}

.slider-response-widget-option-field p {
    font-weight: normal;
    font-size: 12px;
    color: #7B7B7B;
    margin-top: 5px;
    letter-spacing: 0.2px;
}

.slider-radio-button-div {
    display: flex;
    margin-left: -3px;
}

.slider-radio-button-div [type="radio"]:checked+span:after,
.slider-radio-button-div [type="radio"].with-gap:checked+span:before,
.slider-radio-button-div [type="radio"].with-gap:checked+span:after {
    border: 2px solid #000000;
}

.slider-radio-button-div [type="radio"]:checked+span:after,
.slider-radio-button-div[type="radio"].with-gap:checked+span:after {
    background-color: #000000;
}

.slider-radio-button-div span {
    font-size: 14px !important;
    color: #2D2D2D;
}

.slider-radio-button-div span i {
    font-size: 13px !important;
    color: #2D2D2D;
    margin-bottom: 4px;
}

.range-slider-min-max-value-div {
    display: flex;
    padding-left: 0px !important;
}

.range-slider-min-max-value-div #range-slider-min-range,
.range-slider-min-max-value-div #range-slider-max-range {
    width: 170px !important;
    height: 42px !important;
    border: 1px solid #CBCACA !important;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-size: 13px !important;
}

.range-slider-min-max-value-div #range-slider-min-range::placeholder,
.range-slider-min-max-value-div #range-slider-max-range::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
}

.range-slider-min-value-input,
.range-slider-max-value-input {
    text-align: center;
}

.range-slider-min-value-input p,
.range-slider-max-value-input p {
    font-size: 12px;
    color: #2D2D2D;
    margin-top: 0px;
    letter-spacing: 0.25px;
}


/* form widget
css */

#modal-create-form .modal-header {
    background: #fff;
}

#modal-create-form .modal-footer {
    height: 70px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#modal-create-form .modal-footer a {
    margin: 0px!important;
}

#modal-create-form .modal-header h5 {
    font-weight: 500 !important;
    font-size: 18px !important;
    color: #3B3B3B !important;
}


/* CHANGES MADE */

#modal-create-form .form-name-div {
    margin: 12px 0px;
    padding: 24px 30px !important;
    border-radius: 4px !important;
    background: #fff;
    border: 1px solid #E6E6E6;
}

#modal-create-form .form-name-div label {
    font-size: 15px;
    font-weight: bold;
    color: #4E4E4F;
}

#modal-create-form .create-form-field .input-field-custom label {
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 14px;
    color: #333333 !important;
    letter-spacing: 0.25px;
}

#modal-create-form .form-name-div input {
    margin-top: 12px !important;
    border-bottom: 1px solid #DCDEF4 !important;
}

#modal-create-form .input-field-custom input.edit-intent-common-primary-input {
    border: 1px solid #CBCACA !important;
    border-radius: 4px !important;
    width: 100% !important;
    box-sizing: border-box;
    box-shadow: none !important;
    height: 40px !important;
    background: #FFFFFF !important;
    margin: 0px !important;
}

#modal-create-form .input-field-custom {
    margin-bottom: 8px;
}

#modal-create-form .input-field-custom input::placeholder {
    font-weight: 500;
    font-size: 12px;
    color: #CBCACA;
    letter-spacing: 0.25px;
}


/* CHANGES MADE */

#modal-create-form .open-form-field {
    background: #F8F8F8 !important;
    box-sizing: border-box !important;
    margin-bottom: 16px !important;
    padding: 12px !important;
}

#modal-create-form #add-section-btn-div {
    margin: 0px !important;
    padding-bottom: 12px;
    padding-top: 12px;
}

#modal-create-form .form-widget-scrollable-section-console {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: calc(100vh - 21rem);
    /* padding-bottom: 20px; padding-right: 2px; */
    padding: 12px 30px;
}

#modal-create-form .modal-content {
    overflow-y: hidden !important;
    padding: 5px 14px 4em 14px !important;
}

#modal-create-form .modal-content input {
    width: 94% !important;
}

#modal-create-form .form-widget-scrollable-section-console::-webkit-scrollbar {
    width: 7px;
}

#modal-create-form .form-widget-scrollable-section-console::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

#modal-create-form .form-widget-scrollable-section-console::-webkit-scrollbar-track {
    background: #F6F8FF;
}

#modal-create-form .sortable-radio-widget-edit-div .response-widget-dragable-output-item:last-child {
    margin-bottom: 0px !important;
}

#modal-create-form .sortable-checkbox-widget-edit-div .response-widget-dragable-output-item:last-child {
    margin-bottom: 0px !important;
}

#modal-create-form .sortable-radio-widget-edit-div,
#modal-create-form .sortable-checkbox-widget-edit-div {
    margin-top: 8px !important;
}

#modal-create-form .range-slider-min-value-input,
#modal-create-form .range-slider-max-value-input {
    text-align: center;
    width: 100%;
}

#modal-create-form .range-slider-min-max-value-div {
    background-color: #fff;
    flex-direction: column;
    border: 1px solid #CBCACA;
    border-radius: 8px;
    width: 100%;
    padding: 12px !important;
    height: 125px;
}

#modal-create-form .form-widget-slider-heading-div {
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    width: 100%;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
}

#modal-create-form .form-widget-slider-min-max-value-area {
    display: flex;
    align-items: baseline;
}

#modal-create-form .form-widget-range-slidervalue-holder-contaainer {
    width: 100%;
    margin-top: 8px;
}

#modal-create-form #range-slider-min-range,
#modal-create-form #range-slider-max-range {
    width: 100% !important;
    color: #2755CB !important;
    font-size: 15px !important;
    font-weight: 600;
}

#modal-create-form .form-widget-dropdown-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -17px;
}

#modal-create-form .optional-btn {
    font-weight: 500;
    font-size: 12px;
    color: #3C4852;
    letter-spacing: 0.25px;
    height: 12px;
    display: flex;
    align-items: center;
    column-gap: 6px;
}

#modal-create-form .form-widget-dropdown-chip-item {
    background: #0254D7;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    display: inline-flex;
    width: fit-content;
    width: -moz-fit-content;
    align-items: center;
    height: 28px;
    padding: 0px 6px 0px 6px;
    margin-right: 6px;
    /* cursor: pointer; */
    box-shadow: none !important;
    white-space: nowrap;
    margin-bottom: 6px;
}

#modal-create-form .edit-form-widget-dropdown-choices:focus {
    box-shadow: none !important;
    color: #2d2d2d;
}

#modal-create-form .edit-intent-dropdown-wrapper .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-weight: 500;
    font-size: 12px;
    color: #2d2d2d;
    letter-spacing: 0.25px;
    padding-left: 6px !important;
}

#modal-create-form .edit-form-widget-dropdown-choices {
    min-width: 35px!important;
    max-width: 230px!important;
    /*transition: width
0.25s;*/
    height: 100% !important;
    border: none !important;
    outline: none !important;
    background: transparent !important;
    margin-right: 8px !important;
    color: #ffffff;
    padding: 0px 4px 0px 4px !important;
    /* overflow: hidden; text-overflow: ellipsis; */
}

.form-widget-dropdown-chip-item:hover .dragable-item-icon {
    display: block;
}

.form-widget-dropdown-chip-item .dragable-item-icon {
    display: none;
    height: 16px;
    margin-left: 0px;
    margin-right: 2px;
    cursor: grabbing;
}

.form-widget-dropdown-chip-item .widget-delete-icon {
    margin: 0px;
    cursor: pointer;
    width: 14px;
    height: 12px;
}

#intent-create-form-fields {
    background: #e9eaea7a !important;
}

.drag-icon {
    cursor: grabbing !important;
}

.form-field-footer {
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*Form Drop down css*/

body {
    padding: 0;
    margin: 0;
    color: #2c3e51;
    background: #f5f5f5;
    font-family: 'Ubuntu', sans-serif;
}

.easychat-console-custom-dropdown {
    /* margin: 0rem 1rem 1rem 0.8rem; */
    width: 100%;
}

#modal-create-form .easychat-console-custom-dropdown {
    margin: 0rem 1rem 1rem 0rem !important;
}

@media(max-width:34em) {
    .easychat-console-custom-dropdown {
        min-width: 150px;
        width: auto;
    }
}

select {
    display: none !important;
}


/* .easychat-console-select-drop { display: none !important; } */

.easychat-console-custom-dropdown .drop-language-icon {
    margin-right: 8px;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom {
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%); background-repeat: repeat-x; filter:
progid: DXImageTransform.Microsoft.gradient(startColorstr='#40FFFFFF', endColorstr='#00FFFFFF', GradientType=0); */
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid #D6DAF5;
    /* box-shadow: 0px 2px 5px 0px rgba(155, 155, 155, 0.5); */
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    float: left;
    font-size: 16px;
    font-weight: 500;
    color: #4B4B4B !important;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding-left: 10px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom:focus {
    background-color: #fff;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom:hover {
    background-color: #fff;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom:after {
    height: 0;
    width: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #777;
    -webkit-transform: origin(50% 20%);
    transform: origin(50% 20%);
    transition: all 0.125s ease-in-out;
    content: '';
    display: block;
    margin-top: -2px;
    pointer-events: none;
    top: 50%;
    position: absolute;
    right: 16px;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom.open:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom.open .list {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.easychat-dropdown-select-custom .current {
    width: 92%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.easychat-dropdown-select-custom .current-language {
    width: 92%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom.open .easychat-console-language-option {
    cursor: pointer;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom.wide {
    width: 100%;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list {
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    /* box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09); */
    background-color: #fff;
    margin-top: 4px;
    padding: 3px 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    max-height: 262px;
    overflow: hidden;
    border: 1px solid #E6E6E6;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list:hover .easychat-console-language-option:not(:hover) {
    background-color: transparent !important;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .dd-search {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    position: relative;
}

.drop-language-search-icon {
    position: absolute;
    left: 20px;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .dd-searchbox {
    width: 90% !important;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem !important;
    background: #F6F6F6;
    border: 1px solid #F2F2F2 !important;
    border-radius: 25px;
    outline: none;
    font-size: 14px !important;
    color: #909090;
    height: 28px !important;
}

#modal-create-form .easychat-console-custom-dropdown .easychat-dropdown-select-custom .dd-searchbox {
    padding: 0.5rem 0.5rem 0.5rem 3rem !important;
    height: 28px !important;
}


/* .easychat-console-custom-dropdown .easychat-dropdown-select-custom:after
{ content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5832 6L7.99657 8.58666L5.4099 6C5.28535 5.87516 5.11625 5.80501 4.9399 5.80501C4.76356 5.80501 4.59446
5.87516 4.4699 6C4.2099 6.26 4.2099 6.68 4.4699 6.94L7.5299 10C7.7899 10.26 8.2099 10.26 8.4699 10L11.5299 6.94C11.7899 6.68 11.7899 6.26 11.5299 6C11.2699 5.74667 10.8432 5.74 10.5832 6Z' fill='%234B4B4B'/%3E%3C/svg%3E%0A"); display: block; margin-top:
6px; pointer-events: none; position: absolute; right: 16px; } */

.easychat-console-custom-dropdown .easychat-dropdown-select-custom #txtSearchValue:focus {
    background-color: #fff !important;
    box-shadow: none !important;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list ul {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 175px;
    margin-top: 0px;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .easychat-console-language-option {
    cursor: default;
    font-weight: 400;
    line-height: 1.2;
    padding: 10px 20px !important;
    white-space: break-spaces;
    outline: none;
    text-align: left;
    transition: all 0.2s;
    list-style: none;
    border-top: 1px solid #eef1ff94;
    word-break: break-word;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .easychat-console-language-option:hover,
.easychat-console-custom-dropdown .easychat-dropdown-select-custom .easychat-console-language-option:focus {
    background-color: #F6F6F6 !important;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .easychat-console-language-option.easychat-lang-selected:focus {
    background: #f6f6f6;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom a {
    color: #aaa;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom a:hover {
    color: #666;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list ul::-webkit-scrollbar {
    width: 7px;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.easychat-console-custom-dropdown .easychat-dropdown-select-custom .list ul::-webkit-scrollbar-track {
    background: #F6F8FF;
}


/* range slider radio dropdown css */

.easychat-console-custom-dropdown-withradio-input .dd-search {
    display: none !important;
}

.easychat-console-custom-dropdown-withradio-input .easychat-console-language-option.easychat-lang-selected {
    font-weight: 600;
    color: #0254D7;
    border-bottom: 1px solid #FFF;
}

#modal-create-form .easychat-console-dropdown-single-radio {
    width: 18px !important;
    height: 18px !important;
    opacity: 1 !important;
    float: right !important;
    position: unset !important;
    margin-top: 0px !important;
}


/* 
#modal-create-form .modal-content input {
    width: 95% !important;
} */

#modal-create-form .form-widget-slider-min-max-value-area input {
    border: 1px solid #e3e3e3 !important;
    box-sizing: border-box;
    width: 100% !important;
    text-align: center;
    color: #2755CB !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    border-radius: 4px !important;
    height: 40px !important;
}

#modal-create-form .form-widget-slider-min-max-value-area input:focus {
    box-shadow: none !important;
    border-radius: 0px;
}

#modal-create-form .response-widget-dragable-output-div input {
    border: none !important;
}

#modal-create-form .response-widget-dragable-output-div input:focus {
    box-shadow: none !important;
}


/* Chrome, Safari, Edge, Opera
*/

#modal-create-form .form-widget-slider-min-max-value-area input::-webkit-outer-spin-button,
#modal-create-form .form-widget-slider-min-max-value-area input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

#modal-create-form .form-widget-slider-min-max-value-area input[type=number] {
    -moz-appearance: textfield;
}


/*screen resolution changes*/


/* 
@media screen and (min-height: 750px) and (max-height: 900px) {
    #modal-create-form .form-widget-scrollable-section-console {
        max-height: calc(100vh - 22rem);
    }
}

@media screen and (min-height: 900px) and (max-height: 1100px) {
    #modal-create-form .form-widget-scrollable-section-console {
        max-height: calc(100vh - 31rem);
    }
} */


/*Calendar picker*/

#calendar-heading-description {
    margin-top: 0;
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #7B7B7B;
}


/* CHANGES MADE */

.enable-date-time-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    letter-spacing: 0.25px;
    display: inline-flex;
    column-gap: 40px;
}

.date-time-button-div {
    display: flex;
    margin-left: -3px;
}

.date-time-button-div [type="radio"]:checked+span:after,
.date-time-button-div [type="radio"].with-gap:checked+span:before,
.date-time-button-div [type="radio"].with-gap:checked+span:after {
    border: 2px solid #1B65DB;
}

.date-time-button-div [type="radio"]:checked+span:after,
.date-time-button-div[type="radio"].with-gap:checked+span:after {
    background-color: #1B65DB;
}

.date-time-button-div span {
    font-size: 12px !important;
    color: #2D2D2D;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.date-time-button-div span i {
    font-size: 13px !important;
    color: #2D2D2D;
    margin-bottom: 4px;
}

.optional-btn input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.optional-btn label {
    display: inline-block !important;
    cursor: pointer;
    text-indent: -9999px;
    width: 25px !important;
    height: 12.22px;
    background: rgb(180, 179, 179);
    display: inline-block;
    border-radius: 100px;
    position: relative;
}

.optional-btn label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 3px;
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.optional-btn input:checked+label {
    background: #2743cb;
}

.optional-btn input:checked+label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

.optional-btn span {
    position: relative;
}

.form-field-footer {
    padding: 10px 0px 0 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drag-icon {
    cursor: pointer;
}

#modal-calender-picker {
    width: 36%;
    height: 55% !important;
    padding: 0px !important;
}

.easychat-collapsible-content-heading-div,
.easychat-collapsible-content-subheading-div {
    line-height: 22px;
    letter-spacing: 0.6px;
    font-weight: normal;
}

.easychat-collapsible-content-heading-div {
    font-size: 13px;
    color: #2C3E51;
}

.easychat-collapsible-content-subheading-div {
    font-size: 11px;
    color: #7B7A7B;
}

#easychat-intent-icon-collapsible-body {
    padding-top: 4px !important;
    padding-bottom: 30px !important;
}

.easychat-intent-icon-wrapper {
    margin: 20px 0px 0px;
}

.easychat-intent-icon-item {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 3.286px rgba(50, 50, 71, 0.06), 0px 3.286px 6.572px rgba(50, 50, 71, 0.06);
    border-radius: 4px;
    background: #FFFFFF;
    margin: 0px 32px 20px 0px;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.easychat-intent-icon-item:nth-child(5n) {
    margin-right: 0px;
}

.easychat-intent-icon-item.easychat-active-intent-icon {
    background: #EFF6FF;
    border: 1px solid #2F80ED !important;
}

.easychat-intent-icon-item.easychat-active-intent-icon>svg {
    fill: #2F80ED;
}

.easychat-intent-icon-item img,
.easychat-intent-icon-item>svg {
    width: 40px;
    height: 40px;
}

.easychat-intent-icon-upload-error-message {
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FF281A;
    display: none;
    margin-top: 12px;
    width: max-content;
    height: 26px;
    background: #FFF9F9;
    border-radius: 4px;
    padding: 6px;
}

.easychat-intent-icon-upload-div {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 3.286px rgba(50, 50, 71, 0.06), 0px 3.286px 6.572px rgba(50, 50, 71, 0.06);
    border-radius: 4px;
    background: #f7f7f7;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
    vertical-align: top;
    position: relative;
    overflow: hidden;
}

#upload-image-section .drag-drop-input-field-wrapper {
    left: 0;
    top: 0;
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#image-selected-container .image-container-div .dismiss-circle {
    position: absolute;
    top: -13px;
    right: -9px;
    cursor: pointer;
    background: #F8F8F8;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#image-selected-container .image-container-div img {
    padding-top: 6px;
}

#image-selected-container {
    position: relative;
    display: none;
    vertical-align: top;
    border: 1px solid transparent;
}

input[type=file] {
    cursor: pointer;
    cursor: hand;
}