[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

[type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type="checkbox"]+span:not(.lever):before,
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    /*border: 1px solid #3B56C7 !important;*/
    border-radius: 3px !important;
    height: 20px !important;
    width: 20px !important;
    -webkit-transition: .2s;
    transition: .2s;
}


[type="checkbox"]:not(:checked):disabled+span:not(.lever):before {
    border: none;
    background-color: rgba(0, 0, 0, 0.42);
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/* Override Initials */
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

[type="radio"]:not(:checked)+span,
[type="radio"]:checked+span {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type="radio"]+span:before,
[type="radio"]+span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 3px;
    width: 18px;
    height: 18px;
    z-index: 0;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

/* Unchecked styles */
[type="radio"]:not(:checked)+span:before,
[type="radio"]:not(:checked)+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after,
[type="radio"]:checked+span:before,
[type="radio"]:checked+span:after {
    border-radius: 50%;
}

[type="radio"]:not(:checked)+span:after {
    -webkit-transform: scale(0);
    transform: scale(0);
}



/* Checked styles */
[type="radio"]:checked+span:before {
    border: 1px solid transparent;
}

[type="radio"]:checked+span:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

/* Radio With gap */
[type="radio"]:checked+span:after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

 @-moz-document url-prefix() {
   [type="radio"]:checked+span:after {
    -webkit-transform: scale(0.4) !important;
    transform: scale(0.4);
        border: 1.5px solid #3954A1 !important; 
}
} 

/* Focused styles */
[type="radio"].tabbed:focus+span:before {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Disabled Radio With gap */
[type="radio"]:disabled:checked+span:before {
    border: 1px solid rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled:checked+span:after {
    border: none;
    background-color: rgba(0, 0, 0, 0.42);
}

/* Disabled style */
[type="radio"]:disabled:not(:checked)+span:before,
[type="radio"]:disabled:checked+span:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled+span {
    color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled:not(:checked)+span:before {
    border-color: rgba(0, 0, 0, 0.42);
}

[type="radio"]:disabled:checked+span:after {
    background-color: rgba(0, 0, 0, 0.42);
    border-color: #949494;
}



/* drop down widget */

.dropbtn {
    background-color: #ffffff;
    color: #000000;
    margin-top: 1em;
    padding: 10px;
    font-size: 14px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    border: 1px solid #BCBCBC;
    /* box-sizing: border-box; */
    border-radius: 100px;
  }
@media screen and (min-width:0\0) {
    .dropbtn {
        margin-bottom: 1em;
    }
}    
  .easychat-drop-down-container {
    position: relative;
    display: inline-block;
    max-width: 240px;
  }
#dropdown-search-input{
    outline: none;
}
  .easychat-widget-dropdown-content {
    display: none;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    width: 100%;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 200px;
    overflow-x: hidden;
  }

  .easychat-widget-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }

  .easychat-widget-dropdown-content a:hover {background-color: rgba(6, 59, 109, 0.1);}

  .easychat-display-dropdown {
      display: block;
  }

  .dropbtn:focus {
    outline: none !important;
  }

  .easychat-widget-dropdown-content a:first-child {
    border-radius: 10px 10px 0px 0px;
  }

  .easychat-widget-dropdown-content a:last-child {
    border-radius: 0px 0px 10px 10px;
  }

  /* Form widget */
  .easychat-form-container {
    border: 1px solid #e6e6e6;
    border-radius: 6px;
    margin: 10px 20px;
    padding: 0px 15px 10px 18px;
    background-color: #FFFFFF;
  }

  .easychat-form-container h5 {
    text-align: left;
    margin: 18px;
    margin-left: -8px;
    font-weight: 500;
    font-size: 15px;
    word-break: break-all;
  }


.easychat-form-input {
    width: 100%;
    margin-top: 0.7em;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 30px; 
    outline: none;
}

.easychat-form-input::placeholder {
    /* Firefox, Chrome, Opera */
    color: #e6e6e6;
}

.easychat-form-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #e6e6e6;
}

.easychat-form-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #262626;
}

#easychat-form-container label {
    color: #4d4d4d;
    font-size: 15px;
    font-weight: 500;
    word-break: break-all;
}

/* #easychat-form-container .select2-dropdown {
    top: 5px !important;
} */

.input-field-custom {
    margin-bottom: 26px;
    margin-left: 8px;
}

.easychat-form-label {
    color: #4d4d4d;
    margin-left: 10px;
    word-break: break-word;
}

.easychat-form-value {
    color: #2d2d2d;
    font-size: 13px;
    margin-left: 10px;
    word-break: break-word;
}

.easychat-radio-button-container th, .easychat-check-box-container th {
    cursor: pointer;
}

#select2-input-0-results li {
    word-break: break-all;
}

#chat-frame .messages ul li input[type="checkbox"] {
    display: none;
    position: relative;
}

#chat-frame .messages ul li input[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #0254d7;
    background-color: #0254d7;
}

.easychat-widget-disabled {
    pointer-events: none !important;
    opacity: 0.5;
}
