    #content-wrapper {
        background-color: white !important;
    }
    textarea {
        min-height: 4em;
    }

.sidebar #sidebarToggle {
    position: unset !important;
}

.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.setting-page-nav-heading-div {
    border-right: solid#E6E6E6 1px;
    height: 100%;
    margin-left: -17px;
    display: flex;
    align-items: center;
}

.setting-page-nav-subheading-div {
    width: max-content;
    display: flex;
    align-items: center;
}

.livechat-general-setting-tab-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: max-content;
    height: 34px;
    background: #FAFAFA;
    border: 1px solid #F8F8F8;
    box-sizing: border-box;
    border-radius: 0px 2px 2px 0px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
    outline: none !important;
}

.livechat-general-setting-tab-btn.setting-active-btn {
    background: #0254D7 !important;
    color: #FFFFFF !important;
}

.livechat-general-setting-tab-pane-wrapper {
    display: flex;
}

#live-chat-admin-setting-content-gs {
    padding: 0px !important;
    margin: 0px !important;
}

.admin-setting-heading-wrapper {
    height: auto !important;
    margin: 0px !important;
    padding: 12px 30px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid #fafafa;
}

.live-chat-admin-general-setting-heading select {
    margin-right: 0px !important;
    width: 220px !important;
    cursor: pointer;
}

#live-chat-admin-setting-content-gs .live-chat-admin-general-setting-area {
    background: #FAFAFA !important;
    margin: 0px !important;
    padding: 0px !important;
    height: calc(100vh - 12.5rem);
    overflow-y: auto;
}

.livechat-system-setting-wrapper,
.livechat-interaction-setting-wrapper {
    padding: 16px 16px 0px;
}

.livechat-admin-setting-item-wrapper {
    margin: 0px 0px 12px 0px !important;
    padding: 16px 24px 16px 24px;
    background: #FFFFFF;
    border-radius: 12px;
}

.livechat-setting-heading-text-div {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #7B7A7B;
}

.live-chat-admin-general-setting-area input {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

.live-chat-admin-general-setting-area input[type=number] {
    width: 97px!important;
    height: 35px;
}

.live-chat-admin-general-setting-area textarea {
    height: 100px !important;
    resize: none;
}

.livechat-admin-setting-subsection-data-div {
    display: flex;
    width: 100%;
}

.livechat-admin-setting-subsection-divider-div {
    border-top: 1px solid #EBEBEB;
}

.lead-source-container .source-lead {
    display: inline-flex;
    margin-right: 5px;
}

.lead-source-container {
    display: block !important;
}

#number-of-guest-agents {
    width: 180px;
    padding-left: 12px;
    cursor: pointer;
}

#livechat_call_type {
    width: 180px !important;
    cursor: pointer;
}

.livechat-admin-setting-save-reset-btns-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 30px 6px;
    background: #FFFFFF;
    box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.1);
    column-gap: 16px;
}

.livechat-admin-setting-save-reset-btns-wrapper .resetBtn {
    display: flex;
    align-items: center;
    width: 130px;
    justify-content: center;
    height: 33px;
    background: #FAFAFA;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4D4D4D;
    border: none;
    outline: none !important;
}

.livechat-admin-setting-save-reset-btns-wrapper .saveChangesBtn {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 33px;
    background: #0254D7;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: none;
    outline: none !important;
}

#livechat-email-setup-div {
    display: inline-flex;
    align-items: center;
}

.live-chat-admin-general-setting-area .keyword-detect-textarea textarea {
    height: 60px !important;
}

.livechat-option-switch-slider {
    top: 50%;
    transform: translateY(-50%);
    height: inherit;
}

.livechat-option-switch-slider:before {
    bottom: 0px;
    top: 50%;
    transform: translateY(-50%);
}
input:checked + .livechat-option-switch-slider:before {
    -webkit-transform: translateY(-50%) translateX(14px);
    -ms-transform: translateY(-50%) translateX(14px);
    transform: translateY(-50%) translateX(14px);
}