.dataTables_filter {
    display: none;
}

#table-calender-details_info {
    font-size: 13px;
    margin-top: 60px;
    color: #4D4D4D;
    width: 50%;
    padding-left: 10px;
    display: inline-block;
    position: absolute;
    bottom: 2px;
  }

   @media only screen and (max-width: 769px) {
    #table-calender-details_info {
      display: none;
    }
  }

  @media only screen and (min-width: 770px) {
      #live-chat-setting-content-c {
        overflow-y: auto; 
        overflow-x: hidden; 
        max-width: 83%; 
        height: calc(100vh - 4.375rem);
      }
  }

  @media only screen and (max-width: 1161px) {
    .search-container {
      float: left !important;
      margin-top: 1em;
      width: 225px;
    } 
  }

  @media only screen and (max-width: 991px) {
    .live-chat-calender-date select, .live-chat-calender-date button {
        display: none;
    }

    .live-chat-setting-archived-filter-btnMobile {
        display: block;
    }

    .live-chat-setting-archived-filter-btnMobile {
        display: block;
        width: 100%;
        height: 90px;
        margin-bottom: 5px;
        background-color: #ffffff;
        border-bottom: 1px solid #E6E6E6;
        padding: 24px 0px 0px 16px;
    }

    .filter-button-archive-mobile {
        font-style: normal;
        font-weight: 500;
        width: 104px;
        height: 35px;
        font-size: 18px;
        color: #868686;
        border: none;
        text-align: center;
        outline: none;
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 5px;
        width: 140px;
        height: 46px;
        outline: none;
    }
    .filter-button-archive-mobile img {
        padding-left: 20px;
        margin-top: 1px;
        width: 42px;
    }
    #live-chat-filter-icon {
        padding-left: 20px;
        margin-top: 1px;
        width: 42px;
        height: 12.38px;       
    }
    .filter-button-archive-mobile:focus {
        outline: none;
    }
  }


  /* Agent Calendar mobile responsive css */
  @media (max-width: 768px){
    .live-chat-setting-calender-heading,
    .livechat-filter-none-mobile{
        display: none;
    }
    .livechat-calendar-mobile p{
        display: block ;
        margin: 0 ;
        width: 100%;
    }
    .livechat-calendar-mobile .calendar-mobile-heading-div p{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: #000000;
        padding: 15px 10px;
    }
    .livechat-calendar-mobile .calendar-mobile-heading-div p span{
        color: #7b7a7b;
    }
    .livechat-calendar-mobile  .mobile-date-year-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px 25px 10px;
    }
    .livechat-calendar-mobile .mobile-date-year-div .mobile-month-year-input-div {
        display: flex;
        align-items: center;
    }
    .livechat-calendar-mobile .mobile-date-year-div .mobile-month-year-input-div span{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #4D4D4D;
    }
    .livechat-calendar-mobile .mobile-date-year-div .mobile-month-year-input-div .show-month-year-arrow{
        width: 20px;
        height: 20px;
        background: #F8FAFC;
        border: 1px solid #0254D7;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        margin-bottom: 3px;
    }
    .livechat-calendar-mobile .mobile-date-year-div .created-on-date{
        font-weight: 500;
        font-size: 12px;
    }
    .live-chat-calender-area td::before{
        content: none !important;
    }
   
    .live-chat-calender-area table, .live-chat-calender-area thead, .live-chat-calender-area tbody, .live-chat-calender-area th, .live-chat-calender-area td, .live-chat-calender-area tr{
        display: revert;
    }
    #live-chat-setting-content-c{
        padding: 0px 5px 0px 5px !important;
        height: calc(100vh - 12rem) !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
        margin-top: 8px;
    }
    .livechat-new-calendar.agent-livechat-calendar.livechat-calendar-mobile{
        max-height: unset !important;
        overflow-y: hidden !important;
        padding: 0 6px !important;
        width: 100%;
    
    }
    .livechat-calendar-mobile .calendar-month-area tbody tr td.weekday-number .month-day-detail p.working-hours span{
        display: none;
    }
    .livechat-calendar-mobile  .calendar-month-area tbody tr td.weekday-number .month-day-detail p.working-hours span.working-hrs-color{
        margin: 0;
    }
    .livechat-calendar-mobile .calendar-month-area tbody tr td.weekday-number.working,
    .livechat-calendar-mobile  .calendar-month-area tbody tr td.weekday-number.present,
    .livechat-calendar-mobile .calendar-month-area tbody tr td.weekday-number{
        background: white; 
    }
    .livechat-calendar-mobile  .calendar-month-area tbody tr td.holiday .month-day-detail p.working-hours{
        display: block !important;
    }
    .livechat-calendar-mobile  .calendar-month-area tbody tr td.holiday .month-day-detail p.working-hours span.working-hrs-color{
        background: #10B981;
    }
    .livechat-calendar-mobile .calendar-month-area tbody tr td.weekday-number,
    .livechat-calendar-mobile .calendar-month-area tbody tr td.weekday-number .month-day-detail p.month-date{
        font-size: 14px !important;
    }
    .livechat-calendar-mobile .calendar-month-area tbody tr td.weekday-number {
        padding: 12px 0px;
        height: 40px !important;
        vertical-align: baseline;
    }
    .livechat-calendar-mobile table tr {
        border: 0px;
    }
    .livechat-calendar-mobile table  {
        border: 0px;
    }
    .livechat-calendar-mobile .calendar-month-area tbody tr td.present .month-day-detail {
        background: #0254D7;
        border: 1px solid #0254D7;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 4px;
        padding: 10px 0px;
    }
    .livechat-calendar-mobile .calendar-month-area tbody tr td.present .month-day-detail .month-date{
        color: #FFFFFF;
    }
    .livechat-calendar-mobile table thead  tr.mobile-calendar-table-head{
        display: revert !important;
        position: static;
    }
    .livechat-calendar-mobile table thead  tr.mobile-calendar-table-head th{
        background: white;
        border: 0;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 10px !important;
        line-height: 130%;
        text-align: center;
        color: #4D4D4D;
        padding: 0;
        height: 20px;
        vertical-align: middle;
    }
    .livechat-calendar-mobile table thead  tr.desktop-calendar-table-head{
        display: none ;
    }
    .mobile-calendar-note{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        display: flex !important;
        align-items: center;
        text-align: center;
        color: #7B7A7B;
        padding-left: 10px;
    }
    .calendar-color-code-detail{
        padding-left: 10px;
    }
    .livechat-calendar-mobile .calendar-mobile-heading-div{
        display: block;
    }
    .livechat-calendar-mobile .calendar-color-code-detail .present-color-code{
        display: none;
    }
    .livechat-calendar-mobile  .calendar-color-code-detail .color-code-div span{
        width: 30px;
        height: 20px;
        border-radius: 4px;
    }
    .livechat-calendar-mobile  .calendar-color-code-detail .color-code-div span.working-color {
        background: #F5C828;
    }
    .livechat-calendar-mobile  .calendar-color-code-detail .color-code-div p{
        font-size: 12px;
        line-height: 14px;
    }
    .livechat-calendar-mobile .calendar-color-code-detail .color-code-div span.holiday-color{
        background: #10B981;
    }
    .mobile-calendar-date-status{
        border-top: 1px solid #CBD5E1;
        margin: 0 10px;
        display: block !important;
    }
    .mobile-calendar-date-status .date-current-status-timing-div{
        background: rgba(253, 246, 219, 0.2);
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgb(0 0 0 / 25%);
        padding: 15px 10px;
        border-left: 8px solid #F5C828;
        margin: 30px 0;
    }
    .mobile-calendar-date-status .date-current-status-timing-div .date-status-div p{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #2D2D2D;
    }
    .mobile-calendar-date-status .date-current-status-timing-div .date-status-div p span.current-date-day{
        text-transform: uppercase;
    }
    .mobile-calendar-date-status .date-current-status-timing-div .date-status-div p span.current-status{
        background: rgba(253, 246, 219, 0.5);
        border: 0.5px solid #F5C828;
        border-radius: 4px;
        margin-left: 12px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #F5C828;
        padding: 5px 5px;
        text-transform: capitalize;
    }
    .mobile-calendar-date-status .date-current-status-timing-div .date-event-timing{
        display: flex;
        align-items: center;
        margin-top: 4px;
    }
    .mobile-calendar-date-status .date-current-status-timing-div .date-event-timing svg{
        margin-right: 5px;
    }
    .mobile-calendar-date-status .date-current-status-timing-div .date-event-timing span.date-working-hour-timing{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #7B7A7B;
    }
    .mobile-calendar-date-status .date-current-status-timing-div .date-event-timing span.date-working-hour-timing .time-hyphen{
        border: 1px solid #EBEBEB;
        width: 12px;
        margin: 0 5px;
    }
    .mobile-calendar-date-status .date-current-status-timing-div.status-holiday{
        background: #ECFDF5;
        border-left: 8px solid #10B981;
    }
    .mobile-calendar-date-status .date-current-status-timing-div.status-holiday .date-status-div p span.current-status{
        background: #ECFDF5;
        color: #10B981;
        border: 0.5px solid #10B981;
    }
    .mobile-calendar-date-status .date-current-status-timing-div.status-holiday .date-event-timing{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #4D4D4D;
    }
    .mobile-select-month-year-modal .mobile-select-month-year-div ul li{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #7A7585;
        list-style: none;
        padding: 10px 10px;
    }
    .mobile-select-month-year-modal .mobile-select-month-year-div ul {
        background: #FAFAFA;
        padding: 6px 20px;
        border-radius: 8px;
        height: 240px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 0;
    }
    .mobile-select-month-year-modal .mobile-select-month-year-div {
        display: flex;
        justify-content: center;
    }
    .mobile-select-month-year-modal .mobile-select-month-year-div ul:not(:first-child){
        margin-left: 20px;
    }
    .mobile-select-month-year-modal .mobile-select-month-year-div ul li.active-ui-selected{
      background: #0254D7;
      /* border: 1px solid #0254D7; */
      border-radius: 2px;
      color: white;
  }
    .mobile-select-month-year-modal .mobile-select-month-year-div ul::-webkit-scrollbar{
        width: 2px;
        border-radius: 1000px;
    }
    .mobile-select-month-year-modal .mobile-select-month-year-div ul::-webkit-scrollbar-thumb{
        background: #EBEBEB;
    }
    /* .mobile-select-month-year-modal .modal-footer{
        padding: 1em 6px;
    } */
    .mobile-select-month-year-modal .modal-footer>div{
        margin: 0;
    }
    .mobile-select-month-year-modal .modal-footer>div button{
        margin-left: 12px;
    }
    .live-chat-calender-heading-mobile {
        margin: 2px 5px 10px 0px !important;
    }
}

.livechat-calendar-mobile table thead  tr.mobile-calendar-table-head,
.mobile-calendar-note,
.calendar-mobile-heading-div,
.mobile-month-year-input-div,
.mobile-calendar-date-status{
    display: none;
}
.live-chat-setting-content-desktop-width{
    max-width: 100% !important;
}
.livechat-new-calendar.agent-livechat-calendar{
    max-height: calc(100vh - 14rem) !important;
}