        .chat-input::-webkit-input-placeholder {
          color: grey;
          opacity: 1 !important;
        }

        .body
        {
            position: fixed; 
            overflow-y: scroll;
            width: 100%;
        }
        #allincall-chat-box {
           
            right: 20px;
            width: 380px;
            height: 500px;
            max-height: 100%;
            box-shadow: 5px 5px 5px grey;
            border-radius: 0.8em;
            border:0.08em solid grey;
            /*transition: all 0.4s ease-in-out;*/
        }
        .row .chatmessage.col{
          float: unset;
        }
        

        .row{
         margin-bottom: 2px;
         padding-top:2px;
         }
         .chip
         {
           height:auto !important;
           font-size:15px;
           box-shadow: 1px 1px 1px grey;
         }
         .chip-left
         {
            margin-left:20px;

         }
         .cancel-style
         {
            height: 100%;
            text-align: center;
            vertical-align: middle;
         }
         .chatbot-left-image
         {
            margin-left:10%;
            vertical-align: middle;
         }
         .collection-item
         {
            cursor: pointer;
         }
         .chatbot-name
         {
            vertical-align: middle;
            color:white;
            margin-top:13px;
            font-size:15px;
            text-align: center;
         }
         .chip-right
         {
            height:auto;
            color:white;
            background-color:#1B5CAB
         }
         .chip2
         {
         line-height:20px;
         padding:5px 12px 5px 8px;
         }
         .button3:hover {
         background-color:#1e88e5  ;
         color: white;
         }
         #header {
         z-index: 99;
         position: relative;
         width: 100%;
         height: 8%;
         background-color:#1a237e;
         font-size:90%;
         font-weight:bold;
         }

         .scrollbar {
           width: 100%;
           height: 80vh;
           overflow-y: auto;
           border-radius:12px;
           overflow-x: hidden;
         }
         #style-2::-webkit-scrollbar-track
         {
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
         border-radius: 10px;
         background-color: #F5F5F5;
         }
         #style-2::-webkit-scrollbar
         {
         width: 8px;
         background-color: #F5F5F5;
         }
         #style-2::-webkit-scrollbar-thumb
         {
         border-radius: 10px;
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
         background-color: #9e9e9e;
         }
         #footer{
         width: 100%;
         height: 32px;

         }
         .main-div
         {
         height:100%;
         width: 100%;
         overflow: hidden;
         background-color:#fff;
         position: fixed;
         right:0;
         bottom:10px;
         font-family:arial;
         font-size: 15px;
         border-radius: 6px 6px 6px 6px !important;
         border-bottom: 1px solid rgb(204, 204, 204) !important;
         border-left:1px solid rgb(204, 204, 204) !important;
         border-right:1px solid rgb(204, 204, 204) !important;
         }
         @media (max-width: 1025px)
         {
         .main-div
         {
         width:100%;
         height:100%;
         position:fixed;
         top:0;
         left:0;
         }
         }
         .button2 {
         background-color:#ffffff;
         margin:auto;
         border: 1px solid #1e88e5 ;
         border-radius: 5px;
         font-size:94%;
         padding-left:1.5%;
         padding-right:1.5%;
         margin:auto;
         font-family:arial;
         margin-bottom:1%;
         margin-left:2%;
         /* border-radius: 0.95em;*/

         color:#1e88e5;
         font-size:14px;
         text-align:center;
         }
         .recommendation-title-style
         {
            color:rgb(0,0,0);

         }
       .recommendation-style
         {
            color: rgb(0, 146, 220);


         }
         .restart-button
         {
            color: rgb(102, 56, 205);
            background:#1B5CAB;
         }

         .helper {
         display: inline-block;
         height: 100%;
         vertical-align: middle;
         }
         .timestampl {
         font-size: 10px;
         color: #999;
         padding: 0px 15% 0 20%;
         margin-bottom: 5px;
         }



         .timestampr {
         font-size: 10px;
         color: #999;
         padding-right:7%;
         margin-bottom: 5px;
         float:right;
         }
         .button-group .button{
         text-decoration: none;
         display: block;
         text-align: center;
         cursor: pointer;
         color: #1a237e; /*change color in button*/
         border: 1px solid #d1d1d1;
         padding:10px;
         }

         .button-group .button:first-child{border-top-left-radius: 10px;
         border-top-right-radius: 10px;}.button-group .button:last-child{border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10px;}.button-group .button+.button{border-top-width: 0;}

         .button-group2 .button:hover
         {

         background-color:#eeeeee  ;


         }
         .new-chat-form-launcher
         {
            position: fixed;
         height: 60px;
         bottom: 0px;
         /*width: 100%;*/
         box-sizing: border-box;
         background: white;
         z-index: 100;}.new-chat-form-launcher >div{display: inline-block;
         height: 100%;
         font-weight: 400;
         color: #0084ff;
         vertical-align: middle;}.new-chat-form-launcher .send-button{float: right;
         cursor: pointer;
         margin-right: 5px;
         line-height: 50px;
         text-align: center;
         font-weight: bold;}.new-chat-form-launcher .customer-care{position: absolute;
         right: 10px;
         color: white;
         cursor: pointer;}
         .menu-button {
             /*padding-top: 5px!important;*/
             position: fixed;
             bottom: 0;
             z-index: 10002;
             background: no-repeat 50%;
             background-size: 90%;
             cursor: pointer;
             width: 32px;
             height: 32px;
             padding: 0;
             color: #888;
             line-height: 32px;
             text-align: center;
             margin: 11.5px 10px;
             border-radius: 40px;
             box-sizing: border-box;
             box-shadow: 0 0 10px 0 rgba(0,0,0,.3);
             -webkit-transform: translateZ(0);
             transform: translateZ(0);
         }
         
         [contenteditable=true] {
             cursor: text!important;
         }
         [contenteditable=true] {
             white-space: nowrap;
             overflow: hidden;
             width: 100%;
             display: inline-block;
         }
         div[Attributes Style] {
             -webkit-user-modify: read-write;
             word-wrap: break-word;
             -webkit-line-break: after-white-space;
         }
         [contenteditable=true]:empty:before {
             content: attr(placeholder);
             display: block;
             color: #666;
         }
         .menu-container
         {
            background-color: #eeeeee;
            width:100%
            height:60%;
         }
         .new-chat-form-launcher .send-button {
             float: right;
             cursor: pointer;
             margin-right: 10px;
             margin-top: 0.4em;
             line-height: 50px;
             text-align: center;
             font-weight: bold;
         }
         .new-chat-form-launcher >div {
             display: inline-block;
             height: 100%;
             font-weight: 400;
             color: #0084ff;
             vertical-align: middle;
             margin-left: 2em;
         }
         .send-button {
             padding-top: 7px!important;
         }
         .likebuttons{
            cursor: pointer;
         }
         input:focus {
          border-bottom: none!important;
          box-shadow: none!important;
          width:90%;
        }

        .typing-loader{
            margin: 60px auto;
            width: 6px;
            height: 6px;
            -webkit-animation: line 1s linear infinite alternate;
           -moz-animation: line 1s linear infinite alternate;
           animation: line 1s linear infinite alternate;
        }
        @-webkit-keyframes line{
            0%{

                background-color: rgba(0,0,0, 1);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

              }
            25%{
                    background-color: rgba(0,0,0, 0.4);
                    box-shadow: 12px 0px 0px 0px rgba(0,0,0,2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

            }
            75%{ background-color: rgba(0,0,0, 0.4);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,2);

              }
        }

        @-moz-keyframes line{
            0%{

                background-color: rgba(0,0,0, 1);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

              }
            25%{
                    background-color: rgba(0,0,0, 0.4);
                    box-shadow: 12px 0px 0px 0px rgba(0,0,0,2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

            }
            75%{ background-color: rgba(0,0,0, 0.4);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,2);

              }
        }

        @keyframes line{
            0%{

                background-color: rgba(0,0,0, 1);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

              }
            25%{
                    background-color: rgba(0,0,0, 0.4);
                    box-shadow: 12px 0px 0px 0px rgba(0,0,0,2),
                            24px 0px 0px 0px rgba(0,0,0,0.2);

            }
            75%{ background-color: rgba(0,0,0, 0.4);
                box-shadow: 12px 0px 0px 0px rgba(0,0,0,0.2),
                            24px 0px 0px 0px rgba(0,0,0,2);

              }
        }

        * { box-sizing: border-box; }

        .srolltobot-img {
           position: fixed; bottom: 7em; right: 1.25em;
        }
        .google-search-cards {
            position: relative;
            height: 300px;
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            transition: all 0.2s;
            transform: scale(0.98);
            will-change: transform;
            user-select: none;
            -ms-overflow-style: none;
            cursor: pointer;
            
          }
          .hide-scrollbar::-webkit-scrollbar { 
                display: none;  
            }
        .google-search-card {
          display: inline-block;
          overflow-y: hidden;
          border-radius: 25px;
          background: #FFFFFF;
          box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.2);
          padding: 20px; 
          width: 300px;
          height: 200px;
          margin: 2em 1em;
        }
        .google-search-card p{
          white-space:normal;
          margin:0;
        word-break: break-word;}

        .google-search-title{
        color:blue;
        font-size: 1.6em;
        }


        .google-search-link{
        color:green;
        }

        .feedback-box-container{
          position: relative;
          width: 93%;
          max-width: 350px;
          text-align: center;
          margin: 4% auto;
          padding: 30px 0;
          background: #111;
          color: #EEE;
          border-radius: 5px;
          border: thin solid #444;
          overflow: hidden;
          filter: brightness(150%);
        }

        .feedback-stars-div{
          width: 270px;
          display: inline-block;
        }

        .feedback-star-input{
          display: none;
        }

        .feedback-star-label {
          float: right;
          padding: 10px;
          font-size: 36px;
          color: #444;
          transition: all .2s;
        }

        .feedback-star-input:checked ~ .feedback-star-label:before {
          content:'\2605';
          color: #FD4;
          transition: all .25s;
          text-shadow: 0 0 20px #952;
        }

        .feedback-star-label:hover{
          transform: rotate(-15deg) scale(1.3);
        }

        .feedback-star-label:before{
          content:'\2605';
          color: #fff;        }

        .feedback-comment-box-div{
          overflow: hidden;
          height: 0;
          width: 100%;
          transition: all .25s;
        }

        .feedback-textarea{
          background: #fff;
          border: none;
          width: 100%;
          resize: none;
          height:100px;
          padding: 10px;
          box-sizing: border-box;
          /*color: #EEE;*/
        }
        .feedback-textarea::placeholder {color: #5a5a5a;}

        .feedback-star-input:checked ~ .feedback-comment-box-div{
          height: 125px;
          overflow: visible;
        }

        #submit-feedback{
          border: 0;
          border-radius: 5px;
          cursor: pointer;
          color: #fff;
          font-size:16px;
          font-weight: bold;
          line-height: 1.4;
          padding: 10px;
          width: 180px;
          filter: brightness(75%);
          margin-left: 10px;
        }

        #global-preloader{
          width: 100%;
          height: 100%;
          top:0;
          bottom: 0;
          position: fixed;
          opacity: 1;
          z-index: 9999;
          background: url('/static/LiveChatApp/img/preloader.svg') 50% 50% no-repeat;
          background-color: #FFFFFF;
        }

        * {
            box-sizing: border-box
        }

        .easychat-slideshow-slides {display: none}

        .easychat-slideshow-slides > img {
          vertical-align: middle;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 23em;
          height: 14em;
        }

        /* Slideshow container */
        .easychat-slideshow-container {
          max-width: 100%;
          position: relative;
          margin: auto;
        }

        /* Next & previous buttons */
        .easychat-slideshow-prev, .easychat-slideshow-next {
          cursor: pointer;
          position: absolute;
          top: 80%;
          width: auto;
          padding: 16px;
          margin-top: -22px;
          color: white;
          font-weight: bold;
          font-size: 10px;
          transition: 0.6s ease;
          border-radius: 0 3px 3px 0;
          user-select: none;
          background-color: #6C2D77;
        }

        /* Position the "next button" to the right */
        .easychat-slideshow-next {
          right: 0;
          border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .easychat-slideshow-prev:hover, .easychat-slideshow-next:hover {
          background-color: rgba(0,0,0,0.8);
        }

        /* Number text (1/3 etc) */
        .easychat-slideshow-numbertext {
          color: #6C2D77;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          top: 0;
        }

        /* The dots/bullets/indicators */
        .easychat-slideshow-dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .active, .easychat-slideshow-dot:hover {
          background-color: #717171;
        }

        .easychat-slideshow-dot-cards {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .active, .easychat-slideshow-dot-cards:hover {
          background-color: #717171;
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
          .easychat-slideshow-prev, .easychat-slideshow-next,.text {font-size: 11px}
        }

        .easychat-system-message{

            height: auto;
            font-weight: 300;
            font-size: 13px;
            color: #2d2d2d;
            border-radius: 10px 10px 10px 10px;
            background-color:#f3f3f3;
            word-wrap: break-word;
            display: inline-block;
            text-align: center;
            padding: 10px 15px !important;
            border: 1px solid #4d4d4d
        }

        .easychat-system-message-line{

            line-height: 17px;
            width: fit-content;
            box-sizing: border-box;
            padding: 5px 5px;
        }

        .easychat-system-message-div {
            width: 100%;
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1em;
            display: inline-block;
        }
        .easychat-livechat-message{

          word-wrap: break-word;
        }

        /* mobile responsive ui */

        @media screen and (max-width: 680px) {
          .input-container {
            width: 83% !important;
          }
        }

        .livechat-agent-modal {
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          left: -37%;
          top: 7%;
          width: 71vh !important; /* Full width */
          height: 100vh !important; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      
  @media screen and (max-width: 680px) and (min-width:326px) {
    .chat-input {
      width: 80% !important;
    }
  }

  @media screen and (max-width: 325px) {
    .chat-input {
      width: 74% !important;
    }
  }

  .dropdown-content {
    height: 150px !important;
    width: 126px !important;
  }

  .dropdown-content li>a {
    padding: 10px 12px !important;
  }

  .easychat-button{
            background-color: #e1bee7 !important;
            color:black  !important;
            font-weight: bold  !important;
        }

  .easychat-button:hover{
            background-color: #e1bee7 !important;
            color:black  !important;
            font-weight: bold  !important;
        }

  .select2-results__option,
  .select2-container--default .select2-results__option--highlighted[aria-selected="true"] {
    color: #f4f6fe !important;
  }

  #query {
    border-bottom: 1px solid #e6e6e6 !important;
  }
