	/* img {
		border: 2px solid #ddd;
		border-radius: 4px;
		width: 150px;
		border-color: black;
	} */
	.analytics_class {
		height: 100px;
    	text-align: center;
    	font-size: 80px;
	}
	.card-panel:hover {
		transform: scale(1.05);
	}