#apply-filter-live-analytics .livechat-multiselect-dropdown .btn-default,
#apply-filter-analytics .livechat-multiselect-dropdown .btn-default{
    font-size: 12px;
}

.agent-report-analytics-area{
    background-color: #f8f9fc;
    padding: 8px 30px 8px 30px !important;
    /* display: flex; */
    overflow-y: auto;
    height: calc(100vh - 55px);
    width: 100%;
    overflow-x: hidden;
}
.agent-report-analytics-area .agent-report-row{
    height: 100% ;
}
.agent-analytics-report-div{
    height: 100% !important;
}
.agent-analytics-report-div .livechat-analytics-section-heading-buttons .agent-report-filter-btn{
    font-style: normal;
    font-weight: 500;
    width: 104px;
    height: 35px;
    font-size: 12px;
    color: #868686;
    padding: 8px 0px 8px 0px;
    border: none;
    text-align: center;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 18px;
}
.agent-analytics-report-div .livechat-analytics-section-heading-buttons .agent-report-filter-btn svg{
    padding-left: 20px;
    margin-top: -1px;
    width: 36px;
    height: 9px;
}
.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container.dropdown-menu li.multiselect-all:first-child{
    border-bottom: 1px solid #F6F6F6 !important; 
}
@media (max-width: 768px) {
  .agent-analytics-report-div  .livechat-analytics-section-heading-name {
        font-size: 14px !important;
    }
    .agent-analytics-report-div .livechat-analytics-section-heading-buttons .agent-report-filter-btn{
        margin-right: 0 !important;
    }
    .agent-report-analytics-area {
        padding: 8px 30px 8px 25px !important;
        height: calc(100vh - 80px);
    }
  .agent-analytics-report-div  .livechat-combined-analytics-subheading {
        font-size: 13px;
        padding: 16px 0px 8px 0px;
    }
    .agent-report-analytics-area .agent-report-row {
        height: auto;
    }
  .chat-report-card-name  .chat-report-card-heading {
        font-size: 13px;
    }
    .agent-analytics-report-div {
        overflow-x: hidden;
    }
    .tooltip {
        display: block !important;
    }
}
#livechat-analytics-start-date:focus,#livechat-analytics-end-date:focus{
    background-image: url(../img/select-up-arrow.svg) !important;
}
#livechat-analytics-start-date, #livechat-analytics-end-date {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    appearance: none;
    background-image: url(../img/select-down-arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 13px;
    outline: none;
    display: inline-block;
    box-shadow: none !important;
    border-color: #d1d3e2 !important;
    cursor: pointer;
}