tbody,
tr,
th,
td {
    border: none;
}

td {
    padding: 8px 5px;
}

.easychat-button {
    background-color: #e1bee7 !important;
    color: black !important;
    font-weight: bold !important;
}

.easychat-button:hover {
    background-color: #e1bee7 !important;
    color: black !important;
    font-weight: bold !important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .live-chat-customer-name {
        margin-bottom: -1.5rem;
    }
    .live-chat-client-message-bubble-image-attachment img {
        border-radius: 1em;
    }
    .live-chat-message-wrapper {
        height: 75%;
    }
}

@supports (-webkit-touch-callout: none) {
    @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        .live-chat-message-wrapper {
            height: 62%;
        }
    }
}

@media only screen and (max-width: 1025px) {
    #query {
        width: 100% !important;
    }
}

@media only screen and (max-width: 917px) {
    .live-chat-text-box.textarea-desktop {
        width: 73%;
    }
    #query {
        width: 100% !important;
    }
}

@media only screen and (max-width: 769px) {
    .easychat-system-message-div {
        margin-bottom: 2em;
    }
}

.live-chat-customer-details {
    background: #FAFAFA;
    padding: 4px;
}

.customer-details-refresh-button {
    right: 12px;
    top: 10px;
}

.livechat-info-heading-div {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #4D4D4D;
    margin-bottom: 8px;
}

.live-chat-customer-name {
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    border: none;
    position: unset;
    margin-bottom: 0px !important;
    height: auto !important;
}

.livechat-customer-detail-edit-disabled-btn svg {
    fill: #CBCACA;
}

.livechat-customer-detail-edit-disabled-btn {
    pointer-events: none;
}

#livechat_customer_details_edit_btn {
    background: #fff;
    width: 18px;
    height: 18px;
    border: none;
    outline: none !important;
    position: absolute;
    right: 40px;
    top: 10px;
}

.livechat-customer-personal-details input {
    background-color: #fff;
    border: none;
    padding: 0px 0px;
    width: 100%;
    outline: none !important;
    font-weight: 500;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.customer-detail-cancel-save-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 12px 12px;
}

.customer-detail-cancel-save-btns button {
    padding: 0px 16px;
    height: 22px;
    outline: none !important;
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    margin-left: 8px;
    border-radius: 2px;
}

.customer-detail-cancel-btn {
    background: #FFFFFF;
    color: #7B7A7B;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
}

.customer-detail-save-btn {
    background: #0254D7;
    color: #FFFFFF;
    border: none;
}

.livechat-customer-personal-details-wrapper {
    width: 100%;
    background: #fff;
}

.livechat-customer-personal-details {
    padding: 6px 12px 6px 12px;
}

.livechat-customer-detail-items-wrapper {
    display: flex;
    column-gap: 12px;
    margin-bottom: 12px;
}

.livechat-details-card-div {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 4px;
}

.livechat-customer-detail-icon-wrapper {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.livechat-customer-detail-label {
    font-weight: 500;
    font-size: 12.4545px;
    line-height: 16px;
    color: #2D2D2D;
}

.livechat-customer-detail-edit-active {
    background: #FCFCFC;
}

.livechat-customer-personal-details-wrapper.livechat-customer-detail-edit-active .customer-detail-cancel-save-btns {
    display: flex !important;
}

.livechat-customer-personal-details-wrapper.livechat-customer-detail-edit-active .livechat-customer-detail-items-wrapper {
    flex-direction: column;
}

.livechat-customer-personal-details-wrapper.livechat-customer-detail-edit-active .livechat-customer-detail-label {
    display: block !important;
}

.livechat-customer-personal-details-wrapper.livechat-customer-detail-edit-active .livechat-customer-personal-details input {
    padding: 6px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08);
    margin-top: 8px;
}

#alert_if_customer_is_not_online {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FF0000;
    padding: 0px 12px 12px;
}

.live-chat-action-btn-container-container {
    width: 100% !important;
    border-bottom: none !important;
    padding: 12px !important;
}

.live-chat-voip-call-initiate-div {
    margin-bottom: 16px;
}

.live-chat-details-action-buttons {
    height: 40px;
    padding: 0px 12px;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: normal;
    font-size: 12px;
    color: #2F80ED;
    outline: none !important;
    background-color: #ffffff;
    display: inline-flex;
    align-items: center;
    margin-top: 8px;
    column-gap: 12px;
    margin-right: 8px;
}

.livechat-chat-assign-details-container {
    padding: 12px 12px 4px;
}

.livechat-chat-assign-details-item-wrapper {
    display: flex;
    column-gap: 12px;
    margin-bottom: 8px;
}

.livechat-chat-assign-details-heading-label {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #7B7A7B;
}

.livechat-chat-assign-details-heading-data-label {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.live-chat-mobile-display .live-chat-customer-name {
    flex-direction: row !important;
    align-items: center !important;
}

.livechat-add-agent-container .select-box .option.agent-option input {
    opacity: 0 !important;
    height: 0;
    margin: 0;
}

.livechat-add-agent-container .select-box .option.agent-option span.checkmark {
    right: 1%;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgb(39, 84, 203, 1);
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0 0 0;
}

.livechat-add-agent-container .select-box .option.agent-option span.checkmark::after {
    content: "";
    position: absolute;
}

.livechat-add-agent-container .select-box .option.agent-option input:checked~.checkmark {
    background-color: rgb(39, 84, 203, 1);
}

.livechat-add-agent-container .select-box .option.agent-option input:checked~.checkmark {
    border: 1px solid rgb(39, 84, 203, 1);
}

.livechat-add-agent-container .select-box .option.agent-option input:checked~.checkmark:after {
    display: block;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#no_cust_till_now p,
#no_email_cust_till_now p {
    text-align: center;
}

#no_cust_till_now img,
#no_email_cust_till_now img {
    width: 100%;
    object-fit: contain;
    margin: 0 auto !important;
}
.live-chat-client-message-bubble a{
    text-decoration: underline !important ;
}
.live-chat-agent-sned-transcript-button{
    display: flex;
}
/* stop timer css start  */
#countdown .timer-count-text-div .countdown-text{
    font-weight: normal;
    font-size: 8px;
    color: #FFFFFF;
}
#countdown span{
    padding: 0px !important;
}
.countdown-container-div #countdown {
    align-items: baseline;
    column-gap: 6px;
}
.timer-count-text-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* stop timer css end  */
@media only screen and (min-width: 769px) {
    .easychat-system-message-line {
        max-width: 90%;
    }
}

/* custom notification CSS start */
.custom-notification-alert-div{
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
}

.custom-notification-alert-div p{
    background: #FFF7F2;
    border: 1px solid #F8DA70;
    border-radius: 4px;
    width: inherit;
    max-width: max-content;
    padding: 12px 12px;
    margin: 0 auto;
    display: flex;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #4D4D4D;
    margin: 0 16px;
}

.custom-notification-alert-div p .notification-text{
    margin-right: 12px;
}

.custom-notification-alert-div p .close-notification-icon-svg{
    cursor: pointer;
}
/* custom notification CSS end */

.live-chat-text-format-icon.disabled-icons path{
    fill: #C5C5C5 !important;
}