.dataTables_filter {
  display: none;
}
#canned-response-table_info {
    font-size: 13px;
    margin-top: 60px;
    color: #4D4D4D;
    width: 50%;
    padding-left: 10px;
    display: inline-block;
  position: absolute;
  bottom: 2px;
  }

  .upload-excel-button, .upload-excel-button-mobile-responsive {
    font-style: normal;
    font-weight: 500;
    border: 1px solid #0254D7;
    text-align: center;
    outline: none;
    font-size: 12px;
    width: 106px;
    height: 35px;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    color: #0254D7;
}

@media only screen and (max-width:769px) {
  #download_create_canned_response_template {
    width: 30px;
    line-height: 1.3em;
  }
}

.upload-excel-button-mobile-responsive {
  width: 115px;
  font-size: 14px;
}
.upload-excel-button:focus, .upload-excel-button-mobile-responsive:focus{
  outline: none;
}

 @media only screen and (max-width: 769px) {
    #canned-response-table_info {
      display: none;
    }
  }
  .modal-backdrop {
    display: none !important;
  }
  .backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
 
 .dataTables_empty {
    text-align: center !important;
  }
  @media only screen and (max-width: 769px) {
  #live-chat-setting-content-cr {
    z-index: 1 !important;
  }

   }
  @media only screen and (min-width: 770px) {
      #live-chat-setting-content-cr {
        overflow-y: auto; 
        overflow-x: hidden; 
        max-width: 83%; 
        height: calc(100vh - 4.375rem);
      }
  }
   @supports (-webkit-touch-callout: none) {
    @media only screen and (max-width: 769px) {
      .modal-content{
            margin-top: 5em;
          }
    }
        
}