#livechat_archive_customer_loader.data-loader-div {
    width: 100%;
    height: 120px;
    text-align: center;
    padding-top: 40px;
}

#livechat_archive_customer_loader .loader-custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#livechat_archive_customer_loader .loader-custom #loader-inside-div {
    position: relative;
    display: flex;
    width: 15%;
    justify-content: space-between;
}

#livechat_archive_customer_loader .loader-custom #loader-inside-div div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #d91e36;
}

.loader-custom #loader-inside-div div:nth-child(1) {
    animation: loader-movement 3s linear infinite 0s;
}

.loader-custom #loader-inside-div div:nth-child(2) {
    animation: loader-movement 3s linear infinite 0.15s;
}

.loader-custom #loader-inside-div div:nth-child(3) {
    animation: loader-movement 3s linear infinite 0.3s;
}

.loader-custom #loader-inside-div div:nth-child(4) {
    animation: loader-movement 3s linear infinite 0.45s;
}

@keyframes loader-movement {
    0% {
        opacity: 0;
        transform: scale(0.3);
        background: #59cd90;
    }
    25% {
        opacity: 1;
        transform: scale(1.8);
        background: #0072bb;
    }
    50% {
        opacity: 0;
        transform: scale(0.3);
        background: #fe4a49;
    }
    75% {
        opacity: 1;
        transform: scale(1.8);
        background: #fed766;
    }
    100% {
        opacity: 0;
    }
}

.loader-custom span {
    padding-right: 15px;
}

_::-webkit-full-page-media,
_:future,
:root .live-chat-archive-customer-table-area {
    min-height: 70vh;
}