#livechat_audit_trail_loader.data-loader-div {
    width: 100%;
    height: 120px;
    text-align: center;
    padding-top: 40px;
}

#livechat_audit_trail_loader .loader-custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#livechat_audit_trail_loader .loader-custom #loader-inside-div {
    position: relative;
    display: flex;
    width: 15%;
    justify-content: space-between;
}

#livechat_audit_trail_loader .loader-custom #loader-inside-div div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #d91e36;
}

.loader-custom #loader-inside-div div:nth-child(1) {
    animation: loader-movement 3s linear infinite 0s;
}

.loader-custom #loader-inside-div div:nth-child(2) {
    animation: loader-movement 3s linear infinite 0.15s;
}

.loader-custom #loader-inside-div div:nth-child(3) {
    animation: loader-movement 3s linear infinite 0.3s;
}

.loader-custom #loader-inside-div div:nth-child(4) {
    animation: loader-movement 3s linear infinite 0.45s;
}

@keyframes loader-movement {
    0% {
        opacity: 0;
        transform: scale(0.3);
        background: #59cd90;
    }
    25% {
        opacity: 1;
        transform: scale(1.8);
        background: #0072bb;
    }
    50% {
        opacity: 0;
        transform: scale(0.3);
        background: #fe4a49;
    }
    75% {
        opacity: 1;
        transform: scale(1.8);
        background: #fed766;
    }
    100% {
        opacity: 0;
    }
}

.loader-custom span {
    padding-right: 15px;
}

#apply-filter-audit-trail .resetBtn {
    border: none;
    box-sizing: border-box;
    background: none;
    font-weight: 500;
    font-size: 12px;
    color: #4d4d4d;
    outline: none;
    margin-top: -8px;
    position: absolute;
    left: 20px;
}

.modal-backdrop {
    display: none !important;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.live-chat-agent-message-wrapper {
    width: 59% !important;
    margin-left: auto !important;
}
.live-chat-client-message-wrapper {
    margin-left: 0%;
    width: 65%;
}

/* safari specific css */
/*@supports (-webkit-backdrop-filter: blur(1px)) {
    .modal {
        margin-top: 50px !important;
    }
}*/
.live-chat-report-d-interaction-table-area {
    margin-left: 7px;
}

.dataTables_filter {
    display: none;
}

#audit-trail-table_info {
    font-size: 13px;
    margin-top: 60px;
    color: #4d4d4d;
    width: 50%;
    padding-left: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

@media screen and (min-width: 1100px) and (max-width: 1399px) {
    .wait-time {
        width: 120px;
    }
}
@media screen and (min-width: 1400px) {
    .wait-time {
        width: 100px;
    }
}
.ui-state-default {
    background: #f6f6f6 !important;
    color: #454545 !important;
    border: 1px solid #c5c5c5 !important;
}

.livechat-nps-details {
    float: none !important;
    margin-left: 0em !important;
}
.easychat-footer {
    height: 26px !important;
    line-height: 28px !important;
}
@-moz-document url-prefix() {
    .easychat-footer {
        height: 18px !important;
        line-height: 22px !important;
    }
}
_::-webkit-full-page-media,
_:future,
:root #nps-details-modal-content {
    top: 130px;
}
/*_::-webkit-full-page-media,
_:future,
:root #livechat-chat-history-modal-content {
    top: 130px;
}*/
_::-webkit-full-page-media,
_:future,
:root .live-chat-admin-history-table-area {
    min-height: 70vh;
}
.live-chat-admin-history-table-area #audit-trail-table_wrapper{
    overflow-x: revert;
}