
.live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}


.live-chat-cobrowsing-history-table-area table td, .live-chat-cobrowsing-history-table-area table th {
    padding: 20px 2px 20px 20px;
    text-align: left;
}
.live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date .filter-apply-button {
    width: 115px;
    height: 35px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient( 90deg, #0254D7 0%, #0062FF 100%);
    /* opacity: 0.5; */
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: -3px;
}

.live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date .search-container {
    float: right;
    height: 34px;
    padding: 0px 0px 0px 15px;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 8%);
    border-radius: 5px;
}

.live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date .search-container button {
    outline: none;
}

.live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date .search-container button {
    float: left;
    padding: 0px 6px 0px 0px;
    margin-top: 5px;
    margin-right: 0px;
    background: #ffffff;
    border: none;
    cursor: pointer;
}

.live-chat-cobrowsing-history-heading svg {
    margin-top: 2px;
    margin-bottom: 4px;
}

.live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date .search-container input[type=text] {
    padding: 7px 0px 0px 6px;
    margin-top: 0px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    outline: none;
    width: 80%;
}

.live-chat-cobrowsing-history-heading {
    width: 99%;
    margin: 3px 0px 12px 7px;
    padding: 12px 30px 12px 30px;
    background: #FFFFFF;
}

@media only screen and (min-width: 770px) {
    #live-chat-cobrowsing-history {
        overflow-y: auto;
        overflow-x: hidden;
        max-width: 99.5%;
        height: calc(100vh - 4.375rem);
    }
}

.live-chat-cobrowsing-history-table-area {
    z-index: 0;
    width: 99%;
    background: #ffffff;
    margin: 1px 5px 5px 7px;
    overflow: hidden;
    /* height: 100%; */
    padding: 0px;
}

.live-chat-cobrowsing-history-table-area table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.live-chat-cobrowsing-history-table-area table tr {
    border-bottom: 1px solid #E6E6E6;
}

.live-chat-cobrowsing-history-table-area table tr th {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    position: sticky;
    top: 0px;
    z-index: 100 !important;
}

.live-chat-cobrowsing-history-table-area table td,
.live-chat-cobrowsing-history-table-area table th {
    padding: 20px 2px 20px 20px;
    text-align: left;
}

.live-chat-cobrowsing-history-table-area table tr {
    border-bottom: 1px solid #E6E6E6;
}

.live-chat-cobrowsing-history-table-area table tr td {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
    word-break: break-word;
}

.meeting_record_download_btn {
    border: none;
    text-align: center;
    outline: none !important;
    color: #FFFFFF;
    padding: 0px 16px;
    height: 35px;
    background: linear-gradient( 90deg, rgb(43, 8, 255, 1) 0%, rgb(43, 8, 255, 0.8) 100%);
    opacity: 1 !important;
    border-radius: 5px;
}


/* Responsive css */

@media only screen and (max-width: 1024px) {
    .search-container {
        width: 175px;
    }
}

@media only screen and (max-width: 769px) {
    .live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date #cobrowsing-history-default-start-date,
    .live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date #cobrowsing-history-default-end-date,
    .live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date .filter-apply-button {
        display: none;
    }
    #apply_cobrowsing_history_filter_btn, #cobrowsing-history-table_info{
        display: none !important;
    }
    #livechat_cobrowsing_history_no_data {
        margin-left: 2px;
    }
    #cobrowsing-history-default-start-date-mobile, #cobrowsing-history-default-end-date-mobile{
        color: #868686;
        padding: 0px 8px 2px 10px;
        border: 1px solid #E6E6E6;
        border-radius: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        appearance: none;
        background-image: url(../img/select-down-arrow.svg);
        background-repeat: no-repeat;
        background-position-x: 90%;
        background-position-y: 13px;
        outline: none;
    }
    #refresh_cobrowsing_history_btn{
        background: transparent;
        padding-right: 20px;
    }
    .live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date .search-container {
        width: 100%;
        float: none;
        height: 55px;
        padding: 0px 0px 0px 15px;
        box-shadow: none;
        border: 1px solid #E6E6E6;
        background: #fff;
    }
    .live-chat-cobrowsing-history-heading {
        width: 100%;
        padding: 0px 13px 0px 13px;
        background: #FFFFFF;
        border-radius: 5px;
        margin: 3px 0px 12px 0px;
        height: auto;
    }
    .live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date .search-container button {
        float: right;
        padding: 0px 40px 0px 0px;
        margin-top: 13px;
    }
    .live-chat-cobrowsing-history-heading .live-chat-cobrowsing-history-date .search-container input[type=text] {
        padding: 13px 0px 0px 0px;
        font-size: 18px;
        width: 80%;
    }
    .live-chat-cobrowsing-history-heading {
        width: 100%;
        padding: 0px 13px 0px 13px;
        background: transparent;
        border-radius: 5px;
        margin: 3px 0px 0px 0px;

    }
    #live-chat-cobrowsing-history {
        padding: 0px 20px 0px 20px;
        position: fixed;
        left: 0;
        overflow-y: auto;
        height: 90vh;
    }
    .live-chat-cobrowsing-history-table-area {
        width: 99%;
        margin: 0px 0px 0px 2px;
        padding: 0px;
    }
    .live-chat-cobrowsing-history-filter-btnMobile {
        display: block !important;
        width: 100%;
        height: 70px;
        margin-top: 10px;
        background-color: #ffffff;
        border-bottom: 1px solid #E6E6E6;
        padding: 12px 0px 0px 16px;
    }
    .filter-button-cobrowsing-history-mobile {
        font-style: normal;
        font-weight: 500;
        width: 104px;
        height: 35px;
        font-size: 18px;
        color: #868686;
        border: none;
        text-align: center;
        outline: none !important;
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 5px;
        width: 140px;
        height: 46px;
    }
    .filter-button-cobrowsing-history-mobile img {
        padding-left: 20px;
        margin-top: 1px;
        width: 42px;
    }
    .live-chat-cobrowsing-history-table-area table,
    .live-chat-cobrowsing-history-table-area thead,
    .live-chat-cobrowsing-history-table-area tbody,
    .live-chat-cobrowsing-history-table-area th,
    .live-chat-cobrowsing-history-table-area td,
    .live-chat-cobrowsing-history-table-area tr {
        display: block;
    }
    .live-chat-cobrowsing-history-table-area table tr:nth-of-type(even) {
        background: #F7F7F7 !important;
    }
    .live-chat-cobrowsing-history-table-area {
        width: 99%;
        margin: 0px 0px 0px 2px;
        padding: 0px;
        margin-left: 2px !important;
    }
    .live-chat-cobrowsing-history-table-area table {
        width: 100%;
    }
    .live-chat-cobrowsing-history-table-area thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .live-chat-cobrowsing-history-table-area table tbody tr:hover {
        box-shadow: none;
        background: none;
    }
    .live-chat-cobrowsing-history-table-area tr {
        border: 1px solid #ccc;
        padding: 0px 11px;
        margin-bottom: 5px;
    }
    .live-chat-cobrowsing-history-table-area td {
        border: none;
        position: relative;
        padding: 0px;
    }
    .live-chat-cobrowsing-history-table-area table td {
        padding: 42px 0px 15px 6px !important; 
        font-size: 20px !important;
    }
    .live-chat-cobrowsing-history-table-area table th {
        padding: 25px 0px 15px 6px;
        font-size: 20px !important;
    }
    .live-chat-cobrowsing-history-table-area td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 100%;
        padding-right: 10px;
        white-space: nowrap;
        color: #757575 !important;
    }
    .live-chat-cobrowsing-history-table-area table tr td {
        padding-left: 6px;
    }
    .live-chat-cobrowsing-history-table-area td:nth-of-type(1):before {
        content: "Customer Name";
    }
    .live-chat-cobrowsing-history-table-area td:nth-of-type(2):before {
        content: "Agent Username";
    }
    .live-chat-cobrowsing-history-table-area td:nth-of-type(3):before {
        content: "Start Date-Time";
    }
    .live-chat-cobrowsing-history-table-area td:nth-of-type(4):before {
        content: "End Date-Time";
    }
    .live-chat-cobrowsing-history-table-area td:nth-of-type(5):before {
        content: "Total-Duration";
    }
    .live-chat-cobrowsing-history-table-area td:nth-of-type(6):before {
        content: "Meeting-Satus";
    }

    .live-chat-cobrowsing-history-table-area table tr td button {
        float: none;
        visibility: visible;
        position: relative;
        left: 50%;
        transform: translate(-55%, 0%);
    }
    .live-chat-cobrowsing-history-table-area .pagination-div {
        margin-top: 20px !important;
        margin-bottom: 30px;
        position: relative;
        left: 90%;
        transform: translateX(-50%);
        float: unset !important;
    }
}

.live-chat-cobrowsing-history-filter-btnMobile {
    display: none;
}

.live-chat-cobrowsing-history-table-area .pagination-div {
    float: right;
    margin-top: -25px;
    margin-right: 10px;
}

.live-chat-cobrowsing-history-table-area .pagination-div .pagination-content {
    list-style-type: none;
    display: flex;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
}

.live-chat-cobrowsing-history-table-area .pagination-content li {
    border-right: 1px solid #E6E6E6;
    box-sizing: border-box;
    padding: 3px 10px 1px 10px;
    font-size: 13px;
    height: 26px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.live-chat-cobrowsing-history-table-area .pagination-content li a {
    color: #717171;
    text-decoration: none;
}

.live-chat-cobrowsing-history-table-area .pagination-div .active-page {
    background: #EAF0FE;
    opacity: 0.5;
    border: 1px solid #0254D7;
    border-radius: 6px 0px 0px 6px;
}

@media only screen and (min-width: 770px) {
    .live-chat-cobrowsing-history-table-area.live-chat-table-parent-div-manage-user {
        max-height: calc(100vh - 9.9rem);
        overflow-y: auto !important;
    }
}
#apply-filter-cobrowsing-history .resetBtn {
    border: none;
    box-sizing: border-box;
    background: none;
    font-weight: 500;
    font-size: 12px;
    color: #4d4d4d;
    outline: none;
    margin-top: -8px;
    position: absolute;
    left: 20px;
}
#cobrowsing-default-start-date, #cobrowsing-default-end-date{
    background: transparent;
    appearance: none;
    background-image: url(https://easychat-dev.allincall.in/static/LiveChatApp/img/select-down-arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 13px;
    outline: none;
    color: #868686;
    padding: 0px 8px 2px 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.live-chat-cobrowsing-history-table-area{
    z-index: 0;
    width: 99%;
    background: #ffffff;
    margin: 1px 5px 5px 7px;
    overflow: hidden;
    /* height: 100%; */
    padding: 0px;
}

.live-chat-cobrowsing-history-table-area table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.live-chat-cobrowsing-history-table-area table tr {
    border-bottom: 1px solid #E6E6E6;
}

.live-chat-cobrowsing-history-table-area table tr th {
    font-size: 12px; font-weight:600;
    color: #000000;
    position: sticky;
    top: 0px;
    z-index: 100 !important;
}

.live-chat-cobrowsing-history-table-area table td, .live-chat-cobrowsing-history-table-area table th {
    padding: 20px 2px 20px 20px;
    text-align: left;
}


.live-chat-cobrowsing-history-table-area table tr {
    border-bottom: 1px solid #E6E6E6;
}

.live-chat-cobrowsing-history-table-area table tr td {
    font-size: 12px; font-weight:500;
    color: #4d4d4d;
    word-break: break-word;
}
.live-chat-admin-history-table-area table tr td .meeting_record_download_btn{
    border: none;
    text-align: center;
    outline: none;
    color: #FFFFFF !important;
    width: 95px !important;
    height: 35px !important;
    background: linear-gradient(
        90deg, rgb(43,8,255,1) 0%, rgb(43,8,255,0.8) 100%) !important;
    opacity: 1 !important;        
    border-radius: 5px !important; 
    float: left;
    margin: 0;

}
.dataTables_filter {
    display: none;
}
#livechat_cobrowsing_history_loader.data-loader-div {
    width: 100%;
    height: 120px;
    text-align: center;
    padding-top: 40px;
}

#livechat_cobrowsing_history_loader .loader-custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

#livechat_cobrowsing_history_loader .loader-custom #loader-inside-div {
    position: relative;
    display: flex;
    width: 15%;
    justify-content: space-between;
}

#livechat_cobrowsing_history_loader .loader-custom #loader-inside-div div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #d91e36;
}

.loader-custom #loader-inside-div div:nth-child(1) {
    animation: loader-movement 3s linear infinite 0s;
}

.loader-custom #loader-inside-div div:nth-child(2) {
    animation: loader-movement 3s linear infinite 0.15s;
}

.loader-custom #loader-inside-div div:nth-child(3) {
    animation: loader-movement 3s linear infinite 0.3s;
}

.loader-custom #loader-inside-div div:nth-child(4) {
    animation: loader-movement 3s linear infinite 0.45s;
}

@keyframes loader-movement {
    0% {
        opacity: 0;
        transform: scale(0.3);
        background: #59cd90;
    }
    25% {
        opacity: 1;
        transform: scale(1.8);
        background: #0072bb;
    }
    50% {
        opacity: 0;
        transform: scale(0.3);
        background: #fe4a49;
    }
    75% {
        opacity: 1;
        transform: scale(1.8);
        background: #fed766;
    }
    100% {
        opacity: 0;
    }
}

.loader-custom span {
    padding-right: 15px;
}

#cobrowsing-history-table_info {
    font-size: 13px;
    margin-top: 60px;
    color: #4d4d4d;
    width: 50%;
    padding-left: 10px;
    display: inline-block;
    margin-bottom: 20px;
}
.cobrowsing-agent-start-end-date{
    background-image: url(../img/select-down-arrow.svg) !important;
}
#livechat_cobrowsing_history_no_data{
    margin-left: 7px;
}
#agent-mobile-filter-button{
    font-style: normal;
    font-weight: 500;
    width: 140px;
    height: 46px;
    font-size: 18px;
    color: #868686;
    padding: 8px 0px 8px 0px;
    border: none;
    text-align: center;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#cobrowsing-history-default-start-date:focus, #cobrowsing-history-default-end-date:focus{
    background-image: url(../img/select-up-arrow.svg) !important;
}
#cobrowsing-history-default-start-date, #cobrowsing-history-default-end-date{
cursor: pointer;
}
#cobrowsing-history-default-start-date, #cobrowsing-history-default-end-date{
    height: 35px;
    margin-right: 20px;
    color: #868686;
    padding: 0px 8px 2px 10px;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    appearance: none;
    background-image: url(https://easychat-dev.allincall.in/static/LiveChatApp/img/select-down-arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 13px;
    outline: none;
}