   input[type=number]::-webkit-inner-spin-button,
   input[type=number]::-webkit-outer-spin-button {
       -webkit-appearance: none;
       margin: 0;
   }

   #cobrowse-meeting-iframe {
       position: absolute;
       bottom: 0;
       right: 0;
       width: 100%;
       height: 100%;
       overflow: hidden;
   }

   #agent-notes {
       width: 300px;
       height: 120px;
       border: 3px solid #cccccc;
       padding: 5px;
   }

   a {
       color: #fff !important;
   }



   .cobrowse-chat-box {
       width: 350px;
       /*margin: auto;*/
       position: fixed;
       bottom: 100px;
       border: 1px solid;
   }

   .cobrowse-chat-box .chat-room {
       min-height: 300px;
       background-color: #3c2c4d;
       padding: 15px;
       height: 60vh;
       overflow-y: scroll;
   }

   .cobrowse-chat-box .chat-room .avatar-small {
       width: 25px;
       height: 25px;
   }

   .cobrowse-chat-box .chat-room .message {
       margin-bottom: 15px;
       display: flex;
       flex-direction: column;
   }

   .cobrowse-chat-box .chat-room .message-left {
       align-items: flex-start;
   }

   .cobrowse-chat-box .chat-room .message-left .bubble {
       border-radius: 0 5px 5px 5px;
   }

   .cobrowse-chat-box .chat-room .message-right {
       align-items: flex-end;
   }

   .cobrowse-chat-box .chat-room .message-right .bubble {
       border-radius: 5px 0 5px 5px;
   }

   .cobrowse-chat-box .chat-room .bubble {
       padding: 10px;
       font-size: 14px;
       margin-top: 5px;
       display: inline-block;
   }

   .cobrowse-chat-box .chat-room .bubble-light {
       color: #fff;
       background-color: #566572;
   }

   .cobrowse-chat-box .chat-room .bubble-dark {
       color: #fff;
       background-color: #0462b2;
   }

   .cobrowse-chat-box .type-area {
       display: flex;
       height: 45px;
       background-color: #fff;
   }

   .cobrowse-chat-box .type-area .input-wrapper {
       overflow: hidden;
       border-radius: 0 0 0 20px;
   }

   .cobrowse-chat-box .type-area .input-wrapper input {
       outline: none;
       border: none;
       padding-left: 20px;
       height: 100%;
       width: 350px;
       font-size: 14px;
   }

   .cobrowse-chat-box .type-area .button-add {
       padding-top: 10px;
       align-items: center;
       position: relative;
       width: 40px;
   }

   .cobrowse-chat-box .type-area .button-add i {
       font-size: 20px;
       color: black;
       cursor: pointer;
   }

   .cobrowse-chat-box .type-area .button-add i:hover {
       color: #be79df;
   }

   .cobrowse-chat-box .type-area .button-add .others {
       display: flex;
       padding: 10px 15px;
       background-color: #fff;
       position: absolute;
       top: 5px;
       z-index: -1;
       right: -52px;
       border-radius: 999px;
       box-shadow: 0 0 25px -5px lightgray;
       transition: 0.3s all ease-out;
   }

   .cobrowse-chat-box .type-area .button-add .others span i {
       font-size: 20px;
       color: #be79df;
   }

   .cobrowse-chat-box .type-area .button-add .others span.image-button {
       margin: 0 25px;
   }

   .cobrowse-chat-box .type-area .button-add .others .emoji-button {
       position: relative;
   }

   .cobrowse-chat-box .type-area .button-add .others .emoji-button .emoji-box {
       display: none;
       position: absolute;
       width: 0px;
       height: 0px;
       top: 0px;
       right: 0px;
       transition: 0.3s all ease-out;
   }

   .cobrowse-chat-box .type-area .button-add .others .emoji-button .emoji-box span {
       user-select: none;
       cursor: pointer;
       margin-right: 5px;
       margin-bottom: 5px;
       width: 20px;
       height: 20px;
   }

   .cobrowse-chat-box .type-area .button-send {
       background-color: #fff;
       margin-left: auto;
       width: 65px;
       color: #be79df;
       /*font-weight: bold;*/
       /*border-left: 2px solid #f7f9fb;*/
       /*border-radius: 0 0 20px 0;*/
   }

   .cobrowse-chat-box .type-area .button-send:hover {
       background-color: #be79df;
       color: #fff;
   }

   .cobrowse-chat-box .header {
       background-color: #fff;
   }