/* modal css */

.livechat-custom-modal-wrapper .modal-header {
    padding: 1.5em 1.5em;
}

.livechat-custom-modal-wrapper .modal-header h6 {
    font-size: 14px;
}

.livechat-custom-modal-wrapper label b {
    font-weight: 500;
    font-size: 16px;
    color: #E53E3E;
}

.livechat-custom-modal-wrapper .modal-footer {
    background: #F6F6F6;
    padding: 0.6rem 1rem;
}

.livechat-custom-modal-wrapper .modal-content {
    overflow: hidden;
}

.livechat-custom-modal-wrapper .modal-footer .btn-close {
    background: transparent;
    border: none;
}

.raise-ticket-query-textarea {
    resize: none;
}

.raise-ticket-query-textarea::placeholder {
    font-size: 12px;
}

.livechat-custom-modal-wrapper .modal-body {
    max-height: calc(100vh - 12rem);
    overflow-y: auto;
}

#livechat-raise-ticket-form .drag-drop-input-field-wrapper, #livechat_form_preview_div .drag-drop-input-field-wrapper, .livechat-create-form-field .drag-drop-input-field-wrapper{
    left: 0;
    top: 0;
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#livechat-raise-ticket-form .selected-image-wrapper, #livechat_form_preview_div .selected-image-wrapper, .livechat-create-form-field .selected-image-wrapper{
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
}

#livechat-raise-ticket-form .image-name-copy-div, #livechat_form_preview_div .image-name-copy-div, .livechat-create-form-field .image-name-copy-div {
    position: relative;
}

#livechat-raise-ticket-form .dismiss-circle, #livechat_form_preview_div .dismiss-circle, .livechat-create-form-field .dismiss-circle {
    position: absolute;
    right: -24px;
    cursor: pointer;
    top: -4px;
}

.livechat-custom-modal-error-message {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FF0000;
}

.livechat-ticket-succesfull-text-heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 4px;
    color: #7B7A7B;
}

.livechat-ticket-succesfull-text-subheading {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #939393;
}

.livechat-ticket-details-container {
    width: 100%;
    padding: 12px 12px 6px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 12px;
    position: relative;
}

.livechat-ticket-details-item {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 8px;
}

.livechat-ticket-details-heading-label {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #7B7A7B;
}

.livechat-ticket-details-data-label {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #2D2D2D;
}

.previously-raised-tickets-div {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #0254D7;
}

.livechat-ticket-details-container [data-toggle=collapse]::after {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 1.725rem;
    line-height: 40px;
    font-weight: 900;
    content: '\f106';
    font-family: 'Font Awesome 5 Free';
    color: #d1d3e2;
}

.livechat-ticket-details-container [data-toggle=collapse].collapsed::after {
    content: '\f107';
}

.livechat-ticket-details-container a.collapsed {
    height: 40px;
    margin-top: -12px;
    padding-top: 10px;
    margin-bottom: -6px;
}

.livechat-ticket-details-container a {
    margin-left: -6px;
    padding-left: 6px;
}

#ticket-id-span {
    font-weight: bold;
    color: #000000;
}

/* Country Code CSS Start */

.selected-flag {
    background: #EBEBEB;
    border-radius: 4px 0px 0px 4px;
}

#customer-phone-input {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 8%);
    border-radius: 0px 2px 2px 0px;
    height: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: #4D4D4D;;
    box-shadow: none;
}

#customer-phone-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    font-family: 'DM Sans';
    font-style: normal;
    color: #2D2D2D;
    /* color: #7B7A7B; */
}

.intl-tel-input {
    margin-top: 8px;
}

.intl-tel-input .selected-flag .iti-arrow {
    border: none !important;
}

.intl-tel-input .selected-flag .selected-dial-code {
    /* font-family: 'Silka'; */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #475569;
}

.intl-tel-input .selected-flag .iti-arrow::after {
    content: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.64117 4.20361C8.45114 4.00358 8.14304 4.00358 7.95301 4.20361L6.1885 6.061L4.42398 4.20361C4.23395 4.00358 3.92585 4.00358 3.73582 4.20361C3.54579 4.40364 3.54579 4.72796 3.73582 4.92799L5.84442 7.14756C6.03445 7.34759 6.34254 7.34759 6.53257 7.14756L8.64117 4.92799C8.8312 4.72796 8.8312 4.40364 8.64117 4.20361Z' fill='%23334155'/%3E%3C/svg%3E%0A");
    top: -7px;
    right: 0px;
    position: absolute;
}

.intl-tel-input .country-list {
    border: none;
    box-shadow: 0px 0px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
    white-space: normal;
    min-width: 250px;
    padding: 0px 0px 10px 0px;
    border-radius: 8px;
    overflow-x: hidden;
    margin: 4px 0 4px -1px;
    width: 100%;
    background-color: #fff;
    max-height: 150px;
}

.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
    width: 100%;
    padding: 0;
}

.intl-tel-input .country-list .country {
    height: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #7B7A7B;
    padding: 10px 5px;
}

.intl-tel-input .country-list .country:hover {
    background: #F8F8F8;
}

.intl-tel-input .country-list .divider {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}

.intl-tel-input .country-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.intl-tel-input .country-list::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.intl-tel-input .country-list::-webkit-scrollbar-thumb {
    background-color: #babdc0 !important;
    border-radius: 16px !important;
}

#search_input_country {
    width: 100%;
    height: 40px;
    padding: 4px 10px;
    border-radius: 0px;
    margin-top: 0px !important;
    outline: none;
    border-bottom: 1px solid rgba(50, 50, 71, 0.06);
    border: 1px solid #d1d3e2;
    position: sticky;
    top: 0px;
}

#search_input_country::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #CBCACA;
    background-repeat: no-repeat !important;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.9043 13.8563L18.7827 17.7357C19.0724 18.0259 19.0724 18.496 18.7827 18.7862C18.4906 19.0713 18.0246 19.0713 17.7324 18.7862L13.854 14.9068C11.5449 16.6639 8.26951 16.3309 6.36104 14.145C4.45258 11.9591 4.56373 8.66785 6.61532 6.61573C8.6669 4.56362 11.9573 4.45244 14.1426 6.36139C16.328 8.27035 16.6609 11.5465 14.9043 13.8563ZM10.5355 6.52407C8.32099 6.52407 6.52578 8.31974 6.52578 10.5348C6.5284 12.7488 8.32208 14.5429 10.5355 14.5455C12.75 14.5455 14.5452 12.7499 14.5452 10.5348C14.5452 8.31974 12.75 6.52407 10.5355 6.52407Z' fill='%23CBCACA'/%3E%3C/svg%3E%0A");
    background-position: left;
    text-indent: 28px;
}

.selected-flag {
    border: none;
    outline: none;
}

.country-flag-img {
    margin-left: 4px;
}

.error-msg {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E10E00;
    justify-content: flex-end;
}

.country-no-result-found {
    width: 100% !important;
    text-align: center !important;
    display: none;
    padding: 5px 0 5px 0px !important;
}

.customer-general-info-phoneno-div {
    align-items: center;
}

/* Country Code CSS End */