/************* EMAIL Analytics Styles *****************/

.livechat-admin-email-setting-container {
    margin: -2px 5px 7px -5px;
    background-color: #fff;
    width: 101.4%;
    padding: 0px 24px;
    height: auto;
    min-height: 99%;
}

.livechat-admin-email-setting-container .livechat-option-switch {
    margin-top: 12px;
}

.cognoai-tag {
    display: inline-flex;
    color: #fff;
    padding: 4px 11px;
    min-height: 28px;
    background: #540D29;
    border-radius: 4px;
    gap: 1em;
    margin-bottom: 8px;
}

.tag-remove-btn {
    color: white;
    cursor: pointer;
    font-weight: bold;
    vertical-align: text-bottom;
}

.custom-card-settings {
    box-shadow: 0px 0px 2px rgb(0 0 0 / 25%);
    border-radius: 10px!important;
}

.custom-card-settings .nav-tabs {
    border-bottom: none!important;
}

@media only screen and (max-width: 600px) {
    .custom-card-settings .nav-tabs {
        flex-wrap: nowrap;
        overflow: auto;
    }
    .custom-card-settings .nav-tabs::-webkit-scrollbar {
        display: none;
    }
}

.nav-tabs {
    border: none!important;
}

.btn-profile-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #F6F6F6;
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
    border-radius: 0px 0px 0px 0px;
    background: white;
    overflow: hidden;
}

.btn-profile-tab:first-child {
    border-radius: 8px 0px 0px 0px;
    border-left: 2px solid #F6F6F6;
}

.btn-profile-tab a {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 15px;
    color: #767B87;
    text-decoration: none !important;
    min-width: 140px;
    max-width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-profile-tab:last-child a {
    justify-content: center;
    min-width: 75px;
}

.btn-profile-tab a span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.enable-setting-row {
    border-bottom: 1px solid #F4F4F4!important;
    padding-bottom: 1em;
}

.tab-content {
    border: 1px solid #E9E9E9;
    padding: 1.5em 1em!important;
    /*background: #F8F9FC;*/
    background: white;
}

.btn-trigger-email {
    padding: 10px 24px;
    border-radius: 4px!important;
}

.btn-trigger-email:disabled {
    pointer-events: none;
}

.sub-heading-text-primary {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #0254D7;
}

.profile-name-input,
.email-id-input,
.email-subject-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    outline: none!important;
}

.tag-remove-btn {
    color: white;
    cursor: pointer;
    font-weight: bold;
    vertical-align: text-bottom;
}

span.text {
    font-size: 14px;
}

.btn-save-profile {
    min-width: 82px;
    min-height: 41px;
}

.delete_profile_modal .modal-text {
    color: #4d4d4d;
    min-height: 4em;
    display: block;
}

.btn-delete-profile {
    background: transparent;
    outline: none!important;
    border: none;
}

.email_id_tag_container {
    padding: 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

#tab-content-container .tab-pane {
    background-color: #fff !important;
}

a {
    text-decoration: none !important;
}

#livechat-email-setting-profile-container .btn-profile-tab .active {
    background-color: #0254D7;
    color: #ffffff;
}

#livechat-email-setting-profile-container .btn-profile-tab .active button svg {
    fill: #ffffff;
}

#livechat-email-setting-profile-container {
    display: none;
}

.parameter-subheading-text {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #2D2D2D;
}

.livechat-email-setting-multiselect-chip .channel-box {
    display: inline-flex;
}

.livechat-email-setting-multiselect-chip .channel-box label {
    position: relative;
}

.livechat-email-setting-multiselect-chip .channel-box label {
    height: 36px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 8px;
    cursor: pointer;
    padding: 0px 16px 0px 16px;
}

.livechat-email-setting-multiselect-chip .channel-box input[type="checkbox"]:checked+label {
    border: 1px solid #0254D7 !important;
}

.livechat-email-setting-multiselect-chip .channel-box input[type="checkbox"] {
    opacity: 0;
    width: 0px !important;
}

.livechat-email-setting-multiselect-chip .channel-box input[type="checkbox"]:checked+label span {
    color: #0254D7 !important;
}

.livechat-email-setting-multiselect-chip .channel-box label span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 0px;
}

.livechat-email-setting-multiselect-chip.livechat-email-setting-multiselect-chip-channel .channel-box label span {
    padding-left: 8px;
}

.livechat-graphic-parameter-container .livechat-email-setting-chat-report-cb input:checked {
    background-color: #0254D7;
    border-color: #0254D7;
}

.livechat-graphic-parameter-container .livechat-email-setting-chat-report-cb input[type="checkbox"]:checked {
    background-color: #0254D7;
}

.livechat-graphic-parameter-container .livechat-email-setting-chat-report-cb input[type="checkbox"] {
    height: 18px !important;
    width: 18px !important;
}

.trigger-setting-inputs-width-handler {
    width: 60%;
}

.btn-delete-profile {
    display: none;
    padding-left: 4px;
}

#livechat-email-setting-profile-container .btn-profile-tab a:hover .btn-delete-profile {
    display: block;
}

.livechat-table-parameter-container {
    display: none;
}

.livechat-graphic-parameter-container {
    display: none;
}

.livechat-attachment-parameter-container {
    display: none;
}

#livechat-email-setting-profile-container {
    display: none;
}


/* email frequency css */

.easychat-multiselect-box-dropdown {
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    min-width: 60%;
    flex-direction: column;
    position: relative;
}

.easychat-multiselect-box-dropdown .multiselect-options-container {
    color: #2D2D2D;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    background: #fff;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    overflow: hidden;
    order: 1;
    scrollbar-width: thin;
}

.easychat-multiselect-box-dropdown .multiselect-options-container::-webkit-scrollbar {
    width: 7px;
}

.easychat-multiselect-box-dropdown .multiselect-options-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.easychat-multiselect-box-dropdown .multiselect-options-container::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.easychat-multiselect-box-dropdown .multiselect-options-container label {
    display: unset;
}

.selected {
    background: #fff;
    border-radius: 25px 0 0 25px;
    border-right: 0;
    color: #909090;
    position: relative;
    max-height: 79px;
    font-size: 14px;
    margin-right: 18px;
    padding: 8px !important;
    order: 0;
}

.easychat-multiselect-box-dropdown .multiselect-options-container.active {
    max-height: 215px;
    opacity: 1;
    position: absolute;
    z-index: 100;
    top: 55px;
    overflow-y: auto;
}

.easychat-multiselect-box-dropdown .option,
.selected {
    padding: 12px 24px;
}

.easychat-multiselect-box-dropdown .option {
    border-bottom: 1px solid #F3F6FF;
}

.easychat-multiselect-box-dropdown .option:hover {
    background: #F3F6FF;
}

.easychat-multiselect-box-dropdown label {
    cursor: pointer;
}

.easychat-multiselect-box-dropdown .option .radio {
    display: none;
}

.option {
    position: relative;
}

.item-checkbox {
    position: absolute;
    right: 35px;
    cursor: pointer;
    margin-top: 6px;
}

.tag {
    display: inline-block;
    color: #2755CB;
    border: 1px solid #2755CB;
    border-radius: 4px;
    padding: 3px 10px;
    margin-right: 4px;
    font-size: 12px;
}

.wrapper-box {
    position: relative;
    padding: 2px;
    padding-right: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    cursor: pointer;
}

.box {
    position: relative;
}


/* .arrow {
    color: #2D2D2D;
    position: absolute;
    right: 10px;
    top: 45%;
    margin-right: 5px;
    cursor: pointer;
    transform: translateY(-50%);
} */

.extend-btn {
    background: #2755CB;
    border: 1px solid #2755CB;
    border-radius: 27px;
    padding: 2px 8px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    z-index: 1000;
}

.cross-btn {
    z-index: 1000;
    padding-left: 5px;
    cursor: pointer;
}


/* custom checkbox css */

.checkbox-btn-container-item {
    width: 100%;
    position: relative;
    display: block;
}

.checkbox-btn-container-item input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}

.checkbox-btn-container-item label {
    position: relative;
}

.checkbox-btn-container-item label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #716d6d;
}

.checkbox-btn-container-item label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate( -45deg) scale(0);
    transform: rotate( -45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 6px;
    left: 4px;
}

.checkbox-btn-container-item input[type="checkbox"]:checked~label::before {
    background-color: #0254D7;
    border-color: #0254D7;
}

.checkbox-btn-container-item input[type="checkbox"]:checked~label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox-btn-container-item label {
    min-height: 22px;
    display: block;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    margin-top: 10px;
}

.checkbox-btn-container-item input[type="checkbox"]:focus+label::before {
    outline: 0;
}


/* existing followup_leads css  */

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .btn-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    box-sizing: border-box;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 13px;
    height: 36px;
    color: #909090;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .btn-default::after {
    content: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='7' height='7' fill='%23E5E5E5'/%3E%3Crect width='1440' height='660' transform='translate(-649 -105)' fill='white'/%3E%3Crect x='-573' y='-49' width='1364' height='604' fill='%23FAFAFA'/%3E%3Crect x='-563' y='-38' width='1344' height='81' fill='white'/%3E%3Crect x='-149.5' y='-14.5' width='170' height='34' rx='4.5' fill='white' stroke='%23E6E6E6'/%3E%3Cpath d='M4.19282 5.8C3.8849 6.33333 3.1151 6.33333 2.80718 5.8L0.295706 1.45C-0.0122147 0.916666 0.372686 0.25 0.988527 0.25H6.01147C6.62732 0.25 7.01221 0.916667 6.70429 1.45L4.19282 5.8Z' fill='%23868686'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    border: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-search {
    border-radius: 5px !important;
    background: #F6F8FF;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .input-group-addon {
    display: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .input-group-btn {
    display: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .btn-group {
    width: 100% !important;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container {
    width: 100% !important;
    padding: 0px;
    max-height: 205px;
    overflow-y: auto;
    border-radius: 5px!important;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li {
    padding: 0px 6px;
    border-bottom: 1px solid #F6F6F6;
    position: relative;
    height: 38px;
    display: flex;
    width: 100%;
    margin-bottom: 7px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a {
    width: 100%;
}


/* .livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li.active {
    background-color: #FAFAFA;
} */

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-item.filter {
    position: sticky;
    top: 0px;
    z-index: 100;
    background: #fff;
    padding-top: 5px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container .input-group {
    width: 100% !important;
    margin: 0px 0px 5px 0px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a>label>input[type=checkbox] {
    width: 16px !important;
    height: 16px;
    right: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>.active>a,
.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>.active>a:focus,
.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: #000;
    width: 100%;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>li>a:focus {
    background: #F6F8FF;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>li:hover {
    background: #FAFAFA;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a>label {
    padding: 8px 38px 4px 6px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}


/* .livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .form-control:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
} */

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a {
    outline: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-selected-text {
    width: 90%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown {
    width: 100%;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown ::-webkit-scrollbar {
    width: 7px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown ::-webkit-scrollbar-thumb {
    background: #CFDAE6;
    border-radius: 10px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.single-select-dropdown-div input[type=radio] {
    display: none !important;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container.dropdown-menu li:first-child {
    border: none !important;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container.dropdown-menu li:first-child:hover {
    background: white !important;
}


/* existing foolowup_leads css end  */


/* email frequency multidropdown css  */

.livechat-multiselect-dropdown.email-freq-multiselect-div .btn-group {
    width: 60% !important;
}

.livechat-multiselect-dropdown.email-freq-multiselect-div .btn-default {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    height: 40px;
}

.language-multiselect-dropdown-div {
    width: 70% !important;
}

.preferred-lang-row .livechat-language-dropdown-wrapper {
    padding-top: 20px;
    padding-bottom: 10px;
    height: 85px;
}

.custom-checkbox-input .checkmark::after {
    content: "";
    position: absolute;
}

.custom-checkbox-input input:checked~.checkmark:after {
    display: block;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-checkbox-input .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #0254D7;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}

.livechat-multiselect-filter-dropdown .multiselect-container>li>a>label.custom-checkbox-input .checkmark {
    right: 1%;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 2px;
}

.custom-checkbox-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
}

input[type="checkbox"]:checked {
    border-color: rgb(62, 46, 255, 1);
}


/* email frequency multidropdown css  end*/

.livechat-multiselect-dropdown .btn-group.show button.btn-default::after {
    transform: translateY(-50%) rotate(180deg);
}

.bootstrap-select>.dropdown-toggle:active {
    border: 1px solid #d1d3e2 !important;
}
.custom-select-field button.dropdown-toggle{
    width: 100% !important;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    box-sizing: border-box;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 12px;
    height: 36px;
    color: #909090;
}
.custom-select-field button.dropdown-toggle .filter-option{
    display: flex;
    align-items: center;
}
.custom-select-field button.dropdown-toggle::after{
    content: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='7' height='7' fill='%23E5E5E5'/%3E%3Crect width='1440' height='660' transform='translate(-649 -105)' fill='white'/%3E%3Crect x='-573' y='-49' width='1364' height='604' fill='%23FAFAFA'/%3E%3Crect x='-563' y='-38' width='1344' height='81' fill='white'/%3E%3Crect x='-149.5' y='-14.5' width='170' height='34' rx='4.5' fill='white' stroke='%23E6E6E6'/%3E%3Cpath d='M4.19282 5.8C3.8849 6.33333 3.1151 6.33333 2.80718 5.8L0.295706 1.45C-0.0122147 0.916666 0.372686 0.25 0.988527 0.25H6.01147C6.62732 0.25 7.01221 0.916667 6.70429 1.45L4.19282 5.8Z' fill='%23868686'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    border: none;
}
.custom-select-field.show button.dropdown-toggle::after{
    transform: translateY(-50%) rotate(180deg);
}
.custom-select-field .dropdown-menu{
    padding: 0;
    margin-top: 0;
}
.custom-select-field .dropdown-menu .inner ul li{
    height: 22px;
    padding: 0  !important;
}
.custom-select-field .dropdown-menu .inner ul li a{
    height: 22px;
    padding: 0 12px !important;
    line-height: 22px;
    border-radius: 0;
}
.custom-select-field .dropdown-menu .inner ul li a span{ 
   font-size: 12px;
}
.multiple-agent-select-div .btn-group .btn-default{
    font-size: 12px !important;
}
#chat-history-default-start-date, #chat-history-default-end-date{
    cursor: pointer;
}
#chat-history-default-start-date:focus, #chat-history-default-end-date:focus{
       background-image: url(../img/select-up-arrow.svg);
}
.custom-select-field .dropdown-menu .inner ul li.active.selected, .custom-select-field .dropdown-menu .inner ul li .dropdown-item:active {
    background-color: rgb(227 227 227) !important;
    color: #3a3b45;
}
.custom-select-field .dropdown-menu .inner ul li .dropdown-item.active, .custom-select-field .dropdown-menu .inner ul li .dropdown-item:active {
    background-color: rgb(227 227 227) !important;
    color: #3a3b45 !important;
}
.bootstrap-select .dropdown-menu .inner::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .bootstrap-select .dropdown-menu .inner::-webkit-scrollbar {
    width: 7px;
  }
  .livechat-multiselect-filter-dropdown .btn-group ul li a:hover{
      text-decoration: none !important;
  }
/* .custom-select-field  .dropdown-menu .inner{
    max-height: 150px !important;
    overflow-y: auto !important;
} */
.bootstrap-select .dropdown-menu .inner::-webkit-scrollbar-thumb {
    border-radius: 5px;
}