/************* EMAIL Analytics Styles *****************/

.livechat-admin-email-setting-container {
    margin: -2px 5px 7px -5px;
    background-color: #fff;
    width: 101.4%;
    padding: 0px 24px;
    height: auto;
    min-height: 99%;
}

.livechat-admin-email-setting-container .livechat-option-switch {
    margin-top: 12px;
}

.cognoai-tag {
    display: inline-flex;
    color: #fff;
    padding: 4px 11px;
    min-height: 28px;
    background: #540D29;
    border-radius: 4px;
    gap: 1em;
    margin-bottom: 8px;
}

.tag-remove-btn {
    color: white;
    cursor: pointer;
    font-weight: bold;
    vertical-align: text-bottom;
}

.custom-card-settings {
    box-shadow: 0px 0px 2px rgb(0 0 0 / 25%);
    border-radius: 10px!important;
}

.custom-card-settings .nav-tabs {
    border-bottom: none!important;
}

@media only screen and (max-width: 600px) {
    .custom-card-settings .nav-tabs {
        flex-wrap: nowrap;
        overflow: auto;
    }
    .custom-card-settings .nav-tabs::-webkit-scrollbar {
        display: none;
    }
}

.nav-tabs {
    border: none!important;
}

.btn-profile-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #F6F6F6;
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
    border-radius: 0px 0px 0px 0px;
    background: white;
    overflow: hidden;
}

.btn-profile-tab:first-child {
    border-radius: 8px 0px 0px 0px;
    border-left: 2px solid #F6F6F6;
}

.btn-profile-tab a {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 15px;
    color: #767B87;
    text-decoration: none !important;
    min-width: 140px;
    max-width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-profile-tab:last-child a {
    justify-content: center;
    min-width: 75px;
}

.btn-profile-tab a span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.enable-setting-row {
    border-bottom: 1px solid #F4F4F4!important;
    padding-bottom: 1em;
}

.tab-content {
    border: 1px solid #E9E9E9;
    padding: 1.5em 1em!important;
    /*background: #F8F9FC;*/
    background: white;
}

.btn-trigger-email {
    padding: 10px 24px;
    border-radius: 4px!important;
}

.btn-trigger-email:disabled {
    pointer-events: none;
}

.sub-heading-text-primary {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #0254D7;
}

.profile-name-input,
.email-id-input,
.email-subject-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    outline: none!important;
}

.tag-remove-btn {
    color: white;
    cursor: pointer;
    font-weight: bold;
    vertical-align: text-bottom;
}

span.text {
    font-size: 14px;
}

.btn-save-profile {
    min-width: 82px;
    min-height: 41px;
}

.delete_profile_modal .modal-text {
    color: #4d4d4d;
    min-height: 4em;
    display: block;
}

.btn-delete-profile {
    background: transparent;
    outline: none!important;
    border: none;
}

.email_id_tag_container {
    padding: 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

#tab-content-container .tab-pane {
    background-color: #fff !important;
}

a {
    text-decoration: none !important;
}

#livechat-email-setting-profile-container .btn-profile-tab .active {
    background-color: #0254D7;
    color: #ffffff;
}

#livechat-email-setting-profile-container .btn-profile-tab .active button svg {
    fill: #ffffff;
}

#livechat-email-setting-profile-container {
    display: none;
}

.parameter-subheading-text {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #2D2D2D;
}

.livechat-email-setting-multiselect-chip .channel-box {
    display: inline-flex;
}

.livechat-email-setting-multiselect-chip .channel-box label {
    position: relative;
}

.livechat-email-setting-multiselect-chip .channel-box label {
    height: 36px;
    background: #F6F6F6;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    border: 1px solid #F6F6F6 !important;
    margin-bottom: 8px;
    cursor: pointer;
    padding: 0px 16px 0px 16px;
}

.livechat-email-setting-multiselect-chip .channel-box input[type="checkbox"]:checked+label {
    border: 1px solid #0254D7 !important;
}

.livechat-email-setting-multiselect-chip .channel-box input[type="checkbox"] {
    opacity: 0;
    width: 0px !important;
}

.livechat-email-setting-multiselect-chip .channel-box input[type="checkbox"]:checked+label span {
    color: #0254D7 !important;
}

.livechat-email-setting-multiselect-chip .channel-box label span {
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
    padding-left: 0px;
}

.livechat-email-setting-multiselect-chip.livechat-email-setting-multiselect-chip-channel .channel-box label span {
    padding-left: 8px;
}

.livechat-graphic-parameter-container .livechat-email-setting-chat-report-cb input:checked {
    background-color: #0254D7;
    border-color: #0254D7;
}

.livechat-graphic-parameter-container .livechat-email-setting-chat-report-cb input[type="checkbox"]:checked {
    background-color: #0254D7;
}

.livechat-graphic-parameter-container .livechat-email-setting-chat-report-cb input[type="checkbox"] {
    height: 18px !important;
    width: 18px !important;
}

.trigger-setting-inputs-width-handler {
    width: 60%;
}

.btn-delete-profile {
    display: none;
    padding-left: 4px;
}

#livechat-email-setting-profile-container .btn-profile-tab a:hover .btn-delete-profile {
    display: block;
}

.livechat-table-parameter-container {
    display: none;
}

.livechat-graphic-parameter-container {
    display: none;
}

.livechat-attachment-parameter-container {
    display: none;
}

#livechat-email-setting-profile-container {
    display: none;
}


/* email frequency css */

.easychat-multiselect-box-dropdown {
    display: flex;
    width: fit-content;
    width: -moz-fit-content;
    min-width: 60%;
    flex-direction: column;
    position: relative;
}

.easychat-multiselect-box-dropdown .multiselect-options-container {
    color: #2D2D2D;
    max-height: 0;
    width: 100%;
    opacity: 0;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    order: 1;
    scrollbar-width: thin;
}

.easychat-multiselect-box-dropdown .multiselect-options-container::-webkit-scrollbar {
    width: 7px;
}

.easychat-multiselect-box-dropdown .multiselect-options-container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.easychat-multiselect-box-dropdown .multiselect-options-container::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.easychat-multiselect-box-dropdown .multiselect-options-container label {
    display: unset;
}

.selected {
    background: #fff;
    border-radius: 25px 0 0 25px;
    border-right: 0;
    color: #909090;
    position: relative;
    max-height: 79px;
    font-size: 14px;
    margin-right: 18px;
    padding: 8px !important;
    order: 0;
}

.easychat-multiselect-box-dropdown .multiselect-options-container.active {
    max-height: 215px;
    opacity: 1;
    position: absolute;
    z-index: 100;
    top: 55px;
    overflow-y: auto;
    border: 1px solid #E1E1E1;
}

.easychat-multiselect-box-dropdown .option,
.selected {
    padding: 12px 24px;
}

.easychat-multiselect-box-dropdown .option {
    border-bottom: 1px solid #F3F6FF;
}

.easychat-multiselect-box-dropdown .option:hover {
    background: #F3F6FF;
}

.easychat-multiselect-box-dropdown label {
    cursor: pointer;
}

.easychat-multiselect-box-dropdown .option .radio {
    display: none;
}

.option {
    position: relative;
}

.item-checkbox {
    position: absolute;
    right: 35px;
    cursor: pointer;
    margin-top: 6px;
}

.tag {
    display: inline-block;
    color: #2755CB;
    border: 1px solid #2755CB;
    border-radius: 4px;
    padding: 3px 10px;
    margin-right: 8px;
    font-size: 12px;
}

.wrapper-box {
    position: relative;
    padding: 2px;
    padding-right: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    cursor: pointer;
}

.box {
    position: relative;
}

.arrow-email-profile {
    color: #2D2D2D;
    position: absolute;
    right: 10px;
    top: 45%;
    margin-right: 5px;
    cursor: pointer;
    transform: translateY(-50%);
}

.extend-btn {
    background: #2755CB;
    border: 1px solid #2755CB;
    border-radius: 27px;
    padding: 2px 8px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    z-index: 1000;
}

.cross-btn {
    z-index: 1000;
    padding-left: 5px;
    cursor: pointer;
}


/* custom checkbox css */

.checkbox-btn-container-item {
    width: 100%;
    position: relative;
    display: block;
}

.checkbox-btn-container-item input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}

.checkbox-btn-container-item label {
    position: relative;
}

.checkbox-btn-container-item label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #716d6d;
}

.checkbox-btn-container-item label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate( -45deg) scale(0);
    transform: rotate( -45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 6px;
    left: 4px;
}

.checkbox-btn-container-item input[type="checkbox"]:checked~label::before {
    background-color: #0254D7;
    border-color: #0254D7;
}

.checkbox-btn-container-item input[type="checkbox"]:checked~label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox-btn-container-item label {
    min-height: 22px;
    display: block;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    margin-top: 10px;
}

.checkbox-btn-container-item input[type="checkbox"]:focus+label::before {
    outline: 0;
}

#tab-content-container .btn-trigger-email, #tab-content-container .btn-save-profile {
    border: none;
    box-shadow: none;
}

.livechat-admin-email-setting-container {
    background: #FEFCFE !important;
    padding: 34px !important;
}

.livechat-admin-email-setting-subheading {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #676767;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.livechat-email-configuration-wrapper {
    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    border-radius: 4px;
}

.livechat-email-configuration-heading-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4D4D4D;
}

.livechat-email-configuration-subheading-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #7B7A7B;
}

.mailer-analytics-configure-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 32px;
    background: #EBEBEB;
    border-radius: 2px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4D4D4D;
    border: none;
    outline: none !important;
    display: none;
    margin-left: 16px;
}


/* email notification modal css */

@media (min-width: 576px) {
    #livechat-email-notification-modal .modal-dialog {
        max-width: 94%;
    }
}

.send-sample-email-btn-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #0254D7;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0254D7;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none !important;
}

#livechat-email-notification-modal .modal-footer {
    justify-content: space-between;
    padding-left: 2.8em;
    padding-right: 3em;
}

[id^="modal-delete-email-profile"] {
      background-color: rgba(0, 0, 0, 0.5);
}

.checkbox-btn-container-item label {
    width: max-content;
}

#livechat-email-notification-modal .modal-header {
    padding-left: 2em;
    padding-right: 2em;
    height: 60px;
}

#livechat-email-notification-modal .modal-body {
    max-height: calc(100vh - 12rem);
    overflow-y: auto;
    padding: 1em 3em;
}

.email-collapse-trigger .email-collapse-data-div {
    display: block !important;
}

.email-collapse-heading-div svg {
    margin-right: 12px;
}

.email-collapse-trigger .email-collapse-heading-div svg {
    transform: rotate(90deg);
}

#livechat-email-notification-modal .livechat-option-switch-slider:before {
    bottom: 0.7px;
}

#livechat-email-notification-modal .livechat-email-graphic-parameter-cb:before {
    top: 0.7px;
}

#tab-content-container .sub-heading-text-primary.email-collapse-heading-div {
    color: #4D4D4D !important;
}

.email-configuration-btn {
    width: 100px;
    height: 36px;
    background: linear-gradient(90deg, #0254D7 0%, #0062FF 100%);
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
    color: #FFFFFF;
    outline: none !important;
}

.email-configuration-title {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.email-collapse-heading-div {
    cursor: pointer;
}