.livechat-chat-dispose-form-container {
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    padding: 20px 30px !important;
}

.livechat-dispose-form-botname-div {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.livechat-chat-dispose-form-container .saveChangesBtn {
    width: 135px;
    height: 36px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none;
    float: right;
    color: #FFFFFF;
}

.livechat-dispose-toggleable-text {
    color: #4d4d4d;
    font-weight: 500;
    font-size: 14px;
}

.livechat-dispose-form-builder-preview-header {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 16px 16px 0px 0px;
    height: 83px;
    padding: 0px 30px 0px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-dispose-sync-preview-btn {
    width: 130px;
    height: 36px;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: none;
    cursor: pointer;
    outline: none !important;
    float: right;
    color: #FFFFFF;
    background: #3e1eff;
}

.livechat-dispose-form-builder-preview-heading-text {
    font-weight: 500;
    font-size: 16px;
    color: #3B3B3B;
}

.livechat-chat-dispose-form-scrollable-content {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 21.5rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.livechat-chat-dispose-form-preview-scrollable-content {
    width: 100%;
    max-height: calc(100vh - 19rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.livechat-chat-dispose-form-scrollable-content::-webkit-scrollbar {
    width: 7px;
}

.livechat-chat-dispose-form-scrollable-content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.livechat-chat-dispose-form-scrollable-content::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.livechat-create-form-field {
    width: 100%;
    height: auto;
    border: 1px solid #E6E6E6;
    padding: 20px 60px;
    position: relative;
}

.livechat-create-form-field label,
.livechat-preview-form-item label {
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    margin-bottom: 2px;
    width: 100%;
}

.livechat-create-form-field input,
.livechat-preview-form-item input,
.livechat-preview-form-item select {
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

.livechat-create-form-field input::placeholder,
.livechat-preview-form-item input::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #9a9a9a;
}

.livechat-create-form-field .form-control:focus {
    box-shadow: none;
    color: #333333;
}

.livechat-create-form-field label b,
.livechat-preview-form-item label b {
    font-weight: 500;
    font-size: 16px;
    color: #E53E3E;
}

.livechat-create-form-div-remove {
    position: absolute;
    right: 60px;
    top: 10px;
    cursor: pointer;
}

.livechat-dispose-form-field-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.livechat-dispose-form-optional-btn {
    font-weight: 300;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

.livechat-dispose-form-optional-btn>span {
    padding-top: 4px;
}

.livechat-dispose-form-optional-btn .livechat-option-switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
    margin-top: 0.5em;
}

.livechat-dispose-form-optional-btn .livechat-option-switch-slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 0.6px;
    background-color: #BECAD6;
    -webkit-transition: .4s;
    transition: .4s;
}

.livechat-dispose-form-add-section-container {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.livechat-dispose-form-add-section-btn {
    width: max-content;
    border: none;
    background: transparent;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #3e1eff;
    outline: none !important;
}

.form-widget-dropdown-chip-item {
    /* background: #0254D7; */
    border-radius: 20px;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    display: inline-flex;
    width: fit-content;
    width: -moz-fit-content;
    align-items: center;
    height: 40px;
    padding: 0px 16px 0px 16px;
    margin-right: 7px;
    /* cursor: pointer; */
    box-shadow: none !important;
    white-space: nowrap;
    margin-bottom: 8px;
}

.form-widget-dropdown-chip-item .dragable-item-icon {
    display: none;
    height: 20px;
    margin-left: 0px;
    margin-right: 2px;
    cursor: grabbing;
}

.edit-form-widget-dropdown-choices:focus {
    box-shadow: none !important;
    /* color: #2d2d2d !important; */
}

.form-widget-dropdown-chip-item input.edit-form-widget-dropdown-choices {
    min-width: 35px!important;
    max-width: 230px!important;
    /* transition: width 0.25s; */
    height: 100% !important;
    border: none !important;
    outline: none !important;
    background: transparent !important;
    padding: 0px 4px 0px 4px !important;
    color: #ffffff;
}

input.edit-form-widget-dropdown-choices:focus {
    color: #000;
}

.widget-delete-icon {
    margin: 0px;
    cursor: pointer;
    width: 16px;
    height: 18px;
}

.form-widget-dropdown-chip-item:hover .dragable-item-icon {
    display: block;
}

.tooltip-custom {
    position: relative;
    display: flex;
    justify-content: center;
    color: #006080;
}

.tooltip-custom .tooltiptext-custom {
    visibility: hidden;
    width: max-content;
    background: #FFFFFF;
    box-shadow: 0px 5.62px 12.34px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 10px;
    color: #9395A1;
    text-align: center;
    padding: 5px 4px 5px 4px;
    border-radius: 6px;
    position: absolute;
    z-index: 1001;
    top: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    max-width: 80px;
    line-height: 1.2;
    height: max-content;
    word-break: break-all;
    margin-top: 6px;
}

.tooltip-dropdown {
    left: -29px;
}

.tooltip-radio {
    left: -24px !important;
}

.tooltip-bottom-custom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}

.tooltip-custom:hover .tooltiptext-custom {
    visibility: visible;
    opacity: 1;
}

.response-widget-dragable-output-item {
    height: 48px;
    background: #F7F7F7;
    border-radius: 5px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.widget-indigator-icon {
    margin: 0px 6px 0px 15px;
    width: 25px;
    height: 25px;
}

.response-widget-dragable-output-item .widget-delete-icon {
    margin: 0px 20px 0px 10px;
    cursor: pointer;
    width: 16px;
    height: 26px;
    /* position: absolute; */
    right: 20px;
}

.response-widget-dragable-output-item .dragable-item-icon {
    display: none;
    height: 26px;
    margin-left: 5px;
    margin-right: -8px;
    cursor: grabbing;
}

.livechat-dispose-radio-chip-area .response-widget-dragable-output-item input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}

.livechat-dispose-checkbox-chip-area .response-widget-dragable-output-item input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}

.response-widget-dragable-output-item:hover .dragable-item-icon {
    display: flex;
}

.edit-radio-widget-focus {
    background-color: #fff;
    border: 1px solid #F6F6F6;
}

.livechat-preview-form-item {
    width: 100%;
    height: auto;
    border: 1px solid #E6E6E6;
    padding: 12px 24px;
}

/* .livechat-preview-form-item select,
.livechat-preview-form-item input,
.form-preview-radio-checkbox-div input {
    pointer-events: none;
} */

.form-preview-radio-checkbox-div input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}

.livechat-chat-dispose-form-preview-scrollable-content::-webkit-scrollbar {
    width: 7px;
}

.livechat-chat-dispose-form-preview-scrollable-content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.livechat-chat-dispose-form-preview-scrollable-content::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.livechat-dispose-date-preview-wrapper {
    padding: 12px 12px;
    width: 100%;
    height: 66.05px;
    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    box-shadow: 6px 12px 40px rgb(0 0 0 / 8%);
    border-radius: 8px;
    margin-top: 5px;
    position: relative;
    display: flex;
    align-items: center;
}

#resolve-chat-datepicker-input, .resolve-chat-datepicker-input {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    background: #FFFFFF !important;
    border: 1px solid #0254D7;
    box-sizing: border-box;
    border-radius: 6px !important;
    padding: 4px 9px;
    text-align: center;
    font-size: 14px;
    outline: none;
    text-align: center;
    color: #0254D7;
    /* margin: 2px 23px !important; */
    height: 2.2rem !important;
    top: 15px;
    width: 130px;
}

#resolve-chat-datepicker-input::placeholder {
    font-size: 14px;
    color: #0254D7;
}

.livechat-dispose-date-dispaly-div {
    display: flex;
    align-items: center;
    visibility: hidden;
    margin-top: -5px;
}

.livechat-dispose-date-div {
    font-weight: normal;
    font-size: 32px;
    letter-spacing: 0.284212px;
    color: #2755CB;
    margin-right: 8px;
}

.livechat-dispose-month-div {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.284212px;
    color: #333333;
}

.livechat-dispose-day-div {
    font-weight: normal;
    font-size: 11px;
    letter-spacing: 0.284212px;
    color: #8E8E8E;
}

.form-preview-comment-section-textarea {
    width: 100%;
    height: 100px;
    resize: none;
    border: none;
    outline: none;
    padding: 12px 16px;
    border-radius: 8px;
    background: #F7F7F7;
    margin-top: 6px;
}

.form-preview-comment-section-textarea:focus {
    background-color: #ffffff;
    border: 1px solid #f7f7f7;
}

.livechat-tagging-view-btn {
    float: none !important;
    margin-left: -1em !important;
    visibility: visible !important;
    cursor: pointer !important;
}

.chat-history-tagging-modal .livechat-preview-form-item {
    border: none;
    padding: 0px 20px 20px;
}

.chat-history-tagging-modal .modal-content {
    max-height: calc(100vh - 5.5rem);
}

.chat-history-tagging-modal .modal-body::-webkit-scrollbar {
    width: 7px;
}

.chat-history-tagging-modal .modal-body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.chat-history-tagging-modal .modal-body::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.chat-history-tagging-modal .modal-content .form-control:disabled {
    background-color: #F7F7F7;
    opacity: 0.8;
}

.bootstrap-select .dropdown-menu li a.selected {
    border-radius: 4px;
    /* padding: 5px 12px !important; */
}

.bootstrap-select .filter-option-inner-inner {
    color: #858796;
}

.bootstrap-select .dropdown-menu li.selected {
    margin-right: 0px;
    max-height: inherit;
}

.bootstrap-select>.dropdown-toggle {
    outline: none !important;
    background-color: #ffffff !important;
    border: 1px solid #d1d3e2;
}

.bootstrap-select>.dropdown-toggle:hover {
    background-color: #ffffff;
    box-shadow: none !important;
}

.bootstrap-select>.dropdown-toggle:active {
    border: none;
    box-shadow: none !important;
}

.bootstrap-select>.dropdown-toggle:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* .bootstrap-select .dropdown-menu {
    max-height: 204px !important;
    transform: none !important;
    top: 38px !important;
}

.bootstrap-select .dropdown-menu .inner {
    max-height: 150px !important;
} */

.bootstrap-select .dropup .dropdown-toggle::after {
    border-bottom: .3em solid #868686 !important;
    border-top: .3em solid #868686 !important;
    transform: rotate( 180deg);
}

.livechat-chat-dispose-form-scrollable-content .select-dropdown-icon {
    background-position-x: 97%;
}

.bootstrap-select .dropdown-menu .inner::-webkit-scrollbar {
    width: 7px;
}

.bootstrap-select .dropdown-menu .inner::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.bootstrap-select .dropdown-menu .inner::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.agent-resolve-modal-radio-button input,
.agent-resolve-modal-checkbox-button input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
}

.livechat-agent-resolve-chat-scroll-body {
    max-height: calc(100vh - 12.375rem);
    overflow-y: auto;
}

.livechat-agent-resolve-chat-scroll-body::-webkit-scrollbar {
    width: 7px;
}

.livechat-agent-resolve-chat-scroll-body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #88A3D2;
}

.livechat-agent-resolve-chat-scroll-body::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.date-disabled-text {
    color: #c4c4c4;
}

.live-chat-admin-history-table-area #audit-trail-table_wrapper {
    overflow-x: auto;
}

.livechat-agent-resolve-chat-scroll-body label b, #livechat-raise-ticket-form label b {
    font-weight: 500;
    font-size: 16px;
    color: #E53E3E;
}

.radio-btn-container-item input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 3px;
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
    cursor: pointer;
}

.radio-btn-container-item label {
    margin-left: 18px;
    margin-bottom: 0px;
    font-weight: normal;
    font-size: 12px;
    color: #2D2D2D;
    cursor: pointer;
    word-break: break-word;
    width: max-content;
    max-width: 90%;
    line-height: 1.2;
}

.border-around-radio {
    background: #FAFBFF;
    border-color: #0254D7 !important;
}


/* appearance for checked radiobutton */

.radio-btn-container-item input[type="radio"]:checked {
    border-color: #0254D7;
    background-color: #0254D7;
}

.radio-btn-container-item {
    display: flex;
    align-items: center;
    min-height: 40px;
    height: auto;
    border-radius: 8px;
    padding: 0px 16px;
    background: #f7f7f7;
    margin-bottom: 8px;
    border: 1px solid transparent;
}


/* radio btn css end*/

.agent-chat-dispose-checkbox-option .checkbox-btn-container-item {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 40px;
    height: auto;
    border-radius: 8px;
    padding: 0px 16px;
    background: #f7f7f7;
    margin-bottom: 8px;
    border: 1px solid transparent;
}

.agent-chat-dispose-checkbox-option .checkbox-btn-container-item input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}

.agent-chat-dispose-checkbox-option .checkbox-btn-container-item.border-around {
    border-color: #0254D7 !important;
}

.agent-chat-dispose-checkbox-option .checkbox-btn-container-item label {
    position: relative;
}

.agent-chat-dispose-checkbox-option .checkbox-btn-container-item label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 18px;
    height: 18px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #e6e6e6;
    transform: translateY(-50%);
}

.agent-chat-dispose-checkbox-option .checkbox-btn-container-item label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate( -45deg) scale(0);
    transform: rotate( -45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 50%;
    left: 6px;
    margin-top: -2px;
}

.agent-chat-dispose-checkbox-option .checkbox-btn-container-item input[type="checkbox"]:checked~label::before {
    color: #0254D7;
    background-color: #0254D7;
    border-color: #0254D7;
}

.agent-chat-dispose-checkbox-option .checkbox-btn-container-item input[type="checkbox"]:checked~label::after {
    -webkit-transform: rotate(-45deg) scale(1) translateY(-50%);
    transform: rotate(-45deg) scale(1) translateY(-50%);
}

.agent-chat-dispose-checkbox-option .checkbox-btn-container-item label {
    min-height: 26px;
    display: flex;
    align-items: center;
    padding-left: 38px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    margin-top: 0px;
    font-weight: 500;
    font-size: 12px;
    color: #2D2D2D;
    cursor: pointer;
    word-break: break-word;
    width: max-content;
    max-width: 100%;
    line-height: 1.2;
}

.agent-chat-dispose-checkbox-option .checkbox-btn-container-item input[type="checkbox"]:focus+label::before {
    outline: 0;
}

.bootstrap-select .dropdown-menu li a {
    word-break: break-word;
    white-space: normal;
    line-height: 1.3;
    padding: .25rem 1.3rem;
}

.bootstrap-select .no-results {
    white-space: normal;
    word-break: break-word;
}

li.active.selected,
.dropdown-item:active {
    background-color: rgb(56, 23, 255, 1);
    color: #fff;
}

#custom_dispose_chat_form {
    padding: 0 5px;
}

a:hover {
    text-decoration: none !important;
}

#livechat-form-fields .dropdown-toggle::after {
    display: inline-block !important;
    margin-left: 0.255em !important;
    vertical-align: 0.255em !important;
    content: "" !important;
    border-top: 0.3em solid !important;
    border-right: 0.3em solid transparent !important;
    border-bottom: 0 !important;
    border-left: 0.3em solid transparent !important;
}


.select.phone-number-input-div-preview  ed-flag {
    background: #EBEBEB;
    border-radius: 4px 0px 0px 4px;
}

.phone-number-input-div-preview  .customer-phone-number {
    background: #FFFFFF;
    border-radius: 0.35rem;
    height: 36px;
    font-family: 'DM Sans';
    font-style: normal;
    line-height: 18px;
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}

.phone-number-input-div-preview  .customer-phone-number::placeholder {
    line-height: 18px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #9a9a9a;
}

.phone-number-input-div-preview  .intl-tel-input {
    margin-top: 0px;
    width: 100%;
}

.phone-number-input-div-preview  .intl-tel-input .selected-flag .iti-arrow {
    border: none !important;
}

.phone-number-input-div-preview  .intl-tel-input .selected-flag .selected-dial-code {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #475569;
}

.phone-number-input-div-preview  .intl-tel-input .selected-flag .iti-arrow::after {
    content: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.64117 4.20361C8.45114 4.00358 8.14304 4.00358 7.95301 4.20361L6.1885 6.061L4.42398 4.20361C4.23395 4.00358 3.92585 4.00358 3.73582 4.20361C3.54579 4.40364 3.54579 4.72796 3.73582 4.92799L5.84442 7.14756C6.03445 7.34759 6.34254 7.34759 6.53257 7.14756L8.64117 4.92799C8.8312 4.72796 8.8312 4.40364 8.64117 4.20361Z' fill='%23334155'/%3E%3C/svg%3E%0A");
    top: -7px;
    right: 0px;
    position: absolute;
}

.phone-number-input-div-preview  .intl-tel-input .country-list {
    /* border: none; */
    box-shadow: 0px 0px 2px rgb(50 50 71 / 6%), 0px 2px 4px rgb(50 50 71 / 6%);
    white-space: normal;
    min-width: 250px;
    padding: 0px 0px 0px 0px;
    border-radius: 8px;
    overflow-x: hidden;
    margin: 4px 0 4px 0px;
    width: 100%;
    background-color: #fff;
    max-height: 150px;
    border: 1px solid #e7e7e7;
}

.phone-number-input-div-preview  .intl-tel-input.allow-dropdown .flag-container,
.phone-number-input-div-preview  .intl-tel-input.separate-dial-code .flag-container {
    width: 100%;
    padding: 0;
}

.phone-number-input-div-preview  .intl-tel-input .country-list .country {
    height: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #7B7A7B;
    padding: 10px 5px;
}

.phone-number-input-div-preview  .intl-tel-input .country-list .country:hover {
    background: #F8F8F8;
}

.phone-number-input-div-preview  .intl-tel-input .country-list .divider {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}

.phone-number-input-div-preview  .intl-tel-input .country-list::-webkit-scrollbar-track {
    background-color: transparent;
}

.phone-number-input-div-preview  .intl-tel-input .country-list::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.phone-number-input-div-preview  .intl-tel-input .country-list::-webkit-scrollbar-thumb {
    background-color: #babdc0 !important;
    border-radius: 16px !important;
}

.phone-number-input-div-preview  #searchinput_country {
    width: 100%;
    height: 40px;
    padding: 4px 10px;
    border-radius: 0px;
    margin-top: 0px !important;
    outline: none;
    border-bottom: solid rgba(50, 50, 71, 0.06);
    border-width: 0 0 1px 0;
}

.phone-number-input-div-preview  #searchinput_country::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 20px;
    color: #CBCACA;
    background-repeat: no-repeat !important;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.9043 13.8563L18.7827 17.7357C19.0724 18.0259 19.0724 18.496 18.7827 18.7862C18.4906 19.0713 18.0246 19.0713 17.7324 18.7862L13.854 14.9068C11.5449 16.6639 8.26951 16.3309 6.36104 14.145C4.45258 11.9591 4.56373 8.66785 6.61532 6.61573C8.6669 4.56362 11.9573 4.45244 14.1426 6.36139C16.328 8.27035 16.6609 11.5465 14.9043 13.8563ZM10.5355 6.52407C8.32099 6.52407 6.52578 8.31974 6.52578 10.5348C6.5284 12.7488 8.32208 14.5429 10.5355 14.5455C12.75 14.5455 14.5452 12.7499 14.5452 10.5348C14.5452 8.31974 12.75 6.52407 10.5355 6.52407Z' fill='%23CBCACA'/%3E%3C/svg%3E%0A");
    background-position: left;
    text-indent: 28px;
}

.phone-number-input-div-preview  .selected-flag {
    border: none;
    outline: none;
}

.phone-number-input-div-preview  .country-flag-img {
    margin-left: 4px;
}
.phone-number-input-div-preview  .country-no-result-found {
    width: 100% !important;
    text-align: center !important;
    display: none;
    padding: 5px 0 5px 0px !important;
}
#searchinput_country::-webkit-search-cancel-button{
    cursor: pointer;
}
.livechat-chat-dispose-form-preview-scrollable-content {
    height: calc(100vh - 19rem);
}

.livechat-create-form-field select{
    font-size: 14px;
    /* color: #333333; */
}
.preview-input-div input{
    border: 1px solid #d1d3e2;
    outline: none !important;
    width: 100%;
    height: 36px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.35rem;
    line-height: 36px;
}
.errorMsg{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #E10E00;
    display: none;
}
.error-border-color{
    border: 1px solid #E10E00;
}
.valid-border-color{
    border: 1px solid #34D399;
}
.raise-ticket-text-field {
    color: #000000;
}