
.livechat-group-chats-header {
    color: #4D4D4D;
    font-size: 13px;
    padding: 18.5px 6px 18.5px 24px;
    font-weight: 500;
    border-bottom: 1.5px solid var(--border-color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.livechat-group-chats-header .search-container {
    height: 35px;
    padding: 0px 0px 0px 8px;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 8%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.livechat-group-chats-header .search-container button {
    float: right;
    padding: 0px 8px 0px 0px;
    margin-right: 0px;
    background: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
}

.livechat-group-chats-header .search-container input[type=text] {
    padding: 0px 4px 0px 0px;
    margin-top: 0px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    width: 100%;
    outline: none;
}

.livechat-group-chats-header-search {
    width: 62%;
    margin-left: 30px;
    margin-right: 14px;
}

@media screen and (min-width: 1700px) and (max-width: 1900px) {
    .livechat-group-chats-header-search {
        width: 50%;
    }
}

.livechat-group-chats-header .search-container input[type=text]::placeholder {
    color: #b9b2b2;
    font-weight: 400;
}

.livechat-add-new-group-header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    background: #0254D7;
    border-radius: 5.65517px;
    border: none;
    outline: none !important;
    font-weight: bold;
    font-size: 13px;
    color: #FFFFFF;
    position: absolute;
    right: 10px;
}

.livechat-active-customer-chats {
    display: grid;
    grid-template-columns: 0fr 3fr 1fr;
    grid-template-rows: repeat(3, 20px);
    position: relative;
    width: 90%;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.live-chat-active-customer-item {
    width: 100%;
    padding-left: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.livechat-active-customer-chats .live-chat-client-image {
    margin: 0 0;
}

/* .livechat-active-customer-chats .live-chat-active-customer-name-container {
    margin-left: -15px;
} */

.livechat-active-customer-chats .live-chat-active-customer-text,
.livechat-customer-typing-sidebar {
    margin-left: 5px !important;
}

.livechat-active-customer-chats .live-chat-time {
    margin: 0 0;
    text-align: right;
}

.livechat-active-customer-chats .live-chat-unread-message-count {
    background: #E53E3E;
    position: absolute;
    right: 6px;
}

.live-chat-active-customer-current {
    background: rgba(39, 85, 203, 0.24);
}

.live-chat-contacts.live-chat-group-chats-contacts {
    margin-top: 0px;
    overflow: hidden;
}

.livechat-agent-contacts-section {
    border-top: solid#F8F9FC 2px;
    margin-top: 40px;
    position: relative;
    width: 100%;
}

/* .livechat-agent-contact-list-div {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 27.8rem);
    overflow-y: auto;
} */
.livechat-agent-contact-list-div {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 27.9rem);
    overflow-y: auto;
    padding-bottom: 40px;
}

@media screen and (min-height: 700px) and (max-height: 1000px) {
    .livechat-agent-contact-list-div {
        max-height: calc(100vh - 34.5rem);
    }
} 
.livechat-agent-contacts-heading-div {
    padding-left: 26px;
    font-weight: 500;
    font-size: 13px;
    color: #000000;
    padding-top: 25px;
    background: #fff;
    z-index: 100;
    margin-bottom: 10px;
}

.livechat-agent-contact-list-div::-webkit-scrollbar {
    width: 7px;
}

.livechat-agent-contact-list-div::-webkit-scrollbar-thumb {
    background: #B9D4FF;
    border-radius: 5px;
}

.livechat-agent-contact-list-div::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.livechat-group-contacts-section::-webkit-scrollbar {
    width: 7px;
}

.livechat-group-contacts-section::-webkit-scrollbar-thumb {
    background: #B9D4FF;
    border-radius: 5px;
}

.livechat-group-contacts-section::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.livechat-group-contacts-section {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 30.375rem);
    overflow-y: auto;
}


/* .livechat-group-contacts-section::-webkit-scrollbar {
    display: none;
} */

.livechat-admin-group-chat-transfer-resolve-div {
    justify-content: flex-end;
}

.livechat-admin-delete-group-option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 12px;
}

.livechat-admin-delete-group-option .dropdown-item {
    padding: .25rem 1.5rem .25rem 0.3rem;
}

.form-control {
    padding-top: 2px;
}

.livechat-admin-upload-icon-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
}

.livechat-admin-upload-icon-text-div div {
    font-weight: 500;
    font-size: 13px;
    color: #4D4D4D;
}

.livechat-admin-upload-icon-div {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.livechat-admin-group-description {
    width: 100%;
    height: 80px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    resize: none;
    outline: none;
}

.livechat-admin-group-description::placeholder {
    font-weight: normal;
    font-size: 14px;
    color: #D1D2D4;
}

.livechat-admin-group-member-list-item {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 38px;
    border: 2px solid #F6F6F6;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 10px;
}

.livechat-admin-group-member-list-name-area {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 72%;
    overflow: hidden;
    font-weight: normal;
    font-size: 14px;
    color: #2D2D2D;
}

.livechat-admin-group-member-list-delete-icon {
    cursor: pointer;
}

.livechat-admin-group-member-list-area {
    height: auto;
    max-height: 150px;
    overflow-y: auto;
}

.livechat-admin-group-member-list-area::-webkit-scrollbar {
    width: 7px;
}

.livechat-admin-group-member-list-area::-webkit-scrollbar-thumb {
    background: #B9D4FF;
    border-radius: 5px;
}

.livechat-admin-group-member-list-area::-webkit-scrollbar-track {
    background: #F6F8FF;
}

.live-chat-customer-name .livechat-customer-name-text-div h6 {
    margin: 0px 12px;
    font-size: 12px;
}

.live-chat-customer-name input {
    margin: 0 12px;
    /* color: var(--color-primary); */
    font-weight: 500;
    border: none;
    outline: none;
    background: transparent;
}

.customer-details-admin-edit-button {
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none !important;
    color: #2755CB;
    position: absolute;
    right: 19px;
    background: transparent;
}

.customer-details-admin-desc-edit-button {
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none !important;
    color: #2755CB;
    background: transparent;
}

.live-chat-customer-admin-group-description {
    padding: 12px 20px 20px 12px;
    border-bottom: 1px solid var(--border-color-primary);
}

.live-chat-header-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.live-chat-details-header-text-div {
    font-weight: normal;
    font-size: 14px;
    color: #000000;
}

.live-chat-details-admin-description-text {
    font-weight: normal;
    font-size: 14px;
    margin-top: 12px;
    color: #000000;
    word-break: break-word;
    line-height: 18px;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 100px;
    /*height: auto;*/
    /*min-height: 50px;*/
    background: transparent;
}

.livechat-customer-group-member-list-area {
    padding: 12px 20px 4px 12px;
}

.livechat-customer-group-member-list-header p {
    font-weight: normal;
    font-size: 14px;
    color: #000000;
}

.livechat-customer-group-member-list-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.livechat-customer-group-add-member-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    border-bottom: 1px solid var(--border-color-primary);
    padding-bottom: 18px;
}

.livechat-customer-group-member-items-list-area {
    padding: 0px 20px 20px 12px;
}

.livechat-customer-group-member-items-div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-color-primary);
    padding-bottom: 10px;
    padding-top: 10px;
}

.customer-details-admin-add-member-button {
    width: 134px;
    height: 38px;
    background: rgba(2, 84, 215, 0.2);
    border-radius: 13px;
    border: none;
    outline: none !important;
    font-weight: 500;
    font-size: 14px;
    color: #0254D7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.customer-details-admin-add-member-button-disabled {
    pointer-events: none;
    opacity: 0.4;
}

.livechat-customer-group-active-member-count-div {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.livechat-customer-group-member-icon-div {
    width: 34px;
    height: 34px;
    background-color: #0254D7;
    border-radius: 50%;
    margin-right: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 16px;
}

.livechat-customer-group-supervisor-identity-button {
    width: 85px;
    height: 38px;
    background: #0254D7;
    border-radius: 13px;
    border: none;
    outline: none !important;
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
    cursor: default !important;
}

.livechat-customer-group-member-remove-button {
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none !important;
    color: #0254D7;
    background: transparent;
    width: 85px;
}

.livechat-customer-group-member-name-div {
    width: 51%;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 13px;
    color: var(--color-grey-2D);
    overflow: hidden;
}

@media screen and (min-width: 1700px) and (max-width: 1900px) {
    .livechat-customer-group-member-name-div {
        width: 59%;
    }
}

.customer-details-admin-member-search-done-button {
    font-weight: 500;
    font-size: 14px;
    border: none;
    outline: none !important;
    color: #2755CB;
    background: transparent;
}

.livechat-customer-group-member-list-searchbar-div input {
    width: 100%;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #F0F2F4;
    border-radius: 8px;
    padding: 16px 28px;
    outline: none;
}


/* .livechat-customer-group-member-list-searchbar-div input::before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.1872 14.4715H15.9772L20.2172 18.7315C20.6272 19.1415 20.6272 19.8115 20.2172 20.2215C19.8072 20.6315 19.1372 20.6315 18.7272 20.2215L14.4772 15.9715V15.1815L14.2072 14.9015C12.8072 16.1015 10.8972 16.7215 8.86719 16.3815C6.08719 15.9115 3.86719 13.5915 3.52719 10.7915C3.00719 6.5615 6.56719 3.0015 10.7972 3.5215C13.5972 3.8615 15.9172 6.0815 16.3872 8.8615C16.7272 10.8915 16.1072 12.8015 14.9072 14.2015L15.1872 14.4715ZM5.47697 9.97155C5.47697 12.4616 7.48697 14.4716 9.97697 14.4716C12.467 14.4716 14.477 12.4616 14.477 9.97155C14.477 7.48155 12.467 5.47155 9.97697 5.47155C7.48697 5.47155 5.47697 7.48155 5.47697 9.97155Z' fill='%23B5B5B5'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0px;
} */

.livechat-customer-group-member-list-searchbar-div span {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.livechat-customer-group-member-list-searchbar-div {
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.livechat-customer-group-search-added-heading {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.livechat-customer-group-search-added-success-btn {
    background-color: transparent;
    outline: none !important;
    border: none;
    margin-left: 45px;
}

.livechat-customer-group-search-added-btn {
    background-color: transparent;
    outline: none !important;
    border: none;
    margin-left: 35px;
}

.livechat-customer-group-search-result-list-div {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px 0px;
    overflow: hidden;
}
#send_internal_chat_attachment.disabled{
    opacity: 0.5;
}
.live-chat-message-wrapper {
    height: 78%;
}

.live-chat-client-name-with-message {
    grid-row: 1 / -4;
    grid-column: 2/-1;
    display: grid;
    align-items: center;
    margin: 5px 4px 4px 0px;
    font-weight: normal;
    font-size: 12px;
    color: #0254D7;
}

.removed-group {
    color: #CBCACA !important;
    pointer-events: none;
}

.live-chat-active-customer-name {
    grid-row: 2 / 3;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    color: var(--color-grey-2D);
    margin-left: 10px !important;
}

.live-chat-active-customer-text {
    grid-row: 3 / 4 !important;
    font-size: 12px;
    color: var(--color-grey-90);
    margin-left: -6px;
    margin-top: -2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.live-chat-time {
    grid-row: 2 / 3 !important;
    grid-column: 3 / -1;
    font-size: 10px;
    color: var(--color-grey-7E);
    margin: 0 auto;
    font-size: 10px;
    font-weight: 400;
}

.livechat-user-group-member-count {
    text-align: center;
    margin: 3px;
    padding: 0px 4px;
    height: 16px;
    border-radius: 2px;
    margin-top: 0px;
    margin-left: 7px;
    font-size: 10px;
    background-color: #0254d7;
    color: white;
}