
.live-chat-integration-heading{
    width: 99%;
    margin: 10px;
    background: #FFFFFF;
    height: 52px;
}
.live-chat-integration-section{
    width: 99%;
    margin: 10px;
    padding: 24px 14px;
    background: #FFFFFF;
    height: 78px;
}
.live-chat-integration-section .configure-button{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* padding: 8px 0px 8px 0px; */
    border: none;
    text-align: center;
    outline: none;
    font-size: 12px;
    color: #FFFFFF;
    width: 95px;
    height: 35px;
    background: linear-gradient(90deg, #0254D7 0%, #0062FF 100%);
    border-radius: 5px;
}

.live-chat-configuration-section{
    width: 98%;
    background: #FFFFFF;
    height: 62px;
}
.live-chat-integration-section .save-config-button{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* padding: 8px 0px 8px 0px; */
    border: none;
    text-align: center;
    outline: none;
    font-size: 12px;
    color: #FFFFFF;
    width: 130px;
    height: 35px;
    background: linear-gradient(90deg, #0254D7 0%, #0062FF 100%);
    border-radius: 5px;
    margin-right: 1rem;
}
.live-chat-integration-heading{
    width: 98%;
    background: #FFFFFF;
    height: 80%;
}

.custom-toast-container{
    position: fixed;
    width: 30.6vw;
    top: 5px;
    right: 428px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: none;
}
.toast-message{
    width: auto;
    display: flex;
    padding: 8px 10px;
    align-items: center;
    gap: 10px;
}
.toast-fail{
    background: #FDECEA;
    color: #FF0000;
}
.toast-sucess{
    width: 24rem;
    background: #EDF7ED;;
    color: #047857;
}