.livechat-combined-analytics-area {
    background-color: #fff;
    margin-left: 0px;
    height: max-content;
    padding: 0px 16px 24px;
}

.easychat-footer {
    display: none !important;
}

.livechat-live-analytics-area {
    background-color: #fff;
    height: max-content;
    margin-right: 2px;
    padding-bottom: 72px;
}

.livechat-live-analytics-container {
    background-color: #f8f9fc;
    padding: 8px 8px 12px 8px !important;
    display: flex;
    overflow-y: auto;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}


/* .live-chat-admin-reports {
    width: 195px !important;
} */

.livechat-analytics-section-heading-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #252733;
}

.livechat-analytics-section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee9ff;
    height: 70px;
    padding: 0px;
}

.livechat-combined-analytics-area .filter-button {
    margin-right: 10px;
}

.livechat-combined-analytics-subheading {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #636363;
    padding: 24px 0px 12px 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #D0E2FF;
    margin-bottom: 24px;
}

.chats-report-graph {
    padding: 0px 0px 20px 0px;
    position: relative;
}

.livechat-analytics-chat-report-cards {
    border-radius: 8px;
    position: relative;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 15%);
    background: #ffffff;
    padding: 16px 16px 16px 12px !important;
    min-height: 120px;
}

.livechat-analytics-chat-report-card {
    padding-left: 0.75rem;
}

.livechat-analytics-chat-report-card-one {
    padding-left: 0px !important;
    margin-bottom: 12px;
}

.chat-report-card-content {
    display: flex;
}

.chat-report-card-name {
    text-align: left;
    padding-left: 12px;
    line-height: 17px;
}

.chat-report-card-heading {
    font-weight: 500;
    font-size: 14px;
    color: #4d4d4d;
    padding-right: 15px;
}

.chat-report-card-data-rate {
    font-size: 11px;
    color: #4b4949;
    font-weight: normal;
    padding-top: 3px;
}

.chat-report-card-data-rate span {
    padding-left: 4px;
    color: #C9291F !important;
}

.chat-report-card-value {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 24px;
    color: #4D4D4D;
    margin-top: 6px;
    position: absolute;
    right: 20px;
    bottom: 16px;
}

.chat-report-card-value p {
    width: max-content;
    padding-left: 8px;
}

.chat-report-card-heading i,
.customer-report-card-heading i {
    font-size: 16px !important;
}

.livechat-analytics-customer-report-section {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 15%);
    background-color: #fff;
    border-radius: 6px;
}

.customer-report-average-nps-graph,
.customer-report-average-handletime-graph,
.customer-report-interaction-perchat-graph,
.customer-report-call-duration-graph,
.customer-report-customer-waittime-graph {
    background-color: #fff;
    padding: 24px 10px 30px 10px;
    height: 350px;
}

.livechat-analytics-customer-report-card-section {
    margin-left: 0px;
}


/* .customer-report-card-name {
    text-align: right;
} */

.customer-report-card-heading {
    font-weight: 500;
    font-size: 14px;
    color: #4d4d4d;
    padding-right: 15px;
}

#average_nps_heading {
    color: #000000;
}


/* .livechat-analytics-customer-report-cards.analytics-card-active .livechat-analytics-tooltip-div {
    position: absolute;
    right: 16px;
    top: 29px;
} */

.customer-report-card-data-rate {
    font-size: 11px;
    color: #4b4949;
    font-weight: normal;
    padding-top: 3px;
}

.customer-report-card-data-rate span {
    padding-left: 4px;
    color: #C9291F !important;
}

.customer-report-card-value {
    font-weight: 900;
    font-size: 24px;
    color: #4D4D4D;
    margin-top: 6px;
    text-align: right;
    position: absolute;
    bottom: 16px;
    right: 20px;
}

.livechat-analytics-customer-report-cards {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 15%);
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    padding: 16px 16px 16px 12px;
    cursor: pointer;
    margin-top: 12px;
    position: relative;
    border: 2px solid #fff;
    min-height: 120px;
}

.livechat-analytics-customer-report-card-one {
    padding-left: 0px !important;
    padding-right: 12px;
}

.customer-report-card-content {
    display: flex;
}

.customer-report-card-name {
    padding-left: 12px;
    width: 100%;
    line-height: 17px;
}

.livechat-analytics-customer-report-cards.analytics-card-active .customer-report-card-content .customer-report-card-heading {
    color: #000000;
}

.chats-report-graph-wrapper {
    padding: 0px 1px 0px 10px;
}

.analytics-card-active {
    /* margin-top: -2px;
    padding-top: 34px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 15%);
    border-top: 0px;
    height: 143px; */
    border: 2px solid #93C5FD;
}

.livechat-live-analytics-subheading {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #636363;
    padding: 24px 0px 12px 0px;
    border-bottom: 1px dashed #D0E2FF;
}

.livechat-analytics-live-report-cards {
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 15%);
    background: #ffffff;
    padding: 16px 30px 16px 12px !important;
    margin-top: 16px;
    min-height: 120px;
    position: relative;
}

.livechat-analytics-tooltip-div {
    position: absolute;
    right: 16px;
    top: 12px;
}

.livechat-analytics-tooltip-div i {
    font-size: 14px !important;
    color: #d1d2d4;
}

.livechat-analytics-live-report-card {
    /* padding: 0px !important; */
    /* display: flex; */
    padding-left: 0px;
}

.live-report-card-content {
    display: flex;
}

.live-report-card-name {
    padding-left: 12px;
    line-height: 17px;
}

.live-report-card-heading {
    font-weight: 500;
    font-size: 14px;
    color: #4d4d4d;
}

.live-report-card-data-rate {
    font-size: 11px;
    color: #4b4949;
    font-weight: normal;
    padding-top: 6px;
    line-height: 1.2;
}

.live-report-card-data-rate span {
    padding-left: 4px;
    color: #C9291F !important;
}

.live-report-card-value {
    font-weight: 900;
    font-size: 24px;
    color: #4D4D4D;
    position: absolute;
    bottom: 20px;
}

.chat-report-card-heading i,
.customer-report-card-heading i,
.live-report-card-heading i {
    font-size: 14px !important;
    margin-left: -4px;
}

.livechat-analytics-border-div {
    width: 100%;
    height: 24px;
    border-bottom: 1px solid #EDF3FF;
}

.livechat-analytics-tooltip-div button {
    border: none;
    outline: none;
    background: transparent;
}

.loader-custom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-custom #loader-inside-div {
    position: relative;
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.loader-custom #loader-inside-div div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #D91E36;
}

.loader-custom #loader-inside-div div:nth-child(1) {
    animation: loader-movement 3s linear infinite 0s;
}

.loader-custom #loader-inside-div div:nth-child(2) {
    animation: loader-movement 3s linear infinite 0.15s;
}

.loader-custom #loader-inside-div div:nth-child(3) {
    animation: loader-movement 3s linear infinite 0.3s;
}

.loader-custom #loader-inside-div div:nth-child(4) {
    animation: loader-movement 3s linear infinite 0.45s;
}

@keyframes loader-movement {
    0% {
        opacity: 0;
        transform: scale(0.3);
        background: #59CD90;
    }
    25% {
        opacity: 1;
        transform: scale(1.8);
        background: #0072BB;
    }
    50% {
        opacity: 0;
        transform: scale(0.3);
        background: #FE4A49;
    }
    75% {
        opacity: 1;
        transform: scale(1.8);
        background: #FED766;
    }
    100% {
        opacity: 0;
    }
}

.loader-custom span {
    padding-right: 15px;
}

.data-loader-div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 0%);
}

.customer-report-card-content svg {
    margin-top: -3px;
}

.chat-report-card-content svg {
    margin-top: -3px;
}

.live-report-card-content svg {
    margin-top: -2px;
}

.livechat-analytics-live-chat-termination-report-card {
    padding: 20px;
    height: 250px;
    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    margin-top: 24px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .btn-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    box-sizing: border-box;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 13px;
    height: 36px;
    color: #909090;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .btn-default::after {
    content: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='7' height='7' fill='%23E5E5E5'/%3E%3Crect width='1440' height='660' transform='translate(-649 -105)' fill='white'/%3E%3Crect x='-573' y='-49' width='1364' height='604' fill='%23FAFAFA'/%3E%3Crect x='-563' y='-38' width='1344' height='81' fill='white'/%3E%3Crect x='-149.5' y='-14.5' width='170' height='34' rx='4.5' fill='white' stroke='%23E6E6E6'/%3E%3Cpath d='M4.19282 5.8C3.8849 6.33333 3.1151 6.33333 2.80718 5.8L0.295706 1.45C-0.0122147 0.916666 0.372686 0.25 0.988527 0.25H6.01147C6.62732 0.25 7.01221 0.916667 6.70429 1.45L4.19282 5.8Z' fill='%23868686'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    border: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-search {
    border-radius: 5px !important;
    background: #F6F8FF;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .input-group-addon {
    display: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .input-group-btn {
    display: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .btn-group {
    width: 100% !important;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container {
    width: 100% !important;
    padding: 0px;
    max-height: 205px;
    overflow-y: auto;
    border-radius: 5px!important;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li {
    padding: 0px 6px;
    border-bottom: 1px solid #F6F6F6;
    position: relative;
    height: 38px;
    display: flex;
    width: 100%;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a {
    width: 100%;
}


/* .livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li.active {
    background-color: #FAFAFA;
} */

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-item.filter {
    position: sticky;
    top: 0px;
    z-index: 100;
    background: #fff;
    padding-top: 5px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container .input-group {
    width: 100% !important;
    margin: 0px 0px 5px 0px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a>label>input[type=checkbox] {
    width: 16px !important;
    height: 16px;
    right: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>.active>a,
.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>.active>a:focus,
.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: #000;
    width: 100%;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>li>a:focus {
    background: #F6F8FF;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>li:hover {
    background: #FAFAFA;
    cursor: pointer;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a>label {
    padding: 8px 38px 4px 6px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .form-control:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a {
    outline: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-selected-text {
    width: 90%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown {
    width: 100%;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown ::-webkit-scrollbar {
    width: 7px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown ::-webkit-scrollbar-thumb {
    background: #CFDAE6;
    border-radius: 10px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.livechat-analytics-live-chat-termination-report-card {
    padding: 20px;
    height: 250px;
    background: #FFFFFF;
    border: 1px solid #F6F6F6;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    margin-top: 24px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .btn-default {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    box-sizing: border-box;
    background-color: #fff !important;
    box-shadow: none !important;
    font-size: 13px;
    height: 36px;
    color: #909090;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .btn-default::after {
    content: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='7' height='7' fill='%23E5E5E5'/%3E%3Crect width='1440' height='660' transform='translate(-649 -105)' fill='white'/%3E%3Crect x='-573' y='-49' width='1364' height='604' fill='%23FAFAFA'/%3E%3Crect x='-563' y='-38' width='1344' height='81' fill='white'/%3E%3Crect x='-149.5' y='-14.5' width='170' height='34' rx='4.5' fill='white' stroke='%23E6E6E6'/%3E%3Cpath d='M4.19282 5.8C3.8849 6.33333 3.1151 6.33333 2.80718 5.8L0.295706 1.45C-0.0122147 0.916666 0.372686 0.25 0.988527 0.25H6.01147C6.62732 0.25 7.01221 0.916667 6.70429 1.45L4.19282 5.8Z' fill='%23868686'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 22px;
    border: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-search {
    border-radius: 5px !important;
    background: #F6F8FF;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .input-group-addon {
    display: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .input-group-btn {
    display: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .btn-group {
    width: 100% !important;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container {
    width: 100% !important;
    padding: 0px;
    max-height: 205px;
    overflow-y: auto;
    border-radius: 5px!important;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li {
    padding: 0px 6px;
    border-bottom: 1px solid #F6F6F6;
    position: relative;
    height: 38px;
    display: flex;
    width: 100%;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a {
    width: 100%;
}


/* .livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li.active {
    background-color: #FAFAFA;
} */

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-item.filter {
    position: sticky;
    top: 0px;
    z-index: 100;
    background: #fff;
    padding-top: 5px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container .input-group {
    width: 100% !important;
    margin: 0px 0px 5px 0px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a>label>input[type=checkbox] {
    width: 16px !important;
    height: 16px;
    right: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>.active>a,
.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>.active>a:focus,
.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: #000;
    width: 100%;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>li>a:focus {
    background: #F6F8FF;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .dropdown-menu>li:hover {
    background: #FAFAFA;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a>label {
    padding: 8px 38px 4px 6px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .form-control:focus {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-container>li>a {
    outline: none;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown .multiselect-selected-text {
    width: 90%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown {
    width: 100%;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown ::-webkit-scrollbar {
    width: 7px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown ::-webkit-scrollbar-thumb {
    background: #CFDAE6;
    border-radius: 10px;
}

.livechat-multiselect-dropdown.livechat-multiselect-filter-dropdown ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-checkbox-input .checkmark::after {
    content: "";
    position: absolute;
}

.custom-checkbox-input input:checked~.checkmark:after {
    display: block;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-checkbox-input .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #0254D7;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
}

.livechat-multiselect-filter-dropdown .multiselect-container>li>a>label.custom-checkbox-input .checkmark {
    right: 1%;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 2px;
}

.custom-checkbox-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
}
.livechat-multiselect-filter-dropdown .btn-group ul li a:hover{
    text-decoration: none !important;
}
.livechat-analytics-live-chat-termination-report-card.source-statistic-grap-col{
    padding: 0;
}
.livechat-analytics-live-chat-termination-report-card.source-statistic-grap-col .livechat-live-analytics-subheading{
    padding: 20px 0 0 20px;
}
.ui-state-active{
    color: #ffffff !important;
}
.ui-widget-content .ui-datepicker-calendar .ui-state-default {
    background: #f6f6f6 ;
    color: #454545 ;
    border: 1px solid #c5c5c5 ;
}