.livechat-vc-call-btns {
    height: 40px;
    padding: 0px 16px;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: normal;
    font-size: 12px;
    color: #2F80ED;
    outline: none !important;
    background-color: #ffffff;
    align-items: center;
    margin-top: 8px;
}

.live-chat-voip-call-initiate-container {
    width: 90%;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid var(--border-color-primary);
    padding: 3% 0;
}

.live-chat-voip-call-initiate-button {
    height: 40px;
    padding: 0px 16px;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: normal;
    font-size: 12px;
    color: #2F80ED;
    outline: none !important;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.live-chat-voip-call-initiate-button svg {
    margin-right: 8px;
}

.live-chat-video-call-connect-button {
    height: 40px;
    padding: 0px 16px;
    border: 1px solid #10B981;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: normal;
    font-size: 12px;
    color: #10B981;
    outline: none !important;
    background-color: #ffffff;
    align-items: center;
    margin-top: 8px;
}

.live-chat-video-call-connect-button svg {
    margin-right: 8px;
}

.live-chat-agent-voip-call-initiate-button {
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: normal;
    font-size: 12px;
    color: #CBCACA;
    outline: none !important;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-top: 8px;
    cursor: default !important;
    pointer-events: none;
    padding: 0 16px;
    height: 38px;
}

.live-chat-agent-voip-call-initiate-div {
    display: none;
}

.live-chat-agent-voip-call-initiate-button svg {
    margin-right: 12px;
}

#livechat_voip_call_request_sent_modal .modal-dialog,
#livechat_cobrowsing_request_sent_modal .modal-dialog,
#livechat_cobrowsing_request_accepted_modal .modal-dialog,
#livechat_voip_call_link_generated_modal .modal-dialog,
#livechat_vc_call_link_generated_modal .modal-dialog {
    width: 284px;
    height: 48px;
    background: #E9F2FF;
    border: 1px solid rgba(2, 84, 215, 0.32);
    box-sizing: border-box;
    border-radius: 10px;
    top: 15%;
    margin: auto;
}

#livechat_video_call_request_sent_modal .modal-dialog {
    width: 284px;
    height: 48px;
    background: #E9F2FF;
    border: 1px solid rgba(2, 84, 215, 0.32);
    box-sizing: border-box;
    border-radius: 10px;
    top: 15%;
    margin: auto;
}

#livechat_voip_call_request_sent_modal .modal-dialog .modal-content,
#livechat_cobrowsing_request_sent_modal .modal-dialog .modal-content,
#livechat_cobrowsing_request_accepted_modal .modal-dialog .modal-content,
#livechat_voip_call_link_generated_modal .modal-dialog .modal-content,
#livechat_vc_call_link_generated_modal .modal-dialog .modal-content {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2D2D2D;
    background: #E9F2FF;
    height: 100%;
    border: none;
}

#livechat_video_call_request_sent_modal .modal-dialog .modal-content {
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2D2D2D;
    background: #E9F2FF;
    height: 100%;
    border: none;
}

.live-chat-voip-call-request-sent-text-div {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #F59E0B;
    margin-top: 8px;
    padding-bottom: 0px !important;
    padding: 0 16px;
}

.live-chat-voip-call-request-sent-text-div svg {
    margin-right: 8px;
}

#live_chat_voip_call_request_sent_div {
    display: none;
}

#livechat_voip_call_request_accept_modal,
#livechat_video_call_request_accept_modal,
#livechat_voip_call_request_reject_modal,
#livechat_cobrowsing_request_accept_modal {
    padding: 0% 6%;
}

#livechat_voip_call_request_accept_modal .modal-dialog,
#livechat_cobrowsing_request_accept_modal .modal-dialog {
    /* width: 284px;
    height: 48px; */
    background: #F5FFFD;
    border: 1px solid #6AE77C;
    box-sizing: border-box;
    border-radius: 10px;
    top: 15%;
    margin: auto;
    padding: 20px;
}

#livechat_voip_call_request_accept_modal .modal-dialog .modal-content,
#livechat_cobrowsing_request_accept_modal .modal-dialog .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5FFFD;
    height: 100%;
    border: none;
}

#livechat_voip_call_request_accept_modal .modal-dialog .modal-content .livechat-voip-request-accept-text-div,
#livechat_cobrowsing_request_accept_modal .modal-dialog .modal-content .livechat-voip-request-accept-text-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
    margin-bottom: 6px;
}

#livechat_voip_call_request_accept_modal .modal-dialog .modal-content p,
#livechat_cobrowsing_request_accept_modal .modal-dialog .modal-content p {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: -0.03em;
    color: #757575;
    text-align: center;
}

#livechat_video_call_request_accept_modal .modal-dialog {
    /* width: 284px;
    height: 48px; */
    background: #F5FFFD;
    border: 1px solid #6AE77C;
    box-sizing: border-box;
    border-radius: 10px;
    top: 15%;
    margin: auto;
    padding: 20px;
}

#livechat_video_call_request_accept_modal .modal-dialog .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5FFFD;
    height: 100%;
    border: none;
}

#livechat_video_call_request_accept_modal .modal-dialog .modal-content .livechat-voip-request-accept-text-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
    margin-bottom: 6px;
}

#livechat_video_call_request_accept_modal .modal-dialog .modal-content p {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: -0.03em;
    color: #757575;
    text-align: center;
}

.live-chat-voip-call-connect-text-div {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #10B981;
    margin-top: 8px;
}

.live-chat-voip-call-connect-text-div svg {
    margin-right: 12px;
}

.live-chat-voip-call-ongoing-text-div {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #10B981;
    margin-top: 8px;
}

.live-chat-voip-call-ongoing-text-div svg {
    margin-right: 12px;
}

.live-chat-voip-call-rejected-text-div {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FF0000;
    margin-top: 8px;
}

.live-chat-voip-call-rejected-text-div svg {
    margin-right: 12px;
}

.live-chat-voip-call-request-resend-button {
    margin-top: 8px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.06em;
    color: #0254D7;
    background: #ffffff;
    line-height: 14px;
    border: none;
    outline: none !important;
}

.live-chat-voip-call-connect-button {
    padding: 7px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.06em;
    color: #FFFCF9;
    background: #10B981;
    border-radius: 4px;
    line-height: 14px;
    border: none;
    outline: none !important;
}

.live-chat-voip-call-ongoing-button {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.06em;
    color: #10B981;
    background: #ffffff;
    line-height: 14px;
    border: none;
    outline: none !important;
    padding-bottom: 0px !important;
}

.live-chat-voip-call-connect-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px !important;
}

.live-chat-customer-contact-details,
.live-chat-date-time,
.live-chat-active-agent {
    width: 90% !important;
}

#live_chat_voip_call_connect_div {
    display: none;
}

#livechat_voip_call_request_reject_modal .modal-dialog {
    background: #FFF9F9;
    border: 1px solid #EAA8A8;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    top: 10%;
}

#livechat_voip_call_request_reject_modal .modal-dialog .modal-content {
    background: #FFF9F9;
    border: none;
}

#livechat_voip_call_request_reject_modal .request-reject-text-div {
    font-weight: 500;
    font-size: 16px;
    color: #2D2D2D;
}

#livechat_voip_call_request_reject_modal .modal-body p {
    font-size: 12px;
    letter-spacing: -0.03em;
    color: #757575;
    margin-top: 4px;
}

#livechat_voip_call_request_reject_modal .modal-body .request-reject-ok-btn {
    width: 42px;
    height: 34px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.06em;
    color: #FFFCF9;
    background: #D70202;
    border-radius: 4px;
    border: none;
    outline: none !important;
    margin-top: 18px;
}

.livechat-VOIP-call-ongoing-screen-container {
    position: absolute;
    width: 190px;
    height: 44px;
    left: 32px;
    bottom: 102px;
    background: #FFFFFF;
    border: 2px solid #10B981;
    box-sizing: border-box;
    box-shadow: 0px 1px 28px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    cursor: grabbing;
    z-index: 101;
}

.livechat-voip-call-user-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 105px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #475569;
    white-space: nowrap;
}

.livechat-VOIP-call-unmute-button {
    width: 24px;
    height: 24px;
    background: #CBCACA;
    border-radius: 50%;
    border: none;
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.livechat-VOIP-call-unmute-button .livechat-VOIP-call-mute-svg {
    display: none;
}

.livechat-VOIP-call-unmute-button.livechat-VOIP-call-mute-button .livechat-VOIP-call-unmute-svg {
    display: none;
}

.livechat-VOIP-call-unmute-button.livechat-VOIP-call-mute-button .livechat-VOIP-call-mute-svg {
    display: block;
}

.livechat-VOIP-call-unmute-button.livechat-VOIP-call-mute-button {
    background: #0254D7;
}

.livechat-VOIP-call-end-button {
    width: 24px;
    height: 24px;
    background: #FF0000;
    border-radius: 50%;
    border: none;
    outline: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.livechat-voip-call-reject-accept-popup-div,
.livechat-cobrowsing-reject-accept-popup-div {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 63px;
    padding: 6px 24px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    z-index: 100;
    margin: 0px;
    display: none;
}

.livechat-voip-call-request-popup-name-text {
    font-weight: 500;
    font-size: 12px;
    padding: 4px 0px;
    color: #000000;
    display: inline-flex;
    align-items: center;
    text-align: center;
    line-height: 14px;
    gap: 1em;
}

.livechat-voip-call-request-reject-btn {
    width: 126.5px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px;
    font-weight: 500;
    font-size: 14px;
    outline: none !important;
    color: #D70202;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.livechat-voip-call-request-accept-btn {
    width: 126.5px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 5px 0px 0px 5px;
    font-weight: 500;
    font-size: 14px;
    outline: none !important;
    color: #0254D7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.livechat-request-voip-call-popup-name-text-wrapper {
    display: flex;
    align-items: center;
}

.livechat-voip-call-request-accept-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0px;
}

@media screen and (max-width: 768px) {
    .livechat-voip-call-reject-accept-popup-div,
    .livechat-cobrowsing-reject-accept-popup-div {
        height: 110px;
        top: 70px;
        width: 94%;
        left: 50%;
        transform: translateX(-50%);
    }
    .livechat-request-voip-call-popup-name-text-wrapper {
        justify-content: center;
    }
    .livechat-voip-call-request-accept-btn-wrapper {
        justify-content: center;
        padding-left: 0px;
    }
    .livechat-voip-call-request-accept-btn {
        margin-right: 12px;
        border-radius: 5px;
    }
    .livechat-voip-call-request-reject-btn {
        border-radius: 5px;
    }
}

.livechat-voip-call-indigator-div {
    width: 30px;
    text-align: center;
    /* margin-top: -3px; */
}

.live-chat-mobile-display.mobile-voip-call-button {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 3.2rem;
    margin-top: -1rem;
    background: #ffffff;
    border: none;
    outline: none !important;
}

@supports (-webkit-touch-callout: none) {
    .live-chat-mobile-display.mobile-voip-call-button {
        margin-top: 0rem !important;
    }
}

.mobile_voip_sent_btn,
.mobile_voip_accept_btn,
.mobile_voip_ongoing_btn {
    display: none;
}

.live-chat-voip-call-connect-button-on-mobile {
    display: none;
    margin-top: 12px;
}

@media only screen and (max-width: 768px) {
    .live-chat-voip-call-connect-button-on-mobile {
        display: block !important;
    }
}

.live-chat-voip-call-connect-div {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px !important;
    padding: 0 16px;
}

.live-chat-voip-call-initiate-div {
    padding-bottom: 0px !important;
}