.nav-item.active span {
    color: #0254D7 !important;
}

.live-chat-request-in-queue-heading .live-chat-request-in-queue-date .search-container {
    float: right;
    height: 34px;
    padding: 0px 0px 0px 15px;
    box-shadow: 0px 0px 8px rgb(0 0 0 / 8%);
    border-radius: 5px;
}

.live-chat-request-in-queue-heading .live-chat-request-in-queue-date .search-container button {
    outline: none;
}

.live-chat-request-in-queue-heading .live-chat-request-in-queue-date .search-container button {
    float: left;
    padding: 0px 6px 0px 0px;
    margin-top: 5px;
    margin-right: 0px;
    background: #ffffff;
    border: none;
    cursor: pointer;
}

.live-chat-request-in-queue-heading .live-chat-request-in-queue-date .search-container input[type=text] {
    padding: 7px 0px 0px 6px;
    margin-top: 0px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    outline: none;
    width: 80%;
}

@media only screen and (min-width: 770px) {
    #live-chat-request-in-queue {
        overflow-y: auto;
        overflow-x: hidden;
        max-width: 99.5%;
        height: calc(100vh - 4.375rem);
    }

    #livechat_queue_requests_no_data {
        margin-left: 15px;
    }

    #livechat_queue_requests_table_div {
        margin-left: 14px;
    }
}

.live-chat-request-in-queue-table-area {
    z-index: 0;
    width: 99%;
    background: #ffffff;
    margin: 1px 5px 5px 7px;
    overflow: hidden;
    /* height: 100%; */
    padding: 0px;
}

.live-chat-request-in-queue-table-area table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.live-chat-request-in-queue-table-area table tr {
    border-bottom: 1px solid #E6E6E6;
}

.live-chat-request-in-queue-table-area table tr th {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    position: sticky;
    top: 0px;
    z-index: 100 !important;
}

.live-chat-request-in-queue-table-area table td,
.live-chat-request-in-queue-table-area table th {
    padding: 20px 2px 20px 20px;
    text-align: left;
}

.live-chat-request-in-queue-table-area table tr {
    border-bottom: 1px solid #E6E6E6;
}

.live-chat-request-in-queue-table-area table tr td {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
    word-break: break-word;
}

.livechat-rewuest-queue-assign-to-me-btn {
    border: none;
    text-align: center;
    outline: none !important;
    color: #FFFFFF;
    width: 150px;
    height: 35px;
    background: #0254D7;
    opacity: 1 !important;
    border-radius: 5px;
}

.livechat-rewuest-queue-assign-to-me-btn:disabled{
    opacity: 0.6 !important;
}


/* Responsive css */

@media only screen and (max-width: 1024px) {
    .search-container {
        width: 175px;
    }
}

@media only screen and (max-width: 769px) {
    .live-chat-request-in-queue-heading .live-chat-request-in-queue-date .search-container {
        width: 100%;
        float: none;
        height: 55px;
        padding: 0px 0px 0px 15px;
        box-shadow: none;
        border: 1px solid #E6E6E6;
    }
    .live-chat-request-in-queue-heading .live-chat-request-in-queue-date .search-container button {
        float: right;
        padding: 0px 20px 0px 0px;
        margin-top: 13px;
    }
    .live-chat-request-in-queue-heading .live-chat-request-in-queue-date .search-container input[type=text] {
        padding: 13px 0px 0px 0px;
        font-size: 18px;
        width: 90%;
    }
    #live-chat-request-in-queue {
        padding: 0px 20px 0px 20px;
        position: fixed;
        left: 0;
        overflow-y: auto;
        height: 90vh;
    }
    .live-chat-request-in-queue-table-area {
        width: 99%;
        margin: 0px 0px 0px 2px;
        padding: 0px;
    }
    .live-chat-request-in-queue-table-area table,
    .live-chat-request-in-queue-table-area thead,
    .live-chat-request-in-queue-table-area tbody,
    .live-chat-request-in-queue-table-area th,
    .live-chat-request-in-queue-table-area td,
    .live-chat-request-in-queue-table-area tr {
        display: block;
    }
    .live-chat-request-in-queue-table-area table tr:nth-of-type(even) {
        background: #F7F7F7 !important;
    }
    .live-chat-request-in-queue-table-area {
        width: 99%;
        margin: 0px 0px 0px 2px;
        padding: 0px;
    }
    .live-chat-request-in-queue-table-area table {
        width: 100%;
    }
    .live-chat-request-in-queue-table-area thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .live-chat-request-in-queue-table-area table tbody tr:hover {
        box-shadow: none;
        background: none;
    }
    .live-chat-request-in-queue-table-area tr {
        border: 1px solid #ccc;
        padding: 0px 11px;
        margin-bottom: 5px;
    }
    .live-chat-request-in-queue-table-area td {
        border: none;
        position: relative;
        padding: 0px;
    }
    .live-chat-request-in-queue-table-area table td {
        padding: 42px 0px 15px 6px;
        font-size: 20px !important;
    }
    .live-chat-request-in-queue-table-area table th {
        padding: 25px 0px 15px 6px;
        font-size: 20px !important;
    }
    .live-chat-request-in-queue-table-area td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 100%;
        padding-right: 10px;
        white-space: nowrap;
        color: #757575 !important;
    }
    .live-chat-request-in-queue-table-area table tr td {
        padding-left: 6px;
    }
    .live-chat-request-in-queue-table-area td:nth-of-type(1):before {
        content: "Customer Name";
    }
    .live-chat-request-in-queue-table-area td:nth-of-type(2):before {
        content: "Channel";
    }
    .live-chat-request-in-queue-table-area td:nth-of-type(3):before {
        content: "Chat Category";
    }
    .live-chat-request-in-queue-table-area td:nth-of-type(4):before {
        content: "Queue Time ";
    }
    .live-chat-request-in-queue-table-area td:nth-of-type(5):before {
        content: "Initiated Date-Time";
    }
    .live-chat-request-in-queue-table-area td:nth-of-type(6):before {
        content: "";
    }
    .live-chat-request-in-queue-table-area table tr td button {
        float: none;
        visibility: visible;
        position: relative;
        left: 50%;
        transform: translate(-55%, 0%);
    }
    .live-chat-request-in-queue-table-area .pagination-div {
        margin-top: 20px !important;
        margin-bottom: 30px;
        position: relative;
        left: 90%;
        transform: translateX(-50%);
        float: unset !important;
    }
    .live-chat-request-in-queue-user-count-div {
        display: block !important;
    }
    .sidebar {
        width: 11rem !important;
    }
}

.live-chat-request-in-queue-table-area .pagination-div {
    float: right;
    margin-top: -25px;
    margin-right: 10px;
}

.live-chat-request-in-queue-table-area .pagination-div .pagination-content {
    list-style-type: none;
    display: flex;
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
}

.live-chat-request-in-queue-table-area .pagination-content li {
    border-right: 1px solid #E6E6E6;
    box-sizing: border-box;
    padding: 3px 10px 1px 10px;
    font-size: 13px;
    height: 26px;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
}

.live-chat-request-in-queue-table-area .pagination-content li a {
    color: #717171;
    text-decoration: none;
}

.live-chat-request-in-queue-table-area .pagination-div .active-page {
    background: #EAF0FE;
    opacity: 0.5;
    border: 1px solid #0254D7;
    border-radius: 6px 0px 0px 6px;
}

@media only screen and (min-width: 770px) {
    .live-chat-request-in-queue-table-area.live-chat-table-parent-div-manage-user {
        max-height: calc(100vh - 9.9rem);
        overflow-y: auto !important;
    }
}

@media only screen and (min-width: 768px) {
    #sidebarlink {
        padding-left: 8px;
    }
}

#livechat_request_queue_assign_chat_modal,
#livechat_request_queue_already_assign_modal {
    padding: 0% 6%;
}

#livechat_request_queue_assign_chat_modal .modal-dialog {
    /* width: 284px;
    height: 48px; */
    background: #F5FFFD;
    border: 1px solid #6AE77C;
    box-sizing: border-box;
    border-radius: 10px;
    top: 15%;
    margin: auto;
    padding: 20px;
}

#livechat_request_queue_assign_chat_modal .modal-dialog .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5FFFD;
    height: 100%;
    border: none;
}

#livechat_request_queue_assign_chat_modal .modal-dialog .modal-content .livechat-request-queue-assign-text-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #2D2D2D;
    margin-bottom: 6px;
    text-align: center;
}

#livechat_request_queue_assign_chat_modal .modal-dialog .modal-content p {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: -0.03em;
    color: #757575;
    text-align: center;
}

.live-chat-request-queue-goto-inbox-button {
    height: 36px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.06em;
    color: #FFFCF9;
    background: #10B981;
    border-radius: 4px;
    line-height: 14px;
    padding: 0px 16px;
    border: none;
    outline: none !important;
}

#livechat_request_queue_already_assign_modal .modal-dialog {
    background: #EFF6FF;
    border: 1px solid #93C5FD;
    box-sizing: border-box;
    border-radius: 10px;
    top: 15%;
    margin: auto;
    padding: 20px;
}

#livechat_request_queue_already_assign_modal .modal-dialog .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFF6FF;
    height: 100%;
    border: none;
}

#livechat_request_queue_already_assign_modal .modal-dialog .modal-content .livechat-request-queue-assign-text-div {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0254D7;
    margin-bottom: 6px;
    text-align: center;
}

#livechat_request_queue_already_assign_modal .modal-dialog .modal-content p {
    font-weight: normal;
    font-size: 12px;
    letter-spacing: -0.03em;
    color: #757575;
    text-align: center;
}

.live-chat-request-in-queue-user-count-div {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin: 15px 2px 20px 2px;
    display: none;
}

#queue-requests-table_info {
    font-size: 13px;
    margin-top: 60px;
    color: #4d4d4d;
    width: 50%;
    padding-left: 10px;
    display: inline-block;
    margin-bottom: 20px;
}