

#allincall_chat_box {

            margin-top: 10px;
            right: 20px;
            width: 360px;
            height: 500px;
            max-height: 100%;
            box-shadow: 5px 5px 5px grey;
            border-radius: 0.8em;
            border:0.08em solid grey;
            /*transition: all 0.4s ease-in-out;*/
        }

.s-half {
  width: 7.16%;
}

.s-eleven-half {
  width: 95.84%;
}

.offset-s-half {
  margin-left: 7.16% !important;
}

.tabs .tab a:hover {
  background-color:#f5f5f5;
  color:#000;
}

.tabs .indicator {
  background-color:#000;
}

.tabs .tab a.active {
  background-color:#f5f5f5;
  color:#000;
}


.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color:#f5f5f5;
  color:#000;
}

#main-console-sidenav {
  position: fixed;
  top: 0;
  margin-top: 5%;
  bottom: 0;
  overflow: auto;
}

#edit-console-sidenav{
  position: fixed;
  top: 0;
  margin-top: 5%;
  bottom: 0;
  overflow: auto;
}

#edit-console-container-right{
  position: fixed;
  top: 0;
  margin-top: 5%;
  bottom: 0;
  overflow-y: scroll;
}

/* Custom CSS begins here */

.inline-icon {
 vertical-align: bottom;
 font-size: 22px !important;
}

.inline-icon-2 {
 vertical-align: bottom;
 font-size: 34px !important;
}

.document-editor {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;  /*or use calc(100vh - header_height)*/
}

.tabs .indicator {
  background-color: #1565C0 !important;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div::-moz-selection { background:transparent; }
div::selection { background:transparent; }

.main-panel {
  overflow-y: scroll;
  height: 200px;
}


tbody, tr, th, td{
  border: 1px solid #eeeeee;
}

.select2 .selection .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    height: 2.05rem;
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
}

.select2-results__option {
    color: #26a69a;
    padding: 8px 16px;
    font-size: 16px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eee !important;
    color: #26a69a !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #e1e1e1 !important;
}

.select2-dropdown {
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.select2-container--default .select2-results__option[role=group] .select2-results__group {
    background-color: #333333;
    color: #fff;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-top: 0 !important;
}

.select2-container .select2-search--inline .select2-search__field:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.select2-container .select2-selection--multiple {
    min-height: 2.05rem !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #ddd !important;
    color: rgba(0,0,0,0.26);
    border-bottom: 1px dotted rgba(0,0,0,0.26);
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  &.valid + label::after,
  &.invalid + label::after,
  &:focus.valid + label::after,
  &:focus.invalid + label::after {
    white-space: pre;
  }
  &.empty {
    &:not(:focus).valid + label::after,
    &:not(:focus).invalid + label::after {
      top: 2.8rem;

    }
  }
}
.recommended_intents_choice{
   background-color: #e4e4e4;
   border: 1px solid #aaa;
   border-radius: 4px;
   cursor: default;
   float: left;
   margin-right: 5px;
   margin-top: 5px;
   padding: 0 5px;
   width: fit-content;
}

.easychat-button{
    background-color: #e1bee7 !important;
    color:black  !important;
    font-weight: bold  !important;
}

.easychat-button:hover{
    background-color: #e1bee7 !important;
    color:black  !important;
    font-weight: bold  !important;
}

.easychat-footer{
  position: fixed;
    bottom: 0;
    background-color: #3A3F51;
    width: 100%;
    padding: 0 20px;
    font-family: Helvetica Neue,Roboto,Arial,Droid Sans,sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}
.easychat-footer a{
    float: right;
    color: #EEE;
    font-size: 12px;
    padding: 0 1em;
}
.easychat-footer span{
    float: right;
    color: #EEE;
    font-size: 12px;
    padding: 0 1em;
}
/* LiveChat */

.easychat-livechat-analytics-card-wrapper{font-family: sans-serif;display: flex;justify-content: space-around;justify-content: space-around;padding-top: 20px;}
.easychat-livechat-analytics-card{padding: 15px;width: 300px;border-radius: 10px;box-shadow: 2px 2px 8px #80808073;transition: 0.3s linear;background-color: white;}
.easychat-livechat-analytics-card label{display: block;text-align: center;font-size:large;}
.easychat-livechat-analytics h3{
   display: inline-block;
   padding: 0px 10px;
   color: purple;
   font-size: x-large;
   margin-block-end: 0em;
}
.easychat-livechat-analytics h4{
   display: inline-block;
   padding: 0px 10px;
   color: green;
   margin-block-end: 0em;
   padding-top: 5px;
}
.easychat-livechat-analytics{
  display: flex;
  justify-content: space-between;
}
.easychat-livechat-analytics-card:hover{
  transform: scale(1.08);
  background-color: lightyellow;
}
.easychat-livechat-analytics-main-div{
  height:100vh;
  overflow: auto;
  padding-bottom: 4em;
}
.easychat-livechat-dashboard{
  display: block;
}
.easychat-livechat-dashboard h4{
  display: inline-block;
  font-size: x-large;
  padding-left: 30px;
}
.easychat-livechat-dashboard h6{

display: inline-block;

font-size: smaller;
}


/***********************************************************************/



.easychat-livechat-assigned-customer-main-div{height: fit-content;border-bottom: 1px solid lightgrey;width: 100%;background-color: white; padding: 6px; padding-top: 10px; padding-bottom: 10px; cursor: pointer;transition: 0.2s linear;}
.easychat-livechat-customer-name-and-time{display: inline-block;position: relative;top: 0px;bottom: 2px;width: 100%;}
.easychat-livechat-customer-name-and-time p{display: inline-block;margin: 0px;margin-left: 20px;font-size: larger;}
.easychat-livechat-customer-name-and-time span{
  float: right;
  font-size: small;
  padding-right: 14px;
  padding-top: 3px;
}
.easychat-livechat-customer-previous-message{position: relative;top: 0px;color: gray;}
.easychat-livechat-customer-name{height: 100%;text-align: center;font-size: 2em;}
.easychat-livechat-customer-name-icon{
  display: inline-block;
  background-color: #3c47c2 !important;
  color: white;
  border-radius: 50%;
  height: 100%;
  padding: 1px 15px 5px 15px;
}
.easychat-livechat-customer-name-icon-time{
  justify-content: space-around;
  display: inline-block;
  float: right;
  position: absolute;
  width: 80%;
}
.easychat-livechat-assigned-customer-main-div:hover{
  background-color: lightgray;
  /*border-left: 10px solid blue;*/
}

.easychat-livechat-customer-previous-message p{
  display: inline-block;margin: 0px;margin-left: 20px;
}
.easychat-livechat-customer-previous-message span{
  float: right;
  font-size: small;
  padding-right: 14px;
  padding-top: 3px;
}
.livechat-unseen-message-count{
  margin: 0px 25px 0px 0px;
  background-color: #3c47c2 !important;
  color: white !important;
}

.chip{
  height: 25px;
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  padding: 0px 10px;
  border-radius: 35px;
}
/***********************************************************************/


  .collection-item:hover {
    background-color: #f5f5f5 !important;
  }

  .collection .collection-item.active{
    background-color: #f0f0fc !important;
  }


  /* mobile responsive ui */
  @media screen and (max-width: 680px) {
    #main-console-sidenav {
        width: 100% !important;
        height: 100% !important;
  
    }
  
    .row .col.s12,
    .purple.lighten-4,
    .purple.darken-3 {
        width: 45px !important;
    }
  
    #main-console-sidenav {
        left: 50px;
    }
  
    .row .col.s8 {
        width: 80%;
        margin-left: 80px !important;
    }
  
    .easychat-livechat-customer-name-icon-time {
        /*display: none !important;*/
        padding-right: 20px;   
    }

    #customer-details-header {
      display: none !important;
    }
    #customer-details-body {
      display: none !important;  
    }
    #customer-details-table {
      display: none !important;  
    }

    
    .easychat-livechat-assigned-customer-main-div {
      background-color: white;
      border: none;

    }
  

    .easychat-livechat-assigned-customer-main-div:hover {
      background-color: white;
      border: none;
    }

    #main-console-container {
      display: none;
    }
  
  }

  .livechat-agent-modal {
      display: block;
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: -78px;
      top: 65px;
      width: 71vh !important; /* Full width */
      height: calc(100vh - 3px)  !important; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .agent-iframe {
    height: 60%;
  }

  @media screen and (max-width: 680px) {
    .livechat-agent-welcome {
      width: 81% !important;
    }

    .easychat-livechat-assigned-customer-main-div {
      border-bottom: 1px solid black;
    }

    #no_cust_till_now {
      padding: auto !important;
    }

    #agent-info {
      display: none;
    }

    .hidden-for-mobile {
      display: none;
    }

    #buildchatbot-sidenav {
      display: flex; 
      align-items: center; 
      justify-content: center; 
      flex-flow: column;
    }
  }


  @media screen and (max-width: 380px) and (min-width: 365px) and (max-height: 815px) and (min-height: 670px) {
    .livechat-agent-modal {
      width: 57vh !important;
    }
    .agent-iframe {
      height: 91% !important;
    } 
  }

  
  @media screen and (max-width: 380px) and (min-width: 365px) and (max-height: 670px) {
    .livechat-agent-modal {
      width: 70vh !important;
    }
    .agent-iframe {
      height: 89% !important;
    }
  }

  @media screen and (max-width: 366px) and (min-width: 340px) {
    .livechat-agent-modal {
      width: 70vh !important;
    }
    .agent-iframe {
      height: 88% !important;
    }
  }

  @media screen and (max-width: 420px) and (min-width: 381px) and (max-height: 736px) {
    .livechat-agent-modal {
      width: 70vh !important;
    }
    .agent-iframe {
      height: 90% !important;
    }
  }

  @media screen and (max-width: 420px) and (min-width: 381px) and (max-height: 823px) and (min-height: 737px) {
    .livechat-agent-modal {
      width: 62vh !important;
    }
    .agent-iframe {
      height: 91% !important;
    }
  }

  @media screen and (max-width: 325px) {
    .livechat-agent-modal {
      width: 70vh !important;
    }
    .agent-iframe {
      height: 86% !important;
    }
    .livechat-agent-welcome {
      margin-left: 19% !important;
    }
  }

  .modal .modal-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #modal-create-agent .modal-content {
    padding: 15px 20px 0px 20px !important;
  }