#feedback_wrapper {
    width: auto !important;
    max-width: 450px;
    margin-left: -5px !important;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#feedback-form-title {
    margin-top: 12px;
    text-align: center;
    padding-bottom: 18px;
}

#feedback-submit-button {
    background-color: #0254D7 !important;
    margin-left: 0.2em;
    border-radius: 30px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: white !important;
    cursor: pointer;
    text-align: center;
    height: 36px;
    line-height: 36px;
    padding: 0 24px;
    vertical-align: middle;
    float: right !important;
    margin-top: 0.2em;
    opacity: 0.5;
    border: aliceblue;
    outline: none;
}

.rating-bar-container__wrapper {
    width: 100% !important;
}

.rating-bar-container {
    display: flex;
    justify-content: center;
}

.rating-bar-container__wrapper .rating-bar-container button {
    box-shadow: 1px 1px 6px rgb(0 0 0 / 20%);
    padding: 5px;
    height: 36px;
    width: 36px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 1.5px;
    box-sizing: border-box;
    transition: .5s linear;
    margin-right: 2px;
    outline: none !important;
}

#rating-bar-container-timer-div {
    width: 25% !important;
}

.rating-bar-container__wrapper #rating-bar-container-timer__XqPZ {
    display: inline-block;
    padding: 5px;
    text-align: center;
    color: green;
    font-size: small;
}

#livechat-chatbot-comment-box {
    color: #4d4d4d !important;
    padding: 5px;
    outline: none !important;
    margin-bottom: 12px;
    resize: none;
    height: 110px;
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 0.5em;
    display: inline-block;
    margin-left: -0.1em;
}

@media (min-width: 576px) {
    #livechat-vc-feedback-modal .modal-dialog {
        max-width: 80%;
    }
}

#livechat-vc-feedback-modal .modal-content {
    border: none;
    box-shadow: 1px 1px 6px rgb(0 0 0 / 20%);
}

#livechat-vc-feedback-modal .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.2rem;
}

#livechat_feedback {
    margin-top: -30px;
    width: 100%;
}

.vc-call-ended-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-top: 12px;
}