.livechat-developer-setting-subheading-container {
    width: 100%;
    background-color: #fff;
    padding: 12px;
}

.livechat-developer-setting-subheading-container span {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4D4D4D;
}

.livechat-developer-setting-subheading-container a {
    text-decoration: none !important;
    margin-right: 12px;
}

.livechat-whatsapp-config-save-btn,
.livechat-whatsapp-config-reset-btn {
    height: 36px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 14px;
    padding: 0px 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    outline: none !important;
}

.livechat-whatsapp-config-save-btn {
    background: #2755CB;
}

.livechat-whatsapp-config-reset-btn {
    background: #E53E3E;
}

.livechat-whatsapp-config-btn-items {
    align-items: center;
    display: flex;
    height: 38px;
    gap: 12px;
}

.livechat-whatsapp-config-btn-items .livechat-whatsapp-config-btn-item-wrapper {
    flex-basis: auto;
    flex-grow: 1;
}

.livechat-whatsapp-config-btn-items .livechat-whatsapp-config-btn-item-wrapper select {
    background-position-x: 97%;
}

.editor-fullscreen-div {
    justify-content: space-between !important;
}

.livechat-whatsapp-config-bot-name-div {
    font-weight: normal;
    font-size: 14px;
    color: #7B7A7B;
}

.livechat-custom-delete-modal .livechat-custom-delete-modal-heading {
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
}

.livechat-custom-delete-modal .livechat-custom-delete-modal-heading-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #2d2d2d;
}

.livechat-custom-delete-modal .livechat-custom-delete-modal-subheading {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #7B7A7B;
}

.livechat-custom-delete-modal .modal-body {
    text-align: center;
}

.livechat-custom-delete-modal .modal-content {
    border-radius: 16px;
}

.livechat-custom-delete-modal .modal-footer {
    justify-content: center !important;
    padding-top: 10px;
}

.livechat-custom-delete-modal .modal-footer .btn-close {
    margin-left: 0px;
}

.livechat-custom-delete-modal .modal-footer button {
    width: 175px;
}

@media (min-width: 576px) {
    .livechat-custom-delete-modal .modal-dialog {
        max-width: 440px;
        top: 50%;
        transform: translateY(-50%) !important;
    }
}
