{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>EasySearch</title>
    <meta name="robots" content="noindex,nofollow,noimageindex" />
    <meta name="googlebot" content="noindex,nofollow" />
    <meta name="googlebot-news" content="noindex,nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Search Engine">
    <meta name="keywords" content="search">

    <link rel="icon" href="{% static 'EasySearchApp/img/easysearch-logo.png' %}" type="image/gif" sizes="16x16">
    <link href="/static/EasySearchApp/css/style.css" type="text/css" rel="stylesheet"media="screen,projection"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/EasySearchApp/css/select2.min.css" rel="stylesheet"/>
    <link href="/static/EasySearchApp/css/materialize.min.css" type="text/css" rel="stylesheet"media="screen,projection"/>


    <script src="/static/EasySearchApp/js/jquery-3.3.1.min.js"></script>
    <script src="/static/EasySearchApp/js/materialize.min.js"></script>
  </head>
  <body> 
    {% csrf_token %}
    <div class="row" style="padding:1em;">

    <div class="easyseach">
      <a href="" id="easyseach_logo"><img alt="Logo" src="{% static 'EasySearchApp/img/easysearch-logo-2.png' %}" width="35%"></a>
    </div> 
    <div class="form">  
      <div>
        <label for="form-search"></label>
        <input type="text" id="form-search" placeholder="Search here...">
      </div>
    </div> 
    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'EasySearchApp/js/init.js' %}"></script>
    <script type="text/javascript" src="{% static 'EasySearchApp/js/select2.min.js' %}"></script>
  </body>
 </html>


















