{% extends 'EasySearchApp/console.html' %}
{% block consolecontent %}
{% load static %}
<div class="container" style="padding:3em;border:0.1em solid black;">
<div class="row l5"> 
    <div class="input-field col s8 m4">
         Auto Indexing
            <input id="next-indexing" type="number" class="validate" placeholder = "{{ user_objs.next_indexing}}">
            <span class="helper-text" data-error="wrong" data-success="right">(in Days)</span>
    </div>
      <div class = "file-field input-field col s12 m6 l8">
          <span>Select Logo</span>
          <input id="input-upload-logo" type = "file">
        <div class = "file-path-wrapper">
          	<input class = "file-path validate" id="input-upload-logo-v" type = "text" placeholder = "Click here to upload logo">
        </div>
        <span class="helper-text" data-error="wrong" data-success="right">{{ user_objs.logo_file}}</span>
      </div>
<div class="col s12">
      <a class="col s4 m2 l2 btn blue waves-effect waves-light right" id="btn-save-details">Save
      </a>
</div>  
</div>
</div>
{% endblock %}