*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #202124;
    ;
}
.congnomeet-starting-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 78px;
}

.cognomeet-timer-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
    height: fit-content;
    background: #36373A;
    border-radius: 23px;
}

.cognomeet-timer-text-container h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.cognomeet-timer-text-container .cognomeet-timer{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    margin-top: 20px;
}

@media (max-width:860px) {
    .congnomeet-starting-container{
        flex-direction: column;
        gap: 20px;
        justify-content: start;
    }
    .cognomeet-logo{
        position: absolute;
        top: 30px;
        transform: translateX(-50px);
    }
    .cognomeet-svg-container{
        margin-top: 100px;
    }
}

#cogno-meeting-timer > span:first-child {
    display: none;
}

/* Font need to be created on CognoMeet App  */
@font-face {
    font-family: "Silka";
    src: url("/static/CognoMeetApp/fonts/Silka/Silka-Medium.woff2") format("woff2");      
    font-weight: 500;
    font-style: normal;
}

  body{
    font-family: "Silka";
}


