*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #202124 !important;
}
.join-meeting-page-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 78px;
    width: 100vw;
    height: 100vh;
}

.join-meeting-wrapper{
    height: 100vh;
    width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.join-meeting-container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.join-meeting-heading{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.join-meeting-input-container #meeting-joining-password,
.join-meeting-input-container #meeting-joining-username{
    height: 39px;
    border: 1px solid #7B7A7B;
    border-radius: 5px;
    padding: 10px;
    color: #7B7A7B;
    background: #434343;
    font-size: 16px;
    max-width: 250px;
}

.join-meeting-btn{
    width: 151px;
    height: 40px;
    background-color: #2160FD !important;
    border-radius: 99px !important;
    color: #ffffff !important;
}

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: unset !important;
}

/* ------------------------------------------------------------------------------------ */
/* common css for waiting timer page join meeting page agent and customer */
.participant-window-container{
    width: 50vw;
    max-width: 818px;
    height: calc(100% - 100px);
    background-color: #36373A;
    border-radius: 17px;
    display: flex;
    position: relative;
    max-height: 550px;
}

.partipant-screen{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.partipant-screen video{
    object-fit: fill;
    border-radius: 17px;
    width: 100%;
    height: 100%;
}

.participant-action-icon-div{
    display: flex;
    justify-content: end;
    padding: 10px 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.participant-action-icon-div button{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
.participant-action-icon-div .action-icons-right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.participant-action-icon-div .action-icons-right button{
    width: 36px;
    height: 36px;
    background: #2D2D2D;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.participant-action-icon-div .action-icons-left{
    padding: 3px 10px 3px 3px;
    background: #191919;
    border-radius: 30px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ------------------------------------------------------ */

@media (max-width:720px) {
    .join-meeting-page-container{
        flex-direction: column;
        gap: 20px;
        justify-content: start;
    }
    #logo{
        transform: unset !important;
        position: absolute;
        top: 30px;
    }
    
    .join-meeting-wrapper{
        height: fit-content;
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    .join-meeting-container {
        align-items: center;
    }
    .participant-window-container{
        width: 80vw;
        max-width: unset;
        margin-top: 100px;
        height: calc(50% - 100px);
    }
    .waiting-timer-container-modal{
        max-width: unset;
        height: fit-content;
        width: 80vw;
    }
    .join-meeting-input-container{
        width: 100% !important;
    }
    .join-meeting-input-container #meeting-joining-password,
    .join-meeting-input-container #meeting-joining-username{
        width: 100% !important;
        max-width: unset;
    }

    .join-meeting-btn{
        width: 100% !important;
    }
}

.join-meeting-input-container{
    display: flex !important;
    flex-direction: column !important;
}

@font-face {
    font-family: "Silka";
    src: url("/static/CognoMeetApp/fonts/Silka/Silka-Medium.woff2") format("woff2");      
    font-weight: 500;
    font-style: normal;
  }

  body{
    font-family: "Silka" !important;
}

/* ------------------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body
{
    height: 100%;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: unset;
}

.btn:hover {
    color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #babdc0 !important;
    border-radius: 16px !important;
    border: 1px solid #fff !important;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: 0 0 0px #777 !important;
    border-radius: 10px;
}

.wrapper{
    /* width: 100vw; */
    height: 100vh;
    background-color: #202124;
    display: flex;
}
/* .meeting-body{
    display: flex;
    flex-direction: column;
    background: var(--chakra-colors-secondary-900);
    transform: rotate(0deg);
    transform-origin: 656px 656px;
} */

.top-navbar{
    padding: 4px 20px;
}

.top-nav-inner-div{
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-details{
    display: flex;
    align-items: center;
}
.user-details span{
    color: #999999;
}
.logo-container{
    padding-right: 12px;
}

.name-container{
    color: #DDDDDD;
    font-size: 14px;
    margin-left: 12px;
}

.meeting-info{
    display: flex;
    align-items: center;
    color: #DDDDDD;
}

.joined-agent-count{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 12px;
}

.time-section{
    margin-left: 12px;
}
.joined-user-interface{
    position: relative;
}

.user-wrapper-div{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding-inline: 5px;
    transform: rotate(0deg);
    transform-origin: 278px 278px;
    height: calc(100vh - 112px);
}

.user-1{
    grid-area: 1 / 1 / 2 / 2;
    padding: 5px;
}

.user-2{
    grid-area: 1 / 2 / 2 / 3;
    padding: 5px;
}

.user-inner{
    background-color: #36373A;
    width: 100%;
    height: 100%;
}

.chat-box{
    display: unset;
    z-index: 1;
    height: 100vh;
    width: 300px;
    padding: 40px 10px 10px 10px;
}
.container-new{
    width: 100%;
}

.bottom-menu-bar{
   width: 100%;
}

.bottom-menu-inner-div{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}
.bottom-menu-icons-div{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.icon-container-left{
    display: flex;
    position: absolute;
    left: 0.5em;
}

.icon-container-center{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: auto;
    padding-left: 0.5em;
    padding-right: 1em;
}

.more-option-container-right{
    display: flex;
    position: absolute;
    right: 0.5em;
}

.more-option-container-right ul li{
    cursor: pointer;
}

.icon-inner {
    display: flex;
    position: relative;
    margin-inline: 2px;
}

@media screen and (min-width: 30em){
.icon-button{
    width: auto;
}
}

.icon-button{
    display: flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: auto;
    border-radius: 8px;
    transition: all 0.2s ease-in 0s;
    height: 62px;
    min-width: 74px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background: unset;
    border-width: 2px;
    border-style: solid;
    border-image: initial;
    border-color: unset;
    border: none;
    cursor: pointer;
}

.button-text-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 9px;
    color: #DADADA;
    font-size: 12px;
}

.more-option-btn{
    background-color: #2160FD;
    border: unset;
    cursor: pointer;
}



.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #FFFFFF;
    text-align: left;
    list-style: none;
    background-color: #4D4D4D;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background-color: unset;
}

.dropdown-menu.show {
    display: block;
    position: absolute;
    inset: auto auto 0px 0px;
    margin: 0px;
    transform: translate(-124px, -69.4375px) !important;
}


/* sprint 6.2 */
/* ----------------------------------------------------------//----------------------------------- */

/* main css for custom menu goes from here */

.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: unset;
}

.btn:hover {
    color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #babdc0 !important;
    border-radius: 16px !important;
    border: 1px solid #fff !important;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: 0 0 0px #777 !important;
    border-radius: 10px;
}

p {
    margin-top: unset;
    margin-bottom: unset;
}

.cogno-lobby-option-section{
    min-width: 300px;
    height: 92vh;
    margin-top:30px;
    padding: 10px;
    background: #202124;
}

.cogno-lobby-client-chat-header{
    border-bottom: 1px solid #7b7b7b;
    color: #ffffff !important;
}

.cogno-lobby-options-section-body {
    width: 100%;
    height: calc(100% - 20px);
    overflow: auto;
    position: relative;
}
.cobrowse-chat-box {
    width: 100%;
    height: calc(100% - 53px);
    overflow: auto;
}
/* .type-area{
    position: absolute;
    width: 100%;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    gap: 10px;
    border-bottom: 1px solid #7B7A7B;
} */
.cobrowse-chat-box .type-area .input-wrapper {
    flex-grow: 1;
}
.cobrowse-chat-box .type-area .input-wrapper input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7B7A7B;
    background: transparent;
}

.cobrowse-chat-box .chat-room .message-right {
    align-items: flex-end;
}
.cobrowse-chat-box .chat-room .message {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.cobrowse-chat-box .chat-room {
    padding: 15px 7px;
    overflow-y: auto;
    padding-bottom: 0;
}

.cobrowse-chat-box .chat-room .message-right .bubble {
    float: right;
}
.cobrowse-chat-box .chat-room .bubble-light {
    color: #FFFFFF;
    background-color: #0254D7;
    font-family: 'Silka', Sans-Serif!important;
    border-radius: 10px;
}
.cobrowse-chat-box .chat-room .bubble-dark {
    color: #FFFFFF;
    background-color: #2D2D2D;
    font-family: 'Silka', Sans-Serif!important;
    border-radius: 10px;
}
/* .cobrowse-chat-box .chat-room .bubble {
    padding: 7px 15px;
    font-size: 14px;
    display: inline-block;
    word-break: break-word!important;
    max-width: 90%;
    min-width: 6em;
} */

/* .cobrowse-chat-box .chat-room .message-timer {
    font-family: 'Silka', Sans-Serif!important;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #ffffff;
} */

.cobrowse-chat-box .chat-room .message-left {
    align-items: flex-start;
}
.cobrowse-chat-box .chat-room .message {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

/* .shared-document{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
} */

.document-name p{
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cobrowse-chat-box::-webkit-scrollbar {
    width: 5px;
}
.cobrowse-chat-box::-webkit-scrollbar-thumb {
    background-color: #babdc0 !important;
    border-radius: 16px !important;
    border: 1px solid #fff !important;
}
.cobrowse-chat-box::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: 0 0 0px #777 !important;
    border-radius: 10px;
}

/* ---------------------------------------------------------------------------------------------- */
/* notes section css */


.cogno-lobby-options-section-body textarea {
    outline: none;
    resize: none;
}
.meeting-agent-notes {
    height: 98%;
    width: 100%;
    border: none;
    padding-top: 1em;
    font-family: "Silka", Sans-Serif!important;
    font-size: 16px;
    color: #ffffff;
    background-color: #202124;
}

.cogno-lobby-options-section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding: 10px 0px;
    border-bottom: 1px solid #7B7A7B;
}

.cogno-lobby-options-section-header .btn{
    padding: 0 !important;
    display: flex;
    outline: none;
    border: none;
}

/* ------------------------------------------------------------------------------- */

/* add member */
.cogno-lobby-add-member-section {
    display: flex;
    padding: 1em 0;
    color: #ffffff;
}

.cogno-lobby-total-members {
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 0.5em;
    color: #ffffff;
    border-bottom: 1px solid #E6E6E6;
    font-family: "Silka", Sans-Serif!important;
    font-weight: 500;
}

.cogno-lobby-members-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    font-family: "Silka", Sans-Serif!important;
    font-weight: 500;
    overflow: auto;
    min-height: 150px;
}

.cogno-lobby-add-member-input{
    padding: 9px 16px;
    background: #FFFFFF;
    border: 1px solid #CBCACA;
    border-radius: 25px;
    width: 60%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #7B7A7B;
}
.cogno-lobby-add-member-btn{
    background: #2160FD;
    border-radius: 99px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    border: none;
    padding: 9px 16px;
    margin-left: 10px;
}

.action-button{
    display: flex;
    gap: 10px;
}

.custom-icon-button{
    outline: none;
    border: none;
    background: transparent;
}

.meeting-host{
    color: #ffffff;
}

input:focus-visible{
    outline: none;
}

/* -------------------------------------------------------------------------------------------- */

/* ask for support */


.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 11px 15px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ffffff;
    border: 1px solid #7B7A7B;
    border-left: none;
}



.invite-agent-search-box{
    padding: 10px 10px;
    padding-right: 58px;
    background: #FFFFFF;
    border: 1px solid #7B7A7B;
    border-radius: 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4D4D4D;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: unset;
    outline: 0;
    box-shadow:unset;
}

.cogno-lobby-assistance-type-text{
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

  .product-category-btn-group {
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  .product-category-btn-group .btn {
    border-radius: 1px!important;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .congo-lobby-support-agent-text {
    display: inline-block;
    width: 60%;

    font-family: "Silka", Sans-Serif!important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .cogno-lobby-support-agent-list ul{
      padding-left: 0;
      height: 180px;
      overflow: auto;
  }
  .cogno-lobby-support-agent-list li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .cogno-lobby-support-agent-invite-btn a {
    color: #25B139!important;
  }

  .category-wise-invite-agent{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #34D399;
    padding: 3px 16px;
    background: #054433;
    border-radius: 99px;
    outline: none;
    border: none;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-category-btn-group button span{
    width: 24px;
    height: 19px;
}
.product-category-btn-group button span svg{
    transform: rotate(90deg);
}
.product-category-btn-group .collapsed span svg{
    transform: rotate(0deg);
}


/* ------------------------------------------------------------------------------------ */

/* documents */
.document-upload-button{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 20px;
    gap: 8px;
    background: #2160FD;
    border-radius: 99px;
    margin-left: auto;
}

.message-right .document-bubble {
    float: right;
}
.document-bubble-light {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);;
    font-family: 'Silka', Sans-Serif!important;
    border-radius: 10px;
    cursor: pointer;
}
.document-container{
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    gap:10px;
    height: fit-content;
}
.document-image-container {
    background-color: #D9D9D9;
    border-radius: 6px;
}
.document-image-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    height: 90px;
}

.cogno-lobby-documents .document-name p {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uploaded-document-preview-container{
    max-height: calc(100% - 60px);
    overflow-y: auto;
    padding-bottom: 0;
}

.uploaded-document-preview-container::-webkit-scrollbar {
    width: 5px;
}
.uploaded-document-preview-container::-webkit-scrollbar-thumb {
    background-color: #babdc0 !important;
    border-radius: 16px !important;
    border: 1px solid #fff !important;
}
.uploaded-document-preview-container::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: 0 0 0px #777 !important;
    border-radius: 10px;
}


@media (max-width:760px) {
    .cogno-lobby-meeting-chat{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .cogno-lobby-option-section{
        height: 72vh;
    }
    .cogno-lobby-agent-notes,
    .cogno-lobby-add-members,
    .cogno-lobby-ask-for-support,
    .cogno-lobby-documents{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .cogno-lobby-option-section {
        padding: 0 20px 20px 20px;
    }
    
      .type-area{
        bottom: 20px;
      }
      .cobrowse-chat-box {
        height: calc(100% - 80px);
    }
    .cogno-lobby-options-section-body {
        height: calc(100% - 25px);
    }

    /* not useful css */
    .user-wrapper-div {
        display: flex;
        flex-direction: column;
    }
    .user-1,
    .user-2{
        height: 50%;
    }

    /* not useful */
    /* .user-inner {
        background-color: #36373A;
        width: 97vw;
        height: 40vh;
    }
    .user-wrapper-div {
        display: flex;
        flex-direction: column;
    }
    .bottom-menu-bar {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
      .meeting-body{
          height: 100%;
      } */

      .container-new{
        width: 100% !important;
      }
      
}

.custom-dropdown-add-icons .btn-secondary{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px 23px;
    gap: 2px;
    background: #2160FD;
    font-size: 12px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-mobile-state{
    display: none;
}
.icons-container-expanded{
    display: flex;
    position: absolute;
    right: 0.5em;
}

@media (max-width:1202px) {
    .dropdown-mobile-state{
        display: block;
    }
    .icons-container-expanded{
        display: none;
    }
}

/* #meeting-body{
    width: 80%;
} */

/* html, body {
    height: 100%;
  } */

#meeting_room_page{
    display: none;
}

#meeting-body{
    display: none;
}

/* #cogno-lobby-meeting-chat-sm{
    width: 100%;
} */
/* .cogno-lobby-option-section{
    width: 100%;
} */

#participant-name-initials{
    font-size: 40px;
}
#permit-participant-name-initials{
    font-size: 40px;
}
#lobby-participant-name-initials{
    font-size: 40px;
}
#kick-participant-name-initials{
    font-size: 40px;
}

@media (max-width:760px) {
    .cogno-lobby-meeting-chat{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .cogno-lobby-option-section{
        height: 72vh;
    }
    .cogno-lobby-agent-notes,
    .cogno-lobby-add-members{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    /* #meeting-body{
        width: 100%;
    } */
}

.cogno-lobby-meeting-chat, 
.cogno-lobby-agent-notes,
.cogno-lobby-add-members,
.cogno-lobby-documents,
.cogno-lobby-ask-for-support{
    flex-grow: 1;
}

.input-wrapper input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: transparent;
    padding: 10px;
    border-bottom: 1px solid #7B7A7B;
}
.document-send-button {
    margin-left: auto;
}
.document-send-button .cogno-lobby-send-document-btn{
    background: #2160FD;
    border-radius: 99px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    outline: none;
    border: none;
    padding: 9px 20px;
}

/* -----------------Kick Participant ----------------------- */

.easyassist-permit-meet-entry-modal .modal-content{
    background: #4D4D4D !important;
    border-radius: 16px;
    padding: 30px;
}
.permit-heading{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}
.easyassist-permit-meet-entry-modal .btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border-radius: 99px;
    outline: none;
    border: none;
    cursor: pointer;
}

.cancel-btn{
    background: transparent;
    border: 1px solid #7B7A7B !important;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 10px 31px;
}
.easyassist-permit-meet-entry-modal  .btn:hover{
    color: #FFFFFF;
}
.remove-participant-btn{
    background: #FF4C40;
    color: #FFFFFF;
    margin-left: 10px;
    padding: 10px 31px;
}

.permit-meeting-entry-btn{
    background: #2160FD;
    color: #FFFFFF;
    margin-left: 10px;
    padding: 10px 37px;
}



.easyassist-permit-meet-entry-modal .btn-check:focus+.btn, .easyassist-permit-meet-entry-modal .btn:focus {
    outline: 0;
    box-shadow: unset;
}

.easyassist-permit-meet-entry-modal .modal-footer{
    border-top: none;
    padding: 0 !important;
}
.easyassist-permit-meet-entry-modal .modal-dialog {
    max-width: 350px;
    margin: auto;
}

.hidden-div{
    visibility: hidden;
}


/* chat css */
.cobrowse-chat-box .chat-room .message-timer {
    font-family: 'Silka', Sans-Serif!important;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ababab;
    text-align: right;
}


.join-call-message{
    background: #2D2D2D;
    border-radius: 4px;
    padding: 6px 0;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    color: #ababab;
}

.type-area{
    position: absolute;
    width: 100%;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    border-bottom: 1px solid #7B7A7B;
    background: #202124;
}

.cobrowse-chat-box .chat-room .bubble {
    padding: 7px 15px;
    font-size: 16px;
    display: inline-block;
    word-break: break-word!important;
    max-width: 90%;
    min-width: 6em;
}

.shared-document{
    display: flex;
    align-items: center;
    gap: 10px;
    margin:  0.25rem 0;
}

.message-right .message-timer{
    color: #A6BFFE !important;
}

.button-add{
    height: 28px;
    width: 28px;
}

.deny-meeting-entry-btn{
    background: transparent;
    border: 1px solid #7B7A7B !important;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 10px 20px;

}


@media (max-width: 400px){
    .easyassist-permit-meet-entry-modal .modal-dialog {
    max-width: 300px;
    margin:auto ;
}
.easyassist-permit-meet-entry-modal .modal-footer{
    flex-direction: column-reverse;
    gap: 10px;
}
.easyassist-permit-meet-entry-modal .modal-footer button{
    width: 100%;
    margin: 0;
}

}

#easyassist-meeting-snackbar {
    width: fit-content;
    visibility: hidden;
    max-width: 400px;
    background-color: #4D4D4D;
    color: #fff;
    text-align: start;
    padding: 12px 24px;
    position: fixed;
    left: 20px;
    bottom: 70px;
    z-index: 2147483647;
    animation-iteration-count: 1;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 32, 51, 0.04), 0px 12px 28px rgba(0, 32, 51, 0.12);
    border-radius: 4px;
}

#easyassist-meeting-snackbar.show {
    visibility: visible;
    -webkit-animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 6s;
    animation: easyassist-fadein 1s, easyassist-fadeout 0.5s 7.5s;
}


/* Animations to fade the easyassist-snackbar in and out */

@-webkit-keyframes easyassist-fadein {
    from {
        left: 0;
        opacity: 0;
    }
    to {
        left: 30px;
        opacity: 1;
    }
}

@keyframes easyassist-fadein {
    from {
        left: 0;
        opacity: 0;
    }
    to {
        left: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes easyassist-fadeout {
    from {
        left: 30px;
        opacity: 1;
    }
    to {
        left: 0;
        opacity: 0;
    }
}

@keyframes easyassist-fadeout {
    from {
        left: 30px;
        opacity: 1;
    }
    to {
        left: 0;
        opacity: 0;
    }
}

@media (max-width:400px) {
    #easyassist-meeting-snackbar{
        width: 100vw;
        left: 0;
    }
}

@media (max-width:1202px) {
    .dropdown-mobile-state{
        display: block;
    }
    .icons-container-expanded{
        display: none;
    }
}


@media (max-width: 400px){
    .easyassist-permit-meet-entry-modal .modal-dialog {
    max-width: 300px;
    margin:auto ;
}
.easyassist-permit-meet-entry-modal .modal-footer{
    flex-direction: column-reverse;
    gap: 10px;
}
.easyassist-permit-meet-entry-modal .modal-footer button{
    width: 100%;
    margin: 0;
}

}
#lobby-page-div{
    display: none;
}

#meeting-left{
    display: none;
}


/* Meeting left */

.congnomeet-meet-left-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    gap: 98px;
}

.cognomeet-timer-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
    height: fit-content;
}

.cognomeet-meet-left-text-container h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.cognomeet-meet-left-text-container .cognomeet-btn-container{
    margin-top: 20px;
    display: flex;
}
.cognomeet-meet-left-text-container .cognomeet-btn-container button{
    padding: 10px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border-radius: 99px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
}

.rejoin-meet-btn{
    background: rgba(33, 96, 253, 0.1);
    color: #2160FD;
    margin-right: 10px;
}
.leave-meet-btn{
    background: #2160FD;
    color: #FFFFFF;
    margin-left: 10px;
}

.cognomeet-meet-left-text-container .agent-left-meet-message{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;    
}

@media (max-width:860px) {
    .congnomeet-meet-left-container{
        flex-direction: column;
        gap: 20px;
        justify-content: start;
    }
    .cognomeet-logo{
        position: absolute;
        top: 30px;
        transform: translateX(0px);
    }
    .cognomeet-svg-container{
        margin-top: 100px;
    }
}
