*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #202124;

}

.waiting-timer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 78px;
    width: 100vw;
    height: 100vh;
}

.participant-window-container{
    width: 50vw;
    max-width: 818px;
    height: 577px;
    background-color: #36373A;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
}

.partipant-screen{
    margin: auto;
}

.participant-action-icon-div{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.participant-action-icon-div button{
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
.participant-action-icon-div .action-icons-right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.participant-action-icon-div .action-icons-right button{
    width: 36px;
    height: 36px;
    background: #2D2D2D;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.participant-action-icon-div .action-icons-left{
    padding: 3px 10px 3px 3px;
    background: #191919;
    border-radius: 30px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 10px;
}


.waiting-timer-container-modal{
    width: 30vw;
    max-width: 400px;
    height: fit-content;
    background-color: #36373A;
    border-radius: 23px;
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customer-waiting-time-unit{
    margin-top: 2.1rem;
    font-weight: 500;
    font-size: 13.2307px;
}
.customer-waiting-time-value{
    font-weight: 500;
    font-size: 49.6153px;
    line-height: 60px;
    text-align: center;
}
.meeting-msg-waiting-timer{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.timer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toggle-sound-button{
    border: none;
    outline: none;
    width: fit-content;
    background: transparent;
    cursor: pointer;
    margin: 0;
}

@media (max-width:720px) {
    .waiting-timer-container{
        flex-direction: column;
        gap: 20px;
        justify-content: start;
    }
    #logo{
        position: absolute;
        top: 30px;
        transform: translateX(-30px);
    }
    
    .participant-window-container{
        height: 229px;
        width: 80vw;
        max-width: unset;
        margin-top: 100px;
    }
    .waiting-timer-container-modal{
        max-width: unset;
        height: fit-content;
        width: 80vw;
    }
}

@font-face {
    font-family: "Silka";
    src: url("/static/CognoMeetApp/fonts/Silka/Silka-Medium.woff2") format("woff2");      
    font-weight: 500;
    font-style: normal;
  }
body{
    font-family: "Silka";
}

.hidden-div{
    visibility: hidden;
}