      @import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

      @media print {
          html, body {
              display: none;  /* hide whole page */
          }
      }

      iframe{
          width: 100%;
          height: 100%;
          border:none !important;
          overflow: scroll;
      }

      #frames-container{
          width:100%;
          height:100%;
          position:fixed;
          top:0;
          left:0;
          align-items: center;
          justify-content: center;          
      }


  /*#easyassist-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 3em;
    height: 3em;
    z-index: 2147483647;
    position: fixed;
    top: 45%;
    left: 45%;
    -webkit-animation: easyassist-spin 2s linear infinite;
    animation: easyassist-spin 2s linear infinite;
  }*/

  @-webkit-keyframes easyassist-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes easyassist-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* The easyassist-snackbar - position it at the bottom and in the middle of the screen */
#easyassist-snackbar {
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden; /* Hidden by default. Visible on click */
  max-width: 500px; /* maximum width */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  left: 50%; /* Center the easyassist-snackbar */
  top: 30px; /* 30px from the bottom */
  z-index: 2147483647;
  animation-iteration-count: 1;
}

/* Show the easyassist-snackbar when clicking on a button (class added with JavaScript) */
#easyassist-snackbar.show {
  visibility: visible; /* Show the easyassist-snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the easyassist-snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 6s;
  animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 6s;
}

/* Animations to fade the easyassist-snackbar in and out */
@-webkit-keyframes easyassist-fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes easyassist-fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes easyassist-fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes easyassist-fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}


#allincall-chat-box {
  bottom: 1em;
  right: 1em;
  width: 450px;
  background-color: white;
  /* animation: my-amine-blo 1s; */
  height: 600px;
  max-height: 100%;
  box-shadow: 1px 5px 21px 4px grey;
  border-radius: 0.8em;
  border:0.0em solid rgba(0, 0, 0, 0.2);
  display: none;
  border: none;
  position: fixed;
  animation-duration:0.6s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;


.easychat-bot-message-div{
  margin-top: 0em;
  width:100%;
  display:inline-block !important;
}

.message-time-user{
    font-size:11px;
    float: right;
    text-align: right;
    margin-left: 20px;
    color: white;    
    padding: 0.5em 0em 0em 0.5em;
}

.message-time-bot{
    font-size:11px;
    text-align: right;
    width: 100%;
    float: right;
    padding: 0.5em 0em 0em 0.5em;
}

.easychat-bot-message{
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    float: left;
    width: fit-content !important;
    height: auto;
    font-size: 14px;
    color: #262626 !important;
    border-radius: 0px 10px 10px 10px;
    background-color: #ffffff;  
    padding-bottom: 10px !important;
    word-wrap: break-word;
    display: inline-block;
}

@media screen and (min-width: 425px){
    .easychat-bot-message{
        width: fit-content;
        max-width: 80%;
    }
}

.easychat-bot-message-line{
    line-height: 20px;
    padding: 0.8em 0.5em 0.8em 0.5em;
}

.easychat-user-message-div{
    margin: 0em 0em 0em 0em;
    width:100%;
    display:inline-block;
}

.easychat-user-message{
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    float: right;
    height: auto;
    max-width: 80%;
    font-size: 14px;
    color: white;
    border-radius: 10px 0px 10px 10px;
    word-wrap: break-word;
    display: inline-block;
    margin-right:0.3em;
}

.easychat-user-message-line{
    line-height: 16px;
    padding: 0.8em 0.7em 0.8em 0.8em !important;
}

.easychat-livechat-customer-attachment{
    width: 50%;
    float: left;
    background-color: #ffffff;
    margin: 1em 0px 3px 0px;
    padding: 4px 4px 1px 4px;
    border-radius: 0em 1em 1em 1em;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
}

.easychat-livechat-message{height: fit-content;padding: 6px;}


.loader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9995
}


.loaderCenter h3 {
  color: #0072bc;
  font-size: 36px;
  font-family: "Silka", sans-serif;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 0px;
}

.loaderCenter h3:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 10em;
  white-space: nowrap;
  color: #fff;
  -webkit-animation: mainloading 3s linear infinite;
  animation: mainloading 3s linear infinite
}

@keyframes mainloading {
  0% {
    max-width: 0
  }
}

@-webkit-keyframes mainloading {
  0% {
    max-width: 0
  }
}

@media screen and (max-width: 1024px) {

  .loaderCenter h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 639px) {
  .loaderCenter h3 {
    font-size: 1.1rem;
  }
}

.easyassist-custom-nav-bar_wrapper {
  display: inline-block;
  border-radius: 0 6px 6px 0px;
  z-index:  2147483646!important;
  position: fixed;
  background-color: transparent;
  color: black;
  top: 50%;
  transform: translateY(-50%);
  left: 0!important;
}

.easyassist-custom-nav-bar {
  display: flex;
  flex-direction: column;
  width: 60px;
  min-height: 60px;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 5px 5px 0px;
  z-index: 2147483647!important;
  background: white;
}

.easyassist-custom-nav-bar a {
  text-decoration: none;
  color: #191717;
  margin: 8px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.easyassist-custom-nav-bar a label {
  display: none;
  position: absolute;
  background-color: #1565c0;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
  white-space: nowrap;
  font-size: 14px;
  border-radius: 4px;
  left: 75px;
  max-width: none;
  font-weight: normal;
}

.easyassist-custom-nav-bar a label svg {
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
}

.easyassist-custom-nav-bar a label span {
  float: none!important;
}

.open-menu-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  left: 0px;
  top: 50%;
  transform: translate(0%, -50%);
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.25);
  border-radius: 0px 5px 5px 0px;
  outline: none !important;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal-header {
  border-top-right-radius: 90px !important;
  border-top-left-radius: 90px !important;
  border: none!important;
  flex-direction: column!important;
  padding: 1.5rem 1.5rem 0 1.5rem!important;
}

.modal-header .modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #2D2D2D!important;
}

.modal-header .modal-text {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #4D4D4D;
  padding-top: 0.75em!important;
}

.modal-body {
  padding: 0 1.5rem 0rem 1.5rem!important;
}

.modal-body h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #4D4D4D;
  margin-bottom: 0.5rem!important;
}

.modal-body span:not(.close-session-error) {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #4D4D4D;
}

.modal-body .btn-action {
  background: transparent!important;
  border-radius: 50%!important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  outline: none!important;
}

.modal-body label {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #2D2D2D;
}

.modal-body .table-responsive {
  max-height: 350px;
  overflow-y: auto;
}

.modal-body .table-responsive::-webkit-scrollbar {
  width: 5px!important;
}

.modal-body .table-responsive::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: 0 0 0px #777 !important;
  border-radius: 5px;
}

.modal-body .table-responsive::-webkit-scrollbar-thumb {
  background: #babdc0;
  border-radius: 5px;
}

.modal-body .table-responsive::-webkit-scrollbar-thumb:hover {
  background: #babdc0;
}

.modal-body th {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #2D2D2D;
  letter-spacing: -0.02em!important;
}

.modal-body td {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #2D2D2D;
  letter-spacing: -0.02em!important;
  padding: 1rem 0.75rem;
}

.modal-body thead tr {
  border-bottom: 1px solid #E6E6E6;
}

.modal-body table tr td:first-child {
  white-space: nowrap;
  padding-left: 0;
  min-width: 7.5em;
}

.modal-body table tr td:last-child {
  padding-right: 0;
}

.modal-body table tr th:last-child {
  padding-right: 0;
}

.modal-body table tr th:first-child {
  max-width: 10em;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0;
  padding-right: 0;
}

.modal-body .support-document-link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  display: block;
  overflow: hidden;
  max-width: 10em;
  text-overflow: ellipsis;
}

.modal-body .support-document-message-text {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 13px;
  padding: 1em;
  outline: none!important;
}

.modal-footer {
  border: none!important;
  padding: 1.5rem!important;
}

.modal-footer .btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0254D7;
  border-radius: 25px!important;
  border-color: #0254D7;
  letter-spacing: -0.02em;
  color: #fff !important;
  min-width: 113px;
  height: 38px;
  font-size: 14px!important;
  font-style: normal;
  font-weight: 500;
  outline: none!important;
  box-shadow: none!important;
}

.modal-footer .btn-primary:hover {
  transform: 0.2s all ease;
  background-color: #0254D7;
}

.modal-footer .btn-secondary {
  border: none!important;
  color: #0254D7;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  background: #FFFFFF!important;
  outline: none!important;
  box-shadow: none!important;
}

.modal-footer .btn-secondary:hover {
  transform: 0.2s all ease;
  background-color: #FFFFFF !important;
}

.modal-footer .btn-success {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px!important;
  font-style: normal;
  font-weight: 500;
  outline: none!important;
  box-shadow: none!important;
  letter-spacing: -0.02em;
  height: 38px;
}

@media only screen and (max-width: 768px) {
  .modal .modal-content {
      width: 100% !important;
  }
}

@media only screen and (max-height: 600px) {
  .modal .modal-content {
      width: 100% !important;
  }
  .modal {
      overflow-y: auto!important;
      overflow-x: hidden!important;
  }
}

#cobrowse-mobile-modal .modal.left .modal-dialog,
#cobrowse-mobile-modal .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

#cobrowse-mobile-modal .modal.left .modal-content,
#cobrowse-mobile-modal .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

#cobrowse-mobile-modal .modal.left .modal-body,
#cobrowse-mobile-modal .modal.right .modal-body {
    padding: 15px 15px 80px;
}

#cobrowse-mobile-modal .modal.left.fade .modal-dialog {
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

#cobrowse-mobile-modal .modal.left.fade .modal-dialog {
    left: 50%;
    transform: translate(-50%, 0%);
}

#cobrowse-mobile-modal .modal-header .close {
    margin-top: -12px;
    outline: none !important;
}

#cobrowse-mobile-modal .close {
    opacity: 1;
}

#cobrowse-mobile-modal .modal-header {
    padding: 0.5em 1em 1em 0.5em!important;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
}

#cobrowse-mobile-modal .modal-content {
    width: 100%!important;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(204 204 204 / 25%);
    border-radius: 10px;
}

#cobrowse-mobile-modal .menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

#cobrowse-mobile-modal .menu-items li {
    list-style-type: none;
    display: inline-flex;
    margin-bottom: 20px;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#cobrowse-mobile-modal .menu-items li span {
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    text-align: center;
}

#cobrowse-mobile-modal .menu-items li .menu-item {
    width: 73px;
    height: 63px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cobrowse-mobile-modal .modal.left .modal-body {
    padding: 15px 15px 0px;
}

#cobrowse-mobile-modal .menu-end-session-btn {
    width: 120px;
    height: 39.13px;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    background: #0254D7;
    border-radius: 90px;
    border: none;
    outline: none;
    float: right;
    margin: -10px 0px 20px 0px;
}

@media (orientation: landscape) {
    #cobrowse-mobile-modal .menu-items {
        display: flex;
        justify-content: initial;
        flex-wrap: wrap;
        width: 100%;
    }
    #cobrowse-mobile-modal span {
        text-align: center;
    }
    #cobrowse-mobile-modal .menu-items li {
        list-style-type: none;
        margin-bottom: 20px;
        width: 25%!important;
    }
    #cobrowse-mobile-modal .menu-items li .menu-item {
        width: 73px;
        height: 63px;
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #cobrowse-mobile-modal .modal.left.fade .modal-dialog {
        transform: translate(-50%, 5%);
    }
    #cobrowse-mobile-modal .modal.left .modal-body {
        padding: 15px 15px 0px;
    }
    @media only screen and (max-width: 823px) and (min-width: 800px) {
        #cobrowse-mobile-modal .modal-dialog {
            max-width: 640px;
        }
    }
    @media only screen and (max-width: 568px) and (min-width: 560px) {
        #cobrowse-mobile-modal .menu-items {
            margin-bottom: -18px;
        }
    }
    @media only screen and (max-width: 653px) and (min-width: 650px) {
        #cobrowse-mobile-modal .menu-items {
            margin-bottom: -12px;
        }
        #cobrowse-mobile-modal .modal-dialog {
            padding: 10px;
        }
        #cobrowse-mobile-modal .modal.left .modal-body {
            height: 200px;
            overflow-y: scroll;
            margin-bottom: 8px;
        }
    }
}

@media (orientation: portrait) {
    #auto_rotate_modal .modal-content {
        width: 100%!important;
    }
    #cobrowse-mobile-modal .menu-items li {
        list-style-type: none;
        margin-bottom: 20px;
    }
    #cobrowse-mobile-modal .menu-items li .menu-item {
        width: 73px;
        height: 63px;
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        box-sizing: border-box;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #cobrowse-mobile-modal .modal.left.fade .modal-dialog {
        transform: translate(-50%, 5%);
    }
    #cobrowse-mobile-modal .modal.left .modal-body {
        padding: 15px 15px 0px;
    }
}

#mobile-modal-hide-btn {
    background: transparent;
    outline: none;
    border: none;
}

#cobrowse-mobile-modal svg {
  width: 26px;
  height: 26px;
}

#allincall-chat-box {
  bottom: 1px !important;
  right: 1em !important;
  width: 435px;
  background-color: white;
  /* animation: my-amine-blo 1s; */
  height: 665px;
  max-height: 100%;
  box-shadow: 1px 5px 21px 4px grey;
  border-radius: 0.8em;
  border: 0.0em solid rgba(0, 0, 0, 0.2);
  display: none;
  border: none;
  position: fixed;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  z-index: 2147483647;
}

@media (max-height: 600px) {
  #allincall-chat-box {
      height: 95%;
  }
}

#allincall-chat-box,
#easyassist-livechat-iframe {
    box-shadow: rgba(0, 0, 0, 0.256863) 0px 5px 40px !important;
}

@media screen and (max-width: 450px) {
    #allincall-chat-box {
        right: 0em !important;
        width: 100%;
        height: 60%;
        z-index: 2147483647;
        margin-left: 2px;
    }
}
/* client feedback modal and invite agent leave session modal start */
#close-session-modal-client .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 32px !important;
  background-color: #fff !important;
  border-bottom: 1px solid #efefef !important;
}

#close-session-modal-client .modal-header h6 {
  font-size: 16px !important;
  font-weight: normal !important;
  font-weight: bold !important;
  box-sizing: border-box !important;
  line-height: 19px !important;
  margin: unset !important;
}

#close-session-modal-client .modal-body p {
  color: #4D4D4D;
  font-size: 16px !important;
  font-weight: normal !important;
  line-height: 1.5;
  margin: unset;
}

#close-session-modal-client .modal-body {
  padding: 24px 32px !important;
  min-height: 8em !important;
  color: #2D2D2D;
  word-break: break-word;
}

#close-session-modal-client .modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 24px 32px !important;
  background: #F6F6F6;
  border-top: 1px solid #efefef;
  border-radius: 0 !important;
}

#close-session-modal-client .modal-footer .btn-secondary,
#leave-session-modal .modal-footer .btn-secondary {
  width: 123px !important;
  height: 38px !important;
  width: fit-content;
  font-weight: 500;
  font-size: 16px !important;
  background: transparent !important;
  color: #7B7A7B !important;
  border: 1px solid #7B7A7B !important;
  border-radius: 99px;
  margin-right: 16px !important;
}

#close-session-modal-client .modal-footer .btn-primary,
#leave-session-modal .modal-footer .btn-primary {
  background-color: #486EDB;
  color: white;
  font-size: 13px;
  border-style: none;
  outline: none;
  cursor: pointer;
  padding: unset;
  border: unset;
  margin: unset;
  width: 123px !important;
  height: 38px !important;
  background: #0254D7;
  border-radius: 25px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#close-session-remarks-client {
  font-size: 14px !important;
  font-weight: normal !important;
  resize: none;
  width: 100%;
  height: 90px;
  margin: unset !important;
  padding: 1em;
  border: 2px solid #E6E6E6;
  border-radius: 0.3em;
  color: #000000;
  background-color: #fff;
}

#close-session-modal-client .easyassist-tickmarks {
  display: flex;
  justify-items: center !important;
  flex-direction: row;
  align-items: center;
  width: 100% !important;
  margin-top: 30px;
  font-size: 90%;
  font-weight: bold;
  padding: unset !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

#close-session-modal-client .modal-body {
  padding: 24px 32px !important;
  min-height: 8em !important;
  color: #2D2D2D;
  word-break: break-word;
}

#close-session-modal-client .modal-body .textarea-container {
  padding-top: 0.5em;
  margin: 0px;
}

#close-session-modal-client .modal-body .textarea-container div {
  width: 100%;
  padding-top: 10px;
}

#close-session-modal-client .easyassist-tickmarks span {
  cursor: pointer;
  margin: 2px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E6E6E6;
  color: #2D2D2D;
  font-size: 14px !important;
  font-weight: normal !important;
}

#close-session-modal-client .modal-content {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1) !important;
  letter-spacing: -0.04em;
  border: none !important;
  border-radius: 8px 8px 16px 16px;
}

#close-session-remarks-error {
  color: red;
  padding-top: 1em;
  text-align: center;
  display: none;
}

#close-session-modal-client .modal-dialog,
#leave-session-modal .modal-dialog {
  display: flex;
  justify-content: center;
}

#close-session-modal-client .modal-dialog,
#leave-session-modal .modal-dialog {
  width: 100% !important;
  max-width: 600px;
  align-items: center;
  height: 100%;
  margin: auto !important;
  padding-left: 0;
}


#leave-session-modal .modal-content {
  width: 411px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1) !important;
  border-radius: 20px !important;
  letter-spacing: -0.04em;
  border: none !important;
}

#leave-session-modal .modal-header {
  border-bottom: none;
  border: none !important;
  padding: 2rem 2rem 0px 2rem !important;
  flex-direction: row !important;
}

#leave-session-modal .modal-header .modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #2D2D2D !important;
}


#leave-session-modal .modal-body span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #4D4D4D;
}

#leave-session-modal .modal-footer {
  border: none !important;
  padding: 1.5rem !important;
  border-bottom-right-radius: 40px !important;
}

#leave-session-modal .modal-dialog {
  width: 100%;
  align-items: center;
  height: 100%;
  margin: auto !important;
  padding-left: 0;
}


#leave-session-modal .modal-footer .btn-secondary:focus {
  box-shadow: none !important;
}

#leave-session-modal .modal-footer .btn-secondary {
  border: none !important;
}

@media (max-width: 600px) {

  #close-session-modal-client .modal-content,
  #leave-session-modal .modal-content {
    margin: 0 10px;
  }

  #close-session-modal-client .modal-footer,
  #leave-session-modal .modal-footer {
    justify-content: center;
  }

  #close-session-modal-client .modal-header h6 {
    margin: auto !important;
  }
}
/* client feedback modal and invite agent leave session modal end */