      @import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

      iframe{
          width: 100%;
          height: 100%;
          border:none !important;
          overflow: scroll;
      }

      #frames-container{
          width:100%;
          height:100%;
          position:fixed;
          top:0;
          left:0;
          align-items: center;
          justify-content: center;
          transform-origin: left top;
      }

    .easyassist-custom-nav-bar_wrapper{
        display: inline-block;
        border-radius: 6px;
        /* box-shadow: 0px 2px 6px grey; */
        z-index: 1040 !important;
        position: fixed;
        background-color: white;
        color: black;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
    }

    #maximise-button {
      background: white;
    }

    #mySidenav {
      background: white;
    }

    .easyassist-custom-nav-bar{
      display: flex;
      flex-direction: column;
      width: 60px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
      border-radius: 0px 5px 5px 0px;
      z-index: 2147483647 !important;
    }

    .easyassist-custom-nav-bar a {
      text-decoration: none;
      color: #191717;
      margin: 8px 0px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-self: center;
      align-items: center;
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }

    .easyassist-custom-nav-bar a label{
        display: none;
        position: absolute;
        background-color: #1565c0;
        color: white;
        padding: 5px 10px;
        border-radius: 10px;
        width: fit-content;
        white-space: nowrap;
        font-size: 14px;
        border-radius: 4px;
        left: 75px;
        font-weight: normal;
    }

    .easyassist-custom-nav-bar a label svg {
      position: absolute;
      left: -7px;
      top: 50%;
      transform: translateY(-50%);
    }

    .easyassist-custom-nav-bar a i {
      position: relative;
    }

    #easyassist-loader {
      width: 100%;
      height: 100%;
      position: absolute;
      background: white;
      z-index: 990;
    }

/*  #easyassist-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 3em;
    height: 3em;
    z-index: 2147483647;
    position: fixed;
    top: 45%;
    left: 45%;
    -webkit-animation: easyassist-spin 2s linear infinite;
    animation: easyassist-spin 2s linear infinite;
  }
*/
  @-webkit-keyframes easyassist-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes easyassist-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* The easyassist-snackbar - position it at the bottom and in the middle of the screen */
#easyassist-snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin: 0; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  left: 50%; /* Center the easyassist-snackbar */
  top: 30px; /* 30px from the bottom */
  z-index: 2147483647;
  animation-iteration-count: 1;
  transform: translateX(-50%);
  font-size: 14px!important;
}

/* Show the easyassist-snackbar when clicking on a button (class added with JavaScript) */
#easyassist-snackbar.show {
  visibility: visible; /* Show the easyassist-snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the easyassist-snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 6s;
  animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 6s;
}

/* Animations to fade the easyassist-snackbar in and out */
@-webkit-keyframes easyassist-fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes easyassist-fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes easyassist-fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes easyassist-fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}


#allincall-chat-box {
  bottom: 0px;
  right: 1em;
  width: 435px;
  background-color: white;
  /* animation: my-amine-blo 1s; */
  height: 660px;
  max-height: 100%;
  box-shadow: 1px 5px 21px 4px grey;
  border-radius: 0.8em;
  border:0.0em solid rgba(0, 0, 0, 0.2);
  display: none;
  border: none;
  position: fixed;
  animation-duration:0.6s;
  animation-fill-mode:forwards;
  animation-timing-function:linear;
  z-index: 997;
}


.loader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9995
}


.loaderCenter h3 {
  color: #0072bc;
  font-size: 36px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 0px;
}

.loaderCenter h3:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 10em;
  white-space: nowrap;
  color: #fff;
  -webkit-animation: mainloading 3s linear infinite;
  animation: mainloading 3s linear infinite
}

@keyframes mainloading {
  0% {
    max-width: 0
  }
}

@-webkit-keyframes mainloading {
  0% {
    max-width: 0
  }
}

@media screen and (max-width: 1024px) {

  .loaderCenter h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 639px) {
  .loaderCenter h3 {
    font-size: 1.5rem;
  }
}

.gy-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 98vh;
}

.loading-message {
  color: #464646;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
  /*font-family: "Silka", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.loading-image {
  font-weight: 400;
  color: #464646;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

/* -----------------------------------------
  =CSS3 Loading animations
-------------------------------------------- */

.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #204daf;
}

/**** Animation stuff ****/

.gy-loader .line:nth-last-child(1) {
  animation: loadingC 1s 0.2s linear infinite;
}

.gy-loader .line:nth-last-child(2) {
  animation: loadingC 1s 0.4s linear infinite;
}

.gy-loader .line:nth-last-child(3) {
  animation: loadingC 1s 0.6s linear infinite;
}

@-webkit-keyframes loadingC {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes loadingC {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Thin.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face { 
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Light.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Regular.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Medium.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Bold.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-RegularItalic.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-RegularItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}


.modal th {
    font-weight: 400 !important;
}

.modal a {
    color: #204DAF !important;

}

.modal .fa-paper-plane {
    color: #204DAF !important;
}

.modal .close {
    font-weight: 500 !important;
    padding: 1.2rem 1.4rem 1rem 1rem !important;
}

.modal-footer {
    border: 0 0 20px 20px !important;
    border-bottom-right-radius: 40px !important;
}

.modal-dialog {
  display: flex;
  justify-content: center;
}

.modal-dialog {
  width: 100%;
  align-items: center;
  height: 100%;
  margin: auto!important;
  padding-left: 0;
}

.modal-content {
    border-radius: 20px !important;
    border: none !important;
    letter-spacing: -0.04em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;

}

.modal-body {
    padding: 1.2rem !important;
}

.modal-body h6 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #4D4D4D;
  margin-bottom: 0.5rem!important;
}

.modal-body span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;

  color: #737373;
}

.modal-header {
    border-top-right-radius: 90px !important;
    border-top-left-radius: 90px !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}

.modal .btn-primary {
    padding: 4px 16px !important;
    background-color: #3662C5 !important;
    border-radius: 30px !important;
    border-color: #3662C5 !important;
    letter-spacing: -0.02em;
    color: #fff !important;

}

.modal .btn-primary:hover {
    transform: 0.2s all ease;
    background-color: #204DAF !important;


}

.modal .btn-success {
    padding: 4px 16px !important;
    background-color: #28a745 !important;
    border-radius: 30px !important;
    border-color: #28a745 !important;
    letter-spacing: -0.02em;
    color: #fff !important;
}

.modal .btn-success:hover {
    transform: 0.2s all ease;
    background-color: #218838 !important;
    border-color: #1e7e34 !important;
}

.modal .btn-secondary {
    border-radius: 30px !important;
    border: 1px solid #717384 !important;
    color: #717384;
    background: white !important;
    padding: 4px 16px !important;
    letter-spacing: -0.02em;

}

.modal .btn-secondary:hover {
    color: #fff;
    background: #717384 !important;
    transform: 0.2s all ease !important;

}

.modal .easyassist-custom-nav-bar a label {
    background: #204DAF !important;
}

/* Live Chat */
#allincall-chat-box,
#easyassist-livechat-iframe {
    box-shadow: rgba(0, 0, 0, 0.256863) 0px 5px 40px !important;
}

@media screen and (max-width: 450px) {
  #allincall-chat-box{
    right: 0em !important;
    width: 100%;
    height: 60%;
    z-index: 2147483647;
    margin-left: 2px;
  }
}

#all-supported-language-div{

  width: 100%;
  padding-bottom: 20px;
}

#all-product-category-div {
  width: 100%;
  padding-bottom: 20px;
}

/* Customer Feedback Modal */

#close_session_modal {
  z-index: 9999999999;
}

#close_session_modal .modal-header {
  justify-content: center;
  border: none!important;
  padding: 2rem 2rem 0px 2rem!important;
  flex-direction: row!important;
}

#close_session_modal .modal-dialog {
    display: flex;
    justify-content: center;
}
#close_session_modal .modal-content {
  width: 575px;
}

#close_session_modal .modal-header h6 {
  font-size: 16px !important;
  font-weight: normal !important;
  color:black !important;
  box-sizing: border-box !important;
  line-height: 19px !important;
  margin: unset !important;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 2px;
  font-weight: 500;
}

#close_session_modal .modal-body {
  padding: 1.5rem 2rem 0rem 2rem!important;
}

#close_session_modal .modal-body p {
  color: #737373;
  font-size: 16px !important;
  font-weight: normal !important;
  line-height: 1.5;
  margin: unset;
}

#close_session_modal .easyassist-tickmarks {
  display: flex;
    justify-items: center !important;
    flex-direction: row;
    align-items: center;
    width: 100% !important;
    margin-top: 30px;
    font-size: 90%;
    font-weight: bold;
    padding: unset !important;
    flex-wrap: wrap!important;
    justify-content: center!important;
}

#close_session_modal .easyassist-tickmarks span {
  cursor: pointer;
  margin: 2px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E6E6E6;
  color: #2D2D2D;
  font-size: 14px !important;
  font-weight: normal !important;
}

#close-session-remarks {
  font-size: 14px !important;
  font-weight: normal !important;
  resize: none;
  width: 100%;
  height: 90px;
  margin: unset!important;
  padding: 1em;
  border: 2px solid #E6E6E6;
  border-radius: 0.3em;
  color: #000000;
  background-color: #fff;
}

#close_session_modal .modal-footer {
  border: none;
  padding-top: 0px;
}

#close_session_modal .modal-footer .btn-primary {
  background-color: #486EDB;
  color: white;
  font-size: 13px;
  border-style: none;
  outline: none;
  cursor: pointer;
  padding: unset;
  border: unset;
  margin: unset;
  width: 123px!important;
  height: 38px!important;
  background: #0254D7;
  border-radius: 25px!important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#close_session_modal .modal-footer .btn-secondary {
  font-style: normal;
  font-size: 14px!important;
  line-height: 17px;
  color: #4D4D4D!important;
  background: #FFFFFF!important;
  font-size: 13px;
  width: 110px;
  height: 35px;
  border-radius: 20px;
  border-style: none;
  outline: none;
  cursor: pointer;
  padding: unset;
  border: unset;
  margin: unset;
  border: none!important;
}


.modal {
  z-index: 2147483647 !important
}

.modal-content {
  width: 411px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1)!important;
  border-radius: 20px!important;
  letter-spacing: -0.04em;
  border: none !important;
}

#captured_information_modal .modal-content {
  width: 507px;
}

#support_material_modal .modal-content {
  width: 603px;
}

.modal-header {
    border-top-right-radius: 90px !important;
    border-top-left-radius: 90px !important;
    border: none!important;
    flex-direction: column!important;
    padding: 1.5rem 1.5rem 0 1.5rem!important;
}

.modal-header .modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #2D2D2D!important;
}

.modal-header .modal-text{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  padding-top: 0.75em!important;
  letter-spacing: 0;
}

.modal-body {
  padding: 0 1.5rem 0rem 1.5rem!important;
}

.modal-body .btn-action {
  background: transparent!important;
  border-radius: 50%!important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  outline: none!important;
}

.modal-body label {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #2D2D2D;
}

.modal-body .table-responsive {
  max-height: 350px;
  overflow-y: auto;
}

.modal-body .table-responsive::-webkit-scrollbar {
  width: 5px!important;
}

.modal-body .table-responsive::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: 0 0 0px #777 !important;
  border-radius: 5px;
}

.modal-body .table-responsive::-webkit-scrollbar-thumb {
  background: #babdc0;
  border-radius: 5px;
}

.modal-body .table-responsive::-webkit-scrollbar-thumb:hover {
  background: #babdc0;
}

.modal-body th {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #2D2D2D;
  letter-spacing: -0.02em!important;
}

.modal-body td {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #2D2D2D;
  letter-spacing: -0.02em!important;
  padding: 1rem 0.75rem;
}

.modal-body thead tr {
  border-bottom: 1px solid #E6E6E6;
}

.modal-body table tr td:first-child {
  white-space: nowrap;
  padding-left: 0;
  min-width: 7.5em;
}

.modal-body table tr td:last-child {
  padding-right: 0;
}

.modal-body table tr th:last-child {
  padding-right: 0;
}

.modal-body table tr th:first-child {
  max-width: 10em;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 0;
  padding-right: 0;
}

.modal-body .support-document-link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  display: block;
  overflow: hidden;
  max-width: 10em;
  text-overflow: ellipsis;
}

.modal-body .support-document-message-text {
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 13px;
  padding: 1em;
  outline: none!important;
}

.modal-footer {
    border: none!important;
    padding: 1.5rem!important;
}

.modal-footer .btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0254D7;
  border-radius: 25px!important;
  border-color: #0254D7;
  letter-spacing: -0.02em;
  color: #fff !important;
  min-width: 113px;
  height: 38px;
  font-size: 14px!important;
  font-style: normal;
  font-weight: 500;
  outline: none!important;
  box-shadow: none!important;
}

.modal-footer .btn-primary:hover {
  transform: 0.2s all ease;
  background-color: #0254D7;
}

.modal-footer .btn-secondary {
  border: none!important;
  color: #0254D7;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  background: #FFFFFF!important;
  outline: none!important;
  box-shadow: none!important;
}

.modal-footer .btn-secondary:hover {
    transform: 0.2s all ease;
    background-color: #FFFFFF !important;
}

.modal-footer .btn-success {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px!important;
  font-style: normal;
  font-weight: 500;
  outline: none!important;
  box-shadow: none!important;
  letter-spacing: -0.02em;
  height: 38px;
}

@media only screen and (max-width: 600px) {
  .modal .modal-content {
    width: 100% !important;
  }
}

/************ End of Bootstrap Modal Custom Style ***************/

  #cobrowse-voip-container {
    position: fixed;
    /*height: 127px;*/
    width: 60px;
    left: 0px;
    top: calc(100% - 127px);
    /*margin-top: 1.5em;*/
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0px 6px 6px 0px;

    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    flex-direction: column;
    gap: 11.4px;
    padding: 15px 0;
    user-select: none;
    z-index: 1040 !important;
  }

  #cobrowse-voip-container:not(.cobrowsing-moving) {
    transition: bottom .3s cubic-bezier(0.4,0.0,0.2,1),left .3s cubic-bezier(0.4,0.0,0.2,1),right .3s cubic-bezier(0.4,0.0,0.2,1),top .3s cubic-bezier(0.4,0.0,0.2,1);
  }

  #cobrowse-voip-container label {
    display: none;
    position: absolute;
    background-color: #1565c0;
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
    margin: 0!important;
    width: max-content;
    font-size: 13px;
    border-radius: 4px;
    z-index: 2147483647!important;
    left: 55px;
  }

  #cobrowse-voip-container label span {
      display: block;
  }

  #cobrowse-voip-container label svg {
    position: absolute;
    left: -7px;
    top: 50%;
    transform: translateY(-50%)!important;
  }

  #cobrowse-voip-container .agent-meeting-mic-btn svg,
  #cobrowse-voip-container .agent-meeting-end-btn svg {
    position: absolute;
  }

  .agent-meeting-mic-btn {
    background: #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24.78px;
    height: 24.78px;
    border-radius: 50%;
    outline: none!important;
    border: none!important;
  }


  .agent-meeting-end-btn {
      background: #FF3D3D;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 24.78px;
      height: 24.78px;
      border-radius: 50%;
      outline: none!important;
      border: none!important;
  }

  .show-cobrowse-meeting-btn {
    position: absolute;
    top: -2px;
    right: 5px;
    background: transparent;
    border: none;
    outline: none!important;
    padding: 0;
  }

  #cobrowse-meeting-iframe-container {
    position: absolute;
    left: 60px;
    height: 100%;
    width: 182px;
  }

  #cobrowse-meeting-iframe-container iframe {
    pointer-events: none!important;
  }

  .cobrowse-meeting-video-container {
    display: none;
    background: #4D4D4D;
    position: absolute;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  #cobrowse-meeting-video-element {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }



.open-modal-btn {
    width: 100px;
    height: 35px;
    border: none;
    background-color: blue;
    color: #fff;
    outline: none !important;
}

#auto_rotate_modal .gif-image-responsive {
    width: 100%;
}

#auto_rotate_modal .auto-rotate-text {
    font-weight: normal;
    font-size: 16px;
    color: #4D4D4D;
    margin-top: 15px;
}

#auto_rotate_modal .ok-btn {
    outline: none;
    width: 94px;
    height: 39px;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0254D7;
    border-radius: 90px;
    border: none;
}


.open-menu-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  left: 0px;
  top: 50%;
  transform: translate(0%, -50%);
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.25);
  border-radius: 0px 5px 5px 0px;
  outline: none !important;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}

#cobrowse-mobile-modal .modal-content {
  max-width: 400px!important;
}

#cobrowse-mobile-modal .modal-dialog {
  justify-content: center;
}

#cobrowse-mobile-modal .modal.left .modal-dialog,
#cobrowse-mobile-modal .modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

#cobrowse-mobile-modal .modal.left .modal-content,
#cobrowse-mobile-modal .modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

#cobrowse-mobile-modal .modal.left .modal-body,
#cobrowse-mobile-modal .modal.right .modal-body {
  padding: 15px 15px 80px;
}

#cobrowse-mobile-modal .modal.left.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

#cobrowse-mobile-modal .modal.left.fade .modal-dialog {
  left: 50%;
  transform: translate(-50%, 0%);
}

#cobrowse-mobile-modal .modal-header .close {
  margin-top: -12px;
  outline: none !important;
}

#cobrowse-mobile-modal .close {
  opacity: 1;
}

#cobrowse-mobile-modal .modal-header {
  padding: 0.5em 1em 1em 0.5em!important;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
}

#cobrowse-mobile-modal .modal-content {
  width: 100%!important;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgb(204 204 204 / 25%);
  border-radius: 10px;
}

#cobrowse-mobile-modal .menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

#cobrowse-mobile-modal .menu-items li {
  list-style-type: none;
  display: inline-flex;
  margin-bottom: 20px;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

#cobrowse-mobile-modal .menu-items li span {
  font-weight: normal;
  font-size: 12px;
  color: #000000;
  text-align: center;
}

#cobrowse-mobile-modal .menu-items li .menu-item {
  width: 73px;
  height: 63px;
  background: #FFFFFF;
  border: 1px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cobrowse-mobile-modal .modal.left .modal-body {
  padding: 15px 15px 0px;
}

#cobrowse-mobile-modal .menu-end-session-btn {
  width: 120px;
  height: 39.13px;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  color: #FFFFFF;
  background: #0254D7;
  border-radius: 90px;
  border: none;
  outline: none;
  float: right;
  margin: -10px 0px 20px 0px;
}

@media (orientation: landscape) {
  #cobrowse-mobile-modal .menu-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  #cobrowse-mobile-modal span {
    text-align: center;
  }
  #cobrowse-mobile-modal .menu-items li {
    list-style-type: none;
    margin-bottom: 20px;
    /*width: 25%!important;*/
  }
  #cobrowse-mobile-modal .menu-items li .menu-item {
    width: 73px;
    height: 63px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #cobrowse-mobile-modal .modal.left.fade .modal-dialog {
    transform: translate(-50%, 5%);
  }
  #cobrowse-mobile-modal .modal.left .modal-body {
    padding: 15px 15px 0px;
  }
  @media only screen and (max-width: 823px) and (min-width: 800px) {
    #cobrowse-mobile-modal .modal-dialog {
      max-width: 640px;
    }
  }
  @media only screen and (max-width: 653px) and (min-width: 650px) {
    #cobrowse-mobile-modal .modal-dialog {
      padding: 10px;
    }
    #cobrowse-mobile-modal .modal.left .modal-body {
      height: 200px;
      overflow-y: scroll;
      margin-bottom: 8px;
    }
  }
}

@media (orientation: portrait) {
  #auto_rotate_modal .modal-content {
    width: 100%!important;
  }

  #cobrowse-mobile-modal .menu-items li {
    list-style-type: none;
    margin-bottom: 20px;
  }
  #cobrowse-mobile-modal .menu-items li .menu-item {
    width: 73px;
    height: 63px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #cobrowse-mobile-modal .modal.left.fade .modal-dialog {
      transform: translate(-50%, 5%);
  }
  #cobrowse-mobile-modal .modal.left .modal-body {
      padding: 15px 15px 0px;
  }
}

#mobile-modal-hide-btn {
  background: transparent;
  outline: none;
  border: none;
}

#cobrowse-mobile-modal svg {
  width: 26px;
  height: 26px;
}

#easyassist_function_fail_code{
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 10px;
}

#easyassist_function_fail_message{
  font-size: 14px;
}

.easyassist-drawing-canvas {
  position: absolute;
  transform-origin: left top;
  z-index: 1039;
  top: 0;
  left: 0;
}

.easyassist-custom-right-nav-bar_wrapper {
  display: inline-block;
  border-radius: 6px;
  /* box-shadow: 0px 2px 6px grey; */
  z-index: 1040 !important;
  position: fixed;
  right: 0;
  background-color: white;
  color: black;
  top: 50%;
  width: 60px;
  transform: translateY(-50%);
  background: transparent;
}

.easyassist-custom-right-nav-bar {
  display: flex;
  flex-direction: column;
  width: 60px;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 8%);
  border-radius: 5px 0px 0px 5px;
  z-index: 2147483647 !important;
  min-height: 60px;
  justify-content: center;
  background-color: white;
}

/* css for navbar tooltip */
.easyassist-custom-right-nav-bar a {
  text-decoration: none;
  color: #191717;
  margin: 8px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

/* .easyassist-custom-right-nav-bar_wrapper a label {
  background-color: #0254D7!important;
} */
.easyassist-custom-right-nav-bar a label {
  display: none;
  position: absolute;
  /* background-color: #1565c0; */
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
  white-space: nowrap;
  font-size: 14px;
  border-radius: 4px;
  right: 70px;
  font-weight: normal;
  max-width: none;
}

.easyassist-custom-right-nav-bar a label svg {
  position: absolute;
  right: -7px;
  bottom: 33%;
  transform: rotate(180deg);
}

.easyassist-custom-top-nav-bar_wrapper {
  display: inline-block;
  border-radius: 6px;
  /* box-shadow: 0px 2px 6px grey; */
  z-index: 1040 !important;
  position: fixed;
  right: 50%;
  background-color: white;
  color: black;
  top: 0px;
  transform: translateX(50%);
  background: transparent;
}

.easyassist-custom-top-nav-bar {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  box-shadow: 0px 0px 15px rgb(0 0 0 / 8%);
  border-radius: 0px 0px 5px 5px;
  z-index: 2147483647 !important;
  min-height: 60px;
  height: 60px;
  width: fit-content;
  background-color: white;
}

@media (max-width:480px) {

  .easyassist-custom-top-nav-bar_wrapper {
    width: 100%;
  }

  .easyassist-custom-top-nav-bar {
    width: 100%;
    bottom: 30px;
  }

  #chat-minimize-icon-wrapper {
    display: none;
  }
}

.easyassist-custom-top-nav-bar a {
  /* position: relative; */
  text-decoration: none;
  color: #191717;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

/* .easyassist-custom-top-nav-bar_wrapper a label {
  background-color: #0254D7!important;
} */
.easyassist-custom-top-nav-bar a label {
  display: none;
  position: absolute;
  background-color: #1565c0;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
  white-space: nowrap;
  font-size: 14px;
  border-radius: 4px;
  top: 70px;
  font-weight: normal;
  max-width: none;
}

.easyassist-custom-top-nav-bar a label svg {
  position: absolute;
  right: 45%;
  bottom: 27px;
  transform: rotate(90deg);
}

.easyassist-custom-top-nav-bar hr {
  transform: rotate(90deg);
  margin: auto 0px !important;
}

.easyassist-custom-bottom-nav-bar_wrapper {
  display: inline-block;
  border-radius: 6px;
  /* box-shadow: 0px 2px 6px grey; */
  z-index: 100 !important;
  position: fixed;
  right: 50%;
  color: black;
  bottom: 0px;
  transform: translateX(50%);
  background: transparent;
}

.easyassist-custom-bottom-nav-bar {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  box-shadow: 0px 0px 15px rgb(0 0 0 / 8%);
  border-radius: 5px 5px 0px 0px;
  z-index: 2147483647 !important;
  min-height: 60px;
  height: 60px;
  width: fit-content;
  background-color: white;
}

/* css for navbar tooltip */
.easyassist-custom-bottom-nav-bar a {
  position: relative;
  text-decoration: none;
  color: #191717;
  margin: 8px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin: 0 10px;
}

/* .easyassist-custom-bottom-nav-bar_wrapper a label {
  background-color: #0254D7!important;
} */
.easyassist-custom-bottom-nav-bar a label {
  display: none;
  position: absolute;
  background-color: #1565c0;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
  white-space: nowrap;
  font-size: 14px;
  border-radius: 4px;
  bottom: 50px;
  font-weight: normal;
  max-width: none;
}

.easyassist-custom-bottom-nav-bar a label svg {
  position: absolute;
  right: 45%;
  top: 26px;
  transform: rotate(-90deg);
}

.easyassist-custom-bottom-nav-bar hr {
  transform: rotate(90deg);
  margin: auto 0px !important;
}

/* .bottom-maximize-icon-rotate, .top-maximize-icon-rotate {
  transform: rotate(-90deg);
}

.bottom-minimize-icon-rotate, .top-minimize-icon-rotate {
transform: rotate(-90deg);
} */


.maximize-icon-rotate {
  transform: rotate(-90deg);
}

.minimize-icon-rotate {
  transform: rotate(-90deg);
}

.easyassist-custom-left-nav-bar {
  display: flex;
  flex-direction: column;
  width: 60px;
  min-height: 60px;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 5px 5px 0px;
  z-index: 2147483647 !important;
  background: white;
}

.easyassist-custom-left-nav-bar a {
  text-decoration: none;
  color: #191717;
  margin: 8px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.easyassist-custom-left-nav-bar a label {
  display: none;
  position: absolute;
  background-color: #1565c0;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  width: fit-content;
  white-space: nowrap;
  font-size: 14px;
  border-radius: 4px;
  left: 75px;
  max-width: none;
  font-weight: normal;
}

.easyassist-custom-left-nav-bar a label svg {
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
}

.easyassist-custom-left-nav-bar a label span {
  float: none !important;
}

/* .easyassist-modal .easyassist-custom-left-nav-bar a label {
  background: #204DAF !important;
} */

.easyassist-custom-left-nav-bar_wrapper {
  display: inline-block;
  border-radius: 0 6px 6px 0px;
  z-index: 2147483646 !important;
  position: fixed;
  background-color: transparent;
  color: black;
  top: 50%;
  transform: translateY(-50%);
  left: 0 !important;
}



/* css for top side button/icon------- */
#easyassist-auto-assign-agent-modal-top .talk-bubble {
  display: block;
  max-width: 247px;
  height: auto;
  background-color: #ffffff;
  position: fixed;
  /* bottom: 59%; */
  left: 46%;
  animation-duration: 2s;
  word-wrap: break-word;
}

/* #easyassist-auto-assign-agent-modal-top .border{
border: 2px solid #0F52A1;
} */

#easyassist-auto-assign-agent-modal-top .round {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#easyassist-auto-assign-agent-modal-top .tri-right.border.btm-top-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 100px;
  top: -28px;
  border: 14px solid;
  border-color: var(--talkbubble-theme);
}

#easyassist-auto-assign-agent-modal-top .tri-right.btm-top-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 102px;
  top: -22px;
  bottom: 0px;
  border: 12px solid;
  border-color: transparent transparent #ffffff transparent;
}

/* talk bubble contents */
#easyassist-auto-assign-agent-modal-top .talktext {
  padding: 8px 12px;
  text-align: left;
  font-size: 15px;
}

#easyassist-auto-assign-agent-modal-top .talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

#easyassist-auto-assign-agent-modal-top .close-bubble-container {
  position: absolute;
  width: 21px;
  height: 21px;
  right: -15px;
  top: -32px;
  border-radius: 13px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #0F52A1;
  cursor: pointer;
}

#easyassist-auto-assign-agent-modal-top .talk-bubble-icon {
  display: block;
  max-width: 247px;
  height: auto;
  background-color: #ffffff;
  position: fixed;
  bottom: 52%;
  left: 83px;
  animation-duration: 2s;
  word-wrap: break-word;
}


/* css for bottom side button/icon------- */
#easyassist-auto-assign-agent-modal-bottom .talk-bubble {
  display: block;
  max-width: 240px;
  height: auto;
  background-color: #ffffff;
  position: fixed;
  bottom: 70px;
  left: 47%;
  /* transform: translateX(-50%); */
  animation-duration: 2s;
  word-wrap: break-word;
}

/* #easyassist-auto-assign-agent-modal-bottom .border{
border: 2px solid #0F52A1;
} */

#easyassist-auto-assign-agent-modal-bottom .round {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

#easyassist-auto-assign-agent-modal-bottom .tri-right.border.btm-bottom-in:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 100px;
  /* top: 46px; */
  top: 60px;
  border: 14px solid;
  border-color: var(--talkbubble-theme);
}

#easyassist-auto-assign-agent-modal-bottom .tri-right.btm-bottom-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 102px;
  /* top: 45px; */
  top: 59px;
  bottom: 0px;
  border: 12px solid;
  border-color: #ffffff transparent transparent transparent;
}

/* talk bubble contents */
#easyassist-auto-assign-agent-modal-bottom .talktext {
  padding: 8px 12px;
  text-align: left;
  font-size: 15px;
}

#easyassist-auto-assign-agent-modal-bottom .talktext p {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

#easyassist-auto-assign-agent-modal-bottom .close-bubble-container {
  position: absolute;
  width: 21px;
  height: 21px;
  right: -15px;
  top: -32px;
  border-radius: 13px;
  text-align: center;
  background: #ffffff;
  border: 1px solid #0F52A1;
  cursor: pointer;
}

#easyassist-auto-assign-agent-modal-bottom .talk-bubble-icon {
  display: block;
  max-width: 247px;
  height: auto;
  background-color: #ffffff;
  position: fixed;
  bottom: 52%;
  left: 83px;
  animation-duration: 2s;
  word-wrap: break-word;
}

/* @media screen and (max-height: 700px) {
  .easyassist-custom-bottom-nav-bar_wrapper {
    bottom: 30px !important;
  }
} */


@media screen and (max-width: 480px) {

  .easyassist-custom-bottom-nav-bar_wrapper {
    width: 100%;
  }

  #cobrowse-mobile-modal .modal-content {
    width: 90% !important;
  }

  #cobrowse-mobile-modal .modal-body {
    padding: 1.2rem !important;
  }

  #ul_items li div a svg {
    width: 17px !important;
    height: 17px !important;
  }

}

@media (max-width:480px) {
  .easyassist-custom-bottom-nav-bar {
    width: 100%;
    bottom: 30px;
  }

  #ul_items {
    display: flex;
    overflow: hidden;
    margin: 0 40px;
    transition: transform .4s ease-in;
    list-style-type: none;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    padding: 0px;
    height: 100%;
  }


  #ul_items::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
  }

  #ul_items .closebtn1{
    background-color: #fafafa;
    position: absolute !important;
    left: 0 !important;
    position: relative;
    text-decoration: none;
    color: #191717;
    /* margin: 8px 0px; */
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100%;
    width: 40px;
    /* border-radius: 50%; */
    /* margin: 0 10px; */
  }

  #ul_items .nexttabbtn{
    background-color: #fafafa;
    position: absolute !important;
    right: 0 !important;
    position: relative;
    text-decoration: none;
    color: #191717;
    /* margin: 8px 0px; */
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 100%;
    width: 40px;
    /* border-radius: 50%; */
    /* margin: 0 10px; */
  }

  #ul_items li:not(:first-child):not(:last-child){
    /* margin: auto; */
    /* width: 100px; */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
  }

  #ul_items li div a {
    height: 100%;
    margin: 0;
  }

  #chat-minimize-icon-wrapper {
    display: none;
  }
}

.easyassist-client-end-page-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  bottom: 0;
  left: 0;
  background: #f7f7f7;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.easyassist-client-end-page-loader span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  width: 100%;
  max-width: 28em;
}

.easyassist-client-end-page-loader img {
  margin-top: -8em;
}

.eassyassist-custom-in-session-modal .modal-content{
  width: 440px;
}

.eassyassist-custom-in-session-modal .modal-header{
  padding: 2rem !important;
  padding-bottom: 0 !important;
}

.eassyassist-custom-in-session-modal .modal-body{
  padding: 0 2rem!important;
}

.eassyassist-custom-in-session-modal .modal-footer{
  padding: 2rem !important;
  padding-top: 1.5rem !important;
}

.eassyassist-custom-in-session-modal .modal-body #request_meeting_error{
  margin-top: 8px;
}

.eassyassist-custom-in-session-modal .modal-body #request_meeting_error:empty{
  margin-top: 0px;
}

@media only screen and (max-width: 767px) {
  .eassyassist-custom-in-session-modal .modal-dialog{
      width: 95%;
  }
}

@media only screen and (max-height:  400px) {
  @media (orientation: landscape) {
      .easyassist-client-end-page-loader img {
          margin-top: 0!important;
          height: 50%;
      }
  }
}

@media only screen and (max-width: 768px) {
  .easyassist-client-end-page-loader span {
    max-width: 15em;
  }
}