/**************** EasyAssist Custom Switch ******************/

.easyassist-option-switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 22px;
    margin-top: 1em;
}

.easyassist-option-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.easyassist-option-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border: 2px solid #BECAD6;
}

.easyassist-option-switch-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: #BECAD6;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.easyassist-option-switch-slider {
    background-color: #1C43C5;
    border: 2px solid #1C43C5;
}

input:checked+.easyassist-option-switch-slider:before {
    background: white;
}

input:focus+.easyassist-option-switch-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.easyassist-option-switch-slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

.easyassist-option-switch-slider.round {
    border-radius: 34px;
}

.easyassist-option-switch-slider.round:before {
    border-radius: 50%;
}


/************* Modified Custom Select Dropdown *****************/

.easyassist-custom-select-multiple button.dropdown-toggle {
    max-width: 300px!important;
    border-radius: 4px!important;
    border: 1px solid #E6E6E6!important;
}

.easyassist-custom-dropdown-container .easyassist-dropdown-selected {
    border-radius: 4px!important;
    max-width: 300px!important;
    position: relative;
}

.easyassist-custom-select-multiple .dropdown-menu,
.easyassist-custom-dropdown-container .easyassist-custom-dropdown-option-container {
    max-width: 300px!important;
    top: 42px !important;
    transform: unset !important;
}

.easyassist-multiselect-dropdown-container .dropdown-menu {
    top: 42px !important;
    transform: unset !important;
}

.easyassist-multiselect-dropdown-container .btn-default {
    border-radius: 4px!important;
    max-width: 300px!important;
    position: relative;
}

.easyassist-multiselect-dropdown-container .multiselect-container {
    max-width: 300px!important;
}

/************* EMAIL Analytics Styles *****************/

.custom-card-settings {
    box-shadow: 0px 0px 2px rgb(0 0 0 / 25%);
    border-radius: 10px!important;
}

.custom-card-settings .nav-tabs {
    border-bottom: none!important;
}

@media only screen and (max-width: 600px) {
  .custom-card-settings .nav-tabs {
    flex-wrap: nowrap;
    overflow: auto;
  }

  .custom-card-settings .nav-tabs::-webkit-scrollbar {
    display: none;
  }
}

.nav-tabs {
    border: none!important;
}
.btn-profile-tab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #F6F6F6;
    border-bottom: none;
    border-left: none;
    box-sizing: border-box;
    border-radius: 0px 0px 0px 0px;
    background: white;
}

.btn-profile-tab:first-child {
    border-radius: 8px 0px 0px 0px;
    border-left: 2px solid #F6F6F6;
}

.btn-profile-tab a.active {
    background: #F8F9FC;
}

.btn-profile-tab a {
    font-family: Silka;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 15px;
    color: #0254D7;
    text-decoration: none;
    min-width: 140px;
    max-width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-profile-tab:last-child a {
    justify-content: center;
    min-width: 75px;
}

.btn-profile-tab a span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.enable-setting-row {
    border-bottom: 1px solid #F4F4F4!important;
    padding-bottom: 1em;
}

.tab-content {
    border: 1px solid #E9E9E9;
    padding: 1.5em 1em!important;
    /*background: #F8F9FC;*/
    background: white;
}

.btn-trigger-email {
    padding: 10px 24px;
    border-radius: 4px!important;
}

.btn-trigger-email:disabled {
    pointer-events: none;
}

.sub-heading-text-primary {
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #0254D7;
}

.profile-name-input,
.email-id-input,
.email-subject-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px;

    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;

    width: 100%;

    outline: none!important;
}

.tag-remove-btn {
    color: white;
    cursor: pointer;
    font-weight: bold;
    vertical-align: text-bottom;
}

.cognoai-tag {
    display: inline-flex;
    color: #fff;
    padding: 4px 11px;
    min-height: 28px;
    background: #540D29;
    border-radius: 4px;
    gap: 1em;
}

span.text {
    font-size: 14px;
}

.single-excel-file-label {
    padding-left: 25px;
    max-width: 300px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}

.btn-save-profile {
    min-width: 82px;
    min-height: 41px;
}

.graphic-parameter-label,
.table-parameter-label {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.selected-item-container {
    background: white;
    padding: 1em 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;

    max-height: 120px;
    overflow: auto;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}

.selected-item-container::-webkit-scrollbar {
    display: none;
}

.selected-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 8px;
    min-width: 143px;
    min-height: 28px;
    background: #F6F6F6;
    border-radius: 4px;
    font-size: 12px;
    gap: 1em;
}

.selected-item-remove-btn {
    cursor: pointer;
}

.easyassist-group-select.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.easyassist-group-select .dropdown.bootstrap-select {
    width: 100%!important;
    max-width: 300px!important;
}

.easyassist-group-select .bootstrap-select > .dropdown-toggle {
    background: white!important;
    border-radius: 4px!important;
    outline: none!important;
    padding: 10px;
    box-shadow: none!important;
    border: 1px solid #E6E6E6!important
}

.easyassist-group-select .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    text-overflow: ellipsis;
}

.easyassist-group-select .bootstrap-select .dropdown-menu {
    padding: 0!important;
}

.easyassist-group-select .dropdown .dropdown-menu .dropdown-header {
    padding: .5rem 1rem;
    color: #4d4d4d;
    font-weight: 600!important;
    font-size: 13px;

    max-width: 300px!important;
    min-width: 300px;
    width: 100%;
}

.easyassist-group-select .dropdown .dropdown-menu .dropdown-header span {
    font-size: 13px!important;
}

.easyassist-group-select .bootstrap-select .dropdown-menu li a {
    padding-left: 2em!important;
}

.easyassist-group-select .optgroup-2.disabled {
    display: none;
}

.easyassist-multiselect-dropdown-container.disabled,
.selected-item-container.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.delete_profile_modal .modal-text {
    color: #4d4d4d;
    min-height: 4em;
    display: block;
}

.delete_profile_modal .btn-danger {
    background: #DD2526!important;
    min-width: 100px;
}

.btn-delete-profile {
    background: transparent;
    outline: none!important;
    border: none;
}

.email_id_tag_container {
    padding: 0;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
