body {
  font-family: "Silka", "Nunito", sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
}

.table-bordered {
  border: none !important;
}

b {
  font-weight: 500 !important;
}

.card-header,
.card {
  border: none !important;
}

.card-header {
  border-radius: 10px 10px 0 0 !important;
}

.card {
  border-radius: 10px !important;
}

#content {
  background: #f4f6fe !important;
}

.shadow {
  box-shadow: 0px 0px 20px #000;
}

.page-item.active .page-link {
  background: #2755cb !important;
  border-color: #2755cb !important;
}

.product-session-details {
  width: 35 !important;
  box-shadow: -20px 0px 90px rgba(0, 0, 0, 0.2) !important;
  /*padding-left: 10px !important;*/
  background: #fff !important;
}

th {
  border: none !important;
}

.sidebar {
  border-right: 1px solid #eee !important;
}

.sidebar-dark hr.sidebar-divider {
  border: none !important;
  display: none !important;
}

td {
  background: rgba(255, 255, 255, 0.5);
  border: none !important;
  border-bottom: 1px solid #f6f5f5 !important;
}

tr:nth-child(even) {
  background: #fff;
}

tr:nth-child(odd) {
  background: #fff;
}

.text-primary {
  color: #2755cb !important;
}

input {
  padding-left: 15px !important;
}

input:focus {
  border: 1px solid #d1d3e2 !important;
  box-shadow: none !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.btn {
  border-radius: 30px !important;
  font-size: 14px !important;
}

.btn-danger {
  color: #fff5f5 !important;
  background:#DD2526!important;
  border: 0px !important;
  box-shadow: none !important;
}

.btn-success {
  background: #48bb78 !important;
}
.text-success {
  color: #48bb78 !important;
}
.btn-primary {
  background: #2755cb !important;
  border: 0px !important;
}

.btn-primary:hover,
.btn-info:hover {
  background: #1c43c5 !important;
  border: 0px !important;
}

.btn-info {
  background: #2755cb !important;
  border: 0px !important;
}

.btn-secondary {
  background: transparent !important;
  color: #848694 !important;
}

.bg-gradient-primary {
  background: #ffffff !important;
}

th {
  font-weight: 500 !important;
  background: #e4e9fe !important;
  /* color: #394e9b; */
  border-bottom: 0px !important;
  border-left: 0px !important;
  border-top: 0px !important;
}

.datepicker td,
.datepicker th {
  border-radius: 0px !important;
}

.sidebar-dark .nav-item .nav-link,
.sidebar-dark .nav-item .nav-link:active,
.sidebar-dark .nav-item .nav-link:focus {
  color: #7a7a7a !important;
  font-family: "Silka", "Nunito", sans-serif;
  padding: 12px;
  margin-top: 10px !important;
  letter-spacing: -0.02em !important;
  font-weight: 500 !important;
  padding-left: 10px !important;
  padding-right: 10px!important;
}

.sidebar-dark .nav-item .nav-link:hover {
  background: #f4f6fe !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white !important;
}

.sticky-footer {
  padding: 0rem 0 !important;
  background-color: #f4f6fd !important;
  box-shadow: none !important;
  /* color: white !important; */
}

input:checked + .easyassist-switch-slider {
  background: #435ac6 !important;
}

.sidebar-dark .nav-item .nav-link i {
  color: #718096 !important;
}

.sidebar-dark hr.sidebar-divider {
  border-top: 1px solid rgba(0, 15, 102, 0.25) !important;
}

.sidebar-dark #sidebarToggle {
  background-color: #e5e9fd !important;
  color: #ffffff !important;
  padding: 10px 0;
  margin: 30px 0;
}

.sidebar #sidebarToggle::after {
  color: #ffffff !important;
}

.sidebar-dark .nav-item.active .nav-link {
  font-weight: 500 !important;
  background-color: #e6e8fc !important;
  border-right: 1px solid #eee;
}

.navbar-nav {
  align-items: center !important;
}

.navbar-nav li {
/*  display: flex;*/
  align-items: center !important;
}

#searchDropdown {
  display: none !important;
}

.btn:hover,
.btn-small:hover {
  transform: translate(0, -2px);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2) !important;
  transition: all 0.15s ease-in-out;
}

.sidebar #cobrowseLogoSmall {
  display: none !important;
  visibility: hidden !important;
}

@media (min-width: 768px) {
  .sidebar.toggled .nav-item .nav-link span {
    display: none !important;
    visibility: hidden !important;
  }

  .sidebar.toggled #cobrowseLogoImage {
    display: none !important;
    visibility: hidden !important;
  }

  .sidebar.toggled #cobrowseLogoSmall {
    display: block !important;
    visibility: visible !important;
  }
}

@media (max-width: 768px) {
/*  .sidebar.toggled .nav-item .nav-link span {
    display: none !important;
    visibility: hidden !important;
  }*/

  .sidebar #cobrowseLogoImage {
    display: none !important;
    visibility: hidden !important;
  }

  .sidebar #cobrowseLogoSmall {
    display: block !important;
    visibility: visible !important;
  }
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Thin.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Light.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Regular.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Medium.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-Bold.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Silka";
  src: url("/static/EasyChatApp/fonts/Silka/Silka-RegularItalic.woff2") format("woff2"),
    url("/static/EasyChatApp/fonts/Silka/Silka-RegularItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

.gy-settings-table th {
  background: white !important;
  padding-right: 0px !important;
  padding-left: 20px;
  padding-top: 20px;
  margin-right: 0px !important;
  border-radius: 10px !important;
}
.gy-settings-table {
  border-radius: 10px !important;
  background: white !important;
}
.nav-pills .nav-link.active {
  border: 1px solid #2755cb;
  background: #f0f0fc !important;
  color: #2755cb !important;
}

/*.nav-pills .nav-link {
  margin-left: 10px !important;
}
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.btn-tab {
  width: 100%;
  padding:10px 0px;
  background: #fff !important;
  color: #2755cb !important;
}

.btn-tab-active {
  background: #f0f0fc !important;
  border: 1px solid #2755cb !important;
}

@media (max-width: 860px) and (min-width: 760px) {
  .follow-up-lead-button-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .follow-up-lead-button-div button{
    width: 100% !important;
    margin-left: 0;
  }
}

.easyassist-switch-checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.easyassist-switch-checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.easyassist-switch-checkbox-label input:checked ~ .easyassist-switch-checkbox {
  background-color: rgb(23, 23, 203) !important;
}

#easyassist-switch-checkbox-label input:checked ~ #easyassist-switch-checkbox {
  background-color: rgb(23, 23, 203) !important;
}

.easyassist-switch-checkbox-label .easyassist-switch-checkbox:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.easyassist-switch-checkbox-label input:checked ~ .easyassist-switch-checkbox:after {
  display: block;
}

.easyassist-switch-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 1px solid #BECAD6;
  background-color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
}

.email-setting-div .easyassist-switch-checkbox{
  top: 3px;
}

.easyassist-switch-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}


/* Proxy cobrowsing css starts here*/
.custom-modal .modal-content {
  border-radius: 10px !important;
  border: none !important;
  font-family: 'Silka', Sans-Serif;
  letter-spacing: -0.04em;
  box-shadow: 0 0 20px rgb(0 0 0 / 20%) !important;
}

.custom-modal .modal-title{
  font-weight: 500;
  font-size: 18px !important;
  color: #262626 !important;
}

.custom-modal .modal-body h6{
  font-weight: 500;
  font-size: 14px !important;
  color: #4D4D4D;
}

.custom-modal .modal-header{
  padding: 24px 38px !important;
}
.custom-modal .modal-body{
  padding: 32px 38px!important;
}

.custom-modal .modal-footer button{
  font-size: 18px !important;
  height: 40px !important;
}

.custom-modal .btn-primary:hover {
  transform: 0.2s all ease;
  background-color: #1c43c5!important;
}

.custom-modal  input:focus{
  border: 1px solid #DADADA !important;
  box-shadow: unset !important;
}

.btn.disabled, .btn:disabled {
  background: #CBCACA !important;
  border-color: #CBCACA !important;
  pointer-events: none;
}

.custom-modal .modal-footer{
  background-color: #f6f6f6;
  border-radius: 0px 0px 16px 16px !important;
}

.custom-modal .modal-footer .btn-secondary{
  color: #7B7A7B !important;
  border: 1px solid #7B7A7B !important;
}

.custom-input-wrapper-div input{
  width: 100% !important;
  max-width: unset !important;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #2D2D2D;
  outline: none;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 6px;
}

.custom-input-wrapper-div input::placeholder{
  color: #B5B5B5 !important;
}

#start-proxy-cobrowse-session .modal-content .modal-body .custom-input-wrapper-div :last-child{
  margin-bottom: 17px !important;
}

.custom-input-wrapper-div.error-input input{
  border: 1px solid #E10E00;
}

#start-proxy-cobrowse-session .btn-secondary:hover {
  color: #7B7A7B !important;
  background: #FFFFFF !important;
  transform: 0.2s all ease !important;
}

.session-link-note{
  font-weight: 400;
  font-size: 12px;
  color: #2D2D2D;
}

@media (max-width:870px) {
  .custom-button-container{
      gap: 10px;
  }
  .custom-button-container button{
      width: 100% !important;
      margin: 6px;
  }
  .custom-heading-container{
      align-items: center;
  }
}

@media only screen and (max-width: 767px){
  .custom-modal .modal-footer button{
      width: 100%;
  }
}

#start-proxy-cobrowse-session .modal-content .modal-body .custom-input-wrapper-div :last-child{
  margin-bottom: 17px !important;
}

.error-message{
  font-weight: 400;
  font-size: 14px;
  color: #E10E00;
}

.custom-input-wrapper-div.error-input input{
  border: 1px solid #E10E00;
}

#start-proxy-cobrowse-session .btn-secondary:hover,
.custom-modal .btn-secondary:hover {
  color: #7B7A7B !important;
  background: #FFFFFF !important;
  transform: 0.2s all ease !important;
}

.custom-modal .modal-content .modal-body .custom-input-wrapper-div :last-child {
  margin-bottom: 17px !important;
  margin-top: 8px;
}

.custom-input-wrapper-div h6 sup{
  color: red !important;
}

.copy-link{
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  color: #0254D7;
  padding: 0;
}

.copy-link:focus{
  outline: none !important;
}

.proxy-link-div{
  width: 85%;
}

.sucess-message{
  font-weight: 400;
  font-size: 12px;
  color: #059669;
  
  border-radius: 4px;
}

.sucess-message p{
  padding: 8px 10px;
  background: #E8F5E9;
}

.copy-link-heading{
  font-weight: 500;
  font-size: 17px;
  color: #2D2D2D;
}

@media (max-width:870px) {
  .custom-button-container{
      gap: 10px;
  }
  .custom-button-container button{
      width: 100% !important;
      margin: 6px;
  }
  .custom-heading-container{
      align-items: center;
  }
}

@media only screen and (max-width: 767px){
  .custom-modal .modal-footer button{
      width: 100%;
  }
}


.custom-input-wrapper-div input::placeholder{
  color: #7B7A7B;
}

/* Proxy cobrowsing css ends here */
.agent-status-toggle .easyassist-custom-toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-bottom: 0 !important;
}

.easyassist-custom-toggle-switch input {
  display: none;
}

.agent-status-toggle .easyassist-custom-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  height: unset;
  border: none;
  background: #FFF9F9;
  box-shadow: inset 0px 4px 4px rgb(50 50 71 / 8%), inset 0px 4px 8px rgb(50 50 71 / 6%);
}

.agent-status-toggle .easyassist-custom-toggle-slider.easyassist-custom-toggle-round:before {
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.06055' y='0.848267' width='7' height='7' rx='3.5' stroke='%23A3A3A3'/%3E%3C/svg%3E%0A") !important;
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  -webkit-transition: .4s;
  transition: .4s;
  border: none;
  top: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 6.53061px 6.53061px rgba(50, 50, 71, 0.08), 0px 6.53061px 13.0612px rgba(50, 50, 71, 0.06);
}

.toggle-disabled{
  pointer-events: none;
}

.toggle-disabled .easyassist-custom-toggle-slider {
  background: #f4f4f4 !important;
  box-shadow: none !important;
} 

.toggle-disabled .easyassist-custom-toggle-slider.easyassist-custom-toggle-round:before {
  content: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1.06055' y='0.848267' width='7' height='7' rx='3.5' stroke='%23EBEBEB'/%3E%3C/svg%3E%0A") !important;
  box-shadow: 0px 6.53061px 13.0612px rgba(50, 50, 71, 0.06) !important;
}

.agent-status-toggle input:checked+.easyassist-custom-toggle-slider {
  background: #0253D6;
  box-shadow: inset 0px 4px 4px rgb(50 50 71 / 8%), inset 0px 4px 8px rgb(50 50 71 / 6%);
}

.agent-status-toggle .easyassist-custom-toggle-slider.easyassist-custom-toggle-round {
  border-radius: 34px;
}

.agent-status-toggle input:checked+.easyassist-custom-toggle-slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
  content: url("data:image/svg+xml,%3Csvg width='3' height='9' viewBox='0 0 3 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.987305' y='0.892334' width='1' height='7' rx='0.5' stroke='%230254D7'/%3E%3C/svg%3E%0A") !important;
}

.admin-agent-management-table-area table {
  color: #4d4d4d;
  font-size: 14px;
}

.table-responsive .row:nth-of-type(2) {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 8px !important;
}

.activate-account-btn,
.deactivate-account-btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 120px;
  border-radius: 24px;
  height: 36px;
  padding: 5px !important;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none !important;
  display: none;
  cursor: pointer;
}

.activate-account-btn {
  color: #4CAF50 !important;
  border: 1px solid #4CAF50;
}

.activate-account-btn:hover {
  color: #4CAF50 !important;
}

.deactivate-account-btn {
  color: #F44336 !important;
  border: 1px solid #F44336;
}

#supervisor-button-deactivate-account,
#supervisor-button-activate-account {
  line-height: 27px;
}

.admin-agent-management-table-area table thead th {
  border-right: 1px solid #FFFFFF !important;
  background: #EDF3FF !important;
}

#empty-table-area {
  background: url('/files/EasyAssistApp/img/no_agent_available.svg') no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  height: 150px;
  color: transparent;
}

#data-table-agent>thead>tr>th[class*="sort"]:before,
#data-table-agent>thead>tr>th[class*="sort"]:after {
  content: "" !important;
}

#data-table-agent>thead>tr>th[class*="sort"] {
  cursor: auto !important;
}

.has-search {
  position: relative;
  height: fit-content;
}

.custom-table-search::placeholder{
  color: #737373;
}

.has-search .form-control-feedback {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  z-index: 2;
  width: 40px;
  height: 100%;
  pointer-events: none;
  color: #aaa;
}

.custom-filter-container input[type=text] {
  font-size: 14px;
  background: #fff;
  border-right: none;
  border: 1px solid #EBEBEB;
  border-radius: 20px 0px 0px 20px;
  margin: 0;
  height: 40px;
}

.has-search .form-control {
  padding-left: 2.375rem !important;
  border-radius: 68px;
}

.card-buttons-container {
  gap: 18px;
}

.disable-hover:hover{
  color: #0254D7 !important;
  text-decoration: underline !important;
}

.deactivate-account-btn:hover{
  color: #F44336 !important;
}

.table-max-min-width {
  min-width: 150px;
  max-width: 250px;
  word-break: break-all;
}

@media only screen and (max-width: 768px) {
  .card-buttons-container {
    flex-direction: column !important;
    gap: 10px;
  }

  .card-buttons-container a,
  .card-buttons-container button {
    margin: 0 !important;
    width: 100% !important;
  }

  #dataTable-supervisor_filter label,
  #data-table-agent_filter label {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #table-checkbox-td {
    text-align: start!important;
  }
  
  #mobile-view-edit-button {
    display: block !important;
  }
}

@media only screen and (max-width: 766px) {
  .table-max-min-width {
    min-width: unset;
    max-width: unset;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
  }
}

.truncate-card-heading {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.min-width {
  min-width: 100px;
}

.truncate-text {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}