#cognoai-home-container {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #e6e8fc !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cobrowsing_start_btn {
    width: 13em;
}

.cognoai-cobrowse-logo-container {
    margin-top: 5em;
}

.cognoai-cobrowse-input-container {
    margin-top: 5em;
    width: 40%;
    text-align: center;
}

#easyassist-snackbar {
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    left: 50%;
    top: 30px;
    z-index: 2147483647;
    animation-iteration-count: 1;
    transform: translateX(-50%);
}

#easyassist-snackbar.show {
    visibility: visible;
    -webkit-animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 6s;
    animation: easyassist-fadein 0.5s, easyassist-fadeout 0.5s 6s;
}


/* Animations to fade the easyassist-snackbar in and out */

@-webkit-keyframes easyassist-fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes easyassist-fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes easyassist-fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes easyassist-fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}