.cognoai-extension-sidenav {
    overflow-y: scroll;
    max-height: 100vh;
    display: block;
    align-items: center !important;
    border-right: 1px solid #eee !important;
    box-shadow: -20px 0px 90px rgb(0 0 0 / 20%) !important;
    background: #fff !important;
    float: right;
    top: 0px;
    right: -15px;
    position: fixed;
    z-index: 2147483647;
    width: 400px;
    animation-name: product-details-animation;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    min-height: 100vh;
    flex-direction: column;
    padding-left: 15px;
    margin-bottom: 0;
    list-style: none;
    display: none;
}

#cognoai-extenstion-minimize-icon {
    position: fixed !important;
    left: 97% !important;
    right: 0px !important;
    top: 10px !important;
}

.cognoai-extension-header {
    padding-top: 10px !important;
}

.cognoai-extension-login {
    font-family: Silka, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    padding-top: 50% !important;
    padding-left: 10px !important;
}

#cognoai-extension-email {
    padding-bottom: 10px;
    color: rgba(0, 0, 0, 0.65) !important;
    font-family: Silka, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 20px !important;
}

#cognoai-extension-password {
    padding-bottom: 10px !important;
    color: rgba(0, 0, 0, 0.65) !important;
    font-family: Silka, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 15px !important;
    line-height: 20px !important;
}

#cognoai-extension-email-id {
    width: 85% !important;
    background: #FFFFFF !important;
    border-bottom: 1px solid #364b99 !important;
    border: 0px solid white;
    padding: 0rem 0.8rem !important;
    margin-top: 6px !important;
    box-shadow: none;
    height: 2.5rem !important;
    font-size: 15px !important;
}

#cognoai-extension-password-client {
    width: 85% !important;
    background: #FFFFFF !important;
    border-bottom: 1px solid #364b99 !important;
    border: 0px solid white;
    padding: 0rem 0.8rem !important;
    margin-top: 6px !important;
    box-shadow: none;
    height: 2.5rem !important;
    font-size: 15px !important;
}

#cognoai-extension-button-submit {
    position: absolute;
    height: 52px !important;
    background: #3E68FF !important;
    color: white !important;
    width: 85% !important;
    border: none !important;
    border-radius: 10px !important;
}

.cognoai-toast {
    width: auto;
    margin-top: 10px;
    position: absolute;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    background-color: #323232;
    padding: 10px 25px;
    color: #fff;
    display: flex;
    -webkit-box-align: center;
    align-items: center !important;
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;
    cursor: default !important;
    bottom: 10px !important;
    right: 10px !important;
}

.cognoai-extension-cards-header {
    text-align: center !important;
}

.cognoai-extension-button {
    height: 35px !important;
    background: #3E68FF !important;
    color: white !important;
    width: 85% !important;
    border: none !important;
    border-radius: 25px !important;
    margin-top: 10px !important;
    margin-bottom: 10px;
    font-family: Silka, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.cognoai-extension-lead-button {
    height: 40px !important;
    background: #3E68FF !important;
    color: white !important;
    width: 40% !important;
    border: none !important;
    border-radius: 25px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    font-family: Silka, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;

}

.cognoai-extension-leads {
    padding-top: 10px !important;
    /*overflow-y: scroll;*/
}

.cognoai-active-lead-data {
    box-shadow: 0 4px 8px 0 #afafaf !important;
    padding: 15px !important;
    text-align: center !important;
    background-color: #fff !important;
    width: 350px !important;
    font-family: Silka, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    border-radius: 20px !important;
    margin-bottom: 10px !important;
}

.cognoai-search-lead-data {
    box-shadow: 0 4px 8px 0 #afafaf !important;
    padding: 15px !important;
    text-align: center !important;
    background-color: #fff !important;
    width: 297px !important;
    font-family: Silka, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    border-radius: 20px !important;
    margin: 5px 2px;
    overflow-y: scroll;
}

#cognoai-search-leads-container {
    max-height: 50vh;
    overflow-y: scroll;
}

.cognoai-p {
    text-align: left !important;
    font-family: Silka, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.cognoai-p-data {
    text-align: left !important;
    color: #858796 !important;
    font-family: Silka, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.cognoai-text-warning {
    color: #f6c23e !important
}

.cognoai-text-success {
    color: #28a745 !important
}

.cognoai-text-danger {
    color: #dc3545 !important
}

.cognoai-span {
    font-family: Silka, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
}

.cognoai-switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.cognoai-switch input {
    display: none;
}

.cognoai-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff0000;
    -webkit-transition: .4s;
    transition: .4s;
}

.cognoai-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.cognoai-slider {
    background-color: #3E68FF;
}

input:focus+.cognoai-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.cognoai-slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

.cognoai-online {
    display: none;
}

.cognoai-online {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 45%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

.cognoai-offline {
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 60%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked+.cognoai-slider .cognoai-online {
    display: block;
}

input:checked+.cognoai-slider .cognoai-offline {
    display: none;
}

.cognoai-slider.cognoai-round {
    border-radius: 34px;
}

.cognoai-slider.cognoai-round:before {
    border-radius: 50%;
}


.cognoai-modal {
    padding: 20px;
    width: 350px;
    z-index: 2147483648;
    float: right;
    top: 5%;
    right: 40px;
    position: fixed;
    display: none;
}

/* Modal Content */
.cognoai-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 #afafaf !important;
    width: 350px;
    height: fit-content;
    border-radius: 20px;
}

/* The Close Button */
.cognoai-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cognoai-modal-close:hover,
.cognoai-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.cognoai-input {
    width: 300px !important;
    padding-bottom: 10px !important;
    color: rgba(0, 0, 0, 0.65) !important;
    font-family: Silka, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 15px !important;
    /*line-height: 20px !important;*/
}