body{
font-family: initial;
}
.easyassist_side_table{
	font-size: 11px;
   	 margin: 0 auto;
}
#client-field-value-details tr td:nth-child(2){
	border-right: solid 1px #d2cfcf;
	border-left: solid 1px #d2cfcf;
}
#client-field-value-details tr{
	box-shadow:1px 2px 4px;
}

#client-field-value-details tr td{
	text-align:center;
}
.easy-assist-floating-button img{
    width: 5em !important;
    border-radius: 50%;
    height: 5em !important;
    box-shadow: 1px 1px 3px black;
    padding: 15px;
}

.easy-assist-floating-button{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    left:40px;
    /*background-color:#f5f5f5;*/
    color:#FFF;
    border-radius:50px;
    text-align:center;
    /*box-shadow: 2px 2px 3px #999;*/
    padding: 0.5em 0em 0em 0em;
}

.easy-assist-start-button{
    position: fixed;
    width: 144px;
    height: 54px;
    top: 40px;
    right: 40px;
    background-color: #f5f5f5;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    padding: 0.5em 0em 0em 0em;
    color: black;
}

/* The Modal (background) */
.easyassist-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2147483647 !important; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content Box */
.easyassist-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.easyassist-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.easyassist-close:hover,
.easyassist-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.easyassist-modal-input-element{
    width: 45%;
    display: inline-block;
}

.easyassist-modal-button{
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 1em;
    background-color: green;
    color: white;
}


.modal th {
    font-weight: 400 !important;
}

.modal a {
    color: #204DAF !important;

}

.modal .fa-paper-plane {
    color: #204DAF !important;
}

.modal .close {
    font-family: 'Silka', Sans-Serif !important;
    font-weight: 500 !important;
    padding: 1.2rem 1.4rem 1rem 1rem !important;
}

.modal-footer {
    border: 0 0 20px 20px !important;
    border-bottom-right-radius: 40px !important;
}

.modal-content {
    border-radius: 20px !important;
    border: none !important;
    font-family: 'Silka', Sans-Serif;
    letter-spacing: -0.04em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) !important;

}

.modal-body {
    padding: 1.2rem !important;
}

.modal-header {
    border-top-right-radius: 90px !important;
    border-top-left-radius: 90px !important;
}

.modal-title {
    color: #204DAF !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}

.modal .btn-primary {
    padding: 4px 16px !important;
    background-color: #3662C5 !important;
    border-radius: 30px !important;
    border-color: #3662C5 !important;
    letter-spacing: -0.02em;
    color: #fff !important;

}

.modal .btn-primary:hover {
    transform: 0.2s all ease;
    background-color: #204DAF !important;


}

.modal .btn-secondary {
    border-radius: 30px !important;
    border: 1px solid #717384 !important;
    color: #717384;
    background: white !important;
    padding: 4px 16px !important;
    letter-spacing: -0.02em;

}

.modal .btn-secondary:hover {
    color: #fff !important;
    background: #717384 !important;
    transform: 0.2s all ease !important;

}

.modal .easyassist-custom-nav-bar a label {
    font-family: 'Silka', Sans-Serif;
    background: #204DAF !important;
}

/* Live Chat */
#allincall-chat-box,
#easyassist-livechat-iframe {
    box-shadow: rgba(0, 0, 0, 0.256863) 0px 5px 40px !important;
}