.cobrowse-sandbox-expired-text {
    color: #FF0000 !important;
}

.cobrowse-sandbox-not-expired-text {
    color: #10B981 !important;
}

.cobrowse-sandbox-extend-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #0254D7;
    box-sizing: border-box;
    border-radius: 36px;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #0254D7;
    outline: none !important;
}

.datepicker {
    top: 0px;
    left: 0px;
    width: 200px;
}

.cobrowse-custom-modal-subheading {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;
    margin-bottom: 16px;
}

.cobrowse-custom-modal-subheading b {
    color: #FF0000;
}

.cobrowse-password-show-hide-wrapper {
    width: 100%;
    background-color: #fff;
    border: 1px solid #d1d3e2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.35rem;
    height: 38px;
}

.cobrowse-password-show-icon {
    display: none;
}

table tbody tr td {
    vertical-align: middle !important;
}

.cobrowse-password-show-hide-wrapper input {
    border: none !important;
    height: 34px !important;
    margin-left: 2px;
}

.cobrowse-password-show-hide-wrapper input:focus {
    box-shadow: none !important;
}

.cobrowse-password-show-hide-wrapper:focus-within {
    box-shadow: 0 0 2px #000 inset !important;
}

.cobrowse-show-password-icon-wrapper {
    width: 28px;
    height: 38px;
    display: none;
    align-items: center;
}

.cobrowse-show-password-icon-wrapper svg {
    cursor: pointer;
}

.cobrowse-password-show-hide-wrapper:hover .cobrowse-show-password-icon-wrapper {
    display: flex;
}

.cobrowse-custom-checkbox .cam {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cobrowse-custom-checkbox .cam input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.cobrowse-custom-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 1px solid #CBCACA;
    background-color: #ffffff;
    border-radius: 3px;
}

.cobrowse-custom-checkbox .cam input:checked~.checkmark {
    background-color: #0254D7;
    border: 1px solid #0254D7;
}

.cobrowse-custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.cobrowse-custom-checkbox .cam input:checked~.checkmark:after {
    display: block;
}

.cobrowse-custom-checkbox .cam .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cobrowse-custom-checkbox .cam span {
    font-family: Silka;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #888888;
}

.cobrowsing-options-wrapper {
    display: none;
}

.cobrowse-modal-custom-footer .cobrowse-modal-save-btn {
    height: 38px;
    padding: 0px 32px;
}

.cobrowse-modal-custom-footer .cobrowse-modal-cancel-btn {
    height: 38px;
    padding: 0px 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #4D4D4D;
}

.cobrowse-modal-custom-footer .cobrowse-modal-cancel-btn:hover {
    box-shadow: none !important;
}

.cobrowse-modal-custom-footer {
    border-radius: 0px 0px 20px 20px !important;
    background: #F6F6F6;
    border: none !important;
}

.cobrowse-custom-modal-wrapper .modal-title {
    font-weight: 500;
    font-size: 18px;
    color: #2D2D2D !important;
}

.cobrowse-custom-modal-wrapper .modal-header {
    padding: 1rem 2rem !important;
}

.cobrowse-custom-modal-wrapper .modal-body {
    padding: 1.5rem 2rem !important;
}

.cobrowse-custom-delete-modal-wrapper .cobrowse-delete-modal-svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cobrowse-custom-delete-modal-wrapper .cobrowse-delete-modal-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2D2D2D;
}

.cobrowse-custom-delete-modal-wrapper .modal-dialog {
    top: 50%;
    transform: translateY(-50%) !important;
}

@media (min-width: 576px) {
    .cobrowse-custom-delete-modal-wrapper .modal-dialog {
        max-width: 440px;
    }
    .cobrowse-custom-delete-modal-wrapper .cobrowse-delete-modal-text {
        padding: 0px 4rem;
    }
    .cobrowse-custom-delete-modal-wrapper .modal-footer .cobrowse-delete-modal-cancel-btn {
        width: 175px;
    }
    .cobrowse-custom-delete-modal-wrapper .modal-footer .cobrowse-delete-modal-delete-btn {
        width: 175px;
    }
}

.cobrowse-custom-delete-modal-wrapper .modal-footer {
    border: none !important;
    justify-content: space-around !important;
}

.cobrowse-custom-delete-modal-wrapper .modal-footer .cobrowse-delete-modal-cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    color: #4D4D4D;
}

.cobrowse-custom-delete-modal-wrapper .modal-footer .cobrowse-delete-modal-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background: #DD2526;
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
}

.cobrowse-sandbox-extend-btn-wrapper {
    position: relative;
}

.edit-delete-btn-class {
    visibility: hidden;
}

.sandbox-credentials-table-area table tbody tr:hover .edit-delete-btn-class {
    visibility: visible;
}

.sandbox-credentials-table-area table tbody tr:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

.sandbox-user-edit-btn svg{
    fill:#0254D7;
}

/* 
datepicker */

#ui-datepicker-div {
    width: auto;
    border-color: #fff;
    box-shadow: 4px 6px 40px rgb(32 32 35 / 16%);
    padding: 12px;
    background: #fff;
    display: none;
}

#ui-datepicker-div .ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #fff;
    background: #fff;
}

#ui-datepicker-div .ui-state-active {
    background: #769CFF;
    border: 1.5px solid #0062FF;
    color: white;
    border-radius: 100%;
    padding: 6px 8px;
}

#ui-datepicker-div .ui-datepicker-header {
    border: none;
    padding: 10px;
    position: relative;
    text-align: center;
    background: white;
    border-radius: 6px;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-next .ui-icon {
    background-image: url(/static/EasyAssistApp/img/right-arrow.svg);
    background-position: center;
    display: inline-block;
    text-indent: -99999px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

#ui-datepicker-div .ui-widget-header .ui-datepicker-prev .ui-icon {
    background-image: url(/static/EasyAssistApp/img/left-arrow.svg);
    background-position: center;
    display: inline-block;
    text-indent: -99999px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

#ui-datepicker-div .ui-datepicker-month {
    height: 40px;
    overflow: auto;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    appearance: none;
    background-image: url(/static/EasyAssistApp/img/drop-arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    font-weight: normal;
    color: #909090;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block !important;
    border: 1px solid #EBEBEB;
    width: 38%;
    outline: none;
}

#ui-datepicker-div .ui-datepicker-year {
    height: 40px;
    overflow: auto;
    padding-left: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    appearance: none;
    background-image: url(/static/EasyAssistApp//img/drop-arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 93%;
    background-position-y: 50%;
    font-weight: normal;
    color: #909090;
    cursor: pointer;
    display: inline-block !important;
    border: 1px solid #EBEBEB;
    width: 38%;
    outline: none;
}

#ui-datepicker-div .ui-datepicker-prev {
    position: absolute;
    left: 0;
    top: 20px;
}

#ui-datepicker-div .ui-datepicker-next {
    position: absolute;
    right: 0;
    top: 20px;
}

#ui-datepicker-div .ui-datepicker-title {
    width: 100%;
    text-align: center;
    display: inline-block;
}

#ui-datepicker-div td {
    border-bottom: none !important;
    text-align: center;
    padding: 6px !important;
    display: table-cell !important;
}

#ui-datepicker-div td a {
    text-decoration: none !important;
}

#ui-datepicker-div th {
    padding: 1rem 6px !important;
    text-align: center;
    display: table-cell !important;
    font-size: 14px !important;
}

#ui-datepicker-div tr {
    border: none !important;
}

#ui-datepicker-div thead tr {
    display: table-row !important;
}

.ui-corner-all {
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    #ui-datepicker-div tbody {
        margin-top: 20px;
    }
    #ui-datepicker-div tbody tr {
        padding: 8px 8px !important;
    }
    .cobrowse-custom-modal-wrapper .cobrowse-custom-modal-subheading+input,
    .cobrowse-custom-modal-wrapper .cobrowse-custom-modal-subheading+div {
        width: 100% !important;
    }
}
