.skeletel-loading {
    background: transparent !important;
    pointer-events: none;
}

.skeletel-loading #service-request-analytics {
    visibility: hidden;
}

.skeletel-loading #service-request-analytics-proxy {
    visibility: hidden;
}

.skeletel-loading .text-cobrowse {
    color: transparent !important;
}

.skeletel-loading .stats-cobrowse {
    color: transparent;
}

.skeletel-loading .icon-cobrowse {
    background: none !important;
}

.skeletel-loading .icon-cobrowse svg {
    visibility: hidden;
}

.skeletel-loading .icon-download {
    background: none !important;
}

.skeletel-loading .icon-download svg {
    background: none !important;
    visibility: hidden;
}

.skeletel-loading::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #eee 8%, #ddd 18%, #eee 33%);
    animation: wave-squares 5s infinite ease-out;
    border-radius: 8px;
}

.card-cobrowse {
    border-radius: 8px !important;
    background: linear-gradient(180deg, #0254D7 0%, #013E9F 100%);
    width: 93%;
    height: 78% !important;
    margin: auto;
}

.table-skeletel-loading {
    background: transparent !important;
    pointer-events: none;
    height: 250px;
}

.table-skeletel-loading tr,
.table-skeletel-loading th,
.table-skeletel-loading td {
    background: none !important;
    color: transparent !important;
    border: none !important;
}

.table-skeletel-loading .dataTables_info,
.table-skeletel-loading .dataTables_paginate,
.table-skeletel-loading .dataTables_filter,
.table-skeletel-loading .dataTables_length {
    display: none;
}

.table-skeletel-loading .table.dataTable {
    background: none !important;
}

.table-skeletel-loading::before {
    content: '';
    position: absolute;
    width: calc(100% - 60px);
    height: 70%;
    background: linear-gradient(90deg, #eee 8%, #ddd 18%, #eee 33%);
    animation: wave-squares 2s infinite ease-out;
    border-radius: 8px;
}

@keyframes wave-squares {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        background-position: -468px 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        background-position: 468px 0
    }
}

.card-body {
    padding-left: 30px !important;
}

.bar-skeletel-loader {
    height: 80px;
}


.bar-skeletel-loader h4,
.bar-skeletel-loader .progress {
    display: none;
}

.bar-skeletel-loader::before {
    content: '';
    position: absolute;
    width: calc(100% - 40px);
    height: 30%;
    background: linear-gradient(-75deg, #eee 8%, #ddd 42%, #eee 60%);
    animation: wave-squares 5s infinite ease-out;
    border-radius: 8px;
}