.nj-timepick__container{
    display: flex;
    gap: 16px;
}

.nj-timepick-heading{
    text-align: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2D2D2D;

}

.timepicker-panel {
    padding: 50px;
    border: 1px solid #ccc;
    margin: 50px auto;
    max-width: 350px;
}

.timepicker-panel .form-item:not(:last-child){
    margin: 0 0 30px;
}

.timepicker-panel .help-block{
    color: #4d4d4d;
    font-size: 12px;
    margin: 6px 0;
}

.timepicker-panel .control-label {
    margin-right: 10px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

.nj-timepick-input {
    outline: 0 !important;
}

.nj-timepick__panel {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 4px 6px 40px rgba(32, 32, 35, 0.16);
    border-radius: 5px;
}

.nj-timepick {
    z-index: 5000;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nj-timepick--active {
    display: flex;
    position: absolute;
}

.nj-timepick__boxes-column {
    overflow: hidden;
}

.nj-timepick__boxes {
    height: 220px;
    padding: 0 8px;
    overflow-y: scroll;
}

.nj-timepick__box {
    cursor: pointer;
    border: 2px solid transparent;
    margin: 2px;
    padding: 8px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #7A7585;
}

.nj-timepick__box--active {
    font-weight: 500;
    background: #0F248C;
    border: 2px solid #0F248C;
    color: #fff;
}
.nj-timepick-input--active {
    border: 1px solid #000;
}

.nj-timepick__boxes::-webkit-scrollbar{
    width: 6px;
    background: #fff;
    border: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
    border-radius: 0 25px 25px 0;
    border-left: 0;
}

.nj-timepick__boxes::-webkit-scrollbar-thumb{
    background: #C5D5FF;
    border-radius: 0 25px 25px 0;
}

.nj-timepick__boxes::-webkit-scrollbar-thumb {
    background: #CBD5E1;
    border-radius: 8px;
}

.nj-timepick__boxes::-webkit-scrollbar-track{
    background-color: #fff;
    border: 1px solid #f6f6f6;
}