{% extends 'LiveChatApp/base.html' %}
{% block content %}
{% load static %}


<link href="{% static 'LiveChatApp/css/sb-admin-2.min.css' %}" rel="stylesheet">
<link href="{% static 'LiveChatApp/css/style.css' %}?v={% random_int 1 100 %}" rel="stylesheet">
<link href="{% static 'LiveChatApp/css/form_builder.css' %}?v={% random_int 1 100 %}" rel="stylesheet">
<link href="{% static 'LiveChatApp/css/bootstrap-select.css' %}" rel="stylesheet">
<link href="{% static 'LiveChatApp/css/api_docs.css' %}" rel="stylesheet">

<style>
    .generated-document-btn-setting, 
    .download-generated-document-btn-setting {
        color: {{admin_config.get_livechat_theme_lighten_one}};
    }
</style>
<div class="container-fluid arange">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 livechat-chat-api-docs-container">
        <div class="col-md-12">
        <div class="card custom-card-settings">
            <div class="card-header py-3" style="display: flex; align-items: center;">
                <a style="margin-right: 10px;" href="/livechat/developer-settings/?bot_pk={{bot_pk}}&amp;id=7"><svg style="margin-top: -3px;" width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.73171 14.7948C8.03264 15.0795 8.50733 15.0662 8.79196 14.7653C9.07658 14.4644 9.06336 13.9897 8.76243 13.7051L3.52339 8.74995H16.2471C16.6613 8.74995 16.9971 8.41416 16.9971 7.99995C16.9971 7.58574 16.6613 7.24995 16.2471 7.24995H3.52112L8.76243 2.29269C9.06336 2.00807 9.07658 1.53338 8.79196 1.23245C8.50733 0.931511 8.03264 0.91829 7.73171 1.20291L1.31449 7.27236C1.14819 7.42964 1.04819 7.62975 1.01448 7.83854C1.00308 7.89053 0.99707 7.94454 0.99707 7.99995C0.99707 8.05754 1.00356 8.11362 1.01585 8.16749C1.05084 8.37328 1.15039 8.57019 1.31449 8.7254L7.73171 14.7948Z" fill="#4D4D4D"></path>
                    </svg>
                </a>

                <h6 class="m-0" style="font-style: normal; font-weight: 500; font-size: 1rem !important; color: #4D4D4D !important">Generated Documents</h6>
            </div>
            <div class="card-body">

                <h4 class="generate-document-heading">LiveChat APIs</h4>
                
                <div class="row crm-integration-document-items">
                    <div class="col-sm-7 mb-2">
                        <div class="grnerated-document-item">
                            Create Customer API Doc
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12  mb-1" style="text-align: right;">
                        <button class="download-generated-document-btn-setting" style="width: 100%;"  onclick="window.open('/livechat/download-livechat-document/create-customer')">Download</button>
                    </div>
                </div>

                <div class="row crm-integration-document-items">
                    <div class="col-sm-7 mb-2">
                        <div class="grnerated-document-item">
                            Save Chat API Doc
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12  mb-1" style="text-align: right;">
                        <button class="download-generated-document-btn-setting" style="width: 100%;"  onclick="window.open('/livechat/download-livechat-document/save-chat')">Download</button>
                    </div>
                </div>
                <div class="row crm-integration-document-items">
                    <div class="col-sm-7 mb-2">
                        <div class="grnerated-document-item">
                            End Chat API Doc
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12  mb-1" style="text-align: right;">
                        <button class="download-generated-document-btn-setting" style="width: 100%;" onclick="window.open('/livechat/download-livechat-document/end-chat')">Download</button>
                    </div>
                </div>
                <div class="row crm-integration-document-items">
                    <div class="col-sm-7 mb-2">
                        <div class="grnerated-document-item">
                            Save Feedback API Doc 
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12  mb-1" style="text-align: right;">
                        <button class="download-generated-document-btn-setting" style="width: 100%;" onclick="window.open('/livechat/download-livechat-document/save-feedback')">Download</button>
                    </div>
                </div>
                <div class="row crm-integration-document-items">
                    <div class="col-sm-7 mb-2">
                        <div class="grnerated-document-item">
                            Update Events API Doc
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12  mb-1" style="text-align: right;">
                        <button class="download-generated-document-btn-setting" style="width: 100%;" onclick="window.open('/livechat/download-livechat-document/update-event')">Download</button>
                    </div>
                </div>
                <div class="row crm-integration-document-items">
                    <div class="col-sm-7 mb-2">
                        <div class="grnerated-document-item">
                            LiveChat Analytics APIs Doc
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12  mb-1" style="text-align: right;">
                        <button class="download-generated-document-btn-setting" style="width: 100%;" onclick="window.open('https://documenter.getpostman.com/view/17492232/Uz5CMJD8')">Open</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">
    window.FORM = {{form|safe}}

    $("#livechat-chat-dispose-page-toggle-cb").on("change", function(event) {
            if (this.checked) {
                $(".livechat-create-preview-form-section-wrapper").fadeIn(500);
            } else {
                $('.livechat-create-preview-form-section-wrapper').fadeOut(500);
            }
    });

    $(document).ready(function() {
        $("#livechat-chat-dispose-page-toggle-cb").trigger('change');
    })
</script>

{% endblock %}
