{% extends 'LiveChatApp/base.html' %}
{% block content %}
{% load static %}
<style type="text/css">
    /******* livechat admin css start ***************/

    .live-chat-admin-self-buttons {
        width: 99%;
        margin: 3px 0px 12px 7px;
        padding: 16px 30px 0px 30px;
        background: #FFFFFF;
        height: 68px;
    }

    .live-chat-admin-self-buttons .live-chat-admin-self-heading {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .live-chat-admin-self-buttons .live-chat-admin-self-heading .create-new-user-button {
        font-style: normal;
        font-weight: 500;
        width: 116px;
        height: 35px;
        font-size: 12px;
        padding: 8px 0px 8px 0px;
        border: none;
        text-align: center;
        outline: none;
        background: linear-gradient( 90deg, #0254D7 0%, #0062FF 100%);
        box-sizing: border-box;
        border-radius: 5px;
        margin-right: 16px;
        color: #FFFFFF;
    }

    .live-chat-admin-self-buttons .live-chat-admin-self-heading .upload-excel-button {
        font-style: normal;
        font-weight: 500;
        border: 1px solid {{ admin_config.get_livechat_theme_lighten_one }} !important;
        text-align: center;
        outline: none;
        font-size: 12px;
        width: 106px;
        height: 35px;
        background: #FFFFFF;
        border-radius: 5px;
        font-weight: 500;
        font-size: 12px;
        color: {{ admin_config.get_livechat_theme_lighten_one }} !important;;
    }

    #livechat-admin-self-upload-excel-Modal .download-template-Btn {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: {{ admin_config.get_livechat_theme_lighten_one }};
        padding-top: 3px;
        border: none;
        outline: none;
        position: absolute;
        left: 15px;
        background: none;
    }

    .live-chat-admin-self-buttons .live-chat-admin-self-heading .search-container {
        float: right;
        height: 34px;
        padding: 0px 0px 0px 15px;
        width: 219px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
        border-radius: 5px;
    }

    .live-chat-admin-self-buttons .live-chat-admin-self-heading .search-container input[type=text] {
        padding: 7px 0px 0px 2px;
        margin-top: 0px;
        border: none;
        font-weight: 500;
        font-size: 14px;
        color: #757575;
    }

    .live-chat-admin-self-buttons .live-chat-admin-self-heading .search-container input[type=text]:focus {
        outline: none;
    }

    .live-chat-admin-self-buttons .live-chat-admin-self-heading .search-container button {
        float: right;
        padding: 0px 16px 0px 0px;
        margin-top: 3px;
        margin-right: 0px;
        background: #ffffff;
        border: none;
        cursor: pointer;
        outline: none;
    }

    .live-chat-admin-self-table-area {
        z-index: 0;
        width: 99%;
        background: #ffffff;
        margin: 1px 5px 5px 7px;
        overflow: hidden;
        /* height: 100%; */
        padding: 0px;
    }

    .live-chat-admin-self-table-area table {
        width: 100%;
        border-collapse: collapse;
        background-color: #ffffff;
    }

    .live-chat-admin-self-table-area table tr {
        border-bottom: 1px solid #E6E6E6;
    }

    .live-chat-admin-self-table-area table .show-on-hover {
        text-align: right;
        padding-right: 30px;
    }

    .live-chat-admin-self-table-area table .show-on-hover img {
        visibility: hidden;
        cursor: pointer;
    }

    .live-chat-admin-self-table-area table .show-on-hover svg {
        visibility: hidden;
        cursor: pointer;
    }

    .live-chat-admin-self-table-area table tr:hover .show-on-hover img {
        visibility: visible;
    }

    .live-chat-admin-self-table-area table tr:hover .show-on-hover svg {
        visibility: visible;
    }

    .live-chat-admin-self-table-area table tbody tr:hover {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        background: #FFFFFF;
    }

    .live-chat-admin-self-table-area table tr th {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #757575;
    }

    .live-chat-admin-self-table-area table tr td {
        font-weight: 500;
        font-size: 12px;
        color: #4D4D4D;
    }

    .live-chat-admin-self-table-area table td,
    .live-chat-admin-self-table-area table th {
        padding: 20px 2px 20px 20px;
        text-align: left;
        padding-left: 8.5rem;
    }

    .live-chat-admin-self-table-area .totalentry {
        font-size: 13px;
        margin-top: 56px;
        color: #4D4D4D;
        width: 50%;
        font-weight: 500;
        padding-left: 18px;
        display: inline-block;
    }

    .live-chat-admin-self-table-area .pagination-div {
        float: right;
        margin-top: 52px;
        margin-right: 10px;
    }

    .live-chat-admin-self-table-area .pagination-div .pagination-content {
        list-style-type: none;
        display: flex;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 6px;
    }

    .live-chat-admin-self-table-area .pagination-content li {
        border-right: 1px solid #E6E6E6;
        box-sizing: border-box;
        padding: 3px 10px 1px 10px;
        font-size: 13px;
        height: 26px;
        border-top: 1px solid #E6E6E6;
        border-bottom: 1px solid #E6E6E6;
    }

    .live-chat-admin-self-table-area .pagination-content li a {
        color: #717171;
        text-decoration: none;
    }

    .live-chat-admin-self-table-area .pagination-div .active-page {
        background: #EAF0FE;
        opacity: 0.5;
        border: 1px solid #0254D7;
        border-radius: 6px 0px 0px 6px;
    }

    @media screen and (max-width: 1024px) {
        .live-chat-admin-self-table-area table td,
        .live-chat-admin-self-table-area table th {
            padding: 20px 2px 20px 20px;
            text-align: left;
            padding-left: 20px !important;
        }
    }
    /*****        livechat admin Page CSS end  *****************/
    .dataTables_filter {
       float: left !important;
       margin-bottom: 0.7em;
    }
    .dataTables_filter input {
      background-color: #e6e6e6 !important;
      border-radius: 2em !important;
      border-bottom: none !important;
    }
    .modal-backdrop {
        display: none !important;
    }
    .backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .dataTables_filter {
        display: none;
    }
    #table-only-admin-details_info {
        font-size: 13px;
        margin-top: 60px;
        color: #4D4D4D;
        width: 50%;
        padding-left: 10px;
        display: inline-block;
        margin-bottom: 20px;

        {% if user_obj_list.has_other_pages %}
        position: absolute;
        {% endif %}
    }
    .active-page a {
        color: {{ admin_config.get_livechat_theme_lighten_one }} !important;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
    .live-chat-report-d-interaction-table-area{
        margin-left: 7px;
    }

</style>
<div class="container-fluid pl-1 pr-2 arange">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 py-2" id="live-chat-admin-self" style="height: calc(100vh - 3.375rem); background: #FAFAFA;">
            <div class="live-chat-admin-self-buttons ">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 live-chat-admin-self-heading">
                        <button class="create-new-user-button" data-toggle="modal" data-target="#livechat-admin-self-create-new-Modal">Create New Admin
                        </button>
                        <button class="upload-excel-button" data-toggle="modal" data-target="#livechat-admin-self-upload-excel-Modal">Upload Excel
                        </button>
                        <div class="search-container">
                                <button type="submit">
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <rect width="13" height="13" fill="#E5E5E5"/>
                                          <g clip-path="url(#clip0)">
                                          <rect width="1440" height="660" transform="translate(-1209 -141)" fill="white"/>
                                          <rect x="-962" y="-85" width="1193" height="604" fill="#FAFAFA"/>
                                          <rect x="-952" y="-74" width="1174" height="114" fill="white"/>
                                          <g filter="url(#filter0_d)">
                                          <rect x="-14" y="-10" width="219" height="33" rx="5" fill="white"/>
                                          </g>
                                          <path d="M5.55942 11.1182C6.79289 11.118 7.99083 10.7051 8.96247 9.94526L12.0174 13L13 12.0174L9.9451 8.96269C10.7054 7.991 11.1185 6.79285 11.1188 5.55912C11.1188 2.49396 8.62474 0 5.55942 0C2.49409 0 0 2.49396 0 5.55912C0 8.62428 2.49409 11.1182 5.55942 11.1182ZM5.55942 1.38978C7.85893 1.38978 9.72898 3.25973 9.72898 5.55912C9.72898 7.85851 7.85893 9.72846 5.55942 9.72846C3.2599 9.72846 1.38985 7.85851 1.38985 5.55912C1.38985 3.25973 3.2599 1.38978 5.55942 1.38978Z" fill="#757575"/>
                                          </g>
                                          <defs>
                                          <filter id="filter0_d" x="-22" y="-18" width="235" height="49" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                                          <feOffset/>
                                          <feGaussianBlur stdDeviation="4"/>
                                          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"/>
                                          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                                          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                                          </filter>
                                          <clipPath id="clip0">
                                          <rect width="1440" height="660" fill="white" transform="translate(-1209 -141)"/>
                                          </clipPath>
                                          </defs>
                                    </svg>                                      
                                </button>
                                <input type="text" placeholder="Search" name="search" id="table-only-admin-details-search">
                        </div>
                    </div>
                </div>
            </div>
            {% if user_obj_list %}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 live-chat-admin-self-table-area">
                    <table role="table" id="table-only-admin-details" class="display">
                        <thead role="rowgroup">
                            <tr role="row">
                                <th role="columnheader">Username</th>
                                <th role="columnheader">Name</th>
                                <th role="columnheader">Mobile Number</th>
                                <th role="columnheader"> </th>
                            </tr>
                        </thead>
                        <tbody role="rowgroup">
                            {% for temp_user_obj in user_obj_list %}
                                <tr role="row">
                                    <td role="cell">{{temp_user_obj.user.username}}</td>
                                    <td role="cell">{{ temp_user_obj.user.first_name }} {{ temp_user_obj.user.last_name }}</td>
                                    <td role="cell">{{ temp_user_obj.phone_number }}</td>
                                    <td class="show-on-hover" role="cell">
                                        <svg width="33" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg" style="padding-left: 15px;" data-toggle="modal" data-target="#livechat-admin-self-edit-user-Modal-{{temp_user_obj.pk}}">
                                            <path d="M17.0604 0.939564C18.3132 2.19232 18.3132 4.22343 17.0604 5.47618L6.33146 16.2052C6.08325 16.4534 5.77457 16.6325 5.43593 16.7249L0.849981 17.9756C0.348084 18.1124 -0.112448 17.6519 0.0244331 17.15L1.27515 12.5641C1.3675 12.2254 1.54664 11.9167 1.79484 11.6685L12.5238 0.939564C13.7766 -0.313188 15.8077 -0.313188 17.0604 0.939564ZM11.6547 3.7104L2.74567 12.6194C2.66293 12.7021 2.60322 12.805 2.57244 12.9179L1.6313 16.3687L5.08212 15.4276C5.195 15.3968 5.2979 15.3371 5.38063 15.2543L14.2894 6.34506L11.6547 3.7104ZM13.4746 1.89039L12.6049 2.75927L15.2396 5.39482L16.1096 4.52535C16.8372 3.79773 16.8372 2.61802 16.1096 1.89039C15.382 1.16277 14.2023 1.16277 13.4746 1.89039Z" fill="#0254D7"/>
                                        </svg>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="container-fluid">
                        {% if user_obj_list.has_other_pages %}
                        <div class="pagination-div">
                                <ul class="pagination-content">
                                    {% for i in user_obj_list.paginator.page_range %}
                                        {% if user_obj_list.number == i %}
                                            {% if i == 1 %}
                                                <li class="active-page"><a style="color: #0254D7;" href="?page={{ i }}">{{ i }}</a></li>
                                            {% elif i == user_obj_list.paginator.num_pages %}
                                                <li class="active-page" style="border-radius: 0 6px 6px 0;"><a style="color: #0254D7;" href="?page={{ i }}">{{ i }}</a></li>
                                            {% else %}
                                                <li class="active-page" style="border-radius: 0px;"><a style="color: #0254D7;" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                        {% elif i > user_obj_list.number|add:'-5' and i < user_obj_list.number|add:'5' %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 live-chat-report-d-interaction-table-area" style="text-align: center; padding: 40px 40px;">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" fill="#E5E5E5"/>
                        <g clip-path="url(#clip0)">
                        <rect width="1440" height="760" transform="translate(-749 -242)" fill="white"/>
                        <rect x="-672" y="-186" width="1363" height="704" fill="#FAFAFA"/>
                        <rect x="-482" y="-47" width="1163" height="142" rx="8" fill="white"/>
                        <g opacity="0.15" clip-path="url(#clip1)">
                        <path d="M19.8234 39.9998C19.605 39.9998 19.3917 39.9132 19.2334 39.7565C19.0367 39.5598 18.95 39.2765 19.005 39.0048L20.1834 33.1132C20.2167 32.9498 20.2934 32.8015 20.4117 32.6865L33.375 19.7232C34.3484 18.7498 35.9367 18.7498 36.91 19.7232L39.2667 22.0798C40.2417 23.0548 40.2417 24.6398 39.2667 25.6148L26.3034 38.5782C26.1884 38.6948 26.04 38.7732 25.8767 38.8065L19.985 39.9848C19.9317 39.9948 19.8767 39.9998 19.8234 39.9998ZM21.77 33.6848L20.8867 38.1032L25.305 37.2198L38.09 24.4348C38.415 24.1098 38.415 23.5815 38.09 23.2565L35.7334 20.8998C35.4084 20.5748 34.88 20.5748 34.555 20.8998L21.77 33.6848ZM25.715 37.9882H25.7317H25.715Z" fill="#757575"/>
                        <path d="M15.8333 35H4.16667C1.86833 35 0 33.1317 0 30.8333V9.16667C0 6.86833 1.86833 5 4.16667 5H7.5C7.96 5 8.33333 5.37333 8.33333 5.83333C8.33333 6.29333 7.96 6.66667 7.5 6.66667H4.16667C2.78833 6.66667 1.66667 7.78833 1.66667 9.16667V30.8333C1.66667 32.2117 2.78833 33.3333 4.16667 33.3333H15.8333C16.2933 33.3333 16.6667 33.7067 16.6667 34.1667C16.6667 34.6267 16.2933 35 15.8333 35Z" fill="#757575"/>
                        <path d="M27.5 20C27.04 20 26.6667 19.6267 26.6667 19.1667V9.16667C26.6667 7.78833 25.545 6.66667 24.1667 6.66667H20.8333C20.3733 6.66667 20 6.29333 20 5.83333C20 5.37333 20.3733 5 20.8333 5H24.1667C26.465 5 28.3333 6.86833 28.3333 9.16667V19.1667C28.3333 19.6267 27.96 20 27.5 20Z" fill="#757575"/>
                        <path d="M19.1667 10H9.16675C7.78841 10 6.66675 8.87833 6.66675 7.5V4.16667C6.66675 3.70667 7.04008 3.33333 7.50008 3.33333H10.0834C10.4701 1.43333 12.1551 0 14.1667 0C16.1784 0 17.8634 1.43333 18.2501 3.33333H20.8334C21.2934 3.33333 21.6667 3.70667 21.6667 4.16667V7.5C21.6667 8.87833 20.5451 10 19.1667 10ZM8.33341 5V7.5C8.33341 7.95833 8.70842 8.33333 9.16675 8.33333H19.1667C19.6251 8.33333 20.0001 7.95833 20.0001 7.5V5H17.5001C17.0401 5 16.6667 4.62667 16.6667 4.16667C16.6667 2.78833 15.5451 1.66667 14.1667 1.66667C12.7884 1.66667 11.6667 2.78833 11.6667 4.16667C11.6667 4.62667 11.2934 5 10.8334 5H8.33341Z" fill="#757575"/>
                        <path d="M22.5 14.9997H5.83333C5.37333 14.9997 5 14.6263 5 14.1663C5 13.7063 5.37333 13.333 5.83333 13.333H22.5C22.96 13.333 23.3333 13.7063 23.3333 14.1663C23.3333 14.6263 22.96 14.9997 22.5 14.9997Z" fill="#757575"/>
                        <path d="M22.5 19.9997H5.83333C5.37333 19.9997 5 19.6263 5 19.1663C5 18.7063 5.37333 18.333 5.83333 18.333H22.5C22.96 18.333 23.3333 18.7063 23.3333 19.1663C23.3333 19.6263 22.96 19.9997 22.5 19.9997Z" fill="#757575"/>
                        <path d="M22.5 24.9997H5.83333C5.37333 24.9997 5 24.6263 5 24.1663C5 23.7063 5.37333 23.333 5.83333 23.333H22.5C22.96 23.333 23.3333 23.7063 23.3333 24.1663C23.3333 24.6263 22.96 24.9997 22.5 24.9997Z" fill="#757575"/>
                        </g>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="1440" height="760" fill="white" transform="translate(-749 -242)"/>
                        </clipPath>
                        <clipPath id="clip1">
                        <rect width="40" height="40" fill="white"/>
                        </clipPath>
                        </defs>
                    </svg>
                    <span style="color: rgba(134, 134, 134, 0.5); font-size:20px;">No data available</span>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="modal fade backdrop" id="livechat-admin-self-create-new-Modal" tabindex="-1" role="dialog" aria-labelledby="livechat-admin-self_Createnew_modal_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Create New User</h6>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 mb-2">
                            <label>Full Name</label>
                            <input class="form-control" type="text" placeholder="Type here" id="edit-only-admin-full-name">
                        </div>
                        <div class="col-6 mb-2">
                            <label>Phone Number</label>
                            <input class="form-control" type="text" placeholder="Type here" id="edit-only-admin-phone">
                        </div>
                        <div class="col-12 mb-2">
                            <label>Email</label>
                            <input class="form-control" type="text" placeholder="Type here" id="edit-only-admin-email">
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border-top: 1px solid #e3e6f0;">
                    <div style="float: right;">
                        <button class="btn-close" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn-primary" type="button" onclick="create_only_admin()">Create User</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade backdrop" id="livechat-admin-self-upload-excel-Modal" tabindex="-1" role="dialog" aria-labelledby="livechat-admin-self_Uploadexcel_modal_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6>Add Admins Via Excel</h6>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 mb-4 upload-excel-div">
                            <input type="file" id="real-file" hidden="hidden" />
                            <button type="button" id="custom-button">Choose File</button>
                            <span id="custom-text">No file chosen</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="download-template-Btn" type="button" data-dismiss="modal" id="download-create-livechat-only-admin-template">Download Template</button>
                    <div style="float: right;">
                        <button class="btn-close" type="button" data-dismiss="modal">Cancel</button>
                        <button class="btn-primary" type="button" id="submit-livechat-only-admin-excel">Upload</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for temp_user_obj in user_obj_list %}
        <div class="modal fade backdrop" id="livechat-admin-self-edit-user-Modal-{{temp_user_obj.pk}}" tabindex="-1" role="dialog" aria-labelledby="livechat-admin-self_edit_user_modal_label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>Edit User</h6>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6 mb-2">
                                <label>Full Name</label>
                                <input class="form-control" type="text" id="edit-only-admin-full-name-{{temp_user_obj.pk}}" value="{{ temp_user_obj.user.first_name }} {{ temp_user_obj.user.last_name }}" placeholder="Type here">
                            </div>
                            <div class="col-6 mb-2">
                                <label>Phone Number</label>
                                <input class="form-control" type="text" id="edit-only-admin-phone-{{temp_user_obj.pk}}" value="{{temp_user_obj.phone_number}}" placeholder="Type here">
                            </div>
                            <div class="col-12 mb-2">
                                <label>Email</label>
                                <input class="form-control" type="text" id="edit-only-admin-email-{{temp_user_obj.pk}}" value="{{temp_user_obj.user.username}}" placeholder="Type here">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="border-top: 1px solid #e3e6f0;">
                        <div style="float: right;">
                            <button class="btn-close" type="button" data-dismiss="modal">Cancel</button>
                            <button class="btn-primary" type="button" onclick="edit_livechat_only_admin_info('{{temp_user_obj.pk}}')">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for temp_user_obj in user_obj_list %}
        <div class="modal fade backdrop" id="livechat-admin-self-delete-user-Modal-{{temp_user_obj.pk}}" tabindex="-1" role="dialog" aria-labelledby="livechat-admin-self_Delete_user_modal_label" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>Delete User</h6>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <p style="font-weight: 500; font-size: 13px; color: #4D4D4D;"> Are you sure you want to delete this user?</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div style="float: right;">
                            <button class="btn-primary" type="button" onclick="delete_livechat_only_admin('{{temp_user_obj.pk}}')">Yes</button>
                            <button class="btn-close" type="button" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
    window.LIVECHAT_THEME_COLOR = '{{admin_config.get_livechat_theme_lighten_one}}'
    window.LIVECHAT_USER_STATUS = '{{user_obj.status}}'
    $(document).ready(function() {
        
        $('#table-only-admin-details').DataTable({
            "language": {
              "info": "Showing _START_ to _END_ entries out of {{ total_user_objs }}",
              "infoEmpty": "No records available",
              "infoFiltered": "(filtered from _MAX_ total records)",
            },
            "bPaginate": false,
            "ordering": false,
            "infoCallback": function( settings, start, end, max, total, pre ) {
                if (settings.oPreviousSearch["sSearch"] != ""){
                    return pre;
                }
                end = ({{ start_point }} - 1) + end;
                start = ({{ start_point }} - 1) + start;
                return "Showing " + start + " to " + end + " entries out of {{ total_user_objs }}";
              }
        });
        var table = $('#table-only-admin-details').DataTable();

        $('#table-only-admin-details-search').keyup(function() {
          let value = this.value;
          table.search(value).draw();
        });
    });

    const realFileBtn = document.getElementById("real-file");
    const customBtn = document.getElementById("custom-button");
    const customTxt = document.getElementById("custom-text");

    customBtn.addEventListener("click", function() {
        realFileBtn.click();
    });

    realFileBtn.addEventListener("change", function() {
        if (realFileBtn.value) {
            customTxt.innerHTML = realFileBtn.value.match(
                /[\/\\]([\w\d\s\.\-\(\)]+)$/
            )[1];
        } else {
            customTxt.innerHTML = "No file chosen";
        }
    });
</script>
{% endblock %}
