{% extends 'LiveChatApp/manager_console.html' %}
{% block consolecontent %}
{% load static %}

<link href="{% static 'LiveChatApp/css/chat_escalation.css' %}?v={% random_int 1 100 %}" rel="stylesheet">                        

<style type="text/css">
    .custom-checkbox-input input:checked~.checkmark {
        background-color: {{ admin_config.get_livechat_theme_lighten_one }} !important;
    }

    .custom-checkbox-input  .checkmark{
        border: 1px solid {{ admin_config.get_livechat_theme_lighten_one }} !important;
    }

    .blacklist_chathistory_btn {
        border: 1px solid {{ admin_config.get_livechat_theme_lighten_one }} !important;
        color: {{ admin_config.get_livechat_theme_lighten_one }} !important;
    }

    .live-chat-client-image, 
    .live-chat-agent-image,
    .live-chat-unread-message-count,
    .live-chat-agent-message-bubble {
        background-color: {{ admin_config.get_livechat_theme_lighten_one }};
    }

    .custom-control-input:checked~.custom-control-label::before {
        border-color: {{ admin_config.get_livechat_theme_lighten_one }};
        background-color: {{ admin_config.get_livechat_theme_lighten_one }};
    }

</style>

<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 py-2 overflow-hidden-desktop" id="live-chat-admin-setting-content-list-reported-users" style="height: calc(100vh - 4.375rem); background: #FAFAFA; overflow-y: auto; overflow-x: hidden; max-width: 83%;">
    <div class="live-chat-setting-canned-response-heading">
        <div class="row">
            <button class="chat-escalation-back-btn">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.00148 16.7949C9.30242 17.0795 9.77711 17.0663 10.0617 16.7654C10.3464 16.4644 10.3331 15.9897 10.0322 15.7051L4.79317 10.75H17.5168C17.9311 10.75 18.2668 10.4142 18.2668 10C18.2668 9.5858 17.9311 9.25001 17.5168 9.25001H4.79089L10.0322 4.29275C10.3331 4.00813 10.3464 3.53344 10.0617 3.23251C9.77711 2.93157 9.30242 2.91835 9.00148 3.20298L2.58426 9.27242C2.41796 9.4297 2.31796 9.62981 2.28426 9.8386C2.27286 9.89059 2.26685 9.9446 2.26685 10C2.26685 10.0576 2.27334 10.1137 2.28563 10.1676C2.32062 10.3733 2.42016 10.5703 2.58426 10.7255L9.00148 16.7949Z" fill="#212121"/>
                </svg>
                
          </button>
            <span>Reported Users / Escalated Chats</span>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 live-chat-canned-response-popup livechat-blacklist-word-btn-container">
                <div class="livechat-blacklist-report-btns-wrapper">
                    <button id="reported-user-ignore-btn" type="button" class="blacklist-ignore-user-btn disable-btn block-user-ignore-btn">          
                        Ignore
                    </button>
                    <div class="btn-group">
                        <button id="reported-user-confirm-block-btn" type="button" class="blacklist-report-user-btn  dropdown-toggle disable-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">     
                           Block
                        </button>
                        <div class="dropdown-menu dropdown-escalated-chat">
                            <a class="dropdown-item global-user-block-btn" href="javascript:void(0)" data-id="1">30 mins</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item global-user-block-btn" href="javascript:void(0)" data-id="2">60 mins</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item global-user-block-btn" href="javascript:void(0)" data-id="3">1 Day</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item global-user-block-btn" href="javascript:void(0)" data-id="4">7 Day</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item global-user-block-btn" href="javascript:void(0)" data-id="5">14 Day</a>
                        </div>
                    </div>
                </div>

                <div class="search-container">
                    <button type="submit">
                    	<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                			<rect width="13" height="13" fill="#E5E5E5"/>
                			<g clip-path="url(#clip0)">
                			<rect width="1440" height="660" transform="translate(-1209 -141)" fill="white"/>
                			<rect x="-962" y="-85" width="1193" height="604" fill="#FAFAFA"/>
                			<rect x="-952" y="-74" width="1174" height="114" fill="white"/>
                			<g filter="url(#filter0_d)">
                			<rect x="-14" y="-10" width="219" height="33" rx="5" fill="white"/>
                			</g>
                			<path d="M5.55942 11.1182C6.79289 11.118 7.99083 10.7051 8.96247 9.94526L12.0174 13L13 12.0174L9.9451 8.96269C10.7054 7.991 11.1185 6.79285 11.1188 5.55912C11.1188 2.49396 8.62474 0 5.55942 0C2.49409 0 0 2.49396 0 5.55912C0 8.62428 2.49409 11.1182 5.55942 11.1182ZM5.55942 1.38978C7.85893 1.38978 9.72898 3.25973 9.72898 5.55912C9.72898 7.85851 7.85893 9.72846 5.55942 9.72846C3.2599 9.72846 1.38985 7.85851 1.38985 5.55912C1.38985 3.25973 3.2599 1.38978 5.55942 1.38978Z" fill="#757575"/>
                			</g>
                			<defs>
                			<filter id="filter0_d" x="-22" y="-18" width="235" height="49" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                			<feFlood flood-opacity="0" result="BackgroundImageFix"/>
                			<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                			<feOffset/>
                			<feGaussianBlur stdDeviation="4"/>
                			<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"/>
                			<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                			<feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                			</filter>
                			<clipPath id="clip0">
                			<rect width="1440" height="660" fill="white" transform="translate(-1209 -141)"/>
                			</clipPath>
                			</defs>
                		</svg>
                    </button>
                    <input type="text" placeholder="Search" name="search" id="blacklisted-keyword-table-search">
                </div>
            </div>
        </div>
    </div>

    <div class="data-loader-div" id="livechat_reported_users_loader">
        <div class="loader-custom">
            <span></span>
            <div id="loader-inside-div">
                <div>
                </div>
                <div>
                </div>
                <div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>

    <div id="livechat_reported_users_table_div" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 live-chat-canned-response-area live-chat-table-parent-div">

    </div>

    <div id="livechat_reported_users_no_data" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 live-chat-report-d-interaction-table-area" style="text-align: center; padding: 40px; display: none;">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" fill="#E5E5E5"></rect>
            <g clip-path="url(#clip0)">
            <rect width="1440" height="760" transform="translate(-749 -242)" fill="white"></rect>
            <rect x="-672" y="-186" width="1363" height="704" fill="#FAFAFA"></rect>
            <rect x="-482" y="-47" width="1163" height="142" rx="8" fill="white"></rect>
            <g opacity="0.15" clip-path="url(#clip1)">
            <path d="M19.8234 39.9998C19.605 39.9998 19.3917 39.9132 19.2334 39.7565C19.0367 39.5598 18.95 39.2765 19.005 39.0048L20.1834 33.1132C20.2167 32.9498 20.2934 32.8015 20.4117 32.6865L33.375 19.7232C34.3484 18.7498 35.9367 18.7498 36.91 19.7232L39.2667 22.0798C40.2417 23.0548 40.2417 24.6398 39.2667 25.6148L26.3034 38.5782C26.1884 38.6948 26.04 38.7732 25.8767 38.8065L19.985 39.9848C19.9317 39.9948 19.8767 39.9998 19.8234 39.9998ZM21.77 33.6848L20.8867 38.1032L25.305 37.2198L38.09 24.4348C38.415 24.1098 38.415 23.5815 38.09 23.2565L35.7334 20.8998C35.4084 20.5748 34.88 20.5748 34.555 20.8998L21.77 33.6848ZM25.715 37.9882H25.7317H25.715Z" fill="#757575"></path>
            <path d="M15.8333 35H4.16667C1.86833 35 0 33.1317 0 30.8333V9.16667C0 6.86833 1.86833 5 4.16667 5H7.5C7.96 5 8.33333 5.37333 8.33333 5.83333C8.33333 6.29333 7.96 6.66667 7.5 6.66667H4.16667C2.78833 6.66667 1.66667 7.78833 1.66667 9.16667V30.8333C1.66667 32.2117 2.78833 33.3333 4.16667 33.3333H15.8333C16.2933 33.3333 16.6667 33.7067 16.6667 34.1667C16.6667 34.6267 16.2933 35 15.8333 35Z" fill="#757575"></path>
            <path d="M27.5 20C27.04 20 26.6667 19.6267 26.6667 19.1667V9.16667C26.6667 7.78833 25.545 6.66667 24.1667 6.66667H20.8333C20.3733 6.66667 20 6.29333 20 5.83333C20 5.37333 20.3733 5 20.8333 5H24.1667C26.465 5 28.3333 6.86833 28.3333 9.16667V19.1667C28.3333 19.6267 27.96 20 27.5 20Z" fill="#757575"></path>
            <path d="M19.1667 10H9.16675C7.78841 10 6.66675 8.87833 6.66675 7.5V4.16667C6.66675 3.70667 7.04008 3.33333 7.50008 3.33333H10.0834C10.4701 1.43333 12.1551 0 14.1667 0C16.1784 0 17.8634 1.43333 18.2501 3.33333H20.8334C21.2934 3.33333 21.6667 3.70667 21.6667 4.16667V7.5C21.6667 8.87833 20.5451 10 19.1667 10ZM8.33341 5V7.5C8.33341 7.95833 8.70842 8.33333 9.16675 8.33333H19.1667C19.6251 8.33333 20.0001 7.95833 20.0001 7.5V5H17.5001C17.0401 5 16.6667 4.62667 16.6667 4.16667C16.6667 2.78833 15.5451 1.66667 14.1667 1.66667C12.7884 1.66667 11.6667 2.78833 11.6667 4.16667C11.6667 4.62667 11.2934 5 10.8334 5H8.33341Z" fill="#757575"></path>
            <path d="M22.5 14.9997H5.83333C5.37333 14.9997 5 14.6263 5 14.1663C5 13.7063 5.37333 13.333 5.83333 13.333H22.5C22.96 13.333 23.3333 13.7063 23.3333 14.1663C23.3333 14.6263 22.96 14.9997 22.5 14.9997Z" fill="#757575"></path>
            <path d="M22.5 19.9997H5.83333C5.37333 19.9997 5 19.6263 5 19.1663C5 18.7063 5.37333 18.333 5.83333 18.333H22.5C22.96 18.333 23.3333 18.7063 23.3333 19.1663C23.3333 19.6263 22.96 19.9997 22.5 19.9997Z" fill="#757575"></path>
            <path d="M22.5 24.9997H5.83333C5.37333 24.9997 5 24.6263 5 24.1663C5 23.7063 5.37333 23.333 5.83333 23.333H22.5C22.96 23.333 23.3333 23.7063 23.3333 24.1663C23.3333 24.6263 22.96 24.9997 22.5 24.9997Z" fill="#757575"></path>
            </g>
            </g>
            <defs>
            <clipPath id="clip0">
            <rect width="1440" height="760" fill="white" transform="translate(-749 -242)"></rect>
            </clipPath>
            <clipPath id="clip1">
            <rect width="40" height="40" fill="white"></rect>
            </clipPath>
            </defs>
        </svg>
        <span style="color: rgba(134, 134, 134, 0.5); font-size:20px;">No Chats Available</span>
    </div>

</div>

<!-- Transcript Modal -->
<div class="modal fade backdrop livechat-chat-history-modal livechat-ongoing-chats-chat-history-modal show" id="chat-transcript-agent-modal" tabindex="-1" role="dialog" aria-labelledby="Admin_chat_history_modal_label" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="overflow: hidden;" id="livechat-chat-history-modal-content">
            <div class="modal-header">
                <div class="modal-header-name-close-btn">
                    <h6>Chat History</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;">
                      <span aria-hidden="true">
                          <span aria-hidden="true">×</span>                                              
                                </span>
                        </button>
                </div>
                <div class="livechat-modal-chats-customer-name-div" id="livechat-modal-chats-customer-name-div"></div>
            </div>

            <div class="modal-body" style="padding-bottom: 0.1em;">
                <div id="livechat-chat-messages" class="row" style="margin-left: -18px; margin-right: -18px; border-bottom: 1px solid #e6e6e6; padding-bottom: 5px">

                </div>
            </div>

            <div class="modal-footer" style="padding-top: 0.2em; position: relative;">
                <div style="float: right;">

                    <button id="chat_history_download_btn" class="btn-primary" onclick="download_chat_transcript(this)" style="opacity: 1; pointer-events: auto; display: inline-block;">Download </button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade backdrop livechat-blacklist-custom-modal-wrapper" id="livechat-user-block-modal" tabindex="-1" role="dialog" aria-labelledby="agent_canned_response_modal_label" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="row">
                    <div class="livechat-blacklist-custom-modal-heading-div mb-2">
                        Block this User?
                    </div>
                    <div class="livechat-blacklist-custom-modal-subheading-div mb-4 px-5">
                        Are you sure you want to block this user ?
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button class="btn-close livechat-blacklist-custom-modal-close-btn" type="button" data-dismiss="modal" id="chat-escalation-block-exit">Cancel</button>
                <button class="btn-primary livechat-blacklist-custom-modal-report-btn" type="button" id="chat-escalation-block-btn">Block</button>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.REFRESH_INTERVAL = '{{admin_config.chat_history_refresh_interval}}'
</script>

{% endblock %}